.btn-dropdown {
  padding-left: 12px;
  padding-right: 24px;
  border-radius: 5px;
  border: 1.5px solid gray("300");
  color: gray("700");
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    color: gray("900");
    border-color: gray("400");
  }
  &[aria-expanded="true"] {
    border-color: gray("400");
    &:after {
      transform: rotate(180deg);
    }
  }
}

.movie-badge {
  display: inline-block;
  padding: 4px 6px 3px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  background-color: #dabe43;
  min-width: 30px;
  text-align: center;
  &.orange {
    background-color: #f6a922;
  }
  &.blue {
    background-color: #579814;
  }
}

.header-cinema {
  @include media-breakpoint-down(sm) {
  }

  .navbar-container {
    position: relative !important;
  }
}

.navbar__cinema {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  margin: 0;
  width: 100%;
  // max-width: 1024px;
  height: 50px;
  max-height: 50px;
  background: rgba(0, 0, 0, 0.92);
  user-select: none;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(180%) blur(20px);

  position: sticky;
  // top: 60px;

  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  .nav-link {
    height: 50px;
    font-size: 15px;
    // font-weight: bold;
    line-height: 50px;
    padding: 0 25px;
    text-transform: uppercase;
    color: white;
    &.active {
      color: $yellow;
    }
  }
}

.cine__nav {
}

.cine__hero {
  min-height: 520px;
  position: relative;
  z-index: 1;
  background: #000;
  color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: flex-end;
  // justify-content: center;

  @include media-breakpoint-down(sm) {
    min-height: 500px;
  }
}

.cine__cover {
  position: absolute;
  max-width: 1400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
  &:after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        #000,
        rgba(0, 0, 0, 0.001) 0%,
        rgba(0, 0, 0, 0.001) 74%,
        #000
      ),
      linear-gradient(
        90deg,
        #000,
        rgba(0, 0, 0, 0.001) 22%,
        transparent 81.41%,
        #000
      );
  }

  @include media-breakpoint-down(sm) {
    &:after {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.72),
        transparent 5.375rem,
        transparent 10rem,
        #000
      );
    }
  }
}

.cine__cover__play {
  position: absolute;
  display: block;
  left: 50%;
  top: 40%;
  transform: translate3d(-50%, -50%, 0);
  width: 70px;
  z-index: 5;
  img {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }

  @include hover-focus() {
    img {
      transform: scale(1.1);
    }
  }

  @include media-breakpoint-down(sm) {
    width: 50px;
  }
}

.cine__spec {
  width: 100%;
  flex: 1 1 0%;
  font-size: 14px;
  padding: 20px 10px;
  @include media-breakpoint-down(sm) {
    padding: 15px 3px 5px;
  }
}

.cine__name {
  // font-family: "Inter", sans-serif;
  // text-transform: uppercase;
  margin-bottom: 5px;
  @include rfs(44px);
}

.cine__spec__sm {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  li {
    white-space: nowrap;
  }
  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
}

.cine__name__tag {
  // display: inline-block;
  // padding: 0px 5px;
  // line-height: 1.4;
  // text-transform: uppercase;
  // font-weight: bold;
  margin-bottom: 5px;
  // border-radius: 3px;
  // color: rgba(255, 255, 255, 0.5);
  // border: 1px solid rgba(255, 255, 255, 0.5);
}

.cine__spec__type {
  li:not(:first-child) {
    padding-left: 11px;
    position: relative;
    &:after {
      content: "";
      width: 3px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 10px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 8px;
      &:after {
        top: 8px;
      }
    }
  }
}

.cine__score__list {
  padding: 7px 0 10px;
  display: flex;
  .cine__score:not(:last-child) {
    margin-right: 30px;
  }

  @include media-breakpoint-down(sm) {
    .cine__score:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.cine__score {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &.imdb {
    .cine__score__logo {
      svg {
        width: 45px;
      }
    }
  }
}

.cine__score__value {
  padding: 3px 10px 0;
  font-size: 20px;
  font-weight: 600;
  span {
    font-size: 13px;
  }
}

.cine__rating__container {
  width: 330px;
  margin-top: -11.375rem;
  // position: sticky;
  // top: 80px
}

.cine__rating {
  max-width: 500px;
  width: 100%;

  // background: #fff;
  // position: relative;
  // border-radius: 0.1875rem;
  // box-shadow: 0 -0.25rem 2em rgba(0, 0, 0, 0.15);

  background: #fff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border: 1px solid gray("300");
  border-radius: 10px;
  overflow: hidden;
  // max-width: 100%;
}

.cine__rating__body {
  padding: 20px 20px;
}

.cine__info__container {
  display: grid;
  row-gap: 20px;
  column-gap: 30px;
  grid-template: auto auto / 200px 1fr;
}

.cine__poster {
  // width: 200px;
  grid-area: 1 / 1 / 3 / 2;

  img {
    border-radius: 0.5rem;
    border: 1px solid gray("300");
  }
}

.cine__info__list {
  li {
    span {
      width: 130px;
      display: inline-block;
      color: gray("600");
    }
    margin-bottom: 8px;
  }
}

.cine__info__article {
  font-size: 16px;
  line-height: 24px;
}

@include media-breakpoint-down(sm) {
  .cine__info__container {
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template: auto auto / 115px 1fr;
  }

  .cine__poster {
    grid-area: 1 / 1 / 2 / 2;
  }
  .cine__info__list {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.cine__poster__up {
  position: absolute;
  padding: 0px 5px;
  top: 8px;
  left: 8px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.cine__km {
  padding: 30px 0;
}

.cine__cluster {
  padding: 20px 0;
  hr {
    padding-bottom: 30px;
  }
}

.cine__overview {
  font-size: 16px;
  line-height: 24px;
}
.cine__heading {
  // font-family: "Cabin Condensed", sans-serif;
  // text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.cine__cast {
  @include media-breakpoint-down(sm) {
    .swiper-cine-cast {
      .swiper-slide {
        width: 130px;
      }
    }
  }
}

.cine__cast__item {
}

.cine__cast__avatar {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid gray("200");
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.cine__cast__name {
  font-weight: bold;
  font-size: 14px;
}

.cine__cast__alias {
  font-size: 13px;
  color: gray("500");
}

.swiper-cine-gallery {
  .swiper-slide {
    width: auto;
  }
}

.swiper-auto-mobile {
  @include media-breakpoint-down(sm) {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;

    .swiper-container {
      padding: 0 $grid-gutter-width / 2;
    }
  }
}

.cine__gallery {
}

.cine__gallery__item {
  max-height: 300px;
  img {
    height: 300px;
  }
  .embed-responsive {
    height: 300px;
    width: 500px;
  }

  @include media-breakpoint-down(sm) {
    max-height: 250px;
    img {
      height: 250px;
    }
  }
}
.cine__video {
  display: block;
  position: relative;
}
.cine__video__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 80px;
}

.cine__popular__list {
  .mgz__popular {
    @include media-breakpoint-up(lg) {
      &.mgz {
        .mgz__header {
          width: 120px;
          flex: 0 0 120px;
        }
      }
    }
  }
}
.cinema-loadmore {
  max-height: 200px;
  transition: height 200ms;
  overflow: hidden;

  &[aria-expanded="false"] {
    & + [data-readmore-toggle] {
      &::after {
        content: "";
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.001), white);
        pointer-events: none;
      }
    }
  }

  + a[data-readmore-toggle] {
    position: relative;
    font-weight: bold;
    display: block;
    padding-top: 50px;
    margin-top: -40px;
    img {
      width: 20px;
      opacity: 0.5;
    }
  }
}

.cine__ui {
}

.cine__postter__sm {
  width: 150px;
  position: relative;
  .cine__poster {
    width: 150px;
    position: relative;
  }
  &:hover {
    .cine__poster__name {
      color: $primary-2;
    }
  }
}

.swiper-poster-gallery {
  .swiper-slide {
    width: 150px;
  }
}

.cine__poster__name {
  font-size: 14px;
  padding: 6px 5px 10px;
}

.cine__poster__space {
  position: relative;
}

.cine__poster__rate {
  position: absolute;
  padding: 3px 7px;
  bottom: 5px;
  left: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  .svg-icon {
    color: $green;
    font-size: 16px;
  }
}

.cine__comment {
  padding: 20px 0;
}

.cine__comment__user {
  display: flex;
  align-items: center;

  flex-flow: row nowrap;
}

.cine__comment__avatar {
}

.cine__comment__content {
  font-size: 16px;
  line-height: 22px;
  padding-top: 15px;
}

.cine__comment__info {
  flex: 1;
  padding-left: 15px;
  .name {
    font-weight: bold;
    font-size: 15px;
  }
  .date {
    color: gray("700");
    font-size: 13px;
  }
  .sale {
    color: $primary-3;
    font-size: 14px;
  }
}

.cine__poster__type {
  font-size: 13px;
  color: gray("600");
}

.cine__postter__hori__list {
  .cine__postter__hori:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray("100");
  }
}

.cine__postter__hori {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  &:hover {
    .cine__poster__name {
      text-decoration: underline;
    }
  }
  .cine__poster {
    width: 80px;
    flex: 0 0 80px;
    position: relative;
    img {
      border-radius: 5px;
    }
  }

  .cine__poster__space {
    padding-left: 12px;
    flex: 1;
    text-align: left;
  }

  .cine__poster__name {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
  }
}

.cine__poster__link {
  font-size: 13px;
  font-weight: bold;
  color: $blue;
}

.cine__poster__score {
  font-size: 14px;
  font-weight: bold;
  color: gray("700");
  .svg-icon {
    color: $green;
  }
}

.cine__review {
}

.cine__reivew__total {
  text-align: center;
  margin-top: -70px;
  position: relative;
  z-index: 4;
  .ik {
    img {
      width: 80px;
    }
  }
  .tt {
    font-size: 20px;
    font-weight: bold;
  }
  .util {
    font-size: 12px;
    color: gray("700");
  }
}

.cine__review__bag {
  display: flex;
  flex-flow: row nowrap;
}

.bag__item {
  flex: 0 0 25%;
  text-align: center;
  .ff {
    font-size: 12px;
    line-height: 16px;
    max-width: 70px;
    margin: 7px auto;
  }
}

.bag__item__avatar {
  position: relative;
  img {
    width: 60px;
  }
  span {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0);
    font-size: 10px;
    background-color: white;
    display: block;
    padding: 1px 3px;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px gray("300");
  }
}

.cine__review__bar {
  position: relative;
  canvas {
    margin: 0 auto;
    display: block;
    z-index: 2;
    position: relative;
  }
}

.cine__review__sha {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 180px;
}

//CSS scrollsnap

.cine__booking__container {
  border: 1px solid gray("300");
  border-radius: 3px;
  overflow: hidden;
}

@include media-breakpoint-down(sm) {
  .cine__booking__container {
    border: none;
    border-radius: 0;
    overflow: hidden;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
  }
}

.booking__swiper__navi {
  width: 35px;
  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 5;

  svg {
    width: 30px;
    height: auto;
    color: gray("600");
  }

  &.swiper-button-disabled {
    user-select: none;
    pointer-events: none;
    cursor: inherit;
    svg {
      color: gray("300");
    }
  }

  &:hover {
    svg {
      color: gray("900");
    }
  }
  outline: none;

  &:after {
    content: "";
    width: 10px;
    pointer-events: none;
    height: 100%;
    position: absolute;
    // background: rgb(255, 255, 255);
  }

  &.right {
    justify-content: flex-start;
    &:after {
      top: 0;
      right: 100%;

      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }
  &.left {
    justify-content: flex-end;
    &:after {
      content: "";
      top: 0;
      left: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
  @include media-breakpoint-down(sm) {
    width: 5px;
    pointer-events: none;
    svg {
      opacity: 0;
    }
  }
}

.cine__booking__swiper {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 14px 0;
  .swiper-slide {
    width: 65px;
  }
}

.cine__booking__date {
  padding-left: 10px;
  padding-right: 10px;
  flex: 1 1 0%;
  // display: flex;
  // align-items: center;
  // flex-flow: row nowrap;
  // margin: 0;
  // border-bottom: 1px solid gray("200");
  // padding: 12px 0;
  .swiper-wrapper {
    // padding-left: 30px;
    // padding-right: 30px;
  }
}

.booking__date__item {
  display: block;
  cursor: pointer;
  text-align: center;
  width: 100%;
  // flex: 0 0 72px;
  border: 1px solid gray("200");
  user-select: none;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  span {
    display: block;
  }
  .num {
    color: $gray-800;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.1;
    padding: 10px 0;
    background-color: $gray-100;
    transition: all 0.2s ease-in;
  }
  .text {
    padding: 3px 0;
    font-size: 13px;
    white-space: nowrap;
    color: $gray-600;
    background-color: white;
  }

  &:not(.is-active) {
    @include hover-focus() {
      // background-color: gray("100");
      border: 1px solid gray("300");
      .num {
        background-color: gray("300");
      }
    }
  }

  &.is-active {
    border: 1px solid darken($primary-3, 10%);
    cursor: auto;
    // color: white;
    color: white;
    pointer-events: none;
    .text {
      color: $primary-3;
    }
    .num {
      // color: white;
      background-color: $primary-3;
      color: white;
    }
  }
}

.cine__booking__time {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1px 15px 10px;
  // background-color: rgba(gray("100"), 0.5);
  // border-top: 1px solid gray("200");
  // border-bottom: 1px solid gray("200");
  margin: 0;
  position: relative;
  z-index: 1;

  @extend .hide-scroll;
  border-bottom: 1px solid gray("200");

  // border-bottom: solid 1px rgba(0,0,0,.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.booking__time__item {
  flex: 0 0 auto;
  display: block;
  cursor: pointer;
  // scroll-margin-left: 15px;
  scroll-padding-left: 15px;
  text-align: center;
  user-select: none;
  overflow: hidden;

  .text {
    display: block;
    font-size: 13px;
    padding: 4px 13px 3px;
    white-space: nowrap;
    border-radius: 20px;
    background-color: gray("100");
    // font-weight: bold;
    border: 1px solid gray("200");
    margin-right: 5px;
    color: gray("700");
  }

  &:not(.is-active) {
    @include hover-focus() {
      .text {
        background-color: gray("200");
        border-color: gray("300");
      }
    }
  }

  &.is-active {
    cursor: auto;
    pointer-events: none;
    .text {
      border-color: darken($primary-3, 10%);
      color: white;
      // background-color: $primary-2;
      background-color: $primary-3;

      font-weight: bold;
    }
  }
}

.theater__list {
  // min-height: 600px;
  padding: 4px 20px;
  // background-color: #fafafa;
  .theater__item:not(:last-child) {
    border-bottom: 1px solid gray("200");
  }
  @include media-breakpoint-down(sm) {
    padding: 4px 15px;
  }
}

.theater__item {
  padding: 15px 0;

  [aria-expanded="true"] {
    .theater__item__arrow {
      transform: rotate(90deg);
    }
  }
  .collapse {
    padding-bottom: 10px;
  }

  .theater__movie__box {
    width: 100%;
    margin-top: 6px;
  }
  @include media-breakpoint-down(sm) {
    .theater__movie__box {
      margin-top: 0;
    }
  }
}


.theater__movie__grid {
  display: grid;
  row-gap: 0;
  column-gap: 24px;
  grid-template: auto 1fr / 140px minmax(0, 1fr);
}

.theater__movie__box {
  grid-area: 1 / 1 / 3 / 2;
}

.theater__movie__content {
}

.theater__movie__time {
}

@include media-breakpoint-down(sm) {
  .theater__movie__grid {
    display: grid;
    column-gap: 20px;
    grid-template: auto auto / 70px 1fr;
  }

  .theater__movie__box {
    grid-area: 1 / 1 / 2 / 2;
  }
  .theater__movie__time{
    grid-area: 2 / 1 / 3 / 3;
  }
}

.theater__movie__item {
  padding: 17px 0;
  .theater__time {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.theater__movie__content {
}

.theater__item__col {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
  @include hover-focus() {
    .theater__item__name {
      color: $primary-3;
    }
  }
}

.theater__item__name {
  font-size: 15px;
  font-weight: bold;
}

.theater__item__address {
  color: gray("600");
  font-size: 14px;
  font-weight: 500;
}
.theater__item__avatar {
  width: 58px;
  height: 58px;

  border: 1px solid gray("300");
  // padding: 2px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.theater__item__content {
  padding-left: 15px;
  flex: 1;
}

.theater__item__cta {
  align-self: center;
  svg {
    width: 20px;
  }
}

.theater__item__arrow {
  color: gray("400");
}

.cine__booking__theater {
  margin: 0;
  padding: 14px 10px 0;
  display: flex;
  flex-flow: row nowrap;
  -webkit-overflow-scrolling: touch;

  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
  border-top: 1px solid gray("200");
  // // background-color: gray("100");
  // // background-color: rgba(gray("100"), 0.9);
  // box-shadow: 0 1px 5px 0 rgba(32, 33, 36, 0.10);
  @extend .hide-scroll;
  border-bottom: 1px solid gray("200");

  // border-bottom: solid 1px rgba(0,0,0,.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);

  // &:after {
  //   content: "";
  //   background: gray("200");
  //   height: 1px;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0px;
  // }
}

.booking__theater__item {
  margin: 0 5px;
  flex: 0 0 60px;
  cursor: pointer;
  width: 60px;
  text-align: center;
  display: block;
  user-select: none;
  padding-bottom: 10px;
  position: relative;
  // opacity: 0.7;
  transition: all 0.2s;
  .img {
    border: 1px solid gray("200");
    padding: 2px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width: 50px;
    margin: 0 auto;
    display: block;
  }
  .text {
    margin-top: 4px;
    font-size: 13px;
    color: gray("800");
  }
  .sale {
    position: absolute;
    background-color: red;
    color: white;
    width: 60px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(40deg);
    top: 4px;
    right: -15px;
  }
  &:not(.is-active) {
    @include hover-focus() {
      .text {
        color: $primary-3;
        font-weight: bold;
      }
    }
  }
  &.is-active {
    opacity: 1;
    .img {
      border: 1.5px solid $primary-3;
    }
    .text {
      color: $primary-3;
      font-weight: bold;
    }
    // &:after {
    //   content: "";
    //   width: 0;
    //   height: 0;
    //   border-style: solid;
    //   border-width: 0 10px 8px 10px;
    //   border-color: transparent transparent gray("300") transparent;
    //   position: absolute;
    //   bottom: 0;
    //   left: 50%;
    //   margin-left: -10px;
    // }
    // &:before {
    //   content: "";
    //   width: 0;
    //   height: 0;
    //   border-style: solid;
    //   border-width: 0 10px 8px 10px;
    //   border-color: transparent transparent white transparent;
    //   position: absolute;
    //   bottom: -1px;
    //   z-index: 1;
    //   left: 50%;
    //   margin-left: -10px;
    // }
  }
}

.theater__item__sale {
  color: $primary-2;
  margin-top: 3px;
  font-weight: bold;
  font-size: 14px;
}

.theater__item__time {
  overflow: hidden;
  padding-top: 5px;
}

.theater__time {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, minmax(0, 1fr));

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.theater__time__item {
  white-space: nowrap;
  font-size: 14px;
  padding: 5px 12px;
  transition: all 0.2s;
  display: block;
  text-align: center;
  background-color: rgba($gray-100, 0.7);
  // background-color: white;
  border-radius: 8px;
  color: gray("800");
  border: 1px solid rgba($gray-900, 0.1);
  .star {
    font-size: 16px;
    font-weight: bold;
  }
  .seperator {
    color: gray("500");
    font-size: 13px;
  }
  .end {
    color: gray("500");
    font-size: 13px;
    font-weight: bold;
  }

  @include hover-focus() {
    background-color: white;
    border: 1px solid rgba($gray-900, 0.1);
    color: $primary-3;
  }

  @include media-breakpoint-down(sm) {
    white-space: wrap;
    .star,
    .end {
      display: block;
      line-height: 1.2;
    }
    .seperator {
      display: none;
    }
    .end {
      font-size: 12px;
    }
  }
  &.is-active {
    border-color: rgba($primary-3, 0.2);
    background-color: rgba($primary-3, 0.06);
    color: $primary-3;
    .end {
      color: $gray-700;
    }
  }
}

// .cine__booking__theater {
//   padding: 0;
//   overflow: hidden;

// }

// .booking__theater__item {
//   flex: 1 1 0;
//   margin-bottom: 1px;
//   display: block;
//   cursor: pointer;
//   overflow: hidden;
//   position: relative;

//   display: flex;
//   flex-flow: row nowrap;
//   align-items: center;
//   padding: 15px 10px;
//   background-color: gray("200");
//   .img {
//     overflow: hidden;
//     position: relative;
//     width: 36px;
//     flex: 0 0 36px;
//   }

//   .sale {
//     position: absolute;
//     background-color: red;
//     color: white;
//     width: 60px;
//     text-align: center;
//     font-size: 12px;
//     font-weight: bold;
//     transform: rotate(40deg);
//     top: 4px;
//     right: -15px;
//   }

//   .content{
//     flex: 1 0 auto;
//     padding-left: 10px;
//   }

//   .text {
//     font-size: 16px;
//     color: gray("900");
//     font-weight: bold;
//   }
//   &.is-active {
//     background-color: rgba(gray("100"), 0.6);
//     &:after{
//       content : "";
//       width: 3px;
//       height: 100%;
//       position: absolute;
//       background-color: $primary-3;
//       top:0;
//       left: 0;
//     }

//   }
// }

//CINEMAs
//entity

.embed-responsive-movie::before {
  padding-top: percentage(72/48);
}

.embed-responsive-trailer::before {
  padding-top: percentage(40/71);
}

.movie__list__swiper {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -70px;
  }

  @include media-breakpoint-down(sm) {
    .swiper-nav-bigger {
      display: none;
    }
  }
}

.swiper-movie-list {
  .swiper-slide {
    width: 220px;
  }
}

$cineDark: #0a193c;

.bg-cine-dark {
  background-color: $cineDark;
  background-image: none;
  color: white;
}

.mm {
  section {
    background: linear-gradient(
      to right,
      rgba(#0a193c, 0.75) 0%,
      rgba(#0a193c, 0.75) 100%
    );
  }
}

.movie__list__trailer {
  .swiper-movie-list {
    .swiper-slide {
      width: 300px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -50px;

    background: $cineDark;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .movie__box__info {
    .name {
      a {
        display: block;
        color: rgba(255, 255, 255, 0.9);
        font-weight: bold;
        @include hover-focus() {
          color: $primary-3;
        }
      }
    }
    .type {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.movie__box__trailer {
  padding: 7px 5px;
  .movie__box__poster {
    cursor: pointer;

    overflow: visible;
    background-color: transparent;
    .embed-responsive {
      border-radius: 8px;
      transform: scale(1);
      transition: transform 0.3s ease;
    }
  }

  @include hover-focus() {
    .movie__box__poster {
      .embed-responsive {
        transform: scale(1.04);
      }
    }

    .movie__box__play {
      opacity: 1;
      transform: scale(1.2);
      z-index: 2;
    }
  }
}
.movie__box__play {
  position: absolute;
  transition: all 0.2s ease-in;
  transform: scale(1);
  left: 15px;
  bottom: 15px;
  z-index: 2;
  opacity: 0.7;
}

.movie__list {
}
.movie__box {
  // max-width: 300px;
  width: 100%;
  position: relative;

  @include hover-focus() {
    .movie__box__img {
      transform: scale(1.03);
    }
  }
  cursor: pointer;
  @include hover-focus() {
    .movie__box__info {
      .name {
        color: $primary-3;
      }
    }
  }
}

.movie__box__poster {
  border-radius: 3px;
  overflow: hidden;

  background-color: gray("200");
  .movie__box__img {
    transition: transform 0.3s ease;
    transform: scale(1);
  }
  position: relative;
}

.movie__box__info {
  padding: 10px 0;

  .review {
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: $gray-800;
  }
  .review-icon {
    width: 18px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: -20%;
  }

  .cta {
    margin-top: 10px;
  }
  .name {
    margin-top: 5px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2;
    a {
      display: block;
      color: $gray-800;
      font-weight: bold;
      @include hover-focus() {
        color: $primary-3;
      }
    }
  }
  .type {
    font-size: 14px;
    margin-top: 1px;
    color: gray("600");
  }
}

.movie__box__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  // background-color: rgba(0,0,0,0.3);
  .review {
  }

  .top {
    position: absolute;
    width: 100%;
    padding: 8px 10px;
  }
}

.theater__find__container {
  border: 1px solid gray("200");
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
}

.theater__find__heading {
  padding: 20px 20px 0;
}

.theater__find__brand.cine__booking__theater {
  @include media-breakpoint-up(sm) {
    // background-color: rgba(gray("100"), 0.5);
    box-shadow: none;

    &:after {
      display: none;
    }
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    // grid-gap: auto;
    overflow: hidden;
    border: none;
    padding: 4px 10px;

    .booking__theater__item {
      width: 65px;
      .img {
        max-width: 55px;
      }
      .text {
        font-size: 14px;
      }
      &.is-active {
        &:after,
        &:before {
          display: none;
        }
      }
    }
    .booking__theater__item {
      margin: 0 auto;
      padding-bottom: 15px;
    }
  }
}

.theater__list.theater__find__list {
  @include media-breakpoint-up(sm) {
    padding: 8px 20px;
  }
}

.theater__find__brand__bg {
  .cine__booking__theater {
    border-top: none;
  }
  @include media-breakpoint-up(md) {
    width: 360px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
    border-right: 1px solid gray("200");
  }
}

// .swiper-auto-mobile {
//   @include media-breakpoint-down(sm) {
//     margin-left: -$grid-gutter-width / 2;
//     margin-right: -$grid-gutter-width / 2;

//     .swiper-container {
//       padding: 0 $grid-gutter-width / 2;
//     }
//   }
// }

// swiper-auto-mobile
