.cinema-block {
  background-color: black;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.movie-item {
  position: relative;
  max-width: 230px;
  .embed-responsive {
    transition: transform 0.15s ease-in;
  }
  &:hover {
    .movie-item-poster .embed-responsive {
      transform: scale(1.05);
    }
  }
}

.movie-item-poster {
  background-color: gray("100");
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.movie-item-label {
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: 10px;
  background-color: transparent;
}

.movie-item-number {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 5px;
  opacity: 0.9;
  color: white;
  z-index: 5;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.movie-item-type {
  line-height: 1.25;
  font-size: 13px;
}

.embed-responsive-movie {
  &:before {
    //   padding-top: percentage(1/2);
    padding-top: percentage(3/2);
  }
}

.movie-item-rate {
  opacity: 0.95;
  font-weight: bold;
  padding: 0px 5px;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
}

.cinema-rate-green {
  background-color: #579b41;
}

.cinema-rate-yellow {
  background-color: #ddbc3f;
}

.cinema-rate-orange {
  background-color: #e88021;
}

.cinema-rate-red {
  background-color: #9b2020;
}

.movie__list__swiper {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -70px;
  }

  @include media-breakpoint-down(sm) {
    .swiper-nav-bigger {
      display: none;
    }
    .swiper-slide {
      max-width: 145px;
    }
  }
}

//Block OTA
.otas-container {
  position: relative;
  z-index: 10;
}
.otas-bg {
  // height: 280px;
  // background-size: 100% auto;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  background-color: #fff9fb;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;

  &:after {
    // content: "";
    // background-color: rgba(0, 0, 0, 0.3);
    // position: absolute;
    // inset: 0;
  }
  @include media-breakpoint-down(sm) {
    background-size: 300% auto;
  }
}

.otas {
  // min-height: 500px;
  padding-top: 20px;

  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $primary-2;
    background-color: $primary-2;
  }
  .custom-control-label::before {
    width: 1.05rem;
    height: 1.05rem;
  }
  .custom-control {
    padding-left: 1.55rem;
  }
  @include media-breakpoint-down(sm) {
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
  }
}

.otas-tabs {
  position: relative;
  display: inline-flex;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  flex-flow: row nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;
  white-space: nowrap;
  .nav-item {
    // @include rfs(18px);
    margin-bottom: 0;

    .nav-link {
      display: flex;
      align-items: center;
      padding: 10px 20px 8px 14px;
      border: none;
      position: relative;
      color: gray("800");

      .ico {
        width: 26px;
        filter: grayscale(100%);
      }

      font-weight: bold;
      &.active {
        color: $pinkmomo;

        .ico {
          filter: none;
        }
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 20px;
          background-color: $pinkmomo;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.otas-tab-content {
  position: relative;
  background-color: white;
  // min-height: 250px;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 0px 1px 3px 0px rgba(60, 64, 67, 0.1),
    0px 4px 8px 3px rgba(60, 64, 67, 0.06);

  @include media-breakpoint-down(sm) {
    box-shadow: none;
    border-top-right-radius: 0;
  }
}

// .otas-btn1 {
//   -webkit-appearance: button;
//   font-family: inherit; /* 1 */
//   font-size: 100%; /* 1 */
//   line-height: 1.15; /* 1 */
//   margin: 0; /* 2 */

//   padding: 0;
//   line-height: inherit;
//   color: inherit;

//   background-color: transparent;
//   background-image: none;
//   background: none;
//   border: none;
//   outline: none;
// }

.otas-form {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
  // margin-left: -5px;
  // margin-right: -5px;
  z-index: 5;
  position: relative;
  border: 1px solid gray("300");
  border-radius: 5px;
  background-color: white;
  @include media-breakpoint-down(md) {
    border: none;
  }
}

.otas-form-item {
  // border: 1px solid gray("300");
  // border-radius: 5px;
  padding: 10px 17px 8px;
  position: relative;
  min-width: 0;
}

.otas-form-line {
  align-self: center;
  border-right: 1px solid #dddddd;
  flex: 0 0 0px;
  height: 32px;
}

.otas-form-control {
}

.otas-form-swap {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
  button {
    -webkit-appearance: button;
    margin: 0; /* 2 */

    padding: 0;
    line-height: inherit;
    color: inherit;

    background-color: transparent;
    background-image: none;
    background: none;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 18px;
    background-color: white;
    color: $primary-2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba($primary-2, 0.15);
    // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

    @include hover-focus() {
      // background-color: rgba($primary-2, 0.05);
    }
  }
  @include media-breakpoint-down(sm) {
    button {
      width: 34px;
      height: 34px;
      font-size: 22px;
    }

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate3d(0, -17px, 0);
  }
}

.otas-form-overlay {
  cursor: pointer;
  width: 100%;
  &:hover {
    // outline: 1px solid rgba($primary-2,0.15);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.otas-form-label {
  font-size: 12px;
  color: gray("600");
  margin-bottom: 2px;
  font-weight: bold;
  .svg-icon {
    font-size: 15px;
    margin-right: 3px;
  }
}

.otas-form-input {
  -webkit-appearance: button;
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */

  padding: 0;
  line-height: inherit;
  color: inherit;

  background-color: transparent;
  background-image: none;
  background: none;
  border: none;
  outline: none;

  font-size: 16px;
  font-weight: bold;
  max-width: 100%;
}

.otas-warning-pop {
  position: absolute;
  left: -1px;
  bottom: 100%;
  padding: 6px 8px;
  max-width: 100%;
  border: 1px solid #d9481b;
  opacity: 1;
  background-color: #d9481b;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  white-space: normal;
  z-index: 2;
  &:before {
    position: absolute;
    left: 20px;
    top: 100%;
    border: 9px solid transparent;
    border-top-color: #d9481b;
    content: "";
  }
}

.otas-form-popper {
  width: 320px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(40, 154, 241, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);

  z-index: 7;
  outline: none;
  transform: translate3d(0, 0, 0) !important;
  border-radius: 5px;
  backface-visibility: hidden;
  padding: 0;
  padding: 0;
  margin: 0;

  border: 1px solid gray("300") !important;

  top: -1px !important;
  left: -1px !important;
  .otas-form-item {
    border: none;
    border-bottom: 1px solid gray("300");
    border-radius: 0;
  }
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    width: 100%;
  }
}

.otas-padding {
  padding: 20px;
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
}

.otas-form-col {
  min-width: 0px !important;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  &.col1 {
    width: calc(10 / 24 * 100%);
    flex-wrap: nowrap;
  }

  &.col2 {
    width: calc(14 / 24 * 100%);
  }
  &.col3 {
    width: calc(11 / 14 * 100%);
    flex-wrap: nowrap;
  }
  &.col4 {
    width: calc(3 / 14 * 100%);
  }
  &.col5 {
    width: calc(8 / 14 * 100%);
    flex-wrap: nowrap;
  }
  &.col6 {
    width: calc(6 / 14 * 100%);
  }

  @include media-breakpoint-down(md) {
    &.col1 {
      position: relative;
      width: 100%;
      flex-wrap: nowrap;
      border: 1px solid gray("300");
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 6px 12px rgba(32, 65, 90, 0.1),
        0px 1px 4px rgba(32, 65, 90, 0.1);
      margin-bottom: 10px;
    }

    &.col2 {
      position: relative;
      width: 100%;
      display: block;
      flex-wrap: nowrap;
    }

    &.col3 {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid gray("300");
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 6px 12px rgba(32, 65, 90, 0.1),
        0px 1px 4px rgba(32, 65, 90, 0.1);
    }
    &.col4 {
      width: 100%;
    }

    &.col5 {
      width: 100%;
    }
    &.col6 {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    &.col1 {
      position: relative;
      width: 100%;
      display: block;
      flex-wrap: nowrap;
      border: 1px solid gray("300");
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 6px 12px rgba(32, 65, 90, 0.1),
        0px 1px 4px rgba(32, 65, 90, 0.1);

      .otas-form-overlay:first-child {
        border-bottom: 1px solid gray("300");
      }
      margin-bottom: 10px;
    }

    &.col2 {
      position: relative;
      width: 100%;
      display: block;
      flex-wrap: nowrap;
    }

    &.col3 {
      width: 100%;
      display: block;

      margin-bottom: 0;
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
    &.col4 {
      width: 100%;
    }

    &.col5 {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid gray("300");
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 6px 12px rgba(32, 65, 90, 0.1),
        0px 1px 4px rgba(32, 65, 90, 0.1);
    }
    &.col6 {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid gray("300");
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 6px 12px rgba(32, 65, 90, 0.1),
        0px 1px 4px rgba(32, 65, 90, 0.1);
    }
  }
}

.min-w-0 {
  min-width: 0;
}

.otas-form-control {
  // max-width: 100px;
}

.otas-form-cta {
  height: 45px;
  border-radius: 5px;
  padding: 0 15px 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .svg-icon {
    margin-right: 3px;
    font-size: 1.6rem;
  }
}

.otas-note {
  margin-top: 30px;
  @include media-breakpoint-down(sm) {
    margin-top: 15px;
  }
}

.otas-note-item {
  display: flex;
  flex-flow: row nowrap;
  .content {
    margin-left: 13px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }
}

.otas-people {
  padding: 15px;
  .sub {
  }
}

.otas-people-item {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
  .tt {
    flex: 1 1 0px;
    span {
      font-size: 0.9em;
      color: $gray-600;
    }
  }
  .func {
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .func-name {
    width: 30px;
    text-align: center;
    font-weight: bold;
  }
  .func-btn {
    -webkit-appearance: button;
    padding: 0;
    background-color: transparent;
    background: none;
    border: none;
    outline: none;
    font-size: 26px;
    line-height: 0;
    color: $primary-3;
    &:disabled {
      opacity: 0.3;
    }
    @include hover-focus() {
      color: $primary-2;
    }
  }
}

.otas-cheap {
}

.otas-cheap-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.otas-cheap-item {
  flex: 0 0 calc(25% - 16px);
  margin: 8px;
  position: relative;
  background-color: white;
  border: 1px solid gray("300");
  border-radius: 10px;
  overflow: hidden;

  // padding: 10px 13px;
  transition: all 0.2s ease-in;

  .thumb {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 55%;
      background-color: rgba(16, 16, 16, 0);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0,
        rgba(#268f7b, 1)
      );
      z-index: 1;
    }
  }

  .thumb-text {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 13px;
  }

  .space {
    padding: 10px 13px;
  }
  .lab {
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(90, 90, 90, 0.7);
  }
  .head {
    font-size: 17px;
    font-weight: bold;
    color: white;
    font-family: Inter, sans-serif;
    text-shadow: 1px 1px 1px rgba(90, 90, 90, 0.9);
  }
  .date {
    font-size: 13px;
    color: gray("600");
    margin-top: 4px;
  }
  .price {
    font-size: 16px;
    // color: $primary-2;
    font-weight: bold;
    margin-top: 1px;
  }
  .cta {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  .btn {
    font-weight: bold;
    font-size: 13px;
    padding: 3px 10px;
    height: auto;

  
  }
  @include hover-focus() {
    // box-shadow: 0 4px 12px rgba(0,0,0,0.1),0 6px 6px rgba(0,0,0,0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 calc(50% - 16px);
  }

  @include media-breakpoint-down(sm) {
    flex: 0 0 calc(100% - 16px);
    margin: 5px 8px;
    .cta {
      margin-top: -15px;
    }
  }
}

.otas-desti {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.otas-desti-item {
  flex: 0 0 calc(25% - 16px);
  margin: 8px;
  // background-color: rgba(0,0,0,0.03);

  // height: 80px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in;

  @include hover-focus() {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }

  // .img {
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
  .content {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.3) 30%,
      rgba(0, 0, 0, 0.01) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    padding: 10px 13px;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45%;
    display: flex;
    align-items: flex-end;
    height: 100px;
  }

  .city {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: Inter, sans-serif;
    text-shadow: 1px 1px 1px rgba(90, 90, 90, 0.7);
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 calc(50% - 16px);
  }

  @include media-breakpoint-down(sm) {
    flex: 0 0 calc(100% - 16px);
    margin: 5px 8px;
  }
}
