.header-no-sticky {
  .navbar-container {
    position: relative !important;
  }
}

.dona__wrapper {
}

.icon-heart {
  // margin-top: -1rem;
  vertical-align: -5%;
  display: inline-block;
  @include media-breakpoint-down(sm) {
    height: 25px;
  }
}

.case-anim {
  // background-color: gray("100");
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    display: block;
    padding-bottom: 75%;
  }
}

.case-anim-item {
  position: absolute;

  top: 0;

  transform-origin: 50%;

  // animate__rollIn
  img {
    border-radius: 5px;
    padding: 9px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
    display: block;
  }

  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.21, 0.45, 0.47, 0.99);

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 1.5}s;
    }
  }

  &:nth-child(1) {
    animation-name: rollIn;
    img {
      transform: rotate(2deg);
    }
  }

  &:nth-child(2) {
    animation-name: rollIn2;
    top: 4px;
    img {
      transform: rotate(-3deg);
    }
  }

  &:nth-child(3) {
    animation-name: rollIn;
    top: 10px;
    img {
      transform: rotate(3deg);
    }
  }

  &:nth-child(4) {
    animation-name: rollIn2;
    top: 15px;
    left: 8px;
    img {
      transform: rotate(-2deg);
    }
  }

  &:nth-child(5) {
    animation-name: rollIn;
    top: 25px;
    left: 20px;
    img {
      transform: rotate(2deg);
    }
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translate3d(30%, 30%, 0) scale(1.5) rotate(10deg);
  }

  30% {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes rollIn2 {
  0% {
    opacity: 0;
    transform: translate3d(10%, 30%, 0) scale(1.5) rotate(-5deg);
  }

  30% {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

//transform: scale(1.5) rotate(20deg);

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-list-item {
  padding: 5px 7px;

  .btn {
    font-weight: normal;
    &.is-select {
      border: 2px solid gray("800");
      background-color: gray("100");
    }
  }
}

.navbar-donation {
  // background-color: transparent;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: $zindex-fixed;
  .navbar {
  }
  // box-shadow: inset 0px -1px 0px #eeeeee, 0 4px 8px 0 rgba(0, 0, 0, 0.03);
}

.dona__sponser {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 5px;
  @include media-breakpoint-down(sm) {
    padding: 15px 0;
  }
}

.dona__sponser__avatar {
  display: flex;
  width: 64px;
  height: 64px;
  flex: 0 0 64px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.dona__sponser__content {
  padding-left: 20px;
  .tt {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .sub {
    color: gray("700");
  }
}

.dona__section__list {
  position: relative;
  z-index: 1;
}

.dona__section__pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
  z-index: -1;
  .pattern {
    position: absolute;
  }

  .pattern-1 {
    top: 0;
    right: -40px;
  }

  .pattern-2 {
    top: 400px;
    left: -10px;
  }
  .pattern-3 {
    left: 25%;
    top: 40px;
    transform: rotate(-18deg);
    svg {
      width: 34px;
      height: auto;
    }
  }

  .pattern-4 {
    right: 18%;
    top: 90px;
    transform: rotate(18deg);
    svg {
      width: 75px;
      height: auto;
    }
  }
  @include media-breakpoint-down(sm) {
    .pattern-1 {
      width: 90px;
    }

    .pattern-2 {
      width: 80px;
    }

    .pattern-3 {
      svg {
        width: 28px;
      }
    }

    .pattern-4 {
      svg {
        width: 60px;
      }
    }
  }
}

.dona__hero {
  padding: 25px 0 80px;
  background: linear-gradient(95.46deg, #f9f9f9 9.92%, #f3f3f3 84.55%);

  @include media-breakpoint-down(sm) {
    padding: 40px 0 30px;
    text-align: center;
  }
}

.dona-detail-hero {
  padding: 25px 0 10px;
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.dona__hero__case {
  padding: 50px 0 50px;

  @include media-breakpoint-down(sm) {
    // text-align: center;
    padding: 0px 0 30px;
  }

  @include media-breakpoint-up(xl) {
    padding: 80px 0 100px;
  }
}

.donation-case-kv {
  @include media-breakpoint-down(sm) {
    // margin: 0 -15px;
    // padding: 15px 0;
    // text-align: center;
    // background: linear-gradient(90deg, #9b7a7a 50%, #ffe8f6 33%);
    img {
      max-width: 240px;
      margin: 0 auto;
      display: block;
    }
  }
}

.dona__text-main {
  @include rfs(46px);
  line-height: 1.15;
}

.dona__text--lead {
  letter-spacing: -0.02em;
  font-size: 18px;
}

.question-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  // grid-column-gap: 20px;
}

.question-item {
  display: block;

  // width: calc(50% - 20px);
  font-size: 17px;
  padding: 15px 0;
  border-bottom: 1px solid gray("200");

  a {
    color: $pinetree;

    @include hover-focus() {
      color: lighten($pinetree, 5%);
    }
  }

  @include media-breakpoint-down(sm) {
    // font-size: 14px;
    padding: 10px 0;
  }
}

//Fix tam
.overflow-scroll-mobile {
  @include media-breakpoint-down(sm) {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    justify-content: flex-start !important;
  }
}
.sponser__hero__logo {
  padding: 6px 20px 0;

  // max-width: 30px;

  display: flex;
  align-items: center;

  & img {
    height: 100%;
    max-height: 35px;
    width: auto;
  }
}

.dn-card {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  height: 100%;
  overflow: hidden;
  transition: all 150ms ease-in;

  &:hover,
  &:focus {
    box-shadow: 13px 13px 36px -18px rgba(0, 0, 0, 0.3),
      0 0 50px -12px rgba(50, 50, 93, 0.13);
    // transform: translate(0,-2px);
    .dn-card-title > a {
      color: $pink;
    }
    img {
      transform: scale(1.05);
    }
  }

  &-img {
    position: relative;
    overflow: hidden;

    &.h-62 {
      &::before {
        padding-bottom: 62.8%;
      }
    }

    &::before {
      content: "";
      display: block;
      padding-bottom: percentage(37/77);
    }

    img {
      width: 100%;
      top: 0;
      left: 0;
      // max-width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      // top: 0;
      // left: 50%;
      // transform: translateX(-50%);
      transition: all 100ms ease-in;
    }
  }

  &-body {
    padding: 14px 18px;
    flex: 1 1 auto;
    min-height: 1px;
  }

  &-title {
    font-weight: 600;
    color: gray("800");
    cursor: pointer;
  }

  &-subtitle {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: gray("900");
  }

  & a {
    display: flex;
    align-items: center;

    & > svg {
      margin-left: 6px;
      width: 14px;
      height: 14px;
    }
  }

  // &:hover & {
  //   &-title {
  //     color: $pink;
  //   }
  // }
}

.gt-new {
  border-left: 1px solid #e81f76;
  padding-left: 12px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;

  & + p {
    padding-left: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #616161;
  }
}

.sc-donation {
  .btn-swiper {
    width: 32px;
    height: 32px;

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.sc-program-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0 -10px;

  @include media-breakpoint-down(sm) {
    margin: 0 -16px;
    padding: 5px 16px 10px;

    scroll-padding: 0 16px;
    // grid system
    display: grid;
    grid-auto-flow: column;
    overflow: auto hidden;
    gap: 16px;
    -webkit-overflow-scrolling: auto;
    scroll-snap-type: x mandatory !important;
    grid-auto-columns: calc(100% - 100px) !important;
  }
}

.sc-program-item {
  scroll-snap-align: start !important;

  @include media-breakpoint-up(md) {
    flex: 0 0 percentage(1/2);
    min-width: percentage(1/2);
    padding: 0 10px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    flex: 0 0 percentage(1/4);
    min-width: percentage(1/4);
    padding: 0 10px;
  }
}

.sc-swiper-nav-icon {
  width: 20px;
  height: 20px;
}

.content-inline-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.donation-list {
  .donation-list-col {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include media-breakpoint-up(md) {
    .donation-list-col {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.dn-case-feature {
}

.campaign-dn {
  background: #ffffff;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 7px 25px 0 rgba(0, 0, 0, 0.03),
    0 4px 12px 0 rgba(0, 0, 0, 0.03);
  transition-property: box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  overflow: hidden;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  word-wrap: break-word;
  height: 100%;
  color: gray("700");
  font-size: 15px;
  line-height: 18px;
  width: 100%;

  @include hover-focus() {
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 7px 25px 0 rgba(0, 0, 0, 0.03),
      0 4px 30px rgba(0, 0, 0, 0.1);
  }

  &-img {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-bottom: 51.72414%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
    }
  }

  &-body {
    padding: 16px 20px;
    flex: 1;
    min-height: 1px;
  }

  &-footer {
    padding: 10px 20px 16px;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // width: 100%;
  }

  &-summary {
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &-title {
    color: gray("900");
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  &-info {
    display: flex;
    padding-bottom: 6px;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  &-money {
    flex: 1;
    font-size: 14px;

    b {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      color: gray("800");
    }
    img {
      position: relative;
      top: -2px;
    }
    span {
      padding-left: 3px;
    }
  }

  &-percent {
    // text-align: right;
    font-size: 14px;
    font-weight: bold;
  }

  &-time {
    color: gray("600");
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: space-between;
    .ico {
      vertical-align: -14%;
      height: 13px;
      width: 13px;
      margin-right: 2px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  @include hover-focus() {
    .campaign-dn-title {
      color: $pinkmomo;
    }
  }

  max-width: 100%;
  width: auto;
}

.swiper-campaign-wrap {
  // overflow: hidden;
  position: relative;

  .swiper-pagination-lock {
    visibility: hidden;
    opacity: 0;
  }

  .swiper-button-lock {
    visibility: hidden;
    opacity: 0;
  }

  .swiper-pagination-fraction {
    user-select: none;
  }
}

.swiper-campaign-function {
  // position: absolute;
  // top: -50px;
  // right: 0;
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.swiper-campaign {
  // padding: 10px;
  margin: 0 -10px;

  // .swiper-wrapper {
  //   align-items: stretch;
  // }

  .swiper-slide {
    // height: unset;
    padding: 10px 10px;
    height: auto;
    width: percentage(1/4);

    // @media only screen and (max-width: 1199px) {
    //   width: percentage(1/3);
    // }

    @include media-breakpoint-down(lg) {
      width: percentage(1/3);
    }

    @include media-breakpoint-down(md) {
      width: percentage(1/2);
    }

    @include media-breakpoint-down(sm) {
      width: 320px;
    }
  }
}

.swiper-story {
  .swiper-button-next,
  .swiper-button-prev {
    outline: none;
    width: 48px;
    height: 48px;
    // background-color: #FCEFF4;
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    box-shadow: none;

    @include media-breakpoint-down(md) {
      width: 38px;
      height: 38px;
    }
  }
}

.sponser-logo {
  // display: inline-flex;
  // align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  img {
    max-height: 70px;
    height: 100%;
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    img {
      max-height: 40px;
    }
  }
}

.sc-story-item {
  @include media-breakpoint-down(sm) {
    .sapo {
      display: none;
    }
  }
}

.swiper-story {
  .swiper-pagination {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 25px;

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .swiper-pagination {
      display: block;

      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: $pink;
      }
    }
  }
}

// .dn-case-bg {
//   border-radius: 15px;
//   overflow: hidden;
// }

.dn__gallery__wrap {
  @include media-breakpoint-down(sm) {
    padding: 0 0 15px 0;
  }
}

.dn__gallery__radius {
  border-radius: 10px;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}

.dn__gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  position: relative;
  // margin-right: -5px;

  .btn-gallery {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .hidden {
    display: none;
  }
}

.dn__gallery__col {
  flex: 0 0 calc(33.333% - 4px);
  max-width: calc(33.333% - 4px);
  &.col2 {
    // flex: 0 0 calc(25% + 1px);
    // max-width: calc(25% + 1px);
    // flex: 0 0 25%;
    // max-width: 25%;
    // padding-left: 8px;
    // margin-left: 4px;

    // .embed-responsive-dn-gallery {
    //   &:before {
    //     padding-top: percentage(15.18/20);
    //   }
    // }
  }
  // &.col3 {
  //   flex: 0 0 calc(33.333% - 4px);
  //   max-width: calc(33.333% - 4px);
  //   // padding-left: 8px;
  // }
  .dn__gallery__item:nth-child(2) {
    // padding-top: 8px;
  }
}

.dn__gallery__item {
  // padding: 2px;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  .embed-responsive-img {
    transition: transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  @include hover-focus() {
    .embed-responsive-img {
      transform: scale(1.05);
    }
  }
}

.btn-gallery {
  padding: 1px 8px;
  border-radius: 3px;
  outline: none;
  padding: 7px 15px;
  border: 1px solid gray("700");
  background: white;
  font-weight: bold;
  z-index: 2;
  .icon {
    vertical-align: -3px;
    height: 16px;
    margin-right: 3px;
  }
  @include hover-focus() {
    color: gray("800");
    border: 1px solid gray("700");
    background-color: gray("100");
  }
}

.embed-responsive-dn-gallery {
  &:before {
    padding-top: percentage(15/20);
  }
}

@include media-breakpoint-down(sm) {
  .dn__gallery__col {
    flex: 0 0 100%;
    max-width: 100%;
    &.col2 {
      display: none;
    }
  }

  .dn__gallery {
    .btn-gallery {
      bottom: 10px;
      right: 10px;
    }
  }

  .embed-responsive-dn-gallery {
    &:before {
      padding-top: percentage(12/20);
    }
  }
}

.icon-case-heart {
  height: 20px;
}

.content-note {
  border-left: 2px solid #e81f76;
  padding: 10px 20px;
  margin: 20px 0;
}

.img-set-max {
  img {
    max-width: 100%;
    display: block;
  }
}

.sc-content {
  padding-top: 10px;
  @include media-breakpoint-down(md) {
    padding-top: 0;
  }
}

.widget-donation {
  background: #fff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border: 1px solid gray("300");
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 30px;
  max-width: 100%;
  color: gray("600");

  .value {
    // font-size: 24px;
    @include rfs(22px);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
      sans-serif;
  }
  .campaign-progress {
    height: 7px;
  }

  .sub {
    font-size: 15px;
    display: inline-block;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    .value {
      font-size: 20px;
    }

    margin-bottom: 0;

    border: none;

    border-radius: 0;

    background-color: transparent;
    box-shadow: none;
    padding-top: 0;

    padding: 10px 0 20px 0;
    // border-bottom: 1px solid gray("300");
    // margin-bottom: 20px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;
  }
}

.quyengop-sticky {
  @include media-breakpoint-up(lg) {
    max-width: 410px;
    margin-left: auto;
  }
}

.cta-donation-1 {
  background: linear-gradient(to left, $primary-2, $primary-3);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    $primary-2 0%,
    $primary-3 51%,
    $primary-2 100%
  );

  @include hover-focus() {
    background-position: right center;
  }
}
.cta-donation-2 {
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.5s;
  font-size: 18px;
  background: linear-gradient(to left, gray("200"), gray("100"));
  @include hover-focus() {
    background: linear-gradient(to left, gray("100"), rgba(gray("100"), 0.5));
    border: 1px solid gray("500");
  }
}

.widget-donation-meta {
  font-size: 16px;
}

.widget-sponser {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid gray("200");
  .sponser-logo {
    padding: 5px 10px;
    img {
      max-height: 40px;
    }
  }
}

.campaign-progress {
  display: flex;
  height: 7px;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 100px;

  &-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ae2070;
    transition: width 0.6s ease;
    border-radius: 100px;

    &.done {
      background-color: #7eb54a;
    }
    &.end-time {
      background-color: #8e8e93;
    }
  }
}

.campaign-people {
  &-list {
    margin-bottom: 10px;
    margin-top: 5px;

    & .campaign-people-item:not(:last-child) {
      // margin-bottom: 10px;
      border-bottom: 1px solid gray("200");
    }
  }

  &-item {
    padding: 8px 0 8px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 14px;

    .campaign-people-avatar + .campaign-people-info {
      padding-left: 15px;
    }
  }

  &-avatar {
    width: 35px;
    height: 35px;
    font-size: 15px;
    color: gray("600");
    border-radius: 50%;
    background-color: gray("300");
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex: 0 0 35px;

    &.is-image {
      background: transparent;
      border-radius: 0;
    }

    &.is-pink {
      background-color: $pinkhot;
      color: rgba(255, 255, 255, 0.85);
      font-size: 16px;
    }
  }

  &-name {
    color: gray("900");
    font-weight: 600;
    margin-bottom: 3px;
    padding-top: 3px;
  }

  &-info {
    padding: 0 15px 0 0;
    flex-grow: 1;
    min-width: 0;
  }

  &-phone {
    color: gray("500");
    font-size: 12px;
  }

  &-money {
    color: gray("900");
    font-weight: 600;
    white-space: nowrap;
  }

  .icon-heovang {
    position: relative;
    top: -2px;
    padding-left: 4px;
    vertical-align: middle;
  }
}
.campaign-money {
  margin-bottom: 5px;
  position: relative;
  top: -4px;
  img {
    position: relative;
    top: -6px;
  }
}

.swiper-message {
  margin-left: -5px;
  margin-right: -5px;

  .swiper-slide {
    width: 290px;
    padding: 1px 5px 10px 5px;

    &:nth-child(4n + 1) {
      .message-item .campaign-people-avatar {
        background-color: rgba($pinkhot, 1);
      }
    }

    &:nth-child(4n + 2) {
      .message-item .campaign-people-avatar {
        background-color: rgba($pinkhot, 1);
      }
    }

    &:nth-child(4n + 3) {
      .message-item .campaign-people-avatar {
        background-color: rgba($green, 1);
      }
    }

    &:nth-child(4n + 4) {
      .message-item .campaign-people-avatar {
        background-color: rgba($blue, 1);
      }
    }
  }

  .message-item {
    // background-color: white;
    // background-color: rgba(#8c2dd3, 0.15);
    border: 1px solid gray("300");
    // @extend .shadow-sm;
    background: white;
    padding: 13px;
    // border: 1px solid gray("300");
    // @extend .shadow-sm;
    border-radius: 5px;
    width: 100%;

    .campaign-people-avatar {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }

  .message-item-name {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    color: gray("900");
  }

  .message-item-content {
    padding: 10px 0 5px;
    text-align: left;
    line-height: 16px;
    background-color: white;
    border-radius: 5px;
  }

  .message-item-txt {
    color: gray("600");
    font-size: 14px;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    background-color: white;
  }
}

.quyengop-sticky {
  padding-top: 25px;
  // @include media-breakpoint-up(lg) {
  //   position: -webkit-sticky;
  //   /* Safari */
  //   position: sticky;
  //   top: 50px;
  // }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

.sponsor-info {
  color: gray("700");
  .logo {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    & img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.doitac-philoinhuan {
  .img {
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 4px;
  }
}

.image-center {
  width: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}
.solieu-list {
  display: flex;
  flex-flow: row nowrap;
  text-align: left;
}

// .dona__hero__img {
//   @include media-breakpoint-down(sm) {
//     max-width: 260px;
//     margin: 0 auto 20px;
//   }
// }

.solieu-item {
  max-width: 180px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  &:after {
    content: "";
    height: 18px;
    width: 2px;
    background-color: $pink;
    position: absolute;
    left: 0;
    top: 3px;
  }
}

.solieu-item-subtitle {
  font-size: 13px;
  line-height: 18px;
  color: gray("700");
}

.solieu-item-title {
  font-size: 18px;
  margin-bottom: 5px;
}

@include media-breakpoint-down(sm) {
  .solieu-list {
  }

  .solieu-item-subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .solieu-item-title {
    font-size: 16px;
    margin-bottom: 3px;
    padding-left: 10px;
  }

  .solieu-item {
    padding-right: 10px;
    padding-left: 0;
    &:after {
      content: "";
      height: 15px;
      width: 1px;
      background-color: $pink;
      position: absolute;
      left: 0px;
      top: 3px;
    }
  }
}

.block-border {
  border-top: 1px solid #eaedf2;
}

.baiviet-loadmore {
  max-height: 500px;
  overflow: hidden;
  &.mx-h-220 {
    max-height: 220px;
  }
  &.a-center {
    & + [data-readmore-toggle] {
      justify-content: center;
    }
  }

  & + [data-readmore-toggle],
  &[data-readmore] {
    display: block;
    width: 100%;
    z-index: 1;
    // &:before{
    //   z-index: -1;
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   background-color: white;
    //   height: 25px;
    //   left: 0;
    //   right: 0;
    //   bottom:0;
    // }
  }

  &[data-readmore] {
    transition: height 75ms;
    overflow: hidden;
  }

  & + [data-readmore-toggle] {
    display: block;
    display: flex !important;
    align-items: flex-end;
    position: relative;
    height: 30px;
    margin-top: -30px;
    background-color: white;
    // margin-top: -60px;

    & img {
      width: 20px;
      opacity: 0.5;
    }
  }

  &[aria-expanded="false"] {
    & + [data-readmore-toggle] {
      &::after {
        content: "";
        height: 55px;
        position: absolute;
        top: -53px;
        left: 0;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.001), #fff);
        pointer-events: none;
      }
    }
  }
  &[aria-expanded="true"] {
    & + [data-readmore-toggle] {
      margin-top: 10px;
      height: auto;
    }
  }
}

.show-donation-btn {
  @include media-breakpoint-down(md) {
    body {
      padding-bottom: 60px;
    }
  }
  .btn-quyengop-sticky {
    transform: translate3d(0, 0, 0);
  }
}
.btn-quyengop-sticky {
  transition: transform 0.3s ease-in;
  transform: translate3d(0, 100%, 0);
}
.btn-quyengop-sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 90;
}

.dona-nav-container {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  // padding-top: calc(1em + 1px);

  // top: 1px;
  background: #fff;
  z-index: $zindex-fixed;
  // border-bottom: 1px solid gray("200");

  &.isSticky {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: gray("200");
    }
  }
}

@include media-breakpoint-down(sm) {
  .dona-nav-container {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    left: 0;
    right: 0;
    // pointer-events: none;
    // user-select: none;
    .container {
    }
  }
  .show-donation-nav {
    .dona-nav-container {
      opacity: 1;
      visibility: visible;
    }
  }
}

.sg-nav {
  flex-flow: row nowrap;
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: scroll;

  border-bottom: 1px solid gray("200");

  .nav-link {
    font-size: 15px;
    padding: 17px 0 14px;
    // text-transform: uppercase;
    color: gray("700");
    border-bottom: 2px solid transparent;
    display: block;
    z-index: 2;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      border-bottom-color: gray("500");
    }

    &.active {
      font-weight: 800;
      color: gray("900");
      border-bottom-color: gray("900");
    }
  }

  .img-icon {
    width: 20px;
    margin-right: 4px;
  }
  @include media-breakpoint-down(sm) {
    .nav-link {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.donation__detail__heading {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  &.has-border-top {
    margin-top: 40px;
    border-top: 1px solid gray("300");
  }

  @include media-breakpoint-down(sm) {
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 0;
    &.has-border-top {
      margin-top: 30px;
      border-top: 1px solid gray("300");
    }
  }
}

.donation__social__item {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 1.5rem;
  li {
    display: inline-block;
    margin-top: 0;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    li {
      margin-right: 10px;
      margin-left: 0;
    }
  }
}

.icon-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 15%;
}
@include media-breakpoint-down(sm) {
  .fancybox-slide--video {
    padding-left: 0;
    padding-right: 0;
    .fancybox-content {
      width: 100% !important;
      height: auto;
      padding-bottom: 100%;
    }
  }
}

.ft__item {
  text-align: center;
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.ft__item__title {
  max-width: 260px;
  margin: 0 auto 10px;
}

.ft__item__img {
}

.qu-container {
  background: #f3e9f9;
  border: 1px dashed $primary-2;
  box-sizing: border-box;
  border-radius: 15px;
  color: gray("700");
  padding: 30px 35px;
  position: relative;
  font-size: 18px;
  line-height: 28px;

  &:before {
    content: "”";
    font-size: 100px;
    line-height: 0;
    color: $primary-2;
    position: absolute;
    bottom: -25px;
    right: 10px;
    font-weight: 400;
  }
  &:after {
    content: "“";
    font-size: 100px;
    line-height: 0;
    color: $primary-2;
    position: absolute;
    top: 25px;
    left: 10px;
    font-weight: 400;
  }

  @include media-breakpoint-down(sm) {
    border-radius: 10px;
    padding: 25px 25px;
    position: relative;
    font-size: 17px;
    line-height: 25px;
  }
}

.campaign-dn-subscription {
  background-color: #f0f5ff;
  border-radius: 5px;
  position: relative;
  padding: 8px 35px 8px 15px;
  .icon {
    position: absolute;
    right: 12px;
    top: 15px;
    img {
      width: 20px;
    }
  }
  .lab {
    font-size: 13px;
  }
  .cont {
    font-size: 15px;
  }

  @include media-breakpoint-down(md) {
    .icon {
      right: 9px;
      top: 5px;
      img {
        width: 14px;
      }
      // display: none;
    }
    padding: 7px 15px;
  }
}

.campaign-dn-feature {
  display: flex;
  flex-flow: row wrap;
  .campaign-dn-img {
    // &::before {
    //   content: "";
    //   display: block;
    //   padding-bottom: percentage(4/6);
    // }
}

  .campaign-dn-pic {
    width: 50%;
    flex: 0 0 50%;
  }
  .campaign-dn-img {
    border-radius: 5px;
  }
  .campaign-dn-wrap {
    width: auto;
    flex: 1;
    padding: 0px 0 0px 40px;
  }

  .campaign-dn-summary {
    white-space: normal;
    overflow: visible;
    display: block;
    color: gray("700");
  }
  .campaign-dn-footer {
    padding: 20px 0;
  }

  @include media-breakpoint-down(md) {
    .campaign-dn-pic {
      margin-bottom: 20px;
      width: 100%;
      flex: 0 0 100%;
    }
    .campaign-dn-wrap {
      padding-left: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    .campaign-dn-percent {
      font-size: 16px;
      font-weight: bold;
    }

    .campaign-dn-title {
      font-size: 22px;
      line-height: 28px;
    }

    .campaign-dn-money {
      b {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .campaign-progress {
      height: 9px;
    }
    .campaign-dn-time {
      font-size: 14px;
      color: gray("800");
      .ico {
        height: 16px;
        width: 16px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .campaign-dn-money {
      b {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
