.embed-responsive-kv {
  &::before {
    padding-top: percentage(740/ 1900);
  }
}

@include media-breakpoint-down(sm) {
  .embed-responsive-kv {
    &::before {
      padding-top: percentage(900/750);
    }
  }
}

.kv-section-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  svg {
    width: 100%;
    height: auto;
  }
}

.kv-section {
  position: relative;
  // &:after {
  //   display: block;
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 100;
  //   padding-bottom: 2.3vw;
  //   background-image: url(../img/kv/curve-white.svg);
  //   background-position-x: center;
  //   background-size: 110vw;
  //   z-index: 1;
  // }

  .swiper-pagination {
    bottom: 20px;
  }

  @include media-breakpoint-up(md) {
    .swiper-pagination {
      bottom: 60px;
    }
    .swiper-container-horizontal
      > .swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 6px;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      opacity: 0.3;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: white;
    }
  }

  .kv-pagination {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    .swiper-button-next,
    .swiper-button-prev {
      top: 0;
      width: 40px;
      background: transparent !important;
      background-image: none;
      height: 40px;
      margin-top: -20px;
      z-index: 10;
      cursor: pointer;
    }
    .swiper-button-next, .swiper-button-prev{
      border: none;
    }

    swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 0.5;
      cursor: auto;
      // pointer-events: none;
    }

    .swiper-button-prev {
      img {
        transform: rotate(180deg);
      }
    }
    @include media-breakpoint-down(sm) {
      .swiper-button-next,
      .swiper-button-prev {
        width: 30px;
        height: 30px;
        margin-top: -15px;
      }
    }
  }
}

.kv-section:after{
  background-image: url(../img/kv/curve.svg);
}