.header-relative {
  background-color: #fff;
  background-image: url(../img/magazine/background-blog-soju-2.svg);
  background-position: top center;
  background-repeat: no-repeat;

  @include media-breakpoint-down(sm) {
    background-size: 1300px auto;
    background-position: 28% top;
  }

  .navbar-container {
    position: relative !important;
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
  }
}

.mgz__adv {
  margin: 30px 0;

  .link-dark {
    color: gray("800");
    @include hover-focus-active() {
      color: gray("900");
      // text-decoration: underline;
    }
  }
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 15px 25px;

  background: linear-gradient(
    180deg,
    #ffe8f6 0%,
    rgba(255, 232, 246, 0.6) 100%
  );
  border-radius: 5px;
}

.mgz__adv__grid {
  flex: 1;
}

.mgz__adv__grid.mgz__adv__image {
  flex: 0 0 250px;
  max-width: 250px;
}

.mgz__adv__txt1 {
  font-size: 13px;
  margin-top: 5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  // color: $primary;
}

.mgz__adv__txt2 {
  font-size: 18px;
  margin-top: 10px;
  padding-right: 5px;
  font-weight: 600;
}

.mgz__adv__close {
  width: 34px;
  height: 34px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 1px;
  right: 2px;
  opacity: 0.5;
  @include hover() {
    opacity: 0.7;
  }
}

.mgz__adv__btn {
  margin-top: 20px;
  a {
    font-weight: bold;
  }
  .icon-rr {
    width: 16px;
    height: 16px;
    vertical-align: -15%;
  }
}

.text-kv {
  b,
  strong {
    color: #ffeb3b;
  }
  font-size: 16px;
  ul {
    padding-left: 20px;
  }
}

@include media-breakpoint-down(sm) {
  .mgz__adv__grid.mgz__adv__image {
    flex: 0 0 120px;
    max-width: 120px;
  }

  .mgz__adv {
    margin: 20px 0;
    padding: 10px 15px 15px;
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
  }

  .mgz__adv__grid.mgz__adv__content {
    flex: 1 1 0px;
    max-width: 100%;
  }

  .mgz__adv__txt1 {
    font-size: 12px;
  }

  .mgz__adv__txt2 {
    font-size: 15px;
    line-height: 21px;
    margin-top: 5px;
    padding-right: 5px;
  }
  .mgz__adv__btn {
    margin-top: 5px;
    .btn {
      font-size: 13px;
      padding: 5px 15px;
    }
  }
}

.post__adv {
  .mgz__adv {
    padding: 15px 25px;
    border-radius: 0;
    background: gray("100");
  }
  .mgz__adv__grid {
  }
  .mgz__adv__txt1 {
    font-size: 12px;
  }
  .mgz__adv__txt2 {
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
  }

  .mgz__adv__grid.mgz__adv__image {
    flex: 0 0 200px;
    max-width: 200px;
  }
  .mgz__adv__btn {
    margin-top: 5px;
    a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }
  }

  @include media-breakpoint-down(sm) {
    .mgz__adv__grid.mgz__adv__image {
      flex: 0 0 120px;
      max-width: 120px;
    }

    .mgz__adv__txt2 {
      margin-top: 5px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

//MGZ scrollspy

.mgz__adv__scrollspy {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  right: 0;
  z-index: 40;
  width: 380px;
  border-top: 1px solid lighten($pinklight, 6%);
  border-left: 1px solid lighten($pinklight, 6%);
  border-top-left-radius: 10px;
  .mgz__adv {
    margin: 0;
    border-radius: 0;
    border: none;
    background: lighten($pinklight, 12%);
    // border: 1px solid lighten($pinklight, 4%);;
    overflow: hidden;

    padding: 24px 15px 10px;
    .mgz__adv__grid.mgz__adv__image {
      flex: 0 0 120px;
      max-width: 120px;
    }
    .mgz__adv__btn {
      a {
        font-size: 13px;
        padding: 3px 8px;
      }
    }

    .mgz__adv__txt1 {
      font-size: 11px;
    }

    .mgz__adv__txt2 {
      padding-right: 5px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  @include media-breakpoint-down(sm){
    display: none;
  }
}

.mgz__adv__scrollspy:not(.d-none) ~ .btn-back-to-top {
  bottom: 200px !important;
}

@include media-breakpoint-down(sm) {
  .mgz__adv__scrollspy {
    max-width: 320px;
    .mgz__adv {
      // padding: 20px 15px 10px;
      .mgz__adv__grid.mgz__adv__image {
        flex: 0 0 100px;
        max-width: 100px;
      }
    }

    // .mgz__adv__grid.mgz__adv__content {
    //   flex: 1 1 0px;
    //   max-width: 100%;
    // }
  }
}

.mgz__search {
  position: relative;
  text-align: right;
}

.mgz__search__icon {
  cursor: pointer;
  .feather {
    width: 18px;
    color: gray("700");
  }
}

.mgzs__wrapper {
  // overflow-x: hidden;
  // font-family: "Inter", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  padding-bottom: 30px;
}

.mgzs__wrapper__container {
  max-width: 1000px;
  margin: 0 auto;
}

.mgzs__wrapper__spy {
  max-width: 1100px;

  // h2 {
  //   margin-top: -30px !important;
  //   padding-top: 30px !important;
  // }

  .post__wrap {
    // margin-left: 0;
    margin-left: 124px;
  }
  @include media-breakpoint-down(md) {
    .post__wrap {
      // margin-left: 0;
      margin-left: auto;
    }
  }
}

.font-serif {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

.mgzs__header {
  padding: 40px 0;
  @include media-breakpoint-down(sm) {
    padding: 30px 0 15px;
  }
}
#post__spy {
  display: block;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.post__spy__mb__wrapper {
  opacity: 1;
  // transition: opacity 0.5s ease-in;
  // transition-delay: 1s;
  .contentPart & {
    opacity: 1;
    top: 44px;
    position: sticky;
    @include media-breakpoint-up(sm) {
      top: 53px;
    }
  }
  // .contentPart & {
  //   position: fixed;
  //   top: 44px;
  //   z-index: 99;
  //   background-color: white;
  //   left: 0;
  //   right: 0;
  // }
  z-index: 10;
  position: relative;

  background-color: white;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 15px;
  .post__spy__list {
    padding: 15px 20px;
  }
  .dropdown-menu {
    z-index: 15;
    padding: 0;
    @extend .shadow;
    left: 0;
    right: 0;
    transform: translate3d(0, 45px, 0px) !important;
    will-change: transform;
    margin: 0;
    border: none;
    border-radius: 0;
  }
}

.post__spy__mb__btn {
  font-weight: bold;
  color: gray("700");
  display: block;
  font-size: 14px;
  z-index: 20;
  position: relative;
  background: white;
  padding: 11px 40px 11px 20px;
  border-bottom: 1px solid gray("300");
  border-top: 1px solid gray("300");
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  @include hover-focus() {
    color: gray("800");
  }
  &:after {
    display: none;
  }

  i,
  svg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
  }
  &[aria-expanded="true"] {
    svg {
      transform: rotate(180deg);
    }
  }
}

#post__spy__mobile {
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
  }
  &.post__spy__list {
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    backface-visibility: hidden;
  }
}

.mgzs__header__name {
  margin-bottom: 0;
  line-height: 1.5;
  @extend .font-serif;
  // font-size: 60px;
  @include rfs(55px);
  color: gray("800");
  font-weight: bold;
}

.mgzs__header__sapo {
  @include rfs(20px);
  font-weight: 400;
  color: gray("600");
}

.mgzs__panel {
  transform: translateY(-100%);
  font-family: Inter, sans-serif;
  box-shadow: none;
  z-index: 1001;
  top: 0;
  background: rgba(gray("100"), 0.9);
  border-bottom: 1px solid rgba(black, 0.05);
  backdrop-filter: saturate(180%) blur(5px);
  position: fixed;
  width: 100%;
  left: 0;
  text-align: left;
  backface-visibility: hidden;
  user-select: none;
  height: 55px;
  // font-size: 15px;
  font-weight: 400;
  transition: box-shadow 0.35s, opacity 0.35s cubic-bezier(0.5, 0, 0.35, 1),
    background 0.35s, transform 0.35s cubic-bezier(0.5, 0, 0.35, 1);
  opacity: 1;
  padding: 0 24px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  // overflow: hidden;

  .progress {
    position: absolute;
    right: 0;
    border-radius: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    color: rgba($pinkmomo, 0.7);
    background: transparent;

    appearance: none;
  }

  .progress::-webkit-progress-bar {
    background-color: transparent;
  }

  .progress::-webkit-progress-value {
    background-color: rgba($pinkmomo, 0.7);
  }

  .progress::-moz-progress-bar {
    background-color: rgba($pinkmomo, 0.7);
  }

  .progress-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  .progress-bar {
    display: block;
    width: 50%;
    height: inherit;
    background-color: rgba($pinkmomo, 0.7);
  }

  @include media-breakpoint-down(sm) {
    height: 45px;
    padding: 0 15px;
  }
}

.mgzs__panel__content {
  margin: 0;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    span {
      font-size: 14px;
    }
  }
}

.mgz__social {
  position: absolute;
  top: 0;
  left: -140px;
}

.mgz__social__icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto 5px;
}

.mgz__social__item {
  margin-top: 15px;
  margin-bottom: 0;
  li {
    margin-top: 5px;
  }
}

.btn-social__share {
  font-size: 12px;
  padding: 4px 5px;
  color: gray("700");
  border: 1px solid gray("300");
  background-color: white;
  text-align: left;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  transition: all 0.2s ease-in;

  svg {
    width: 18px;
    height: 18px;
    opacity: 0.8;
    vertical-align: -25%;
    margin-right: 2px;
  }

  @include hover-focus() {
    background-color: gray("100");
    border-color: gray("400");
  }
}

.mgz__social__btn {
  text-align: center;
  padding: 15px 10px 15px;
  width: 116px;
  max-height: 82px;
  overflow: hidden;
  font-size: 14px;
  background-color: gray("200");
  // display: flex;
  // align-items: center;
  // justify-content: center;
  transition: 0.45s;
  z-index: 10;
  border-radius: 5px;
  @include media-breakpoint-up(lg) {
    @include hover-focus() {
      max-height: 250px;
      background: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
    }
  }
}

@include media-breakpoint-down(md) {
  .mgz__social {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 15px;
    height: 45px;
  }

  .mgz__social-text {
    svg {
      display: none;
    }
  }

  .mgz__social__btn {
    width: 100%;
    max-height: 100%;
    padding: 15px 0 0;
    background-color: transparent;
    border-radius: 0;
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .mgz__social__item {
    margin-top: 0;
    display: flex;
    flex-flow: row wrap;
    li {
      margin-top: 0;
      margin-left: 5px;
    }
  }
  .btn-social__share {
    font-size: 11px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

//Mgz navigation
.mgzs__navigation {
  padding: 25px 0 15px;
  // font-family: Inter, sans-serif;
  a {
    color: gray("800");
    fill: gray("800");
    font-weight: bold;

    @include hover-focus() {
      color: $pinkmomo;
      fill: $pinkmomo;
    }
  }
  + .mgzs__wrapper {
    background-color: white;
    padding-top: 5px;
  }

  .breadcrumb {
    // font-family: "Inter", sans-serif;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      Helvetica, Arial, sans-serif;

    overflow: hidden;
    white-space: nowrap;
    flex-flow: nowrap;
  }

  .breadcrumb-home-icon {
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 0 10px;
    .breadcrumb {
      padding: 0;
    }
  }
}

.mgzs__wrap__scroll {
  background-color: transparent !important;
  .wrap__scroll__next {
    // top: 9px;
    background-color: transparent;
  }
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: gray("300");
  }
}

.mgzs__panel__name {
  color: gray("800");
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding: 0 5px;
  // @extend .font-serif;
  // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: block;
}

.mgzs__widget__title {
  @extend .font-serif;
  @include rfs(20px);
  font-weight: bold;
}
.contentPart {
  .mgzs__panel {
    transform: translate3d(0, 0, 0);
  }
}
.mgzs__nav {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 30px;
  // justify-content: center;
  white-space: nowrap;
  overflow-x: auto;
  // padding-bottom: 13px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mgzs__nav__item {
  position: relative;
  text-align: center;
  display: inline-block;
  z-index: 1;
  .mgzs__nav__link {
    display: block;
    padding: 10px 12px;
    font-size: 15px;
    color: gray("600");
    text-transform: uppercase;
    // position: relative;
    @include hover-focus() {
      color: gray("900");
    }
    @include media-breakpoint-down(sm) {
      padding: 10px 8px;
    }
  }
  &.is-active {
    .mgzs__nav__link {
      color: gray("900");
      font-weight: bold;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 2px;
        left: 0;
        background-color: $pinklight;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &.dienanh {
        &:after {
          background-color: $purple;
        }
      }

      &.theman,
      &.blogcate-100 {
        &:after {
          background-color: $red;
        }
      }

      &.diquay,
      &.blogcate-99 {
        &:after {
          background-color: #4f69f8;
        }
      }

      &.duhi,
      &.blogcate-101 {
        &:after {
          background-color: #0381a2;
        }
      }

      &.muagi,
      &.blogcate-102 {
        &:after {
          background-color: #688000;
        }
      }

      &.chonmomo,
      &.blogcate-103 {
        &:after {
          background-color: #da0f47;
        }
      }
    }
  }
}

// MGZ ARTICLE

.mgz__container {
  @include make-container();
}

.mgz__row {
  @include make-row();
  .mgz {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }

    &.is-12 {
      @include make-col(12);
    }
  }
}

.mgz {
  position: relative;
  margin-bottom: 30px;
}

.mgz__header {
}

.mgz__figure {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

  .embed-responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mgz__body {
  margin-top: 10px;
}

.infomgz {
  max-width: 800px;
}

.infomgz__header {
}

.infomgz__cat {
  margin-bottom: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &.dienanh {
    .infomgz__cat__link {
      color: $purple;
    }
  }

  &.theman,
  &.blogcate-100 {
    .infomgz__cat__link {
      color: $red;
    }
  }

  &.diquay,
  &.blogcate-99 {
    .infomgz__cat__link {
      color: #4f69f8;
    }
  }

  &.duhi,
  &.blogcate-101 {
    .infomgz__cat__link {
      color: #0381a2;
    }
  }

  &.muagi,
  &.blogcate-102 {
    .infomgz__cat__link {
      color: #688000;
    }
  }

  &.chonmomo,
  &.blogcate-103 {
    .infomgz__cat__link {
      color: #da0f47;
    }
  }
}
.infomgz__cat__link {
  font-size: 13px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 500;
  // font-weight: bold;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}

.infomgz__title {
  // @include rfs(19px);
  // line-height: 24px;

  font-weight: 700;
  margin-bottom: 0;

  a {
    color: gray("900");
    font-size: inherit;
    font-weight: 700;

    @include hover-focus() {
      color: gray("900");
      text-decoration: underline;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 21px;
  }
}

.infomgz__body {
  margin-top: 5px;
}
.infomgz__dek {
  font-size: 15px;
  line-height: 22px;
  margin-top: 10px;
  color: gray("800");
  &.is-2line {
    @include text-truncate-multy(2);
  }
}

.infomgz__meta {
  font-size: 13px;
  // font-weight: 700;
  color: gray("600");

  .time {
  }
  span {
  }
}

.middotDivider {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 16px;
  &:after {
    content: "\00B7";
  }
}

@include media-breakpoint-up(sm) {
  .mgzs__feature {
    margin-bottom: 30px;
    width: 100%;
    .mgz {
      width: 100%;

      display: flex;
      flex-flow: row nowrap;

      .mgz__header {
        padding-right: 10px;
        width: percentage(2/3);
        flex: 0 0 percentage(2/3);
      }

      .mgz__body {
        width: percentage(1/3);
        flex: 0 0 percentage(1/3);
      }
    }
    .infomgz {
      padding: 0 0 0 16px;
    }
  }

  .infomgz__title {
  }
}

@include media-breakpoint-up(lg) {
  .mgzs__feature {
    .mgz {
      .mgz__header {
        width: 50%;
        flex: 0 0 50%;
      }

      .mgz__body {
        width: 50%;
        flex: 0 0 50%;
      }
    }
    .infomgz {
      padding: 0 0 0 30px;
    }
  }
}

@include media-breakpoint-down(md) {
  .mgzs__feature {
    .infomgz__dek {
      @include text-truncate-multy(2);
    }
  }
}

.mgz-hori {
  &.mgz {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    .mgz__header {
      width: 200px;
      flex: 0 0 200px;
      order: 1;
    }

    .mgz__body {
      flex: 1;
      margin-top: 0;
      order: 2;
    }
  }
  .infomgz__body {
    margin-top: 5px;
  }
  .infomgz__title {
    @extend .h5;
    // @include rfs(21px);

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  .mgz__header {
    margin-top: 5px;
  }
  .infomgz {
    padding: 0 0 0 20px;
  }

  position: relative;
  margin-bottom: 20px;
  padding-bottom: 24px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    background-color: gray("300");
  }
}

.mgz-hori-small {
  &.mgz {
    .mgz__header {
      width: 140px;
      flex: 0 0 140px;
      order: 1;
    }
    .infomgz__title {
      font-size: 18px;
      // @include rfs(21px);

      @include media-breakpoint-down(sm) {
        font-size: 15px;
      }
    }

    .infomgz__dek {
      font-size: 14px;
      margin-top: 5px;
      line-height: 20px;
    }
    &:last-child() {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
      &:after {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .mgz-hori {
    &.mgz {
      .mgz__header {
        width: 100px;
        flex: 0 0 100px;
        order: 2;
      }

      .mgz__body {
        flex: 1;
        margin-top: 0;
        order: 1;
      }
    }
    .infomgz__body {
      margin-top: 3px;
    }
    .infomgz__dek {
      font-size: 14px;
      margin-top: 5px;
      line-height: 20px;
    }
    .infomgz__title {
      // font-size: 18px;
    }
    .mgz__header {
      margin-top: 5px;
    }
    .infomgz {
      padding: 0 10px 0 0;
    }

    .embed-responsive-15by20:before {
      padding-top: 100%;
    }
    .mgz__figure {
      border-radius: 0;
    }
  }
}

.img-trace {
  display: none !important;
}

.mgz__popular {
  .infomgz__title {
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  &.mgz {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  @include media-breakpoint-up(lg) {
    &.mgz {
      width: 100%;
      flex: 0 0 100%;
      display: flex;
      flex-flow: row wrap;
      .mgz__header {
        width: 150px;
        flex: 0 0 150px;
      }

      .mgz__body {
        flex: 1;
        margin-top: 0;
      }

      .infomgz__header {
        padding-top: 15px;
        position: relative;
        &:after {
          content: "";
          width: 30px;
          height: 1px;
          position: absolute;
          top: 5px;
          left: 0;
          background-color: gray("300");
        }
      }
    }
    .infomgz {
      padding: 0 0 0 15px;
    }
  }

  .mgz__figure {
    position: relative;
  }

  .mgz__header {
    margin-top: 5px;
  }
  .mgz__popular-number {
    position: absolute;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.57);
    bottom: 6px;
    left: 13px;
    @include rfs(32px);
    color: gray("100");
    z-index: 5;
    font-weight: 700;
    pointer-events: none;
  }

  .mgz__figure-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(
      125deg,
      transparent 54%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  position: relative;
  margin-bottom: 20px;

}

.mgz__popular__list {
  .mgz__row {
    display: flex;
    flex-flow: row wrap;

  }
  @include media-breakpoint-down(md) {
    .mgz__row {
      // scroll-padding-left: 20px;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      // height: 330px;
      flex-wrap: nowrap;
      padding-left: 0;
      scroll-snap-type: x mandatory;
      overflow: auto;
      margin-left: 0;
      margin-right: 0;
      .mgz {
        margin-right: 24px;
        scroll-snap-align: start;
        width: calc(100% -24px);
        max-width: 200px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .mgz__row {
      .mgz {
        margin-right: 16px;
        width: calc(100% - 16px);
        flex: 0 0 calc(100% - 16px);
        max-width: 180px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// .mgz__row {
//   .mgz-hori:last-child() {
//     margin-bottom: 20px;
//     padding-bottom: 0;
//     &:after {
//       display: none;
//     }
//   }
// }

//MAGAZINE DETAIL
// .post__feature__background {
//   position: relative;
//   background-color: black;
//   display: block;
//   width: 100%;
//   padding: 0;
//   overflow: hidden;
//   &:before {
//     display: block;
//     content: "";
//     padding-top: percentage(4.5/20);
//   }
//   &:after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
//     background: radial-gradient(
//       ellipse at center,
//       rgba(0, 0, 0, 0.3) 0%,
//       rgba(0, 0, 0, 0.45) 100%
//     );
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#a6000000',GradientType=1 );
//     background-size: cover;
//     background-position: center;
//   }
//   .inner {
//     background-size: cover;
//     background-position: center;
//     backface-visibility: hidden;
//     position: absolute;
//     top: -5%;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     height: 110%;
//   }

//   @include media-breakpoint-down(sm) {
//     &:before {
//       display: block;
//       content: "";
//       padding-top: percentage(10/20);
//     }
//   }
// }
.post__wrap {
  padding: 30px 15px;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(lg) {
    max-width: 700px;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 5px 20px 5px;
  }

  // .btn-primary {
  //   @extend .btn-primary-2;
  // }
}

body {
  position: relative;
}

.post__spy__width {
  width: 260px;
  flex: 0 0 260px;
}

.theiaStickySidebar {
  .post__spy__wrapper {
    position: sticky;
    top: 0;
  }
}

.post__spy__wrapper {
  padding: 30px 0 70px 0px;
  position: sticky;
  top:55px;
  // position: absolute;
  // top: 10px;
  // right: -260px;

  // margin-top: -150px;

  // .post__spy__arrow {
  //   display: none;
  // }

  // @include media-breakpoint-down(sm) {
  //   left: 0;
  //   right: 0;
  //   margin-top: 0;

  //   border-radius: 0;
  //   .contentPart & {
  //     position: fixed;
  //     top: 44px;
  //     background: white;
  //     z-index: 99;
  //   }

  //   .post__spy {
  //     padding: 0 10px 0;
  //     // height: 50px;
  //     border-radius: 0;
  //     // border-bottom: 1px solid gray("300");
  //     overflow: hidden;
  //     .post__spy__arrow {
  //       display: block;
  //       position: absolute;
  //       right: 10px;
  //       top: 13px;
  //     }

  //     &.is-active {
  //       .post__spy__arrow {
  //         display: none;
  //       }

  //       .post__spy__list {
  //         .list-group-item {
  //           display: block;
  //         }
  //       }
  //       .post__spy__expand {
  //         pointer-events: none;
  //       }
  //     }
  //   }
  //   .post__spy__tt {
  //     // display: none;
  //     padding: 20px 0;
  //   }
  //   padding: 0;
  //   top: 44px;

  //   .post__spy__list {
  //     a {
  //       padding: 14px 5px 14px 5px;
  //       white-space: nowrap;
  //       text-overflow: ellipsis;
  //       overflow: hidden;
  //     }

  //     .list-group-item {
  //       display: none;
  //     }
  //     .list-group-item.active {
  //       display: block;
  //     }
  //   }
  // }
}

// .post__spy__expand {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: 10;
//   cursor: pointer;
// }

.post__spy__tt {
  font-size: 13px;
  font-weight: bold;
  color: gray("500");
  margin-bottom: 10px;
}

.post__spy {
  position: relative;
  background: #fff;
  width: 230px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 20px 25px;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.post__spy__title {
  // font-size: 1rem;
  font-size: 14px;
  font-weight: normal;
  color: gray("800");
}

.post__spy__list {
  color: gray("600");
  top: 40px;

  a {
    display: block;
    border: none;
    padding: 0 0 10px 0;
    font-size: 14px;
    @include hover-focus() {
      color: $primary-2;
    }
    &.active {
      margin-top: 0 !important;
      border: none;
      color: $primary-2;
      font-weight: bold;
      background-color: transparent;
    }
  }
  a {
    color: gray("800");
    @extend .link-gray;
  }
}

.post__spy__inside {
  width: 100%;
  // padding: 20px;
  border-radius: 5px;
  background-color: gray("200");
  li {
    display: block;
    padding: 2px 0 2px 15px;
  }

  a {
    font-size: 17px;
    border-bottom: 1px dotted rgba($primary, 0.2);
  }
  @include media-breakpoint-down(sm) {
    // padding: 15px;
    li {
      display: block;
      padding: 2px 0 2px 10px;
    }
    a {
      font-size: 15px;
    }
  }
}

.post__hero {
  // background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(233, 162, 188, 0.1) 45%, rgba(233, 162, 188, 0.1) 45%);
  overflow: hidden;
}

.post__title {
  line-height: 1.3;
  // font-weight: 400;
  font-family: "Inter", sans-serif;

  @include rfs(34px);
  letter-spacing: -0.02em;
}

.post__hero__inner {
  display: flex;
  align-items: center;
}

.post__meta {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  @include media-breakpoint-down(sm) {
    .post__meta__item {
      font-size: 13px;
      .infomgz__cat__link {
        font-size: 13px;
        // font-weight: bold;
      }
    }
  }
}

.post__meta__item {
  font-size: 14px;
  text-transform: uppercase;
  color: gray("600");
  font-weight: 700;
  .infomgz__cat__link {
    font-size: 14px;
    font-weight: bold;
  }

  .middotDivider {
    padding-right: 6px;
    padding-left: 6px;
    font-size: 15px;
  }
}

.post__divider {
  margin-top: 42px;
  margin-bottom: 32px;
  display: block;
  border: 0;
  text-align: center;
  overflow: visible;

  &:before {
    // font-family: medium-content-slab-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.6em;
    content: "...";
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -30px;
  }
}

/* 7. Single Post
/* ---------------------------------------------------------- */
/* ^ Required to make .post-full-content:before/after z-index stacking work */
/* Full bleed images (#full)
Super neat trick courtesy of @JoelDrapper

Usage (In Ghost edtior):

![img](/some/image.jpg#full)

*/
/* Image captions

Usage (In Ghost editor):

![img](/some/image.jpg)
<small>Your image caption</small>

*/
/* Some grouped styles for smaller viewports */
/* Tables */
.post-template {
  .site-main {
    padding-bottom: 4vw;
    background: #fff;
  }
}
.page-template {
  .site-main {
    padding-bottom: 4vw;
    background: #fff;
  }
}
.post-full {
  position: relative;
  z-index: 50;
}

.post__feature__image {
  // margin-left: -150px;
  // margin-right: -150px;
  // margin-bottom: 30px;

  margin-top: 30px;
  position: relative;
  &:before {
    display: block;
    content: "";
    padding-top: percentage(60/192);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }

  @include media-breakpoint-down(lg) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
}

.post-full-header {
  margin: 0 auto;
  padding: 6vw 3vw 3vw;
  max-width: 1040px;
  text-align: center;
}
.post-full-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--midgrey);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.post-full-meta-date {
  color: var(--blue);
}
.post-full-title {
  margin: 0;
  color: color(var(--darkgrey) l(-5%));
}
.date-divider {
  display: inline-block;
  margin: 0 6px 1px;
}
.post-full-image {
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  margin: 0;
  background: #c5d2d9 50%;
  background-size: cover;
  border-radius: 3px;
}

.post__sapo {
  @extend .font-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;

  hr {
    font-style: normal;
    display: block;
    margin: 1.5em 0;
    border: 0;
    text-align: center;
    height: auto;
    color: $pinkmomo;
    font-weight: 300;
    &::after {
      content: "\2042";
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    // line-height: 29px;
  }
}

.post-full-content {
  @extend .font-serif;
  font-weight: 400;
  font-size: 18px;
  // line-height: 27px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    // line-height: 29px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Inter, sans-serif;
  }
}

.post-full-content {
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.62;

  img {
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    border-style: none;
    // border-radius: 5px;
  }

  img,
  .fancybox-item {
    // max-width: 700px;
    max-width: 100%;
    width: auto;
    display: block;
    // margin: 1.5em auto;
    // max-width: 1040px;

    + {
      em {
        padding: 8px 15px;
        font-size: 16px;
        line-height: 22px;
        color: gray("700");
        display: block;
        // margin-top: -3em;
        // margin-bottom: 1.5em;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
    }
  }

  h2 {
    font-weight: 700;
    overflow-wrap: break-word;
    @include rfs(26px);
    letter-spacing: -0.02em;
    // line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  h3 {
    overflow-wrap: break-word;
    @include rfs(20px);

    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  h4 {
    font-weight: 700;
    overflow-wrap: break-word;
    @include rfs(18px);

    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-weight: 700;
    overflow-wrap: break-word;
    @include rfs(17px);

    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(sm) {
    h2 {
      @include rfs(20px);
    }

    h3 {
      @include rfs(18px);
    }

    h4 {
      @include rfs(16px);
    }
    h5 {
      @include rfs(16px);
    }
  }

  ol {
    padding-left: 1.2em;
    list-style-position: outside;
    list-style-type: decimal;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  ul {
    padding-left: 1.2em;
    list-style-position: outside;
    list-style-type: disc;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  p {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  li {
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
  blockquote {
    font-weight: 600;
    overflow-wrap: break-word;
    color: #575b60;
    font-size: 1.125em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    padding-left: 1em;
    border-left: solid 0.12em $pinkmomo;
  }
  hr {
    display: block;
    margin: 1.5em 0;
    border: 0;
    text-align: center;
    height: auto;
    color: $pinkmomo;
    font-weight: 300;
    &::after {
      content: "\2042";
    }
  }
  figcaption {
    font-size: 0.8125rem;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    a {
      font-weight: inherit;
      color: inherit;
      text-decoration: underline;
    }
  }
  strong {
    font-weight: 600;
    color: #000;
  }
  em {
    font-style: italic;
  }
  a {
    text-decoration: none;
    transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    color: $pinkmomo;
    font-weight: 600;
    &:active {
      color: $pink;
      -webkit-tap-highlight-color: rgba(251, 131, 50, 0.08);
    }
  }

  .btn {
    color: white;
    font-weight: bold;
  }

  code {
    font-family: "SF Mono", "Source Code Pro", Consolas, Menlo, monospace;
    font-size: 0.875em;
    padding: 0.2em 0.4em;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
    overflow-wrap: break-word;
    overflow-x: auto;
    font-weight: 500;
  }
  pre {
    font-family: "SF Mono", "Source Code Pro", Consolas, Menlo, monospace;
    code {
      display: block;
      padding: 1.14286em;
      overflow-wrap: break-word;
      border-radius: 0.25rem;
      background-color: #fff;
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
  img {
    &:not([class]) {
      max-width: 100%;
      display: block;
      height: auto;
    }
  }
  figure {
    iframe {
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      display: block;
      overflow: hidden;
    }
    &:not([class]) {
      img {
        border-radius: 4px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        display: block;
        overflow: hidden;
        width: 100%;
        margin-top: 1em;
      }
    }
  }
  video {
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 1em;
  }
  figure.embed {
    width: 100%;
    margin-top: 1em;
  }
  figure + p {
    margin-top: 2em;
  }

  h1 {
    a {
      font-weight: inherit;
    }
  }
  h2 {
    a {
      font-weight: inherit;
    }
  }
  h3 {
    a {
      font-weight: inherit;
    }
  }
  h4 {
    a {
      font-weight: inherit;
    }
  }
  h5 {
    a {
      font-weight: inherit;
    }
  }
  h6 {
    a {
      font-weight: inherit;
    }
  }
}

@media screen and (min-width: 768px) {
  .post-full-content {
  }
}

@media (hover: hover) {
  a {
    &:focus {
      color: $pink;
    }
    &:hover {
      color: $pink;
    }
  }
}

.tags {
  a {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 12px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: gray("600");
    font-weight: 700;
    display: inline-block;
    @include hover-focus() {
      background-color: rgba(0, 0, 0, 0.1);
      color: gray("800");
    }
  }
}

.mgz__rating {
  color: gray("700");
  svg {
    width: 14px;
    vertical-align: -30%;
  }
}
