.embed-responsive-kv-promotion {
    &::before {
      padding-top: percentage(500/1900);
    }
  }
  
  @include media-breakpoint-down(sm) {
    .embed-responsive-kv-promotion {
      &::before {
        padding-top: percentage(1080/750);
      }
    }
  }