
.food-tab-item {
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 9px 10px 9px 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 120px;
}

.food-tab-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  flex: 0 0 30px;

  img {
    width: 100%;
  }
}

.tinhnang-tab-content {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 25px;
  @include media-breakpoint-down(xs) {
    padding: 10px 15px;
  }
}

.food-tab-link {
  display: block;
  // margin-bottom: 5px;
  padding-bottom: 8px;

  position: relative;
  transition: all 0.2s ease-in;

  &:after,
  &:before {
    content: "";
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &.active {
    transform: translateY(5px);

    &:after,
    &:before {
      opacity: 1;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 12px;
      background: white;
      left: 0;
      right: 0;
      bottom: -1px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    &:after {
      content: "";
      position: absolute;

      width: 100%;
      height: 14px;
      background: white;
      left: 0;
      right: 0;
      bottom: -1px;
    }
  }
}

.swiper-tab-tinhnang {
  margin-left: -2px;
  margin-right: -2px;
  .swiper-slide {
    display: block;
    width: 160px;
    padding: 5px 2px 0 2px;
  }
  .swiper-wrapper {
    flex-wrap: nowrap;
  }
}



.food-tab-name {
  font-size: 13px;
  line-height: 16px;
  color: gray("700");
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}



.sc-menu {
  padding: 0;
  position: relative;
  left: 0;
  top: -25px;
  z-index: 10;

  @include media-breakpoint-up(sm) {
    top: -50px;
  }
}

.sg-nav-container {
  position: relative;

  position: -webkit-sticky;
  position: sticky;
  top: 68px;
  background: #fff;
  z-index: 100;

  &.is-relative {
    position: relative;
    top: 0;
  }
  @include media-breakpoint-down(md) {
    top: 58px;
  }
}

.copy-code {
  text-align: center;

  & > .code {
    background: rgba(255, 232, 246, 0.8);
    border: 1px dashed rgba(165, 0, 100, 0.4);
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    width: 260px;
    margin: 0 auto;

    text-align: center;

    color: $pinkmomo;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: relative;
    z-index: 10;
  }

  & > input {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
    opacity: 0;
  }
}

.article-modal {
  .modal-dialog {
    color: gray("900");
  }

  .modal-body {
    padding: 20px;
  }

  .modal__title {
    font-size: 18px;
  }

  .article-modal-back {
    opacity: 0;
    pointer-events: none;
  }

  @include media-breakpoint-up(md) {
    .modal-body {
      padding: 30px 40px;
    }

    .modal-dialog {
      max-width: 800px;
    }

    .modal-content {
      border-radius: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    .article-modal-back {
      opacity: 1;
      pointer-events: auto;
    }

    .article-modal-close {
      opacity: 0;
      pointer-events: none;
    }

    .modal-dialog,
    .modal-content {
      width: 100%;
      height: 100%;
    }

    .modal-dialog {
      margin: 0 auto;
      padding: 0;
    }

    .modal-content {
      box-shadow: none;
      border-radius: 0;
      border: 0;
      // Remove focus outline from opened modal
      outline: 0;
    }

    // When fading in the modal, animate it to slide down
    &.modal.fade .modal-dialog {
      transform: translate(100%, 0);
    }

    &.modal.show .modal-dialog {
      transform: none;
    }

    .modal-dialog-scrollable {
      max-height: 100%;
    }

    .modal-dialog-scrollable .modal-content {
      max-height: 100%;
    }

    .modal-footer {
      padding: 5px;
    }

    @include media-breakpoint-up(sm) {
      .modal-dialog-scrollable .modal-content {
        max-height: 90%;
        top: 5%;
      }
    }
  }
}

.service-item {
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  margin: 4px;

  @include media-breakpoint-up(md) {
    margin: 10px 10px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .si-body {
    .rounded-circle {
      width: 45px;
      height: 45px;
      margin: 0 auto;
      padding: 8px;

      img {
        width: 100%;
      }
    }
  }

  color: gray("700");
  // transform: translate3d(0, 0, 0);
  box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
  transition: all 0.1s ease-in;
  
  @include media-breakpoint-up(md) {
    @include hover-focus() {
      transform: translate3d(0, -3px, 0);
      cursor: pointer;
      color: $pinkmomo;
      box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.2);
    }
  }
}

.service-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.service-item {
  width: 100px;
  flex: 0 0 100px;
  height: 85px;
  border-radius: 5px;
  background-color: white;
}

.img-filter-white {
  filter: brightness(0) invert(1);
}

.sg-nav-container {
  .breadcrumb {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
  }

  .img-icon {
    width: 1.5em;
    margin-right: 4px;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    flex: none;

    &.active > a {
      font-weight: 700;
      color: $pinkmomo;
    }
  }

  .breadcrumb-cat {
    flex: 0 0 auto;
    padding-right: 8px;

    & + .breadcrumb-cat {
      &:before {
        background: gray("500");
        width: 1px;
        padding: 0;
        margin-right: 10px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .breadcrumb-cat {
      padding-right: 8px;

      & + .breadcrumb-cat {
        &:before {
          margin-right: 10px;
        }
      }
    }

    .breadcrumb {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.reason__item__left,
.reason__item__right {
  padding-top: 40px;
}

@include media-breakpoint-down(md) {
  .reason__item__left,
  .reason__item__right {
    padding-top: 0;
  }
}

@include media-breakpoint-down(sm) {
  .reason__service {
    .reason__item__left,
    .reason__item__right {
      // display: flex;
      // flex-flow: row nowrap;
      max-width: 100% !important;
      width: 100% !important;
      /* display: block; */
      flex: 0 0 100% !important;
    }

    .reason__item__content {
      // font-size: 13px;
      color: gray("700");
      max-width: 300px;
      margin: 0 auto;

      h6 {
        font-size: 17px;
        margin: 5px 10px;
      }
    }
  }
}

.partner {
  transition: all 150ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 13px 13px 36px -18px rgba(0, 0, 0, 0.3),
      0 0 50px -12px rgba(50, 50, 93, 0.13);
    transform: translate(0, -2px);
  }
}

.svf {
  .so {
    color: white;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    padding: 0;
    font-weight: bold;
    text-align: center;
    display: block;
    // vertical-align: middle;
    // transition: all 0.2s ease-in;
  }

  .cirlewhite {
    width: 54px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    float: left;
    // background: $gradient-momo;
    background-color: $pink;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    transition: all 0.3s;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.9),
      0 0 0 0 rgba(255, 255, 255, 0.9);

    & > span {
      transition: opacity 0s ease-out;
    }

    &::before {
      content: "";
      background: no-repeat 55% 50% url(../img/service/icon-play.png);
      background-size: 35% auto;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 0.3s ease-in;
    }
  }

  @include media-breakpoint-down(sm) {
    .cirlewhite {
      box-shadow: none;

      & > span {
        opacity: 1 !important;
      }

      &::before {
        opacity: 0 !important;
      }
    }

    .so {
      font-size: 20px;
      line-height: 40px;
    }

    .cirlewhite {
      width: 40px;
      height: 40px;
    }

    .icon-play {
      display: flex;
    }
  }
}

.svf-item {
  position: relative;
  background: white;
  padding: 15px 20px;
  border-radius: 40px;
  color: gray("800");
  max-width: 350px;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 15px;
  min-height: 70px;
  padding-left: 74px;
  display: flex;
  align-items: center;
  margin: 0 auto 15px;

  &::after {
    content: unset;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: no-repeat 55% 50% url(../img/service/icon-play.png),
      linear-gradient(to right, #a50064, #e81f76);
    background-size: 45% auto, 100% 100%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }

  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: auto;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    font-size: 13px;
    padding: 5px 50px 5px 65px;
    min-height: 50px;
    font-size: 16px;

    &::after {
      content: "";
    }
  }

  .link-absolute {
    &:hover {
      + .cirlewhite {
        background: linear-gradient(to right, #a50064, #e81f76);
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.9),
          0 0 0 30px rgba(255, 255, 255, 0);

        & > span {
          opacity: 0;
        }

        &::before {
          opacity: 1;
        }
      }

      ~ * {
        color: $pinkmomo;
        // font-weight: bold;
      }
    }
  }
}

.svf-right {
  @include media-breakpoint-up(md) {
    .svf-item {
      padding-left: 20px;
      padding-right: 74px;
      margin-right: auto;
      margin-left: 0;
      justify-content: flex-end;
      text-align: right;
    }

    .cirlewhite {
      left: auto;
      right: 8px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .app-download.service {
    height: auto;
    background-color: rgb(247, 247, 248);

    &.is-active .headerstrip__banner-dismiss {
      display: none;
    }

    .container {
      padding: 8px;
    }

    .app-download__content {
      display: flex;
      height: 100%;
    }

    .tt {
      display: none;
    }

    .app-download__btn {
      margin: 0;
      width: 100%;

      .btn {
        width: 100%;
        display: flex;
        font-size: 16px;
        line-height: 44px;
        min-height: 44px;
        padding: 0 !important;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
      }

      .btn-pulse:before {
        display: none;
      }
    }
  }
}

//SERVICE OTA CSS

.block-form-ota {
  display: block;
  // margin-top: -115%;
  position: relative;
  z-index: 3;
  padding-bottom: 2rem;
  // padding-top: 180px;
  position: relative;


  @include media-breakpoint-down(xl) {
    // padding-top: 150px;
  }

  // @include media-breakpoint-down(md) {
  //   padding-top: 150px;
  // }



  // @include media-breakpoint-down(sm) {
  //   padding-top: 12%;
  // }

  &:after{

    user-select: none;
    pointer-events: none;
    content : "";
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 19%;
    position: absolute;
    background-repeat: no-repeat;

    // @include media-breakpoint-down(xl) {
    //   background-size: auto 340px, auto 340px ;
    // }

    // background-color: #fb8dbc;


    // @media (max-width: 1000px) {

    //   background-size: 170% auto;
   
    // }

    // @media (max-width: 700px) {

    //   background-size: auto 300px;
   
    // }

    @media (max-width: 500px) {

      background-position: center top;

      background-size: 100% auto;
  
      background-repeat: no-repeat;
      background-color: transparent;
  
   
    }

  }


  // @media (min-width: 375px) {
  //   margin-top: -115%;
  // }

  // @media (min-width: 425px) {
  //   margin-top: -115%;
  // }

  // @include media-breakpoint-up(md) {
  //   margin-top: -30%;
  // }

  // @include media-breakpoint-up(lg) {
  //   margin-top: -30%;
  // }

  // @include media-breakpoint-up(xl) {
  //   margin-top: -25%;
  // }

  // @media (min-width: 1440px) {
  //   margin-top: -20%;
  // }

  // @media (min-width: 1600px) {
  //   margin-top: -17.5%;
  // }

  // @media (min-width: 2000px) {
  //   margin-top: -15%;
  // }

  .text-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .form-ota {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 50px;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 15px;

    align-content: end;

    .form-group {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, minmax(0, 1fr));

      grid-template-areas:
        "one"
        "two"
        "tree"
        "four"
        "five"
        "six";

      .ota-box-ngaydi{
        grid-area: tree;
        margin-right: 100px;
      }

      .ota-box-ngayden{
        .form-check{
          position: absolute;
          top: -50px;
          right: 0;
        }
      }

      .ota-box-hanhkhach{
        grid-area: five;
      }

      .ota-box-ngayden{
        grid-area: four;
      }
    }

    label {
      font-weight: bold;
      margin-bottom: 3px;
    }

    .label-khuhoi {
      color: gray("800");
    }

    .form-group {
      &.is-invalid {
        label {
          color: red;
        }

        .input-group {
          border: 1px solid red;
          border-radius: 7px;
        }

        .ota-box-maker {
          .form-control,
          .form-control:invalid {
            border-color: #dc3545;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
          }
        }
      }
    }

    .input-group {
      .form-control {
        background-color: #ebf3fe;
        border: none;
        border-radius: 7px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: $gray-900;
        font-weight: 500;
      }

      .input-group-text {
        background-color: #ebf3fe;
        border: none;
        position: relative;
        border-radius: 7px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &::after {
          content: "";
          background-color: #cbe0fb;
          height: 70%;
          position: absolute;
          width: 1.1px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      // &:focus{
      //   border: 1px solid $blue;
      // }
    }

    .form-check {
      padding-left: 0;

      @include media-breakpoint-up(md) {
        padding-top: 0;
        // margin-bottom: 7px;
      }

      .form-check-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .label-khuhoi {
        cursor: pointer;
        position: relative;
        padding-left: 28px;

        @include media-breakpoint-up(md) {
        }

        &::after {
          content: "";
          background: url(../img/service/icon-checkbox.svg) scroll no-repeat top
            left;
          position: absolute;
          top: 2px;
          left: 0;
          width: 18px;
          height: 18px;
          // transition: all 120ms ease-in;
          background-size: cover;
        }
      }

      .form-check-input:checked + .label-khuhoi::after {
        background: url(../img/service/icon-checkbox-checked.svg) scroll
          no-repeat top left;
        background-size: cover;
      }
    }

    .btn-timkiem {
      width: 100%;
      border-radius: 7px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;

      &:disabled {
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
      }
    }

    .form-group-btn {
      // padding-top: 30px;
    }
  }

  .form-control {
    height: 42px;
  }
}

// .modal-timdiadiem,
// .modal-hanhkhach {
//   .modal-dialog {
//     .modal-content {
//       border-radius: 15px;
//       max-height: 75vh;

//       .close {
//         color: #A50064;
//         font-size: 25px;
//         opacity: 1;
//       }
//     }
//   }

//   .modal-header {
//     border: none;
//   }
// }

.modal-timdiadiem {
  // .modal-dialog {
  //   .modal-content {
  //     height: 75vh;
  //   }
  // }

  .block-timdiadiem {
    .form-control {
      background-color: #f2f2f2;
      border: none;
      border-radius: 100px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .input-group-text {
      background-color: #f2f2f2;
      border: none;
      position: relative;
      border-radius: 100px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      > img {
        filter: grayscale(100%) brightness(78%);
        -webkit-filter: grayscale(100%) brightness(78%);
        -moz-filter: grayscale(100%) brightness(78%);
      }
    }
  }

  // .modal-body {
  //   padding-left: 0;
  //   padding-right: 0;
  // }

  .list-group {
    border-radius: 0;
  }

  .list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray("200");

    &.active {
      // .airport-name {
      //   color: #fff;
      // }

      // .airport-code {
      //   color: #fff;
      // }
      background-color: rgba($primary, 0.2);
    }
  }

  .airport-name {
    font-weight: bold;
    color: #333333;
  }

  .airport-code {
    font-weight: 600;
    color: #828282;
  }
}

.modal-hanhkhach {
  .hk-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  .hk-count {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #2f80ed;
  }

  .btn-group {
    border: 1px solid #bdbdbd;
    border-radius: 100px;
    overflow: hidden;

    .btn {
      position: relative;
      background-color: #fff;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      height: 35px;
      color: #a50064;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        border: none;
        background-color: rgba(244, 81, 151, 0.1);
      }

      &:first-child::after {
        content: "";
        border-right: 2px solid #828282;
        width: 0;
        height: 80%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:disabled {
        background: rgba(204, 204, 204, 0.6);
        color: #fff;
      }
    }
  }

  .btn-huy,
  .btn-xacnhan {
    border-radius: 5px;
    font-weight: bold;
  }

  .btn-huy {
    border: 1px solid #bdbdbd;
    color: #eb5757;
  }

  .btn-xacnhan {
    border: 1px solid #a50064;
    background: #a50064;
    color: #f2f2f2;
  }
}

.service-ota {
  // .flatpickr-day {
  //   border-radius: 50%;

  //   &.today {
  //     border-color: #F45197;

  //     &:hover {
  //       background-color: transparent;
  //     }
  //   }

  //   &.selected {
  //     border-color: #F45197;
  //     background-color: #F45197;
  //   }
  // }

  // .flatpickr-next-month,
  // .flatpickr-prev-month {
  //   svg {
  //     fill: #2F80ED;
  //   }
  // }

  // .flatpickr-current-month {
  //   width: 100%;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // .flatpickr-monthDropdown-months {
  //   line-height: 1.5em;
  // }

 
}

.numInputWrapper {
  user-select: none;
  pointer-events: none;
}
.flatpickr-current-month {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
.flatpickr-months .flatpickr-month {
  height: 60px;
}
.flatpickr-current-month input.cur-year {
  font-weight: bold;
}

.btn-doichuyenbay {
  background: $primary-3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  z-index: 3;

  @include hover-focus() {
    background: darken($primary-3, 10%);
  }

  @include media-breakpoint-up(md) {
    margin-top: 0;

    > img {
      transform: rotate(90deg);
    }
  }
}

.block-doichuyenbay {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 26px;

  @include media-breakpoint-up(md) {
    width: auto;
    height: auto;
    padding-top: 0;
    flex-direction: row;

    bottom: 7px;
    top: auto;
    right: -26px;

    .icon-noiden,
    .icon-noidi {
      display: none;
    }
  }

  .icon-noidi {
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 20px;
      border-right: 1px dashed #4f4f4f;
      display: block;
      position: absolute;
      bottom: -20px;
      left: calc(50% - 1px);
    }
  }

  .icon-noiden {
    position: relative;

    &::before {
      content: "";
      width: 0;
      height: 20px;
      border-right: 1px dashed #4f4f4f;
      display: block;
      position: absolute;
      top: -20px;
      left: calc(50% - 1px);
    }
  }
}

.table-vemaybay {
  thead {
    tr {
      border: none;
    }

    th {
      border: none;
      color: #333333;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      cursor: pointer;
      border-top: none;
      border-bottom: 1px solid #e0e0e0;

      td {
        &:not(:first-child) {
          text-align: right;
        }

        &:last-child {
          background: url(../img/service/icon-arrow-right.svg) scroll no-repeat
            91% 48%;
          padding-right: 30px;

          @include media-breakpoint-up(md) {
            background-position: 100% 48%;
          }
        }
      }
    }

    td {
      border: none;
      vertical-align: middle;
      color: #828282;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.img-city {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  @extend .position-relative;
  overflow: hidden;
  max-width: 335px;
  background-color: #ccc;

  &::before {
    content: "";
    display: block;
    // padding-bottom: 50.1492%;
    padding-bottom: 48%;
  }

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}


.block_sortby {
  position: relative;
  display: flex;
  overflow: hidden;
  border: 1px solid #a50064;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: white;

  .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #4f4f4f;
    flex: 0 0 49.9999%;
    max-width: 99.9999%;
    padding-left: 0;
    padding-right: 0;

    & > img {
      margin-right: 8px;
    }

    &:not(:first-child)::before {
      content: "";
      width: 0;
      height: 80%;
      border-left: 1px solid #828282;
      position: absolute;
      top: 10%;
      left: 0;
    }
  }
}

.danhsach-vemaybay {
  .item-vemaybay {
    background-color: #fff;
    border: 0.5px solid #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.4rem;
    margin-bottom: 20px;

    transition: all 120ms ease-in-out;
    
    @include media-breakpoint-up(md) {
      @include hover-focus() {
        border-color: #2F80ED;
        box-shadow: 13px 13px 36px -18px rgba(0, 0, 0, 0.3),
        0 0 50px -12px rgba(50, 50, 93, 0.13);
        // transform: translate(0, -2px);
      }
    }
  }

  .img-logo-airline {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 5px;

    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      width: 100%;
    }
  }

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  .block-info-air {
    background: #f7faff;
    border-radius: 7px;
  }

  .time,
  .airline-name {
    color: #333333;
  }

  .code,
  .airline-seat {
    color: #828282;
  }

  .time-air,
  .air-type {
    color: #828282;
  }

  .time-air {
    padding-bottom: 7px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -7.5px;
      left: 50%;
      transform: translateX(-50%) rotate(-90deg);
      background: url(../img/service/icon-maybay-noidi.svg) scroll no-repeat 50%
        50% / auto 100%;
      z-index: 1;
      width: 16px;
      height: 16px;
      backdrop-filter: grayscale(100%);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px dotted #BDBDBD;
    }

    &.none-icon {
      &::after {
        content: none;
      }
    }
  }

  .air-type {
    padding-top: 6px;
  }

  .hanhly-chitiet {
    font-size: 12px;
    line-height: 16px;
    color: #2f80ed;

    & > img {
      margin-right: 5px;
    }
  }

  .price {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #eb5757;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .block-note {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #31006f;
    background: #cbbfdb;
    border-radius: 100px;
    text-align: center;
    padding: 5px 16px;
    display: inline-block;
  }

  .btn-bookvemaybay {
    color: #a50064;
    background-color: #fff;
    border: 1px solid #a50064;
    border-radius: 100px;
    transition: all 150ms ease-in-out;

    & > img {
      margin-right: 10px;
    }

    @include hover-focus() {
      color: #fff;
      background-color: #a50064;
    }
  }
  
  
}
.block-chuyenbay-mobile {
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0px 0px;
  padding: 20px 20px 12px;
  .btn-closed {
    color: #A50064;
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 100px;
    text-shadow: 0 1px 0 #fff;
    height: 26px;
    width: 26px;
    padding: 0;
    line-height: 1;
  }
}

.ota-box-input {
  position: relative;
  .form-control {
    font-size: 16px;
    border: none;
    padding: 5px 10px 5px 44px;
    height: 44px;
    background-color: #ebf3fe;
    font-weight: 500;
    cursor: pointer;
    color: gray("900");
    border-radius: 5px;
    border: 1px solid #ebf3fe;
    &::placeholder {
      color: gray("600");
    }
    &:hover {
      border: 1px solid rgba(#2f80ed, 0.5);
    }
  }
  .icon {
    position: absolute;
    left: 14px;
    top: 13px;
    user-select: none;
    pointer-events: none;
  }

  // &.ota-box-show {
  //   .form-control {
  //     border: 1px solid #2f80ed;
  //     box-shadow: inset 0 0 0 1px #2f80ed;
  //   }
  // }
}

.ota-box-search {
  border-bottom: 1px solid gray("300");
  position: relative;
  .form-control {
    background-color: white;
    cursor: text;

    &:hover,
    &:focus {
      border: 1px solid transparent;
    }
  }
}

.ota-box-list {
  padding: 0 0;
  .ota-box-item:not(:last-child) {
    border-bottom: 1px solid gray("200");
  }

  @include media-breakpoint-up(md) {
    max-height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

.ota-box-item {
  padding: 11px 17px 9px;
  cursor: pointer;
  .tt {
    font-weight: bold;
    margin-bottom: 4px;
  }
  .tb {
    font-size: 13px;
    color: gray("600");
  }
  &:hover {
    background-color: gray("100");
  }
}

.ota-box-container {
  position: relative;
  z-index: 1;
}

.ota-box-popper {
  width: 320px;
  // border-radius: 8px;
  background-color: #fff;
  // border: 1px solid #2f80ed;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(40, 154, 241, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  // overflow: auto;
  top: 0;
  z-index: 7;

  outline: none;
  transform: translate3d(0, 0, 0) !important;

  // height: 38px;
  backface-visibility: hidden;
  // transform-origin: 50%;
  padding: 0;
  padding: 0;
  border: none;
  top: 0;
  margin: 0;

  // @include media-breakpoint-down(sm){
  //   position: fixed  !important;
  //   z-index: 99  !important;
  //   top: 0 !important;
  //   left: 0 !important;
  //   width: 100%  !important;
  // }
}
.ota-box-container {
  &.is-active {
    .ota-box-popper {
    }
  }
  &.show {
    z-index: 10;
  }
}

// .block-form-ota{
//   z-index: 999;
//   @include media-breakpoint-down(sm){
//     .ota-box-popper{
//       position: fixed !important;
//       background-color: white !important;
//       z-index: 99 !important;
//       width: 100% !important;
//       top: 0 !important;
//       left: 0 !important;
//       right: 0 !important;
//       height: 100% !important;
//     }
//   }
// }

.ota-form-sort {
  color: #4f4f4f;
  label {
    color: #828282;
    padding-left: 0;
  }
  .form-group label {
    @include hover-focus() {
      color: #000;
    }
  }
  .noUi-target {
    height: 4px;
  }
  .noUi-connects {
    background: #E0E0E0;
    border-radius: 100px;
  }
  .noUi-connect {
    background: #F45197;
    border-radius: 100px;
  }
  .noUi-horizontal .noUi-handle{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    border-radius: 100%;
    cursor: pointer;
    top: -13.5px;
  }
  .noUi-horizontal .noUi-handle::after {
    content: '';
    background: rgba(244,81,151,0.25);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .noUi-handle-upper {
    right: -6px;
  }
  .noUi-touch-area {
    background: #F45197;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .noUi-tooltip {
    background: #F45197;
    color: #F2F2F2;
    font-size: 12px;
    padding: 2.5px 5px;
  }
  .noUi-handle-lower .noUi-tooltip {
    left: -6px;
  }
  .noUi-handle-lower .noUi-tooltip:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid #F45197;
    position: absolute;
    right: 0;
    top: 20px;
  }
  .noUi-handle-upper .noUi-tooltip {
    left: calc(100% + 6px);
  }
  .noUi-handle-upper .noUi-tooltip:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #F45197;
    position: absolute;
    left: 0;
    top: 20px;
  }
  .block-shadow {
    border: 0.5px solid #F2F2F2;
    box-sizing: border-box;
    /* Smooth-Shadow-1 */

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 13px 10px;
    background-color: #fff;


    @include media-breakpoint-up(md) {
      @include hover-focus() {
        // border-color: #2F80ED;
        box-shadow: 13px 13px 36px -18px rgba(0, 0, 0, 0.3), 0 0 50px -12px rgba(50, 50, 93, 0.13);
        // transform: translate(0, -2px);
      }
    }
  }

  .text-blue {
    color: #2F80ED;
  }
  .text-red {
    color: #EB5757;
  }

  input[type='radio'] {
    position: relative;

    &:before {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #fff;
      content: '';
      position: relative;
      display: block;
      border: 1px solid #828282;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &:checked:after {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #27AE60;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }  
}
.btn-blue {
  background: #2F80ED;
  color: #fff;
  @include hover-focus() {
    background: #2f3ced;
    color: #fff;
  }
}
.btn-gray-blue {
  background: #E0E0E0;
  color: #2F80ED;
  @include hover-focus() {
    background: #e0e0e0b4;
    color: #2F80ED;
  }
}
.btn-vmb-luot {
  color: #828282;
  background: #F2F2F2;
  border-radius: 100px;
  transition: all 250ms;

  &.active {
    background: #F45197;
    color: #F2F2F2;
  }
}
.space-vmb {
  background: #E0E0E0;
  border-radius: 100px;
  height: 4px;
  min-width: 62px;
}
.sapxep-vemaybay {
  .btn {
    color: #828282;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    padding: 3px 15px;

    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    span {
      max-width: 96%;
    }

    &::after {
      border-top-color: #F45197;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }
  }
  .dropdown-item {
    color: #828282;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 33px;
    outline: none;
    @include hover-focus() {
      color: #000;
    }
    &.active {
      color: #fff;
    }
  }
}
.bg-ota {
  background-color: #F7F8FA;
}
.ota-navbar {
  position: relative;
  padding-top: 20px;
  .connecting-line {
    height: 6px;
    background: #E0E0E0;
    border-radius: 100px;
    position: absolute;
    width: 70%;
    left: 0;
    right: 0;
    top: 35px;
    margin: 0 auto;
  }
  .list-step {
    position: relative;
  }
  .item-step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .number {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background-color: #E0E0E0;
      color: #828282;
      display: flex;
      margin: 0 auto 15px;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      position: relative;
      z-index: 1;
    }
    .name {
      color: #4F4F4F;
      font-weight: bold;
      text-align: center;
    }
    &.active {
      .number {
        background: #F45197;
        color: #F2F2F2;
      }
    }
    &.selected > .number {
      box-shadow: 0 0 0 8px rgba(254, 229, 240, 1);
      transition: all 300ms ease-in;
    }
  }
}
.vemaybay-info {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  font-size: 12px;
  box-shadow: 0 2px 8px 2px rgba(13,12,34,0.08);
  
  .number {
    width: 22px;
    height: 22px;
    background: #E0E0E0;
    border-radius: 100%;

    color: #828282;
    font-weight: bold;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    color: #828282;
    font-size: 14px;
    font-weight: bold;
  }
  .date {
    color: #BDBDBD;
    font-size: 12px;
    font-weight: bold;
  }
  .img-logo-airline {
    width: 33px;
    height: 33px;
    padding: 3px;
    margin-right: 5px;
  }

  .airline-seat {
    font-size: 10px;
  }

  .time-air {
    font-size: 10px;
    padding-bottom: 4px;
    &::after {
      width: 12px;
      height: 12px;
      bottom: -6px;
    }
  }
  .air-type {
    font-size: 10px;
    padding-top: 4px;
  }
  &:not(.active) {
    .btn {
      visibility: hidden;
    }
    .img-logo-airline {
      background: #F2F2F2;
      border-radius: 5px;
      border-color: transparent;
      & > img {
        visibility: hidden;
      } 
    }
    .time, .code, 
    .time-air, .air-type,
    .airline-name, .airline-seat {
      visibility: hidden;
    }
    .img-logo-airline {
      height: 33px;
      // @extend .content-placeholder;
      &::before { 
        background: transparent;
      }
    }
    .block-info-air {
      height: 44.8px;
      // @extend .content-placeholder;
    }
  }

  &.active {
    .number {
      color: #F2F2F2;
      background: #F45197;
    }
    .name {
      color: #F45197;
    }
    .date {
      color: #828282;
    }
  }

  &.selected { 
    border: 1px solid #F45197;
    box-shadow: 0px 2px 10px 5px rgba(255, 0, 77, 0.1);
  }
}
.item-vemaybay {
  .time {
    font-size: 16px;
  }
  .time-air,
  .air-type {
    font-size: 12px;
  }
}
.ota-checkbox {
  display: none;

  & + label {
    cursor: pointer;
    position: relative;
    padding-left: 20px;

    &::after {
      content: "";
      background: url(../img/service/icon-checkbox.svg) scroll no-repeat top left;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 0;
      width: 14px;
      height: 14px;
      transform: translate(0, -50%);
      // transition: all 120ms ease-in;
    }
  }

  &:checked + label::after {
    background: url(../img/service/icon-checkbox-checked.svg) scroll no-repeat top left;
    background-size: cover;
  }
}
.img-city {
  max-width: 100%;
}

.img-city-overlay {
  position: absolute;
  padding: 10px 20px;
  bottom: 0;
  left: 0;
  color: white;
  background-image: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0) 100%);
  height: 100%;
  max-height: 190px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-end;
  z-index: 5;
}









