.swiper-tienich {
  background-color: gray("200");
  .swiper-slide {
    cursor: pointer;
    // width: 150px;
    height: auto;
    user-select: none;
    &:not(:last-child) {
      .tienich__stick {
        border-right: 1px solid gray("300");
      }
    }
    &.is-active {
      .tienich__stick {
        background-color: white;
        // border-top: 2px solid $pinkmomo;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        // font-weight: bold;
        color: $pinkmomo;

        &:after {
          content: "";
          width: 100%;
          height: 3px;
          background-color: $pinkmomo;
          position: absolute;
          top: -1px;
          left: 0;
          right: 0;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      width: 90px;
    }
  }

  border-top: 1px solid gray("300");
  border-right: 1px solid gray("300");
  border-left: 1px solid gray("300");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 414px) {
  .swiper-tienich {
    .swiper-slide {
      width: 108px;
      .tienich__stick {
      }
    }
  }
}

@media (max-width: 375px) {
  .swiper-tienich {
    .swiper-slide {
      width: 97px;
      .tienich__stick {
      }
    }
  }
}

@media (max-width: 320px) {
  .swiper-tienich {
    .swiper-slide {
      width: 83px;
      .tienich__stick {
        padding: 5px 4px 6px;
      }
    }
  }
}

.tienich__stick {
  padding: 7px 6px 8px;
  // border-top: 2px solid transparent;
  // max-height: 46px;
  // overflow: hidden;
  box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.1);

  background-color: gray("100");
  height: 100%;
  font-size: 12px;
  line-height: 14px;
  // padding-left: 33px;
  text-align: center;
  // position: relative;
  // display: flex;
  // flex-flow: row nowrap;
  // align-items: center;
  // justify-content: center;
}

.tienich {
  padding: 40px 0;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding: 20px 0 10px;
  }
}

.tienich__icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  margin-bottom: 7px;
  // position: absolute;

  // top: 50%;
  // transform: translateY(-50%);
  // left: 5px;
}

.tienich__patch__wrap {
  // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  // z-index: 1;
  // position: relative;

  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.1);
  background-color: white;
  @include media-breakpoint-down(sm) {
    // background-color: #ffe9f1;
  }
}

.tienich__patch {
  padding: 10px 0 40px;

  @include media-breakpoint-down(md) {
    padding: 0px 0 15px;
  }
}

.tienich__patch__item {
  display: none;
  animation: tabFadeEffect 1s;
  &.is-active {
    display: block;
  }
}

@keyframes tabFadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tienich__tab {
  // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.tienich__cat__gradient {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    margin-bottom: 0;
    padding: 5px 0;
    max-width: 100%;
    // margin-right: -10px;
    // max-width: 100%;
    // &:after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: 40px;
    //   height: 100%;

    //   background: -webkit-gradient(
    //     linear,
    //     left top,
    //     right top,
    //     from(rgba(255, 255, 255, 0)),
    //     to(white)
    //   );

    //   background: -o-linear-gradient(left, rgba(255, 255, 255, 0), white);

    //   background: linear-gradient(90deg, rgba(255, 255, 255, 0), white);

    //   pointer-events: none;
    // }
    .wrap__scroll__next {
      top: 50%;
    }
  }
}

.tienich__cat {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
 

  @include media-breakpoint-down(md) {
    text-align: center;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    -webkit-overflow-scrolling: auto;
    padding: 5px;
    margin-bottom: 0;

    li:last-child() {
      .tienich__cat__link {
        // padding-right: 20px;
      }
    }
  }
  li.tienich__more__wrap {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    // display: flex;
    // flex-flow: row nowrap;
    // justify-content: center;
    // li {
    //   flex: 0 0 percentage(1/5);
    //   max-width: percentage(1/5);
    //   display: none;
    //   margin-right: 0 !important;
    // }
    // li {
    //   @for $i from 1 through 4 {
    //     &:nth-child(#{$i}) {
    //       display: flex;
    //     }
    //   }
    // }
    // li.tienich__more__wrap {
    //   display: flex;
    // }
  }
}

.tienich__tab__nav {
  width: 0px;
  position: relative;
  height: 100%;
  z-index: 5;
  &.right {
    .tienich__tab__btn {
      left: 0;
    }
  }
}

.tienich__tab__btn {
  height: 100%;
  width: 44px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 20px;
  color: gray("600");
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }

  @include hover-focus() {
    color: $pinkmomo;
  }
}

.tienich__cat__link {
  display: block;
  background: #ffffff;
  padding: 6px 15px 6px 35px;
  margin: 6px 0;

  box-sizing: border-box;
  border-radius: 40px;
  position: relative;
  // margin-bottom: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1) !important;

  border-radius: 40px;
  color: gray("700");
  border: 1px solid transparent;
  @include hover-focus(){
    border: 1px solid $pinkmomo;
    color: $pinkmomo;
  }

  &.active {
    background-color: $pinkmomo;
    border: 1px solid $pinkmomo;
    color: white;
    .tienich__cat__icon {
    
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
      img,
      svg {
        filter: grayscale(100%) brightness(1000%);
      }
    }
    // @include media-breakpoint-down(md) {
    //   .tienich__cat__icon {
    //     background-color: $pinkmomo;
    //     border: 1px solid $pinkmomo;
    //     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    //     img,
    //     svg {
    //       filter: grayscale(100%) brightness(1000%);
    //     }
    //   }
    // }
  }

  // @include media-breakpoint-down(md) {
  //   padding: 5px 5px 5px;
  //   border-radius: 0;
  //   margin-bottom: 0;
  //   box-shadow: none !important;
  //   border: none !important;
  //   .tienich__cat__name {
  //     display: none;
  //   }
  //   .tienich__cat__icon {
  //     position: relative;
  //     width: 44px;
  //     height: 44px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     left: 0;
  //     top: 0;
  //     transform: translate(0, 0);
  //     border-radius: 50%;
  //     background-color: white;
  //     border: 1px solid gray("200");
  //     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05);
  //     img {
  //       width: 32px;
  //       // filter: grayscale(100%);
  //     }

  //     svg {
  //       width: 28px;
  //       height: 28px;
  //     }
  //   }
  // }
}

.tienich__cat__icon {
  display: block;
  position: absolute;
  width: 26px;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.tienich__box {
  background: #ffe9f1;
  border-radius: 20px;
  padding: 25px 30px;
  max-width: 1000px;
  margin: 0 auto;
  @include media-breakpoint-down(sm) {
    border-radius: 5px;
    padding: 0 5px;
    background-color: white;
  }
}

.tienich__feature {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.tienich__list {
  margin-top: 20px;
  position: relative;

  li:not(:last-child) {
    padding-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      left: 12px;
      z-index: 1;
      width: 1px;
      height: 100%;
      top: 0;
      background-color: gray("300");
    }
  }
  li {
    color: gray("900");
    position: relative;
    z-index: 1;
    padding-left: 35px;
  }

  img {
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;

    // background-color: gray("500");
  }
}

.tienich__tag{
  position: absolute;
  padding: 1px 5px 1px;
  border-radius: 20px;
  font-size: 9px;
  top: -6px;
  right: -15px;
  background-color: #f93a2e;
  color: white;
  font-weight: bold;
  display: block;
  z-index: 1;

  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
  // box-shadow: 1px 1px 3px 0px rgba($red,0.2);

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    // transition: opacity 0.3s, transform 0.3s;

    // transition: box-shadow 0.3s;
  
    z-index: -1;
    // box-shadow: 0 0 0 10px rgba($red,0);
    animation: pulsingTag 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(#f93a2e, 0.6);
  }
}

@keyframes pulsingTag {
  to {
    box-shadow: 0 0 0 6px rgba(#f93a2e,0);
  }
}

.tienich__merchant {
  text-align: center;
  position: relative;
  a:hover {
    ~ .tienich__merchant__name {
      color: $pinkmomo;
    }
  }

  // @include hover-focus(){

  //   .tienich__merchant__name {
  //     color: $pinkmomo;
  //   }
  // }
}

.tienich__merchant__image {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.tienich__merchant__name {
  font-size: 12px;
  line-height: 15px;
}

.click-none {
  pointer-events: none;
  cursor: default;
}

.tienich__tab {
  position: relative;
  &.is-show {
    .tienich__tab__more {
      animation-name: isShow;
      animation-duration: 7s;
    }
  }
}

.tienich__tab__more {
  width: 34px;
  border-radius: 5px;

  height: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;

  opacity: 0;
  z-index: 2;
  cursor: none;
  pointer-events: none;
  svg {
    height: 20px;
  }
  display: none;

  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

@keyframes isShow {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tienich__more__wrap {
  position: relative;
  .tienich__more__item:not(:last-child) {
    border-bottom: 1px solid gray("300");
  }
  .tienich__cat__link {
  }

  .arrow-bottom:before {
    display: none;
    bottom: -8px;
    transform: translateX(-50%) rotateZ(45deg);
  }
  [aria-expanded="true"] {
    .tienich__cat__icon {
      background-color: $pinkmomo;
      border: 1px solid $pinkmomo;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
      img,
      svg {
        filter: grayscale(100%) brightness(1000%);
      }
    }
  }

  [aria-expanded="true"].arrow-bottom:before {
    display: block;
  }
}

.tienich__more__item {
  position: relative;
  padding: 10px 15px;
  display: block;
  color: gray("800");
  &.active {
    font-weight: bold;
    color: $pinkmomo;
  }
}

.tienich__more__icon {
  position: absolute;
  left: 10px;
  top: 7px;
  img {
    width: 28px;
  }
}

.tienich__more__name {
  padding-left: 34px;
}

.tienich__more {
  display: block !important;
}

.tienich__more__wrap {
  .dropdown-menu {
    left: auto !important;
    right: 10px !important;
    width: 240px !important;
    top: 100% !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
