.news__feature__grid {
  display: grid;
  grid-template-areas: "item1 item2" 
  "item1 item3";
  grid-gap: 6px;

//   grid-template-areas:
//     "item1 item2"
//     "item1 item3";

  grid-template-columns: percentage(2/3) 1fr;
  grid-template-rows: 1fr 1fr;
}

.news__feature__item {
  // width: 100%;
//   min-height: 200px;
  &.item1 {
    grid-area: item1;
  }
  &.item2 {
    grid-area: item2;
  }
  &.item3 {
    grid-area: item3;
  }
}

.table-responsive {
  width: unset;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch
}

.table-responsive .table {
  width: 100%;
  margin-bottom: 20px;
  table-layout: auto;
  font-size: 1rem;
  line-height: 1.5rem
}

.table-responsive .table td {
  min-width: 120px;
  border: 1px solid rgba(212,212,212,1);
  padding: .25rem .5rem
}

.table-responsive .table p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .table-responsive .table td {
      padding-left:1rem;
      padding-right: 1rem;
      padding-top: .5rem;
      padding-bottom: .5rem
  }
}
