// .navbar-container {
//   display: none;
// }
.app-nav__container {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;

  // -webkit-backdrop-filter: blur(10px);
  // backdrop-filter: blur(10px);
  // background-color: rgba(255,255,255,.85);

  // border-bottom: solid 1px rgba(0,0,0,.1);

  // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);

  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0 10px;

  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease;

  &.is-scroll {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(
      273deg,
      rgba(#f6799b, 1) 0%,
      rgba(#b20570, 1) 100%
    );

    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  }
}

.app-nav-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  svg {
    color: gray("400");
    width: 26px;
    height: 26px;
  }

  .chevron-left {
    padding-right: 2px;
  }
}

.app-nav__heading {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 100px);
  left: 50%;
  font-size: 17px;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  transform: translate3d(-50%, 0, 0);
}
