{% import 'macros/helpers.html' as macro %} {% import 'macros/quyengop.html' as
qg %} {% extends 'layouts/layout.html' %} {% block content %}
<!-- <canvas class="snow"></canvas> -->

{% include "components/kv.html" %}

<section class="bg-light bg-cover">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2 section__title__heading">
        Ưu đãi nóng, tham gia ngay!
      </h2>
      <p class="lead section__title__sub">
        Ví Điện Tử MoMo - Siêu ứng dụng thanh toán số 1 Việt Nam
      </p>
    </div>

    <div
      class="p-5 bg-white d-flex align-items-center justify-content-center h4 text-gray-400"
    >
      Nội dung
    </div>
  </div>
</section>

<div class="container py-4">
  <dl class="row docs-dl">
    <dt class="col-3"><code>.section</code></dt>
    <dd class="col-9">
      <p>
        Thay đổi màu background, background image, thêm text box add class, id
      </p>
    </dd>
    <dt class="col-3"><code>.section__title</code></dt>
    <dd class="col-9">
      <p>Text box thêm class</p>
    </dd>

    <dt class="col-3"><code>.section__title__heading</code></dt>
    <dd class="col-9">
      <p>Chọn màu chữ nếu có, text box thêm class</p>
    </dd>

    <dt class="col-3"><code>.section__title__sub</code></dt>
    <dd class="col-9">
      <p>Chọn màu chữ nếu có, text box thêm class</p>
    </dd>
  </dl>
</div>

<section class="bg-light bg-cover">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2 section__title__heading">
        Section Card 1
      </h2>
    </div>

    <div class="row justify-content-center">
      {% for i in [0,1,2] %}

      <div class="col-md-6 col-lg-4 card__space uudai__item">
        <article class="card card__box h-100">
          <div class="card__inner">
            <header class="card__header">
              <figure class="card__figure">
                <a
                  href="{{News2[i].link}}"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                >
                  <div class="embed-responsive embed-responsive-new">
                    <img
                      src="{{News2[i].image}}"
                      alt=""
                      class="lazyload embed-responsive-img card__image"
                    />
                  </div>
                </a>
              </figure>
            </header>

            <div class="card__body pb-0">
              <h5 class="card__title">
                <a
                  href="{{News2[i].link}}"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                  class="card__title__link font-weight-bold"
                >
                  {{News2[i].name}}
                </a>
              </h5>

              <p class="card__copy">{{News2[i].desc | safe}}</p>
            </div>

            <div class="card__footer font-14">
              <div class="row no-gutters">
                <div class="col">
                  <div class="">
                    ⌛️ Đến ngày: <strong class="text-primary-2">22/07</strong>
                  </div>
                </div>
                <div class="col-auto">
                  <a href="">Xem chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-pinklight bg-cover pb-0 section">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2 section__title__heading">
        Section Feature 1
      </h2>
    </div>

    <div class="row align-items-md-center justify-content-center sm-gutters">
      <div class="col-6 col-md-4 order-1 order-md-1 reason__item__left">
        {% for i in [0, 1,2] %}

        <div
          class="reason__item"
          data-aos="fade-up"
          data-aos-delay="{{loop.index* 200}}"
        >
          <div class="reason__item__avatar">
            <img src="{{ tienich[i].icon }}" height="38" alt="" />
            <div
              class="reason__item__bg"
              style="background-image: url('img/momo/circle-bg-2.svg')"
            ></div>
          </div>

          <div class="reason__item__content">
            <div>{{tienich[i].name | safe}}</div>
          </div>
        </div>

        {% endfor %}
      </div>

      <div
        class="col-12 col-md-4 order-3 order-md-2 col-xl-auto align-self-center"
      >
        <div class="position-relative mt-md-5 mt-lg-0 reason__item__phone">
          <img
            data-src="https://static.mservice.io/images/s/momo-upload-api-200910102935-637353305756124674.png"
            width="300"
            class="img-fluid d-block mx-auto lazyload"
            alt=""
          />
          <div class="reason__cta">
            <a href="" class="hocvien-btn">
              <!-- <img src="https://static.mservice.io/images/s/momo-upload-api-200910102340-637353302200578377.png" width="142" class="img-fluid d-block mx-auto" alt=""> -->
              <img
                src="img/hocvien/choigamengay-btn.svg"
                width="142"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </a>
            <style>
              .hocvien-btn {
                display: inline-block;
                transition: all 0.2s ease-in;
                opacity: 0.9;
              }
              .hocvien-btn:hover {
                opacity: 1;
                transform: translate3d(0, -3px, 0);
              }
              @media (max-width: 767.98px) {
                .hocvien-btn {
                  width: 130px;
                }
              }
            </style>
            <!-- <a href="" class="btn btn-primary-2 ">
              Chơi ngay
            </a> -->
          </div>
        </div>
      </div>

      <!-- Nay la gi -->

      <div class="col-6 col-md-4 order-2 order-md-2 reason__item__right">
        {% for i in [3, 4,5] %}
        <div
          class="reason__item"
          data-aos="fade-up"
          data-aos-delay="{{loop.index* 200}}"
        >
          <div class="reason__item__avatar">
            <img src="{{ tienich[i].icon }}" height="38" alt="" />
            <div
              class="reason__item__bg"
              style="background-image: url('img/momo/circle-bg-2.svg')"
            ></div>
          </div>

          <div class="reason__item__content">
            <div>{{tienich[i].name | safe}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section
  class="bg-primary-2 bg-cover o-hidden"
  style="
    background-image: url(img/momo/bg-taiapp-big.jpg);
    background-repeat: no-repeat;
    background-position: center top;
  "
>
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold section__title__heading text-white">
        Section HTU 1
      </h2>
    </div>
  </div>

  <div class="container d-none d-lg-block">
    <div class="manual-wrapepr manual-dark">
      {% include 'components/huongdan-desktop.html' %}
    </div>

    <div class="mt-4 text-center">
      <div class="newUser-noti">
        <div class="newUser-noti__content">
          <div>
            Trở thành khách hàng mới nhận ngay
            <strong class="text-yellow">GÓI QUÀ 500k</strong>
          </div>
          <div class="ml-3">
            <a
              href=""
              class="btn btn-pulse btn-warning btn-sm rounded-pill font-weight-bold"
              >Xem ngay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-block d-lg-none">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="htw">
          <div
            class="htw__item bg-white"
            data-toggle="modal"
            data-target="#htu-modal"
          >
            <div class="htw__content">
              <strong>Bước 1:</strong> Tải và đăng ký
            </div>
            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div
            class="htw__item bg-white"
            data-toggle="collapse"
            href="#dsNganhang"
            role="button"
            aria-expanded="false"
            aria-controls="dsNganhang"
          >
            <div class="htw__content">
              <strong>Bước 2:</strong> Liên kết ngân hàng
            </div>

            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div class="collapse" id="dsNganhang">
            <div class="htu-bank">
              <div class="htu-bank-col">
                <div
                  class="htu-bank-item"
                  data-toggle="modal"
                  data-target="#htu-modal"
                >
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                  />
                  <div class="htu-bank-name">VCB</div>
                </div>
              </div>

              <div class="htu-bank-col">
                <div
                  class="htu-bank-item"
                  data-toggle="modal"
                  data-target="#htu-modal"
                >
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                  />
                  <div class="htu-bank-name">Agribank</div>
                </div>
              </div>

              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                  />
                  <div class="htu-bank-name">Vietinbank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                  />
                  <div class="htu-bank-name">BIDV</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                  />
                  <div class="htu-bank-name">ACB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                  />
                  <div class="htu-bank-name">Shinhan</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                  />
                  <div class="htu-bank-name">Sacombank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                  />
                  <div class="htu-bank-name">SCB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                  />
                  <div class="htu-bank-name">VPBank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                  />
                  <div class="htu-bank-name">VIB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                  />
                  <div class="htu-bank-name">Eximbank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                  />
                  <div class="htu-bank-name">TPBank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                  />
                  <div class="htu-bank-name">Bảo Việt</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                  />
                  <div class="htu-bank-name">VRB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                  />
                  <div class="htu-bank-name">OCB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                  />
                  <div class="htu-bank-name">ABBank</div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="htw__item bg-white"
            data-toggle="modal"
            data-target="#htu-modal"
          >
            <div class="htw__content">
              <strong>Bước 3:</strong> Nạp tiền vào ví
            </div>
            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card card__box shadow-none bg-black-4">
          <div class="card__body px-3 py-4">
            <div class="px-3 mb-2 mt-0">
              <img
                src="img/momo/quatang.png"
                width="320"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </div>

            <h2 class="text-center text-white font-weight-normal mt-3">
              Trở thành khách hàng mới nhận ngay
              <strong class="text-yellow">Gói quà 500K</strong>
            </h2>

            <div class="text-center mt-3">
              <a
                href=""
                class="btn btn-pulse btn-warning rounded-pill font-weight-bold"
                >Xem ngay</a
              >
              <!-- <a href="" class="btn btn-primary-2 rounded-pill font-weight-bold">TẢI NGAY</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light o-hidden">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold section__title__heading">Section HTU 2</h2>
    </div>
  </div>

  {% include "components/huongdan-service.html" %}
</section>

<section class="bg-white">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold section__title__heading">Section New 1</h2>
    </div>

    <div class="wrap__scroll is-bg-gray mb-4 wrap__scroll__tintuc">
      <ul
        class="nav nav-tabs tabs-soju wrap__scroll__target"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-1"
            data-toggle="tab"
            href="#tintucsukien"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Mới nhất</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-2"
            data-toggle="tab"
            href="#khuyenmai"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Khuyến mãi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-3"
            data-toggle="tab"
            href="#thongcaobaochi"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Thông cáo báo chí</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            id="home-4"
            data-toggle="tab"
            href="#hinhanh"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Hình ảnh - Video</a
          >
        </li>
      </ul>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>

    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tintucsukien"
        role="tabpanel"
        aria-labelledby="home-1"
      >
        <div class="row sm-gutters">
          {% for i in [1, 2, 3, 4] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="khuyenmai"
        role="tabpanel"
        aria-labelledby="home-2"
      >
        <div class="row sm-gutters">
          {% for i in [18, 19, 20, 21] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="thongcaobaochi"
        role="tabpanel"
        aria-labelledby="home-3"
      >
        <div class="row sm-gutters">
          {% for i in [9, 12, 10, 11] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="hinhanh"
        role="tabpanel"
        aria-labelledby="home-4"
      >
        <div class="row sm-gutters">
          {% for i in [5, 6, 7, 8] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold section__title__heading">Section New 2</h2>
    </div>

    <div class="mgz__list">
      <div class="mgz__row">
        <article class="mgz">
          <div class="mgz__header">
            <figure class="mgz__figure">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="magazine-detail.html">
                  <img
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-210107144936-637456277765173224.jpg"
                    alt=""
                    class="embed-responsive-img"
                    loading="lazy"
                  />
                </a>
              </div>
            </figure>
          </div>

          <div class="mgz__body mt-3">
            <div class="infomgz">
              <header class="infomgz__header">
                <h4 class="infomgz__title h5">
                  <a href="magazine-detail.html" alt=""
                    >Cùng Ví MoMo chung tay vì NCHCCCL – đừng để hy vọng chỉ còn
                    là tiếc nuối</a
                  >
                </h4>
              </header>

              <div class="infomgz__body">
                <div class="infomgz__meta">
                  <span class="time">07/01/2021</span>

                  <span class="middotDivider"></span>

                  <span class="view">118 lượt xem</span>
                </div>

                <div class="infomgz__dek is-2line">
                  Ngày 4/1 vừa qua, với sự giúp sức từ cộng đồng hảo tâm Ví
                  MoMo, “Như chưa hề có cuộc chia ly” số 137 đã hoàn thành gắn
                  kết 2 cuộc chia ly đầy nước mắt, đưa những thân nhân thất lạc
                  50 năm về với nhau.
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="mgz">
          <div class="mgz__header">
            <figure class="mgz__figure">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="magazine-detail.html">
                  <img
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201231171421-637450316610868167.jpg"
                    alt=""
                    class="embed-responsive-img"
                    loading="lazy"
                  />
                </a>
              </div>
            </figure>
          </div>

          <div class="mgz__body mt-3">
            <div class="infomgz">
              <header class="infomgz__header">
                <h4 class="infomgz__title h5">
                  <a href="magazine-detail.html" alt=""
                    >Đạt mốc 750 triệu đồng: “Như chưa hề có cuộc chia ly” có
                    kinh phí duy trì thêm 1,5 số</a
                  >
                </h4>
              </header>

              <div class="infomgz__body">
                <div class="infomgz__meta">
                  <span class="time">07/01/2021</span>

                  <span class="middotDivider"></span>

                  <span class="view">118 lượt xem</span>
                </div>

                <div class="infomgz__dek is-2line">
                  Sau 27 ngày phát động, 750 triệu đồng đã được gây quỹ quyên
                  góp cho “Như chưa hề có cuộc chia ly”, đạt mức kinh phí duy
                  trì thêm 1,5 số phát sóng.
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="mgz">
          <div class="mgz__header">
            <figure class="mgz__figure">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="magazine-detail.html">
                  <img
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201218110807-637438864872699983.jpg"
                    alt=""
                    class="embed-responsive-img"
                    loading="lazy"
                  />
                </a>
              </div>
            </figure>
          </div>

          <div class="mgz__body mt-3">
            <div class="infomgz">
              <header class="infomgz__header">
                <h4 class="infomgz__title h5">
                  <a href="magazine-detail.html" alt=""
                    >Có những thứ giản đơn, nhưng phải mất một đời người để chờ
                    đợi
                  </a>
                </h4>
              </header>

              <div class="infomgz__body">
                <div class="infomgz__meta">
                  <span class="time">07/01/2021</span>

                  <span class="middotDivider"></span>

                  <span class="view">118 lượt xem</span>
                </div>

                <div class="infomgz__dek is-2line">
                  Đối với nhiều người, có được những tấm hình chụp chung cùng
                  người thân, những bữa ăn quây quần, được hát karaoke cùng nhau
                  là những điều rất giản đơn, thường ngày. Nhưng đối với 3 chị
                  em Phượng – Thắng – Dũng là một hành trình đằng đẵng với 48
                  năm không ngừng chờ đợi.
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="bg-white dona__section__list" id="quyengop">
  <div class="dona__section__pattern">
    <img
      src="img/donation/bg/pattern-1.png"
      class="pattern pattern-1"
      width="180"
      alt=""
    />
    <img
      src="img/donation/bg/pattern-2.png"
      class="pattern pattern-2"
      width="170"
      alt=""
    />
    <div class="pattern pattern-3">
      <svg
        width="44"
        height="42"
        viewBox="0 0 44 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197"
          fill-opacity="0.3"
        />
      </svg>
    </div>

    <div class="pattern pattern-4">
      <svg
        width="50"
        height="42"
        viewBox="0 0 44 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197"
          fill-opacity="0.15"
        />
      </svg>
    </div>
  </div>

  <div class="container px-4">
    <div class="row">
      <div class="text-center section__title mb-0">
        <h2 class="font-weight-bold section__title__heading">Section Donation List</h2>
        <p class="lead">Để cuộc chia ly được trùng phùng</p>
      </div>

      <div class="col-12 text-center reveal" data-reveal-delay="500">
        <div class="filter-list ">
          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill is-select">
              Đang diễn ra
            </button>
          </div>

          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill">
              Đã thành công
            </button>
          </div>
        </div>
      </div>
    </div>

    {% set caseDonation= [ { "image":
    "https://static.mservice.io/blogscontents/momo-upload-api-201125162140-637419181000413930.jpg",
    "title": "Để những cuộc chia ly sớm được trùng phùng... cần lắm cộng đồng
    cùng góp sức", "summary": " 'Như Chưa Hề Có Cuộc Chia Ly' là hoạt động thiện
    nguyện tìm kiếm, đoàn tụ, hàn gắn những vết thương ly biệt và giúp những
    thân nhân thất lạc sau nhiều năm được gặp lại nhau.", "money":
    "15.807.469đ", "percent": "40,44%", "time": "10" }, { "image":
    "img/donation/campaign/2.png", "title": " Tặng sân chơi cho ngôi trường mầm
    non đồng bào Bru - Vân Kiều", "summary": " Để các em có một tuổi thơ tràn
    đầy tiếng cười, niềm vui!", "money": "15.807.469đ", "percent": "25,44%",
    "time": "20" }, { "image": "img/donation/campaign/3.png", "title": "Lắp 6 hệ
    thống điện gió mặt trời cho Bản nghèo 10 năm mong điện.", "summary": "Thắp
    sáng núi rừng Điện Biên bằng ánh sáng của điện và giáo dục.", "money":
    "15.807.469đ", "percent": "15,44%", "time": "30" } ] %}

    <div class="row donation-list">
      {% for i in [0,1,2,1,0] %}
      <div class="col-12 col-sm-6 col-lg-4 d-flex donation-list-col">
        {{ qg.quyengop( caseDonation[i].image, caseDonation[i].title,
        caseDonation[i].summary, caseDonation[i].money, caseDonation[i].percent,
        caseDonation[i].time ) }}
      </div>
      {% endfor %}
    </div>
  </div>

  
</section>

{% include "layouts/modal.html" %} {% endblock %}

<!-- Scripts -->
{% block javascript %}
<!-- <script type="text/javascript" src="js/snow.js"></script> -->
<script>
  $(".uudai__loadmore").on("click", function (e) {
    e.preventDefault();
    $(".uudai__item").removeClass("d-none");
    $(this).addClass("d-none");
  });

  // detectDeviceType(); // "Mobile" or "Desktop"

  var $selectNavTienichLeft = $(".tienich__tab__nav.left").find(
    ".tienich__tab__btn"
  );
  var $selectNavTienichRight = $(".tienich__tab__nav.right").find(
    ".tienich__tab__btn"
  );

  var swiperTienich = new Swiper(".swiper-tienich", {
    slidesPerView: 10,
    spaceBetween: 0,
    simulateTouch: false,
    draggable: true,
    // slidesPerGroup: 10,
    breakpoints: {
      1200: {
        slidesPerView: "auto",
        spaceBetween: 0,
      },
    },
    navigation: {
      nextEl: $selectNavTienichRight,
      prevEl: $selectNavTienichLeft,
    },
    on: {
      init: function () {
        // console.log('swiper initialized');
      },
      slideChangeTransitionEnd: function () {},
    },
  });

  var $tabTienich = $(".tienich__tab .swiper-slide");
  var $tabTienichPatch = $(".tienich__patch .tienich__patch__item");
  var $curr = 0;

  var $swiperTienichLength =
    $(".swiper-tienich").find(".swiper-slide").length - 1;

  function activeTabTienich(act) {
    slideActiveTabTienich(act, $curr);

    $tabTienichPatch.each(function (i) {
      if (i == act) {
        $(this).addClass("is-active");
        $(this).siblings().removeClass("is-active");
        // console.log($(this));
        // var activeScroll = ;
        wrapScrollClass($(this).find(".wrap__scroll"));
      }
    });

    $tabTienich.each(function (i) {
      if (i == act) {
        $(this).addClass("is-active");
        $(this).siblings().removeClass("is-active");
      }
    });

    $curr = act;
  }
  if ($swiperTienichLength > 0) {
    activeTabTienich(0);
  }

  function slideActiveTabTienich(index, currIndex) {
    // console.log(currIndex + "--" + index);
    if (currIndex < index) {
      if (detectDeviceType() == "Mobile") {
        swiperTienich.slideTo(index - 1);
      } else {
        swiperTienich.slideTo(index - 1);
      }
    } else {
      swiperTienich.slideTo(index - 1);
    }
    // swiperHotNav.slideTo(index);
  }

  $selectNavTienichLeft.on("click", function () {
    // swiperTienich.slidePrev();
    // if (($curr == 0)) {
    //   $curr = $swiperTienichLength + 1;
    // }
    // activeTabTienich($curr - 1);
  });

  $selectNavTienichRight.on("click", function () {
    // swiperTienich.slideNext();
    // if (($curr == $swiperTienichLength)) {
    //   $curr = -1;
    // }
    // activeTabTienich($curr + 1);
  });

  var scrollToTienich = debounce(function () {
    if (detectDeviceType() == "Mobile") {
      $("html, body").animate(
        {
          scrollTop: $("#tienich").offset().top,
        },
        300
      );
    }
  }, 300);

  $tabTienich.each(function (i) {
    var $this = $(this);
    var $i = i;
    $this.on("click", function () {
      activeTabTienich($i);
      scrollToTienich();
    });
  });
</script>
{% endblock %}
