{% import 'macros/helpers.html' as macro %}
{% extends 'layouts/layout.html' %}
{% block content %}


{% set News2 = [
  {
    "name" : "Chuyển, nhận tiền",
    "link" : "https://momo.vn/lienkettaikhoan",
    "image" : "https://secure.skypeassets.com/content/dam/scom/home/features/features-skype-rates.jpg",
    "desc" : "Chuyển tiền 1 giây, nhận tiền tức khắc, 1.000đ cũng chuyển được, hoàn toàn miễn phí qua Ví MoMo."
  },
  {
    "name" : "Nạp thẻ điện thoại, data 3G/4G",
    "link" : "https://momo.vn/gioi-thieu-momo",
    "image" : "https://secure.skypeassets.com/content/dam/scom/home/features/livesubtitles.jpg",
    "desc" : "Nạp nhanh chóng mọi lúc mọi nơi, chiết khấu hời, đa dạng gói cước để lựa chọn."
  },
  {
    "name" : "Thanh toán hoá đơn",
    "link" : "https://bit.ly/giam-gia-ve-may-bay-vna",
    "image" : "https://secure.skypeassets.com/content/dam/scom/home/features/mobile-screen-sharing.jpg",
    "desc" : "Chỉ cần chạm tay, thanh toán xong ngay hoá đơn điện, nước, internet, truyền hình cáp... Được nhắc mỗi tháng, không sợ trễ hạn."
  },
  {
    "name" : "Thanh toán tại quầy",
    "link" : "https://bit.ly/giam-50k-thanh-toan-vay-mcredit",
    "image" : "https://secure.skypeassets.com/content/dam/scom/home/features/features-skype-number.jpg",
    "desc" : "Ăn uống, shopping, siêu thị, mua vé xem phim... quẹt Ví MoMo là thanh toán xong, không cần tiền mặt, chẳng sợ quên ví."
  },
  {
    "name" : "Thanh toán game, ứng dụng",
    "link" : "https://bit.ly/giam-50k-thanh-toan-bao-hiem-aia-tren-momo",
    "image" : "https://secure.skypeassets.com/content/dam/scom/home/features/features-call-recording.jpg",
    "desc" : "Nạp thẻ game nhanh chóng, thanh toán siêu tốc ứng dụng trên Google Play, App Store không cần thẻ."
  }
] %}
<section class="bg-white o-hidden ">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 d-flex flex-column text-center text-lg-left mb-5 mb-lg-0" data-aos="fade-right">
        <div class="pr-xl-5">
          <h1 class="text-dark font-weight-bold">
            MoMo <br>
            An toàn - Tiết kiệm - Tiện lợi
          </h1>
          <p class="lead">Cách đơn giản để nhắn tin, chat video, lên kế hoạch - ở cùng một nơi.
          </p>

          <div class="mt-4">

            <div class="row sm-gutters flex-nowrap justify-content-start">
              <div class="col-auto">
                <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                  class="link-white" target="_blank">
                  <img src="https://static.mservice.io/img/tai-appstore.png" width="130" class="img-fluid" alt="">
                </a>
              </div>
              <div class="col-auto">
                <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                  class="link-white" target="_blank">
                  <img src="https://static.mservice.io/img/tai-google-play.png" width="130" class="img-fluid" alt="">
                </a>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-5">
        <img class="img-fluid"
          src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t39.8562-6/91296042_507664646573826_6998089372729868288_n.png?_nc_cat=1&_nc_sid=6825c5&_nc_ohc=LF_h2R9XZUQAX-swgXU&_nc_ht=scontent.fsgn5-2.fna&oh=7dab1cce1f5b9b9db7b8c139583bb227&oe=5F10D77A"
          width="" alt="Screenshot">
      </div>
    </div>
  </div>

</section>
<section class=" o-hidden " style="background-color: #fafafa">
  <div class="container-fluid">

    <div class="">
      <h2 class="h2 text-dark  mb-4 text-center"> Những tính năng nổi bật của ứng dụng MoMo</h2>

      <!-- <p class="lead text-center">
        Hưởng ứng <strong class="text-primary-3 font-weight-bold">"Ngày không tiền mặt"</strong> 16/06/2020
      </p> -->

    </div>


    <div class="swiper-container swiper-nav-bigger swiper-app container">
      <div class="swiper-wrapper">
        {% for i in [0, 1,2,3,4] %}

        <div class="swiper-slide py-3 h-auto">

          <article class="card card__box h-100 app__feature__card">

            <div class="card__inner">

              <header class="card__header">
                <figure class="card__figure">
                  <a href="{{News2[i].link}}" data-toggle="modal" data-target="#modalTinTuc">
                    <div class="embed-responsive embed-responsive-new">
                      <img src="{{News2[i].image}}" alt="" class="lazyload embed-responsive-img card__image">
                    </div>
                  </a>
                </figure>
              </header>

              <div class="card__body ">

                <h5 class="card__title">
                  <a href="{{News2[i].link}}" data-toggle="modal" data-target="#modalTinTuc"
                    class="card__title__link font-weight-bold">
                    {{News2[i].name}}
                  </a>
                </h5>

                <p class="card__copy">
                  {{News2[i].desc | safe}}
                </p>



              </div>




            </div>


            <div class="app__feature__card___more">
              <a href="">Hướng dẫn
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="svg-icon">
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </a>
            </div>

          </article>


        </div>

        {% endfor %}

      </div>

      <!-- Add Arrows -->
      <div class="swiper-button-next">
        <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false" style="fill: currentcolor;">
          <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false" style="fill: currentcolor;">
          <path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
    </div>




  </div>

</section>

<section class=" o-hidden ">
  <div class="container">

    <div class=" row no-gutters justify-content-center">
      <div class="col-12 col-lg-7">
        <h2 class="h2 text-dark  mb-2 text-center"> More Faster, More Powerful App</h2>

        <p class="lead text-center">
          Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus, blandit posuere ligula
          varius magna congue cursus porta
        </p>
      </div>


    </div>


    <div class="row justify-content-center">

      <div class="col-6 col-sm-4 col-lg-3 text-center">
        <h2 class="text-primary-3 mb-2" data-countup data-start="0" data-end="20" data-duration=""
          data-decimal-places="" data-prefix="" data-separator="," data-grouping="true" data-suffix=" triệu+"
          data-easing=""></h2>
        <h6>Người dùng</h6>
      </div>
      <div class="col-6 col-sm-4  col-lg-3 text-center">
        <h2 class="text-primary-3 mb-2" data-countup data-start="0" data-end="22" data-duration=""
          data-decimal-places="" data-prefix="" data-separator="," data-grouping="true" data-suffix=" ngàn+"
          data-easing=""></h2>
        <h6>Đối tác</h6>
      </div>
      <div class="col-6 col-sm-4  col-lg-3 text-center">
        <h2 class="text-primary-3 mb-2" data-countup data-start="0" data-end="100" data-duration=""
          data-decimal-places="" data-prefix="" data-separator="," data-grouping="true" data-suffix=" ngàn+"
          data-easing=""></h2>
        <h6>Điểm thanh toán</h6>
      </div>

    </div>




  </div>

</section>


<section class=" o-hidden " >
  <div class="container">
    <div class="app__connect p-5 rounded" >
      <div class="row">
        <div class="col-12 col-md-6">
         
          <h4 class="text-primary-3"> Liên kết ví MoMo với tài khoản ngân hàng</h4>
          <p class="lead mb-0">
            Nhận Ngay Quà Tặng Trị Giá <strong>500.000 Đồng</strong>
          </p>
        </div>
      </div>
    </div>
    
  </div>
</section>



<section class=" o-hidden ">
  <div class="container">


    <div class="">
      <h2 class="h2 text-dark mb-4 text-center">Tải ứng dụng ví MoMo</h2>
    </div>

    <div>
      <div class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center ">
        <a href="#" class="mr-2">
          <img alt="App Store" src="https://jumpstart.mediumra.re/assets/img/mobile-app/apple.svg" />
        </a>
        <a href="#" class="mr-2">
          <img alt="App Store" src="https://jumpstart.mediumra.re/assets/img/mobile-app/google-play.svg" />
        </a>
      </div>
    </div>

  </div>

</section>





{% endblock %}


<!-- Scripts -->
{% block javascript %}


<script>
  var swiper = new Swiper(".swiper-app", {
    spaceBetween: 30,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    slidesPerView: 3,
  });

</script>

{% endblock %}