{% import 'macros/helpers.html' as macro %} {% import 'macros/helpers.html' as
macro %} {% extends 'layouts/layout.html' %} {% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<section class="sg-nav-container is-relative shadow-sm p-0">
  <div class="container position-relative">
    <div class="wrap__scroll wrap__scroll__service is-bg-white">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb align-items-center wrap__scroll__target">
          <li class="breadcrumb-item">
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667"
              >
                <path
                  d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" onclick="return false">Trang chủ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat active">
            <a href="/trai-tim-momo"> Lịch chiếu </a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Rạp phim </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Tin tức </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Blog </a>
          </li>

          <li class="d-block" style="height: 1px">
            <span style="width: 30px; display: block"></span>
          </li>
        </ol>
      </nav>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>
  </div>
</section>

<section class="sg-nav-container d-none is-relative  bg-dark shadow-sm p-0">
  <div class="container position-relative">
    <div class="wrap__scroll wrap__scroll__service is-bg-white">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb align-items-center wrap__scroll__target">
          <li class="breadcrumb-item">
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667"
              >
                <path
                  d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" onclick="return false">Trang chủ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat active">
            <a href="/trai-tim-momo"> Lịch chiếu </a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Rạp phim </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Tin tức </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Blog </a>
          </li>

          <li class="d-block" style="height: 1px">
            <span style="width: 30px; display: block"></span>
          </li>
        </ol>
      </nav>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>
  </div>
</section>

<div class="kv-section bg-dark">
  <div class="swiper-container swiper-kv">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="img/cinema/banner-movie-1.png"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="https://kenh14cdn.com/thumb_w/660/203336854389633024/2021/2/22/-16140097609811745808585.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="img/cinema/banner-movie-2.png"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>

          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="https://dep.com.vn/wp-content/uploads/2019/12/tenet-2.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="kv-pagination">
      <div class="container position-relative">
        <div class="swiper-button-next">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-white bg-cover pb-3  pt-lg-5">
  <div class="container">
    <div class="mb-4">
      <div class="row no-gutters align-items-center">
        <div class="col">
          <h3 class="font-weight-bold text-primary-2 mb-0">Phim đang chiếu</h3>
        </div>
        <div class="col-auto">
          <a
            href=""
            class="link-dark font-weight-bold d-inline-flex align-items-center"
          >
            Xem tất cả (16)
            <i class="svg-icon" data-feather="chevron-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="movie__list movie__list__swiper swiper-auto-mobile">
      <div class="swiper-container  swiper-movie-list">
        <div class="swiper-wrapper">
          {% for item in [1,2,3,4,5,6] %}
          <div class="swiper-slide">
            <div class="movie__box">
              <a href="cinema-detail.html" class="link-absolute"></a>
              <div class="movie__box__poster">
                <div class="movie__box__overlay">
                  <div class="top">
                    {% if item == 1 %}
                    <img src="img/cinema/icon/icon-sneakshow.svg" alt="" />
                    {% endif %} 
                    {% if item == 2 %}
                    <img src="img/cinema/icon/icon-dattruoc.svg" alt="" />
                    {% endif %}

                    {% if item == 3 %}
                    <span class="movie-badge">C16</span>
                    {% endif %}


                    {% if item == 4 %}
                    <span class="movie-badge orange">C18</span>
                    {% endif %}
                  
                  
                   <span class="movie-badge blue">P</span>
                  </div>
                </div>

                <div class="embed-responsive embed-responsive-movie">
                  <img
                    src="{{films[item].poster}}"
                    loading="lazy"
                    alt=""
                    class="embed-responsive-img movie__box__img"
                  />
                </div>
              </div>
              <div class="movie__box__info">
                <div class="name">{{films[item].name}}</div>
                <div class="type">{{films[item].type}}</div>
                {% if item % 2 != 0 %}
                <div class="review">
                  <img
                    src="img/cinema/icon/icon-like.svg"
                    class="review-icon"
                    alt=""
                  />
                  83%
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-nav-bigger">
        <div class="swiper-button-next swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Tiếp theo"
            focusable="false"
          >
            <path
              d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
        <div class="swiper-button-prev swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Trước"
            focusable="false"
          >
            <path
              d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white bg-cover pt-3">
  <div class="container">
    <div class="mb-4">
      <div class="row no-gutters align-items-center">
        <div class="col">
          <h3 class="font-weight-bold text-primary-2 mb-0">Phim sắp chiếu</h3>
        </div>
        <div class="col-auto">
          <a
            href=""
            class="link-dark font-weight-bold d-inline-flex align-items-center"
          >
            Xem tất cả (22)
            <i class="svg-icon" data-feather="chevron-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="movie__list movie__list__swiper swiper-auto-mobile">
      <div class="swiper-container swiper-movie-list">
        <div class="swiper-wrapper">
          {% for item in [7,8,6,4,3,2,1] %}
          <div class="swiper-slide">
            <div class="movie__box">
              <a href="cinema-detail.html" class="link-absolute"></a>
              <div class="movie__box__poster">
                <div class="movie__box__overlay">
                  <div class="top">
                    {% if item == 7 %}
                    <img src="img/cinema/icon/icon-sneakshow.svg" alt="" />
                    {% endif %} {% if item == 8 %}
                    <img src="img/cinema/icon/icon-dattruoc.svg" alt="" />
                    {% endif %}
                    <img src="img/cinema/icon/icon-16.svg" alt="" />
                  </div>
                </div>

                <div class="embed-responsive embed-responsive-movie">
                  <img
                    src="{{films[item].poster}}"
                    loading="lazy"
                    alt=""
                    class="embed-responsive-img movie__box__img"
                  />
                </div>
              </div>
              <div class="movie__box__info">
                <div class="name">{{films[item].name}}</div>
                <div class="type">{{films[item].type}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-nav-bigger">
        <div class="swiper-button-next swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Tiếp theo"
            focusable="false"
          >
            <path
              d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
        <div class="swiper-button-prev swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Trước"
            focusable="false"
          >
            <path
              d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="mm"
  style="
    background-image: url(https://www.themoviedb.org/t/p/w1920_and_h427_multi_faces/hJuDvwzS0SPlsE6MNFOpznQltDZ.jpg);
  "
>
  <section class="bg-cine-dark bg-cover">
    <div class="container">
      <div class="mb-4">
        <div class="row no-gutters align-items-center">
          <div class="col">
            <h3 class="font-weight-bold text-white mb-0">Trailer mới nhất</h3>
          </div>
        </div>
      </div>

      <div class="movie__list movie__list__swiper movie__list__trailer swiper-auto-mobile">
        <div class="swiper-container swiper-movie-list">
          <div class="swiper-wrapper">
            {% for item in [0,3,2,1] %}
            <div class="swiper-slide">
              <div class="movie__box__trailer">
                <div class="movie__box__poster">
                  <a
                    class="link-absolute"
                    href="{{trailer[item].youtube}}"
                    data-fancybox="gallery1"
                    data-options='{"loop":true, "hash":false, "backFocus":false}'
                    data-caption="{{trailer[item].name}}"
                  >
                  </a>
                  <div class="movie__box__play">
                    <img
                      class="img-fluid"
                      src="img/cinema/play-video.svg"
                      width="30"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <div class="embed-responsive embed-responsive-trailer">
                    <img
                      src="{{trailer[item].poster}}"
                      loading="lazy"
                      alt=""
                      class="embed-responsive-img movie__box__img"
                    />
                  </div>
                </div>

                <div class="movie__box__info">
                  <div class="name">
                    <a href="cinema-detail.html"> {{trailer[item].name}} </a>
                  </div>
                  <div class="type">{{trailer[item].type}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper-nav-bigger">
          <div class="swiper-button-next swiper-button-white">
            <svg
              viewBox="0 0 18 18"
              role="img"
              aria-label="Tiếp theo"
              focusable="false"
            >
              <path
                d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </div>
          <div class="swiper-button-prev swiper-button-white">
            <svg
              viewBox="0 0 18 18"
              role="img"
              aria-label="Trước"
              focusable="false"
            >
              <path
                d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="bg-white bg-cover">
  <div class="container">
    <div class="theater__find__container">
      <div class="row no-gutters">
        <div class="col-12 col-md-auto theater__find__brand__bg">
          <div
            class="row no-gutters theater__find__heading align-items-center mb-lg-4"
          >
            <div class="col-12">
              <h4 class="font-weight-bold text-primary-2 mb-3">Rạp đề xuất</h4>
            </div>
            <div class="col-6">
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle dropdown-toggle-absolute btn-dropdown w-100"
                  type="button"
                  data-toggle="modal"
                  data-target="#sign-in-modal"
                >
                  Tp. Hồ Chí Minh
                </button>
              </div>
            </div>

            <div class="col-6 pl-3">
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle dropdown-toggle-absolute btn-dropdown w-100"
                  type="button"
                  data-toggle="modal"
                  data-target="#sign-in-modal"
                >
                  Quận 4
                </button>
              </div>
            </div>
          </div>

          <ul class="cine__booking__theater theater__find__brand">
            <li class="booking__theater__item is-active">
              <div class="img text-center">
                <img src="img/cinema/dexuat.png" class="img-fluid alt="">
              </div>
              <div class="content">
                <div class="text">Đề xuất</div>
              </div>
            </li>
            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190709165424-636982880641515855.jpg"
                class="img-fluid alt="">
                <div class="sale">79k</div>
              </div>
              <div class="content">
                <div class="text">CGV</div>
              </div>
            </li>

            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190709142729-636982792496609118.jpg"
                class="img-fluid alt="">
              </div>
              <div class="text">BHD</div>
            </li>

            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-200310155910-637194527506019333.png"
                class="img-fluid alt="">
              </div>
              <div class="text">Galaxy</div>
            </li>

            {% for item in range(0,2) %}
            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190709165424-636982880641515855.jpg"
                class="img-fluid alt="">
              </div>
              <div class="text">CGV</div>
            </li>
            {% endfor %}

            <li class="d-inline-block d-md-none">
              <div style="width: 5px"></div>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md">
          <div class="theater__list theater__find__list">
            {% for item in [3,4,5,6,1,2,3] %}
            <div class="theater__item">
              <div
                class="theater__item__col"
                data-toggle="collapse"
                data-target="#dk{{item}}"
                aria-expanded="false"
                aria-controls="dk{{item}}"
              >
                <div class="theater__item__avatar">
                  <img
                  src="https://s3img.vcdn.vn/123phim/2021/01/bhd-star-bitexco-16105952137769.png"
                  class="img-fluid alt="">
                </div>
                <div class="theater__item__content">
                  <div class="theater__item__name">CGV Cresent Mall</div>

                  <div class="theater__item__address">
                    Tầng 5 | Trung tâm thương mại A Phường X Quận 7
                  </div>

                  <div class="theater__item__sale">Giảm 10% cho vé 2D</div>
                </div>

                <div class="theater__item__cta">
                  <i
                    data-feather="chevron-right"
                    class="theater__item__arrow"
                  ></i>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="text-center">
              <div class="text-center mt-4 mb-4">
                <a
                  href="#"
                  class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
                  >Xem thêm</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- fqwefwefwefw -->

{% set uudai = [ { 'title': 'Thẻ quà giảm 5% tối đa 135.000đ khi mua Vé máy bay'
}, { 'title': 'Thẻ quà giảm 40.000đ thanh toán tại Siêu Thị hoặc Cửa hàng tiện
lợi' }, { 'title': 'Thẻ quà Nạp tiền điện thoại, mua mã thẻ' }, { 'title': 'Thẻ
quà giảm 18.000đ Thanh toán tại Tiki/Lazada' } ] %}

<section class="bg-pink-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-pink-momo">Ưu đãi hấp dẫn</h2>
        <p class="lead text-gray-700">
          Nhấp vào từng khuyến mãi để xem chi tiết và lựa chọn khuyến mãi phù
          hợp
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="wrap__scroll mb-4 wrap__scroll__tintuc">
          <ul
            class="nav nav-tabs tabs-soju wrap__scroll__target"
            id="myTab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                id="tab-0"
                data-toggle="tab"
                href="#tatcathequa"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Tất cả thẻ quà</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-ve-may-bay"
                data-toggle="tab"
                href="#tp-ve-may-bay"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Vé máy bay</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-ve-tau"
                data-toggle="tab"
                href="#tp-ve-tau"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Vé tàu</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-ve-xe-khach"
                data-toggle="tab"
                href="#tp-ve-xe-khach"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Vé xe khách</a
              >
            </li>
          </ul>

          <div class="wrap__scroll__next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade active show"
            id="tatcathequa"
            role="tabpanel"
            aria-labelledby="tab-0"
          >
            <div class="row">
              {% for i in [1,2,3,1,2,3] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img">
                    <a href="" data-toggle="modal" data-target="#modal-uudai">
                      <img
                        src="img/service/uudai/{{i}}.png"
                        class="dona-card-img-top"
                        alt="..."
                        loading="lazy"
                      />
                    </a>
                  </div>
                  <div class="dn-card-body px-3 pt-3 pb-1">
                    <h3 class="fs-16 dn-card-title">
                      <a
                        href=""
                        data-toggle="modal"
                        data-target="#modal-uudai"
                        class="card__title__link font-weight-bold"
                      >
                        {{uudai[i].title}}</a
                      >
                    </h3>
                  </div>
                  <div
                    class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3"
                  >
                    <span class="fs-12 text-gray-600">08/10/2020</span>
                    <a
                      href="#"
                      class="fs-13"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem chi tiết
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="tp-ve-may-bay"
            role="tabpanel"
            aria-labelledby="tab-ve-may-bay"
          >
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img
                      src="img/service/uudai/{{i}}.png"
                      class="dona-card-img-top"
                      alt="..."
                      loading="lazy"
                    />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div
                    class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3"
                  >
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a
                      href="#"
                      class="btn btn-outline-primary d-block rounded fs-13 btn-pink-hot p-1 px-3 stretched-link"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="tp-ve-tau"
            role="tabpanel"
            aria-labelledby="tab-ve-tau"
          >
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img
                      src="img/service/uudai/{{i}}.png"
                      class="dona-card-img-top"
                      alt="..."
                      loading="lazy"
                    />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div
                    class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3"
                  >
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a
                      href="#"
                      class="btn btn-outline-primary d-block rounded fs-13 btn-pink-hot p-1 px-3 stretched-link"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="tp-ve-xe-khach"
            role="tabpanel"
            aria-labelledby="tab-ve-xe-khach"
          >
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img
                      src="img/service/uudai/{{i}}.png"
                      class="dona-card-img-top"
                      alt="..."
                      loading="lazy"
                    />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div
                    class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3"
                  >
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a
                      href="#"
                      class="btn btn-outline-primary d-block rounded fs-13 btn-pink-hot p-1 px-3 stretched-link"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/section-tintuc.html" %}

<section class="bg-pink-light bg-cover pb-0">
  <div class="container overflow-hidden">
    <div class="text-center section__title">
      <h2 class="h2 font-weight-bold text-primary-2">
        Đi lại khỏe re, <br class="d-inline-block d-md-none" />
        vé gì cũng có với Ví MoMo
      </h2>
    </div>

    <!-- <div class="mb-4">
      <img
        src="	https://static.mservice.io/images/s/momo-upload-api-201125100840-637418957204101267.jpg"
        class="d-block d-md-none img-fluid mx-auto rounded"
        alt=""
      />
    </div> -->

    <div class="row justify-content-center sm-gutters reason__service">
      <!-- Nay la gi -->

      <div
        class="col-12 col-md-6 col-lg-4 order-1 order-md-1 reason__item__left"
      >
        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101317.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Mua đủ mọi loại vé</h6>
              <p>
                So sánh được giá vé, thời gian khởi hành của tất cả các hãng
                hàng không, hãng xe/tàu cho phép đặt vé trên Ví MoMo.
              </p>
            </div>
          </div>
        </div>

        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101240.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Hỗ trợ khách hàng 24/7</h6>
              <p>
                Đội ngũ nhân viên hỗ trợ khách hàng luôn sẵn sàng giúp đỡ bạn
                trong từng bước của quá trình đặt vé.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-md-4 order-3 order-md-2 col-xl-auto align-self-center d-none d-lg-block"
      >
        <div class="position-relative mt-md-5 mt-lg-0 reason__item__phone">
          <img
            width="300"
            class="img-fluid d-block mx-auto lazyloaded"
            alt=""
            src="https://static.mservice.io/blogscontents/momo-upload-api-201124101702-637418098229113362.png"
          />
          <div class="reason__cta">
            <a
              target="_blank"
              href="https://momo.vn/download#home"
              class="hocvien-btn"
            >
              <img
                src="https://static.mservice.io/jk/momo2020/img/btn-timhieungay.svg"
                width="142"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </a>
            <style>
              .hocvien-btn {
                display: inline-block;
                transition: all 0.2s ease-in;
                opacity: 0.9;
              }

              .hocvien-btn:hover {
                opacity: 1;
                transform: translate3d(0, -3px, 0);
              }

              @media (max-width: 767.98px) {
                .hocvien-btn {
                  width: 130px;
                }
              }
            </style>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4 order-2 order-md-3 reason__item__right"
      >
        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101415.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Thanh toán siêu bảo mật</h6>
              <p>
                Ví MoMo đáp ứng các tiêu chuẩn thanh toán an toàn cao nhất với
                chứng chỉ bảo mật quốc tế PCI DSS và công nghệ bảo mật toàn
                diện.
              </p>
            </div>
          </div>
        </div>

        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101438.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Ngập tràn ưu đãi</h6>
              <p>
                Đặt vé trên Ví MoMo luôn có nhiều ưu đãi tuyệt vời với giá cạnh
                tranh nhất.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script type="text/javascript" src="js/readmore.js"></script>

<script type="text/javascript" src="js/cinema.js"></script>

{% endblock %}
