{% import 'macros/helpers.html' as macro %} {% import 'macros/helpers.html' as
macro %} {% extends 'layouts/layout.html' %} {% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<!-- <ul class="nav justify-content-center navbar__cinema">
  <li class="nav-item">
    <a class="nav-link active" href="#">Lịch chiếu phim</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Rạp chiếu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blogs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">News</a>
  </li>
</ul> -->
<section class="sg-nav-container is-relative shadow-sm p-0">
  <div class="container position-relative">
    <div class="wrap__scroll wrap__scroll__service is-bg-white">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb align-items-center wrap__scroll__target">
          <li class="breadcrumb-item">
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667"
              >
                <path
                  d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" onclick="return false">Trang chủ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat active">
            <a href="/trai-tim-momo">
           
              Lịch chiếu
            </a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo">
         
              Rạp phim
            </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo">
             
              Tin tức
            </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo">
           
              Blog
            </a>
          </li>

          <li class="d-block" style="height: 1px">
            <span style="width: 30px; display: block"></span>
          </li>
        </ol>
      </nav>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>
  </div>
</section>

<div class="cine__hero">
  <div
    class="cine__cover"
    style="
      background-image: url(https://lumiere-a.akamaihd.net/v1/images/pp_rayaandthelastdragon_emeahero_20754_4335d563.jpeg?region=0,0,2048,878);
    "
  >
    <a
      class="cine__cover__play"
      href="https://www.youtube.com/watch?v=1VIZ89FEjYI&amp;autoplay=1"
      data-fancybox="gallery1"
      data-options='{"loop":true, "hash":false, "backFocus":false}'
      data-caption="Disney's Raya and the Last Dragon | Official Trailer"
    >
      <img
        class="img-fluid"
        src="img/cinema/play-video.svg"
        loading="lazy"
        alt=""
      />
    </a>
  </div>
  <div class="cine__spec">
    <div class="container">
      <div class="cine__name__tag">  <span class="movie-badge">C16</span></div>
      <h1 class="cine__name">Raya Và Rồng Thần Cuối Cùng</h1>

      <ul class="list-inline cine__spec__sm cine__spec__type">
        <li class="list-inline-item">Raya And The Last Dragon</li>

        <li class="list-inline-item">2021</li>

        <li class="list-inline-item">98 phút</li>
      </ul>

      <div class="cine__score__list">
        <div class="cine__score imdb">
          <div class="cine__score__logo">
            <svg
              id="home_img"
              class="ipc-logo"
              xmlns="http://www.w3.org/2000/svg"
              width="64"
              height="32"
              viewBox="0 0 64 32"
              version="1.1"
            >
              <g fill="#F5C518">
                <rect x="0" y="0" width="100%" height="100%" rx="4"></rect>
              </g>
              <g
                transform="translate(8.000000, 7.000000)"
                fill="#000000"
                fill-rule="nonzero"
              >
                <polygon points="0 18 5 18 5 0 0 0"></polygon>
                <path
                  d="M15.6725178,0 L14.5534833,8.40846934 L13.8582008,3.83502426 C13.65661,2.37009263 13.4632474,1.09175121 13.278113,0 L7,0 L7,18 L11.2416347,18 L11.2580911,6.11380679 L13.0436094,18 L16.0633571,18 L17.7583653,5.8517865 L17.7707076,18 L22,18 L22,0 L15.6725178,0 Z"
                ></path>
                <path
                  d="M24,18 L24,0 L31.8045586,0 C33.5693522,0 35,1.41994415 35,3.17660424 L35,14.8233958 C35,16.5777858 33.5716617,18 31.8045586,18 L24,18 Z M29.8322479,3.2395236 C29.6339219,3.13233348 29.2545158,3.08072342 28.7026524,3.08072342 L28.7026524,14.8914865 C29.4312846,14.8914865 29.8796736,14.7604764 30.0478195,14.4865461 C30.2159654,14.2165858 30.3021941,13.486105 30.3021941,12.2871637 L30.3021941,5.3078959 C30.3021941,4.49404499 30.272014,3.97397442 30.2159654,3.74371416 C30.1599168,3.5134539 30.0348852,3.34671372 29.8322479,3.2395236 Z"
                ></path>
                <path
                  d="M44.4299079,4.50685823 L44.749518,4.50685823 C46.5447098,4.50685823 48,5.91267586 48,7.64486762 L48,14.8619906 C48,16.5950653 46.5451816,18 44.749518,18 L44.4299079,18 C43.3314617,18 42.3602746,17.4736618 41.7718697,16.6682739 L41.4838962,17.7687785 L37,17.7687785 L37,0 L41.7843263,0 L41.7843263,5.78053556 C42.4024982,5.01015739 43.3551514,4.50685823 44.4299079,4.50685823 Z M43.4055679,13.2842155 L43.4055679,9.01907814 C43.4055679,8.31433946 43.3603268,7.85185468 43.2660746,7.63896485 C43.1718224,7.42607505 42.7955881,7.2893916 42.5316822,7.2893916 C42.267776,7.2893916 41.8607934,7.40047379 41.7816216,7.58767002 L41.7816216,9.01907814 L41.7816216,13.4207851 L41.7816216,14.8074788 C41.8721037,15.0130276 42.2602358,15.1274059 42.5316822,15.1274059 C42.8031285,15.1274059 43.1982131,15.0166981 43.281155,14.8074788 C43.3640968,14.5982595 43.4055679,14.0880581 43.4055679,13.2842155 Z"
                ></path>
              </g>
            </svg>
          </div>

          <div class="cine__score__value">8,5<span>/10</span></div>
        </div>

        <div class="cine__score imdb">
          <div class="cine__score__logo">
            <img
              src="https://www.rottentomatoes.com/assets/pizza-pie/images/icons/tomatometer/certified_fresh.75211285dbb.svg"
              class="img-fluid"
              alt=""
              width="30"
            />
          </div>

          <div class="cine__score__value">75%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 pt-4 pt-md-5 pr-lg-5">
      <div class="cine__info__container">
        <div class="cine__poster">
          <img
            src="https://lumiere-a.akamaihd.net/v1/images/p_disneyplus_rayaandthelastdragon_20842_36be8eca.jpeg"
            class="img-fluid d-block mx-auto"
            alt=""
          />
        </div>

        <p class="cine__info__article mb-0">
          Từ vương quốc Kumandra, một nữ chiến binh đơn độc đã hợp tác cùng 1
          nhóm lạc quẻ trong thử thách tìm kiếm con rồng cuối cùng, tạo ra sự
          đoàn kết và mang ánh sáng đến vương quốc của họ 1 lần nữa.
        </p>

        <ul class="list-unstyled cine__info__list">
          <li><span> Đạo diễn </span> Don Hall, Carlos López Estrada</li>
          <li><span>Biên kịch </span> Qui Nguyen , Adele Lim</li>
          <li><span>Diễn viên </span> Awkwafina, Kelly Marie Tran</li>
          <li><span>Quốc gia </span> Mỹ</li>
          <li><span>Ngày khởi chiếu </span>2021-03-05</li>
          <li><span>Độ dài </span> 113 phút</li>
          <li><span>Thể loại </span> Hoạt Hình, Bí ẩn, Gây cấ</li>
          <!-- <li>Tag : Bánh mì</li> -->
        </ul>
      </div>

      <div class="cine__km">
        <img
          src="https://fwcdn.pl/prt/a1/hbo/2021/belkabaza_672x60px_WladcaPierscieni.jpg"
          class="img-fluid d-block"
          alt=""
        />
      </div>

      <div class="d-block d-lg-none">
        {% include "components/cinema-rating.html" %}
      </div>

      <div class="cine__cluster">
        <hr class="m-0" />
        <div class="row no-gutter">
          <div class="col">
            <h2 class="cine__heading h4">Lịch chiếu</h2>
          </div>
          <div class="col-auto">
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle dropdown-toggle-absolute btn-dropdown"
                  type="button"
                  data-toggle="modal"
                  data-target="#sign-in-modal"
                >
                  Tp. Hồ Chí Minh
                </button>
              </div>
          </div>
        </div>

        <div class="cine__booking__container">
          <div class="cine__booking__swiper">
            <div class="booking__swiper__navi left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-left"
              >
                <polyline points="15 18 9 12 15 6"></polyline>
              </svg>
            </div>

            <div class="cine__booking__date swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="booking__date__item is-active">
                    <span class="num">16</span>
                    <span class="text">Hôm nay</span>
                  </div>
                </div>
                {% for item in range(0,10) %}
                <div class="swiper-slide">
                  <div class="booking__date__item">
                    <span class="num">{{ loop.index + 16}}</span>
                    <span class="text">Thứ {{ 2 + loop.index}}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="booking__swiper__navi right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-right"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <ul class="cine__booking__time d-none">
            <li class="booking__time__item is-active">
              <span class="text">Mọi khung giờ</span>
            </li>
            {% for item in range(0,4) %}
            <li class="booking__time__item">
              <span class="text"
                >{{12 + loop.index}}:00 - {{15 + loop.index}}:00</span
              >
            </li>
            {% endfor %}
          </ul>

          <ul class="cine__booking__theater">
            <li class="booking__theater__item is-active">
              <div class="img text-center">
                <img src="img/cinema/dexuat.png" class="img-fluid alt="">
              </div>
              <div class="content">
                <div class="text">Đề xuất</div>
              </div>
            </li>
            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190709165424-636982880641515855.jpg"
                class="img-fluid alt="">
                <div class="sale">79k</div>
              </div>
              <div class="content">
                <div class="text">CGV</div>
              </div>
            </li>

            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190709142729-636982792496609118.jpg"
                class="img-fluid alt="">
              </div>
              <div class="text">BHD</div>
            </li>

            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-200310155910-637194527506019333.png"
                class="img-fluid alt="">
              </div>
              <div class="text">Galaxy</div>
            </li>

            {% for item in range(0,2) %}
            <li class="booking__theater__item">
              <div class="img text-center">
                <img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190709165424-636982880641515855.jpg"
                class="img-fluid alt="">
              </div>
              <div class="text">CGV</div>
            </li>
            {% endfor %}

            <li class="d-inline-block d-md-none">
              <div style="width: 5px"></div>
            </li>
          </ul>

          <div class="o-hidden accordion" id="accordionExample">
            <div class="theater__list">
              {% for item in [1,2] %}
              <div class="theater__item">
                <div
                  class="theater__item__col"
                  data-toggle="collapse"
                  data-target="#dk{{item}}"
                  aria-expanded="true"
                  aria-controls="dk{{item}}"
                >
                  <div class="theater__item__avatar">
                    <img
                    src="https://s3img.vcdn.vn/123phim/2018/09/cinestar-quoc-thanh-15379636956745.jpg"
                    class="img-fluid alt="">
                  </div>
                  <div class="theater__item__content">
                    <div class="theater__item__name">CGV Cresent Mall</div>

                    <div class="theater__item__address">
                      Tầng 5 | Trung tâm thương mại A Phường X Quận 7
                      <a href=""> [Bản đồ]</a>
                    </div>

                    <div class="theater__item__sale">Giảm 10% cho vé 2D</div>
                  </div>

                  <div class="theater__item__cta">
                    <i
                      data-feather="chevron-right"
                      class="theater__item__arrow"
                    ></i>
                  </div>
                </div>

                <div class="collapse show" id="dk{{item}}">
                  <div class="theater__item__time">
                    <div class="mt-3 mb-1 h6">2D Phụ đề</div>
                    <div class="theater__time">
                      <a href="" class="theater__time__item is-active">
                        <span class="star">1:50</span>
                        <span class="seperator">~</span>
                        <span class="end"> 2:45</span>
                      </a>
                      {% for item in range(0,9) %}
                      <a href="" class="theater__time__item">
                        <span class="star">{{5 + loop.index*2}}:50</span>
                        <span class="seperator">~</span>
                        <span class="end"> {{7 + loop.index*2}}:45</span>
                      </a>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="theater__item__time">
                    <div class="mt-3 mb-1 h6">3D Thuyết minh</div>
                    <div class="theater__time">
                      {% for item in range(0,2) %}
                      <a href="" class="theater__time__item">
                        <span class="star">{{5 + loop.index*2}}:50</span>
                        <span class="seperator">~</span>
                        <span class="end"> {{7 + loop.index*2}}:45</span>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %} {% for item in [3,4,5,6] %}
              <div class="theater__item">
                <div
                  class="theater__item__col"
                  data-toggle="collapse"
                  data-target="#dk{{item}}"
                  aria-expanded="false"
                  aria-controls="dk{{item}}"
                >
                  <div class="theater__item__avatar">
                    <img
                    src="https://s3img.vcdn.vn/123phim/2018/10/cinestar-hai-ba-trung-15383833704033.jpg"
                    class="img-fluid alt="">
                  </div>
                  <div class="theater__item__content">
                    <div class="theater__item__name">CGV Cresent Mall</div>

                    <div class="theater__item__address">
                      Tầng 5 | Trung tâm thương mại A Phường X Quận 7
                      <a href=""> [Bản đồ]</a>
                    </div>

                    <!-- <div class="theater__item__sale">Giảm 10% cho vé 2D</div> -->
                  </div>

                  <div class="theater__item__cta">
                    <i
                      data-feather="chevron-right"
                      class="theater__item__arrow"
                    ></i>
                  </div>
                </div>

                <div class="collapse" id="dk{{item}}">
                  <div class="theater__item__time">
                    <div class="mt-3 mb-1 h6">2D Phụ đề</div>
                    <div class="theater__time">
                      <a href="" class="theater__time__item is-active">
                        <span class="star">1:50</span>
                        <span class="seperator">~</span>
                        <span class="end"> 2:45</span>
                      </a>
                      {% for item in range(0,9) %}
                      <a href="" class="theater__time__item">
                        <span class="star">{{5 + loop.index*2}}:50</span>
                        <span class="seperator">~</span>
                        <span class="end"> {{7 + loop.index*2}}:45</span>
                      </a>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="theater__item__time">
                    <div class="mt-3 mb-1 h6">3D Thuyết minh</div>
                    <div class="theater__time">
                      {% for item in range(0,2) %}
                      <a href="" class="theater__time__item">
                        <span class="star">{{5 + loop.index*2}}:50</span>
                        <span class="seperator">~</span>
                        <span class="end"> {{7 + loop.index*2}}:45</span>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="cine__cluster">
        <hr class="m-0" />
        <h2 class="cine__heading h4">Nội dung</h2>

        <div class="cine__overview">
          <div class="cinema-loadmore">
            <p>
              ‘Raya Và Rồng Thần Cuối Cùng’ (Raya And The Last Dragon) là bộ
              phim đầu tiên của Disney được lấy cảm hứng dựa trên các nền văn
              hóa trong khu vực Đông Nam Á. Đây được xem như là một bước ngoặt
              mới vô cùng mới lạ và độc đáo so với những tác phẩm trước đó của
              nhà Chuột. Bộ phim hứa hẹn sẽ đem đến nhiều trải nghiệm thú vị và
              vô số những bất ngờ cho khán giả vào thời gian sắp tới.
            </p>

            <p>
              Raya Và Rồng Thần Cuối Cùng thuộc thể loại phiêu lưu viễn tưởng.
              Lấy bối cảnh tại vương quốc huyền bí Kumandra – vùng đất mà con
              người và loài rồng đã chung sống hòa thuận với nhau. Nhưng rồi một
              thế lực đen tối bỗng dưng xuất hiện và đe dọa bình yên nơi đây khi
              những con quái vật nham hiểm được gọi là Drunn đang tìm mọi cách
              để thống trị vùng đất. Vì vậy, loài rồng buộc phải hy sinh bản
              thân để cứu nhân loại.
            </p>
            <p>
              500 năm sau, những con quái vật đó một lần nữa quay trở lại với
              mục đích xấu xa như ban đầu. Công chúa Raya – nữ chiến binh duy
              nhất mang trong mình trọng trách cao cả đi tìm Thần Rồng cuối cùng
              trong truyền thuyết nhằm hàn gắn lại khối ngọc đã vỡ để cứu lấy
              vương quốc cũng như ngăn chặn Drunn. Trong suốt chặn hành trình
              dài, Raya học được nhiều thứ và nhận ra rằng loài người cần nhiều
              hơn những gì họ nghĩ, đó chính là sự đoàn kết và lòng tin lẫn
              nhau.
            </p>

            <p>
              Công chúa Raya trong Raya Và Rồng Thần Cuối Cùng được tạo hình với
              làn da nâu bánh mật, mái tóc đen tuyền pha trộn dáng vẻ mạnh mẽ,
              mang đậm nét Đông Nam Á. Trang phục của cô kết hợp những phụ kiện
              và vũ khí toát lên được khí chất của một nữ chiến binh với nét đặc
              trưng thuần Châu Á. Đồng hành cùng với Raya là thú cưng Tuk Tuk,
              một chú tê tê, loại động vật được tìm thấy và sinh sống chủ yếu
              tại Châu Á. Hiện nay, Tê Tê đang dần trở thành một trong những
              loài động vật quý hiếm và cần được bảo tồn trong khu vực.
            </p>
          </div>
        </div>
      </div>

      <div class="cine__cluster">
        <hr class="m-0" />
        <h2 class="cine__heading h4">Cast & Crew</h2>

        <div class="cine__cast swiper-auto-mobile pt-4 pb-0">
          <div class="swiper-container swiper-cine-cast">
            <div class="swiper-wrapper">
              {% for item in range(0,2) %}

              <div class="swiper-slide">
                <div class="cine__cast__item">
                  <div class="cine__cast__avatar">
                    <img
                      src="https://www.themoviedb.org/t/p/w276_and_h350_face/v2daUrk7hZryH6vtCWK9ESf6gAG.jpg"
                      alt=""
                    />
                  </div>
                  <div class="mt-1 text-center">
                    <div class="cine__cast__name">Kelly Marie Tran</div>
                    <div class="cine__cast__alias">Raya (voice)</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__cast__item">
                  <div class="cine__cast__avatar">
                    <img
                      src="https://www.themoviedb.org/t/p/w276_and_h350_face/l5AKkg3H1QhMuXmTTmq1EyjyiRb.jpg"
                      alt=""
                    />
                  </div>
                  <div class="mt-1 text-center">
                    <div class="cine__cast__name">Awkwafina</div>
                    <div class="cine__cast__alias">Sisu (voice)</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__cast__item">
                  <div class="cine__cast__avatar">
                    <img
                      src="https://www.themoviedb.org/t/p/w276_and_h350_face/bzvi6adMl3zmzC7gWhS4cmO61S4.jpg"
                      alt=""
                    />
                  </div>
                  <div class="mt-1 text-center">
                    <div class="cine__cast__name">Izaac Wang</div>
                    <div class="cine__cast__alias">Boun (voice)</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__cast__item">
                  <div class="cine__cast__avatar">
                    <img
                      src="https://www.themoviedb.org/t/p/w276_and_h350_face/r5yu8cnSaVA36j0CTSC8TjiYYE5.jpg"
                      alt=""
                    />
                  </div>
                  <div class="mt-1 text-center">
                    <div class="cine__cast__name">Gemma Chan</div>
                    <div class="cine__cast__alias">Namaari (voice)</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__cast__item">
                  <div class="cine__cast__avatar">
                    <img
                      src="https://www.themoviedb.org/t/p/w276_and_h350_face/aXbTKgL4u6oVumQ459B9VkGTn4A.jpg"
                      alt=""
                    />
                  </div>
                  <div class="mt-1 text-center">
                    <div class="cine__cast__name">Daniel Dae Kim</div>
                    <div class="cine__cast__alias">Benja (voice)</div>
                  </div>
                </div>
              </div>

              {% endfor %}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Tiếp theo"
                focusable="false"
                style=""
              >
                <path
                  d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div class="swiper-button-prev swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Trước"
                focusable="false"
                style=""
              >
                <path
                  d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="cine__cluster">
        <hr class="m-0" />
        <h2 class="cine__heading h4">Trailer & Hình ảnh</h2>

        <div class="cine__gallery swiper-auto-mobile">
          <div class="swiper-container swiper-cine-gallery">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="cine__gallery__item">
                  <a
                    class="cine__video"
                    href="https://www.youtube.com/watch?v=9BPMTr-NS9s&amp;autoplay=1"
                    data-fancybox="gallery1"
                    data-options='{"loop":true, "hash":false, "backFocus":false}'
                    data-caption="Raya and the Last Dragon | Official Teaser Trailer"
                  >
                    <img
                      class="img-fluid"
                      src="https://i.ytimg.com/vi/9BPMTr-NS9s/hqdefault.jpg"
                      loading="lazy"
                      alt=""
                    />

                    <img
                      class="cine__video__btn"
                      src="img/cinema/play-video.svg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__gallery__item">
                  <a
                    class=""
                    href="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/7prYzufdIOy1KCTZKVWpjBFqqNr.jpg"
                    data-fancybox="gallery1"
                    data-options='{"loop":true, "hash":false, "backFocus":false}'
                    data-caption="Raya and the Last Dragon"
                  >
                    <img
                      class="img-fluid"
                      src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/7prYzufdIOy1KCTZKVWpjBFqqNr.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__gallery__item">
                  <a
                    class=""
                    href="https://www.themoviedb.org/t/p/w440_and_h660_face/lPsD10PP4rgUGiGR4CCXA6iY0QQ.jpg"
                    data-fancybox="gallery1"
                    data-options='{"loop":true, "hash":false, "backFocus":false}'
                    data-caption="Raya and the Last Dragon"
                  >
                    <img
                      class="img-fluid"
                      src="https://www.themoviedb.org/t/p/w440_and_h660_face/lPsD10PP4rgUGiGR4CCXA6iY0QQ.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__gallery__item">
                  <a
                    class=""
                    href="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/hJuDvwzS0SPlsE6MNFOpznQltDZ.jpg"
                    data-fancybox="gallery1"
                    data-options='{"loop":true, "hash":false, "backFocus":false}'
                    data-caption="Raya and the Last Dragon"
                  >
                    <img
                      class="img-fluid"
                      src="https://www.themoviedb.org/t/p/w1066_and_h600_bestv2/hJuDvwzS0SPlsE6MNFOpznQltDZ.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cine__gallery__item">
                  <a
                    class=""
                    href="https://www.themoviedb.org/t/p/w1000_and_h563_face/ljYNoCdGubZzI8kaFxT0JDCtKy.jpg"
                    data-fancybox="gallery1"
                    data-options='{"loop":true, "hash":false, "backFocus":false}'
                    data-caption="Raya and the Last Dragon"
                  >
                    <img
                      class="img-fluid"
                      src="https://www.themoviedb.org/t/p/w1000_and_h563_face/ljYNoCdGubZzI8kaFxT0JDCtKy.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Tiếp theo"
                focusable="false"
                style=""
              >
                <path
                  d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div class="swiper-button-prev swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Trước"
                focusable="false"
                style=""
              >
                <path
                  d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="cine__cluster">
        <hr class="m-0" />
        <h2 class="cine__heading h4">Phim liên quan</h2>

        <div class="swiper-auto-mobile">
          <div class="swiper-container swiper-poster-gallery">
            <div class="swiper-wrapper">
              {% for item in films %}
              <div class="swiper-slide">
                <div class="cine__postter__sm">
                  <a href="" class="link-absolute"></a>
                  <div class="cine__poster">
                    <img
                      src="{{item.poster}}"
                      class="img-fluid d-block mx-auto"
                      alt=""
                    />

                    <div class="cine__poster__rate">
                      <i data-feather="thumbs-up" class="svg-icon"></i> 85%
                    </div>
                  </div>

                  <div class="cine__poster__space">
                    <div class="cine__poster__name">{{item.name}}</div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Tiếp theo"
                focusable="false"
                style=""
              >
                <path
                  d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div class="swiper-button-prev swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Trước"
                focusable="false"
                style=""
              >
                <path
                  d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="cine__cluster">
        <hr class="m-0" />
        <div class="row no-gutters">
          <div class="col">
            <h2 class="cine__heading h4">
              Bình luận phim
              <!-- ( <span class="">
                <i data-feather="thumbs-up" class="svg-icon text-success"></i> 85%
              </span> ) -->
            </h2>
          </div>
          <div class="col-auto">
            <div class="">
              <select
                class="form-control form-control-sm"
                id="exampleFormControlSelect1"
              >
                <option>Nổi bật</option>
                <option>Mới nhất</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="cine__comment">
              <div class="cine__comment__user">
                <div class="cine__comment__avatar">
                  <img
                    src="img/avatars/female-3.jpg"
                    alt="Avatar"
                    class="avatar avatar-lg"
                  />
                </div>
                <div class="cine__comment__info">
                  <div class="name">Nguyen Phuong Anh</div>
                  <div class="date">22/02/2021</div>
                  <div class="sale">Đã mua vé trên MoMo</div>
                </div>
              </div>

              <div class="cine__comment__content">
                Phim hay,nhiều đoạn gây cười cho khán giả.Nhưng nhân viên bán vé
                thái độ như đứa trẻ trâu khịa chúng tôi sau lưng rất to tiếng
                rằng mua vé chung với đồ ăn đc giảm giá nhưng nhân viên k hề nói
                1 tiếng =)) lúc quay lại mua đồ ăn thì vừa nói to lại vô duyên
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="cine__comment">
              <div class="cine__comment__user">
                <div class="cine__comment__avatar">
                  <img
                    src="img/avatars/female-1.jpg"
                    alt="Avatar"
                    class="avatar avatar-lg"
                  />
                </div>
                <div class="cine__comment__info">
                  <div class="name">Tran thi quynh huong</div>
                  <div class="date">22/02/2021</div>
                  <div class="sale">Đã mua vé trên MoMo</div>
                </div>
              </div>

              <div class="cine__comment__content">
                Phim hay,nhiều đoạn gây cười cho khán giả.Nhưng nhân viên bán vé
                thái độ như đứa trẻ trâu khịa chúng tôi sau lưng rất to tiếng
                rằng mua vé chung với đồ ăn đc .
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="cine__comment">
              <div class="cine__comment__user">
                <div class="cine__comment__avatar">
                  <img
                    src="img/avatars/female-2.jpg"
                    alt="Avatar"
                    class="avatar avatar-lg"
                  />
                </div>
                <div class="cine__comment__info">
                  <div class="name">Tran thi quynh huong</div>
                  <div class="date">22/02/2021</div>
                </div>
              </div>

              <div class="cine__comment__content">
                Giải trí cũng tạm, nét vẽ đẹp mắt. Cần nhiều hơn khoảnh khắc có
                Tom Jerry và mấy thú vì tụi nó giải trí hấp dẫn hơn con người.
                Phần chèn nhạc loạn xạ là một điểm trừ lớn.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="cine__comment">
              <div class="cine__comment__user">
                <div class="cine__comment__avatar">
                  <img
                    src="img/avatars/female-4.jpg"
                    alt="Avatar"
                    class="avatar avatar-lg"
                  />
                </div>
                <div class="cine__comment__info">
                  <div class="name">Tran thi quynh huong</div>
                  <div class="date">22/02/2021</div>
                </div>
              </div>

              <div class="cine__comment__content">
                phim khá lôi cuốn, có pha chút hài hước và 18+. Xem giải trí khá
                ok
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <a
            href=""
            class="btn btn-outline-dark font-weight-bold"
            data-toggle="modal"
            data-target="#modal-donation-list"
            >Xem tất cả (244 bình luận)</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="cine__rating__container d-none d-lg-block">
        {% include "components/cinema-rating.html" %}
      </div>

      <div class="cine__cluster mt-0 mt-lg-4">
        <h2 class="cine__heading h4">Phim đang chiếu</h2>

        <div class="cine__postter__hori__list">
          {% for item in films %}
          <div class="cine__postter__hori">
            <a href="" class="link-absolute"></a>
            <div class="cine__poster">
              <img
                src="{{item.poster}}"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </div>

            <div class="cine__poster__space">
              <div class="cine__poster__name">{{item.name}}</div>
              <div class="cine__poster__type">{{item.type}}</div>

              <div class="mt-1">
                <div class="cine__poster__score">
                  <i data-feather="thumbs-up" class="svg-icon"></i> 85%
                </div>
              </div>

              <div class="mt-2">
                <a href="" class="cine__poster__link">
                  Xem chi tiết
                  <i data-feather="chevron-right" class="svg-icon"></i
                ></a>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="cine__cluster mt-0 mt-lg-4">
        <h2 class="cine__heading h4">Tin tức về phim</h2>

        <div class="mgz__list mgz__popular__list cine__popular__list">
          <div class="mgz__row">
            {% set films = [ { "title" : "Phim Lật Mặt 48H và hành trình trở
            thành Series hút khách của Lý Hải", "img" :
            "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-210112174817-637460704971301288.jpg",
            "view" : "15k" } , { "title" : "REVIEW phim Soul: Cuộc Sống Nhiệm
            Màu - Ý nghĩa thực của cuộc sống là gì?", "img" :
            "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201230142432-637449350729893828.jpg",
            "view" : "28.2k" }, { "title" : "REVIEW Wonder Woman 1984: Nữ quyền,
            Sắc tộc và Con người", "img" :
            "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201218143053-637438986537271574.jpg",
            "view" : "7.0k" }, { "title" : "REVIEW Sài Gòn trong cơn mưa - Tình
            yêu vụng dại của tuổi trẻ!", "img" :
            "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201105152841-637401869210191261.jpg",
            "view" : "2.2k" }, { "title" : "REVIEW phim Tiệc Trăng Máu -
            Smartphone hiện đại nhưng lại hại thân!", "img" :
            "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201022134639-637389711992597492.jpg",
            "view" : "36.1k" } ] %} {% for item in films %}
            <article class="mgz mgz__popular">
              <div class="mgz__header">
                <figure class="mgz__figure">
                  <div class="mgz__figure-bg"></div>
                  <div class="embed-responsive embed-responsive-15by20">
                    <a href="magazine-detail.html">
                      <img
                        data-src="{{item.img}}"
                        alt=""
                        class="embed-responsive-img lazyload"
                      />
                    </a>
                  </div>
                </figure>
              </div>

              <div class="mgz__body">
                <div class="infomgz">
                  <header class="infomgz__header">
                    <h4 class="infomgz__title h6">
                      <a href="magazine-detail.html" alt="">{{item.title}}</a>
                    </h4>

                    <div class="infomgz__body">
                      <div class="infomgz__meta">
                        <span class="time">{{item.view}} lượt xem</span>
                      </div>
                    </div>
                  </header>
                </div>
              </div>
            </article>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal-donation-list"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Đánh giá phim</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-3 px-lg-4 py-0">
        <div class="">
          {% for item in range(0,10) %}

          <div class="cine__comment">
            <div class="cine__comment__user">
              <div class="cine__comment__avatar">
                <img
                  src="img/avatars/female-3.jpg"
                  alt="Avatar"
                  class="avatar avatar-lg"
                />
              </div>
              <div class="cine__comment__info">
                <div class="name">Nguyen Phuong Anh</div>
                <div class="date">22/02/2021</div>
              </div>
            </div>

            <div class="cine__comment__content">
              Phim hay không đoán truóc được nọi dung, lôi cuốn hoài hước
            </div>
          </div>

          <div class="cine__comment">
            <div class="cine__comment__user">
              <div class="cine__comment__avatar">
                <img
                  src="img/avatars/female-1.jpg"
                  alt="Avatar"
                  class="avatar avatar-lg"
                />
              </div>
              <div class="cine__comment__info">
                <div class="name">Tran thi quynh huong</div>
                <div class="date">22/02/2021</div>
              </div>
            </div>

            <div class="cine__comment__content">
              Phim hay,nhiều đoạn gây cười cho khán giả.Nhưng nhân viên bán vé
              thái độ như đứa trẻ trâu khịa chúng tôi sau lưng rất to tiếng rằng
              mua vé chung với đồ ăn đc giảm giá nhưng nhân viên k hề nói 1
              tiếng =)) lúc quay lại mua đồ ăn thì vừa nói to lại vô duyên
            </div>
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-dismiss="modal"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="sign-in-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="max-width: 400px">
      <div class="modal-header text-center border-0">
        <div class="w-100 pt-4">
          <h5 class="h4 text-primary-2">Chọn khu vực</h5>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            <img src="/img/icons/interface/icon-x.svg" alt="Icon" />
          </span>
        </button>
      </div>
      <div class="modal-body px-md-4 px-lg-4 pb-4 pb-lg-4">
        <form>
          <div class="form-group">
            <div class="input-group mb-3">
              <input style=" border-right: none;" class="form-control"  placeholder="Tìm khu vực" type="text" />

              <div class="input-group-append">
                <span class="input-group-text text-dark bg-transparent">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    class="injected-svg icon icon-sm bg-gray opacity-50"
                    data-src="assets/img/icons/interface/icon-search.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <path
                      d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                      stroke="#2C3038"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M21 21L16.65 16.65"
                      stroke="#2C3038"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </span>
              </div>
            </div>
          </div>

    

          <div class="row">
            {% for item in range(0,10) %}
            <div class="col-6">
              <a href="" class="d-block py-2 font-weight-bold"
                >Tp. Hồ Chí Minh</a
              >
            </div>
            <div class="col-6">
              <a href="" class="d-block py-2 font-weight-bold">Nha Trang</a>
            </div>

            <div class="col-6">
              <a href="" class="d-block py-2 font-weight-bold">Hà Nội</a>
            </div>

            <div class="col-6">
              <a href="" class="d-block py-2 font-weight-bold">Đà lạt</a>
            </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script type="text/javascript" src="js/readmore.js"></script>

<script type="text/javascript" src="js/cinema.js"></script>

{% endblock %}
