{% import 'macros/helpers.html' as macro %} {% import 'macros/helpers.html' as
macro %} {% extends 'layouts/layout.html' %} {% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<section class="sg-nav-container is-relative shadow-sm p-0">
  <div class="container position-relative">
    <div class="wrap__scroll wrap__scroll__service is-bg-white">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb align-items-center wrap__scroll__target">
          <li class="breadcrumb-item">
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667"
              >
                <path
                  d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" onclick="return false">Trang chủ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat active">
            <a href="/trai-tim-momo"> Lịch chiếu </a>
          </li>
          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Rạp phim </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Tin tức </a>
          </li>

          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/heo-dat-momo"> Blog </a>
          </li>

          <li class="d-block" style="height: 1px">
            <span style="width: 30px; display: block"></span>
          </li>
        </ol>
      </nav>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>
  </div>
</section>

<div
  class="merchant__hero__container"
  style="
    background-image: url(https://static.mservice.io/placebrand/s/momo-upload-api-210323100933-637520909731677518.jpg);
  "
>
  <div class="merchant__hero__blur"></div>

  <div class="merchant__hero__content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="merchant__avatar shadow-sm">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-190709165424-636982880641515855.jpg"
              class="img-fluid d-block mx-auto"
              alt=""
            />
          </div>
        </div>
        <div class="col">
          <h1 class="merchant__name">CGV Crescent Mall</h1>
          <div class="merchant__address">
            Lầu 5, Crescent Mall Đại lộ Nguyễn Văn Linh, Phú Mỹ Hưng, Q.7 Tp. Hồ
            Chí Minh
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-white bg-cover pb-3 pt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 pr-lg-5">
        <h3 class="font-weight-bold text-primary-2 mb-0 h4">
          Lịch chiếu phim tại CGV Cresent Mall
        </h3>

        <div class="cine__cluster">
          <div class="cine__booking__container">
            <div class="cine__booking__swiper">
              <div class="booking__swiper__navi left">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-chevron-left"
                >
                  <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
              </div>

              <div class="cine__booking__date swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="booking__date__item is-active">
                      <span class="num">16</span>
                      <span class="text">Hôm nay</span>
                    </div>
                  </div>
                  {% for item in range(0,10) %}
                  <div class="swiper-slide">
                    <div class="booking__date__item">
                      <span class="num">{{ loop.index + 16}}</span>
                      <span class="text">Thứ {{ 2 + loop.index}}</span>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="booking__swiper__navi right">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-chevron-right"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
            </div>

            <ul class="cine__booking__time">
              <li class="booking__time__item is-active">
                <span class="text">Mọi khung giờ</span>
              </li>
              {% for item in range(0,4) %}
              <li class="booking__time__item">
                <span class="text"
                  >{{12 + loop.index}}:00 - {{15 + loop.index}}:00</span
                >
              </li>
              {% endfor %}
            </ul>

            <div class="theater__list">
              <div class="theater__item theater__movie__item">
                <div class="theater__movie__grid">
                  {% for item in [1] %}
                  <div class="movie__box theater__movie__box">
                    <a href="cinema-detail.html" class="link-absolute"></a>
                    <div class="movie__box__poster">
                      <div class="movie__box__overlay d-none d-md-block">
                        <div class="top">
                          <img
                            src="img/cinema/icon/icon-sneakshow.svg"
                            alt=""
                          />
                        </div>
                      </div>

                      <div class="embed-responsive embed-responsive-movie">
                        <img
                          src="{{films[item].poster}}"
                          loading="lazy"
                          alt=""
                          class="embed-responsive-img movie__box__img"
                        />
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                  <div class="theater__movie__content ">
                    {% for item in [1] %}
                    <div class="w-100">
                      <div class="movie__box__info p-0">
                        <div class="name">
                          <a href="cinema-detail.html">
                          <span class="movie-badge">C16</span>
                          {{films[item].name}}
                         </a>
                        </div>
                        <div class="type">{{films[item].type}}</div>

                        <div class="review">
                          <img
                            src="img/cinema/icon/icon-like.svg"
                            class="review-icon"
                            alt=""
                          />
                          83%
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="theater__movie__time">
                    {% for item in [1,2] %}
                    <div class="theater__item__time">
                      <div class="mt-3 mb-1 h6">2D Phụ đề</div>
                      <div class="theater__time">
                        <a href="" class="theater__time__item is-active">
                          <span class="star">1:50</span>
                          <span class="seperator">~</span>
                          <span class="end"> 2:45</span>
                        </a>
                        {% for item in range(0,9) %}
                        <a href="" class="theater__time__item">
                          <span class="star">{{5 + loop.index*2}}:50</span>
                          <span class="seperator">~</span>
                          <span class="end"> {{7 + loop.index*2}}:45</span>
                        </a>
                        {% endfor %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              {% for item in [2,3,4,5] %}
              <div class="theater__item theater__movie__item">
                <div class="theater__movie__grid">
                  <div class="movie__box theater__movie__box">
                    <a href="cinema-detail.html" class="link-absolute"></a>
                    <div class="movie__box__poster">
                    

                      <div class="embed-responsive embed-responsive-movie">
                        <img
                          src="{{films[item].poster}}"
                          loading="lazy"
                          alt=""
                          class="embed-responsive-img movie__box__img"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="theater__movie__content ">
                    <div class="w-100">
                      <div class="movie__box__info p-0">
                        <div class="name">
                          <a href="cinema-detail.html">
                            <span class="movie-badge">C16</span>
                            {{films[item].name}}
                           </a>
                        </div>
                        <div class="type">{{films[item].type}}</div>

                        <div class="review">
                          <img
                            src="img/cinema/icon/icon-like.svg"
                            class="review-icon"
                            alt=""
                          />
                          83%
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="theater__movie__time">
                    <div class="theater__item__time">
                      <div class="mt-3 mb-1 h6">2D Phụ đề</div>
                      <div class="theater__time">
                        <a href="" class="theater__time__item is-active">
                          <span class="star">1:50</span>
                          <span class="seperator">~</span>
                          <span class="end"> 2:45</span>
                        </a>
                        {% for item in range(0,3) %}
                        <a href="" class="theater__time__item">
                          <span class="star">{{5 + loop.index*2}}:50</span>
                          <span class="seperator">~</span>
                          <span class="end"> {{7 + loop.index*2}}:45</span>
                        </a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
  
        <div class="cine__cluster mt-0 mt-lg-4">
          <h2 class="cine__heading h4">Phim đang chiếu</h2>
          
          <div class="cine__postter__hori__list">
            {% for item in films %}
            {% if loop.index < 5 %}
            <div class="cine__postter__hori">
              <a href="" class="link-absolute"></a>
              <div class="cine__poster">
                <img
                  src="{{item.poster}}"
                  class="img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
  
              <div class="cine__poster__space">
                <div class="cine__poster__name">{{item.name}}</div>
                <div class="cine__poster__type">{{item.type}}</div>
  
                <div class="mt-1">
                  <div class="cine__poster__score">
                    <i data-feather="thumbs-up" class="svg-icon"></i> 85%
                  </div>
                </div>
  
                <div class="mt-2">
                  <a href="" class="cine__poster__link">
                    Xem chi tiết
                    <i data-feather="chevron-right" class="svg-icon"></i
                  ></a>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
  
        <div class="cine__cluster mt-0 mt-lg-4">
          <h2 class="cine__heading h4">Tin tức về phim</h2>
  
          <div class="mgz__list mgz__popular__list cine__popular__list">
            <div class="mgz__row">
              {% set films = [ { "title" : "Phim Lật Mặt 48H và hành trình trở
              thành Series hút khách của Lý Hải", "img" :
              "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-210112174817-637460704971301288.jpg",
              "view" : "15k" } , { "title" : "REVIEW phim Soul: Cuộc Sống Nhiệm
              Màu - Ý nghĩa thực của cuộc sống là gì?", "img" :
              "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201230142432-637449350729893828.jpg",
              "view" : "28.2k" }, { "title" : "REVIEW Wonder Woman 1984: Nữ quyền,
              Sắc tộc và Con người", "img" :
              "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201218143053-637438986537271574.jpg",
              "view" : "7.0k" }, { "title" : "REVIEW Sài Gòn trong cơn mưa - Tình
              yêu vụng dại của tuổi trẻ!", "img" :
              "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201105152841-637401869210191261.jpg",
              "view" : "2.2k" }, { "title" : "REVIEW phim Tiệc Trăng Máu -
              Smartphone hiện đại nhưng lại hại thân!", "img" :
              "https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201022134639-637389711992597492.jpg",
              "view" : "36.1k" } ] %} {% for item in films %}
              <article class="mgz mgz__popular">
                <div class="mgz__header">
                  <figure class="mgz__figure">
                    <div class="mgz__figure-bg"></div>
                    <div class="embed-responsive embed-responsive-15by20">
                      <a href="magazine-detail.html">
                        <img
                          data-src="{{item.img}}"
                          alt=""
                          class="embed-responsive-img lazyload"
                        />
                      </a>
                    </div>
                  </figure>
                </div>
  
                <div class="mgz__body">
                  <div class="infomgz">
                    <header class="infomgz__header">
                      <h4 class="infomgz__title h6">
                        <a href="magazine-detail.html" alt="">{{item.title}}</a>
                      </h4>
  
                      <div class="infomgz__body">
                        <div class="infomgz__meta">
                          <span class="time">{{item.view}} lượt xem</span>
                        </div>
                      </div>
                    </header>
                  </div>
                </div>
              </article>
  
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script type="text/javascript" src="js/readmore.js"></script>

<script type="text/javascript" src="js/cinema.js"></script>

{% endblock %}
