{% import 'macros/helpers.html' as macro %}
{% extends 'layouts/layout.html' %}
{% block content %}


<script src="https://cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js"></script>
<section>
  <div class="container">
    <h2>This is how style Ckeditor content</h2>
    <textarea cols="80" id="editor3" name="editor3" rows="10"
      data-sample-short>&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href=&quot;https://ckeditor.com/&quot;&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>
  </div>
</section>



{% endblock %}

<!-- Scripts -->
{% block javascript %}

<script>
  CKEDITOR.replace('editor3', {
    extraPlugins: 'stylesheetparser',
    height: 300,

    // Custom stylesheet for editor content.
    contentsCss: [
      'http://localhost:3000/css/ckeditor.css'
    ],

    // Do not load the default Styles configuration.
    stylesSet: []
  });
</script>

{% endblock %}