{% import 'macros/helpers.html' as macro %}
{% import 'macros/quyengop.html' as qg %}
{% extends 'layouts/layout.html' %}
{% block head %}

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
<!-- <link href="css/lp-donation.css" rel="stylesheet" /> -->

{% endblock %} {% block content %}

<div class="dona__wrapper">
  <div class="dona__hero position-relative ">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-md-7 col-lg-6 pr-lg-5 ">
          <h1 class="font__heading dona__text-main">
            Minh bạch quyên góp <br />
            Dễ dàng ủng hộ.
            <span>
              <img src="img/donation/icon-heart.png" class="img-fluid icon-heart" loading="lazy" alt="" />
            </span>
          </h1>
          <p class="lead">
            Quyên góp để giúp đỡ những người bị ảnh hưởng bởi thiên tai, xung
            đột hoặc bệnh tật nghiêm trọng.
          </p>

          <div class="mt-4">
            <div class="">
              <a href="" class="btn btn-primary-2 py-2 font-weight-bold mr-2 bg-pink-hot">
                Quyên góp
              </a>

              <a href="" class="btn btn-outline-dark py-2 font-weight-bold">
                Tải app MoMo
              </a>
            </div>
          </div>
          <div class="mt-4">
            <p class="font-14 text-gray">
              <i>
                * Trong năm 2019, đã có 31 hoàn cảnh MoMo kêu gọi và đã hoàn tất
                nhận quyên góp từ cộng đồng.
              </i>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 ">
          <img src="img/donation/dona-hero.png" class="img-fluid d-md-block mx-auto d-none" loading="lazy" alt="" />
        </div>

        <!-- <video width="320" height="240" controls>
          <source
            src=" https://operationsmile.ca/wp-content/uploads/waiting-campaign4.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video> -->
      </div>
      <div class="row no-gutters justify-content-center pt-4">
        <div class="col text-center">
          <p class="mb-0 fs-11 text-uppercase text-gray-700">
            CÁC TỔ CHỨC QUYÊN GÓP MOMO HỢP TÁC
          </p>
        </div>
      </div>
      <div class="row no-gutters justify-content-center align-items-end py-3">
        <div class="sponser__hero__logo">
          <img src="img/donation/partner/image_47.png" alt="" />
        </div>
        <div class="sponser__hero__logo">
          <img src="img/donation/partner/image_48.png" alt="" />
        </div>
        <div class="sponser__hero__logo">
          <img src="img/donation/partner/image_49.png" alt="" />
        </div>
        <div class="sponser__hero__logo">
          <img src="img/donation/partner/image_54.png" alt="" />
        </div>
        <div class="sponser__hero__logo">
          <img src="img/donation/partner/image_55.png" alt="" />
        </div>
        <div class="sponser__hero__logo">
          <img src="img/donation/partner/image_56.png" alt="" />
        </div>
      </div>
    </div>
    {% include "components/section-curve.html" %}
  </div>
</div>

{% include "components/cac-chuong-trinh.html" %}

{%
  set caseSoLieu=[
    {
      "title": "3,5 Triệu +",
      "detail": "Tổng số Heo vàng được quyên góp"
    },
    {
      "title": "2,2 Tỷ +",
      "detail": "Tổng số Tiền được quyên góp"
    },
    {
      "title": "124 +",
      "detail": "Số hoàn cảnh đã được giúp đỡ"
    }
  ]
%}

<section class="bg-white sc-gioithieu pb-0">
  <div class="container">
    <div class="row align-items-end align-items-lg-center">
      <div class="col-12 col-md-7 col-lg-6">
        <div class="fs-13 fw-600 text-pink-hot text-uppercase">GIỚI THIỆU</div>
        <h2 class="py-2">MoMo và hành động hướng tới cộng đồng</h2>
        <p>
          Được phát triển bởi <strong class="text-pink-momo">ví điện tử MoMo</strong>,
          tập trung vào việc sử dụng công nghệ để giảm bớt rào cản và kết nối các nguồn lực cộng đồng,
          giúp cho việc quyên góp trở nên đơn giản,
          hiệu quả và minh bạch.
        </p>
        <a href="" class="btn btn-primary-2  font-weight-bold">
          Xem thêm
        </a>
        <div class="row align-items-start pt-5 solieu-list">
          {% for i in [0,1,2] %}
            <div class="col-4 text-center text-md-left solieu-item">
              <h5 class="border-pink-hot">{{caseSoLieu[i].title}}</h5>
              <p class="fs-14 text-gray-600">{{caseSoLieu[i].detail}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-6 text-center">
        <img src="img/donation/device-example.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="bg-pink-light sc-feature">
  <div class="container">
    <div class="text-center section__title">
      <small class="fw-600 text-pink-hot text-uppercase">Tính năng</small>
      <h2 class="fw-600">Các tính năng hướng tới cộng đồng của MoMo</h2>
    </div>

    <div class="row justify-content-center">
      <div class=" col-md-6 col-lg-4 mb-3 mb-lg-0">
        <article class="card card__box h-100">
          <div class="card__inner">
            <header class="card__header">
              <figure class="card__figure">
                <a href="">
                  <div class="embed-responsive embed-responsive-new">
                    <img src="img/donation/feature/1.png" alt="" class="lazyload embed-responsive-img card__image" />
                  </div>
                </a>
              </figure>
            </header>

            <div class="card__body pb-0">
              <h5 class="card__title">
                <a href="" class="card__title__link font-weight-bold">
                  Heo đất MoMo
                </a>
              </h5>

              <p class="card__copy">
                Hoàn tiền tiết kiệm còn mang đến những hoạt động thú vị, ý nghĩa
                như Quyên góp chung tay vì cộng đồng
              </p>
            </div>

            <div class="card__footer font-14">
              <a href="" class="fs-14 fw-500 text-pink-hot ">
                Tìm hiểu thêm
                <i class="svg-icon" data-feather="arrow-right"></i>
              </a>
            </div>
          </div>
        </article>
      </div>

      <div class=" col-md-6 col-lg-4 mb-3 mb-lg-0">
        <article class="card card__box h-100">
          <div class="card__inner">
            <header class="card__header">
              <figure class="card__figure">
                <a href="">
                  <div class="embed-responsive embed-responsive-new">
                    <img src="img/donation/feature/2.png" alt="" class="lazyload embed-responsive-img card__image" />
                  </div>
                </a>
              </figure>
            </header>

            <div class="card__body pb-0">
              <h5 class="card__title">
                <a href="" class="card__title__link font-weight-bold">
                  Đi bộ cùng MoMo
                </a>
              </h5>

              <p class="card__copy">
                Đi bộ cùng MoMo – Tích lũy Huy hiệu sức khỏe làm nhiều điều hay.
                Chỉ cần bạn đi bộ đạt từ 4.000 bước mỗi ngày.
              </p>
            </div>

            <div class="card__footer font-14">
              <a href="" class="fs-14 fw-500 text-pink-hot">
                Tìm hiểu thêm
                <i class="svg-icon" data-feather="arrow-right"></i>
              </a>
            </div>
          </div>
        </article>
      </div>

      <div class=" col-md-6 col-lg-4 mb-3 mb-lg-0">
        <article class="card card__box h-100">
          <div class="card__inner">
            <header class="card__header">
              <figure class="card__figure">
                <a href="">
                  <div class="embed-responsive embed-responsive-new">
                    <img src="img/donation/feature/3.png" alt="" class="lazyload embed-responsive-img card__image" />
                  </div>
                </a>
              </figure>
            </header>

            <div class="card__body pb-0">
              <h5 class="card__title">
                <a href="" class="card__title__link font-weight-bold">
                  Trái tim MoMo
                </a>
              </h5>

              <p class="card__copy">
                Cùng MoMo chung tay giúp đỡ hàng ngàn hoàn cảnh bất hạnh khác tạo
                nên một tương lai tốt đẹp hơn.
              </p>
            </div>

            <div class="card__footer font-14">
              <a href="" class="fs-14 fw-500 text-pink-hot ">
                Tìm hiểu thêm
                <i class="svg-icon" data-feather="arrow-right"></i>
              </a>
            </div>
          </div>
        </article>
      </div>



    </div>
  </div>
</section>

<section class="bg-white sc-donation">
  <div class="container swiper-campaign-wrap">
    <div class="row align-items-center mb-2">
      <div class="col-12 col-md">
        <h3 class="mb-0">Các chương trình quyên góp Heo vàng</h3>
      </div>
      <div class="col-auto">
        <div class="swiper-campaign-function">
          <div class="row align-items-center no-gutters flex-nowrap">
            <div class="col-auto fs-14 text-gray-700 content-inline-center sw-pagination w-auto pr-3"></div>

            <div class="col-auto content-inline-center">
              <button type="button" class="btn btn-outline-secondary rounded-circle mr-2 btn-swiper btn-prev">
                <i class="sc-swiper-nav-icon" data-feather="chevron-left"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary rounded-circle btn-swiper btn-next">
                <i class="sc-swiper-nav-icon" data-feather="chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% set caseDonation= [ { "image": "/img/donation/campaign/1.png", "title":
    "Giúp 1700 trẻ em vùng cao được tắm nước nóng trong mùa đông giá lạnh Giúp
    1700 trẻ em vùng", "summary": "Được tắm thường xuyên, nhiều căn bệnh ngoài
    da sẽ bị đẩy lùi!", "money": "15.807.469đ", "percent": "40,44%", "time":
    "10" }, { "image": "/img/donation/campaign/2.png", "title": " Tặng sân chơi
    cho ngôi trường mầm non đồng bào Bru - Vân Kiều", "summary": " Để các em có
    một tuổi thơ tràn đầy tiếng cười, niềm vui!", "money": "15.807.469đ",
    "percent": "25,44%", "time": "20" }, { "image":
    "/img/donation/campaign/3.png", "title": "Lắp 6 hệ thống điện gió mặt trời
    cho Bản nghèo 10 năm mong điện.", "summary": "Thắp sáng núi rừng Điện Biên
    bằng ánh sáng của điện và giáo dục.", "money": "15.807.469đ", "percent":
    "15,44%", "time": "30" } ] %}

    <div class="row">
      <div class="col-12">
        <div class="swiper-campaign-wrap">
          <div class="swiper-container swiper-campaign">
            <div class="swiper-wrapper">
              {% for i in [0,1,2,0,2,1] %}
              <div class="swiper-slide">
                {{
                  qg.quyengop(
                    caseDonation[i].image,
                    caseDonation[i].title,
                    caseDonation[i].summary,
                    caseDonation[i].money,
                    caseDonation[i].percent,
                    caseDonation[i].time
                  )
                }}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-3">
    <a href="" class="link-dark font-weight-bold d-inline-flex align-items-center">
      Xem tất cả trường hợp
      <i class="svg-icon" data-feather="chevron-right"></i>
    </a>
  </div>
</section>

<section class="bg-white sc-donation pt-0">
  <div class="container swiper-campaign-wrap">
    <div class="row align-items-center mb-2">
      <div class="col-12 col-md">
        <h3 class="mb-0">Các chương trình quyên góp Trái Tim MoMo</h3>
      </div>
      <div class="col-auto">
        <div class="swiper-campaign-function">
          <div class="row align-items-center no-gutters flex-nowrap">
            <div class="col-auto fs-14 text-gray-700 content-inline-center sw-pagination w-auto pr-3"></div>

            <div class="col-auto content-inline-center">
              <button type="button" class="btn btn-outline-secondary rounded-circle mr-2 btn-swiper btn-prev">
                <i class="sc-swiper-nav-icon" data-feather="chevron-left"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary rounded-circle btn-swiper btn-next">
                <i class="sc-swiper-nav-icon" data-feather="chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper-campaign-wrap">
          <div class="swiper-container swiper-campaign">
            <div class="swiper-wrapper">
              {% for i in [0,1] %}
              <div class="swiper-slide">
                {{
                  qg.quyengop(
                    caseDonation[i].image,
                    caseDonation[i].title,
                    caseDonation[i].summary,
                    caseDonation[i].money,
                    caseDonation[i].percent,
                    caseDonation[i].time
                  )
                }}
              </div>
              {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-3">
    <a href="" class="link-dark font-weight-bold d-inline-flex align-items-center">
      Xem tất cả trường hợp
      <i class="svg-icon" data-feather="chevron-right"></i>
    </a>
  </div>
</section>

<section class="bg-pink-light sc-story">
  <div class="container">
    <!-- <div>
      <h3 class="mb-3">Các chương trình quyên góp Trái Tim MoMo</h3>
    </div> -->

    <div class="swiper-container swiper-story">
      <div class="swiper-wrapper">
        {% for i in [0,1] %}
        <div class="swiper-slide">
          <article class="row justify-content-center">
            <div class="col-12 col-md-10">
              <div class="sc-story-item">
                <div class="row align-items-center row-cols-1">
                  <div class="col-12 col-md-6 order-1 order-md-0">
                    <div class="sc-story-item">
                      <div class="fs-12 fw-600 text-pink-momo text-uppercase">
                        CÂU CHUYỆN GÂY QUỸ
                      </div>
                      <h5 class="fs-18 py-2">
                        Bé Hoàng Văn Tây phẫu thuật tim thành công nhờ số tiền
                        quyên góp từ Ví MoMo
                      </h5>
                      <p class="fs-14 text-gray-600 sapo">
                        Ngày 20/9 vừa qua, sau khi nhận được số tiền quyên góp
                        từ Ví MoMo, bé Hoàng Văn Tây đã đặt máy trợ tim thành
                        công, sau tuần tái khám bé sẽ được xuất viện để về nhà
                        với mẹ. Chi phí phẫu thuật gần 100 triệu đồng cho ca của
                        Tây được các nhà hảo tâm đóng góp qua các quỹ và tài trợ
                        gồm: Hiểu Về Trái Tim, Quỹ Bảo Trợ Trẻ Em Việt Nam và
                        Nhịp Tim Việt Nam (thông qua MoMo).
                      </p>
                      <a href="" class="btn btn-primary-2  font-weight-bold  bg-pink-momo">
                        Xem thêm
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 text-center order-0 order-md-1">
                    <div class="embed-responsive embed-responsive-16by9 bg-light mb-3 mb-md-0">
                      <img src="img/donation/story.png" class="embed-responsive-img object-cover rounded"
                        loading="lazy" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="row justify-content-center">
            <div class="col-12 col-md-10">
              <div class="sc-story-item">
                <div class="row align-items-center row-cols-1">
                  <div class="col-12 col-md-6 order-1 order-md-0">
                    <div class="fs-12 fw-600 text-pink-momo text-uppercase">
                      CÂU CHUYỆN GÂY QUỸ
                    </div>
                    <h5 class="fs-18 py-2">
                      Cùng Ví MoMo và Báo Tuổi Trẻ cứu trợ bà con vùng lũ miền
                      Trung
                    </h5>
                    <p class="fs-14 text-gray-600 sapo">
                      Từ ngày 12/10, Báo Tuổi Trẻ và Ví MoMo phối hợp tổ chức
                      chương trình kêu gọi quyên góp ủng hộ cho bà con miền
                      Trung đang gặp khó khăn vì lũ lụt. Để quyên góp, người
                      dùng chọn tính năng “Trái tim MoMo” rồi quyên góp tại
                      “Cùng Báo Tuổi Trẻ cứu trợ bà con vùng lũ miền Trung”. Tất
                      cả tiền của chương trình sẽ được Báo Tuổi Trẻ sử dụng để
                      cứu trợ bà con bị ảnh hưởng bởi đợt lũ lụt vượt đỉnh lũ
                      lịch sử năm 1983.
                    </p>
                    <a href="" class="btn btn-primary-2  font-weight-bold ">
                      Xem thêm
                    </a>
                  </div>

                  <div class="col-12 col-md-6 text-center order-0 order-md-1">
                    <div class="embed-responsive embed-responsive-16by9 bg-light mb-3 mb-md-0">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-201013135849-637381943294815367.jpg"
                        class="embed-responsive-img object-cover rounded" loading="lazy" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-next">
        <img src="img/donation/arrow-right-circle.svg" class="img-fluid" alt="" />
      </div>
      <div class="swiper-button-prev">
        <img src="img/donation/arrow-left-circle.svg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="bg-white sc-share">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 pb-4 pb-lg-0">
        <img src="img/donation/share.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md-5 px-lg-5">
        <div class="fs-12 fw-600 text-pink-momo text-uppercase">
          LỜI CHIA SẺ
        </div>
        <h3 class="py-2">Đội ngũ phát triển Heo Đất</h3>
        <p class="fs-14 text-gray-600">
          Cảm ơn người dùng, nhà hảo tâm, quỹ từ thiện, chúc mừng sinh nhật Heo
          Đất, mong ước về các bước tiến tiếp theo của Heo Đất & hứa hẹn đồng
          hành cùng heo đất lâu dài
        </p>
        <p class="fs-14 text-gray-600">
          Chia sẻ về hành trình làm từ thiện 10+ năm và Ước mơ cá nhân
        </p>
        <a href="" class="btn btn-primary-2 py-2 font-weight-bold mr-2 bg-pink-momo">
          Xem thêm
        </a>
      </div>
    </div>
  </div>
</section>

{% include "components/camket.html" %}

{% include "components/hoi-dap.html" %}

{% include "components/camon-doitac.html" %}

{% include "components/tai-app.html" %}


{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script>
  $(document).ready(function () {
    var swiperCampain = [];

    $(".swiper-campaign-wrap").each(function (index, elment) {
      let btnPrev = $(this).find(".btn-swiper.btn-prev");
      let btnNext = $(this).find(".btn-swiper.btn-next");
      let swiperTarget = $(this).find(".swiper-campaign");
      let swiperPagination = $(this).find(".sw-pagination");

      swiperCampain[index] = new Swiper(swiperTarget, {
        slidesPerView: 4,
        spaceBetween: 0,
        slidesPerGroup: 4,
        simulateTouch: false,
        watchOverflow: true,
        speed: 500,
        breakpoints: {
          1199: {
            slidesPerView: 3,
            slidesPerGroup: 3,
          },
          991: {
            slidesPerView: 2,
            slidesPerGroup: 2,
          },
          767: {
            slidesPerView: "auto",
            slidesPerGroup: 1,
            // freeMode: true,
          },
        },
        navigation: {
          nextEl: btnNext,
          prevEl: btnPrev,
        },
        pagination: {
          el: swiperPagination,
          type: "fraction",
        },
      });
    });

    var swiperStory = new Swiper(".swiper-story", {
      slidesPerView: 1,
      simulateTouch: false,
      speed: 500,
      effect: "fade",
      fadeEffect: {
        crossFade: true,
      },
      navigation: {
        nextEl: ".swiper-story .swiper-button-next",
        prevEl: ".swiper-story .swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  });
</script>
{% endblock %}