{% import 'macros/helpers.html' as macro %} {% import 'macros/quyengop.html' as
qg %} {% extends 'layouts/layout.html' %} {% block head %}

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

{% endblock %} {% block content %}

{%
    set caseSoLieu=[
      {
        "title": "3,5 Triệu +",
        "detail": "Tổng số Heo vàng được quyên góp"
      },
      {
        "title": "2,2 Tỷ +",
        "detail": "Tổng số Tiền được quyên góp"
      },
      {
        "title": "124 +",
        "detail": "Số hoàn cảnh đã được giúp đỡ"
      }
    ]
  %}

<div class="dona__wrapper">
  <div class="bg-donation-event dona__hero__case">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-md-6 order-2 order-md-1 pr-lg-5 pt-4 pt-lg-0">
          <h1 class="font__heading dona__text-main">
            Quyên góp bằng <br />
            Heo đất MoMo
            <span>
              <img src="img/donation/heodat/heovang-icon.png" class="img-fluid icon-heart" loading="lazy" alt="" />
            </span>
          </h1>
          <p class="lead">
            Hoàn tiền tiết kiệm còn mang đến những hoạt động thú vị, ý nghĩa như
            Quyên góp chung tay vì cộng đồng
          </p>

          <div class="mt-4">
            <div class="">
              <a href="" class="btn btn-primary-2 py-2 font-weight-bold mr-2 bg-pink-hot">
                Quyên góp
              </a>

              <a href="" class="btn btn-outline-dark py-2 font-weight-bold">
                Hướng dẫn
              </a>
            </div>
          </div>
          <div class="mt-4">
            <p class="font-14 text-gray">
              <i>
                nhận quyên góp từ cộng đồng.
              </i>
            </p>
          </div>
          <div class="row align-items-start pt-2 solieu-list">
            {% for i in [0,1,2] %}
            <div class="col-4 text-center text-md-left solieu-item">
              <h5 class="border-pink-hot">{{caseSoLieu[i].title}}</h5>
              <p class="fs-14 text-gray-600">{{caseSoLieu[i].detail}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2">
          <div class="donation-case-kv">
            <img class="img-fluid d-block mx-auto" src="img/donation/event-banner.png" loading="lazy" alt="" />
          </div>
        </div>

        <!-- <video width="320" height="240" controls>
          <source
            src=" https://operationsmile.ca/wp-content/uploads/waiting-campaign4.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video> -->
      </div>
    </div>
  </div>
</div>

<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 pb-2">
        <h2>Các chương trình quyên góp Heo vàng</h2>
      </div>
    </div>
    <div class="row">
      {% for i in [1,2,3,4,2,3] %}
      <div class="col-12 col-md-6 col-lg-3 py-3">
        {{ qg.quyengop( '/img/donation/campaign/'+i+'.png', 'Giúp 1700 trẻ em
        vùng cao được tắm nước nóng trong mùa đông giá lạnh', 'Được tắm thường
        xuyên, nhiều căn bệnh ngoài da sẽ bị đẩy lùi!' ) }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-pink-light">
  <div class="container">
    <div class="row align-items-center text-center text-lg-left justify-content-center">
      <div class="col-12 col-md-10 col-lg-4">
        <h2 class="pb-3">
          Giới thiệu về <br class="d-none d-lg-inline" />
          Heo đất MoMo
        </h2>
        <p class="fw-400 text-gray-800">
          Hoàn tiền tiết kiệm còn mang đến những hoạt động thú vị, ý nghĩa như
          Quyên góp chung tay vì cộng đồng, Nuôi heo đất nhận thêm ưu đãi.
        </p>
        <div class="row no-gutters align-items-center justify-content-center pb-4">
          {% for i in [1,2,3,4,5] %}
          <div class="col text-center">
            <img src="/img/donation/heodat/{{i}}.png" class="" alt="" />
          </div>
          {% endfor %}
        </div>
        <a href="" class="btn btn-primary-2 py-2 font-weight-bold mr-2 bg-pink-momo">
          Cách tạo ra Heo Vàng
        </a>
      </div>
      <div class="col-12 col-lg-8 pt-4 p-lg-0">
        <div class="row no-gutters mx-lg-1 justify-content-center overflow-scroll-mobile">
          {% for i in [78,79,80] %}
          <div class="col-8 col-md-4 col-lg-4 px-1 px-md-2 text-center">
            <img src="/img/donation/heodat/{{i}}.png" class="img-fluid" alt="" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/hoi-dap.html" %} 
{% include "components/camon-doitac.html" %}
{% include "components/tai-app.html" %} {%
endblock %}

<!-- Scripts -->
{% block javascript %} {% endblock %}