{% import 'macros/helpers.html' as macro %}
{% import 'macros/quyengop.html' as qg %}
{% extends 'layouts/layout.html' %}
{% block head %}

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

{% endblock %}
{% block content %}

<section class="sc-banner bg-donation-event">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-12 col-md-6 order-2 order-lg-1 pr-lg-5 pt-4 pt-lg-0">
                <h1 class="font__heading dona__text-main">
                    Nhà tài trợ
                </h1>
                <p class="fs-20">
                    Cám ơn các nhà tài trợ đã đồng hành cùng MoMo,
                    Hiện chúng tôi có hơn 20 đơn vị nhà tài trợ từ khắp các tổ chức trên thế giới
                </p>

                <div class="mt-4">
                    <div class="">
                        <a href="" class="btn btn-primary-2 py-2 font-weight-bold mr-2 bg-pink-hot">
                            Tìm hiểu thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 d-none d-md-block">
                <img src="img/donation/nhataitro.png" class="img-fluid d-block mx-auto" loading="lazy" alt="" />
            </div>
        </div>
    </div>
</section>

{%
    set caseSponsor=[
        {
            "image": "img/donation/hoachiase.png",
            "title": "Hoa chia sẻ",
            "summary": "Tổ chức phi chính phủ"
        },
        {
            "image": "img/donation/vvc.png",
            "title": "VVC",
            "summary": "Trung Tâm Tình Nguyện Quốc Gia"
        },
        {
            "image": "img/donation/tuoitre.png",
            "title": "Báo Tuổi Trẻ",
            "summary": "Đọc báo"
        }
    ]
%}

<section class="bg-white sc-listsponsor">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Đối tác và nhà tài trợ</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-stretch pt-3 pb-5">
            {% for i in [0,1,2] %}
                <div class="col-6 col-md-4 col-lg-3 sponsor-info pt-2 px-lg-5">
                    <div class="logo text-center">
                        <img src="{{caseSponsor[i].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="info text-center">
                        <h5>{{caseSponsor[i].title}}</h5>
                        <p>{{caseSponsor[i].summary}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="row justify-content-center align-items-end py-4">
                    {% for i in [47,48,49,54,55,56, 47,48,49,54,55,56] %}
                    <div class="col-auto sponser-logo">
                        <img src="img/donation/partner/image_{{i}}.png" class="img-fluid" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include "components/cac-chuong-trinh.html" %}

<section class="bg-white sc-doitac-philoinhuan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Đối tác Phi lợi nhuận</h2>
            </div>
        </div>
        <div class="row pt-4">
            {% for i in [0,1,2,3] %}
            <div class="col-12 col-md-6">
                <div class="row doitac-philoinhuan py-3">
                    <div class="col-3">
                        <div class="img">
                            <div class="image-center">
                                <img src="img/donation/coopmart.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <h5>Co.op Mart - Siêu thị Online Số 1 Việt Nam</h5>
                        <p class="fs-14 text-gray-600">
                            Sự lựa chọn hàng đầu của người tiêu dùng Việt, 
                            Mua sắm trực tuyến hàng ngàn sản phẩm tiêu dùng thật đơn giản và tiện lợi.
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}

<!-- Scripts -->
{% block javascript %}

{% endblock %}