{% import 'macros/helpers.html' as macro %} {% import 'macros/quyengop.html' as
qg %} {% extends 'layouts/layout.html' %} {% block head %}

<!-- <link href="css/lp-donation.css" rel="stylesheet" /> -->

{% endblock %} {% block content %} {% set caseSoLieu=[ { "title": "95%",
"detail": "dự án đã được gây quỹ thành công." }, { "title": "7500+", "detail":
"trẻ em được thay đổi cuộc sống" }, { "title": "23 tỷ+", "detail": "đồng được
quyên góp" } ] %}

<div class="kv-section">
  <div class="swiper-container swiper-kv">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="img/donation/heodat/Slide-banner-Desktop.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="img/donation/heodat/Slide-banner-Mobile.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="kv-pagination">
      <div class="container px-4 position-relative">
        <div class="swiper-button-next">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="kv-section-curve">
    <svg
      width="1440"
      height="34"
      viewBox="0 0 1440 34"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Rectangle 12</title>
      <path
        d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
        fill="#FCEFF4"
        fill-rule="evenodd"
      />
    </svg>
  </div>
</div>

<section class="bg-pink-light">
  <div class="container px-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-7 col-lg-6 pr-lg-5">
        <h1 class="text-pink-momo">Heo Đất MoMo</h1>

        <p class="lead text-gray-700">
          Heo Đất là một loài sinh vật ảo sống trong thế giới MoMo. Sứ mệnh của
          Heo Đất là giúp đỡ cho trẻ em Việt Nam có một tương lai tươi sáng hơn.
        </p>
        <div>
          <div class="pt-1 solieu-list">
            <div class="solieu-item">
              <h4
                class="solieu-item-title"
                data-countup
                data-suffix=" triệu"
                data-start="0"
                data-end="5"
              >
                0 triệu
              </h4>
              <div class="solieu-item-subtitle">
                Là số thành viên trong cộng đồng Nuôi Heo Đất
              </div>
            </div>

            <div class="solieu-item">
              <h4
                class="solieu-item-title"
                data-countup
                data-suffix="+"
                data-start="1000"
                data-end="12000"
              >
                0+
              </h4>
              <div class="solieu-item-subtitle">
                Là số em nhỏ đã được Heo Đất giúp đỡ trong năm 2020
              </div>
            </div>

            <div class="solieu-item">
              <h4
                class="solieu-item-title"
                data-countup
                data-suffix=" tỷ +"
                data-start="0"
                data-end="7"
              >
                0 tỷ +
              </h4>
              <div class="solieu-item-subtitle">
                Là giá trị quy đổi của số Heo Vàng đã được Quyên góp
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3 mt-lg-4">
          <div class="">
            <a href="" class="btn btn-primary-3 py-2 font-weight-bold mr-2">
              Nuôi Heo
            </a>

            <a href="" class="btn btn-outline-dark py-2 font-weight-bold">
              Tìm hiểu thêm
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-md-5 mt-4 mt-lg-0 col-lg-6 text-center d-none d-md-block"
      >
        <div
          class="embed-responsive embed-responsive-16by9 rounded img-fluid shadow-lg"
        >
          <img
            src="img/donation/heart/cover.jpg"
            class="embed-responsive-img object-cover"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-cover">
  <div class="container ">
    <div class="row no-gutters align-items-center">
      <div class="col-12 col-lg-6">
        <div
          class="screenshot screenshot--has-shadow screenshot-maxw mx-auto pb-4"
        >
          <video
            autoplay
            muted
            loop
            playsinline
            width="100%"
            poster="img/donation/heodat/block2-thumb.jpg"
            height="auto"
            class="screenshot__media"
          >
            <source src="img/donation/heodat/Block 2.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="col-12 col-lg-5">
        <div class="section__title mb-3">
          <h2 class="font-weight-bold text-primary-2 section__title__heading">
            Thế giới Heo Đất MoMo
          </h2>
        </div>
        <div class="nch-content">
          <p class="">
            Ở vùng đất MoMo, có một loài sinh vật đáng yêu sinh sống, ấy là loài
            Heo Đất MoMo. Tất cả Heo Đất MoMo đều có một năng lực đặc biệt:
            <b> tạo ra các đồng Heo Vàng. </b>
          </p>

          <p>
            Kể từ khi sinh ra, mỗi chú Heo đều gắn liền với một chủ nhân. Khi
            được cho ăn no, hoặc khi chủ nhân của Heo chăm chỉ đi bộ, làm việc
            tốt, Heo sẽ tạo ra Heo Vàng.
          </p>

          <p>
            Khi chủ nhân của Heo quyên góp Heo Vàng cho các dự án, những đồng
            Heo Vàng sẽ được MoMo và các doanh nghiệp hảo tâm chuyển thành tiền
            mặt gửi tới các quỹ và tổ chức xã hội tương ứng.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container px-4 px-4">
  <hr class="m-0 p-0" />
</div>

<section class="bg-cover">
  <div class="container px-4">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2 section__title__heading">
        Hướng dẫn nuôi Heo
      </h2>
    </div>
    <div class="wrap__scroll is-bg-white mb-4 wrap__scroll__tintuc">
      <ul
        class="nav nav-tabs tabs-soju wrap__scroll__target"
        id="donationTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#donation-taoheovang"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Tạo Heo Vàng</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Kiếm thức ăn</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="contact-tab"
            data-toggle="tab"
            href="#contact"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Lên cấp</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="contact-tab"
            data-toggle="tab"
            href="#quyengop"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Quyên góp Heo vàng</a
          >
        </li>
      </ul>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="donation-taoheovang"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-6 col-lg-5 align-self-end">
            <div
              class="screenshot screenshot--has-shadow screenshot-maxw mx-auto pb-4"
            >
              <video
                muted
                loop
                playsinline
                width="100%"
                poster="img/donation/heart/df-video.jpg"
                height="auto"
                class="screenshot__media"
              >
                <source
                  src="img/donation/heodat/Block 3-thu-hoach-cho-an.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h4 class="mb-lg-4">Tạo Heo Vàng</h4>
            <div class="nch-content opacity-80">
              <p>
                Bạn có thể nhận được Heo Vàng khi cho Heo ăn. Sau khi Heo ăn
                xong, 1 Heo Vàng sẽ được tự động chuyển vào hũ.
              </p>
              <p>
                Bạn bè cũng có thể ghé thăm nhà và cho Heo của bạn ăn, khi đó
                Heo Vàng sẽ rớt ở dưới đất. Nếu thấy Heo Vàng dưới đất thì hãy
                bấm ngay để thu vào hũ bạn nhé.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-6 col-lg-5 align-self-end">
            <div
              class="screenshot screenshot--has-shadow screenshot-maxw mx-auto pb-4"
            >
              <video
                muted
                loop
                playsinline
                width="100%"
                poster="img/donation/heart/df-video.jpg"
                height="auto"
                class="screenshot__media"
              >
                <source
                  src="img/donation/heodat/Block 3-nhiem-vu.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h4 class="mb-lg-4">Kiếm thức ăn</h4>
            <div class="nch-content opacity-80">
              <p>
                Bạn có thể nhận được thức ăn khi thực hiện các công việc được
                liệt kê trong danh sách nhiệm vụ. Các công việc này bao gồm: Cho
                Heo đi học, Quyên góp tiền mặt (Trái tim MoMo), hoặc sử dụng các
                dịch vụ thanh toán và chuyển tiền của MoMo...
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-6 col-lg-5 align-self-end">
            <div
              class="screenshot screenshot--has-shadow screenshot-maxw mx-auto pb-4"
            >
              <video
                muted
                loop
                playsinline
                width="100%"
                poster="img/donation/heart/df-video.jpg"
                height="auto"
                class="screenshot__media"
              >
                <source
                  src="img/donation/heodat/Block 3-len-cap.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h4 class="mb-lg-4">Lên cấp</h4>
            <div class="nch-content opacity-80">
              <p>
                Heo sẽ lên cấp khi đạt đủ “Điểm sống tốt”. Bạn sẽ nhận được
                “Điểm sống tốt” nếu chăm chỉ thực hiện các nhiệm vụ sống tốt mỗi
                ngày như:
                <strong>
                  Dậy sớm, Quyên góp, Đi bộ cùng MoMo đủ 4000 bước…
                </strong>
                Khi lên cấp, Heo sẽ mọc cánh, ăn nhanh hơn và túi thức ăn cũng
                sẽ to ra.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="quyengop"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-6 col-lg-5 align-self-end">
            <div
              class="screenshot screenshot--has-shadow screenshot-maxw mx-auto pb-4"
            >
              <video
                muted
                loop
                playsinline
                width="100%"
                poster="img/donation/heart/df-video.jpg"
                height="auto"
                class="screenshot__media"
              >
                <source
                  src="img/donation/heodat/Block 3-quyen-gop.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h4 class="mb-lg-4">Quyên góp Heo vàng</h4>
            <div class="nch-content opacity-80">
              <p>
                Hãy quyên góp Heo Vàng mỗi ngày để Heo mau lên cấp và mang lại
                tương lai tươi sáng hơn cho trẻ em trên khắp đất nước.
              </p>

              <p>
                Bấm vào nút Quyên góp để xem danh sách các hoàn cảnh đang cần
                Heo Vàng bạn nhé.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container px-4 px-4">
  <hr class="m-0 p-0" />
</div>

<section class="bg-white dona__section__list">
  <div class="dona__section__pattern">
    <img
      src="img/donation/bg/pattern-1.png"
      class="pattern pattern-1"
      width="180"
      alt=""
    />
    <img
      src="img/donation/bg/pattern-2.png"
      class="pattern pattern-2"
      width="170"
      alt=""
    />
    <div class="pattern pattern-3">
      <svg
        width="44"
        height="42"
        viewBox="0 0 44 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197"
          fill-opacity="0.3"
        />
      </svg>
    </div>

    <div class="pattern pattern-4">
      <svg
        width="50"
        height="42"
        viewBox="0 0 44 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197"
          fill-opacity="0.15"
        />
      </svg>
    </div>
  </div>

  <div class="container px-4 px-4">
    <div class="row">
      <div class="col-12 text-center reveal">
        <h2 class="text-pink-momo">Các chương trình quyên góp Heo đất MoMo</h2>
      </div>

      <!-- <div class="col-12 text-center reveal d-none" data-reveal-delay="500">
        <div class="filter-list mt-3 mt-md-4">
          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill is-select">
              Đang diễn ra
            </button>
          </div>

          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill">
              Đã thành công
            </button>
          </div>
        </div>
      </div> -->
    </div>

    {% set caseDonation= [ { "image": "img/donation/campaign/1.png", "title":
    "Chung tay giúp Tuyết Vy - cô bé 3 tuổi 6 lần phẫu thuật được sống một cuộc
    sống bình thường", "summary": "Được tắm thường xuyên, nhiều căn bệnh ngoài
    da sẽ bị đẩy lùi!", "money": "15.807.469đ", "percent": "40,44%", "time":
    "10" }, { "image": "img/donation/campaign/2.png", "title": " Tặng sân chơi
    cho ngôi trường mầm non đồng bào Bru - Vân Kiều", "summary": " Để các em có
    một tuổi thơ tràn đầy tiếng cười, niềm vui!", "money": "15.807.469đ",
    "percent": "25,44%", "time": "20" }, { "image":
    "img/donation/campaign/3.png", "title": "Lắp 6 hệ thống điện gió mặt trời
    cho Bản nghèo 10 năm mong điện.", "summary": "Thắp sáng núi rừng Điện Biên
    bằng ánh sáng của điện và giáo dục.", "money": "15.807.469đ", "percent":
    "15,44%", "time": "30" } ] %}

    <div class="row donation-list">
      {% for i in [0,1,2,1,0] %}
      <div class="col-12 col-sm-6 col-lg-4 d-flex donation-list-col">
        {{ qg.quyengop( caseDonation[i].image, caseDonation[i].title,
        caseDonation[i].summary, caseDonation[i].money, caseDonation[i].percent,
        caseDonation[i].time ) }}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container px-4 px-4 pt-3 text-center">
    <a
      href=""
      class="link-dark font-weight-bold d-inline-flex align-items-center"
    >
      <u>
        Xem thêm
        <i class="svg-icon" data-feather="chevron-right"></i>
      </u>
    </a>
  </div>
</section>

<div class="container px-4 px-4">
  <hr class="m-0 p-0" />
</div>

<div id="ser79">
  <section class="bg-white">
    <div class="container px-4">
      <div class="row align-items-start">
        <div class="col-12 col-lg-4 text-center text-lg-left">
          <h2 class="mt-lg-3 text-pink-momo">Câu hỏi thường gặp</h2>
          <p class="lead text-gray-700"></p>
        </div>
        <div class="col-12 col-lg-8">
          <div class="accordion question-answer" id="questions">
            <div class="card py-2">
              <div class="card-header" id="heading1153">
                <h3 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left pl-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse1153"
                    aria-expanded="false"
                    aria-controls="collapse1153"
                  >
                    Trái Tim MoMo là gì?
                  </button>
                </h3>
              </div>
              <div
                id="collapse1153"
                class="collapse"
                aria-labelledb="heading1153"
                data-parent="#questions"
              >
                <div class="card-body">
                  <p>
                    Trái tim MoMo là tính năng gây quỹ từ thiện của MoMo. Các dự
                    án được đăng tải trong Trái Tim MoMo đều là những dự án đã
                    được lựa chọn cẩn trọng bởi đội ngũ MoMo, và được bảo trợ
                    bởi các tổ chức uy tín.
                  </p>
                </div>
              </div>
            </div>
            <div class="card py-2">
              <div class="card-header" id="heading1154">
                <h3 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left pl-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse1154"
                    aria-expanded="false"
                    aria-controls="collapse1154"
                  >
                    MoMo có thu lợi nhuận từ việc gây quỹ không?
                  </button>
                </h3>
              </div>
              <div
                id="collapse1154"
                class="collapse"
                aria-labelledb="heading1154"
                data-parent="#questions"
              >
                <div class="card-body">
                  <p>
                    MoMo hoàn toàn không thu lợi nhuận từ việc gây quỹ. Ngoại
                    trừ phí chuyển khoản ngân hàng, 100% số tiền của người dùng
                    được chuyển tới cho các tổ chức bảo trợ.
                  </p>
                </div>
              </div>
            </div>
            <div class="card py-2">
              <div class="card-header" id="heading1155">
                <h3 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left pl-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse1155"
                    aria-expanded="false"
                    aria-controls="collapse1155"
                  >
                    Sau bao lâu từ khi quyên góp, tiền sẽ được chuyển đến tay
                    hoàn cảnh?
                  </button>
                </h3>
              </div>
              <div
                id="collapse1155"
                class="collapse"
                aria-labelledb="heading1155"
                data-parent="#questions"
              >
                <div class="card-body">
                  <p>
                    Trong vòng 1 tuấn kể từ khi dự án quyên góp thành công, tiền
                    sẽ được chuyển tới đối tác. Trong những trường hợp khẩn cấp,
                    chúng tôi có thể chuyển sớm hơn.
                  </p>
                </div>
              </div>
            </div>
            <div class="card py-2">
              <div class="card-header" id="heading1156">
                <h3 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left pl-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse1156"
                    aria-expanded="false"
                    aria-controls="collapse1156"
                  >
                    Ai có thể gây quỹ trên Trái Tim MoMo?
                  </button>
                </h3>
              </div>
              <div
                id="collapse1156"
                class="collapse"
                aria-labelledb="heading1156"
                data-parent="#questions"
              >
                <div class="card-body">
                  <p>
                    Để có thể gây quỹ trên MoMo, hoàn cảnh cần được bảo trợ bởi
                    một tổ chức có pháp nhân là Quỹ, tổ chức phi chính phủ,
                    Doanh nghiệp xã hội hoặc một cơ quan nhà nước có chức năng
                    tiếp nhận tài trợ.
                  </p>
                </div>
              </div>
            </div>
            <div class="card py-2">
              <div class="card-header" id="heading1157">
                <h3 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left pl-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse1157"
                    aria-expanded="false"
                    aria-controls="collapse1157"
                  >
                    Nếu hoàn cảnh gây quỹ không thành công thì sao?
                  </button>
                </h3>
              </div>
              <div
                id="collapse1157"
                class="collapse"
                aria-labelledb="heading1157"
                data-parent="#questions"
              >
                <div class="card-body">
                  Sau 1 tuần, nếu không có ý kiến khiếu nại từ phía cộng đồng,
                  MoMo sẽ chuyển số tiền đã gây quỹ được cho tổ chức bảo trợ.
                  MoMo sẽ hỗ trợ hoàn trả số tiền trên nếu tổ chức xã hội mong
                  muốn hoàn trả số tiền cho nhà tài trợ.
                </div>
              </div>
            </div>
            <div class="card py-2">
              <div class="card-header" id="heading1158">
                <h3 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left pl-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse1158"
                    aria-expanded="false"
                    aria-controls="collapse1158"
                  >
                    Làm thế nào để liên hệ và gửi hoàn cảnh tới MoMo?
                  </button>
                </h3>
              </div>
              <div
                id="collapse1158"
                class="collapse"
                aria-labelledb="heading1158"
                data-parent="#questions"
              >
                <div class="card-body">
                  <p>
                    Tổ chức đủ điều kiện vui lòng gửi email thông tin của tổ
                    chức tới địa chỉ
                    <strong
                      ><a href="mailto:donation@mservice.com.vn"
                        >donation@mservice.com.vn</a
                      ></strong
                    >
                    để được nhận hướng dẫn.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="bg-white o-hidden">
  <div class="container px-4 px-4">
    <div class="text-center section__title">
      <h2 class="font-weight-bold section__title__heading text-pink-momo">
        Các nhà tài trợ hàng đầu
      </h2>
      <p class="lead text-center">
        Heo Vàng sẽ được các nhà tài trợ chuyển đổi thành tiền mặt và gửi tới
        các dự án xã hội
      </p>
    </div>

    <div class="row py-3">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111092533-637459539331435993.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt ">Operation Smile</div>
            <div class="sub">Phẫu thuật nụ cười</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111092914-637459541548371796.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt ">Mặt trận Tổ quốc Việt Nam</div>
            <div class="sub">Uỷ ban Trung ương Mặt trận Tổ quốc Việt Nam</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111092952-637459541923638102.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt">Sức mạnh 2000</div>
            <div class="sub">Tiền lẻ mỗi ngày Xây ngay nghìn trường mới</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111093224-637459543449715916.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt">Vinacapital Foundation</div>
            <div class="sub">
              Thay đổi cuộc sống cho phụ nữ và trẻ em Việt Nam
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111093614-637459545741278562.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt">Trung tâm Tình nguyện Quốc gia</div>
            <div class="sub">Thúc đẩy đam mê tình nguyện</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111093647-637459546077766707.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt">Báo Tuổi Trẻ</div>
            <div class="sub">
              Cơ quan ngôn luận của Đoàn Thanh niên Cộng sản Thành phố Hồ Chí
              Minh
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script>
  // document.body.classList.add("header-relative");
  if (!!window.IntersectionObserver) {
    let observer2 = new IntersectionObserver(
      (entries, observe) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("play");
            entry.target.currentTime = 0;
            entry.target.play();
          } else {
            entry.target.pause();
            entry.target.classList.remove("is-play");
          }
        });
      },
      { threshold: 0 }
    );

    document.querySelectorAll(".screenshot__media").forEach((item) => {
      setTimeout(function () {
        observer2 ? observer2.observe(item) : item.classList.add("show");
      }, Number(item.dataset.revealDelay) || 300);
    });
  }

  $(document).ready(function () {
    var swiperCampain = [];

    $(".swiper-campaign-wrap").each(function (index, elment) {
      let btnPrev = $(this).find(".btn-swiper.btn-prev");
      let btnNext = $(this).find(".btn-swiper.btn-next");
      let swiperTarget = $(this).find(".swiper-campaign");
      let swiperPagination = $(this).find(".sw-pagination");

      swiperCampain[index] = new Swiper(swiperTarget, {
        slidesPerView: 4,
        spaceBetween: 0,
        slidesPerGroup: 4,
        simulateTouch: false,
        watchOverflow: true,
        speed: 500,
        breakpoints: {
          1199: {
            slidesPerView: 3,
            slidesPerGroup: 3,
          },
          991: {
            slidesPerView: 2,
            slidesPerGroup: 2,
          },
          767: {
            slidesPerView: "auto",
            slidesPerGroup: 1,
            // freeMode: true,
          },
        },
        navigation: {
          nextEl: btnNext,
          prevEl: btnPrev,
        },
        pagination: {
          el: swiperPagination,
          type: "fraction",
        },
      });
    });

    var swiperStory = new Swiper(".swiper-story", {
      slidesPerView: 1,
      simulateTouch: false,
      speed: 500,
      effect: "fade",
      fadeEffect: {
        crossFade: true,
      },
      navigation: {
        nextEl: ".swiper-story .swiper-button-next",
        prevEl: ".swiper-story .swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  });
</script>
{% endblock %}
