{% import 'macros/helpers.html' as macro %} {% import 'macros/quyengop.html' as
qg %} {% extends 'layouts/layout.html' %} {% block head %}

<!-- <link href="css/lp-donation.css" rel="stylesheet" /> -->

{% endblock %} {% block content %} {% set caseSoLieu=[ { "title": "95%",
"detail": "dự án đã được gây quỹ thành công." }, { "title": "7500+", "detail":
"trẻ em được thay đổi cuộc sống" }, { "title": "23 tỷ+", "detail": "đồng được
quyên góp" } ] %}

<div class="kv-section">
  <div class="swiper-container swiper-kv">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="img/donation/heodat/Slide-banner-Desktop.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="img/donation/heodat/Slide-banner-Mobile.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="kv-pagination">
      <div class="container px-4 position-relative">
        <div class="swiper-button-next">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="kv-section-curve">
    <svg
      width="1440"
      height="34"
      viewBox="0 0 1440 34"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Rectangle 12</title>
      <path
        d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
        fill="#FCEFF4"
        fill-rule="evenodd"
      />
    </svg>
  </div>
</div>

<section class="bg-pink-light">
  <div class="container px-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-7 col-lg-6 pr-lg-5">
        <h1 class="text-pink-momo">Trái tim MoMo</h1>

        <p class="lead text-gray-700">
          Nền tảng gây quỹ từ thiện, giúp bạn dễ dàng chung tay quyên góp cùng
          hàng triệu người, giúp đỡ các hoàn cảnh khó khăn trên khắp cả nước.
        </p>
        <div>
          <div class="pt-1 solieu-list">
            <div class="solieu-item">
              <h4
                class="solieu-item-title"
                data-countup
                data-suffix="%"
                data-start="0"
                data-end="95"
              >
                0%
              </h4>
              <div class="solieu-item-subtitle">
                dự án đã được gây quỹ thành công
              </div>
            </div>

            <div class="solieu-item">
              <h4
                class="solieu-item-title"
                data-countup
                data-suffix="+"
                data-start="1000"
                data-end="7500"
              >
                0+
              </h4>
              <div class="solieu-item-subtitle">
                trẻ em được thay đổi cuộc sống
              </div>
            </div>

            <div class="solieu-item">
              <h4
                class="solieu-item-title"
                data-countup
                data-suffix=" tỷ +"
                data-start="0"
                data-end="23"
              >
                0 tỷ +
              </h4>
              <div class="solieu-item-subtitle">đồng được quyên góp</div>
            </div>
          </div>
        </div>

        <div class="mt-3 mt-lg-4">
          <div class="">
            <a href="" class="btn btn-primary-3 py-2 font-weight-bold mr-2">
              Quyên góp
            </a>

            <a href="" class="btn btn-outline-dark py-2 font-weight-bold">
              Hướng dẫn
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-md-5 mt-4 mt-lg-0 col-lg-6 text-center d-none d-md-block"
      >
        <img
          src="https://static.mservice.io/images/s/momo-upload-api-210118152714-637465804342708477.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container px-4">
    <div class="text-center section__title">
      <h2 class="">Trái tim Momo - Việc tốt không khó</h2>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="ft__item">
          <figure class="ft__item__img">
            <img
              src="https://static.mservice.io/images/s/momo-upload-api-210118172005-637465872051410549.png"
              alt=""
              width="62"
              class="img-fluid d-block mx-auto"
            />
          </figure>
          <h5 class="ft__item__title">Quyên góp nhanh chóng, dễ dàng</h5>
          <div class="text-gray">
            Chỉ với vài chạm, bạn đã góp phần giúp đỡ 1 hoàn cảnh khó khăn có
            cuộc sống tốt đẹp hơn.
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="ft__item">
          <figure class="ft__item__img">
            <img
              src="	https://static.mservice.io/images/s/momo-upload-api-210118171959-637465871992834671.png"
              alt=""
              width="62"
              class="img-fluid d-block mx-auto"
            />
          </figure>
          <h5 class="ft__item__title">
            Minh bạch, công khai mọi khoản đóng góp
          </h5>
          <div class="text-gray">
            Mọi thông tin về hoạt động đóng góp, tài trợ đều được công khai và
            cập nhật liên tục.
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="ft__item">
          <figure class="ft__item__img">
            <img
              src="https://static.mservice.io/images/s/momo-upload-api-210118171953-637465871932420551.png"
              alt=""
              width="62"
              class="img-fluid d-block mx-auto"
            />
          </figure>
          <h5 class="ft__item__title">
            Đối tác của các cơ quan, tổ chức hảo tâm uy tín
          </h5>
          <div class="text-gray">
            “Trái tim MoMo” đã và đang kết nối được với rất nhiều đơn vị bảo
            trợ, báo chí, đơn vị hảo tâm uy tín trên cả nước.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container px-4">
  <hr class="m-0 p-0" />
</div>

<section class="bg-white dona__section__list">
  <div class="dona__section__pattern">
    <img
      src="img/donation/bg/pattern-1.png"
      class="pattern pattern-1"
      width="180"
      alt=""
    />
    <img
      src="img/donation/bg/pattern-2.png"
      class="pattern pattern-2"
      width="170"
      alt=""
    />
    <div class="pattern pattern-3">
      <svg
        width="44"
        height="42"
        viewBox="0 0 44 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197"
          fill-opacity="0.3"
        />
      </svg>
    </div>

    <div class="pattern pattern-4">
      <svg
        width="50"
        height="42"
        viewBox="0 0 44 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197"
          fill-opacity="0.15"
        />
      </svg>
    </div>
  </div>

  <div class="container px-4">
    <div class="row">
      <div class="col-12 text-center reveal">
        <h2 class="">Các chương trình quyên góp Trái tim MoMo</h2>
      </div>
      <div class="col-12 text-center reveal" data-reveal-delay="500">
        <div class="filter-list mt-3 mt-md-4">
          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill is-select">
              Đang diễn ra
            </button>
          </div>

          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill">
              Đã thành công
            </button>
          </div>
        </div>
      </div>
    </div>

    {% set caseDonation= [ { "image": "img/donation/campaign/1.png", "title":
    "Chung tay giúp Tuyết Vy - cô bé 3 tuổi 6 lần phẫu thuật được sống một cuộc
    sống bình thường", "summary": "Được tắm thường xuyên, nhiều căn bệnh ngoài
    da sẽ bị đẩy lùi!", "money": "15.807.469đ", "percent": "40,44%", "time":
    "10" }, { "image": "img/donation/campaign/2.png", "title": " Tặng sân chơi
    cho ngôi trường mầm non đồng bào Bru - Vân Kiều", "summary": " Để các em có
    một tuổi thơ tràn đầy tiếng cười, niềm vui!", "money": "15.807.469đ",
    "percent": "25,44%", "time": "20" }, { "image":
    "img/donation/campaign/3.png", "title": "Lắp 6 hệ thống điện gió mặt trời
    cho Bản nghèo 10 năm mong điện.", "summary": "Thắp sáng núi rừng Điện Biên
    bằng ánh sáng của điện và giáo dục.", "money": "15.807.469đ", "percent":
    "15,44%", "time": "30" } ] %}

    <div class="row donation-list">
      {% for i in [0,1,2,1,0] %}
      <div class="col-12 col-sm-6 col-lg-4 d-flex donation-list-col">
        {{ qg.quyengop( caseDonation[i].image, caseDonation[i].title,
        caseDonation[i].summary, caseDonation[i].money, caseDonation[i].percent,
        caseDonation[i].time ) }}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container px-4 pt-3 text-center">
    <a
      href=""
      class="link-dark font-weight-bold d-inline-flex align-items-center"
    >
      <u>
        Xem thêm
        <i class="svg-icon" data-feather="chevron-right"></i>
      </u>
    </a>
  </div>
</section>

<section>
  <div class="container px-4">
    <div class="text-center section__title">
      <h2 class="">Hướng dẫn quyên góp Trái tim MoMo</h2>
    </div>
    {% include "components/huongdan-service.html" %}
  </div>
</section>

{% include "components/hoi-dap.html" %} {% include
"components/camon-doitac.html" %}
<!-- 
<section class="bg-white sc-share">
  <div class="container px-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 pb-4 pb-lg-0">
        <img src="img/donation/share.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md-5 px-lg-5">
        <div class="fs-12 fw-600 text-pink-momo text-uppercase">
          LỜI CHIA SẺ
        </div>
        <h3 class="py-2">Đội ngũ phát triển Heo Đất</h3>
        <p class="fs-14 text-gray-600">
          Cảm ơn người dùng, nhà hảo tâm, quỹ từ thiện, chúc mừng sinh nhật Heo
          Đất, mong ước về các bước tiến tiếp theo của Heo Đất & hứa hẹn đồng
          hành cùng heo đất lâu dài
        </p>
        <p class="fs-14 text-gray-600">
          Chia sẻ về hành trình làm từ thiện 10+ năm và Ước mơ cá nhân
        </p>
        <a
          href=""
          class="btn btn-primary-2 py-2 font-weight-bold mr-2 bg-pink-momo"
        >
          Xem thêm
        </a>
      </div>
    </div>
  </div>
</section> -->

{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script>
  // document.body.classList.add("header-relative");
  $(document).ready(function () {
    var swiperCampain = [];

    $(".swiper-campaign-wrap").each(function (index, elment) {
      let btnPrev = $(this).find(".btn-swiper.btn-prev");
      let btnNext = $(this).find(".btn-swiper.btn-next");
      let swiperTarget = $(this).find(".swiper-campaign");
      let swiperPagination = $(this).find(".sw-pagination");

      swiperCampain[index] = new Swiper(swiperTarget, {
        slidesPerView: 4,
        spaceBetween: 0,
        slidesPerGroup: 4,
        simulateTouch: false,
        watchOverflow: true,
        speed: 500,
        breakpoints: {
          1199: {
            slidesPerView: 3,
            slidesPerGroup: 3,
          },
          991: {
            slidesPerView: 2,
            slidesPerGroup: 2,
          },
          767: {
            slidesPerView: "auto",
            slidesPerGroup: 1,
            // freeMode: true,
          },
        },
        navigation: {
          nextEl: btnNext,
          prevEl: btnPrev,
        },
        pagination: {
          el: swiperPagination,
          type: "fraction",
        },
      });
    });

    var swiperStory = new Swiper(".swiper-story", {
      slidesPerView: 1,
      simulateTouch: false,
      speed: 500,
      effect: "fade",
      fadeEffect: {
        crossFade: true,
      },
      navigation: {
        nextEl: ".swiper-story .swiper-button-next",
        prevEl: ".swiper-story .swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  });
</script>
{% endblock %}
