{% import 'macros/helpers.html' as macro %} {% import 'macros/quyengop.html' as
qg %} {% extends 'layouts/layout.html' %} {% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<!-- Include facebook JavaScript SDK -->
<!-- <div id="fb-root"></div>
<script`
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0&appId=2242051746077048&autoLogAppEvents=1"
  nonce="aB3Wv4mn"
></script> -->
<!-- End Include facebook JavaScript SDK -->
<!-- <div class="container pt-4 d-none d-lg-block">
  <nav aria-label="breadcrumb" class="breadcrumb-container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="svg-icon breadcrumb-home-icon"
            viewBox="0 0 426.667 426.667"
          >
            <path
              d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
            ></path>
          </svg>
        </a>
      </li>
      <li class="breadcrumb-item"><a href="/donation.html">Quyên góp</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Để những cuộc chia ly sớm được trùng phùng... cần lắm cộng đồng cùng góp
        sức
      </li>
    </ol>
  </nav>
</div>
 -->


<section class="sg-nav-container is-relative shadow-sm p-0">
  <div class="container position-relative">
      <div class="wrap__scroll wrap__scroll__service is-bg-white">
          <nav aria-label="breadcrumb" class="breadcrumb-container">
              <ol class="breadcrumb align-items-center wrap__scroll__target">
                  <li class="breadcrumb-item">
                      <a href="/">
                          <svg xmlns="http://www.w3.org/2000/svg"
                               class="svg-icon breadcrumb-home-icon"
                               viewBox="0 0 426.667 426.667">
                              <path d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"></path>
                          </svg>
                      </a>
                  </li>
                      <li class="breadcrumb-item ">

                              <a href="#" onclick="return false">D&#x1ECB;ch v&#x1EE5; c&#x1ED9;ng &#x111;&#x1ED3;ng</a>
                      </li>
                                              <li class="breadcrumb-item breadcrumb-cat active">
                          <a href="/trai-tim-momo">
                                  <img src="https://static.mservice.io/fileuploads/svg/momo-file-201210105714.svg"
                                       class="img-fluid img-icon"
                                       alt="Tr&#xE1;i Tim MoMo" />
                              Tr&#xE1;i Tim MoMo
                          </a>
                      </li>
                                              <li class="breadcrumb-item breadcrumb-cat ">
                          <a href="/heo-dat-momo">
                                  <img src="https://static.mservice.io/fileuploads/svg/momo-file-201210105632.svg"
                                       class="img-fluid img-icon"
                                       alt="Heo &#x110;&#x1EA5;t MoMo" />
                              Heo &#x110;&#x1EA5;t MoMo
                          </a>
                      </li>

                  <li class="d-block" style="height: 1px;">
                      <span style="width: 30px; display: block"></span>
                  </li>

              </ol>
          </nav>

          <div class="wrap__scroll__next">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   fill="none"
                   stroke="currentColor"
                   stroke-width="2"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   class="svg-icon">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
          </div>
      </div>
  </div>
</section>


<section class="bg-white dona-detail-hero" id="truonghop">
  <div class="container">
    <div class="row align-items-end justify-content-between">
      <div class="col-12 order-2 order-md-1">
        <h1 class="mb-1 h2">
          Để những cuộc chia ly sớm được trùng phùng... cần lắm cộng đồng cùng
          góp sức
        </h1>

        <div class="row mt-3 align-items-end">
          <div class="col-12 col-md">
            <p class="lead text-gray-600">
              <span>
                <img
                  src="img/donation/icon-heart.png"
                  class="img-fluid icon-case-heart"
                  loading="lazy"
                  alt=""
                />
              </span>
              'Như Chưa Hề Có Cuộc Chia Ly' là hoạt động thiện nguyện tìm kiếm,
              đoàn tụ, hàn gắn những vết thương ly biệt và giúp những thân nhân
              thất lạc sau nhiều năm được gặp lại nhau.
            </p>
          </div>

          <div
            class="col-12 col-md-auto order-3 order-md-2 d-flex justify-content-md-end"
          >
            <ul class="list-unstyled mgz__social__item donation__social__item">
              <li>
                <a href="" class="btn btn-sm btn-social__share">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
                    />
                  </svg>
                  Facebook
                </a>
              </li>
              <li>
                <a href="" class="btn btn-sm btn-social__share">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"
                    />
                  </svg>
                  Twitter
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 order-1 order-md-3 dn__gallery__wrap">
        <div class="dn__gallery__radius">
          <div class="dn__gallery">
            <div class="dn__gallery__col">
              <div class="dn__gallery__item">
                <a
                  class=""
                  href="https://www.youtube.com/watch?v=ebeFXa71_c0&amp;autoplay=1"
                  data-fancybox="gallery1"
                  data-width="100%"
                  data-options='{"loop":true}'
                  data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
                >
                  <div
                    class="embed-responsive embed-responsive-dn-gallery bg-light"
                  >
                    <img
                      src="https://img.youtube.com/vi/ebeFXa71_c0/hqdefault.jpg"
                      class="embed-responsive-img object-cover"
                      loading="lazy"
                      alt=""
                    />
                    <img
                      class="icon-video"
                      alt="Media Play Icon"
                      src="/img/hocvien/play.svg"
                      width="70"
                    />
                  </div>
                </a>
              </div>
            </div>

            <div class="dn__gallery__col col3">
              <div class="dn__gallery__item">
                <a
                  class=""
                  href="https://static.mservice.io/blogscontents/momo-upload-api-201125162133-637419180937297694.jpg"
                  data-fancybox="gallery1"
                  data-options='{"loop":true}'
                  data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
                >
                  <div
                    class="embed-responsive embed-responsive-dn-gallery bg-light"
                  >
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-201125162133-637419180937297694.jpg"
                      class="embed-responsive-img object-cover"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </a>
              </div>
            </div>

            <div class="dn__gallery__col col3">
              <div class="dn__gallery__item">
                <a
                  class=""
                  href="https://static.mservice.io/blogscontents/momo-upload-api-201125162125-637419180859129180.jpg"
                  data-fancybox="gallery1"
                  data-options='{"loop":true}'
                  data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
                >
                  <div
                    class="embed-responsive embed-responsive-dn-gallery bg-light"
                  >
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-201125162125-637419180859129180.jpg"
                      class="embed-responsive-img object-cover"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </a>
              </div>
            </div>

            <a
              href="https://static.mservice.io/img/momo-upload-api-200401174311-637213597912717846.jpg"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
              class="btn btn-gallery btn-sm"
            >
              <img
                alt=""
                class="icon"
                src="https://momo.vn/nhobevidai/img/icons/interface/images.svg"
              />
              Xem 5 hình
            </a>

            <a
              href="https://static.mservice.io/img/momo-upload-api-200401174311-637213597912717846.jpg"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
              class="hidden"
            >
            </a>

            <a
              href="https://static.mservice.io/blogscontents/momo-upload-api-200401165322-637213568025475879.jpg"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Giây phút tranh thủ chợp mắt của các bạn Sinh viên Trường Đại học Y Hà Nội"
              class="hidden"
            >
            </a>

            <a
              href="https://static.mservice.io/blogscontents/momo-upload-api-200402005133-637213854931769477.jpg"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Thế hệ Bác Sĩ tương lai của tổ quốc tiến lên với tinh thần “Khi tổ quốc cần!”"
              class="hidden"
            >
            </a>
            <a
              href="https://www.youtube.com/watch?v=ebeFXa71_c0"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Thế hệ Bác Sĩ tương lai của tổ quốc tiến lên với tinh thần “Khi tổ quốc cần!”"
              class="hidden"
            >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="dona-nav-container">
  <div class="container">
    <div class="wrap__scroll wrap__scroll__tintuc">
      <nav class="nav sg-nav wrap__scroll__target" id="navbar-sg">
        <a class="nav-link active dona-link-scroll" href="#truonghop">
          <i class="svg-icon" data-feather="home"></i> Hoàn cảnh
        </a>

        <a class="nav-link dona-link-scroll" href="#cauchuyen">
          <i class="svg-icon" data-feather="heart"></i> Câu chuyện
        </a>
        <a
          class="nav-link dona-link-scroll"
          href="#loinhan"
          data-scrollto="#gioithieu"
          data-offset="120"
        >
          <i class="svg-icon" data-feather="message-circle"></i>
          Lời nhắn
        </a>
        <a
          class="nav-link dona-link-scroll"
          href="#nhahaotam"
          data-scrollto="#nhahaotam"
          data-offset="120"
        >
          <i class="svg-icon" data-feather="users"></i>
          Nhà hảo tâm
        </a>
        <a
          class="nav-link dona-link-scroll d-lg-none"
          href="#chuongtrinhkhac"
          data-scrollto="#chuongtrinhkhac"
          data-offset="120"
          ><i class="svg-icon" data-feather="more-vertical"></i>
          Các chương trình khác
        </a>
        <div class="nav-link d-md-none">
          <div style="width: 20px; height: 1px"></div>
        </div>
      </nav>
      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>
  </div>
</div>

<section class="bg-white sc-content">
  <div class="container">
    <div class="row align-content-around">
      <div class="col-12 col-lg-7 order-2 order-lg-1 sticky-content">
        <div class="theiaStickySidebar">
          <div class="" id="cauchuyen">
            <div class="donation__detail__heading">
              <h4 class="fw-600 m-0">Câu chuyện</h4>
            </div>

            <article class="img-set-max">
              <p dir="ltr">
                <strong>"Như Chưa Hề Có Cuộc Chia Ly"</strong>&nbsp;là chương
                trình của cộng đồng, vì cộng đồng, vận hành trên ba hoạt động
                chính: Tìm kiếm - Đoàn tụ - Lan tỏa nhân ái.&nbsp;
              </p>

              <p dir="ltr">
                Khởi xướng từ năm 2007, “Như Chưa Hề Có Cuộc Chia Ly” với 13 năm
                hoạt động đã tìm và giúp đoàn tụ cho hơn 2.500 cuộc ly
                tán.&nbsp;&nbsp;
              </p>

              <p dir="ltr">
                Kể từ tháng 11/2020, chương trình trực tiếp “Như Chưa Hề Có Cuộc
                Chia Ly” mở rộng phát sóng, tiếp sóng trên nhiều nền tảng khác
                nhau. Khán giả có thể theo dõi qua Ứng dụng - fanpage - youtube
                của chương trình, bên cạnh đó là kênh truyền hình VTC3 và Ứng
                dụng VTVgo.
              </p>

              <p dir="ltr">
                Sự tồn tại của chương trình trong giai đoạn mới phụ thuộc hoàn
                toàn vào sự hỗ trợ của cộng đồng là các đóng góp, ủng hộ của
                khán giả về cả vật chất lẫn tinh thần.&nbsp;
              </p>

              <p dir="ltr">
                <img
                  src="https://static.mservice.io/blogscontents/momo-upload-api-201125161755-637419178759068296.jpg"
                />
              </p>

              <p dir="ltr">
                &nbsp;Hiện nay, “Như Chưa Hề Có Cuộc Chia Ly” đang gặp khó khăn
                về nguồn kinh phí vận hành. Mỗi tháng đội ngũ gồm 17 người, cần
                tối thiểu 500 triệu đồng cho tất cả các hoạt động: Xử lý thông
                tin, tìm kiếm, đoàn tụ và thực hiện một chương trình trực tiếp
                kể lại các câu chuyện nhân nghĩa, tạo động lực cho cộng đồng
                tham gia hỗ trợ. Số hồ sơ đang cần được xử lý, tìm kiếm là hơn
                80.000 hồ sơ và vẫn đang tăng lên mỗi ngày.
              </p>

              <p dir="ltr">
                &nbsp;Trung bình mỗi tháng chương trình giúp từ 4 đến 6 Hoàn
                cảnh thân nhân thất lạc tìm được nhau. “Như Chưa Hề Có Cuộc Chia
                Ly” khiến không ít người xem rơi nước mắt khi chứng kiến những
                cuộc đoàn tụ cảm động.
              </p>

              <p dir="ltr">
                <img
                  src="https://static.mservice.io/blogscontents/momo-upload-api-201125161845-637419179250152734.jpg"
                />
              </p>

              <p>
                Từ tháng 11/2020, Ví MoMo vinh hạnh trở thành kênh quyên góp
                chính thức của “Như Chưa Hề Có Cuộc Chia Ly” - là nơi tiếp nhận
                các khoản đóng góp với mong muốn chương trình tiếp tục tồn tại
                để nhiều hơn nữa những cuộc chia ly được trùng phùng.&nbsp;
              </p>

              <p>
                Sự chung tay của cộng đồng, xã hội trên nhiều khía cạnh sẽ làm
                tăng hiệu quả tìm kiếm, giúp các Hoàn cảnh ly tán có cơ hội gặp
                nhau nhanh hơn.&nbsp;
              </p>

              <p>
                Những đóng góp về vật chất dù nhỏ bé cũng sẽ giúp cho chương
                trình có thể đi lâu dài và bền vững hơn!
              </p>

              <div>
                <div
                  dir="ltr"
                  style="
                    background: #eee;
                    border: 1px solid #ccc;
                    padding: 5px 10px;
                  "
                >
                  <p dir="ltr">
                    <u><strong>Về NỐI THÂN THƯƠNG:&nbsp;</strong></u>
                  </p>

                  <p dir="ltr">
                    Công ty xã hội Nối Thân Thương - We Connect là đơn vị chủ
                    quản hoạt động thiện nguyện Như Chưa Hề Có Cuộc Chia Ly và
                    Đội tìm kiếm Nối Thân Thương.&nbsp;
                  </p>

                  <p dir="ltr">
                    Chúng tôi cam kết sử dụng đúng mục đích 100% nguồn hỗ trợ từ
                    cộng đồng. Chúng tôi sẽ báo cáo công khai minh bạch hàng
                    tháng các khoản chi tiêu trên các nền tảng số của Như Chưa
                    Hề Có Cuộc Chia Ly.
                  </p>
                  Xem thêm tại:&nbsp;<a href="https://haylentieng.vn/"
                    >https://haylentieng.vn/</a
                  >
                </div>
              </div>
            </article>
          </div>

          <div id="loinhan">
            <div class="donation__detail__heading has-border-top">
              <h4 class="fw-600 m-0">Lời nhắn</h4>
            </div>

            <div class="message-container">
              <div class="swiper-container swiper-message">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="message-item">
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="campaign-people-avatar is-pink">TV</div>
                        </div>
                        <div class="col">
                          <div class="message-item-name">Trương Thị Việt</div>
                        </div>
                      </div>

                      <div class="message-item-content">
                        <div class="message-item-txt">
                          Tiêu diệt Covid-19 zo zo zo
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="message-item">
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="campaign-people-avatar is-pink">TV</div>
                        </div>
                        <div class="col">
                          <div class="message-item-name">Trương Thị Việt</div>
                        </div>
                      </div>

                      <div class="message-item-content">
                        <div class="message-item-txt">
                          Tiêu diệt Covid-19 zo zo zo
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="message-item">
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="campaign-people-avatar is-pink">TV</div>
                        </div>
                        <div class="col">
                          <div class="message-item-name">Trương Thị Việt</div>
                        </div>
                      </div>

                      <div class="message-item-content">
                        <div class="message-item-txt">
                          Tiêu diệt Covid-19 zo zo zo
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="message-item">
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="campaign-people-avatar is-pink">TV</div>
                        </div>
                        <div class="col">
                          <div class="message-item-name">Trương Thị Việt</div>
                        </div>
                      </div>

                      <div class="message-item-content">
                        <div class="message-item-txt">
                          Tiêu diệt Covid-19 zo zo zo
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="message-item">
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="campaign-people-avatar is-pink">TV</div>
                        </div>
                        <div class="col">
                          <div class="message-item-name">Trương Thị Việt</div>
                        </div>
                      </div>

                      <div class="message-item-content">
                        <div class="message-item-txt">
                          Tiêu diệt Covid-19 zo zo zo
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination"></div> -->
              </div>
            </div>

            <div class="mt-2">
              <a
                href=""
                class="btn btn-outline-dark font-weight-bold"
                data-toggle="modal"
                data-target="#modal-donation-message"
                >Xem tất cả</a
              >
            </div>
          </div>

          <div id="nhahaotam">
            <div class="donation__detail__heading has-border-top">
              <h4 class="fw-600 m-0">Danh sách nhà hảo tâm mới nhất</h4>
            </div>

            <div class="border rounded px-3 py-0">
              <div class="campaign-people-list">
                {% for item in range(0,6) %}
                <div class="campaign-people-item">
                  <div class="campaign-people-avatar">ND</div>

                  <div class="campaign-people-info">
                    <div class="campaign-people-name">Nguyễn Văn D</div>
                    <div class="campaign-people-phone">*******434</div>
                  </div>

                  <div class="campaign-people-money">5000đ</div>
                </div>

                {% endfor %}
              </div>
            </div>

            <div class="mt-3">
              <a
                href=""
                class="btn btn-outline-dark font-weight-bold"
                data-toggle="modal"
                data-target="#modal-donation-list"
                >Xem tất cả (2464)</a
              >
            </div>
          </div>

          <div id="">
            <div class="donation__detail__heading has-border-top">
              <h4 class="fw-600 m-0">Những nhà hảo tâm hàng đầu</h4>
            </div>
            <div class="border rounded px-3 py-0">
              <div class="campaign-people">
                <div class="campaign-people-list">
                  <div class="campaign-people-item">
                    <div class="campaign-people-avatar is-image">
                      <img
                        src="https://momo.vn/nhobevidai/img/v1.svg"
                        width="28"
                        alt=""
                      />
                    </div>

                    <div class="campaign-people-info">
                      <div class="campaign-people-name">Nguyễn Văn D</div>
                      <div class="campaign-people-phone">*******434</div>
                    </div>

                    <div class="campaign-people-money">
                      2444
                      <img
                        src="https://momo.vn/nhobevidai/img/heo-icon.svg"
                        class="icon-heovang"
                        width="24"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="campaign-people-item">
                    <div class="campaign-people-avatar is-image">
                      <img
                        src="https://momo.vn/nhobevidai/img/v2.svg"
                        width="28"
                        alt=""
                      />
                    </div>

                    <div class="campaign-people-info">
                      <div class="campaign-people-name">Nguyễn Văn D</div>
                      <div class="campaign-people-phone">*******434</div>
                    </div>

                    <div class="campaign-people-money">
                      2004
                      <img
                        src="https://momo.vn/nhobevidai/img/heo-icon.svg"
                        class="icon-heovang"
                        width="24"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="campaign-people-item">
                    <div class="campaign-people-avatar is-image">
                      <img
                        src="https://momo.vn/nhobevidai/img/v3.svg"
                        width="28"
                        alt=""
                      />
                    </div>

                    <div class="campaign-people-info">
                      <div class="campaign-people-name">Nguyễn Văn D</div>
                      <div class="campaign-people-phone">*******434</div>
                    </div>

                    <div class="campaign-people-money">
                      1244
                      <img
                        src="img/heo-icon.svg"
                        class="icon-heovang"
                        width="24"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="campaign-people-item">
                    <div class="campaign-people-avatar">4</div>

                    <div class="campaign-people-info">
                      <div class="campaign-people-name">Nguyễn Văn D</div>
                      <div class="campaign-people-phone">*******434</div>
                    </div>

                    <div class="campaign-people-money">5000đ</div>
                  </div>

                  <div class="campaign-people-item">
                    <div class="campaign-people-avatar">4</div>

                    <div class="campaign-people-info">
                      <div class="campaign-people-name">Nguyễn Văn D</div>
                      <div class="campaign-people-phone">*******434</div>
                    </div>

                    <div class="campaign-people-money">5000đ</div>
                  </div>

                  <div class="campaign-people-item">
                    <div class="campaign-people-avatar">4</div>

                    <div class="campaign-people-info">
                      <div class="campaign-people-name">Nguyễn Văn D</div>
                      <div class="campaign-people-phone">*******434</div>
                    </div>

                    <div class="campaign-people-money">5000đ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="">
            <div class="donation__detail__heading has-border-top">
              <h4 class="fw-600 m-0">Tin tức liên quan</h4>
            </div>
            <div class="mgz__list mt-3 mt-md-0">
              <div class="mgz__row">
                {% for i in [4,6,7,8,9,10] %}

                <article class="mgz mgz-hori mgz-hori-small is-12">
                  <div class="mgz__header">
                    <figure class="mgz__figure">
                      <div class="embed-responsive embed-responsive-15by20">
                        <a href="magazine-detail.html">
                          <img
                            data-src="{{blogs[i].Avatar}}"
                            alt=""
                            class="embed-responsive-img lazyload"
                          />
                        </a>
                      </div>
                    </figure>
                  </div>

                  <div class="mgz__body">
                    <div class="infomgz">
                      <header class="infomgz__header">
                        {% for name, alias in hmmCat %} {% if
                        blogs[i].CategoryName == name %}
                        <div class="infomgz__cat {{ alias }}">
                          <a
                            class="infomgz__cat__link"
                            href="magazine-category.html"
                            >{{blogs[i].CategoryName}}</a
                          >
                        </div>
                        {% endif %} {% endfor %}

                        <h5 class="infomgz__title">
                          <a href="" alt="">{{blogs[i].Title}}</a>
                        </h5>
                      </header>

                      <div class="infomgz__body">
                        <div class="infomgz__meta">
                          <span class="time">{{blogs[i].PublicDate}}</span>

                          <span class="middotDivider"></span>

                          <span class="view">5 phút đọc</span>
                        </div>

                        <div class="infomgz__dek is-2line">
                          {{blogs[i].ShortContent}}
                        </div>
                      </div>
                    </div>
                  </div>
                </article>

                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 order-1 order-lg-2 sticky-sidebar">
        <div class="theiaStickySidebar">
          <div class="quyengop-sticky">
            {{ qg.widgetDonation( '153.807.469đ', '300.000.000đ', '46,7%' ) }}

            <div class="pb-3 d-none d-lg-block">
              <h4 class="mt-5 mb-3">Các chương trình quyên góp khác</h4>
              {% for i in [1,2,3] %}

              <div class="mb-3">
                {{ qg.quyengop( '/img/donation/campaign/'+i+'.png', 'Giúp 1700
                trẻ em vùng cao được tắm nước nóng trong mùa đông giá lạnh',
                'Được tắm thường xuyên, nhiều căn bệnh ngoài da sẽ bị đẩy lùi!'
                ) }}
              </div>
           
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white d-lg-none" id="chuongtrinhkhac">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md pb-2">
        <h3>Các chương trình quyên góp khác</h3>
      </div>
      <div class="col-auto text-right d-none d-md-block pb-2">
        <a href="" class="btn btn-outline-primary-2 btn-sm font-weight-bold"
          >Xem tất cả</a
        >
      </div>
    </div>
    <div class="row sm-gutters">
      {% for i in [1,2,3] %}
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        {{ qg.quyengop( '/img/donation/campaign/'+i+'.png', 'Giúp 1700 trẻ em
        vùng cao được tắm nước nóng trong mùa đông giá lạnh', 'Được tắm thường
        xuyên, nhiều căn bệnh ngoài da sẽ bị đẩy lùi!' ) }}
      </div>
      {% endfor %}
    </div>
    <div class="row d-block d-md-none">
      <div class="col-12 text-center">
        <a href="" class="btn btn-outline-primary-2 btn-sm font-weight-bold"
          >Xem tất cả</a
        >
      </div>
    </div>
  </div>
</section>
{% include "components/tai-app.html" %} {% include
"components/modal-huongdan.html" %} {% include "components/modal-qrcode.html" %}

<div
  class="bg-white block-border btn-quyengop-sticky d-block d-lg-none px-3 py-2 shadow-lg"
>
  <a
    href="#"
    class="btn btn-block btn-primary-3 font-weight-bold cta-donation-1"
  >
    Quyên góp
  </a>
</div>

<div
  class="modal fade"
  id="modal-donation-message"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Danh sách lời nhắn
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-3 px-lg-4 py-0">
        <div class="campaign-people-list swiper-message">
          <div class="modal-list-message">
            {% for item in range(0,10) %}
            <div class="swiper-slide w-100">
              <div class="message-item">
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="campaign-people-avatar is-pink">TV</div>
                  </div>
                  <div class="col">
                    <div class="message-item-name">Trương Thị Việt</div>
                  </div>
                </div>

                <div class="message-item-content">
                  <div class="message-item-txt">
                    Tiêu diệt Covid-19 zo zo zo
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-dismiss="modal"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal-donation-list"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Danh sách đóng góp
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-3 px-lg-4 py-0">
        <div class="campaign-people-list">
          <div class="campaign-people-item">
            <div class="campaign-people-avatar is-image">
              <img
                src="https://momo.vn/nhobevidai/img/v1.svg"
                width="28"
                alt=""
              />
            </div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">Nguyễn Văn D</div>
              <div class="campaign-people-phone">*******434</div>
            </div>

            <div class="campaign-people-money">
              2444
              <img
                src="https://momo.vn/nhobevidai/img/heo-icon.svg"
                class="icon-heovang"
                width="24"
                alt=""
              />
            </div>
          </div>

          <div class="campaign-people-item">
            <div class="campaign-people-avatar is-image">
              <img
                src="https://momo.vn/nhobevidai/img/v2.svg"
                width="28"
                alt=""
              />
            </div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">Nguyễn Văn D</div>
              <div class="campaign-people-phone">*******434</div>
            </div>

            <div class="campaign-people-money">
              2004
              <img
                src="https://momo.vn/nhobevidai/img/heo-icon.svg"
                class="icon-heovang"
                width="24"
                alt=""
              />
            </div>
          </div>

          <div class="campaign-people-item">
            <div class="campaign-people-avatar is-image">
              <img
                src="https://momo.vn/nhobevidai/img/v3.svg"
                width="28"
                alt=""
              />
            </div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">Nguyễn Văn D</div>
              <div class="campaign-people-phone">*******434</div>
            </div>

            <div class="campaign-people-money">
              1244
              <img
                src="img/heo-icon.svg"
                class="icon-heovang"
                width="24"
                alt=""
              />
            </div>
          </div>
          {% for item in range(0,20) %}
          <div class="campaign-people-item">
            <div class="campaign-people-avatar">4</div>

            <div class="campaign-people-info">
              <div class="campaign-people-name">Nguyễn Văn D</div>
              <div class="campaign-people-phone">*******434</div>
            </div>

            <div class="campaign-people-money">5000đ</div>
          </div>

          {% endfor %}
        </div>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-dismiss="modal"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block stickyFooter %} {% endblock %}
<!-- Scripts -->
{% block javascript %}
<script type="text/javascript" src="js/readmore.js"></script>
<script>
  document.body.classList.add("header-no-sticky");

  const stickyElm = document.querySelector(".dona-nav-container");

  const observer = new IntersectionObserver(
    ([e]) => e.target.classList.toggle("isSticky", e.intersectionRatio < 1),
    { threshold: [1] }
  );

  observer.observe(stickyElm);
  $(window).on("activate.bs.scrollspy", function () {
    const donationSticky = $(".dona-nav-container .sg-nav");
    const linkActive = donationSticky.find(".dona-link-scroll.active");
    const xleft = linkActive[0].offsetLeft;
    const xWidth = linkActive[0].offsetWidth;
    if (xleft + xWidth < $(window).width()) {
      donationSticky.scrollLeft(xleft - xWidth);
    } else {
      donationSticky.scrollLeft(xleft + xWidth);
    }
  });

  $(document).ready(function () {
    /* $('html').addClass('scroll-smooth'); */

    var scroll = new SmoothScroll("a.dona-link-scroll", {
      speedAsDuration: true,
      offset: 55,
    });

    $("body").scrollspy({ target: "#navbar-sg", offset: 150 });

    var swiperMessage = new Swiper(".swiper-message", {
      slidesPerView: "auto",
      spaceBetween: 8,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    $(".baiviet-loadmore").readmore({
      speed: 75,
      moreLink:
        '<a href="#">Xem thêm <img src="img/icons/interface/icon-chevron-down.svg" > </a>',
      lessLink:
        '<a href="#">Thu gọn  <img src="img/icons/interface/icon-chevron-up.svg" ></a>',
    });

    var CtaScroll = $(".campaign-cta").offset().top;

    function showQuyenGopBtn() {
      var scrollCurrent = $(window).scrollTop();
      var scrollOut = $(window).scrollTop() - CtaScroll - 70;
      if (scrollOut > 0) {
        $("html").addClass("show-donation-btn");
      } else {
        $("html").removeClass("show-donation-btn");
      }
    }

    function showQuyenGopNav() {
      if ($(window).scrollTop() > 300) {
        $("html").addClass("show-donation-nav");
      } else {
        $("html").removeClass("show-donation-nav");
      }
    }

    $(window).on("scroll", function () {
      !window.requestAnimationFrame
        ? setTimeout(showQuyenGopBtn, 250)
        : requestAnimationFrame(showQuyenGopBtn);

      !window.requestAnimationFrame
        ? setTimeout(showQuyenGopNav, 250)
        : requestAnimationFrame(showQuyenGopNav);
    });
  });
</script>
{% endblock %}
