{% import 'macros/helpers.html' as macro %} {% import 'macros/quyengop.html' as
qg %} {% extends 'layouts/layout-1.html' %} {% block head %} {% endblock %} {%
block header %}

<div class="navbar-container navbar-donation">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-lp">
    <div class="container">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="index.html">
          <img src="img/momo-logo-white.svg" class="img-fluid" width="38" alt="" />
        </a>
        <a href="" class="ml-3">
          <img src="img/donation/heart/weconnect-logo.png" class="img-fluid" width="120" alt="" />
        </a>
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon" data-inject-svg
            src="img/icons/interface/icon-menu.svg" />
          <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon" data-inject-svg
            src="img/icons/interface/icon-x.svg" />
        </button>
      </div>

      <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-scrollspy-donation"
        id="navigation-menu">
        {% set menu = [ { "name": "Quyên góp", "id" : "quyengop", "link" : "" },
        { "name": "Hướng dẫn", "id" : "huongdan", "link" : "" }, { "name": "Lời
        nhắn", "id" : "loinhan", "link" : "" }, { "name": "Tin tức", "id" :
        "tintuc", "link" : "" }, { "name": "Về We Connect", "id" : "weconnect",
        "link" : "" }] %}

        <ul class="navbar-nav py-3 px-0 m-0">
          <li class="nav-item">
            <a class="nav-link nav-item active font-weight-bold" href="#vechuongtrinh" data-smooth-scroll
              role="button">Về chương trình</a>
          </li>
          {% for item in menu %}
          <li class="nav-item">
            <a class="nav-link nav-item font-weight-bold" href="#{{item.id}}" data-smooth-scroll
              role="button">{{item.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %} {% block content %} {% set caseSoLieu=[ { "title": "95%",
"detail": "dự án đã được gây quỹ thành công." }, { "title": "7500+", "detail":
"trẻ em được thay đổi cuộc sống" }, { "title": "23 tỷ+", "detail": "đồng được
quyên góp" } ] %}

<div class="position-relative dona__hero__case o-hidden bg-donation-banhmi"
  style="background-image: url(img/donation/heart/kv-bg.jpg)">
  <div class="container px-4 donation-live-wall">
    <div class="row no-gutters align-items-center">
      <div class="col-12 col-lg-6 order-2 order-lg-1 pr-lg-5 text-center text-lg-left">
        <div class="mb-2 reveal pr-4">
          <!-- <div class="nch-title-logo"></div> -->
          <!-- <img src="img/donation/heart/logo.png" width="209" alt="" /> -->
          <img src="img/donation/heart/text-logo.png" class="img-fluid" width="400" alt="" />
        </div>
        <div class="mb-2 reveal pr-4" data-reveal-delay="400">
          <img src="img/donation/heart/kv-banhminoithanthuong.svg" class="img-fluid" loading="lazy" width="420"
            alt="" />
        </div>
        <!-- <h1
          class="dona__text-main mb-3 font-weight-bolder reveal"
          data-reveal-delay="400"
        >
          Để những cuộc chia ly sớm được trùng phùng
        </h1> -->
        <p class="reveal donation-txt2 text-left" data-reveal-delay="800">
          Cùng chung tay <strong>ỦNG HỘ ĐỊNH KỲ HÀNG THÁNG</strong> để giúp Như
          chưa hề có cuộc chia ly có kinh phí tiếp tục tạo nên các phép màu cho
          hàng chục nghìn gia đình có thể đoàn tụ.
        </p>

        <p class="reveal donation-txt2 text-left" data-reveal-delay="1200">
          Cần <strong>30.000 người</strong> ủng hộ định kỳ với
          <strong>20.000đ/tháng/người</strong> (tương đương giá trị 1 ổ bánh mì)
          là sứ mệnh kết nối những người thân lạc mất nhau sẽ tiếp tục được tiếp
          nối sau 14 năm thực hiện.
        </p>
        <div>
          <div class="pt-1 solieu-list">
            <div class="solieu-item">
              <h4 class="solieu-item-title" data-countup data-suffix=" +" data-start="1000" data-end="1700">
                0 triệu
              </h4>
              <div class="solieu-item-subtitle">
                Người đăng ký ủng hộ định kỳ
              </div>
            </div>

            <div class="solieu-item">
              <h4 class="solieu-item-title" data-countup data-suffix=" +" data-start="1000" data-end="1260">
                0+
              </h4>
              <div class="solieu-item-subtitle">Lượt ủng hộ một lần</div>
            </div>

            <div class="solieu-item">
              <h4 class="solieu-item-title" data-countup data-suffix=" triệu +" data-start="0" data-end="531">
                0 triệu +
              </h4>
              <div class="solieu-item-subtitle">
                Đồng quyên góp cho số T5/2021
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4 reveal" data-reveal-delay="1600">
          <div class="">
            <a href="" class="btn btn-primary-2 btn-lg py-2 font-weight-bold mr-2 px-3">
              Ủng hộ định kỳ ngay
            </a>

            <a href="" class="btn btn-outline-primary-2 btn-lg py-2 font-weight-bold px-3">
              Hướng dẫn
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <div class="mb-4 mt-lg-0 px-3 px-lg-0">
          <img src="img/donation/heart/kv-gop1obanhmi.png" class="img-fluid d-block mx-auto" loading="lazy" alt=""
            width="530" />
        </div>
      </div>
    </div>
  </div>

  <div class="kv-section-curve">
    <svg width="1440" height="32" viewBox="0 0 1440 32" xmlns="http://www.w3.org/2000/svg">
      <title>Rectangle 12</title>
      <path d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z" fill="#fff"
        fill-rule="evenodd" />
    </svg>
  </div>
</div>


<div class="position-relative dona__hero__case o-hidden bg-donation-banhmi"
  style="background-image: url(https://momo.vn/momo2020/img/donation/heart/kv-bg.jpg)">
  <div class="container px-4 donation-live-wall">
    <div class="row no-gutters align-items-center justify-content-center">
      <div class="col-12 col-lg-6 pr-lg-5 text-center text-lg-left">
        <div class="mb-2 reveal pr-4">
          <img alt="" class="img-fluid" src="https://momo.vn/momo2020/img/donation/heart/text-logo.png" width="400" />
        </div>

        <div class="mb-2 reveal pr-4" data-reveal-delay="400">
          <img alt="" class="img-fluid" loading="lazy"
            src="https://momo.vn/momo2020/img/donation/heart/kv-banhminoithanthuong.svg" width="420" />
        </div>

        <div class="mb-4 mt-lg-0 px-3 px-lg-0 reveal" data-reveal-delay="800">
          <img alt="" class="img-fluid d-block mx-auto" loading="lazy"
            src="https://momo.vn/momo2020/img/donation/heart/kv-gop1obanhmi.png" width="530" />
        </div>
      </div>

      <div class="col-12 col-md-10 col-lg-5 offset-lg-1 pt-4 pt-lg-0">
        <p class="reveal donation-txt2 text-left fw-600" data-reveal-delay="1200">
          Cùng chung tay <strong>ỦNG HỘ ĐỊNH KỲ HÀNG THÁNG</strong> để giúp Như chưa hề có cuộc chia ly có kinh phí tiếp
          tục tạo nên các phép màu cho hàng chục nghìn gia đình có thể đoàn tụ.
        </p>

        <p class="reveal donation-txt2 text-left fw-600" data-reveal-delay="1600">
          Cần <strong>30.000 người</strong> ủng hộ định kỳ với <strong>20.000đ/tháng/người</strong> (tương đương giá trị
          1 ổ bánh mì) là sứ mệnh kết nối những người thân lạc mất nhau sẽ tiếp tục được tiếp nối sau 14 năm thực hiện.
        </p>
        <!-- 
				<div class="mt-4 reveal" data-reveal-delay="1600">
					<div>
						<a class="btn btn-primary-2 btn-lg py-2 font-weight-bold mr-2 px-3 d-none" data-smooth-scroll="" href="#lbse-1392">Ủng hộ định kỳ ngay </a> 
            <a class="btn btn-outline-primary-2 btn-lg py-2 font-weight-bold px-3" data-smooth-scroll="" href="#lbse-1419"> Hướng dẫn </a>
					</div>
				</div>
        -->
        <div class="reveal m-banner" data-reveal-delay="2000">
          <div class="campaign-dn-footer px-0">
            <div class="fw-600">Số tiền ủng hộ định kỳ dự kiến mỗi tháng</div>

            <div class="campaign-dn-info">
              <div class="campaign-dn-money fw-700">
                <b>90.759.427đ </b>
                <span>/ 555.555.555đ</span>
              </div>
              <div class="campaign-dn-percent fw-700 text-pink-momo">16.34%</div>
            </div>
            <div class="campaign-progress">
              <div class="campaign-progress-bar" style="width: 16.34%"></div>
            </div>
            <div class="campaign-dn-time">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-users ico">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span>3.953 Nhà hảo tâm ủng hộ định kỳ</span>
              </div>

              <div>
                <!-- 
                    <i data-feather="clock" class="ico"></i>
                    <span>5 ngày còn lại</span>
                    -->
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="campaign-dn-subscription">
              <div class="icon">
                <svg class="img-fluid" width="22" height="24.92" viewBox="0 0 30 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M26.6667 3.66666H23.3333V0.333328H20V3.66666H10V0.333328H6.66667V3.66666H3.33333C1.495 3.66666 0 5.16166 0 7V30.3333C0 32.1717 1.495 33.6667 3.33333 33.6667H26.6667C28.505 33.6667 30 32.1717 30 30.3333V7C30 5.16166 28.505 3.66666 26.6667 3.66666ZM19.02 28.6667L14.9383 26.52L10.8567 28.6667L11.6367 24.12L8.33333 20.9033L12.8967 20.24L14.9383 16.1067L16.98 20.24L21.5433 20.9033L18.2417 24.1217L19.02 28.6667ZM26.6667 12H3.33333V8.66666H26.6667V12Z" fill="#a50064"/>
                </svg>                  
              </div>


              <div class="row sm-gutters">
                <div class="col-12">
                  <div class="py-1">
                    <div class="text-gray-700 text-sm lab">
                      Số tiền quyên góp tháng 7/2021
                    </div>
                    <div class="cont">
                      <b>110.921.116đ / 555.555.555đ</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row sm-gutters">

                <div class="col-12">
                  <div class="py-1">
                    <div class="text-gray-700 text-sm lab">
                      Tổng số tiền quyên góp (từ 15/12/2020)
                    </div>
                    <div class="cont">
                      <b>1.829.888.478 đ</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="campaign-dn-cta d-flex mt-1 mt-lg-3">
            <div class="d-md-none d-block my-2 w-100">
              <a class="btn btn-primary-3 font-weight-bold cta-donation-1 d-block"
                href="https://momoapp.page.link/nhu-chua-he-co-cuoc-chia-ly" target="_blank">
                Quyên góp
              </a>
            </div>

            <div class="my-2 mr-md-3">
              <a class="btn btn-primary-3 font-weight-bold cta-donation-1 d-md-inline-block d-none"
                href="javascript:void(0)" id="donate-now">
                Quyên góp ngay
              </a>
            </div>

            <div class="my-2 d-none d-md-block">
              <a class="btn btn-outline-dark font-weight-bold cta-donation-2" data-smooth-scroll="" href="#lbse-1419">
                Hướng dẫn
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kv-section-curve">
    <svg height="32" viewbox="0 0 1440 32" width="1440" xmlns="http://www.w3.org/2000/svg">
      <title></title>
      <path d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z" fill="#fff"
        fill-rule="evenodd"></path>
    </svg>
  </div>
</div>


<div class="bg-donation-grad bg-donation-live dona__hero__case o-hidden d-none">
  <div class="container px-4 donation-live-wall">
    <div class="row no-gutters align-items-center">
      <div class="col-12 col-md-6 order-2 order-md-1 pr-lg-5">
        <div class="mb-2 reveal pr-4">
          <!-- <div class="nch-title-logo"></div> -->
          <!-- <img src="img/donation/heart/logo.png" width="209" alt="" /> -->
          <img src="img/donation/heart/text-logo.png" class="img-fluid" width="400" alt="" />
        </div>
        <h1 class="dona__text-main mb-3 font-weight-bolder reveal" data-reveal-delay="400">
          Để những cuộc chia ly sớm được trùng phùng
        </h1>
        <p class="reveal" data-reveal-delay="800">
          Cùng MoMo chung tay quyên góp, hỗ trợ chi phí giúp chương trình tiếp
          tục tồn tại, tiếp nối ý nghĩa cao đẹp: Tìm kiếm - Đoàn tụ - Lan tỏa
          nhân ái.
        </p>

        <div class="mt-5 reveal" data-reveal-delay="1100">
          <div class="">
            <a href="" class="btn btn-warning btn-lg py-2 font-weight-bold mr-2">
              Quyên góp
            </a>

            <a href="" class="btn btn-outline-primary-2 btn-lg py-2 font-weight-bold">
              Hướng dẫn
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="donation-live-bg"></div>
  <div class="donation-live-pattern" style="background-image: url(img/donation/heart/momo-pattern.svg)"></div>

  <div class="donation-live-swiper">
    <div class="swiper-container swiper-donation-bg-live">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-first">
          <div class="bg" style="background-image: url('img/donation/heart/bg-1.jpg')"></div>
        </div>
        <div class="swiper-slide">
          <div class="bg" style="background-image: url('img/donation/heart/bg-2.jpg')"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="kv-section-curve">
    <svg width="1440" height="32" viewBox="0 0 1440 32" xmlns="http://www.w3.org/2000/svg">
      <title>Rectangle 12</title>
      <path d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z" fill="#fff"
        fill-rule="evenodd" />
    </svg>
  </div>
</div>

<div class="bg-donation-grad dona__hero__case o-hidden d-none">
  <div class="container px-4">
    <div class="row no-gutters align-items-center">
      <div class="col-12 col-md-6 order-2 order-md-1 pr-lg-5">
        <div class="mb-2">
          <!-- <div class="nch-title-logo"></div> -->
          <img src="img/donation/heart/logo.png" width="209" alt="" />
        </div>
        <h1 class="dona__text-main mb-3 font-weight-bolder reveal">
          Để những cuộc chia ly sớm được trùng phùng
        </h1>
        <p class="reveal" data-reveal-delay="500">
          Cùng MoMo chung tay quyên góp, hỗ trợ chi phí giúp chương trình tiếp
          tục tồn tại, tiếp nối ý nghĩa cao đẹp: Tìm kiếm - Đoàn tụ - Lan tỏa
          nhân ái.
        </p>

        <div class="mt-5 reveal" data-reveal-delay="800">
          <div class="">
            <a href="" class="btn btn-light btn-lg py-2 font-weight-bold mr-2">
              Quyên góp
            </a>

            <a href="" class="btn btn-outline-primary-2 btn-lg py-2 font-weight-bold">
              Hướng dẫn
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2">
        <div class="case-anim mt-5">
          <div class="case-anim-item">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-201125162115-637419180750118599.jpg"
              class="img-fluid" alt="" />
          </div>

          <div class="case-anim-item">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-201125162108-637419180684503365.jpg"
              class="img-fluid" alt="" />
          </div>

          <div class="case-anim-item">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-201125162120-637419180804909426.jpg"
              class="img-fluid" alt="" />
          </div>

          <div class="case-anim-item">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-201125162140-637419181000413930.jpg"
              class="img-fluid" alt="" />
          </div>

          <div class="case-anim-item">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-201125162133-637419180937297694.jpg"
              class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kv-section-curve">
    <svg width="1440" height="32" viewBox="0 0 1440 32" xmlns="http://www.w3.org/2000/svg">
      <title>Rectangle 12</title>
      <path d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z" fill="#fff"
        fill-rule="evenodd" />
    </svg>
  </div>
</div>

<section class="bg-white" id="vechuongtrinh">
  <div class="container px-4">
    <div class="row justify-content-center justify-content-lg-between align-items-center">
      <div class="col-12 col-lg-7">
        <div class="nch-title">
          <h2 class="m-0">Giới thiệu về chương trình</h2>
        </div>
        <style>
          .baiviet-loadmore {
            max-height: 370px;
          }
        </style>
        <div class="nch-content baiviet-loadmore" style="">
          <p>
            Từ ngày 5/4/2021, Ví MoMo và Công Ty Xã Hội Nối Thân Thương (We
            Connect) kêu gọi cộng đồng chung tay vì chiến dịch
            <strong>“Bánh mì nối thân thương" </strong> thông qua tính năng
            subscription (trích ủng hộ tự động hàng tháng) trên Ví MoMo.
          </p>

          <p>
            Chỉ cần <strong>30.000 người</strong> đều đặn góp bánh mì hàng tháng
            <strong>(tương đương 20.000đ/tháng)</strong>, “Như chưa hề có cuộc
            chia ly” sẽ có đủ kinh phí tiếp tục sứ mệnh giúp hàng chục nghìn
            cuộc ly tán được trùng phùng.
          </p>

          <p>
            Khi chương trình
            <strong>đạt con số người ủng hộ hàng tháng là 30.000 người</strong>
            thì khi đó
            <strong>“Như chưa hề có cuộc chia ly" tự tin tuyên bố rằng đã trở thành
              hoạt động xã hội do chính xã hội nuôi nấng, xã hội góp
              tay.</strong>
          </p>

          <p>
            <strong> “Như Chưa Hề Có Cuộc Chia Ly”</strong> được khởi xướng từ
            năm 2007. Sau 14 năm hoạt động, chương trình với có sứ mệnh kết nối
            những người thân lạc mất nhau đã giúp hơn 1.800 gia đình với 2.500
            trường hợp thất lạc được đoàn tụ.
          </p>

          <p>
            Hiện “Như chưa hề có cuộc chia ly”
            <strong>đang cạn kiệt kinh phí vận hành</strong> và cần cộng đồng
            chung tay giúp sức. Mỗi tháng, chương trình cần
            <strong>kinh phí tối thiểu 555.555.555 đồng</strong> để duy trì tất
            cả các hoạt động, giúp đoàn tụ từ 4 đến 6 trường hợp thất lạc thân
            nhân. 555.555.555đ là số tiền đã bao gồm thuế 10% theo quy định mà
            chương trình nộp cho nhà nước, chương trình sẽ dùng đúng
            500.000.000đ thực lĩnh để vận hành chương trình.
          </p>

          <p>
            <strong> Thiện tâm cần được nuôi dưỡng và duy trì</strong>, đó chính
            là ý niệm xuất phát của chiến dịch “Bánh mì nối thân thương”. “Như
            chưa hề có cuộc chia ly” và Ví MoMo kỳ vọng sẽ tạo ra một xu hướng
            làm việc thiện nguyện trong tương lai một cách hiệu quả cho người
            thụ hưởng lẫn người cho đi.
          </p>

          <p>
            Hãy chung tay cùng <strong>Ví MoMo lan tỏa yêu thương</strong>, giúp
            chương trình có nguồn tiền ổn định hằng tháng và viết nên kết thúc
            có hậu cho những phận đời ly tán!
          </p>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-5 pl-lg-5 pt-4">
        <div class="swiper-container swiper-video">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="position-relative align-items-center justify-content-center rounded shadow-lg d-none d-md-flex">
                <div class="embed-responsive rounded img-fluid embed-responsive-4by3">
                  <img class="img-fluid embed-responsive-img object-cover" alt=""
                    src="https://static.mservice.io/images/s/momo-upload-api-210510105409-637562408497978166.jpg" />
                </div>

                <a class="position-absolute opacity-80" data-fancybox=""
                  href="https://www.youtube.com/watch?v=7g_BWEcvy1Y&t=1s&ab_channel=V%C3%ADMoMo&amp;autoplay=1">
                  <img alt="Media Play Icon" src="https://momo.vn/momo2020/img/hocvien/play.svg" width="70" />
                </a>
              </div>

              <div class="embed-responsive embed-responsive-16by9 overflow-hidden rounded shadow d-block d-md-none">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7g_BWEcvy1Y" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""></iframe>
              </div>
            </div>

            <div class="swiper-slide">
              <div
                class="position-relative align-items-center justify-content-center rounded shadow-lg d-none d-md-flex">
                <div class="embed-responsive rounded img-fluid embed-responsive-4by3">
                  <img class="img-fluid embed-responsive-img object-cover" alt=""
                    src="https://static.mservice.io/images/s/momo-upload-api-210413112047-637539096478878562.jpg" />
                </div>

                <a class="position-absolute opacity-80" data-fancybox=""
                  href="https://www.youtube.com/watch?v=dIHjsPOAgfc&t=1s&ab_channel=V%C3%ADMoMo&amp;autoplay=1">
                  <img alt="Media Play Icon" src="https://momo.vn/momo2020/img/hocvien/play.svg" width="70" />
                </a>
              </div>

              <div class="embed-responsive embed-responsive-16by9 overflow-hidden rounded shadow d-block d-md-none">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dIHjsPOAgfc" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-button-white">
            <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false">
              <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                fill-rule="evenodd"></path>
            </svg>
          </div>
          <div class="swiper-button-prev swiper-button-white">
            <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false">
              <path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                fill-rule="evenodd"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container px-4">
  <hr class="m-0 p-0" />
</div>
<section class="bg-white" id="vechuongtrinh">
  <div class="container px-4">
    <div class="nch-title text-center">
      <h2 class="m-0">Lời kêu gọi</h2>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="qu-container" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" data-aos-offset="50">
          <div class="mb-3">
            "Với chiến dịch này, một tháng chỉ góp 20.000 đồng, Vân nghĩ không
            chỉ có người lớn mà cả trẻ em cũng tham gia nữa, bởi hoạt động này ý
            nghĩa và nằm trong tầm tay các em. Vân chắc chắn sẽ là người đồng
            hành với Như chưa hề có cuộc chia ly bằng cả tinh thần và vật chất”
            - <strong class="text-primary-2">Nghệ sĩ Hồng Vân</strong> chia sẻ.
          </div>

          <div class="row justify-content-center mt-2 mt-lg-4 mb-2 no-gutters">
            <div class="col-12 col-md-9 col-lg-8">
              <div
                class="position-relative align-items-center justify-content-center rounded shadow-lg d-none d-md-flex">
                <div class="embed-responsive rounded img-fluid embed-responsive-4by3">
                  <img class="img-fluid embed-responsive-img object-cover" alt=""
                    src="https://static.mservice.io/images/s/momo-upload-api-210413112052-637539096527397386.jpg" />
                </div>

                <a class="position-absolute opacity-80"
                  href="https://www.youtube.com/watch?v=s7ylEdLAZMc&ab_channel=V%C3%ADMoMo&amp;autoplay=1">
                  <img alt="Media Play Icon" src="https://momo.vn/momo2020/img/hocvien/play.svg" width="70" />
                </a>
              </div>

              <div class="embed-responsive embed-responsive-16by9 overflow-hidden rounded shadow d-block d-md-none">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/s7ylEdLAZMc" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white dona__section__list" id="quyengop">
  <div class="dona__section__pattern">
    <img src="img/donation/bg/pattern-1.png" class="pattern pattern-1" width="180" alt="" />
    <img src="img/donation/bg/pattern-2.png" class="pattern pattern-2" width="170" alt="" />
    <div class="pattern pattern-3">
      <svg width="44" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197" fill-opacity="0.3" />
      </svg>
    </div>

    <div class="pattern pattern-4">
      <svg width="50" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M39.6183 4.7986C31.6196 -4.65503 21.5802 4.96651 21.0247 5.19278C20.4449 5.03731 9.28839 -3.26179 2.52622 7.11185C-4.23595 17.4855 8.88613 32.9361 23.1887 39.8909C36.5163 31.213 47.6176 14.2522 39.6183 4.7986Z"
          fill="#f45197" fill-opacity="0.15" />
      </svg>
    </div>
  </div>

  <div class="container px-4">
    <div class="row">
      <div class="col-12 text-center reveal">
        <p class="lead mb-1">Quyên góp ủng hộ cho chương trình</p>
        <h2 class="nch-title mb-2 mb-lg-5">Như chưa hề có cuộc chia ly</h2>
      </div>
      <!-- <div class="col-12 text-center reveal" data-reveal-delay="500">
        <div class="filter-list mt-3 mt-md-4">
          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill is-select">
              Đang diễn ra
            </button>
          </div>

          <div class="filter-list-item">
            <button class="btn btn-outline-dark rounded-pill">
              Đã thành công
            </button>
          </div>
        </div>
      </div> -->
    </div>

    <div class=" ">
      <div class="campaign-dn-feature">
        <div class="campaign-dn-pic">
          <div class="campaign-dn-img">
            <img src="https://static.mservice.io/img/momo-upload-api-210414105306-637539943869226726.jpg" class=""
              alt="" loading="lazy" />
          </div>
        </div>

        <div class="campaign-dn-wrap">
          <div class="">
            <h2 class="campaign-dn-title">
              Bánh Mì Nối Thân Thương: Để lòng tốt được nuôi dưỡng & duy trì đều
              đặn
            </h2>
            <p class="campaign-dn-summary">
              Cần 30.000 người "góp bánh mì" đều đặn mỗi tháng (tương đương
              20.000đ/tháng) để Như Chưa Hề Có Cuộc Chia Ly có đủ kinh phí tiếp
              tục giúp các cuộc ly tán được trùng phùng.
            </p>
          </div>

          <div class="mt-3">
            <div class="campaign-dn-subscription">
              <div class="icon">
                <img src="img/donation/icon-subscription.svg" class="img-fluid" alt="" />
              </div>

              <div class="row sm-gutters">
                <div class="col-12 col-md-6">
                  <div class="py-1">
                    <div class="text-gray-700 text-sm lab">
                      Số tiền ủng hộ định kỳ
                    </div>
                    <div class="cont">
                      <b>68.918.959đ / tháng</b>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="py-1">
                    <div class="text-gray-700 text-sm lab">
                      Nhà hỏa tâm ủng hộ định kỳ
                    </div>
                    <div class="cont">
                      <b>2.551 người</b>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 
              <div class="py-1">
                <div class="text-gray-700 text-sm lab">
                  Tổng số tiền quyên góp (từ 15/12/2020)
                </div>
                <div class="cont">
                  <b>2.034.000.000 đ</b>
                </div>
              </div> -->
            </div>
          </div>

          <div class="campaign-dn-footer">
            <div class="campaign-dn-info">
              <div class="campaign-dn-money">
                <b>406.042.753đ </b>
                <span>/ 555.555.555đ</span>
              </div>
              <div class="campaign-dn-percent">73.09%</div>
            </div>
            <div class="campaign-progress">
              <div class="campaign-progress-bar" style="width: 20%"></div>
            </div>
            <div class="campaign-dn-time">
              <div>
                <i data-feather="users" class="ico"></i>
                <span>4356 lượt quyên góp</span>
              </div>

              <div>
                <!-- <i data-feather="clock" class="ico"></i>
                <span>5 ngày còn lại</span> -->
              </div>
            </div>
          </div>

          <div class="text-dark">
            Tổng số tiền quyên góp (từ 15/12/2020) : <b>2.034.000 đ</b>
          </div>

          <div class="campaign-dn-cta d-flex mt-1 mt-lg-3">
            <div class="d-md-none d-block my-2 w-100">
              <a class="btn btn-primary-3 font-weight-bold cta-donation-1 d-block"
                href="https://momoapp.page.link/nhu-chua-he-co-cuoc-chia-ly" target="_blank">
                Quyên góp
              </a>
            </div>

            <div class="my-2 mr-md-3">
              <a class="btn btn-primary-3 font-weight-bold cta-donation-1 d-md-inline-block d-none"
                href="javascript:void(0)" target="_blank">
                Quyên góp ngay
              </a>
            </div>

            <div class="my-2 d-none d-md-block">
              <a class="btn btn-outline-dark font-weight-bold cta-donation-2" data-target="#modal-huongdan-1425"
                data-toggle="modal" href="javascript:void(0)">
                Hướng dẫn
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr class="m-0 p-0" />
</div>

<section id="huongdan">
  <div class="container px-4">
    <div class="text-center nch-title">
      <h2 class="">Hướng dẫn quyên góp trên ví MoMo</h2>
    </div>
    {% include "components/huongdan-service.html" %}
  </div>
</section>

<div class="container">
  <hr class="m-0 p-0" />
</div>

<section class="bg-white" id="loinhan">
  <div class="container px-4">
    <div class="text-center nch-title">
      <h2 class="">Lời nhắn gửi đến chương trình</h2>
    </div>

    <div class="row justify-content-between">
      <div class="col-12 col-md-4">
        <div class="nch-comment">
          <div class="content">
            “Hy vọng chương trình sẽ tiếp tục duy trì và nhân rộng ra hơn nữa ”
          </div>
          <div class="author">NGUYEN MINH TUAN</div>
        </div>
        <div class="nch-comment">
          <div class="content">
            “Chức chương trình ngày càng phát triển để giúp đỡ được nhiều người
            hơn ”
          </div>
          <div class="author">NGUYỄN THỊ HẢI YẾN</div>
        </div>
        <div class="nch-comment">
          <div class="content">
            “Gửi chút hơi ấm đến những mảnh đời còn kém may mắn trong cuộc sống
            <3 ” </div>
              <div class="author">NGUYỄN HẢI ĐĂNG</div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="nch-comment">
            <div class="content">
              “Chúc mọi người sớm tìm được nhau và có một cuộc sống bình an vui vẻ
              ”
            </div>
            <div class="author">tran thi bao chau</div>
          </div>
          <div class="nch-comment">
            <div class="content">
              “Cháu là học sinh, chưa có nhiều tiền nhưng đây là tình cảm của cháu
              dành cho mọi người ạ ”
            </div>
            <div class="author">VU NGOC LINH</div>
          </div>
          <div class="nch-comment">
            <div class="content">
              “Chúc mọi người sớm được đoàn viên bên gia đình ạ . Cảm ơn MoMo gắn
              kết”
            </div>
            <div class="author">Ha Quang Hau</div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="nch-comment">
            <div class="content">
              “Mục tiêu là mỗi tháng em sẽ quyên 100 . Chúc chương trình mai mãi
              duy trì ”
            </div>
            <div class="author">Nguyễn Văn Trung</div>
          </div>
          <div class="nch-comment">
            <div class="content">
              “Chúc anh/chị/em nhiều sức khỏe để tiếp tục tạo nên những phép màu.
              ”
            </div>
            <div class="author">TRUONG THANH NHAN</div>
          </div>
          <div class="nch-comment">
            <div class="content">
              “Năm hết tết đến chúc mọi người có thể đoàn tụ gia đình yêu thương
              của ”
            </div>
            <div class="author">LE ANH TUAN</div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="container px-4">
  <hr class="m-0 p-0" />
</div>

<section class="bg-white" id="tintuc">
  <div class="container px-4">
    <div class="text-center nch-title">
      <h2 class="">Tin tức</h2>
    </div>

    <div class="mgz__list">
      <div class="mgz__row">
        <article class="mgz">
          <div class="mgz__header">
            <figure class="mgz__figure">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="magazine-detail.html">
                  <img
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-210107144936-637456277765173224.jpg"
                    alt="" class="embed-responsive-img" loading="lazy" />
                </a>
              </div>
            </figure>
          </div>

          <div class="mgz__body mt-3">
            <div class="infomgz">
              <header class="infomgz__header">
                <h4 class="infomgz__title h5">
                  <a href="magazine-detail.html" alt="">Cùng Ví MoMo chung tay vì NCHCCCL – đừng để hy vọng chỉ còn
                    là tiếc nuối</a>
                </h4>
              </header>

              <div class="infomgz__body">
                <div class="infomgz__meta">
                  <span class="time">07/01/2021</span>

                  <span class="middotDivider"></span>

                  <span class="view">118 lượt xem</span>
                </div>

                <div class="infomgz__dek is-2line">
                  Ngày 4/1 vừa qua, với sự giúp sức từ cộng đồng hảo tâm Ví
                  MoMo, “Như chưa hề có cuộc chia ly” số 137 đã hoàn thành gắn
                  kết 2 cuộc chia ly đầy nước mắt, đưa những thân nhân thất lạc
                  50 năm về với nhau.
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="mgz">
          <div class="mgz__header">
            <figure class="mgz__figure">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="magazine-detail.html">
                  <img
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201231171421-637450316610868167.jpg"
                    alt="" class="embed-responsive-img" loading="lazy" />
                </a>
              </div>
            </figure>
          </div>

          <div class="mgz__body mt-3">
            <div class="infomgz">
              <header class="infomgz__header">
                <h4 class="infomgz__title h5">
                  <a href="magazine-detail.html" alt="">Đạt mốc 750 triệu đồng: “Như chưa hề có cuộc chia ly” có
                    kinh phí duy trì thêm 1,5 số</a>
                </h4>
              </header>

              <div class="infomgz__body">
                <div class="infomgz__meta">
                  <span class="time">07/01/2021</span>

                  <span class="middotDivider"></span>

                  <span class="view">118 lượt xem</span>
                </div>

                <div class="infomgz__dek is-2line">
                  Sau 27 ngày phát động, 750 triệu đồng đã được gây quỹ quyên
                  góp cho “Như chưa hề có cuộc chia ly”, đạt mức kinh phí duy
                  trì thêm 1,5 số phát sóng.
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="mgz">
          <div class="mgz__header">
            <figure class="mgz__figure">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="magazine-detail.html">
                  <img
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201218110807-637438864872699983.jpg"
                    alt="" class="embed-responsive-img" loading="lazy" />
                </a>
              </div>
            </figure>
          </div>

          <div class="mgz__body mt-3">
            <div class="infomgz">
              <header class="infomgz__header">
                <h4 class="infomgz__title h5">
                  <a href="magazine-detail.html" alt="">Có những thứ giản đơn, nhưng phải mất một đời người để chờ
                    đợi
                  </a>
                </h4>
              </header>

              <div class="infomgz__body">
                <div class="infomgz__meta">
                  <span class="time">07/01/2021</span>

                  <span class="middotDivider"></span>

                  <span class="view">118 lượt xem</span>
                </div>

                <div class="infomgz__dek is-2line">
                  Đối với nhiều người, có được những tấm hình chụp chung cùng
                  người thân, những bữa ăn quây quần, được hát karaoke cùng nhau
                  là những điều rất giản đơn, thường ngày. Nhưng đối với 3 chị
                  em Phượng – Thắng – Dũng là một hành trình đằng đẵng với 48
                  năm không ngừng chờ đợi.
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="mt-2 text-center">
      <a href="" class="btn btn-outline-dark font-weight-bold">Xem thêm</a>
    </div>
  </div>
</section>

<section class="bg-pink-light sc-share" id="weconnect">
  <div class="container px-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5">
        <div class="swiper-container swiper-about">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="embed-responsive embed-responsive-4by3 rounded">
                <img src="https://static.mservice.io/images/s/momo-upload-api-210202100818-637478572988921276.jpg"
                  class="embed-responsive-img" loading="lazy" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="embed-responsive embed-responsive-4by3 rounded">
                <img src="https://static.mservice.io/images/s/momo-upload-api-210202100824-637478573049140326.jpg"
                  class="embed-responsive-img" loading="lazy" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="embed-responsive embed-responsive-4by3 rounded">
                <img src="https://static.mservice.io/images/s/momo-upload-api-210202100830-637478573104705772.jpg"
                  class="embed-responsive-img" loading="lazy" alt="" />
              </div>
            </div>

            <div class="swiper-slide">
              <div class="embed-responsive embed-responsive-4by3 rounded">
                <img src="https://static.mservice.io/images/s/momo-upload-api-210202100835-637478573159873380.jpg"
                  class="embed-responsive-img" loading="lazy" alt="" />
              </div>
            </div>

            <div class="swiper-slide">
              <div class="embed-responsive embed-responsive-4by3 rounded">
                <img src="https://static.mservice.io/images/s/momo-upload-api-210202100842-637478573224411815.jpg"
                  class="embed-responsive-img" loading="lazy" alt="" />
              </div>
            </div>

            <div class="swiper-slide">
              <div class="embed-responsive embed-responsive-4by3 rounded">
                <img src="	https://static.mservice.io/images/s/momo-upload-api-210202100847-637478573277175083.jpg"
                  class="embed-responsive-img" loading="lazy" alt="" />
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pl-lg-4">
          <h3 class="py-2 mt-3 mt-md-0 text-pink-momo">
            Về We Connect - Nối Thân Thương
          </h3>
          <p class="">
            <strong>Công ty xã hội Nối Thân Thương - We Connect</strong> là đơn
            vị chủ quản hoạt động thiện nguyện Như Chưa Hề Có Cuộc Chia Ly và
            Đội tìm kiếm Nối Thân Thương.
          </p>
          <p class="">
            Chúng tôi cam kết sử dụng đúng mục đích 100% nguồn hỗ trợ từ cộng
            đồng. Chúng tôi sẽ báo cáo công khai minh bạch hàng tháng các khoản
            chi tiêu trên các nền tảng số của Như Chưa Hề Có Cuộc Chia Ly.
          </p>
          <div class="mt-3">
            <ul class="list-unstyled d-flex mb-0">
              <li class="mx-2">
                <a href="https://www.facebook.com/nchcccl" class="hover-fade-out" tabindex="_blank">
                  <img src="https://static.mservice.io/styles/desktop/images/social/facebook.svg" alt="" width="40" />
                </a>
              </li>

              <li class="mx-2">
                <a href="https://www.youtube.com/channel/UCHP4rpebqW2zbVByd3wzoVA" class="hover-fade-out"
                  tabindex="_blank">
                  <img src="https://static.mservice.io/styles/desktop/images/social/youtube.svg" alt="" width="40" />
                </a>
              </li>

              <li class="mx-2">
                <a href="https://haylentieng.vn/" tabindex="_blank" class="hover-fade-out">
                  <img src="img/donation/heart/url.svg" alt="" width="40" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

<!-- Scripts -->
{% block javascript %}

<script>
  var swiperLive = new Swiper(".swiper-donation-bg-live", {
    spaceBetween: 0,
    effect: "fade",
    fadeEffect: {
      crossFade: true,
    },
    autoplay: {
      delay: 5000,
    },
    disableOnInteraction: false,
    slidesPerView: 1,
    spaceBetween: 0,
    speed: 3000,
    loop: true,
    on: {
      init: function () {
        $(".swiper-donation-bg-live")
          .find(".swiper-slide")
          .removeClass("swiper-slide-first");
      },
    },
  });

  var swiperVideo = new Swiper(".swiper-video", {
    slidesPerView: 1,
    spaceBetween: 20,

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });


  var swiperAbout = new Swiper(".swiper-about", {
    slidesPerView: 1,
    pagination: {
      el: ".swiper-pagination",
    },
  });

  $(document).ready(function () {
    // $("body").scrollspy({ target: ".menu-scrollspy-donation", offset: 250 });

    $(".baiviet-loadmore").readmore({
      speed: 75,
      moreLink:
        '<a href="#">Xem thêm <img src="https://momo.vn/momo2020/img/icons/interface/icon-chevron-down.svg" > </a>',
      lessLink:
        '<a href="#">Thu gọn  <img src="https://momo.vn/momo2020/img/icons/interface/icon-chevron-up.svg" ></a>',
    });

    var headerHideAuto = function () {
      var mainHeader = $(".navbar-donation");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;

        if (currentTop > 100) {
          mainHeader.addClass("is-scroll");
        } else {
          mainHeader.removeClass("is-scroll");
        }
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };
    headerHideAuto();

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    $("#navigation-menu").on("show.bs.collapse", function () {
      document.body.classList.add("navbar-lp-open");
    });

    $("#navigation-menu").on("hide.bs.collapse", function () {
      document.body.classList.remove("navbar-lp-open");
    });
  });
</script>

{% endblock %}
