{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block content %}
<!-- <canvas class="snow"></canvas> -->

{% include "components/kv.html" %} {% include "components/tienich.html" %}

<section class="bg-white otas-container">
  <div
    style="
      background-image: url('https://static.mservice.io/img/momo-upload-api-211130165624-637738881841152599.jpg');
    "
    class="otas-bg"
  ></div>
  <div class="container">
    <h2
      class="text-white text-center"
      style="text-shadow: 0 1px 1px rgb(15 41 77 / 20%)"
    >
      Đặt mua vé máy bay trên Ví MoMo
    </h2>

    <div class="otas">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs otas-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-211118130931.svg"
              alt=""
              class="ico"
            />
            <span class="pl-2">Tìm vé</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-211118130922.svg"
              alt=""
              class="ico"
            />
            <span class="pl-2">Ưu đãi vé rẻ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-211118130903.svg"
              alt=""
              class="ico"
            />

            <span class="pl-2">Điểm đến</span>
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content otas-tab-content">
        <div id="home" class="tab-pane active">
          <div class="otas-padding">
            <div class="d-flex flex-wrap">
              <div class="custom-control custom-radio mr-4">
                <input
                  type="radio"
                  id="flight-motchieu"
                  name="radio-flight123"
                  class="custom-control-input"
                  checked
                />
                <label class="custom-control-label" for="flight-motchieu"
                  >Một chiều</label
                >
              </div>

              <div class="custom-control custom-radio mr-4">
                <input
                  type="radio"
                  id="inputKhuHoiMobile"
                  name="radio-flight123"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="inputKhuHoiMobile"
                  >Khứ hồi</label
                >
              </div>
            </div>

            <div class="otas-form">
              <div class="otas-form-col col1">
                <div class="position-relative min-w-0 otas-form-overlay">
                  <div
                    class="otas-form-item"
                    id="dropdownNoidi"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-reference="parent"
                  >
                    <div class="otas-form-label">
                      <svg
                        class="svg-icon"
                        fill="currentColor"
                        focusable="false"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        data-testid="FlightTakeoffIcon"
                      >
                        <path
                          d="M2.5 19h19v2h-19v-2zm19.57-9.36c-.21-.8-1.04-1.28-1.84-1.06L14.92 10l-6.9-6.43-1.93.51 4.14 7.17-4.97 1.33-1.97-1.54-1.45.39 2.59 4.49s7.12-1.9 16.57-4.43c.81-.23 1.28-1.05 1.07-1.85z"
                        ></path>
                      </svg>
                      <span>Nơi đi</span>
                    </div>

                    <div class="otas-form-control">
                      <input
                        type="text"
                        class="otas-form-input"
                        value="Hồ Chí Minh (SGN)"
                        id=""
                        placeholder="Tên thành phố"
                        readonly
                      />
                    </div>

                    <div
                      class="otas-form-popper dropdown-menu"
                      aria-labelledby="dropdownNoidi"
                    >
                      <div class="otas-form-item">
                        <div class="otas-form-label">
                          <svg
                            class="svg-icon"
                            fill="currentColor"
                            focusable="false"
                            viewBox="0 0 24 24"
                            aria-hidden="true"
                            data-testid="FlightTakeoffIcon"
                          >
                            <path
                              d="M2.5 19h19v2h-19v-2zm19.57-9.36c-.21-.8-1.04-1.28-1.84-1.06L14.92 10l-6.9-6.43-1.93.51 4.14 7.17-4.97 1.33-1.97-1.54-1.45.39 2.59 4.49s7.12-1.9 16.57-4.43c.81-.23 1.28-1.05 1.07-1.85z"
                            ></path>
                          </svg>
                          <span>Nơi đi</span>
                        </div>

                        <div class="otas-form-control">
                          <input
                            type="text"
                            class="otas-form-input"
                            value=""
                            id=""
                            placeholder="Tên thành phố"
                          />
                        </div>
                      </div>
                      <div class="ota-box-list">
                        {% for item in range(0,10) %}
                        <div class="ota-box-item">
                          <div class="tt">Hồ Chí Minh, Việt Nam</div>
                          <div class="tb">SGN - Sân bay Tân Sơn Nhất</div>
                        </div>

                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="otas-form-swap">
                  <button type="button">
                    <svg
                      class="svg-icon"
                      fill="currentColor"
                      focusable="false"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      data-testid="FlightTakeoffIcon"
                    >
                      <path
                        d="M6.99 11 3 15l3.99 4v-3H14v-2H6.99v-3zM21 9l-3.99-4v3H10v2h7.01v3L21 9z"
                      ></path>
                    </svg>
                  </button>
                </div>

                <div class="position-relative min-w-0 otas-form-overlay">
                  <div class="otas-warning-pop">
                    Điểm đi và điểm đến phải khác nhau
                  </div>
                  <div
                    class="otas-form-item"
                    id="dropdownNoiden"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-reference="parent"
                  >
                    <div class="otas-form-label">
                      <svg
                        class="svg-icon"
                        fill="currentColor"
                        focusable="false"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        data-testid="FlightTakeoffIcon"
                      >
                        <path
                          d="M2.5 19h19v2h-19v-2zm16.84-3.15c.8.21 1.62-.26 1.84-1.06.21-.8-.26-1.62-1.06-1.84l-5.31-1.42-2.76-9.02L10.12 2v8.28L5.15 8.95l-.93-2.32-1.45-.39v5.17l16.57 4.44z"
                        ></path>
                      </svg>
                      <span>Nơi đến</span>
                    </div>

                    <div class="otas-form-control">
                      <input
                        type="text"
                        class="otas-form-input"
                        value="Hà Nội (HAN)"
                        id=""
                        placeholder="Tên thành phố"
                        readonly
                      />
                    </div>

                    <div
                      class="otas-form-popper dropdown-menu"
                      aria-labelledby="dropdownNoiden"
                    >
                      <div class="otas-form-item">
                        <div class="otas-form-label">
                          <svg
                            class="svg-icon"
                            fill="currentColor"
                            focusable="false"
                            viewBox="0 0 24 24"
                            aria-hidden="true"
                            data-testid="FlightTakeoffIcon"
                          >
                            <path
                              d="M2.5 19h19v2h-19v-2zm16.84-3.15c.8.21 1.62-.26 1.84-1.06.21-.8-.26-1.62-1.06-1.84l-5.31-1.42-2.76-9.02L10.12 2v8.28L5.15 8.95l-.93-2.32-1.45-.39v5.17l16.57 4.44z"
                            ></path>
                          </svg>
                          <span>Nơi đến</span>
                        </div>

                        <div class="otas-form-control">
                          <input
                            type="text"
                            class="otas-form-input"
                            value="Hà Nội (HAN)"
                            id=""
                            placeholder="Tên thành phố"
                          />
                        </div>
                      </div>
                      <div class="ota-box-list">
                        {% for item in range(0,10) %}
                        <div class="ota-box-item">
                          <div class="tt">Hồ Chí Minh, Việt Nam</div>
                          <div class="tb">SGN - Sân bay Tân Sơn Nhất</div>
                        </div>

                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="otas-form-col col2">
                <div class="otas-form-col col3">
                  <div class="otas-form-col col5">
                    <div class="otas-form-line d-none d-lg-block"></div>
                    <div class="otas-form-item otas-form-overlay">
                      <div class="otas-form-label">
                        <svg
                          class="svg-icon"
                          fill="currentColor"
                          focusable="false"
                          viewBox="0 0 24 24"
                          aria-hidden="true"
                          data-testid="FlightTakeoffIcon"
                        >
                          <path
                            d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"
                          ></path>
                        </svg>
                        <span>Ngày đi</span>
                      </div>

                      <div class="otas-form-control">
                        <input
                          type="text"
                          class="otas-form-input"
                          value=""
                          id="inputNgaydi"
                          placeholder="Ngày đi"
                          date-input="begin"
                          readonly
                        />
                      </div>
                    </div>
                    <div
                      class="otas-form-line min-w-0"
                      style="margin-right: -1px"
                    ></div>

                    <div
                      class="otas-form-item otas-form-overlay d-none"
                      id="block_khuhoi"
                    >
                      <div class="otas-form-label">
                        <span>Ngày về</span>
                      </div>

                      <div class="otas-form-control">
                        <input
                          type="text"
                          date-input="end"
                          class="otas-form-input"
                          id="inputNgayve"
                          placeholder="Khứ hồi"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="otas-form-line d-none d-sm-block"></div>
                  </div>
                  <div class="otas-form-col col6">
                    <div class="position-relative otas-form-overlay">
                      <div
                        class="otas-form-item"
                        id="dropdownNoiden"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-reference="parent"
                      >
                        <div class="otas-form-label">
                          <svg
                            class="svg-icon"
                            fill="currentColor"
                            focusable="false"
                            viewBox="0 0 24 24"
                            aria-hidden="true"
                            data-testid="FlightTakeoffIcon"
                          >
                            <path
                              d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"
                            ></path>
                          </svg>
                          <span>Hành khách</span>
                        </div>

                        <div class="otas-form-control">
                          <input
                            type="text"
                            class="otas-form-input"
                            value="1 Người lớn"
                            id=""
                            placeholder=""
                            readonly
                          />
                        </div>

                        <div
                          class="otas-form-popper dropdown-menu"
                          aria-labelledby="dropdownNoiden"
                        >
                          <div class="otas-form-item">
                            <div class="otas-form-label">
                              <svg
                                class="svg-icon"
                                fill="currentColor"
                                focusable="false"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                                data-testid="FlightTakeoffIcon"
                              >
                                <path
                                  d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"
                                ></path>
                              </svg>
                              <span>Hành khách</span>
                            </div>

                            <div class="otas-form-control">
                              <input
                                type="text"
                                class="otas-form-input"
                                value="1 Người lớn"
                                id=""
                                placeholder=""
                              />
                            </div>
                          </div>
                          <div class="otas-people">
                            <div class="fs-13 text-gray-700">
                              Vui lòng chọn số lượng hành khách chính xác để xem
                              được mức giá tốt nhất.
                            </div>

                            <div class="otas-people-item">
                              <div class="tt">Người lớn</div>
                              <div class="func">
                                <button type="button" class="func-btn">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                  </svg>
                                </button>
                                <div class="func-name">2</div>
                                <button type="button" disabled class="func-btn">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                  </svg>
                                </button>
                              </div>
                            </div>

                            <div class="otas-people-item">
                              <div class="tt">
                                Trẻ em <span class="ml-2">2-11 tuổi</span>
                              </div>
                              <div class="func">
                                <button type="button" disabled class="func-btn">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                  </svg>
                                </button>
                                <div class="func-name">0</div>
                                <button type="button" class="func-btn">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                  </svg>
                                </button>
                              </div>
                            </div>

                            <div class="otas-people-item">
                              <div class="tt">
                                Trẻ sơ sinh
                                <span class="ml-2"> &lt; 2 tuổi</span>
                              </div>
                              <div class="func">
                                <button type="button" disabled class="func-btn">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                  </svg>
                                </button>
                                <div class="func-name">0</div>
                                <button type="button" class="func-btn">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="svg-icon"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                  </svg>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="otas-form-col col4">
                  <div class="cta d-flex align-items-center w-100 pr-md-2">
                    <a href="" class="btn btn-primary-2 otas-form-cta">
                      <svg
                        class="svg-icon"
                        focusable="false"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        data-testid="SearchIcon"
                        fill="currentColor"
                      >
                        <path
                          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                        ></path>
                      </svg>

                      Tìm kiếm</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="otas-note row px-0 px-md-5">
              <div class="otas-note-item col-12 col-md-4">
                <img
                  alt="Ngập tràn ưu đãi"
                  src="https://static.mservice.io/fileuploads/svg/momo-file-201124101438.svg"
                  height="34"
                  width="auto"
                  loading="lazy"
                  class=""
                />

                <div class="content">
                  <h4 class="fs-14 mb-0 text-gray-800">Ngập tràn ưu đãi</h4>
                  <p class="text-gray-600 fs-13 mt-1 mb-0">
                    Đặt vé, đặt phòng trên Ví MoMo với giá cạnh tranh nhất.
                  </p>
                </div>
              </div>

              <div class="otas-note-item col-12 col-md-4">
                <img
                  alt="Thanh toán siêu bảo mật"
                  src="https://static.mservice.io/fileuploads/svg/momo-file-201124101415.svg"
                  height="34"
                  width="auto"
                  loading="lazy"
                  class=""
                />

                <div class="content">
                  <h4 class="fs-14 mb-0 text-gray-800">
                    Thanh toán siêu bảo mật
                  </h4>
                  <p class="text-gray-600 fs-13 mt-1 mb-0">
                    Ví MoMo đáp ứng các tiêu chuẩn thanh toán với chứng chỉ bảo
                    mật quốc tế PCI DSS.
                  </p>
                </div>
              </div>

              <div class="otas-note-item col-12 col-md-4">
                <img
                  alt="Hỗ trợ khách hàng 24/7"
                  src="https://static.mservice.io/fileuploads/svg/momo-file-201124101240.svg"
                  height="34"
                  width="auto"
                  loading="lazy"
                  class=""
                />

                <div class="content">
                  <h4 class="fs-14 mb-0 text-gray-800">
                    Hỗ trợ khách hàng 24/7
                  </h4>
                  <p class="text-gray-600 fs-13 mt-1 mb-0">
                    Đội ngũ nhân viên hỗ trợ khách hàng luôn sẵn sàng giúp đỡ
                    bạn.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="menu1" class="tab-pane fade">
          <div class="otas-padding">
            <div class="otas-cheap">
              <p class="mb-1">
                Giá vé máy bay rẻ nhất, tự động cập nhật từ ứng dụng MoMo.
              </p>

              <div class="otas-cheap-list">
                <div class="otas-cheap-item">
                  <a href="" class="link-absolute"></a>
                  <div class="thumb embed-responsive embed-responsive-16by9">
                    <img
                      src="https://cdn1.ivivu.com/iVivu/2021/11/15/16/chon-nha-trang-16-370x395.jpg"
                      class="embed-responsive-img object-cover"
                      alt=""
                    />

                    <div class="thumb-text">
                      <div class="lab">Vé máy bay</div>
                      <div class="head">Hồ Chí Minh → Hà Nội</div>
                    </div>
                  </div>
                  <div class="space">
                    <div class="date">
                      Ngày đi : <strong>04-12-2021</strong>
                    </div>
                    <div class="price">
                      <span class="text-gray-600 font-weight-normal fs-13"
                        >Giá từ</span
                      >
                      1.1570.000 đ
                    </div>
                    <div class="cta">
                      <a href="" class="btn btn-sm btn-outline-primary-2">Xem ngay</a>
                    </div>
                  </div>
                </div>

                <div class="otas-cheap-item">
                  <a href="" class="link-absolute"></a>
                  <div class="thumb embed-responsive embed-responsive-16by9">
                    <img
                      src="https://cdn1.ivivu.com/iVivu/2021/11/15/16/con-dao-370x395.png"
                      class="embed-responsive-img object-cover"
                      alt=""
                    />

                    <div class="thumb-text">
                      <div class="lab">Vé máy bay</div>
                      <div class="head">Hồ Chí Minh → Đà Nẵng</div>
                    </div>
                  </div>
                  <div class="space">
                    <div class="date">
                      Ngày đi : <strong>01-12-2021</strong>
                    </div>
                    <div class="price">644.730 đ</div>
                    <div class="cta">
                      <a href="" class="btn btn-sm btn-outline-primary-2">Xem ngay</a>
                    </div>
                  </div>
                </div>

                <div class="otas-cheap-item">
                  <a href="" class="link-absolute"></a>
                  <div class="thumb embed-responsive embed-responsive-16by9">
                    <img
                      src="https://cdn1.ivivu.com/iVivu/2021/11/15/16/chon-da-nang-2-755x190.jpg"
                      class="embed-responsive-img object-cover"
                      alt=""
                    />

                    <div class="thumb-text">
                      <div class="lab">Vé máy bay</div>
                      <div class="head">Hồ Chí Minh → Phú Quốc</div>
                    </div>
                  </div>
                  <div class="space">
                    <div class="date">
                      Ngày đi : <strong>29-11-2021</strong>
                    </div>
                    <div class="price">762.430 đ</div>
                  </div>
                </div>

                <div class="otas-cheap-item">
                  <a href="" class="link-absolute"></a>
                  <div class="thumb embed-responsive embed-responsive-16by9">
                    <img
                      src="https://cdn1.ivivu.com/iVivu/2021/11/15/16/chon-da-lat-11-370x190.jpg"
                      class="embed-responsive-img object-cover"
                      alt=""
                    />

                    <div class="thumb-text">
                      <div class="lab">Vé máy bay</div>
                      <div class="head">Hồ Chí Minh → Đà Lạt</div>
                    </div>
                  </div>
                  <div class="space">
                    <div class="date">
                      Ngày đi : <strong>01-12-2021</strong>
                    </div>
                    <div class="price">452.130 đ</div>
                  </div>
                </div>

                <!-- <div class="otas-cheap-item">
                  <div class="head">Hồ Chí Minh → Đà Lạt</div>
                  <div class="date">Ngày đi : <strong>01-12-2021</strong></div>
                  <div class="price">452.130 đ</div>
                  <div class="cta">
                    <a href="" class="btn btn-sm btn-primary-2">Xem</a>
                  </div>
                </div> -->
              </div>
              <p class="mb-0 mt-2 text-gray-600 fs-13 font-italic">
                * Giá vé có thể thay đổi theo thời điểm đặt mua. Vui lòng kiểm
                tra tại chức năng Tìm kiếm vé hoặc App MoMo.
              </p>
            </div>
          </div>
        </div>
        {% set desti = [ { "name" : "Hồ Chí Minh", "img" :
        "https://content.r9cdn.net/rimg/dimg/30/a6/9ebc193e-city-34713-1660ff764a9.jpg?width=300&height=150&xhint=1711&yhint=1283&crop=true"
        }, { "name" : "Hà Nội", "img" :
        "https://content.r9cdn.net/rimg/dimg/ad/31/77bb1c87-ctry-94-168944d8c8b.jpg?width=300&height=150&xhint=1361&yhint=1056&crop=true"
        }, { "name" : "Đà Nẵng", "img" :
        "https://content.r9cdn.net/rimg/dimg/08/48/2dcba17f-ctry-252-169b922ea60.jpg?width=300&height=150&xhint=1155&yhint=1432&crop=true"
        }, { "name" : "Quảng Bình", "img" :
        "https://content.r9cdn.net/rimg/dimg/ca/7e/9ae1c4b2-city-21033-16374d0645f.jpg?width=300&height=150&xhint=1356&yhint=1250&crop=true"
        }, { "name" : "Nha Trang", "img" :
        "https://content.r9cdn.net/rimg/dimg/40/e4/2aca6b8d-ctry-43-169b92d1978.jpg?width=300&height=150&xhint=1739&yhint=1094&crop=true"
        }, { "name" : "Phú Quốc", "img" :
        "https://content.r9cdn.net/rimg/dimg/f2/49/9fa59810-ctry-194-16c3ec1aba8.jpg?width=300&height=150&xhint=2551&yhint=1928&crop=true"
        }, { "name" : "Đà Lạt", "img" :
        "https://content.r9cdn.net/rimg/dimg/9d/a6/4f3f3172-ctry-184-17acbc72c54.jpg?width=300&height=150&xhint=2140&yhint=1972&crop=true"
        }, { "name" : "Huế", "img" :
        "https://content.r9cdn.net/rimg/dimg/64/61/c51527a2-ctry-196-16874e78cd2.jpg?width=300&height=150&xhint=3057&yhint=2151&crop=true"
        } ] %}
        <div id="menu2" class="tab-pane fade">
          <div class="otas-padding">
            <p class="mb-1 font-weight-bold">Điểm đến phổ biến</p>

            <div class="otas-desti">
              {% for item in desti %}
              <div
                class="otas-desti-item embed-responsive embed-responsive-21by9"
              >
                <a href="" class="link-absolute"></a>

                <img
                  class="embed-responsive-img object-cover"
                  src="{{item.img}}"
                />

                <div class="content">
                  <div class="city">{{item.name}}</div>
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-pinklight bg-cover pb-0">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">
        Ví Điện Tử MoMo - Siêu ứng dụng thanh toán số 1 Việt Nam
      </h2>
    </div>

    <div class="row align-items-md-center justify-content-center sm-gutters">
      <div class="col-6 col-md-4 order-1 order-md-1 reason__item__left">
        {% for i in [0, 1,2] %}

        <div
          class="reason__item"
          data-aos="fade-up"
          data-aos-delay="{{loop.index* 200}}"
        >
          <div class="reason__item__avatar">
            <img src="{{ tienich[i].icon }}" height="38" alt="" />
            <div
              class="reason__item__bg"
              style="background-image: url('img/momo/circle-bg-2.svg')"
            ></div>
          </div>

          <div class="reason__item__content">
            <div>{{tienich[i].name | safe}}</div>
          </div>
        </div>

        {% endfor %}
      </div>

      <div
        class="col-12 col-md-4 order-3 order-md-2 col-xl-auto align-self-center"
      >
        <div class="position-relative mt-md-5 mt-lg-0 reason__item__phone">
          <img
            data-src="img/momo/lacxi.jpg"
            width="300"
            class="img-fluid d-block mx-auto lazyload"
            alt=""
          />
          <div class="reason__cta">
            <a href="" class="hocvien-btn">
              <!-- <img src="https://static.mservice.io/images/s/momo-upload-api-200910102340-637353302200578377.png" width="142" class="img-fluid d-block mx-auto" alt=""> -->
              <img
                src="img/hocvien/choigamengay-btn.svg"
                width="142"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </a>
            <style>
              .hocvien-btn {
                display: inline-block;
                transition: all 0.2s ease-in;
                opacity: 0.9;
              }
              .hocvien-btn:hover {
                opacity: 1;
                transform: translate3d(0, -3px, 0);
              }
              @media (max-width: 767.98px) {
                .hocvien-btn {
                  width: 130px;
                }
              }
            </style>
            <!-- <a href="" class="btn btn-primary-2 ">
              Chơi ngay
            </a> -->
          </div>
        </div>
      </div>

      <!-- Nay la gi -->

      <div class="col-6 col-md-4 order-2 order-md-2 reason__item__right">
        {% for i in [3, 4,5] %}
        <div
          class="reason__item"
          data-aos="fade-up"
          data-aos-delay="{{loop.index* 200}}"
        >
          <div class="reason__item__avatar">
            <img src="{{ tienich[i].icon }}" height="38" alt="" />
            <div
              class="reason__item__bg"
              style="background-image: url('img/momo/circle-bg-2.svg')"
            ></div>
          </div>

          <div class="reason__item__content">
            <div>{{tienich[i].name | safe}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% include "components/movie-section.html" %}

<section class="bg-light bg-cover">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">
        Ưu đãi nóng, tham gia ngay!
      </h2>
    </div>

    <div class="row justify-content-center">
      {% for i in [0,1,2,3,4,5] %}

      <div
        class="
          col-md-6 col-lg-4
          card__space
          uudai__item
          {%
          if(i
          >2)
          %}
          d-none d-md-block
          {%
          endif
          %}
        "
      >
        <article class="card card__box h-100">
          <div class="card__inner">
            <header class="card__header">
              <figure class="card__figure">
                <a
                  href="{{News2[i].link}}"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                >
                  <div class="embed-responsive embed-responsive-new">
                    <img
                      src="{{News2[i].image}}"
                      alt=""
                      class="lazyload embed-responsive-img card__image"
                    />
                  </div>
                </a>
              </figure>
            </header>

            <div class="card__body pb-0">
              <h5 class="card__title">
                <a
                  href="{{News2[i].link}}"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                  class="card__title__link font-weight-bold"
                >
                  {{News2[i].name}}
                </a>
              </h5>

              <p class="card__copy">{{News2[i].desc | safe}}</p>
            </div>

            <div class="card__footer font-14">
              <div class="row no-gutters">
                <div class="col">
                  <div class="">
                    ⌛️ Đến ngày: <strong class="text-primary-2">22/07</strong>
                  </div>
                </div>
                <div class="col-auto">
                  <a href="">Xem chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      {% endfor %}
    </div>

    <div class="text-center mt-0 mt-lg-3 d-md-none">
      <a
        href=""
        class="
          btn btn-outline-primary
          font-weight-bold
          rounded-pill
          px-4
          uudai__loadmore
        "
        >Xem thêm</a
      >
    </div>
  </div>
</section>

<section
  class="bg-primary-2 bg-cover"
  style="
    background-image: url(img/momo/bg-taiapp-big.jpg);
    background-repeat: no-repeat;
    background-position: center top;
  "
>
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-white">
        3 bước trở thành khách hàng đăng ký Ví MoMo
      </h2>
    </div>
  </div>

  <div class="container d-none d-lg-block">
    <div class="manual-wrapepr manual-dark">
      {% include 'components/huongdan-desktop.html' %}
    </div>

    <div class="mt-4 text-center">
      <div class="newUser-noti">
        <div class="newUser-noti__content">
          <div>
            Trở thành khách hàng mới nhận ngay
            <strong class="text-yellow">GÓI QUÀ 500k</strong>
          </div>
          <div class="ml-3">
            <a
              href=""
              class="
                btn btn-pulse btn-warning btn-sm
                rounded-pill
                font-weight-bold
              "
              >Xem ngay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-block d-lg-none">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="htw">
          <div
            class="htw__item bg-white"
            data-toggle="modal"
            data-target="#htu-modal"
          >
            <div class="htw__content">
              <strong>Bước 1:</strong> Tải và đăng ký
            </div>
            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div
            class="htw__item bg-white"
            data-toggle="collapse"
            href="#dsNganhang"
            role="button"
            aria-expanded="false"
            aria-controls="dsNganhang"
          >
            <div class="htw__content">
              <strong>Bước 2:</strong> Liên kết ngân hàng
            </div>

            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div class="collapse" id="dsNganhang">
            <div class="htu-bank">
              <div class="htu-bank-col">
                <div
                  class="htu-bank-item"
                  data-toggle="modal"
                  data-target="#htu-modal"
                >
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                  />
                  <div class="htu-bank-name">VCB</div>
                </div>
              </div>

              <div class="htu-bank-col">
                <div
                  class="htu-bank-item"
                  data-toggle="modal"
                  data-target="#htu-modal"
                >
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                  />
                  <div class="htu-bank-name">Agribank</div>
                </div>
              </div>

              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                  />
                  <div class="htu-bank-name">Vietinbank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                  />
                  <div class="htu-bank-name">BIDV</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                  />
                  <div class="htu-bank-name">ACB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                  />
                  <div class="htu-bank-name">Shinhan</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                  />
                  <div class="htu-bank-name">Sacombank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                  />
                  <div class="htu-bank-name">SCB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                  />
                  <div class="htu-bank-name">VPBank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                  />
                  <div class="htu-bank-name">VIB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                  />
                  <div class="htu-bank-name">Eximbank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                  />
                  <div class="htu-bank-name">TPBank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                  />
                  <div class="htu-bank-name">Bảo Việt</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                  />
                  <div class="htu-bank-name">VRB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                  />
                  <div class="htu-bank-name">OCB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                  />
                  <div class="htu-bank-name">ABBank</div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="htw__item bg-white"
            data-toggle="modal"
            data-target="#htu-modal"
          >
            <div class="htw__content">
              <strong>Bước 3:</strong> Nạp tiền vào ví
            </div>
            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card card__box shadow-none bg-black-4">
          <div class="card__body px-3 py-4">
            <div class="px-3 mb-2 mt-0">
              <img
                src="img/momo/quatang.png"
                width="320"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </div>

            <h2 class="text-center text-white font-weight-normal mt-3">
              Trở thành khách hàng mới nhận ngay
              <strong class="text-yellow">Gói quà 500K</strong>
            </h2>

            <div class="text-center mt-3">
              <a
                href=""
                class="btn btn-pulse btn-warning rounded-pill font-weight-bold"
                >Xem ngay</a
              >
              <!-- <a href="" class="btn btn-primary-2 rounded-pill font-weight-bold">TẢI NGAY</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">
        Thanh toán an toàn - Bảo mật tuyệt đối
      </h2>
    </div>

    <div class="wrap__scroll mb-4 wrap__scroll__tintuc">
      <ul
        class="nav nav-tabs tabs-soju wrap__scroll__target"
        id="baomat"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-1"
            data-toggle="tab"
            href="#baochungnganhang"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Bảo chứng ngân hàng</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-2"
            data-toggle="tab"
            href="#baomatdatang"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Bảo mật đa tầng</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-3"
            data-toggle="tab"
            href="#datchuanquocte"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Đạt chuẩn quốc tế</a
          >
        </li>
      </ul>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>

    <div class="tab-content" id="baomatContent">
      <div
        class="tab-pane fade show active"
        id="baochungnganhang"
        role="tabpanel"
        aria-labelledby="home-1"
      >
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 overflow-hidden">
            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Tiền của bạn trong Ví MoMo là TIỀN THẬT và được bảo chứng 100%
                  bởi các NGÂN HÀNG đang hợp tác với Ví MoMo.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Người dùng MoMo có thể Nạp/Rút tiền từ ngân hàng liên kết bất
                  kỳ lúc nào.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="300"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  MoMo đã liên kết trực tiếp với 25 ngân hàng lớn và các tổ chức
                  thẻ quốc tế Visa/Master/JCB.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-5">
            <img
              src="img/momo/baothuc-nganhang.png"
              class="img-fluid d-block mx-auto px-3 px-md-0"
              alt=""
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="baomatdatang"
        role="tabpanel"
        aria-labelledby="home-2"
      >
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 overflow-hidden">
            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Để đăng nhập, cần nhập mật khẩu 6 số và mã OTP được gửi đến
                  điện thoại. Mỗi lần thanh toán đều cần nhập lại mật khẩu.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-5">
            <img
              src="https://static.mservice.io/jk/styles/desktop/images/feature/02.png"
              class="img-fluid d-block mx-auto px-3 px-md-0"
              alt=""
            />
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="datchuanquocte"
        role="tabpanel"
        aria-labelledby="home-3"
      >
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 overflow-hidden">
            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Công nghệ bảo mật của Ví MoMo đáp ứng các tiêu chuẩn quốc tế
                  khắt khe nhất trong ngành tài chính ngân hàng, đạt chứng nhận
                  bảo mật toàn cầu PCI DSS cấp độ cao nhất.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế
                  GlobalSign.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-5">
            <img
              src="https://static.mservice.io/jk/styles/desktop/images/feature/03.png"
              class="img-fluid d-block mx-auto px-3 px-md-0"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">Có gì mới</h2>
    </div>

    <div class="wrap__scroll is-bg-gray mb-4 wrap__scroll__tintuc">
      <ul
        class="nav nav-tabs tabs-soju wrap__scroll__target"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-1"
            data-toggle="tab"
            href="#tintucsukien"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Mới nhất</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-2"
            data-toggle="tab"
            href="#khuyenmai"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Khuyến mãi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-3"
            data-toggle="tab"
            href="#thongcaobaochi"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Thông cáo báo chí</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            id="home-4"
            data-toggle="tab"
            href="#hinhanh"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Hình ảnh - Video</a
          >
        </li>
      </ul>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>

    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tintucsukien"
        role="tabpanel"
        aria-labelledby="home-1"
      >
        <div class="row sm-gutters">
          {% for i in [1, 2, 3, 4] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="khuyenmai"
        role="tabpanel"
        aria-labelledby="home-2"
      >
        <div class="row sm-gutters">
          {% for i in [18, 19, 20, 21] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="thongcaobaochi"
        role="tabpanel"
        aria-labelledby="home-3"
      >
        <div class="row sm-gutters">
          {% for i in [9, 12, 10, 11] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="hinhanh"
        role="tabpanel"
        aria-labelledby="home-4"
      >
        <div class="row sm-gutters">
          {% for i in [5, 6, 7, 8] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% include "layouts/modal.html" %} {% endblock %}

<!-- Scripts -->
{% block javascript %}

<script type="text/javascript" src="js/flatpickr.min.js" defer></script>
<script type="text/javascript" src="js/flatpickr.vn.min.js" defer></script>
<script>
  $(() => {
    $(".uudai__loadmore").on("click", function (e) {
      e.preventDefault();
      $(".uudai__item").removeClass("d-none");
      $(this).addClass("d-none");
    });

    // detectDeviceType(); // "Mobile" or "Desktop"

    var $selectNavTienichLeft = $(".tienich__tab__nav.left").find(
      ".tienich__tab__btn"
    );
    var $selectNavTienichRight = $(".tienich__tab__nav.right").find(
      ".tienich__tab__btn"
    );

    var swiperTienich = new Swiper(".swiper-tienich", {
      slidesPerView: 10,
      spaceBetween: 0,
      simulateTouch: false,
      draggable: true,
      // slidesPerGroup: 10,
      breakpoints: {
        1200: {
          slidesPerView: "auto",
          spaceBetween: 0,
        },
      },
      navigation: {
        nextEl: $selectNavTienichRight,
        prevEl: $selectNavTienichLeft,
      },
      on: {
        init: function () {
          // console.log('swiper initialized');
        },
        slideChangeTransitionEnd: function () {},
      },
    });

    var $tabTienich = $(".tienich__tab .swiper-slide");
    var $tabTienichPatch = $(".tienich__patch .tienich__patch__item");
    var $curr = 0;

    var $swiperTienichLength =
      $(".swiper-tienich").find(".swiper-slide").length - 1;

    function activeTabTienich(act) {
      slideActiveTabTienich(act, $curr);

      $tabTienichPatch.each(function (i) {
        if (i == act) {
          $(this).addClass("is-active");
          $(this).siblings().removeClass("is-active");
          // console.log($(this));
          // var activeScroll = ;
          wrapScrollClass($(this).find(".wrap__scroll"));
        }
      });

      $tabTienich.each(function (i) {
        if (i == act) {
          $(this).addClass("is-active");
          $(this).siblings().removeClass("is-active");
        }
      });

      $curr = act;
    }
    if ($swiperTienichLength > 0) {
      activeTabTienich(0);
    }

    function slideActiveTabTienich(index, currIndex) {
      // console.log(currIndex + "--" + index);
      if (currIndex < index) {
        if (detectDeviceType() == "Mobile") {
          swiperTienich.slideTo(index - 1);
        } else {
          swiperTienich.slideTo(index - 1);
        }
      } else {
        swiperTienich.slideTo(index - 1);
      }
      // swiperHotNav.slideTo(index);
    }

    $selectNavTienichLeft.on("click", function () {
      // swiperTienich.slidePrev();
      // if (($curr == 0)) {
      //   $curr = $swiperTienichLength + 1;
      // }
      // activeTabTienich($curr - 1);
    });

    $selectNavTienichRight.on("click", function () {
      // swiperTienich.slideNext();
      // if (($curr == $swiperTienichLength)) {
      //   $curr = -1;
      // }
      // activeTabTienich($curr + 1);
    });

    var scrollToTienich = debounce(function () {
      if (detectDeviceType() == "Mobile") {
        $("html, body").animate(
          {
            scrollTop: $("#tienich").offset().top,
          },
          300
        );
      }
    }, 300);

    $tabTienich.each(function (i) {
      var $this = $(this);
      var $i = i;
      $this.on("click", function () {
        activeTabTienich($i);
        scrollToTienich();
      });
    });

    // var swiper = new Swiper(".swiper-movies", {
    //   slidesPerView: 5,
    //   spaceBetween: 20,
    //   navigation: {
    //     nextEl: ".swiper-button-next",
    //     prevEl: ".swiper-button-prev",
    //   },
    //   breakpoints: {
    //     640: {
    //       slidesPerView: 2,
    //       spaceBetween: 20,
    //     },
    //     768: {
    //       slidesPerView: 4,
    //       spaceBetween: 40,
    //     },
    //     1024: {
    //       slidesPerView: 5,
    //       spaceBetween: 50,
    //     },
    //   },
    // });

    var SwiperRun = [];
    $(".movie__list__swiper").each(function (i, val) {
      var $this = $(this);
      var swiperElement = $(this).find(".swiper-movie-list");

      var naviNext = $(this).find(".swiper-button-next");

      var naviPrev = $(this).find(".swiper-button-prev");

      SwiperRun[i] = new Swiper(swiperElement, {
        slidesPerView: 5,
        spaceBetween: 20,
        slidesPerGroup: 5,
        threshold: "10px",
        navigation: {
          nextEl: naviNext,
          prevEl: naviPrev,
        },
        breakpoints: {
          768: {
            slidesPerGroup: 1,
            freeMode: true,
            slidesPerView: "auto",
            spaceBetween: 20,
          },
        },
      });
    });

    $('#section-phim a[data-toggle="tab"]').on(
      "shown.bs.tab",
      function (event) {
        SwiperRun.forEach(function (val, i) {
          SwiperRun[i].update();
        });
      }
    );
  });
</script>

<script type="text/javascript" src="js/services-ota.js"></script>

{% endblock %}
