{% extends 'layouts/layout.html' %}
{% block head %}

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
<link href="css/lacxi.css" rel="stylesheet" />

{% endblock %}

{% block header %}
<input type="hidden" class="form-control h-search__input search-quick-input" placeholder="Bạn tìm gì ..." aria-label=""
  aria-describedby="" name="q">
<div class="navbar-container header-position navbar-lp-container d-block d-md-none" data-sticky="top">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-lacxi navbar-lacxi-return">
    <div class="container">
      <a href="/lacxi.html" class="text-white py-1 m-0 font-weight-normal d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          class="injected-svg icon bg-white" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M12 5L5 12L12 19M19 12H6H19Z" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        Trang chủ
      </a>
    </div>
    <!-- End container -->
  </nav>
</div>
{% endblock %}

{% block content %}
<div class="lacxi-parallax">
  <div class="background"></div>
</div>
<div class="lacxi-loading">
  <img src="img/lacxi/flaregif.gif" class="img-fluid gif"/>
  <img src="img/lacxi/cms-happy.png" class="img-fluid happy"/>
</div>
<main class="lacxi-content loading">
  <a href="lacxi.html" class="link-back d-none d-md-block">
    <img src="img/lacxi/back_to_home.png" class="img-fluid" alt="" loading="lazy"/>
  </a>
  <section class="">
    <div class="container pt-5">
      <div class="row">
        <div class="col-12 text-center">
          <img src="img/lacxi/trauvang.png" alt="" class="img-fluid" loading="lazy">
        </div>
        <div class="col-12 text-center mt-5">
          <h1 class="text-lacxi">Xổ số trâu vàng, đổi ngọc lấy tiền</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <p class="lead text-white text-justify mb-0">
            Tết này, Trâu Thần hiển linh và ban lộc may mắn cho những người chơi tham gia đổi Ngọc lấy vé số Trâu Vàng. 
            Cứ vào mỗi tuần, người chơi sẽ được tham gia đổi Ngọc lấy vé số trong vòng 6 ngày, 
            bắt đầu từ Thứ 7 đến 12:00 trưa Thứ 5 tuần sau tính từ ngày diễn ra Lắc Xì (30/01/2021).
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="lacxi-lichdoingoc">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4 text-lacxi text-center text-uppercase">LỊCH ĐỔI NGỌC VÀ QUAY THƯỞNG</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-4">
          <ul class="nav justify-content-center" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="link-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="home" aria-selected="true">Kỳ 1</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="link-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="profile" aria-selected="false">Kỳ 2</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="link-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="contact" aria-selected="false">Kỳ 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 pt-4">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane block-lacxi fade show active" id="tab-1" role="tabpanel" aria-labelledby="link-1">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <div class="col-auto">
                        <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                      </div>
                      <div class="col">
                        <h6>Thời gian đổi ngọc</h6>
                        <p>
                          28/01 - 12:00 ngày 4/2/2021
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <div class="col-auto">
                        <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                      </div>
                      <div class="col">
                        <h6>Thời gian quay thưởng</h6>
                        <p>
                          5/2/2021
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <div class="col-auto">
                        <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                      </div>
                      <div class="col">
                        <h6>Giải thưởng</h6>
                        <p>
                          Hàng chục bao lì xì đến 10 triệu từ AIA
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <div class="col-auto">
                        <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                      </div>
                      <div class="col">
                        <h6>Kết quả</h6>
                        <p>
                          Sẽ được công bố ngày 5/2/2021
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane block-lacxi fade" id="tab-2" role="tabpanel" aria-labelledby="link-2">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Thời gian đổi ngọc</h6>
                      <p>
                        6/2 - 12:00 ngày 18/2/2021
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Thời gian quay thưởng</h6>
                      <p>
                        19/2/2021
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Giải thưởng</h6>
                      <p>
                        Quà công nghệ: Iphone 12, Apple Watch từ FPT Shop
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Kết quả</h6>
                      <p>
                        Sẽ được công bố ngày 19/2/2021
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane block-lacxi fade" id="tab-3" role="tabpanel" aria-labelledby="link-3">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Thời gian đổi ngọc</h6>
                      <p>
                        20/2 - 12:00 ngày 25/2/2021
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Thời gian quay thưởng</h6>
                      <p>
                        26/2/2021
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Giải thưởng</h6>
                      <p>
                        Sổ tiết kiệm đến 50 triệu từ OCB Omni
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="row">
                    <div class="col-auto">
                      <img src="img/lacxi/dong-momo.png" alt="" class="img-fluid" loading="lazy">
                    </div>
                    <div class="col">
                      <h6>Kết quả</h6>
                      <p>
                        Sẽ được công bố ngày 26/2/2021
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4 text-lacxi text-center text-uppercase">CÁCH THỨC ĐỔI VIÊN NGỌC LẤY VÉ SỐ</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-white lead">
          <p>
            Bước 1. Tại màn hình BỘ SƯU TẬP, chọn XỔ SỐ TRÂU VÀNG;
          </p>
          <p>
            Bước 2. Đọc thể lệ giải thưởng, và chọn NGỌC để đổi;
          </p>
          <p>
            Bước 3. Nhận vé số.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4 text-lacxi text-center text-uppercase">ĐIỀU KIỆN VÀ ĐIỀU KHOẢN</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-white lead">
          <ul>
            <li>
              <p>
                Giờ Vàng diễn ra từ 10:00-13:00 & 15:00-18:00 ngày các ngày 29, 30, 31/01 & 01, 02, 03/02/2021. Khi tham gia lắc quẻ trong thời gian này, người chơi sẽ có tỷ lệ lắc trúng quà giá trị và vật phẩm cao hơn.
              </p>
            </li>
            <li>
              <p>
                Người chơi tham gia và có cơ hội nhận thưởng bằng cách lắc quẻ. Nếu trúng giải sẽ nhận được thông báo ngay trên Ví MoMo.
              </p>
            </li>
            <li>
              <p>
                Ví MoMo có quyền từ chối, thu hồi một phần hoặc toàn bộ giải thưởng trong trường hợp phát hiện khách hàng có hành vi gian lận. Trong mọi trường hợp, MoMo có quyền đưa ra quyết định cuối cùng.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="lacxi-nhiemvu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-lacxi text-center text-uppercase">Hệ thống nhiệm vụ</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="row align-items-center">
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Gửi lì xì/Chuyển tiền
                  </a>
                </div>
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Xem quẻ và chia sẻ
                  </a>
                </div>
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Đòi lì xì/Yêu cầu chuyển tiền
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block text-center">
              <img src="img/lacxi/trau.png" class="img-fluid" loading="lazy" />
            </div>
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Giới thiệu bạn bè
                  </a>
                </div>
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Liên kết ngân hàng
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
{% block stickyFooter %}{% endblock %}
{% block footer %}{% endblock %}
<!-- Scripts -->
{% block javascript %}
<script>
  $(document).ready(function () {
    $('.lacxi-loading').addClass('is-hidden');
    $('.lacxi-content').removeClass('loading');
    var headerHideAuto = function () {
      var mainHeader = $(".navbar-lp-container");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };
    headerHideAuto();
  });
</script>
{% endblock %}
