{% extends 'layouts/layout.html' %}
{% block head %}

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
<link href="css/lacxi.css" rel="stylesheet" />

{% endblock %}

{% block header %}
<input type="hidden" class="form-control h-search__input search-quick-input" placeholder="Bạn tìm gì ..." aria-label=""
  aria-describedby="" name="q">
<div class="navbar-container header-position navbar-lp-container d-block d-md-none" data-sticky="top">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-lacxi navbar-lacxi-return">
    <div class="container">
      <a href="/lacxi.html" class="text-white py-1 m-0 font-weight-normal d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          class="injected-svg icon bg-white" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M12 5L5 12L12 19M19 12H6H19Z" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        Trang chủ
      </a>
    </div>
    <!-- End container -->
  </nav>
</div>
{% endblock %}

{% block content %}
<div class="lacxi-parallax">
  <div class="background"></div>
</div>
<div class="lacxi-loading">
  <img src="img/lacxi/flaregif.gif" class="img-fluid gif"/>
  <img src="img/lacxi/cms-happy.png" class="img-fluid happy"/>
</div>
<main class="lacxi-content loading">
  <a href="lacxi.html" class="link-back d-none d-md-block">
    <img src="img/lacxi/back_to_home.png" class="img-fluid" alt="" loading="lazy" />
  </a>
  <section class="">
    <div class="container pt-5">
      <div class="row">
        <div class="col-12 text-center">
          <img src="img/lacxi/giovang.png" alt="" class="img-fluid" loading="lazy">
        </div>
        <div class="col-12 text-center mt-5">
          <h1 class="text-lacxi">Giờ vàng lắc quẻ, Trâu thần phát lộc</h1>
        </div>
      </div>
      <div class="row justify-content-center text-white fw-700 fs-22-14 pt-4">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="d-flex py-2 justify-content-center align-items-center text-center">
            <span class="col"></span>
            <span class="col-4 block-lacxi py-1 px-0">
              10:00 - 13:00
            </span>
            <span class="col">
              Và
            </span>
            <span class="col-4 block-lacxi py-1 px-0">
              15:00 - 18:00 
            </span>
          </div>
          <div class="d-flex py-2 justify-content-center align-items-center text-center">
            <span class="col">
              Từ
            </span>
            <span class="col-4 block-lacxi py-1 px-0">
              29/01/2021
            </span>
            <span class="col">
              Đến
            </span>
            <span class="col-4 block-lacxi py-1 px-0">
              03/02/2021
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-5">
        <div class="col-12 col-md-10 col-lg-8">
          <p class="lead text-white text-justify mb-0">
            Cấp báo! Vào khung Giờ Vàng 10:00 - 13:00 và 15:00 -18:00 mỗi ngày từ 29/01 - 03/02, 
            cơn lốc hàng triệu bao lì xì và thẻ quà tặng sẽ đổ bộ trên Ví MoMo. 
            Chỉ cần lắc quẻ càng nhiệt, cơ hội nhận lộc từ Trâu Thần càng cao. 
            Hẹn giờ “hoàng đạo", vào Lắc Xì săn thưởng ngay!
          </p>
        </div>
      </div>
    </div>
  </section>
  {%
    set caseGiaiThuong=[
      {
        title: "Giải thu thập 8 viên ngọc",
        description: "Sưu tập trọn bộ 8 Viên Ngọc nhập hội 12 tỷ cùng MoMo"
      },
      {
        title: "BAO LÌ XÌ, THẺ QUÀ TỔNG 300 TỶ",
        description: "Phong bao lì xì - Sổ tiết kiệm -, thẻ quà từ đối tác MoMo"
      },
      {
        title: "QUẺ BÓI",
        description: "Lời bói thành SỰ THẬT + Nhân số học…"
      },
      {
        title: "QUÀ CÔNG NGHỆ",
        description: "Apple watch/ Airpods/ Iphone 12/ Macbook"
      },
      {
        title: "DATA 3G/4G",
        description: "1 năm miễn phí 3G/4G cho CẢ NHÀ"
      },
      {
        title: "LỘC VÀNG 9999",
        description: "Tham gia sự kiện, trúng vàng miếng liền tay"
      }
    ]
  %}
  <section class="lacxi-giaithuong">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-lacxi text-center text-uppercase">Giải thưởng</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        {% for i in [2,3,4] %}
        <div class="col-12 col-md-6 col-lg-4 item-giaithuong">
          <div class="row">
            <div class="col-5 col-md-12">
              <div class="img-giaithuong">
                <img src="img/lacxi/banner_mobile_3.jpg" class="img-fluid" loading="lazy">
              </div>
            </div>
            <div class="col-7 col-md-12">
              <h5 class="text-lacxi text-uppercase">{{caseGiaiThuong[i].title}}</h5>
              <p class="lead">{{caseGiaiThuong[i].description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 text-lacxi text-center">ĐIỀU KIỆN VÀ ĐIỀU KHOẢN</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-white lead">
          <p>
            Giờ Vàng diễn ra từ 10:00-13:00 & 15:00-18:00 ngày các ngày 29, 30, 31/01 & 01, 02, 03/02/2021. Khi tham gia lắc quẻ trong thời gian này, người chơi sẽ có tỷ lệ lắc trúng quà giá trị và vật phẩm cao hơn.
          </p>
          <p>
            Người chơi tham gia và có cơ hội nhận thưởng bằng cách lắc quẻ. Nếu trúng giải sẽ nhận được thông báo ngay trên Ví MoMo.
          </p>
          <p>
            Ví MoMo có quyền từ chối, thu hồi một phần hoặc toàn bộ giải thưởng trong trường hợp phát hiện khách hàng có hành vi gian lận. Trong mọi trường hợp, MoMo có quyền đưa ra quyết định cuối cùng.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="lacxi-nhiemvu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-lacxi text-center text-uppercase">Hệ thống nhiệm vụ</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="row align-items-center">
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Gửi lì xì/Chuyển tiền
                  </a>
                </div>
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Xem quẻ và chia sẻ
                  </a>
                </div>
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Đòi lì xì/Yêu cầu chuyển tiền
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 d-none d-md-block text-center">
              <img src="img/lacxi/trau.png" class="img-fluid" loading="lazy" />
            </div>
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Giới thiệu bạn bè
                  </a>
                </div>
                <div class="col-12">
                  <a href="" class="item-nhiemvu">
                    Liên kết ngân hàng
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
{% block stickyFooter %}{% endblock %}
{% block footer %}{% endblock %}
<!-- Scripts -->
{% block javascript %}
<script>
  $(document).ready(function () {
    $('.lacxi-loading').addClass('is-hidden');
    $('.lacxi-content').removeClass('loading');
    var headerHideAuto = function () {
      var mainHeader = $(".navbar-lp-container");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };
    headerHideAuto();
  });
</script>
{% endblock %}
