{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link href="css/lp-chodeal.css" rel="stylesheet" type="text/css" media="all" />

{% endblock %} {% block header %}

<div class="navbar-container header-position navbar-lp-container">
  <nav class="navbar navbar-expand-lg navbar-light py-0 px-0 navbar-lp">
    <div class="container header__container">
      <div class="d-flex align-items-center">
        <a class="navbar-brand header__logo" href="index.html">
          <svg
            width="96"
            class="svg-icon fill-current momo__logo"
            height="87"
            viewBox="0 0 96 87"
            fill="#fff"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M75.5326 0C64.2284 0 55.0651 8.74843 55.0651 19.5409C55.0651 30.3333 64.2284 39.0818 75.5326 39.0818C86.8368 39.0818 96 30.3333 96 19.5409C96 8.74843 86.8368 0 75.5326 0ZM75.5326 27.8805C70.7368 27.8805 66.8403 24.1604 66.8403 19.5818C66.8403 15.0031 70.7368 11.283 75.5326 11.283C80.3283 11.283 84.2248 15.0031 84.2248 19.5818C84.2248 24.1604 80.3283 27.8805 75.5326 27.8805ZM49.1561 14.6761V39.1226H37.3809V14.5535C37.3809 12.7138 35.8394 11.2421 33.9126 11.2421C31.9857 11.2421 30.4442 12.7138 30.4442 14.5535V39.1226H18.669V14.5535C18.669 12.7138 17.1276 11.2421 15.2007 11.2421C13.2739 11.2421 11.7324 12.7138 11.7324 14.5535V39.1226H0V14.6761C0 6.58176 6.89385 0 15.372 0C18.8403 0 22.0089 1.10377 24.5781 2.9434C27.1472 1.10377 30.3586 0 33.7841 0C42.2623 0 49.1561 6.58176 49.1561 14.6761ZM75.5326 47.544C64.2284 47.544 55.0651 56.2925 55.0651 67.0849C55.0651 77.8774 64.2284 86.6258 75.5326 86.6258C86.8368 86.6258 96 77.8774 96 67.0849C96 56.2925 86.8368 47.544 75.5326 47.544ZM75.5326 75.4245C70.7368 75.4245 66.8403 71.7044 66.8403 67.1258C66.8403 62.5472 70.7368 58.827 75.5326 58.827C80.3283 58.827 84.2248 62.5472 84.2248 67.1258C84.2248 71.7044 80.3283 75.4245 75.5326 75.4245ZM49.1561 62.2201V86.6667H37.3809V62.0975C37.3809 60.2579 35.8394 58.7862 33.9126 58.7862C31.9857 58.7862 30.4442 60.2579 30.4442 62.0975V86.6667H18.669V62.0975C18.669 60.2579 17.1276 58.7862 15.2007 58.7862C13.2739 58.7862 11.7324 60.2579 11.7324 62.0975V86.6667H0V62.2201C0 54.1258 6.89385 47.544 15.372 47.544C18.8403 47.544 22.0089 48.6478 24.5781 50.4874C27.1472 48.6478 30.3158 47.544 33.7841 47.544C42.2623 47.544 49.1561 54.1258 49.1561 62.2201Z"
              fill=""
            />
          </svg>
        </a>
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon"
            data-inject-svg
            src="img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon"
            data-inject-svg
            src="img/icons/interface/icon-x.svg"
          />
        </button>
      </div>

      <div
        class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-nongsan"
        id="navigation-menu"
      >
        {% set menu = [ { "name": "Lợi ích hợp tác", "id" : "loiich", "link" :
        "" }, { "name": "Giới thiệu tính năng", "id" : "gioithieu", "link" : ""
        }, { "name": "Hướng dẫn", "id" : "sudung", "link" : "" }, { "name":
        "Phân loại ưu đãi", "id" : "cacloaideals", "link" : "" }, { "name":
        "Quản lý báo cáo", "id" : "quanlydeals", "link" : "" }, { "name": "Đối
        tác", "id" : "doitac", "link" : "" }, { "name": "Đăng ký", "id" :
        "dangky", "link" : "" } ] %}

        <ul class="navbar-nav m-0">
          {% for item in menu %}
          <li class="nav-item">
            <a
              class="nav-link nav-item"
              href="#{{item.id}}"
              data-smooth-scroll
              role="button"
              >{{item.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %} {% block content %}

<div class="kv-section bg-light">
  <div class="kv-section kv-desktop">
    <div class="swiper-container swiper-kv">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-kv">
            <div class="d-none d-md-block">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/chodeal/kv-desk.jpg"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
            <div class="d-block d-md-none">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/chodeal/kv-mobile.png"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="kv-pagination">
        <div class="container position-relative">
          <div class="swiper-button-next">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-button-prev">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="kv-section-curve">
      <svg
        width="1440"
        height="40"
        viewBox="0 0 1440 40"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Rectangle 12</title>
        <path
          d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
          fill="#FFF0F9"
          fill-rule="evenodd"
        />
      </svg>
    </div>
  </div>
</div>

<section class="bg-pinklight o-hidden" id="">
  <div class="container">
    <div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9">
          <div
            class="box__11"
            data-aos="fade-up"
            data-aos-delay="100"
            style="
              background: radial-gradient(
                circle,
                #e40d7b 0%,
                rgb(206 34 127) 100%
              );
            "
          >
            <div class="row no-gutters justify-content-center">
              <!-- <div class="col-4 col-md-4">
                  <img src="/img/megaday/momo-thanos.png" class="img-fluid d-block mx-auto" loading="lazy" alt="">
                </div> -->
              <div class="col-12">
                <h2
                  class="h2 text-white mb-3 text-center text-heading-kv reveal"
                >
                  ĐÓN CHỜ NGÀY HỘI <span class="text-11e">1.11</span>
                </h2>

                <div class="text-center reveal" data-reveal-delay="800">
                  <div class="countdown-11 mx-auto">
                    <div
                      class="d-flex flex-row flex-wrap justify-content-around add-countdown-time"
                      data-countdown-date="2019/08/06"
                      data-detailed=""
                    >
                      <div class="text-center">
                        <div class="mb-2 countdown-box" data-days="">
                          &nbsp;
                        </div>
                        <span class="lal">Ngày</span>
                      </div>
                      <div class="text-center">
                        <div class="mb-2 countdown-box" data-hours="">
                          &nbsp;
                        </div>
                        <span class="lal">Giờ</span>
                      </div>
                      <div class="text-center">
                        <div class="mb-2 countdown-box" data-minutes="">
                          &nbsp;
                        </div>
                        <span class="lal">Phút</span>
                      </div>
                      <div class="text-center">
                        <div class="mb-2 countdown-box" data-seconds="">
                          &nbsp;
                        </div>
                        <span class="lal">Giây</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-lg-4 text-kv">
              Đón chờ <b>Ngày Hội Siêu Deal Giảm 50%</b> diễn ra duy nhất
              <b>ngày 1.11</b> trên ứng dụng Ví MoMo. Cơn lốc triệu deal GIẢM
              GIÁ 50% đến từ hàng trăm dịch vụ siêu hot với 4 hạng ưu đãi “cực
              phẩm":

              <ul>
                <li>
                  Deal hạng Kim Cương: Mỗi khách hàng được mua
                  <b>tối đa 1 deal</b> trong ngày diễn ra sự kiện.
                </li>
                <li>
                  Đổi điểm lấy deal: Mỗi khách hàng có thể sử dụng điểm thưởng
                  để đổi <b>tối đa 1 deal </b>trong ngày diễn ra sự kiện.
                </li>
                <li>
                  Deal hạng Vàng: Mỗi khách hàng được mua
                  <b>tối đa 2 deal </b>trong ngày diễn ra sự kiện.
                </li>
                <li>
                  Deal hạng Bạc: <b>Không giới hạn số lượng deal </b>mỗi khách
                  hàng được mua trong ngày diễn ra sự kiện.
                </li>
              </ul>
              Số lượng deal giới hạn - một thoáng “cháy hàng” nên hãy đặt hẹn
              ngay để <b>MUA DEAL</b> bạn nhé!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white o-hidden megaSlider" id="dealkimcuong">
  <div class="container">
    <h2 class="h2 text-primary-2 text-center reveal title-image">
      <img
        src="img/chodeal/title/deal-kimcuong.png"
        class="img-fluid d-block mx-auto"
        loading="lazy"
        alt=""
      />
    </h2>
  </div>

  <div class="o-hidden position-relative" style="padding: 0 10px">
    <div class="swiper-container mega__tab__slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide active" data-index="1">Siêu thị</div>

        <div class="swiper-slide" data-index="2">Cửa hàng tiện lợi</div>

        <div class="swiper-slide" data-index="3">Du lịch, Đi lại</div>

        <div class="swiper-slide" data-index="4">Xăng</div>

        <div class="swiper-slide" data-index="5">Siêu thị</div>
      </div>
    </div>
  </div>

  <div class="o-hidden position-relative space-container">
    <div class="swiper-container mega__slide">
      <div class="swiper-wrapper">
        {% for item in range(0,5) %}
        <div class="swiper-slide mega__slide__item" data-index="{{loop.index}}">
          <div class="mega__banner">
            <img
              src="img/chodeal/banner.png"
              class="img-fluid d-block mx-auto rounded"
              loading="lazy"
              alt=""
            />
          </div>
          <div class="merchant__list">
            <h5 class="font-weight-bold d-none d-md-block">Đối tác nổi bật</h5>

            {% for item in Merchants %}
            <div class="merchant__item">
              <div class="merchant__item__avatar">
                <img
                  src="{{item.avatar}}"
                  class="img-fluid d-block mx-auto"
                  loading="lazy"
                  alt=""
                />
              </div>

              <div class="merchant__item__content">
                <div class="merchant__name text-truncate">{{item.name}}</div>
                <div class="merchant__sapo text-truncate">{{item.sapo}}</div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mega__x__container">
      <div
        class="htw__item mega__x bg-primary-2 mt-3 text-white"
        data-toggle="collapse"
        href="#dsNganhang1"
        role="button"
        aria-expanded="false"
        aria-controls="dsNganhang1"
      >
        <div class="htw__content">Lưu ý và điều khoản</div>

        <div class="htw__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="svg-icon"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </div>
      </div>

      <div class="collapse mega__x__content" id="dsNganhang1">
        <div>
          Trong lễ hội Mua sắm Ngày 1.11, Mỗi khách hàng chỉ được chọn mua
          <b>1 deal duy nhất</b> trong Deal hạng Kim Cương. Xem cách thức tham
          gia lễ hội 1.11 <a href="" class="link-pink">tại đây</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-pinklight o-hidden megaSlider" id="dealvang">
  <div class="container">
    <h2 class="h2 text-primary-2 text-center reveal title-image">
      <img
        src="img/chodeal/title/deal-hangvang.png"
        class="img-fluid d-block mx-auto"
        loading="lazy"
        alt=""
      />
    </h2>
  </div>

  <div
    class="o-hidden position-relative space-container"
    style="padding: 0 10px"
  >
    <div class="swiper-container mega__tab__slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide active" data-index="1">Siêu thị</div>

        <div class="swiper-slide" data-index="2">Cửa hàng tiện lợi</div>

        <div class="swiper-slide" data-index="3">Du lịch, Đi lại</div>

        <div class="swiper-slide" data-index="4">Xăng</div>

        <div class="swiper-slide" data-index="5">Siêu thị</div>
      </div>
    </div>
  </div>

  <div class="o-hidden position-relative space-container">
    <div class="swiper-container mega__slide">
      <div class="swiper-wrapper">
        {% for item in range(0,5) %}
        <div class="swiper-slide mega__slide__item" data-index="{{loop.index}}">
          <div class="mega__banner">
            <img
              src="img/chodeal/banner.png"
              class="img-fluid d-block mx-auto rounded"
              loading="lazy"
              alt=""
            />
          </div>
          <div class="merchant__list">
            {% for item in Merchants %}
            <div class="merchant__item">
              <div class="merchant__item__avatar">
                <img
                  src="{{item.avatar}}"
                  class="img-fluid d-block mx-auto"
                  loading="lazy"
                  alt=""
                />
              </div>

              <div class="merchant__item__content">
                <div class="merchant__name text-truncate">{{item.name}}</div>
                <div class="merchant__sapo text-truncate">{{item.sapo}}</div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mega__x__container">
      <div
        class="htw__item mega__x bg-primary-2 mt-3 text-white"
        data-toggle="collapse"
        href="#dsNganhang2"
        role="button"
        aria-expanded="false"
        aria-controls="dsNganhang2"
      >
        <div class="htw__content">Lưu ý và điều khoản</div>

        <div class="htw__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="svg-icon"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </div>
      </div>

      <div class="collapse mega__x__content" id="dsNganhang2">
        <div>
          Trong lễ hội Mua sắm Ngày 1.11, Mỗi khách hàng chỉ được chọn mua
          <b>1 deal duy nhất</b> trong Deal hạng Kim Cương. Xem cách thức tham
          gia lễ hội 1.11 <a href="" class="link-pink">tại đây</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white o-hidden megaSlider" id="dealdoidiem">
  <div class="container">
    <h2 class="h2 text-primary-2 text-center reveal title-image">
      <img
        src="img/chodeal/title/deal-doidiem.png"
        class="img-fluid d-block mx-auto"
        loading="lazy"
        alt=""
      />
    </h2>
  </div>

  <div class="o-hidden position-relative" style="padding: 0 10px">
    <div class="swiper-container mega__tab__slide big">
      <div class="swiper-wrapper">
        <div class="swiper-slide active" data-index="1">Đổi điểm 1</div>

        <div class="swiper-slide" data-index="2">Đổi điểm 2</div>
      </div>
    </div>
  </div>

  <div class="o-hidden position-relative space-container">
    <div class="swiper-container mega__slide">
      <div class="swiper-wrapper">
        {% for item in range(0,2) %}
        <div class="swiper-slide mega__slide__item" data-index="{{loop.index}}">
          <div class="mega__banner">
            <img
              src="img/chodeal/banner.png"
              class="img-fluid d-block mx-auto rounded"
              loading="lazy"
              alt=""
            />
          </div>
          <div class="merchant__list">
            {% for item in Merchants.slice(0,2) %}
            <div class="merchant__item">
              <div class="merchant__item__avatar">
                <img
                  src="{{item.avatar}}"
                  class="img-fluid d-block mx-auto"
                  loading="lazy"
                  alt=""
                />
              </div>

              <div class="merchant__item__content">
                <div class="merchant__name text-truncate">{{item.name}}</div>
                <div class="merchant__sapo text-truncate">{{item.sapo}}</div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mega__x__container">
      <div
        class="htw__item mega__x bg-primary-2 mt-3 text-white"
        data-toggle="collapse"
        href="#dsNganhang3"
        role="button"
        aria-expanded="false"
        aria-controls="dsNganhang3"
      >
        <div class="htw__content">Lưu ý và điều khoản</div>

        <div class="htw__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="svg-icon"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </div>
      </div>

      <div class="collapse mega__x__content" id="dsNganhang3">
        <div>
          Trong lễ hội Mua sắm Ngày 1.11, Mỗi khách hàng chỉ được chọn mua
          <b>1 deal duy nhất</b> trong Deal hạng Kim Cương. Xem cách thức tham
          gia lễ hội 1.11 <a href="" class="link-pink">tại đây</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-pinklight o-hidden megaSlider" id="dealvang">
  <div class="container">
    <h2 class="h2 text-primary-2 text-center reveal title-image">
      <img
        src="img/chodeal/title/deal-hangbac.png"
        class="img-fluid d-block mx-auto"
        loading="lazy"
        alt=""
      />
    </h2>
  </div>

  <div class="o-hidden position-relative" style="padding: 0 10px">
    <div class="swiper-container mega__tab__slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide active" data-index="1">Siêu thị</div>

        <div class="swiper-slide" data-index="2">Cửa hàng tiện lợi</div>

        <div class="swiper-slide" data-index="3">Du lịch, Đi lại</div>

        <div class="swiper-slide" data-index="4">Xăng</div>

        <div class="swiper-slide" data-index="5">Siêu thị</div>
      </div>
    </div>
  </div>

  <div class="o-hidden position-relative space-container">
    <div class="swiper-container mega__slide">
      <div class="swiper-wrapper">
        {% for item in range(0,5) %}
        <div class="swiper-slide mega__slide__item" data-index="{{loop.index}}">
          <div class="mega__banner">
            <img
              src="img/chodeal/banner.png"
              class="img-fluid d-block mx-auto rounded"
              loading="lazy"
              alt=""
            />
          </div>
          <div class="merchant__list">
            {% for item in Merchants %}
            <div class="merchant__item">
              <div class="merchant__item__avatar">
                <img
                  src="{{item.avatar}}"
                  class="img-fluid d-block mx-auto"
                  loading="lazy"
                  alt=""
                />
              </div>

              <div class="merchant__item__content">
                <div class="merchant__name text-truncate">{{item.name}}</div>
                <div class="merchant__sapo text-truncate">{{item.sapo}}</div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mega__x__container">
      <div
        class="htw__item mega__x bg-primary-2 mt-3 text-white"
        data-toggle="collapse"
        href="#dsNganhang4"
        role="button"
        aria-expanded="false"
        aria-controls="dsNganhang4"
      >
        <div class="htw__content">Lưu ý và điều khoản</div>

        <div class="htw__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="svg-icon"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </div>
      </div>

      <div class="collapse mega__x__content" id="dsNganhang4">
        <div>
          Trong lễ hội Mua sắm Ngày 1.11, Mỗi khách hàng chỉ được chọn mua
          <b>1 deal duy nhất</b> trong Deal hạng Kim Cương. Xem cách thức tham
          gia lễ hội 1.11 <a href="" class="link-pink">tại đây</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white o-hidden" id="sudung">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 mb-3 mb-lg-4 text-center reveal">
        Cách Thức Tham Gia Sự Kiện Sale Của MoMo
      </h2>
    </div>

    <div class="useDeal__wrap reveal">
      <div class="useDeal__mb">
        <div class="useDeal__mb__item">
          <div class="useDeal__number is-active">1</div>
        </div>
        <div class="useDeal__mb__item">
          <div class="useDeal__number">2</div>
        </div>
        <div class="useDeal__mb__item">
          <div class="useDeal__number">3</div>
        </div>

        <div class="useDeal__mb__item">
          <div class="useDeal__number">4</div>
        </div>
      </div>

      <div class="swiper-container swiper-useDeal">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">1</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo Khách hàng mua deal trên
                Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use1.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">2</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use2.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">3</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use3.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">4</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use3.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-button-next swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Tiếp theo"
            focusable="false"
            style=""
          >
            <path
              d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
        <div class="swiper-button-prev swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Trước"
            focusable="false"
            style=""
          >
            <path
              d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-pinklight section__hocvien megaSlider" id="thele">
  <div class="container">
    <div class="text-center px-2">
      <h2 class="font-hv hv__heading reveal mb-3 mb-md-4 text-primary-2">
        Sự kiện
      </h2>
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs nav-tabs-hbb" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link hbb-link active"
          id="home-tab"
          data-toggle="tab"
          href="#flashdeal1"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Flashdeal giờ vàng</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link hbb-link"
          id="profile-tab"
          data-toggle="tab"
          href="#flashdeal2"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Sự kiện đặc biệt</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="flashdeal1"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="mega__box">
          <div class="mb-3">
            <img
              src="img/chodeal/banner.png"
              class="img-fluid d-block mx-auto rounded"
              alt=""
            />
          </div>
          <div class="tinhnang-loadmore">
            <p>
              Trong lúc đón chờ Ngày Hội Siêu Deal 1.11, bạn hãy vào tab ƯU ĐÃI
              trên ứng dụng Ví MoMo vào khung giờ FLASH DEAL: Từ 12h00 - 14h00
              các ngày từ 22.10 - 23.10 và 26.10 - 30.10.2020 để ngay hàng triệu
              deal chớp nhoáng. Thỏa sức hốt deal yêu thích từ các dịch vụ chỉ
              với giá chỉ từ 3K - 5K:
            </p>

            <p>
              Chỉ 3K chớp deal 15K mua sắm tại Cửa hàng tiện lợi Circle K,
              Family Mart, Ministop, Cheers...
            </p>
            <p>
              Chỉ 3K chớp deal 15K khi thưởng thức Cà phê tại Passio, Phúc Long,
              The Coffee House...
            </p>
            <p>Chỉ 3K chớp deal 20K khi thanh toán Xăng dầu tại PVoil, Petro</p>
            <p>
              Chỉ 3K chớp deal 20K khi thanh toán qua App Store và Google Play
            </p>
            <p>
              Chỉ 5K chớp deal 15K khi Ăn uống tại The Golden Gate, Pizza
              Company, Burger King, Popeyes
            </p>
            <p>
              Chỉ 5K chớp deal 20K mua sắm tại Siêu thị: Co.opMart, Lotte Mart,
              AEON Mall…
            </p>
            <p>
              Lưu ý: Mỗi khách hàng có thể mua TỐI ĐA 1 DEAL/ 1 DỊCH VỤ trong
              mỗi khung giờ FLASH DEAL.
            </p>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="flashdeal2"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="mega__box">
          <div class="mb-3">
            <img
              src="img/chodeal/banner.png"
              class="img-fluid d-block mx-auto rounded"
              alt=""
            />
          </div>
          <div class="tinhnang-loadmore">
            <p>
              Trong lúc đón chờ Ngày Hội Siêu Deal 1.11, bạn hãy vào tab ƯU ĐÃI
              trên ứng dụng Ví MoMo vào khung giờ FLASH DEAL: Từ 12h00 - 14h00
              các ngày từ 22.10 - 23.10 và 26.10 - 30.10.2020 để ngay hàng triệu
              deal chớp nhoáng. Thỏa sức hốt deal yêu thích từ các dịch vụ chỉ
              với giá chỉ từ 3K - 5K:
            </p>

            <p>
              Chỉ 3K chớp deal 15K mua sắm tại Cửa hàng tiện lợi Circle K,
              Family Mart, Ministop, Cheers...
            </p>
            <p>
              Chỉ 3K chớp deal 15K khi thưởng thức Cà phê tại Passio, Phúc Long,
              The Coffee House...
            </p>
            <p>Chỉ 3K chớp deal 20K khi thanh toán Xăng dầu tại PVoil, Petro</p>
            <p>
              Chỉ 3K chớp deal 20K khi thanh toán qua App Store và Google Play
            </p>
            <p>
              Chỉ 5K chớp deal 15K khi Ăn uống tại The Golden Gate, Pizza
              Company, Burger King, Popeyes
            </p>
            <p>
              Chỉ 5K chớp deal 20K mua sắm tại Siêu thị: Co.opMart, Lotte Mart,
              AEON Mall…
            </p>
            <p>
              Lưu ý: Mỗi khách hàng có thể mua TỐI ĐA 1 DEAL/ 1 DỊCH VỤ trong
              mỗi khung giờ FLASH DEAL.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white section__hocvien" id="thele">
  <div class="container">
    <div class="text-center px-2">
      <h2 class="font-hv text-primary-2 hv__heading reveal mb-2 mb-md-2">
        Thể lệ chương trình
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="hv__card mb-4 mb-md-0">
          <div class="hv__card__body">
            <div class="hv__accordion reveal" id="accordionThele">
              <div
                class="hv__accordion__item font-hv"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <span class="font-hv"> Đối tượng áp dụng </span>
                <i data-feather="chevron-right"></i>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionThele"
              >
                <div class="hv__accordion__content">
                  <ul>
                    <li>
                      Tất cả Học viên có Phiếu dự thi Bán kết.&nbsp;Hạn chót đổi
                      “Phiếu Dự Thi” tham dự trận Bán Kết sẽ vào 23h59 ngày
                      26/09/2020.
                    </li>
                    <li>
                      Học viên đã XÁC THỰC tài khoản Ví MoMo bằng cách cung cấp
                      thông tin CMND và hình ảnh 2 mặt CMND.
                    </li>
                    <li>
                      Học viên phải duy trì liên kết tài khoản Ví MoMo với tài
                      khoản ngân hàng
                    </li>
                    <li>
                      Học viên phải cập nhật ứng dụng Ví MoMo ở phiên bản mới
                      nhất để tham gia trận đấu!
                    </li>
                  </ul>
                </div>
              </div>

              <div
                class="hv__accordion__item font-hv"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <span class="font-hv"> Thời gian áp dụng</span>

                <i data-feather="chevron-right"></i>
              </div>

              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionThele"
              >
                <div class="hv__accordion__content">
                  <p>Diễn ra duy nhất ngày 28/09/2020, vào 2 khung giờ:</p>

                  <ul>
                    <li>11:00 - 14:00&nbsp;</li>
                    <li>18:00 - 21:00</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light section__hocvien" id="thele">
  <div class="container">
    <div class="text-center px-2">
      <h2 class="font-hv text-primary-2 hv__heading reveal mb-4">
        Đối tác đồng hành
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="mega__box shadow mb-4 ">
          <div class="hv__card__body py-3">
            <img
              alt=""
              class="d-none d-lg-block mx-auto img-fluid"
              loading="lazy"
              src="https://static.mservice.io/images/s/momo-upload-api-201028154137-637394964972538261.png"
            />
            <img
              alt=""
              class="d-block d-lg-none mx-auto img-fluid"
              loading="lazy"
              src="https://static.mservice.io/images/s/momo-upload-api-201028181236-637395055567636570.png"
            />
          </div>
        </div>


        <div class="mega__box shadow mb-4 ">
          <div class="hv__card__body py-3">
            <img
              alt=""
              class="d-none d-lg-block mx-auto img-fluid"
              loading="lazy"
              src="https://static.mservice.io/images/s/momo-upload-api-201028154143-637394965030594007.png"
            />
            <img
              alt=""
              class="d-block d-lg-none mx-auto img-fluid"
              loading="lazy"
              src="https://static.mservice.io/images/s/momo-upload-api-201028181230-637395055508836867.png"
            />
          </div>
        </div>

        <div class="mega__box shadow mb-4 ">
          <div class="hv__card__body py-3">
            <img
              alt=""
              class="d-none d-lg-block mx-auto img-fluid"
              loading="lazy"
              src="	https://static.mservice.io/images/s/momo-upload-api-201028154149-637394965099245331.png"
            />
            <img
              alt=""
              class="d-block d-lg-none mx-auto img-fluid"
              loading="lazy"
              src="https://static.mservice.io/images/s/momo-upload-api-201028181225-637395055451785783.png"
            />
          </div>
        </div>
  


      </div>
    </div>
  </div>
</section>

<div class="app-download vp_hide d-none">
  <div class="container text-center">
    <div class="app-download__content">
      <a
        href="https://momoapp.page.link/qwL7UU2UkqbRqrVJ7"
        class="link-absolute d-block d-md-none"
      ></a>
      <div class="tt text-center">
        Tham gia v&agrave; chờ đ&oacute;n ng&agrave;y hội si&ecirc;u sale ngay
      </div>

      <div class="app-download__btn">
        <button
          class="btn font-weight-bold btn-primary-2 py-1 px-2 d-none d-md-block"
          data-container="body"
          data-target="#qrcode-modal-mg2020"
          data-toggle="modal"
          role="button"
          tabindex="0"
        >
          MUA NGAY
        </button>
        <a
          class="btn font-weight-bold btn-primary-2 py-1 px-2 d-block d-md-none"
          data-smooth-scroll=""
          href="https://momoapp.page.link/qwL7UU2UkqbRqrVJ7"
          >MUA NGAY
        </a>
      </div>
    </div>
  </div>
</div>
{% include "layouts/modal.html" %} {% endblock %} {% block javascript %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script> -->

<script>
  $(document).ready(function () {
    // data-offset="160" data-spy="scroll" data-target=".menu-nongsan"
    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    var headerHideAuto = function () {
      var mainHeader = $(".navbar-lp-container");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };
    headerHideAuto();

    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    $("#navigation-menu").on("show.bs.collapse", function () {
      document.body.classList.add("navbar-lp-open");
    });

    $("#navigation-menu").on("hide.bs.collapse", function () {
      document.body.classList.remove("navbar-lp-open");
    });

    $(".navbar-lp .navbar-nav").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    var sliderArray = [];
    var sliderTabArray = [];

    $(".megaSlider").each(function (num, element) {
      var $this = $(this);

      var sliderTabItem = $this.find(".mega__tab__slide .swiper-slide");

      var sliderMain = $this.find(".mega__slide");

      var sliderTab = $this.find(".mega__tab__slide");

      function activeI(i) {
        sliderTabItem.removeClass("active");
        sliderTabItem.eq(i).addClass("active");
      }

      sliderArray[num] = new Swiper(sliderMain, {
        slidesPerView: 1,
        spaceBetween: 8,
        on: {
          init: function () {
            /* do something */
          },
          slideChangeTransitionEnd: function () {
            // megaTabSlide.slideTo(this.activeIndex - 1);
            // activeSlide(this.activeIndex + 1);
            // console.log(this.activeIndex);
            sliderTabArray[num].slideTo(this.activeIndex - 1);
            activeI(this.activeIndex);
          },
        },
      });

      sliderTabArray[num] = new Swiper(sliderTab, {
        slidesPerView: "auto",
        spaceBetween: 0,
        centerInsufficientSlides: true,
        // slideToClickedSlide: true
      });

      $this.find(".mega__tab__slide .swiper-slide").on("click", function (e) {
        var index = $(this).data("index");
        activeI(index - 1);
        sliderTabArray[num].slideTo(index - 2);
        sliderArray[num].slideTo(index - 1);
      });
    });

    // function activeI(index) {
    //   $(".mega__tab__slide .swiper-slide").removeClass("active");
    //   $(".mega__tab__slide .swiper-slide").eq(index).addClass("active");
    // }
    // var megaSlide = new Swiper(".mega__slide", {
    //   slidesPerView: 1,
    //   spaceBetween: 8,
    //   on: {
    //     init: function () {
    //       /* do something */
    //     },
    //     slideChangeTransitionEnd: function () {
    //       // megaTabSlide.slideTo(this.activeIndex - 1);
    //       // activeSlide(this.activeIndex + 1);
    //       // console.log(this.activeIndex);
    //       megaTabSlide.slideTo(this.activeIndex - 1);
    //       activeI(this.activeIndex);
    //     },
    //   },
    // });
    // // mega__tab__slide
    // var megaTabSlide = new Swiper(".mega__tab__slide", {
    //   slidesPerView: "auto",
    //   spaceBetween: 0,
    //   // slideToClickedSlide: true
    // });

    var swiperff = new Swiper(".swiper-feature", {
      slidesPerView: 1,
      spaceBetween: 0,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    $(".tinhnang-loadmore").readmore({
      speed: 75,
      moreLink:
        '<a href="#">Xem thêm <img src="img/icons/interface/icon-chevron-down.svg" > </a>',
      lessLink:
        '<a href="#">Thu gọn  <img src="img/icons/interface/icon-chevron-up.svg" ></a>',
    });

    $("a.hbb-link ").on("shown.bs.tab", function (e) {
      // $(".tinhnang-loadmore").readmore("destroy");

      $(".tinhnang-loadmore").readmore("destroy");

      $(".tinhnang-loadmore").readmore({
        speed: 75,
        moreLink:
          '<a href="#">Xem thêm <img src="img/icons/interface/icon-chevron-down.svg" > </a>',
        lessLink:
          '<a href="#">Thu gọn  <img src="img/icons/interface/icon-chevron-up.svg" ></a>',
      });
    });

    if ($(".swiper-useDeal").find(".swiper-slide").length > 1) {
      var swiperUser = new Swiper(".swiper-useDeal", {
        slidesPerView: 4,
        spaceBetween: 0,
        simulateTouch: false,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          1000: {
            slidesPerView: 2,
            spaceBetween: 0,
          },

          600: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
        },
        on: {
          init: function () {
            // console.log('swiper initialized');
          },
          slideChangeTransitionEnd: function () {
            $(".useDeal__number").removeClass("is-active");
            $(".useDeal__number").eq(this.activeIndex).addClass("is-active");
          },
        },
      });

      $(".useDeal__mb")
        .find(".useDeal__number")
        .each(function (e) {
          var pos = e;

          $(this).on("click", function (e) {
            $(".useDeal__number").removeClass("is-active");
            $(this).addClass("is-active");
            swiperUser.slideTo(pos);
          });
        });
    }

    var now = new Date();
    var day = 864e5;
    var weeksToAdd = 2;
    var tenWeeksFromNow = new Date(+now + day * 7 * weeksToAdd)
      .toISOString()
      .slice(0, 10)
      .replace(/\-/g, "/");
    $("[data-countdown-date].add-countdown-time").attr(
      "data-countdown-date",
      tenWeeksFromNow
    );
  });
</script>
{% endblock %}
