{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link href="css/lp-chodeal.css" rel="stylesheet" type="text/css" media="all" />

{% endblock %} {% block header %}

<div class="navbar-container header-position navbar-lp-container">
  <nav class="navbar navbar-expand-lg navbar-light py-0 px-0 navbar-lp">
    <div class="container header__container">
      <div class="d-flex align-items-center">
        <a class="navbar-brand header__logo" href="index.html">
          <svg
            width="96"
            class="svg-icon fill-current momo__logo"
            height="87"
            viewBox="0 0 96 87"
            fill="#fff"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M75.5326 0C64.2284 0 55.0651 8.74843 55.0651 19.5409C55.0651 30.3333 64.2284 39.0818 75.5326 39.0818C86.8368 39.0818 96 30.3333 96 19.5409C96 8.74843 86.8368 0 75.5326 0ZM75.5326 27.8805C70.7368 27.8805 66.8403 24.1604 66.8403 19.5818C66.8403 15.0031 70.7368 11.283 75.5326 11.283C80.3283 11.283 84.2248 15.0031 84.2248 19.5818C84.2248 24.1604 80.3283 27.8805 75.5326 27.8805ZM49.1561 14.6761V39.1226H37.3809V14.5535C37.3809 12.7138 35.8394 11.2421 33.9126 11.2421C31.9857 11.2421 30.4442 12.7138 30.4442 14.5535V39.1226H18.669V14.5535C18.669 12.7138 17.1276 11.2421 15.2007 11.2421C13.2739 11.2421 11.7324 12.7138 11.7324 14.5535V39.1226H0V14.6761C0 6.58176 6.89385 0 15.372 0C18.8403 0 22.0089 1.10377 24.5781 2.9434C27.1472 1.10377 30.3586 0 33.7841 0C42.2623 0 49.1561 6.58176 49.1561 14.6761ZM75.5326 47.544C64.2284 47.544 55.0651 56.2925 55.0651 67.0849C55.0651 77.8774 64.2284 86.6258 75.5326 86.6258C86.8368 86.6258 96 77.8774 96 67.0849C96 56.2925 86.8368 47.544 75.5326 47.544ZM75.5326 75.4245C70.7368 75.4245 66.8403 71.7044 66.8403 67.1258C66.8403 62.5472 70.7368 58.827 75.5326 58.827C80.3283 58.827 84.2248 62.5472 84.2248 67.1258C84.2248 71.7044 80.3283 75.4245 75.5326 75.4245ZM49.1561 62.2201V86.6667H37.3809V62.0975C37.3809 60.2579 35.8394 58.7862 33.9126 58.7862C31.9857 58.7862 30.4442 60.2579 30.4442 62.0975V86.6667H18.669V62.0975C18.669 60.2579 17.1276 58.7862 15.2007 58.7862C13.2739 58.7862 11.7324 60.2579 11.7324 62.0975V86.6667H0V62.2201C0 54.1258 6.89385 47.544 15.372 47.544C18.8403 47.544 22.0089 48.6478 24.5781 50.4874C27.1472 48.6478 30.3158 47.544 33.7841 47.544C42.2623 47.544 49.1561 54.1258 49.1561 62.2201Z"
              fill=""
            />
          </svg>
        </a>
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon"
            data-inject-svg
            src="img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon"
            data-inject-svg
            src="img/icons/interface/icon-x.svg"
          />
        </button>
      </div>

      <div
        class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-nongsan"
        id="navigation-menu"
      >
        {% set menu = [ { "name": "Lợi ích hợp tác", "id" : "loiich", "link" :
        "" }, { "name": "Giới thiệu tính năng", "id" : "gioithieu", "link" : ""
        }, { "name": "Hướng dẫn", "id" : "sudung", "link" : "" }, { "name":
        "Phân loại ưu đãi", "id" : "cacloaideals", "link" : "" }, { "name":
        "Quản lý báo cáo", "id" : "quanlydeals", "link" : "" }, { "name": "Đối
        tác", "id" : "doitac", "link" : "" }, { "name": "Đăng ký", "id" :
        "dangky", "link" : "" } ] %}

        <ul class="navbar-nav m-0">
          {% for item in menu %}
          <li class="nav-item">
            <a
              class="nav-link nav-item"
              href="#{{item.id}}"
              data-smooth-scroll
              role="button"
              >{{item.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %} {% block content %}

<div class="kv-section bg-light">
  <div class="kv-section kv-desktop">
    <div class="swiper-container swiper-kv">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-kv">
            <div class="d-none d-md-block">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/chodeal/kv-desk.jpg"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
            <div class="d-block d-md-none">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/chodeal/kv-mobile.png"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="kv-pagination">
        <div class="container position-relative">
          <div class="swiper-button-next">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-button-prev">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="kv-section-curve">
      <svg
        width="1440"
        height="40"
        viewBox="0 0 1440 40"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Rectangle 12</title>
        <path
          d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
          fill="#FFF0F9"
          fill-rule="evenodd"
        />
      </svg>
    </div>
  </div>
</div>

<section class="bg-pinklight o-hidden" id="sudung">
  <div class="container">
    <div class="">
  


      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9">
          <div class="box__11" style="background-image: url(img/megaday/hinh-bg.jpg);" >
      
          
            <div class="row no-gutters justify-content-center">
              <!-- <div class="col-4 col-md-4">
                <img src="/img/megaday/momo-thanos.png" class="img-fluid d-block mx-auto" loading="lazy" alt="">
              </div> -->
              <div class="col-12">

                <h2 class="h2 text-white mb-1 mb-lg-1 text-center text-heading-kv reveal">
                  ĐÓN CHỜ <span class="text-11e">1.11</span> <br />
                 
                </h2>
                <h3 class="h3 text-white mb-3 mb-lg-4 text-center text-heading-kv reveal"  data-reveal-delay="400">
                  Siêu Lễ Hội Mua Sắm <span class="text-11e">Giảm Đến 50%</span>
                </h3>

                <div class="text-center reveal" data-reveal-delay="800">

                  <div class="countdown-11 mx-auto">
                    <div class="d-flex flex-row flex-wrap justify-content-around add-countdown-time" data-countdown-date="2019/08/06" data-detailed>
                      <div class="text-center ">
                        <div class=" mb-2 countdown-box" data-days></div>
                        <span class="lal">Ngày</span>
                      </div>
                      <div class="text-center">
                        <div class=" mb-2 countdown-box" data-hours></div>
                        <span class="lal">Giờ</span>
                      </div>
                      <div class="text-center">
                        <div class=" mb-2 countdown-box" data-minutes></div>
                        <span class="lal">Phút</span>
                      </div>
                      <div class="text-center">
                        <div class=" mb-2 countdown-box" data-seconds></div>
                        <span class="lal">Giây</span>
                      </div>
                    </div>
                  </div>
                 
                  
                </div>
              </div>
            </div>


            <!-- <h4 class="text-lg-center">
              Hứng mưa sale mỗi ngày - Hốt trọn vẹn
              <span class="text-yellow">sale khủng 1.11</span>
            </h4> -->

            <p class="text-follow-kv mt-4 reveal" data-reveal-delay="1000">
              Lễ hội siêu deal khủng của MoMo vào ngày 1/11 chính thức trở lại chắc chắn sẽ khiến những tín đồ mua sắm đứng ngồi không yên với hàng ngàn voucher giảm giá cực shock.
              
            </p>
            <p class="text-follow-kv reveal" data-reveal-delay="1200">
              Hãy cùng MoMo săn deal và đếm ngược đến ngày 1/11 nhé!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white o-hidden" id="loiich">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 text-center reveal">Các mặt hàng ưu đãi</h2>

      <p class="lead text-center mb-3 mb-lg-4 reveal" data-reveal-delay="400">
        Tất cả các mặt hàng sẽ được giảm giá lên đến 50%, cùng đón chờ ngày
        23/10 nhé!
      </p>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-6 text-center mb-3 col-md-4">
        <div class="mega__cat">
          <div class="image__mega--cat">
            <a href="">
              <img
                alt=""
                class="img-fluid d-block mx-auto mb-3"
                src="https://static.mservice.io/blogscontents/momo-upload-api-201015094901-637383521410012049.png"
              />
            </a>
          </div>

          <h5 class="mb-2 mega__cat__txt">
            <a class="font-weight-bold link-pink" href="">Ăn uống</a>
          </h5>
        </div>
      </div>

      <div class="col-6 text-center mb-3 col-md-4">
        <div class="mega__cat">
          <div class="image__mega--cat">
            <img
              alt=""
              class="img-fluid d-block mx-auto mb-3"
              src="https://static.mservice.io/blogscontents/momo-upload-api-201015094911-637383521515078697.png"
            />
          </div>

          <h5 class="mb-2 mega__cat__txt">
            <a class="font-weight-bold link-pink" href="">Cà phê</a>
          </h5>
        </div>
      </div>

      <div class="col-6 text-center mb-3 col-md-4">
        <div class="mega__cat">
          <div class="image__mega--cat">
            <img
              alt=""
              class="img-fluid d-block mx-auto mb-3"
              src="https://static.mservice.io/blogscontents/momo-upload-api-201015095006-637383522061368485.png"
            />
          </div>

          <h5 class="mb-2 mega__cat__txt">
            <a class="font-weight-bold link-pink" href="">Siêu thị</a>
          </h5>
        </div>
      </div>

      <div class="col-6 text-center mb-3 col-md-4">
        <div class="mega__cat">
          <div class="image__mega--cat">
            <img
              alt=""
              class="img-fluid d-block mx-auto mb-3"
              src="https://static.mservice.io/blogscontents/momo-upload-api-201015095015-637383522152388940.png"
            />
          </div>

          <h5 class="mb-2 mega__cat__txt">
            <a class="font-weight-bold link-pink" href="">Mua sắm</a>
          </h5>
        </div>
      </div>

      <div class="col-6 text-center mb-3 col-md-4">
        <div class="mega__cat">
          <div class="image__mega--cat">
            <img
              alt=""
              class="img-fluid d-block mx-auto mb-3"
              src="https://static.mservice.io/blogscontents/momo-upload-api-201015095026-637383522268951812.png"
            />
          </div>

          <h5 class="mb-2 mega__cat__txt">
            <a class="font-weight-bold link-pink" href="">Xem phim</a>
          </h5>
        </div>
      </div>

      <div class="col-6 text-center mb-3 col-md-4">
        <div class="mega__cat">
          <div class="image__mega--cat">
            <img
              alt=""
              class="img-fluid d-block mx-auto mb-3"
              src="https://static.mservice.io/blogscontents/momo-upload-api-201015095036-637383522360570310.png"
            />
          </div>

          <h5 class="mb-2 mega__cat__txt">
            <a class="font-weight-bold link-pink" href="">Xăng dầu </a>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <!-- modalCampaign -->
</section>
<section class="bg-pinklight o-hidden" id="sudung">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 mb-3 mb-lg-4 text-center">
        Cách Thức Tham Gia Sự Kiện Sale Của MoMo
      </h2>
    </div>

    <div class="useDeal__wrap">
      <div class="useDeal__mb">
        <div class="useDeal__mb__item">
          <div class="useDeal__number is-active">1</div>
        </div>
        <div class="useDeal__mb__item">
          <div class="useDeal__number">2</div>
        </div>
        <div class="useDeal__mb__item">
          <div class="useDeal__number">3</div>
        </div>

        <div class="useDeal__mb__item">
          <div class="useDeal__number">4</div>
        </div>
      </div>

      <div class="swiper-container swiper-useDeal">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">1</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo Khách hàng mua deal trên
                Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use1.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">2</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use2.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">3</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use3.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="useDeal__item">
              <div class="useDeal__number">4</div>
              <div class="useDeal__text">
                Khách hàng mua deal trên Chợ Deal MoMo
              </div>
              <div class="useDeal-image">
                <img
                  data-src="img/chodeal/use3.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-button-next swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Tiếp theo"
            focusable="false"
            style=""
          >
            <path
              d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
        <div class="swiper-button-prev swiper-button-white">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Trước"
            focusable="false"
            style=""
          >
            <path
              d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white o-hidden" id="loiich">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 mb-3 mb-lg-4 text-center">
        Khám phá lợi ích hấp dẫn khi tham gia Chợ Deal
      </h2>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2">
        <div class="box__chodeal" data-aos="fade-left" data-aos-delay="400">
          <p>
            Bạn muốn
            <strong class="text-primary-2">mở rộng kênh bán hàng?</strong> Bạn
            muốn
            <strong class="text-primary-2"
              >tiếp cận khách hàng sâu, rộng hơn?</strong
            >
          </p>

          <p>
            Bạn có trong tay quá nhiều deal hời nếu không giới thiệu cho khách
            hàng thì hơi phí?
          </p>

          <p>
            Hãy gửi gắm tất cả ở Chợ Deal MoMo -
            <strong class="text-primary-2"
              >giải pháp kênh bán hàng hoàn hảo</strong
            >
            mà bạn đang tìm kiếm.
          </p>

          <p>
            Trở thành đối tác của Chợ Deal MoMo ngay hôm nay để nhận được những
            lợi ích tuyệt vời!
          </p>
        </div>
      </div>

      <div class="col-md-9 col-lg-6 col-xl-6 order-lg-1">
        <div data-aos="fade-right" data-aos-delay="200">
          <img src="img/chodeal/ill1.svg" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>

  <!-- modalCampaign -->
</section>

<section class="bg-pinklight o-hidden" id="">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-1">
        <h2
          class="text-primary-2 mb-3 mb-lg-4 text-center text-md-left"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          Quảng bá hiệu quả
        </h2>

        <p data-aos="fade-up" data-aos-delay="400">
          Với gần <strong class="text-primary-2">20 triệu người dùng</strong>,
          Ví MoMo là kênh tiếp thị miễn phí hình ảnh,
          <strong class="text-primary-2">tăng nhận diện thương hiệu</strong> cho
          doanh nghiệp của bạn. Chỉ cần ngồi yên, Chợ Deal sẽ giúp bạn chuyển
          đổi khách hàng tiềm năng thành “khách quen” nhanh chóng,
          <strong class="text-primary-2">tối ưu chi phí marketing.</strong>
        </p>
      </div>

      <div class="col-md-9 col-lg-6 col-xl-6 order-lg-2">
        <div data-aos="fade-left" data-aos-delay="200">
          <img src="img/chodeal/ill2.svg" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white o-hidden" id="">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2">
        <h2
          class="text-primary-2 mb-3 mb-lg-4 text-center text-md-left"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          Đơn tăng đều đều
        </h2>

        <p data-aos="fade-up" data-aos-delay="400">
          Một ưu điểm nổi bật của
          <strong class="text-primary-2">Chợ Deal</strong> là phân phối deal đến
          đúng đối tượng khách hàng có nhu cầu với
          <strong class="text-primary-2"
            >tỷ lệ chuyển đổi deal-thành-bill cao, đẩy mạnh tăng trưởng doanh
            số</strong
          >. Ngoài ra, Chợ Deal còn giúp bạn
          <strong class="text-primary-2"
            >tiết kiệm chi phí nhân sự, marketing</strong
          >
          và hạn chế rủi ro vận hành.
        </p>
      </div>

      <div class="col-md-9 col-lg-6 col-xl-6 order-lg-1">
        <div data-aos="fade-left" data-aos-delay="200">
          <img src="img/chodeal/ill3.svg" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-pinklight o-hidden" id="">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-1">
        <h2
          class="text-primary-2 mb-3 mb-lg-4 text-center text-md-left"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          Nhận diện khách quen
        </h2>

        <p data-aos="fade-up" data-aos-delay="400">
          Khách hàng của bạn là ai? Họ sử dụng deal của bạn như thế nào? Bạn có
          thể làm gì để đáp ứng nhu cầu khách hàng? Chợ Deal sẽ trả lời những
          câu hỏi đó thông qua
          <strong class="text-primary-2"
            >hệ thống báo cáo chi tiết, rõ ràng, trực quan,</strong
          >
          từ đó giúp bạn xác định được
          <strong class="text-primary-2">chân dung khách hàng</strong> và đưa ra
          <strong class="text-primary-2">chiến lược phù hợp.</strong>
        </p>
      </div>

      <div class="col-md-9 col-lg-6 col-xl-6 order-lg-2">
        <div data-aos="fade-left" data-aos-delay="200">
          <img src="img/chodeal/ill4.png" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white o-hidden" id="gioithieu">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="h2 text-primary-2 mb-2 text-center">
          Mời bạn dạo quanh một vòng Chợ Deal
        </h2>
        <p class="text-gray text-center mb-4">
          Đây là giao diện của Chợ Deal - nơi giao dịch hàng trăm deal hot, đa
          dạng lĩnh vực thu hút khách hàng
        </p>
      </div>
    </div>

    <div class="d-none d-md-block">
      <div
        class="row manual-device-swiper-container align-items-center no-gutters"
      >
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div
            class="manual-device d-block ml-lg-auto mr-lg-5"
            id="hd-sub-img-53138152"
            childId="53138152"
          >
            <div class="manual-device-stock"></div>

            <div class="manual-device-slide">
              <div
                class="swiper-container manual-device-swiper"
                id="hd-sub-swp-53138152"
              >
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      data-src="img/chodeal/hd1.png"
                      class="img-fluid w-100 lazyload"
                      alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo Ví MoMo"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                      class="img-fluid lazyload"
                      alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i Ví MoMo"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                      class="img-fluid lazyload"
                      alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c  Ví MoMo"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                      class="img-fluid lazyload"
                      alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p  Ví MoMo"
                    />
                  </div>
                </div>

                <div class="swiper-button-next swiper-button-white">
                  <svg
                    viewBox="0 0 18 18"
                    role="img"
                    aria-label="Tiếp theo"
                    focusable="false"
                    style=""
                  >
                    <path
                      d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <div class="swiper-button-prev swiper-button-white">
                  <svg
                    viewBox="0 0 18 18"
                    role="img"
                    aria-label="Trước"
                    focusable="false"
                    style=""
                  >
                    <path
                      d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 order-1 order-md-2">
          <ol
            class="process list-unstyled manual-process chodeal-process"
            childId="53138152"
            id="hd-sub-ctn-53138152"
          >
            <li class="process_item active">
              <div class="process__body">
                <h4 class="process__body-title">Danh mục Deal</h4>
                <div class="process__body-content">
                  <p>
                    Đa dạng ngành hàng giúp khách hàng dễ dàng tìm kiếm deal
                    theo sở thích
                  </p>
                </div>
              </div>
            </li>
            <li class="process_item">
              <div class="process__body">
                <h4 class="process__body-title">Flash Deal</h4>
                <div class="process__body-content">
                  <p>
                    Đa dạng ngành hàng giúp khách hàng dễ dàng tìm kiếm deal
                    theo sở thích
                  </p>
                </div>
              </div>
            </li>
            <li class="process_item">
              <div class="process__body">
                <h4 class="process__body-title">Trang thương hiệu</h4>
                <div class="process__body-content">
                  <p>
                    Đa dạng ngành hàng giúp khách hàng dễ dàng tìm kiếm deal
                    theo sở thích
                  </p>
                </div>
              </div>
            </li>
            <li class="process_item">
              <div class="process__body">
                <h4 class="process__body-title">Chi tiết Deal</h4>
                <div class="process__body-content">
                  <p>
                    Đa dạng ngành hàng giúp khách hàng dễ dàng tìm kiếm deal
                    theo sở thích
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="d-block d-md-none">
      <div
        class="htu-mockup"
        style="cursor: pointer"
        data-toggle="modal"
        data-target="#htu-modal"
      >
        <div
          class="htu-mockup-item i1"
          style="background-image: url('img/chodeal/hd1.png')"
        ></div>
        <div
          class="htu-mockup-item i2"
          style="
            background-image: url('https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg');
          "
        ></div>
        <div
          class="htu-mockup-item i3"
          style="
            background-image: url('https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg');
          "
        ></div>
      </div>

      <div class="text-center">
        <a
          href=""
          target="_blank"
          data-toggle="modal"
          data-target="#htu-modal"
          class="btn btn-primary-2"
          >Xem chi tiết</a
        >
      </div>
    </div>
  </div>
</section>

{% set News2 = [ { "name" : "Liên kết ngân hàng, nhập mã rước quà về ví", "link"
: "https://momo.vn/lienkettaikhoan", "image" :
"https://uphinh.vn/images/2020/06/09/4a809e4812ff325359f358bba90c353f.jpg",
"desc" : "Nhập mã <strong>&quot;HELLOMOMO&quot;</strong> khi lần đầu liên kết 1
trong 25 ngân hàng sẽ nhận ngay gói quà thanh toán trị giá 500.000 đồng." }, {
"name" : "Giới thiệu bạn bè, săn quà một triệu", "link" :
"https://momo.vn/gioi-thieu-momo", "image" :
"https://static.mservice.io/blogscontents/momo-upload-api-200602163750-637267126701010153.jpg",
"desc" : "Khi giới thiệu Ví MoMo cho bạn bè và người thân sử dụng sẽ được nhận
ngay gói quà ngẫu nhiên trị giá lên đến 1.000.000đ " }, { "name" : "Vietnam
Airlines: du lịch thông minh, săn vé siêu đỉnh", "link" :
"https://bit.ly/giam-gia-ve-may-bay-vna", "image" :
"https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200602134012-637267020120654939.jpg",
"desc" : "Từ 1/6 - 30/6, giảm ngay 120.000đ cho hóa đơn mua vé máy bay từ
700.000đ khi nhập mã <strong>&quot;BAY6&quot;</strong> trên Ví MoMo" }, { "name"
: "MCREDIT: Thanh toán lần đầu, ưu đãi cực ngầu", "link" :
"https://bit.ly/giam-50k-thanh-toan-vay-mcredit", "image" :
"https://static.mservice.io/blogscontents/momo-upload-api-200427155034-637235994349807208.jpg",
"desc" : "Từ nay đến 30/6, khách hàng MCreidit lần đầu thanh toán vay tiêu dùng
qua Ví MoMo nhận ưu đãi giảm 50.000đ cho hóa đơn trên 100.000đ" }, { "name" :
"Giảm 50.000đ thanh toán phí bảo hiểm AIA trên MoMo", "link" :
"https://bit.ly/giam-50k-thanh-toan-bao-hiem-aia-tren-momo", "image" :
"https://static.mservice.io/blogscontents/momo-upload-api-200601102909-637266041493548750.jpg",
"desc" : "Từ 01/06 - 31/07, người dùng lần đầu thanh toán bảo hiểm Nhân thọ AIA
được giảm 50.000đ cho hóa đơn trên 500.000đ khi nhập mã
<strong>&quot;AIA&quot;</strong>" }, { "name" : "Thanh toán bảo hiểm, nhập mã
nhận quà", "link" : "https://bit.ly/giam-50k-thanh-toan-bao-hiem-prudential",
"image" :
"https://static.mservice.io/blogscontents/momo-upload-api-200601113231-637266079512493349.jpg",
"desc" : "Từ 01/06 - 31/07, người dùng lần đầu thanh toán bảo hiểm Nhân thọ
Prudential được giảm 50.000đ cho hóa đơn trên 500.000đ khi nhập mã
<strong>&quot;PVA&quot;</strong>" } ] %}

<section class="bg-white o-hidden" id="cacloaideals">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">
        Các loại Deal bạn có thể cung cấp
      </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="row">
          {% for i in [0,1,2,3] %}

          <div class="col-md-6 col-lg-6 card__space">
            <article class="card h-100">
              <div class="card__inner">
                <header class="card__header mb-3">
                  <figure class="card__figure rounded overflow-hidden">
                    <a
                      href="https://momo.vn/lienkettaikhoan"
                      data-toggle="modal"
                      data-target="#modalTinTuc"
                    >
                      <div class="embed-responsive embed-responsive-new">
                        <img
                          src="https://static.mservice.io/img/momo-upload-api-200611094937-637274657779163185.jpg"
                          alt=""
                          class="embed-responsive-img card__image lazyloaded"
                        />
                      </div>
                    </a>
                  </figure>
                </header>

                <div class="card__body">
                  <h5 class="card__title">
                    <a
                      href="https://momo.vn/lienkettaikhoan"
                      data-toggle="modal"
                      data-target="#modalTinTuc"
                      class="card__title__link font-weight-bold"
                    >
                      Flash Sale: Deal giảm giá sốc theo khung giờ hot
                    </a>
                  </h5>
                </div>
              </div>
            </article>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>

    <div class="text-center mt-0 mt-lg-3 d-md-none">
      <a
        href=""
        class="btn btn-outline-primary font-weight-bold rounded-pill px-4 uudai__loadmore"
        >Xem thêm</a
      >
    </div>
  </div>
</section>

<section class="bg-pinklight o-hidden" id="quanlydeals">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 mb-3 mb-lg-4 text-center">
        Quản lý deal tiện lợi cùng MoMo
      </h2>
    </div>

    <div class="swiper-container swiper-feature">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-5">
              <div class="fff-img">
                <img
                  data-src="img/chodeal/ff1.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <h4 class="mt-4 mt-lg-0">TRỰC QUAN</h4>
              <p>
                <strong>Giao diện thân thiện</strong> của hệ thống báo cáo giúp
                việc <strong>đọc dữ liệu</strong> không còn là điều khó nhằn!
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-5">
              <div class="fff-img">
                <img
                  data-src="img/chodeal/ff2.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <h4 class="mt-4 mt-lg-0">HIỆU QUẢ</h4>
              <p>
                <strong>Số lượng</strong> và <strong>Doanh thu</strong> mang về
                từ voucher đã sử dụng được <strong>cập nhật liên tục</strong>,
                giúp bạn theo dõi hiệu quả sử dụng voucher
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-5">
              <div class="fff-img">
                <img
                  data-src="img/chodeal/ff3.png"
                  class="lazyload img-fluid d-block mx-auto"
                  alt=""
                />
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <h4 class="mt-4 mt-lg-0">CHUYÊN SÂU</h4>
              <p>
                Báo cáo giao dịch sử dụng deal chi tiết giúp bạn
                <strong>quản lý thông tin</strong> khách hàng
                <strong>dễ dàng</strong>, từ đó tìm ra những giải pháp
                <strong>phát triển sản phẩm </strong> và
                <strong>chiến lược kinh doanh.</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <div class="swiper-button-next swiper-button-white">
        <svg
          viewBox="0 0 18 18"
          role="img"
          aria-label="Tiếp theo"
          focusable="false"
          style=""
        >
          <path
            d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </div>
      <div class="swiper-button-prev swiper-button-white">
        <svg
          viewBox="0 0 18 18"
          role="img"
          aria-label="Trước"
          focusable="false"
          style=""
        >
          <path
            d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
<section class="bg-white o-hidden" id="doitac">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 mb-3 mb-lg-4 text-center">
        Đối tác nổi bật
      </h2>
    </div>

    <div class="logo-wrap">
      {% for item in range(0,12) %}

      <div class="logo-item">
        <img
          src="https://momo.vn/momo2020/img/lp/logo1.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div class="logo-item">
        <img
          src="https://momo.vn/momo2020/img/lp/logo2.png"
          class="img-fluid"
          alt=""
        />
      </div>

      {% endfor %}
    </div>

    <div class="text-center mt-4">
      <a href=""
        >Xem thêm <i data-feather="chevron-down" style="width: 14px"></i>
      </a>
    </div>
  </div>
</section>

<section class="bg-pinklight o-hidden" id="dangky">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 mb-3 mb-lg-4 text-center">
        Còn chần chừ gì nữa - tham gia Chợ Deal ngay
      </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto d-flex">
        <div class="hmm-box">
          <div>
            <div class="mb-3 hmm-box-tt">
              Bạn <strong>đang </strong> là đối tác thanh toán của MoMo
            </div>
            <div class="text-center">
              <a href="" class="btn btn-primary-2 hmm-btn">
                Đăng ký chợ Deal ngay
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-auto d-flex">
        <div class="hmm-box">
          <div>
            <div class="mb-3 hmm-box-tt">
              Bạn <strong>chưa </strong> là đối tác thanh toán của MoMo ?
            </div>
            <div class="text-center mb-2">
              <a href="" class="btn btn-primary-2 hmm-btn">
                Đăng ký đối tác & Chợ Deal
              </a>
            </div>

            <div class="text-center mt-3">
              <a href="" class="d-block font-weight-bold">
                <u>Chỉ đăng ký Chợ Deal</u>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="app-download vp_hide">
  <div class="container text-center">
    <div class="app-download__content">
      <a  href="https://momoapp.page.link/qwL7UU2UkqbRqrVJ7" class="link-absolute d-block d-md-none" ></a>
      <div class="tt text-center ">
        Tham gia v&agrave; chờ đ&oacute;n ng&agrave;y hội si&ecirc;u sale ngay
      </div>

      <div class="app-download__btn">
        <button
          class="btn font-weight-bold btn-primary-2 py-1 px-2 d-none d-md-block"
          data-container="body"
          data-target="#qrcode-modal-mg2020"
          data-toggle="modal"
          role="button"
          tabindex="0"
        >
          MUA NGAY</button
        >
        <a
          class="btn font-weight-bold btn-primary-2 py-1 px-2 d-block d-md-none"
          data-smooth-scroll=""
          href="https://momoapp.page.link/qwL7UU2UkqbRqrVJ7"
          >MUA NGAY
        </a>
      </div>
    </div>
  </div>
</div>
  {% include "layouts/modal.html" %} {% endblock %} {% block javascript %}

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script> -->

  <script>
    $(document).ready(function () {
      // data-offset="160" data-spy="scroll" data-target=".menu-nongsan"
      $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

      var headerHideAuto = function () {
        var mainHeader = $(".navbar-lp-container");
        var scrolling = false,
          previousTop = 0,
          currentTop = 0,
          scrollDelta = 10,
          scrollOffset = 150;

        function autoHideHeader() {
          var currentTop = $("html").scrollTop();
          if (previousTop - currentTop > scrollDelta) {
            mainHeader.removeClass("is-hidden");
          } else if (
            currentTop - previousTop > scrollDelta &&
            currentTop > scrollOffset
          ) {
            mainHeader.addClass("is-hidden");
          }

          previousTop = currentTop;
          scrolling = false;
        }

        $(window).on("scroll", function () {
          if (!scrolling) {
            scrolling = true;
            !window.requestAnimationFrame
              ? setTimeout(autoHideHeader, 250)
              : requestAnimationFrame(autoHideHeader);
          }
        });
      };
      headerHideAuto();

      $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

      $("#navigation-menu").on("show.bs.collapse", function () {
        document.body.classList.add("navbar-lp-open");
      });

      $("#navigation-menu").on("hide.bs.collapse", function () {
        document.body.classList.remove("navbar-lp-open");
      });

      $(".navbar-lp .navbar-nav").on("click", function () {
        $(".navbar-collapse").collapse("hide");
      });

      $(".navbar-lp").on("click", function () {
        $(".navbar-collapse").collapse("hide");
      });

      var swiperff = new Swiper(".swiper-feature", {
        slidesPerView: 1,
        spaceBetween: 0,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      if ($(".swiper-useDeal").find(".swiper-slide").length > 1) {
        var swiperUser = new Swiper(".swiper-useDeal", {
          slidesPerView: 4,
          spaceBetween: 0,
          simulateTouch: false,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          breakpoints: {
            1000: {
              slidesPerView: 2,
              spaceBetween: 0,
            },

            600: {
              slidesPerView: 1,
              spaceBetween: 0,
            },
          },
          on: {
            init: function () {
              // console.log('swiper initialized');
            },
            slideChangeTransitionEnd: function () {
              $(".useDeal__number").removeClass("is-active");
              $(".useDeal__number").eq(this.activeIndex).addClass("is-active");
            },
          },
        });

        $(".useDeal__mb")
          .find(".useDeal__number")
          .each(function (e) {
            var pos = e;

            $(this).on("click", function (e) {
              $(".useDeal__number").removeClass("is-active");
              $(this).addClass("is-active");
              swiperUser.slideTo(pos);
            });
          });
      }


      var now             = new Date;
            var day             = 864e5;
            var weeksToAdd      = 2;
            var tenWeeksFromNow = new Date(+now + day * 7 * weeksToAdd).toISOString().slice(0,10).replace(/\-/g, '/');
    $('[data-countdown-date].add-countdown-time').attr('data-countdown-date', tenWeeksFromNow);
    });



  </script>
  {% endblock %}
</div>
