{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link href="css/lp-danang.css" rel="stylesheet" type="text/css" media="all" />

{% endblock %} {% block header %}

<div class="navbar-container header-position">
  <nav class="navbar navbar-expand-lg navbar-dark py-0 px-0 navbar-lp">
    <div class="container header__container">
      <div class="d-flex align-items-center">
        <a class="navbar-brand navbar-brand-dynamic-color fade-page ml-3" href="/">

          <img alt="MoMo" src="https://static.mservice.io/jk/accmm/rs/assets/img/momo-white.png" width="40" style="">
      </a>

      
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon"
            data-inject-svg
            src="img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon"
            data-inject-svg
            src="img/icons/interface/icon-x.svg"
          />
        </button>
      </div>

      <div
        class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-nongsan"
        id="navigation-menu"
      >
        {% set menu = [ { "name": "Quyên góp", "id" : "quyengop", "link" : ""
        }, { "name": "Về chiến dịch", "id" : "chiendich", "link" : "" }, { "name":
        "Lời chia sẻ", "id" : "chiase", "link" : "" }, { "name": "MoMo vì Đà Nẵng", "id" : "danang", "link" : "" }, { "name": "Tin tức", "id" : "tintuc", "link" : "" } ] %}

        <ul class="navbar-nav m-0">
          {% for item in menu %}
          <li class="nav-item">
            <a
              class="nav-link nav-item"
              href="#{{item.id}}"
              data-smooth-scroll
              role="button"
              >{{item.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %} {% set testi = [ { "name": "Nguyen Tan Nam", "phone":
"*******255", "content": "Đà Nẵng cố lên! Việt Nam quyết tâm - quyết thắng đại
dịch!" }, { "name": "Pham Anh Kiet ", "phone": "*******879", "content": "Của ít
lòng nhiều, hy vọng đất nước sẽ sớm vượt qua đại dịch. Việt Nam cố lên!" }, {
"name": "Giang Quyen Anh", "phone": "*******441", "content": "Gửi Đà Nẵng thân
thương " }, { "name": "Ly Van Huy ", "phone": "*******722", "content": " Chúc
các y bác sĩ cùng tất cả người dân sớm đẩy lùi dịch bệnh 3" }, { "name": "Ha Kim
Sinh", "phone": "*******255", "content": "Chúc Đà Nẵng vượt qua được trận dịch
này!" }, { "name": "Nhà Hảo Tâm Ẩn Danh", "phone": "*******255", "content":
"Quyết thắng Covid-19!" }, { "name": "Le Ngoc Huong", "phone": "*******255",
"content": "Mong tất cả các chiến sĩ áo trắng cùng người dân Đà Nẵng vượt qua
khó khăn!" }, { "name": "Le Thi Ngoc Trinh", "phone": "*******255", "content":
"Tôi hi vọng Đà Nẵng sẽ vượt qua khó khăn này!" } ] %} {% block content %}
<div class="kv-section bg-light" id="trangchu">
  <div class="kv-section kv-desktop">
    <div class="swiper-container swiper-kv">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-kv">
            <div class="d-none d-md-block">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/lp/KV_Desktop.jpg"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
            <div class="d-block d-md-none">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/lp/KV_Mobile.jpg"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="kv-pagination">
        <div class="container position-relative">
          <div class="swiper-button-next">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-button-prev">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="kv-section-curve">
      <svg
        width="1440"
        height="40"
        viewBox="0 0 1440 40"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Rectangle 12</title>
        <path
          d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
          fill="#fff"
          fill-rule="evenodd"
        />
      </svg>
    </div>
  </div>
</div>

{% include "lp-components/donation.html" %}

<section class="bg-white o-hidden bg-light" id="chiendich">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-3 mb-3 mb-lg-4 text-center">
        Về Chiến dịch "Chung tay cùng Đà Nẵng"
      </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div
          class="qu-image"
          data-aos="fade-up"
          data-aos-delay="0"
          data-aos-duration="1000"
          data-aos-offset="50"
        >
          <img
            src="	https://static.mservice.io/images/s/momo-upload-api-200817105820-637332587001436262.png"
            class="img-fluid d-block mx-auto"
            width="440"
            alt=""
          />
        </div>
        <div
          class="qu-container"
          data-aos="fade-up"
          data-aos-delay="250"
          data-aos-duration="1000"
          data-aos-offset="50"
        >
          <div class="mb-3">
            Hưởng ứng lời kêu gọi của Ủy ban Mặt trận Tổ Quốc Việt Nam Tp. Đà
            Nẵng, Ví điện tử MoMo khởi động chiến dịch
            <strong class="text-primary-2"
              >“Chung tay cùng Đà Nẵng, triệu người quyên góp, quyết thắng đại
              dịch!”.</strong
            >
          </div>

          <div class="mb-3">
            Tại Đà Nẵng - tâm dịch của cả nước, hàng chục ngàn y bác sĩ, chiến
            sĩ không quản an nguy bản thân, chiến đấu với dịch bệnh, hàng triệu
            người dân Đà Nẵng tình nguyện cách ly vì cộng đồng
          </div>
          <div>
            Hãy cùng chung tay quyên góp hỗ trợ các y bác sĩ, đồng bào tại Đà
            Nẵng . Khi cả triệu người cùng chung sức: Đà Nẵng, Việt Nam sẽ sớm
            chiến thắng đại dịch!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-0 " id="chiase">
  <div class="container">
    <div class="user-testi">
      <div class="text-center mb-4">
        <div class="subheading border-primary-2">
          Lời nhắn các nhà hảo tâm gửi tới
          <strong class="text-primary-2"> Đà Nẵng</strong>
        </div>
      </div>

      <div class="swiper-container swiper-user-testi">
        <div class="swiper-wrapper">
          {% for item in testi %}
          <div class="swiper-slide">
            <div class="media user-testi__item">
              <div class="user-testi__avatar mr-3">{{ item.name | first}}</div>
              <div
                class="media-body content p-3 rounded bg-white position-relative"
              >
                <p class="font-italic user-testi__content">
                  "{{item.content}}"
                </p>
                <div class="user-testi__name text-primary-2">
                  {{ item.name | capitalize}}
                  <!-- <span class="text-muted"> - {{item.phone}}</span> -->
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Add Pagination -->
   
        <!-- Add Arrows -->
        <div class="user-testi__pagination ">
          <div class="swiper-button-next">
            <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false"
              style=" fill: currentcolor;">
              <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                fill-rule="evenodd"></path>
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false"
              style=" fill: currentcolor;">
              <path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                fill-rule="evenodd"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "lp-components/tinhnang.html" %}

<section class="o-hidden bg-white"" id="tintuc">
  <div class="container">


    <div class="" id="hmm">
      <h2 class="h2 text-primary-3 mb-3 mb-lg-4 text-center">
        Lời nhắn của các “Chiến sĩ áo trắng”
      </h2>
    </div>


    <div class="swiper-container swiper-testi">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="embed-responsive embed-responsive-16by9 rounded overflow-hidden shadow-sm mb-0 customer-testi-img mr-3"
          >
            <img
              data-src="https://static.mservice.io/blogscontents/momo-upload-api-200302114606-637187463666994055.jpg"
              class="embed-responsive-img lazyload"
              alt=""
            />
          </div>

          <div class="customer-testi position-relative">
            <blockquote class="mt-0 mb-2 font-weight-bold">
              "Cảm ơn các bạn đã ở nhà vì chúng tôi."
            </blockquote>

            <div class="text-small">
              Nguyễn Viết Hiếu <br /><small class="text-muted"
                >Sinh viên trường Đại học Y Hà Nội
              </small>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="embed-responsive embed-responsive-16by9 rounded overflow-hidden shadow-sm mb-0 customer-testi-img mr-3"
          >
            <img
              data-src="https://static.mservice.io/blogscontents/momo-upload-api-200302114606-637187463666994055.jpg"
              class="embed-responsive-img lazyload"
              alt=""
            />
          </div>

          <div class="customer-testi position-relative">
            <blockquote class="mt-0 mb-2 font-weight-bold">
              "Cảm ơn các bạn vì những điều nhỏ bé nhưng tuyệt vời."
            </blockquote>

            <div class="text-small">
              Tập thể Bác sĩ <br /><small class="text-muted"
                >Bệnh viện Nhiệt đới
              </small>
            </div>
          </div>
        </div>
        {% for item in range(0,3) %}
        <div class="swiper-slide">
          <div
            class="embed-responsive embed-responsive-16by9 rounded overflow-hidden shadow-sm mb-0 customer-testi-img mr-3"
          >
            <img
              data-src="https://static.mservice.io/blogscontents/momo-upload-api-200302114606-637187463666994055.jpg"
              class="embed-responsive-img lazyload"
              alt=""
            />
          </div>
          <div class="customer-testi position-relative">
            <blockquote class="mt-0 mb-2 font-weight-bold">
              "Cảm ơn các bạn đã tiếp sức để chúng tôi chiến đấu cùng Covid"
            </blockquote>
            <div class="text-small">
              Tập thể Sinh viên <br /><small class="text-muted"
                >Trường Đại học Y Tp.HCM
              </small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination123"></div>

      <!-- Add Arrows -->
      <div class="swiper-button-next">
        <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false"
          style=" fill: currentcolor;">
          <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false"
          style=" fill: currentcolor;">
          <path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
    </div>

    <br />
    <br />

    <div class="text-center">
      <h2
        class="mb-4 text-primary-3"
        data-aos="fade-in"
        data-aos-offset="100"
      >
        Tin tức
      </h2>
    </div>

    <div class="swiper-container swiper-tintuc">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="tintuc-item position-relative overflow-hidden shadow-sm rounded"
          >
            <div class="position-relative">
              <a href="" data-toggle="modal" data-target="#modalTinTuc">
                <div class="embed-responsive tintuc-embed">
                  <img
                    data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200302115006-637187466066062040.jpg"
                    class="img-fluid rounded-top embed-responsive-img lazyload"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <div class="content p-3">
              <div>
                <a
                  href="javascript:void(0)"
                  class="title text-dark"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                  >Ví MoMo thăm và tặng quà cho 4 em nhỏ được hỗ trợ phẫu
                  thuật tim MoMo thăm và tặng quà cho 4 em nhỏ được hỗ trợ
                  phẫu thuật tim</a
                >
              </div>

              <div class="row no-gutters mt-2 align-items-center">
                <div class="col-auto">
                  <div class="post-meta">
                    <small class="date">
                      <img
                        src="img/icons/interface/icon-clock.svg"
                        alt="Media Play Icon"
                        class="icon icon-xs pr-1 bg-gray"
                        style="height: 0.8rem;"
                        data-inject-svg
                      />
                      02/03/2020
                    </small>
                  </div>
                </div>
                <div class="col">
                  <div class="text-right text-small">
                    <a href="#" data-toggle="modal" data-target="#modalTinTuc"
                      >Chi tiết</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for item in range(0,5) %}
        <div class="swiper-slide">
          <div
            class="tintuc-item position-relative overflow-hidden shadow-sm rounded"
          >
            <div class="position-relative">
              <a href="" data-toggle="modal" data-target="#modalTinTuc">
                <div class="embed-responsive tintuc-embed">
                  <img
                    data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200302115006-637187466066062040.jpg"
                    class="img-fluid rounded-top embed-responsive-img lazyload"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <div class="content p-3">
              <div>
                <a
                  href="javascript:void(0)"
                  class="title text-dark"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                  >Ví MoMo thăm và tặng quà cho 4 em nhỏ được hỗ trợ phẫu
                  thuật tim</a
                >
              </div>

              <div class="row no-gutters mt-2 align-items-center">
                <div class="col-auto">
                  <div class="post-meta">
                    <small class="date">
                      <img
                        src="img/icons/interface/icon-clock.svg"
                        alt="Media Play Icon"
                        class="icon icon-xs pr-1 bg-gray"
                        style="height: 0.8rem;"
                        data-inject-svg
                      />
                      02/03/2020
                    </small>
                  </div>
                </div>
                <div class="col">
                  <div class="text-right text-small">
                    <a href="#" data-toggle="modal" data-target="#modalTinTuc"
                      >Chi tiết</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="swiper-button-next">
        <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false"
          style=" fill: currentcolor;">
          <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false"
          style=" fill: currentcolor;">
          <path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
    </div>

    <!--end row-->
  </div>
</section>




<div class="modal fade" id="modalTinTuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Chi tiết bài viết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="px-0 px-lg-3">
          <article class="article">

            <h3 class="h2 text-primary-2">Cùng Ví MoMo làm nên những “Điều nhỏ bé vĩ đại” tiếp sức cho những Chiến sĩ áo
              trắng chống dịch Covid-19</h3>

            <div class="d-flex align-items-center mb-3 mb-xl-4">
              <div class="text-small text-muted">Thứ 5, 09/04/2020</div>
            </div>

            <p class="lead">
              Chiến dịch “Điều nhỏ bé vĩ đại” của Ví điện tử MoMo phối hợp cùng Uỷ ban Trung Ương Mặt Trận Tổ Quốc,
              Trường Đại học Y Hà Nội ra đời với mong ước góp thêm ngọn lửa, tiếp thêm sức mạnh, ủng hộ và động viên cho
              những Chiến sĩ áo trắng - lực lượng tinh nhuệ tiên phong trong cuộc chiến chống covid-19 vững tâm vượt qua
              đại dịch.
            </p>

            <div class="full-content">

              <p style="text-align: justify;">
                <div class="lightgallery-item"
                  data-src="https://static.mservice.io/blogscontents/momo-upload-api-200409093655-637220218158306991.jpg"
                  data-sub-html="Điều Nhỏ Bé Vĩ Đại">
                  <div class="lightgallery-item-img"><img alt="Điều Nhỏ Bé Vĩ Đại"
                      src="https://static.mservice.io/blogscontents/momo-upload-api-200409093655-637220218158306991.jpg"
                      style="width: 800px; height: 613px;"></div>
                </div>
              </p>

              <p style="text-align: justify;">Dịch viêm đường hô hấp cấp (Covid-19) vẫn tiếp tục lan rộng khi xuất hiện
                tại hơn 200 quốc gia. Theo các chuyên gia, dịch Covid-19 diễn biến phức tạo, sẽ không thể dễ dàng được
                kiểm soát trong một sớm, một chiều.</p>

              <p style="text-align: justify;">Trong cơn “khủng hoảng” tinh thần lẫn vật chất, về sự mong manh của sự
                sống con người trước dịch bệnh. Thật may mắn khi chúng ta vẫn luôn nhìn thấy những hình ảnh cảm động:
                Hàng chục ngàn y bác sĩ, các điều dưỡng viên; Hàng trăm sinh viên tình nguyện từ các trường Y không quản
                an nguy của bản thân, xông pha nơi tuyến đầu chiến đấu chống lại đại dịch Covid-19. Trái tim và sứ mệnh
                của người thầy thuốc không cho phép họ sợ hãi, lùi bước trước khó khăn.</p>

              <p style="text-align: justify;">Những <strong>Chiến sĩ áo trắng</strong> - họ có thể là cha/mẹ, anh/em, là
                cô hàng xóm, là người bạn cùng lớp hay một người xa lạ bạn chưa từng gặp mặt. <strong>Họ đã sống trọn
                  với sứ mệnh của mình, với lời thề Hippocrates - Bảo vệ từng sinh mệnh quý giá như chính bản thân
                  mình</strong>. Họ đã không gục ngã và chúng ta cũng vậy.</p>

              <p style="text-align: justify;">Ngay lúc này, lòng tốt của mỗi người dân Việt Nam, ý thức bảo vệ chính
                mình, bảo vệ gia đình của mỗi người... dù là nhỏ nhất cũng vô cùng ý nghĩa, giúp những <strong>Chiến sĩ
                  áo trắng</strong> thêm vững tâm. Trong cuộc chiến này, chúng ta cần sự lạc quan, sự tin tưởng, sự góp
                sức về <strong>cả vật chất lẫn tinh thần và CHÚNG TA CẦN SỰ ĐỒNG LÒNG.</strong></p>

              <p style="text-align: justify;"><strong>Ví MoMo tin rằng, mỗi người đều có vai trò riêng trong cuộc chiến
                  chống đại dịch Covid-19. Hành trình tạo nên sự vĩ đại lại khởi đầu từ những điều nhỏ bé.</strong> Hãy
                cùng Ví MoMo làm nên <span style="color:#A50064;"><strong>ĐIỀU NHỎ BÉ VĨ ĐẠI</strong></span> thông qua
                những việc làm đơn giản nhất <strong>“Sống khỏe - Sống tốt - Sống thông minh”.</strong></p>

              <ul>
                <li style="text-align: justify;"><strong>Sống khỏe:</strong> Bạn khỏe mạnh là giảm bớt gánh nặng cho đội
                  ngũ nhân viên y tế.</li>
                <li style="text-align: justify;"><strong>Sống tốt: </strong>Hành động chung sức “góp công, góp của” của
                  bạn sẽ động viên, tiếp thêm sức mạnh cho những chiến sĩ tuyến đầu.</li>
                <li style="text-align: justify;"><strong>Sống thông minh: </strong>Nâng cao hiểu biết/kiến thức phòng
                  chống Covid-19, <strong>Khai báo Y tế tự nguyện</strong> là bảo vệ chính mình chính, gia đình và cộng
                  đồng để đẩy lùi dịch bệnh.</li>
              </ul>

              <p style="text-align: justify;">
                <div class="lightgallery-item"
                  data-src="https://static.mservice.io/blogscontents/momo-upload-api-200409094135-637220220958027456.jpg">
                  <div class="lightgallery-item-img"><img alt=""
                      src="https://static.mservice.io/blogscontents/momo-upload-api-200409094135-637220220958027456.jpg"
                      style="width: 800px; height: 534px;"></div>
                </div>
              </p>

              <p style="text-align: justify;"><strong>Nằm trong chiến dịch “Điều nhỏ bé vĩ đại", Ví MoMo tổ chức các
                  hoạt động online để người dùng cùng tham gia tăng cường sức khỏe, lan tỏa tinh thần lạc quan, tích cực
                  và quyên góp cho các lực lượng trực tiếp chống dịch Covid-19. Cụ thể:</strong></p>

              <h3 style="text-align: justify;"><span style="color:#A50064;"><strong>Sống khỏe</strong></span></h3>

              <p style="text-align: justify;">Kêu gọi mọi người tăng cường sức khoẻ bằng cách bật tính năng “Đi bộ cùng
                MoMo” (icon màu xanh), theo đó, người dùng chỉ cần cầm điện thoại có MoMo hệ thống tự động đếm bước chân
                (đi ở trong nhà hệ thống cũng tự động ghi nhận bước chân). Chỉ cần mỗi ngày đủ 4.000 bước chân (tương
                đương khoảng 3km), người dùng sẽ nhận được <strong>1 huy hiệu</strong> và <strong>thức ăn cho Heo
                  đất</strong> trên Ví MoMo.</p>

              <p style="text-align: justify;"><strong>Huy hiệu</strong> này dùng để quy đổi thành <strong>Heo
                  vàng</strong> và quyên góp, thức ăn thì dùng để nuôi Heo vàng (tuỳ cấp độ Heo đất, cho Heo ăn khoảng
                3-4 lần là có thể có 1 Heo vàng).</p>

              <p style="text-align: justify;"><strong>Người dùng ủng hộ Heo vàng</strong> và<strong> MoMo sẽ quy đổi
                  thành tiền mặt để quyên góp cho Sinh viên Trường Đại học Y Hà Nội. </strong></p>

              <h3 style="text-align: justify;"><span style="color:#A50064;"><strong>Sống tốt</strong></span></h3>

              <p style="text-align: justify;">Quyên góp, tiếp thêm động lực cho lực lượng <strong>Chiến sĩ áo
                  trắng</strong> theo cách:</p>

              <ul>
                <li style="text-align: justify;"><strong>Bước 1:</strong> Tại màn hình chính, chọn<strong> “Điều nhỏ bé
                    vĩ đại”</strong></li>
                <li style="text-align: justify;"><strong>Bước 2:</strong> Chọn trường hợp muốn quyên góp là
                  <strong>“Đồng lòng cùng MTTQ Việt Nam"</strong> hoặc <strong>“Đồng hành cùng Trường ĐH Y Hà
                    Nội”</strong> và làm theo các hướng dẫn.</li>
              </ul>

              <p style="text-align: justify;"><strong>Lưu ý:</strong></p>

              <ul>
                <li style="text-align: justify;"><strong>Để quyên góp cho Mặt Trận Tổ Quốc Việt Nam:</strong> Người dùng
                  sử dụng tiền trong Ví MoMo hoặc trong Heo đất MoMo;</li>
                <li style="text-align: justify;"><strong>Để quyên góp cho Sinh Viên Trường Đại Học Y Hà Nội:</strong>
                  Người dùng sử dụng Heo vàng trong “Heo đất MoMo".</li>
              </ul>

              <p style="text-align: justify;">Trong đó, để tạo ra Heo vàng người dùng chỉ cần thực hiện: (1) Đi bộ mỗi
                ngày 4.000 bước chân để quy đổi; (2) Nuôi Heo đất để tạo ra Heo vàng bằng cách ‘Cho heo ăn'. Chi tiết
                xem <a
                  href="https://momo.vn/huong-dan/huong-dan-nuoi-heo-dat-nhan-heo-vang-va-quyen-gop-tren-vi-momo">TẠI
                  ĐÂY</a>.</p>

              <p style="text-align: justify;">Tất cả Heo vàng mà người dùng quyên góp, sẽ được Ví MoMo quy đổi thành
                tiền mặt (dự kiến 1 tỷ đồng nếu đạt con số 6.500.000 Heo vàng. Con số này có thể cao hơn dựa trên số
                lượng Heo vàng người dùng quyên góp trên thực tế) để quyên góp cho Sinh viên Đại học Y Hà Nội.</p>

              <h3 style="text-align: justify;"><span style="color:#A50064;"><strong>Sống thông minh</strong></span></h3>

              <ul>
                <li style="text-align: justify;">Ngay trên “Điều nhỏ bé vĩ đại", chỉ cần dành ra vài phút <strong>“Khai
                    báo y tế tự nguyện”</strong>, người dùng đã có thể bảo vệ sức khỏe cho chính mình, góp phần phòng
                  chống sự lây lan của dịch Covid-19. Các thông tin khai báo sẽ được quản lý chặt chẽ và chỉ phục vụ
                  chống dịch, không sử dụng vào mục đích khác…</li>
                <li style="text-align: justify;"><strong>Hạn chế tiếp xúc các nguồn có nguy cơ lây lan virus (tiền mặt,
                    nơi công cộng)</strong>. Ưu tiên sử dụng phương thức thanh toán điện tử.</li>
              </ul>

              <p style="text-align: justify;">Chia sẻ về chiến dịch “Điều nhỏ bé vĩ đại”, ông Nguyễn Bá Diệp (Phó Chủ
                tịch, đồng sáng lập Ví MoMo) cho biết: <em>“Theo lời kêu gọi của Chính phủ và Thủ tướng Nguyễn Xuân
                  Phúc, đẩy lùi dịch bệnh Covid-19 là cuộc chiến chung của Việt Nam, trách nhiệm của mỗi người dân. Là
                  doanh nghiệp chúng tôi nhận thấy mình cần có trách nhiệm san sẻ, gánh vác những khó khăn cùng với
                  Chính phủ, cơ quan chức năng, các lực lượng đang ngày đêm trực tiếp chiến đấu với dịch bệnh. Ví MoMo
                  với lợi thế về công nghệ, về người dùng, về đối tác sẽ tận dụng tối đa nguồn lực để giúp nâng cao ý
                  thức người dân, lan tỏa tinh thần tương thân tương ái, kết nối sức mạnh dân tộc”.</em></p>

              <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
                <p style="text-align: justify;">Không phải là người vĩ đại mới tạo nên những điều vĩ đại! Chỉ cần là
                  chính mình và làm những điều nhỏ bé một cách tử tế. Vì<strong>&nbsp;“Bàn tay trao hoa hồng bao giờ
                    cũng phảng phất hương thơm”</strong>&nbsp;hãy cùng Ví MoMo làm nên những điều nhỏ bé, lan tỏa điều
                  này để cả xã hội cùng đồng lòng và tạo nên hàng triệu điều nhỏ bé để trở thành vĩ đại.</p>

                <p style="text-align: justify;"><strong>Tham khảo tại:</strong>&nbsp;<a
                    href="https://momo.vn/dieunhobevidai">https://momo.vn/dieunhobevidai</a></p>
              </div>

            </div>
          </article>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="modalHuongdan" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <div>
                  <h5 class="modal-title w-100 mb-1" id="exampleModalCenterTitle">Hướng dẫn gửi yêu cầu hỗ trợ bằng tính năng "Trợ giúp"</h5>
              </div>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="tab-content">
                      <div class="tab-pane active" id="hd-470">


                          <div class="row manual-device-swiper-container">
                              <div class="col-12 col-lg-6 order-2 order-lg-1">


                                  <div class="manual-device">
                                      <div class="manual-device-stock ">
                                      </div>
                                      <div class="manual-device-slide">




                                          <div class="swiper-container manual-device-swiper">



                                              <div class="swiper-wrapper">
                                                  <div class="swiper-slide">
                                                      <img data-src="https://static.mservice.io/img/momo-upload-api-200810142503-637326663035199932.png"
                                                           class="img-fluid lazyload" alt="Ch&#x1ECD;n &quot;V&#xED; c&#x1EE7;a t&#xF4;i&quot;">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img data-src="https://static.mservice.io/img/momo-upload-api-200810142513-637326663137085965.png"
                                                           class="img-fluid lazyload" alt="Ch&#x1ECD;n &quot;Tr&#x1EE3; gi&#xFA;p&quot;">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img data-src="https://static.mservice.io/img/momo-upload-api-200810142531-637326663312080682.png"
                                                           class="img-fluid lazyload" alt="Ch&#x1ECD;n V&#x1EA5;n &#x111;&#x1EC1; c&#x1EA7;n h&#x1ED7; tr&#x1EE3;/ giao d&#x1ECB;ch c&#x1EA7;n h&#x1ED7; tr&#x1EE3; ">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img data-src="https://static.mservice.io/img/momo-upload-api-200810142548-637326663480570725.png"
                                                           class="img-fluid lazyload" alt="Ch&#x1ECD;n c&#xE2;u h&#x1ECF;i &#x1EE9;ng v&#x1EDB;i v&#x1EA5;n &#x111;&#x1EC1; c&#x1EE7;a Kh&#xE1;ch h&#xE0;ng">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img data-src="https://static.mservice.io/img/momo-upload-api-200810142604-637326663647843122.png"
                                                           class="img-fluid lazyload" alt="&#x110;i&#x1EC1;n &#x111;&#x1EA7;y &#x111;&#x1EE7; th&#xF4;ng tin v&#xE0;o bi&#x1EC3;u m&#x1EAB;u">
                                                  </div>
                                                  <div class="swiper-slide">
                                                      <img data-src="https://static.mservice.io/img/momo-upload-api-200810142617-637326663772229483.png"
                                                           class="img-fluid lazyload" alt="G&#x1EED;i y&#xEA;u c&#x1EA7;u Tr&#x1EE3; gi&#xFA;p">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>


                              <div class="col-12 col-lg-6 order-1 order-lg-2">





                                  <ol class="process list-unstyled manual-process">
                                      <li class="process_item  active ">
                                          <div class="process__number">
                                              <span>1</span>
                                          </div>
                                          <div class="process__body">

                                              <h4 class="process__body-title">Chọn "Ví của tôi"</h4>
                                              <div class="process__body-content">
                                                  <p>Nhấn chọn &ldquo;V&iacute; của t&ocirc;i&rdquo; tr&ecirc;n m&agrave;n h&igrave;nh ch&iacute;nh ứng dụng V&iacute; MoMo.</p>

                                              </div>
                                          </div>
                                      </li>
                                      <li class="process_item   ">
                                          <div class="process__number">
                                              <span>2</span>
                                          </div>
                                          <div class="process__body">

                                              <h4 class="process__body-title">Chọn "Trợ giúp"</h4>
                                              <div class="process__body-content">

                                              </div>
                                          </div>
                                      </li>
                                      <li class="process_item   ">
                                          <div class="process__number">
                                              <span>3</span>
                                          </div>
                                          <div class="process__body">

                                              <h4 class="process__body-title">Chọn Vấn đề cần hỗ trợ/ giao dịch cần hỗ trợ </h4>
                                              <div class="process__body-content">

                                              </div>
                                          </div>
                                      </li>
                                      <li class="process_item   ">
                                          <div class="process__number">
                                              <span>4</span>
                                          </div>
                                          <div class="process__body">

                                              <h4 class="process__body-title">Chọn câu hỏi ứng với vấn đề của Khách hàng</h4>
                                              <div class="process__body-content">

                                              </div>
                                          </div>
                                      </li>
                                      <li class="process_item   ">
                                          <div class="process__number">
                                              <span>5</span>
                                          </div>
                                          <div class="process__body">

                                              <h4 class="process__body-title">Điền đầy đủ thông tin vào biểu mẫu</h4>
                                              <div class="process__body-content">

                                              </div>
                                          </div>
                                      </li>
                                      <li class="process_item   ">
                                          <div class="process__number">
                                              <span>6</span>
                                          </div>
                                          <div class="process__body">

                                              <h4 class="process__body-title">Gửi yêu cầu Trợ giúp</h4>
                                              <div class="process__body-content">

                                              </div>
                                          </div>
                                      </li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          </div>
      </div>
  </div>
</div>


<div class="modal htu-modal modal__fullscreen fade " id="htu-modal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">

            <div class="modal__header">

                <div class="modal__nav">
                    <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>

                    </a>
                </div>


                <div class="modal__title text-center text-truncate">
                   Tải ứng dụng ví MoMo
                </div>


                <div class="modal__nav">
                    <!-- <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="svg-icon">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </a> -->
                </div>

            </div>


            <div class="modal-body p-0">

                <div class="htu-modal-content ">


                    <div class="swiper-container htu-slider ">
                        <div class="swiper-wrapper ">

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">


                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 1/6 : </strong> Tải ứng dụng Ví
                                                MoMo
                                            </h3>
                                            <div class="htu-slider-body">
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.

                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.


                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 2/6 : </strong> Nhập số điện
                                                thoại
                                            </h3>
                                            <div class="htu-slider-body">
                                                Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí
                                                Internet Banking của ngân hàng bạn muốn liên kết.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 3/6 : </strong> Nhập mã xác thực
                                            </h3>
                                            <div class="htu-slider-body">
                                                Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của
                                                bạn.
                                                &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô
                                                &quot;Nhập
                                                mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                .
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 4/6 : </strong> Tạo mật khẩu đăng
                                                nhập </h3>
                                            <div class="htu-slider-body">
                                                Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và
                                                mật
                                                khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt;
                                                Sau đó bấm &quot;Xác nhận&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 5/6 : </strong> Nhập thông tin
                                            </h3>
                                            <div class="htu-slider-body">
                                                Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân
                                                theo
                                                yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- Add Arrows -->


                        <div class="swiper-button-next swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false"
                                style=" fill: currentcolor;">
                                <path
                                    d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="swiper-button-prev swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false"
                                style=" fill: currentcolor;">
                                <path
                                    d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">

                <a href="" class="btn btn-primary-2 btn-block btn-lg">Tải ngay</a>

            </div>



        </div>
    </div>
</div>


{% endblock %} {% block javascript %}

<script>
  $(document).ready(function () {

    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });




    // $('#myTab li:last-child a').tab('show')

    //Select Cache
    var myTabLink = $("#myTab").find(".food-tab-link");
    var myTabItem = $("#myTab").find(".nav-item");

    function checkTabCurrent() {
      var listTabMenu = myTabLink;
      var current = 0;
      listTabMenu.each(function (i) {
        if ($(this).hasClass("active")) {
          current = i;
          return false;
        }
      });
      return current;
    }
    function makeTabActive(cur) {
      myTabLink.each(function (i) {
        if (i == cur) {
          $(this).tab("show");
          $(this)[0].scrollIntoView();

          if ($(window).width() > 700) {
            document.documentElement.scrollTop -= 150;
          } else {
            document.documentElement.scrollTop -= 10;
          }
        }
      });
    }
    function checkTabLength() {
      var listTabMenu = myTabItem;
      return listTabMenu.length;
    }

    var tabLength = checkTabLength() - 1;
    var tabCur = checkTabCurrent();

    var swiperUserTesti = new Swiper(".swiper-user-testi", {
      slidesPerView: "auto",
      spaceBetween: 20,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    //SWIPER TAB JS

    var swiperTabItem = new Swiper(".swiper-tab-tinhnang", {
      slidesPerView: "auto",
      spaceBetween: 5,
      threshold: 4,
      centerInsufficientSlides: true,
      // centeredSlides: true,
      on: {
        slideChangeTransitionEnd: function () {
          // console.log("dwd");
        },
      },
    });

    var curIndex = checkTabCurrent(); // =0
    var actIndex = 0; // =0

    // $('.tinhnang-loadmore').readmore({
    //     speed: 75,
    //     moreLink: '<a href="#">Xem thêm</a>',
    //     lessLink: '<a href="#">Thu gọn</a>'
    // });

    // var tinhnangReadmore = new Readmore(".tinhnang-loadmore", {
    //   speed: 75,
    //   moreLink:
    //     '<a href="#">Xem thêm <img src="img/icons/interface/icon-chevron-down.svg" > </a>',
    //   lessLink:
    //     '<a href="#">Thu gọn  <img src="img/icons/interface/icon-chevron-up.svg" ></a>',
    // });

    $(".tinhnang-loadmore").readmore({
      speed: 75,
      moreLink: '<a href="#">Xem thêm</a>',
      lessLink: '<a href="#">Thu gọn</a>',
    });

    $("a.food-tab-link ").on("shown.bs.tab", function (e) {
      actIndex = checkTabCurrent();

      // swiperTabItem.slideTo(actIndex);

      if ($(window).width() < 500) {
        if (curIndex < actIndex) {
          swiperTabItem.slideTo(actIndex);
        } else {
          swiperTabItem.slideTo(actIndex - 1);
        }
      } else {
        if (curIndex < actIndex) {
          swiperTabItem.slideTo(actIndex - 2);
        } else {
          swiperTabItem.slideTo(actIndex - 1);
        }
      }

      curIndex = actIndex;

      $(".tinhnang-loadmore").readmore("destroy");

      $(".tinhnang-loadmore").readmore({
        speed: 75,
        moreLink: '<a href="#">Xem thêm</a>',
        lessLink: '<a href="#">Thu gọn</a>',
      });
    });

    var gggg = $(".swiper-pagination123");

    var swiperTesti = new Swiper(".swiper-testi", {
      slidesPerView: 3,
      spaceBetween: 20,
      slidesPerGroup: 2,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      pagination: {
        el: gggg,
        type: 'fraction',
      },
      breakpoints: {
        767: {
          slidesPerView: 2,
        },
        540: {
          slidesPerView: 1,
        },
        320: {
          slidesPerView: 1,
        },
      },
    });

    var swiperTesti2 = new Swiper(".swiper-tintuc", {
      slidesPerView: 3,
      spaceBetween: 20,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        767: {
          slidesPerView: 2,
        },
        540: {
          slidesPerView: 1,
        },
        320: {
          slidesPerView: 1,
        },
      },
    });


    var swiperMessage = new Swiper('.swiper-message2', {
            slidesPerView: 'auto',
            spaceBetween: 8,
        
        });

  });
</script>
{% endblock %}
