{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link
  href="css/lp-heodat-1nam.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>



{% endblock %} {% block header %} {% endblock %} {% block content %}

<div class="wrapper">
  <div class="view view-main">
    <div class="page bg-light-heodat">
      <div class="topbar">
        <nav class="nav d-flex nav-heodat">
          <a
            href="#trangchu"
            data-toggle="tab"
            class="nav-link active nav-heodat-item"
          >
            <svg
              width="22"
              height="20"
              viewBox="0 0 22 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19 19C19 19.2652 18.8946 19.5196 18.7071 19.7071C18.5196 19.8947 18.2652 20 18 20H4C3.73478 20 3.48043 19.8947 3.29289 19.7071C3.10536 19.5196 3 19.2652 3 19V10H0L10.327 0.612012C10.5111 0.444489 10.7511 0.351654 11 0.351654C11.2489 0.351654 11.4889 0.444489 11.673 0.612012L22 10H19V19ZM11 16L14.359 12.641C14.5679 12.4321 14.7337 12.184 14.8467 11.9111C14.9598 11.6381 15.018 11.3455 15.018 11.05C15.018 10.7545 14.9598 10.462 14.8467 10.189C14.7337 9.91598 14.5679 9.66794 14.359 9.45901C14.1501 9.25008 13.902 9.08434 13.629 8.97127C13.3561 8.8582 13.0635 8.8 12.768 8.8C12.4725 8.8 12.1799 8.8582 11.907 8.97127C11.634 9.08434 11.3859 9.25008 11.177 9.45901L11 9.63601L10.823 9.45901C10.6141 9.25008 10.366 9.08434 10.093 8.97127C9.82006 8.8582 9.52748 8.8 9.232 8.8C8.93652 8.8 8.64394 8.8582 8.37096 8.97127C8.09797 9.08434 7.84993 9.25008 7.641 9.45901C7.43207 9.66794 7.26633 9.91598 7.15326 10.189C7.04018 10.462 6.98199 10.7545 6.98199 11.05C6.98199 11.3455 7.04018 11.6381 7.15326 11.9111C7.26633 12.184 7.43207 12.4321 7.641 12.641L11 16Z"
                fill="#F9B5C3"
              />
            </svg>

            <span> Trang chủ</span>
          </a>
          <a
            href="#hoancanh"
            data-toggle="tab"
            class="nav-link nav-heodat-item"
          >
            <svg
              width="23"
              height="19"
              viewBox="0 0 23 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.3631 8.04498C17.7671 6.65198 20.0431 6.65198 21.4471 8.04498C22.8511 9.43898 22.8511 11.699 21.4471 13.092L16.0001 18.5L10.5531 13.092C9.14915 11.699 9.14915 9.43898 10.5531 8.04498C11.9571 6.65198 14.2331 6.65198 15.6371 8.04498L16.0001 8.40498L16.3631 8.04498V8.04498ZM18.2431 1.75698C19.1831 2.69998 19.7461 3.87498 19.9321 5.09498C18.5991 4.84698 17.1931 5.08498 16.0001 5.80798C13.8501 4.50498 11.0061 4.77798 9.14415 6.62598C7.01314 8.74098 6.95414 12.141 8.96614 14.327L9.14415 14.512L11.5651 16.916L10.0001 18.485L1.52015 9.99298C-0.582855 7.63698 -0.503855 4.01898 1.75715 1.75698C4.02215 -0.50702 7.64515 -0.58302 10.0011 1.52898C12.3501 -0.58002 15.9801 -0.51002 18.2431 1.75698V1.75698Z"
                fill="#F9B5C3"
              />
            </svg>

            <span> Hoàn cảnh</span></a
          >
          <a
            href="#congdong"
            data-toggle="tab"
            class="nav-link nav-heodat-item"
          >
            <svg
              width="19"
              height="22"
              viewBox="0 0 19 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.841 14.659L14.017 14.836L14.195 14.659C14.4039 14.4501 14.652 14.2843 14.925 14.1713C15.1979 14.0582 15.4905 14 15.786 14C16.0815 14 16.3741 14.0582 16.647 14.1713C16.92 14.2843 17.1681 14.4501 17.377 14.659C17.5859 14.8679 17.7517 15.116 17.8647 15.389C17.9778 15.6619 18.036 15.9545 18.036 16.25C18.036 16.5455 17.9778 16.8381 17.8647 17.111C17.7517 17.384 17.5859 17.6321 17.377 17.841L14.017 21.2L10.659 17.841C10.237 17.419 9.99999 16.8467 9.99999 16.25C9.99999 15.6533 10.237 15.081 10.659 14.659C11.081 14.237 11.6533 14 12.25 14C12.8467 14 13.419 14.237 13.841 14.659V14.659ZM8 13V21H0C2.41087e-05 18.9216 0.808937 16.9247 2.25547 15.4323C3.702 13.9398 5.67259 13.069 7.75 13.004L8 13ZM8 0C11.315 0 14 2.685 14 6C14 9.315 11.315 12 8 12C4.685 12 2 9.315 2 6C2 2.685 4.685 0 8 0Z"
                fill="#F9B5C3"
              />
            </svg>

            <span> Cộng đồng</span></a
          >
        </nav>
      </div>
      <div class="toolbar">
        
        <div class="row no-gutters align-items-center justify-content-between justify-content-md-center">
          <div class="col-auto px-md-2 d-none d-md-flex">
            <div class="font-weight-bold text-primary-2 pr-4">Ủng hộ Heo đất ngay</div>
          </div>
          <div class="col-auto px-md-2">
            <a href="" class="heodat__btn__bottom">
              <img src="img/donation/btn/btn1.svg" alt="" />
            </a>
          </div>
          <div class="col-auto px-md-2">
            <a href="" class="heodat__btn__bottom">
              <img src="img/donation/btn/btn2.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="page-content ">
        <div class="page-tab">
          <div class="tab-content">
            <div class="tab-pane active "  id="trangchu">
              <div class="heodat__banner">
                <img
                  src="	https://static.mservice.io/images/s/momo-upload-api-201020134439-637387982790091959.jpg"
                  class="img-fluid d-block mx-auto"
                  loading="lazy"
                  alt=""
                />
              </div>

              <div class="heodat-feature pb-5">
                <div class="heodat__curve d-block d-md-none">
                  <svg
                    width="448"
                    height="55"
                    viewBox="0 0 448 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M448 0H0V54.619C36.8353 32.5151 123.259 17 224 17C324.741 17 411.165 32.5151 448 54.619V0Z"
                      fill="#f597c2"
                    />
                  </svg>
                </div>

                <div class="container text-white py-md-5">
                  <div class="row align-items-center pb-md-4">
                    <div class="col-12 col-md-6">
                      <div class="mb-2">
                        <img
                          src="https://static.mservice.io/images/s/momo-upload-api-201021145144-637388887044679836.png"
                          class="img-fluid d-block mx-auto"
                          width="340"
                          loading="lazy"
                          alt=""
                        />
                      </div>

                      <p class="lead">
                        Amet minim mollit non deserunt ullamco est sit aliqua
                        dolor do amet sint. Velit officia consequat duis enim
                        velit mollit. Exercitation veniam consequat sunt nostrud
                        amet.
                      </p>
                    </div>
                    <div class="col-12 col-md-6 pt-4">
                      <div
                        class="position-relative align-items-center justify-content-center d-none d-md-flex"
                      >
                        <img
                          class="rounded img-fluid shadow-lg"
                          src="img/hocvien/img-video.png"
                          alt="Video hoc vien"
                        />

                        <a
                          data-fancybox
                          href="https://www.youtube.com/watch?v=be7anfGWKoo?autoplay=1"
                          class="position-absolute why-play-icon"
                        >
                          <img
                            src="img/hocvien/play.svg"
                            alt="Media Play Icon"
                            width="70"
                            class=""
                          />
                        </a>
                      </div>
                      <div
                        class="embed-responsive embed-responsive-16by9 d-block d-md-none"
                      >
                        <iframe
                          class="embed-responsive-item"
                          src="https://www.youtube.com/embed/be7anfGWKoo"
                          allowfullscreen
                        ></iframe>
                      </div>
                    </div>
                  </div>

                  <div class="mt-4 d-md-none">
                    <img
                      src="https://static.mservice.io/images/s/momo-upload-api-201020134737-637387984570443258.png"
                      class="img-fluid d-block mx-auto"
                      width="200"
                      loading="lazy"
                      alt=""
                    />
                  </div>

                  <div class="heodat-quote mt-4 mt-lg-5">
                    <img
                      src="	https://static.mservice.io/images/s/momo-upload-api-201020144112-637388016722721406.png"
                      class="heodat-quote__no"
                      width="98"
                      alt=""
                    />
                    <div class="swiper-container swiper-heodat-quote">
                      <div class="swiper-wrapper">
                        {% for item in range(0,4) %}

                        <div class="swiper-slide">
                          <div class="heodat-quote__item">
                            <div class="headat-quote__symbol">
                              <svg
                                width="92"
                                height="65"
                                viewBox="0 0 92 65"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  opacity="0.1"
                                  d="M91.1662 60.9033C87.2749 56.8978 84.2175 53.1653 81.994 49.7059C79.7704 46.2465 78.6586 43.4244 78.6586 41.2395C78.6586 39.965 79.1219 38.7815 80.0483 37.6891C80.7895 36.5966 81.994 35.4132 83.6616 34.1386C86.2558 32.1359 88.2941 30.042 89.7764 27.8571C91.2588 25.6723 92 22.7591 92 19.1176C92 13.4734 90.2397 8.92156 86.719 5.46218C83.1984 1.82073 78.7513 0 73.3776 0C67.6334 0 63.001 1.82073 59.4804 5.46218C55.7744 8.92156 53.9215 13.4734 53.9215 19.1176C53.9215 26.2185 56.9789 34.0476 63.0937 42.605C69.0232 50.9804 76.9909 58.4454 86.997 65L91.1662 60.9033ZM37.2447 60.9033C33.3535 56.8978 30.2961 53.1653 28.0725 49.7059C25.8489 46.2465 24.7372 43.4244 24.7372 41.2395C24.7372 39.965 25.2004 38.7815 26.1269 37.6891C26.8681 36.5966 28.0725 35.4132 29.7402 34.1386C32.3343 32.1359 34.3726 30.042 35.855 27.8571C37.3374 25.6723 38.0786 22.7591 38.0786 19.1176C38.0786 13.4734 36.3182 8.92156 32.7976 5.46218C29.2769 1.82073 24.8298 0 19.4562 0C13.712 0 9.07956 1.82073 5.55892 5.46218C1.85298 8.92156 -1.49012e-06 13.4734 -1.49012e-06 19.1176C-1.49012e-06 26.2185 3.05739 34.0476 9.1722 42.605C15.1017 50.9804 23.0695 58.4454 33.0755 65L37.2447 60.9033Z"
                                  fill="#A50064"
                                />
                              </svg>
                            </div>
                            <div class="heodat-quote__avatar mb-3">
                              <img
                                src="https://jumpstart.mediumra.re/assets/img/avatars/female-3.jpg"
                                alt="Avatar"
                                class="avatar avatar-lg"
                              />
                            </div>
                            <div class="heodat-quote__info">
                              <div class="name">Ông Đinh Trí Dũng</div>
                              <div class="job">Giám đốc Arena Multimedia</div>
                              <div class="quote">
                                “Heo đất MoMo thật sự là một cách thú vị cho
                                việc lan toả một dự án xã hội một cách tự nhiên
                                tới cả triệu người. Nhà tài trợ sẽ vui vẻ chi
                                trả, người dùng không cần trả tiền cho việc làm
                                thiện nguyện lại được rèn luyện thói quen tốt.
                                Tôi rất thích cách xử lý khéo léo và thông minh
                                của MoMo. Chúc Heo đất MoMo sinh nhật 1 tuổi ý
                                nghĩa và có thêm nhiều thành công mới.”
                              </div>
                            </div>

                            <div class="heodat-quote__btn text-center mt-3">
                              <a
                                href=""
                                class="btn btn-primary-3 rounded-pill font-weight-bold"
                              >
                                XEM THÊM
                              </a>
                            </div>
                          </div>
                        </div>

                        {% endfor %}
                      </div>

                      <!-- Add Pagination -->
                      <div class="swiper-pagination"></div>

                      <!-- Add Arrows -->
                      <div class="swiper-button-next">
                        <svg
                          viewBox="0 0 18 18"
                          role="img"
                          aria-label="Tiếp theo"
                          focusable="false"
                          style="fill: white"
                        >
                          <path
                            d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                            fill-rule="evenodd"
                          ></path>
                        </svg>
                      </div>
                      <div class="swiper-button-prev">
                        <svg
                          viewBox="0 0 18 18"
                          role="img"
                          aria-label="Trước"
                          focusable="false"
                          style="fill: white"
                        >
                          <path
                            d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                            fill-rule="evenodd"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane  py-4 py-md-5" id="hoancanh">
              <div class="container">
                <div class="row justify-content-center">
                  {% for i in [0,1,2,3,4,5] %}
                  <div class="col-md-6 col-lg-4 card__space heodat__item">
                    <article class="card card__box h-100">
                      <div class="card__inner">
                        <header class="card__header">
                          <figure class="card__figure">
                            <a
                              href=""
                              data-toggle="modal"
                              data-target="#heodat-modal"
                            >
                              <div
                                class="embed-responsive embed-responsive-apd"
                              >
                                <img
                                  src="https://static.mservice.io/blogscontents/momo-upload-api-201001160900-637371653401161175.jpg"
                                  alt=""
                                  loading="lazy"
                                  class="embed-responsive-img card__image"
                                />
                              </div>
                            </a>
                          </figure>
                        </header>

                        <div class="card__body pb-0">
                          <h5 class="card__title">
                            <a
                              href=""
                              data-toggle="modal"
                              data-target="#heodat-modal"
                              class="card__title__link font-weight-bold"
                            >
                              Xây mới trường mầm non Hoa Hồng đã xuống cấp 18
                              năm
                            </a>
                          </h5>

                          <p class="card__copy">
                            Để 75 học sinh không còn phải học nhờ, ngủ nhờ trong
                            doanh trại quân đội.
                          </p>
                        </div>

                        <div class="card__footer font-14">
                          <div class="card__footer__border">
                            <div class="row no-gutters align-items-center">
                              <div class="col">
                                <div class="heodat__thatim">
                                  <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="heart"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512"
                                    class="heart heart2"
                                  >
                                    <path
                                      fill="currentColor"
                                      d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                                      class=""
                                    ></path>
                                  </svg>

                                  <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="far"
                                    data-icon="heart"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512"
                                    class="heart heart1"
                                  >
                                    <path
                                      fill="currentColor"
                                      d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"
                                      class=""
                                    ></path>
                                  </svg>
                                  100
                                </div>
                              </div>
                              <div class="col-auto">
                                <a
                                  href=""
                                  data-toggle="modal"
                                  data-target="#heodat-modal"
                                  class="btn btn-outline-primary-3 rounded-pill btn-sm font-weight-bold"
                                  >Xem thêm</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>

                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="tab-pane" id="congdong">
              <div class="heodat__fetch ">
                <div class="heodat__fetch__item">
                  <div class="heodat__fetch__header mb-3">
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="mr-3">
                          <img
                            src="https://jumpstart.mediumra.re/assets/img/avatars/female-3.jpg"
                            alt="Avatar"
                            class="avatar avatar-lg"
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div>
                          <b> Ông Đinh Trí Dũng </b>
                        </div>
                        <div>Giám đốc Arena Multimedia</div>
                      </div>
                    </div>
                  </div>

                  <div class="heodat__fetch__content">
                    <p>
                      Heo đất MoMo thật sự là một cách thú vị cho việc lan toả
                      một dự án xã hội một cách tự nhiên tới cả triệu người. Nhà
                      tài trợ sẽ vui vẻ chi trả, người dùng không cần trả tiền
                      cho việc làm thiện nguyện lại được rèn luyện thói quen
                      tốt. Tôi rất thích cách xử lý khéo léo và thông minh của
                      MoMo. Chúc Heo đất MoMo sinh nhật 1 tuổi ý nghĩa và có
                      thêm nhiều thành công mới.
                    </p>
                  </div>

                  <div class="heodat__featch__gallery">
                    <div class="embed-responsive embed-responsive-16by9">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-201014232101-637383144612053269.jpg"
                        loading="lazy"
                        class="embed-responsive-img"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="heodat__featch__footer heodat__item">
                    <div class="cont">
                      <div class="heodat__thatim">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="heart"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512"
                          class="heart heart2"
                        >
                          <path
                            fill="currentColor"
                            d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                            class=""
                          ></path>
                        </svg>

                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="heart"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512"
                          class="heart heart1"
                        >
                          <path
                            fill="currentColor"
                            d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"
                            class=""
                          ></path>
                        </svg>
                        100
                      </div>
                    </div>
                  </div>

                  <div class="heodat__featch__comment">
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <div class="mr-2">
                          <img
                            src="https://jumpstart.mediumra.re/assets/img/avatars/female-3.jpg"
                            alt="Avatar"
                            class="avatar"
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="comment">
                          <div class="name font-weight-bold">
                            Heo Đất MOMO
                            <svg
                              aria-hidden="true"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 512 512"
                              class="svg-icon"
                            >
                              <path
                                fill="#108ee9"
                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                                class=""
                              ></path>
                            </svg>
                          </div>
                          <div class="desc text-gray">
                            Heo đất MOMO cảm ơn bạn rất nhiều!
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="heodat__fetch__item">
                  <div class="heodat__fetch__header mb-3">
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="mr-3">
                          <img
                            src="https://jumpstart.mediumra.re/assets/img/avatars/female-3.jpg"
                            alt="Avatar"
                            class="avatar avatar-lg"
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div>
                          <b> Ông Đinh Trí Dũng </b>
                        </div>
                        <div>Giám đốc Arena Multimedia</div>
                      </div>
                    </div>
                  </div>

                  <div class="heodat__fetch__content">
                    <p>
                      Heo đất MoMo thật sự là một cách thú vị cho việc lan toả
                      một dự án xã hội một cách tự nhiên tới cả triệu người. Nhà
                      tài trợ sẽ vui vẻ chi trả, người dùng không cần trả tiền
                      cho việc làm thiện nguyện lại được rèn luyện thói quen
                      tốt. Tôi rất thích cách xử lý khéo léo và thông minh của
                      MoMo. Chúc Heo đất MoMo sinh nhật 1 tuổi ý nghĩa và có
                      thêm nhiều thành công mới.
                    </p>
                  </div>

                  <div class="heodat__featch__gallery three">
                    <div class="embed-responsive embed-responsive-16by9">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-201014232101-637383144612053269.jpg"
                        loading="lazy"
                        class="embed-responsive-img"
                        alt=""
                      />
                    </div>

                    <div class="embed-responsive embed-responsive-16by9">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-201014232101-637383144612053269.jpg"
                        loading="lazy"
                        class="embed-responsive-img"
                        alt=""
                      />
                    </div>

                    <div class="embed-responsive embed-responsive-16by9">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-201014232101-637383144612053269.jpg"
                        loading="lazy"
                        class="embed-responsive-img"
                        alt=""
                      />
                    </div>
                  </div>

                  <div class="heodat__featch__footer heodat__item">
                    <div class="cont">
                      <div class="heodat__thatim">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="heart"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512"
                          class="heart heart2"
                        >
                          <path
                            fill="currentColor"
                            d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                            class=""
                          ></path>
                        </svg>

                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="far"
                          data-icon="heart"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512"
                          class="heart heart1"
                        >
                          <path
                            fill="currentColor"
                            d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"
                            class=""
                          ></path>
                        </svg>
                        100
                      </div>
                    </div>
                  </div>

                  <div class="heodat__featch__comment">
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <div class="mr-3">
                          <img
                            src="https://jumpstart.mediumra.re/assets/img/avatars/female-3.jpg"
                            alt="Avatar"
                            class="avatar"
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="comment">
                          <div class="name font-weight-bold">
                            Heo Đất MOMO
                            <svg
                              aria-hidden="true"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 512 512"
                              class="svg-icon"
                            >
                              <path
                                fill="#108ee9"
                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                                class=""
                              ></path>
                            </svg>
                          </div>
                          <div class="desc text-gray">
                            Heo đất MOMO cảm ơn bạn rất nhiều!
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- data-backdrop="false" -->

<div
  class="modal htu-modal modal__fullscreen fade modal-heodat"
  id="heodat-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn d-flex d-sm-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">
          Dựng lại mái nhà cho bé gái mồ côi cha mẹ người Bru Vân Kiều
        </div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn d-none d-sm-flex"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body p-0">
        <figure class="cd-image-container">
          <img
            src="https://static.mservice.io/blogscontents/momo-upload-api-201014231909-637383143491935881.jpg"
            alt="Original Image"
          />

          <div class="cd-resize-img">
            <!-- the resizable image on top -->
            <img
              src="https://static.mservice.io/blogscontents/momo-upload-api-201001160900-637371653401161175.jpg"
              alt="Modified Image"
            />
          </div>

          <span
            class="cd-handle"
            style="background-image: url(../img/donation/cd-arrows.svg)"
          ></span>
        </figure>
        <div class="container">
          <div class="heodat__post">
            <h2>
              Dựng lại mái nhà cho bé gái mồ côi cha mẹ người Bru Vân Kiều
            </h2>

            <div class="heodat__item">
              <div class="heodat__thatim">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="heart"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class="heart heart2"
                >
                  <path
                    fill="currentColor"
                    d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                    class=""
                  ></path>
                </svg>

                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="far"
                  data-icon="heart"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class="heart heart1"
                >
                  <path
                    fill="currentColor"
                    d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"
                    class=""
                  ></path>
                </svg>
                100
              </div>
            </div>

            <div class="heodat__post__sapo">
              Để bà cháu em bớt đi phần nào nỗi sợ ngày mai
            </div>

            <div class="heodat__post__content">
              <div class="dona-post">
                <p dir="ltr">
                  Quảng Trị -&nbsp; một trong những địa phương chịu thiệt hại
                  lớn nhất miền Trung về người và của. Lũ tại nhiều con sông đã
                  vượt đỉnh lũ lịch sử năm 1983, trở thành cơn lũ lớn nhất trong
                  nhiều thập kỷ. Hơn 80 phường/xã chìm trong lũ dữ với 122.364
                  người bị ảnh hưởng bởi ngập lụt, 13.800 người phải di tản,
                  hàng trăm người chịu đói rét trên mái nhà chờ cứu hộ.
                </p>

                <p dir="ltr" style="text-align: center">
                  <img
                    src="https://static.mservice.io/blogscontents/momo-upload-api-201014231831-637383143113119919.jpg"
                    class=""
                  /><em>Trước cơn lũ lớn sinh mạng con người thật mong manh</em>
                </p>

                <p dir="ltr">
                  Cảnh tượng cụ già trên 80 tuổi ngồi co ro vì đói, vì lạnh,
                  những ông bố, bà mẹ quằn quại trong dòng nước lũ để che chở
                  cho các con thơ, cảnh vật tan hoang, lạnh lẽo bao trùm cả một
                  vùng trời…. Trận lũ lụt vừa đi qua đã để lại những hậu quả
                  thật nặng nề đã khiến cho nhiều gia đình, cụ già, em nhỏ lâm
                  vào cảnh khó khăn cùng cực, mất người thân, thiếu lương thực,
                  thiếu nước và không còn mái ấm để che mưa, che nắng…
                </p>

                <p dir="ltr" style="text-align: center">
                  <img
                    src="https://static.mservice.io/blogscontents/momo-upload-api-201014231848-637383143281658517.jpg"
                  /><em>Xót xa cảnh nước lũ ngập tới nóc nhà</em>
                </p>

                <p dir="ltr">
                  Đứng trước những đau thương mất mát do mưa lũ gây ra đối với
                  người dân Quảng Trị, với tinh thần “tương thân, tương ái”, Heo
                  Đất MoMo kết hợp cùng Quỹ Hoa Chia Sẻ phát động chiến dịch
                  “Tặng 200 suất quà sưởi ấm tâm lũ Quảng Trị”. Cụ thể 200 phong
                  bì giá trị 500,000 VNĐ sẽ được trao tận tay các hộ gia đình bị
                  thiệt hại nặng, các hộ nghèo bị ngập trong dòng nước lũ và các
                  cụ già neo đơn tại các huyện Triệu Phong và Hải Lăng của tỉnh
                  Quảng Trị.
                </p>

                <p dir="ltr">
                  <em
                    >*Chi phí thực hiện chương trình: 100 triệu đồng được tài
                    trợ bởi Quỹ Hoa Chia Sẻ. Sau khi Heo Vàng đã gom đủ, số tiền
                    sẽ được chuyển đến Ủy Ban Mặt Trận Tổ Quốc Việt Nam - Tỉnh
                    Quảng Trị - đơn vị chịu trách nhiệm chính tại địa phương.
                    Chúng tôi sẽ cập nhật thêm thông tin về tiến độ dự án đến
                    quý vị trong thời gian sớm nhất.</em
                  >
                </p>

                <div
                  dir="ltr"
                  style="
                    background: #eee;
                    border: 1px solid #ccc;
                    padding: 5px 10px;
                  "
                >
                  <p dir="ltr">
                    <u><strong>Về Hoa Chia Sẻ:</strong></u>
                  </p>

                  <p dir="ltr">
                    Quỹ xã hội – từ thiện được thành lập hoàn toàn tự nguyện, và
                    Quỹ hoạt động không vì lợi nhuận, trên nguyên tắc tự tạo
                    vốn, hoạt động nhằm mục đích xã hội – từ thiện, trong đó ưu
                    tiên giúp đỡ các gia đình khó khăn, gia đình có công với
                    cách mạng và hỗ trợ, khuyến khích phát triển văn hóa, giáo
                    dục, y tế, thể dục thể thao, khoa học và các mục đích phát
                    triển cộng đồng phù hợp quy định của pháp luật.
                  </p>
                </div>

                <p dir="ltr">
                  <strong
                    >Heo đất MoMo là nền tảng kết nối giữa hoàn cảnh khó khăn,
                    nhà hảo tâm và cộng đồng. Các cá nhân/doanh nghiệp thiện tâm
                    có mong muốn bảo trợ cho các hoàn cảnh thông qua Heo đất
                    MoMo xin vui lòng gửi Email về
                    donation@mservice.com.vn</strong
                  >
                </p>

                <div>&nbsp;</div>
              </div>
            </div>

            <div class="heodat__post__quote">
              <div class="headat-quote__symbol">
                <svg
                  width="92"
                  height="65"
                  viewBox="0 0 92 65"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    opacity="0.1"
                    d="M91.1662 60.9033C87.2749 56.8978 84.2175 53.1653 81.994 49.7059C79.7704 46.2465 78.6586 43.4244 78.6586 41.2395C78.6586 39.965 79.1219 38.7815 80.0483 37.6891C80.7895 36.5966 81.994 35.4132 83.6616 34.1386C86.2558 32.1359 88.2941 30.042 89.7764 27.8571C91.2588 25.6723 92 22.7591 92 19.1176C92 13.4734 90.2397 8.92156 86.719 5.46218C83.1984 1.82073 78.7513 0 73.3776 0C67.6334 0 63.001 1.82073 59.4804 5.46218C55.7744 8.92156 53.9215 13.4734 53.9215 19.1176C53.9215 26.2185 56.9789 34.0476 63.0937 42.605C69.0232 50.9804 76.9909 58.4454 86.997 65L91.1662 60.9033ZM37.2447 60.9033C33.3535 56.8978 30.2961 53.1653 28.0725 49.7059C25.8489 46.2465 24.7372 43.4244 24.7372 41.2395C24.7372 39.965 25.2004 38.7815 26.1269 37.6891C26.8681 36.5966 28.0725 35.4132 29.7402 34.1386C32.3343 32.1359 34.3726 30.042 35.855 27.8571C37.3374 25.6723 38.0786 22.7591 38.0786 19.1176C38.0786 13.4734 36.3182 8.92156 32.7976 5.46218C29.2769 1.82073 24.8298 0 19.4562 0C13.712 0 9.07956 1.82073 5.55892 5.46218C1.85298 8.92156 -1.49012e-06 13.4734 -1.49012e-06 19.1176C-1.49012e-06 26.2185 3.05739 34.0476 9.1722 42.605C15.1017 50.9804 23.0695 58.4454 33.0755 65L37.2447 60.9033Z"
                    fill="#A50064"
                  />
                </svg>
              </div>

              <p>
                Ước mơ của bé My và bà hoàn toàn nằm trong tay của bạn. Mỗi tấm
                lòng đều sẽ là một “viên gạch” nhỏ xây nên cả một mái nhà to.
                Đồng hành cùng MoMo nhé!
              </p>

              <img
                src="	https://static.mservice.io/images/s/momo-upload-api-201021141927-637388867673562479.png"
                class="img-fluid d-block mx-auto"
                width="150"
                loading="lazy"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row no-gutters align-items-center justify-content-around w-100">
          <div class="col-auto">
            <a href="" class="heodat__btn__bottom">
              <img src="img/donation/btn/btn1.svg" alt="" />
            </a>
          </div>
          <div class="col-auto">
            <a href="" class="heodat__btn__bottom">
              <img src="img/donation/btn/btn2.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %}

<script>
  $(document).ready(function () {
    var hash = window.location.hash;
    hash && $('.nav.nav-heodat a[href="' + hash + '"]').tab("show");

    $(document.body).addClass("show");

    var swiperHeodatQuote = new Swiper(".swiper-heodat-quote", {
      slidesPerView: 3,
      spaceBetween: 0,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        767: {
          slidesPerView: 2,
        },
        540: {
          slidesPerView: 1,
        },
        320: {
          slidesPerView: 1,
        },
      },
    });

    $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
      // console.log(e.target);
      // e.relatedTarget;
      // previous active tab
      window.location.hash = this.hash;
      // window.scrollTo(0, 0);

      document.querySelector(".page-content").scrollTo(0, 0);
      swiperHeodatQuote.update();
    });

    $(".heodat__thatim").on("click", function () {
      $(this).addClass("is-active");
    });

    var dragging = false,
      scrolling = false,
      resizing = false;
    //cache jQuery objects
    var imageComparisonContainers = $(".cd-image-container");
    //check if the .cd-image-container is in the viewport
    //if yes, animate it
    checkPosition(imageComparisonContainers);
    $(window).on("scroll", function () {
      if (!scrolling) {
        scrolling = true;
        !window.requestAnimationFrame
          ? setTimeout(function () {
              checkPosition(imageComparisonContainers);
            }, 100)
          : requestAnimationFrame(function () {
              checkPosition(imageComparisonContainers);
            });
      }
    });

    //make the .cd-handle element draggable and modify .cd-resize-img width according to its position
    imageComparisonContainers.each(function () {
      var actual = $(this);
      drags(actual.find(".cd-handle"), actual.find(".cd-resize-img"), actual);
    });

    //upadate images label visibility
    $(window).on("resize", function () {
      if (!resizing) {
        resizing = true;
        !window.requestAnimationFrame
          ? setTimeout(function () {
              checkLabel(imageComparisonContainers);
            }, 100)
          : requestAnimationFrame(function () {
              checkLabel(imageComparisonContainers);
            });
      }
    });

    function checkPosition(container) {
      container.each(function () {
        var actualContainer = $(this);
        if (
          $(window).scrollTop() + $(window).height() * 0.5 >
          actualContainer.offset().top
        ) {
          actualContainer.addClass("is-visible");
        }
      });

      scrolling = false;
    }

    //draggable funtionality - credits to http://css-tricks.com/snippets/jquery/draggable-without-jquery-ui/
    function drags(dragElement, resizeElement, container) {
      dragElement
        .on("mousedown touchstart", function (e) {
          dragElement.addClass("draggable");
          resizeElement.addClass("resizable");
          var pageXhmm;

          if (e.type == "touchstart") {
            pageXhmm = e.originalEvent.touches[0].pageX;
          } else {
            pageXhmm = e.pageX;
          }

          // console.log("dragElement",dragElement);
          // console.log("dragElement Off",dragElement.offset().left );
          // console.log("dragElement pageX",e.originalEvent.touches[0].pageX);
          // console.log("dragElement pageX2",e.pageX);

          var dragWidth = dragElement.outerWidth(),
            xPosition = dragElement.offset().left + dragWidth - pageXhmm,
            containerOffset = container.offset().left,
            containerWidth = container.outerWidth(),
            minLeft = containerOffset + 5,
            maxLeft = containerOffset + containerWidth - dragWidth - 5;

          dragElement
            .parents()
            .on("mousemove touchmove", function (e) {
              if (!dragging) {
                dragging = true;
                !window.requestAnimationFrame
                  ? setTimeout(function () {
                      animateDraggedHandle(
                        e,
                        xPosition,
                        dragWidth,
                        minLeft,
                        maxLeft,
                        containerOffset,
                        containerWidth,
                        resizeElement
                      );
                    }, 100)
                  : requestAnimationFrame(function () {
                      animateDraggedHandle(
                        e,
                        xPosition,
                        dragWidth,
                        minLeft,
                        maxLeft,
                        containerOffset,
                        containerWidth,
                        resizeElement
                      );
                    });
              }
            })
            .on("mouseup touchend", function (e) {
              dragElement.removeClass("draggable");
              resizeElement.removeClass("resizable");
            });
          e.preventDefault();
        })
        .on("mouseup touchend", function (e) {
          dragElement.removeClass("draggable");
          resizeElement.removeClass("resizable");
        });
    }

    function animateDraggedHandle(
      e,
      xPosition,
      dragWidth,
      minLeft,
      maxLeft,
      containerOffset,
      containerWidth,
      resizeElement
    ) {
      var pageXhmm;

      if (e.type == "touchmove") {
        pageXhmm = e.originalEvent.touches[0].pageX;
      } else {
        pageXhmm = e.pageX;
      }
      console.log(pageXhmm);
      var leftValue = pageXhmm + xPosition - dragWidth;
      // console.log("1", pageXhmm);
      // console.log("2", xPosition);
      // console.log("3", dragWidth);
      // console.log(leftValue);
      //constrain the draggable element to move inside his container
      if (leftValue < minLeft) {
        leftValue = minLeft;
      } else if (leftValue > maxLeft) {
        leftValue = maxLeft;
      }

      var widthValue =
        ((leftValue + dragWidth / 2 - containerOffset) * 100) / containerWidth +
        "%";

      $(".draggable")
        .css("left", widthValue)
        .on("mouseup touchend", function () {
          $(this).removeClass("draggable");
          resizeElement.removeClass("resizable");
        });

      $(".resizable").css("width", widthValue);

      dragging = false;
    }
  });

  // $("#heodat-modal").modal("show");
</script>
{% endblock %}
