{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}
<link
  href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,600&display=swap"
  rel="stylesheet"
/>

<link href="css/lp-hocvien.css" rel="stylesheet" type="text/css" media="all" />

{% endblock %} {% block header %}
<!-- ***** LOADING PAGE ****** -->
<!-- 
<style>
  @keyframes hideLoader {
    0% {
      width: 100%;
      height: 100%;
    }

    100% {
      width: 0;
      height: 0;
    }
  }

  body > div.loader {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 1071;
    opacity: 0;
    top: 0;
    transition: opacity 0.5s ease;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body:not(.loaded) > div.loader {
    opacity: 1;
  }

  body:not(.loaded) {
    overflow: hidden;
  }

  body.loaded > div.loader {
    animation: hideLoader 0.5s linear 0.5s forwards;
  }

  .loading-animation {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #a50064;
    border-radius: 100%;
    animation: pulse 1s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
</style>
<script type="text/javascript">
  window.addEventListener("load", function () {
    document.querySelector("body").classList.add("loaded");
  });
</script>

<div class="loader">
  <div class="loading-animation"></div>
</div> -->

<div class="navbar-container header-position navbar-lp-container">
  <nav class="navbar navbar-expand-lg navbar-dark py-0 px-0 navbar-lp">
    <div class="container header__container">
      <div class="d-flex align-items-center">
        <a
          class="navbar-brand navbar-brand-dynamic-color fade-page ml-3"
          href="/"
        >
          <img
            alt="MoMo"
            src="https://static.mservice.io/jk/accmm/rs/assets/img/momo-white.png"
            width="40"
            style=""
          />
        </a>
      </div>

      <div>
        <a href="/">
          <img src="img/hocvien/hocvien-momo-logo.svg" alt="" />
        </a>
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon"
            data-inject-svg
            src="img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon"
            data-inject-svg
            src="img/icons/interface/icon-x.svg"
          />
        </button>
      </div>

      <div
        class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-nongsan"
        id="navigation-menu"
      >
        {% set menu = [ { "name": "Trang Chủ", "id" : "trangchu", "link" : "" },
        { "name": "Giới thiệu", "id" : "gioithieu", "link" : "" }, { "name":
        "Điểm nổi bật", "id" : "diemnoibat", "link" : "" }, { "name": "Thể lệ",
        "id" : "thele", "link" : "" }, { "name": "Hướng dẫn", "id" : "huongdan",
        "link" : "" }, { "name": "Tin tức ", "id" : "tintuc", "link" : "" }, {
        "name": "Câu hỏi thường gặp", "id" : "cauhoi", "link" : "" } ] %}

        <ul class="navbar-nav m-0">
          {% for item in menu %}
          <li class="nav-item">
            <a
              class="nav-link nav-item"
              href="#{{item.id}}"
              data-smooth-scroll
              role="button"
              >{{item.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

<section class="section__hocvien mt-2 mt-lg-4" id="gioithieu">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div
          class="hv__box hv__box__feature hv__box__game"
          style="
            background-image: url(img/hocvien/question-bg.jpg);
            background-size: cover;
          "
        >
          <img src="img/hocvien/hv-momo.png" class="hv__box__slogan" alt="" />

          <div class="hv__box__tt hx-txt-shadow font-hv reveal">
            <span>* * * </span> ĐỐ BẠN <span> * * *</span>
          </div>

          <h1
            class="font-hv hv-qq text-center hx-txt-shadow reveal"
            data-reveal-delay="600"
          >
            Ngồi hàng nào xe buýt chơi game thì
            <strong class="text-yellow">“không bao giờ thắng" ?</strong>
          </h1>

          <h4
            class="hv-as hv__box__tt font-weight-bold reveal"
            data-reveal-delay="1000"
          >
            Câu hỏi gì mà “xoắn não” thế nhờ! Nếu chưa đoán ra, hãy xem gợi ý
            ngay sau đây:
          </h4>

          <div class="hv__suggest font-hv">
            <div class="hv__suggest__item"></div>

            <div class="hv__suggest__item"></div>
            <div class="hv__suggest__item">U</div>
            <div class="hv__suggest__item"></div>
            <div class="hv__suggest__item"></div>
            <div class="hv__suggest__item">N</div>
            <div class="hv__suggest__item"></div>
          </div>

          <div class="mt-5 pt-0 pt-lg-3 text-center">
            <!-- <a href="" class="btn btn-warning font-hv mx-1 btn-hv-action d-inline-block d-md-none">
              Xem đáp án
            </a> -->

            <a href="" class="btn btn-warning font-hv mx-1 btn-hv-action">
              Về học viện MoMo
            </a>
          </div>

          <div class="row justify-content-center reveal mt-5 d-none">
            <div class="col-12 col-md-10 col-lg-7">
              <div
                class="position-relative align-items-center justify-content-center d-none d-md-flex"
              >
                <img
                  class="rounded img-fluid shadow-lg"
                  src="img/hocvien/img-video.png"
                  alt="Video hoc vien"
                />

                <a
                  data-fancybox
                  href="https://www.youtube.com/watch?v=be7anfGWKoo"
                  class="position-absolute why-play-icon"
                  data-aos="zoom-in"
                >
                  <img
                    src="img/hocvien/play.svg"
                    alt="Media Play Icon"
                    width="70"
                    class=""
                  />
                </a>
              </div>
              <div
                class="embed-responsive embed-responsive-16by9 d-block d-md-none"
              >
                <iframe
                  class="embed-responsive-item"
                  src="https://www.youtube.com/embed/be7anfGWKoo"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section__hocvien" id="thele">
  <div class="container">
    <div class="text-center px-2">
      <h2 class="font-hv hv__heading reveal mb-3 mb-md-4">
        Giới thiệu game "Học Viện MoMo"
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="hv__card shadow mb-4 mb-md-0">
          <div class="hv__card__body p-md-5">
            <div class="text-center mb-4">
              <img
                src="img/hocvien/banner-desktop.png"
                loading="lazy"
                class="img-fluid mx-auto d-none d-lg-block"
                alt=""
              />
              <img
                src="img/hocvien/banner-mobile.png"
                loading="lazy"
                class="img-fluid mx-auto d-block d-lg-none"
                alt=""
              />
            </div>

            <p>
              Để kỷ niệm sự kiện Ví Điện Tử MoMo đạt mốc 20 triệu người dùng,
              ngày 09/09/2020, tính năng "<strong class="text-primary-2"
                >HỌC VIỆN MOMO</strong
              >" chính thức ra mắt.
              <strong class="text-primary-2"
                >20 triệu "học viên", cũng là 20 triệu người dùng MoMo</strong
              >, sẽ cùng tranh tài ở các cuộc thi gay cấn, thách thức với kiến
              thức của chính mình để tranh
              <strong class="text-primary-2">học bổng tiền tỷ từ Ví MoMo</strong
              >.
            </p>

            <div class="collapse d-lg-block" id="collapseContent">
              <p>
                Các học viên cần vượt qua các mốc quan trọng Mầm Non, Tiểu Học,
                Trung Học Cơ Sở, Trung Học Phổ Thông để nhận Phiếu Dự Thi tham
                gia kỳ thi cuối cùng: Tốt Nghiệp THPT và Đại Học. Thủ Khoa HỌC
                VIỆN sẽ giành học bổng có giá trị lớn nhất. Người tham gia, cứ
                chơi là có quà. Tổng học bổng & giải thưởng vô cùng hấp dẫn.
              </p>
            </div>

            <div class="text-center mt-0 d-block d-lg-none">
              <a
                href=""
                class="btn btn-outline-dark btn-sm btn__gioithieu__more"
                data-toggle="collapse"
                data-target="#collapseContent"
                aria-expanded="false"
                aria-controls="collapseExample"
                >Xem thêm
                <i data-feather="chevron-down" style="width: 14px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% set Question = [ { name : "Đang xem Tivi có con gián xuất hiện gọi là gì?",
link : "momo.vn/hocvienmomo/xem-tivi-gian-xuat-hien-goi-gi" }, { name : "Ngồi
hàng nào xe buýt chơi game thì &ldquo;không bao giờ thắng&rdquo;?", link :
"momo.vn/hocvienmomo/ngoi-xe-buyt-choi-game" }, { name : "Khi yêu không thể
&ldquo;cầm&rdquo; cái gì?", link : "momo.vn/hocvienmomo/khi-yeu-khong-cam-gi" },
{ name : "Trời mưa thì không thể &ldquo;ăn&rdquo; gì?", link :
"momo.vn/hocvienmomo/troi-mua-thi-khong-duoc-an-gi" }, { name : "Nghỉ làm rồi
&ldquo;vào làm lại&rdquo; thì đồng nghiệp gọi là gì?", link :
"momo.vn/hocvienmomo/nghi-lam-roi-vao-lai-thi-goi-la-gi" }, { name : "Đi siêu
thị không được &ldquo;mặc&rdquo; gì?", link :
"momo.vn/hocvienmomo/di-sieu-thi-khong-mac-gi" }, { name : "Cây gì nghe như đã
&ldquo;chết&rdquo; nhưng vẫn ra hoa được?", link :
"momo.vn/hocvienmomo/cay-gi-nghe-da-chet-nhung-ra-hoa" } ] %}

<section class="section__hocvien" id="thele">
  <div class="container">
    <div class="text-center px-2">
      <h2 class="font-hv hv__heading reveal mb-3 mb-md-4">Câu hỏi khác</h2>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="hv__card shadow mb-4 mb-md-0">
          <div class="hv__card__body px-md-5 py-1 py-md-4 ">
            <ul class="hv__question__more list-unstyled mb-0">
              {% for item in Question %}
              <li>
                <a href="https://{{item.link}}" target="_blank" title="{{item.name | safe}}" class="link-pink"
                  >{{item.name | safe}}
                </a>
                <i data-feather="chevron-right"></i>
              </li>

              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "layouts/modal.html" %} {% endblock %} {% block javascript %}

<script>
  $(document).ready(function () {
    var headerHideAuto = function () {
      var mainHeader = $(".navbar-lp-container");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };
    headerHideAuto();

    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    $("#navigation-menu").on("show.bs.collapse", function () {
      document.body.classList.add("navbar-lp-open");
    });

    $("#navigation-menu").on("hide.bs.collapse", function () {
      document.body.classList.remove("navbar-lp-open");
    });

    $(".navbar-lp .navbar-nav").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    var swiperTinTuc = new Swiper(".swiper-tintuc", {
      slidesPerView: 3,
      spaceBetween: 30,
      // simulateTouch: false,
      draggable: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      // autoplay: {
      //   delay: 5000,
      //   disableOnInteraction: false,
      // },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      speed: 500,
      breakpoints: {
        991: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        767: {
          slidesPerView: "auto",
          spaceBetween: 14,
        },
      },
    });
  });
</script>
{% endblock %}
