{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,600&display=swap"
  rel="stylesheet"
/>

<link href="css/lp-hocvien.css" rel="stylesheet" type="text/css" media="all" />

{% endblock %} {% block header %}

<div class="navbar-container header-position navbar-lp-container">
  <nav class="navbar navbar-expand-lg navbar-dark py-0 px-0 navbar-lp">
    <div class="container header__container">
      <div class="d-flex align-items-center">
        <a
          class="navbar-brand navbar-brand-dynamic-color hv-back d-md-none"
          href="/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="svg-icon"
          >
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
          Trang chủ
        </a>
      </div>

      <div>
        <a href="/">
          <img src="img/hocvien/hocvien-momo-logo.svg" alt="" />
        </a>
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <div class="hv-back d-md-none"></div>
      </div>
    </div>
  </nav>
</div>

<div class="hv-kv-detail">
  <div class="text-center">
    <img
      src="img/hocvien/detail/khaigiang-kv.png"
      class="img-fluid d-block mx-auto"
      alt=""
    />
  </div>
</div>

<div class="mouse-wrapper">
  <!-- <div class="text-nowrap text-white mb-1">Đọc tiếp</div> -->

  <a href="#gioithieu" data-smooth-scroll>
    <div class="mouse border-white">
      <div class="mouse-scroll bg-white">&nbsp;</div>
    </div>
  </a>
</div>

<section class="section__hocvien mt-0" id="gioithieu">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="hv__box bg-primary-2 border-yellow">
          <div class="reveal">
            <div>
              Tưng bừng 3 ngày khai giảng Học Viện MoMo, từ
              <strong class="text-yellow">09/09 - 11/09</strong>, chơi vui “xoắn
              não", lãnh thưởng sướng tay. Hàng triệu phần quà cực bốc đang đợi
              các học viên:
              <strong class="text-yellow"
                >Kim cương PNJ, Vàng miếng 24K PNJ, iPhone Pro Max, học bổng 20
                triệu và hàng triệu bao lì xì may mắn khác</strong
              >
              . Bắt đầu từ ngày 09/09 trên Ví MoMo, ĐỪNG BỎ LỠ!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section__hocvien" id="khaigiang">
  <div class="container">
    <div class="text-center px-2">
      <h2 class="font-hv hv__heading reveal mb-3 mb-md-4">
        Khai giảng hoành tráng
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <ul class="nav nav-tabs nav-hv" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <div
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              data-target="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="nav-hv-item">
                <div class="time">(09:00 - 23:59)</div>
                <div class="date font-hv">09/09</div>
                <div class="quote">Ôm thưởng bạc triệu</div>
              </div>
            </div>
          </li>
          <li class="nav-item" role="presentation">
            <div
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              data-target="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              <div class="nav-hv-item">
                <div class="time">(00:00 - 23:59)</div>
                <div class="date font-hv">10/09</div>
                <div class="quote">Thưởng iPhone 11 Pro Max</div>
              </div>
            </div>
          </li>
          <li class="nav-item" role="presentation">
            <div
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              data-target="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              <div class="nav-hv-item">
                <div class="time">(09:00 - 23:59)</div>
                <div class="date font-hv">11/09</div>
                <div class="quote">Thưởng Kim cương PNJ</div>
              </div></div
            >
          </li>
        </ul>
        <div class="tab-content tab-content-hv" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="nav-hv-countdown">
              Sự kiện kết thúc trong:
              <strong
                data-date-format="%H:%M:%S"
                data-countdown-date="2020/09/09"
              ></strong>
            </div>

            <div class="hv__box bg-primary-2 mt-3 border-yellow">
              <div class="hv__card__body text-white p-0">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <h4 class="font-hv mb-3">
                      NGÀY ĐẦU ĐẾN TRƯỜNG - ÔM THƯỞNG BẠC TRIỆU
                    </h4>
                    <p>
                      Từ 09h00 - 23h59 ngày 09/09/2020, học viên so tài Thi Lên
                      Lớp và đạt danh hiệu Trường Đời đầu tiên sẽ nhận được 01
                      “Bao lì xì" trị giá 20 triệu đồng và 30 bao lì xì may mắn
                      1 triệu đồng.
                    </p>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="">
                      <img
                        src="img/hocvien/giaithuong/qua-1.png"
                        class="img-fluid d-block mx-auto"
                        width="350"
                        alt=""
                      />
                    </div>
                  </div>
                </div>

                <div class="text-center mt-3">
                  <a
                    href="lp-hocvien-momo-detail.html"
                    class="btn btn-warning font-hv mx-1 btn-hv-action"
                  >
                    Chi tiết sự kiện
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="nav-hv-countdown">
              Sự kiện kết thúc trong:
              <strong
                data-date-format="%H:%M:%S"
                data-countdown-date="2020/09/09"
              ></strong>
            </div>
            <div class="hv__box bg-primary-2 mt-3 border-yellow">
              <div class="hv__card__body text-white p-0">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <h4 class="font-hv mb-3">
                      NGÀY ĐẦU ĐẾN TRƯỜNG - ÔM THƯỞNG BẠC TRIỆU
                    </h4>
                    <p>
                      Từ 09h00 - 23h59 ngày 09/09/2020, học viên so tài Thi Lên
                      Lớp và đạt danh hiệu Trường Đời đầu tiên sẽ nhận được 01
                      “Bao lì xì" trị giá 20 triệu đồng và 30 bao lì xì may mắn
                      1 triệu đồng.
                    </p>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="">
                      <img
                        src="img/hocvien/giaithuong/qua-1.png"
                        class="img-fluid d-block mx-auto"
                        width="350"
                        alt=""
                      />
                    </div>
                  </div>
                </div>

                <div class="text-center mt-3">
                  <a
                    href="lp-hocvien-momo-detail.html"
                    class="btn btn-warning font-hv mx-1 btn-hv-action"
                  >
                    Chi tiết sự kiện
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            <div class="hv__box bg-primary-2 mt-3 border-yellow">
              <div class="hv__card__body text-white p-0">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <h4 class="font-hv mb-3">
                      NGÀY ĐẦU ĐẾN TRƯỜNG - ÔM THƯỞNG BẠC TRIỆU
                    </h4>
                    <p>
                      Từ 09h00 - 23h59 ngày 09/09/2020, học viên so tài Thi Lên
                      Lớp và đạt danh hiệu Trường Đời đầu tiên sẽ nhận được 01
                      “Bao lì xì" trị giá 20 triệu đồng và 30 bao lì xì may mắn
                      1 triệu đồng.
                    </p>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="">
                      <img
                        src="img/hocvien/giaithuong/qua-1.png"
                        class="img-fluid d-block mx-auto"
                        width="350"
                        alt=""
                      />
                    </div>
                  </div>
                </div>

                <div class="text-center mt-3">
                  <a
                    href="lp-hocvien-momo-detail.html"
                    class="btn btn-warning font-hv mx-1 btn-hv-action"
                  >
                    Chi tiết sự kiện
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section__hocvien" id="thele">
  <div class="container">
    <div class="text-center px-2">
      <h2 class="font-hv hv__heading reveal mb-3 mb-md-4">
        Thể lệ chương trình
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="hv__card shadow mb-4 mb-md-0">
          <div class="hv__card__header">
            <img
              src="img/hocvien/kv-thele.png"
              width=""
              class="img-fluid d-block d-md-none mx-auto w-100"
              alt=""
              loading="lazy"
            />

            <img
              src="img/hocvien/kv-thele-desktop.png"
              loading="lazy"
              class="img-fluid d-none d-md-block mx-auto w-100"
              alt=""
            />
          </div>
          <div class="hv__card__body">
            <div class="hv__accordion reveal">
              <div
                class="hv__accordion__item font-hv"
                data-toggle="modal"
                data-target="#modal-doituongthamgia"
              >
                <span class="font-hv"> Đối tượng tham gia </span>

                <i data-feather="chevron-right"></i>
              </div>

              <div
                class="hv__accordion__item font-hv"
                data-toggle="modal"
                data-target="#modal-doituongthamgia"
              >
                <span class="font-hv"> Điều kiện nhận giải</span>

                <i data-feather="chevron-right"></i>
              </div>

              <div
                class="hv__accordion__item font-hv"
                data-toggle="modal"
                data-target="#modal-doituongthamgia"
              >
                <span class="font-hv"> Điều kiện & Điều khoản </span>
                <i data-feather="chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal htu-modal fade hocvien-modal"
  id="modal-doituongthamgia"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn hocvien-modal-back"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Thông tin</div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn hocvien-modal-close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <h4>Đối tượng tham gia</h4>
        <p>- Tất cả các khách hàng sử dụng Ứng dụng Ví MoMo;</p>
        <p>
          - Khách hàng là Đại lý của Công ty Cổ Phần dịch vụ Di động trực tuyến
          (đang sử dụng Ứng dụng Ví MoMo Điểm giao dịch); sử dụng sim MLoad hoặc
          không thực hiện việc liên kết tài khoản ví MoMo với tài khoản ngân
          hàng KHÔNG được tham gia chương trình khuyến mại này.
        </p>
        <p>
          - Nhân viên của Công ty Cổ Phần dịch vụ Di động trực tuyến không được
          tham gia Chương trình này.
        </p>

        <p>
          Lưu ý: Khách hàng CHƯA LIÊN KẾT Ví MoMo với tài khoản Ngân hàng vẫn có
          thể tham gia, tuy nhiên cần thực hiện thủ tục định danh đầy đủ trên Ví
          MoMo để sử dụng các thẻ quà tặng nhận được (nếu có).˝
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary-2" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<div class="app-download">
  <div class="container text-center">
    <div class="app-download__content">
      <div class="tt">
        Tải Ví MoMo, nhập
        <strong class="text-primary-2">"HELLOMOMO"</strong> nhận quà
        <strong class="text-primary-2">500.000đ</strong>
      </div>

      <div class="app-download__btn">
        <button
          role="button"
          class="btn font-weight-bold btn-primary-2 py-1 px-2"
          data-container="body"
          data-toggle="popover"
          data-placement="top"
          data-html="true"
          tabindex="0"
          data-trigger="focus"
          data-content='<div class="text-center font-14">Quét mã để tải ví MoMo</div> <img src="https://static.mservice.io/img/momo-upload-api-200403134853-637215185338434267.png" width="200" alt="">'
        >
          TẢI NGAY
        </button>
      </div>
    </div>
  </div>

  <a
    href=""
    title="dismiss"
    class="js-app-download headerstrip__banner-dismiss"
  >
    <svg
      class="headerstrip__dismiss-icon"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19.8 2.4c.3.3.3.8 0 1.1l-6 6c-.3.3-.3.8 0 1.1l6 6c.3.3.3.8 0 1.1l-2.2 2.2c-.3.3-.8.3-1.1 0l-6-6c-.3-.3-.8-.3-1.1 0l-6 6c-.3.3-.8.3-1.1 0L.1 17.7c-.3-.3-.3-.8 0-1.1l6-6c.3-.3.3-.8 0-1.1l-6-6c-.3-.3-.3-.8 0-1.1L2.3.2c.3-.3.8-.3 1.1 0l6 6c.3.3.8.3 1.1 0l6-6c.3-.3.8-.3 1.1 0l2.2 2.2z"
      ></path>
    </svg>
  </a>
</div>

<div
  class="modal htu-modal fade hocvien-modal"
  id="modal-question"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn hocvien-modal-back"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Thông tin</div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn hocvien-modal-close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <h4>Ví điện tử MoMo là gì</h4>
        <p>
          Ví MoMo là sản phẩm của Công ty M_Service. Khách hàng có thể sử dụng
          Ví MoMo để: Nạp tiền điện thoại tất cả nhà mạng, thanh toán các loại
          hóa đơn, thanh toán vay trả góp, mua sắm online, thanh toán dịch vụ ăn
          uống - giải trí
        </p>
        <p>
          Ví MoMo được cấp giấy phép và quản lý bởi Ngân hàng Nhà nước. Đồng
          thời là đối tác chiến lược của các 23 Ngân hàng lớn: Vietcombank,
          Vietinbank, Agribank, BIDV, ACB, TPBank, VPBank, Eximbank, OCB, VIB,
          Shinhan Bank, SCB, Sacombank, VRB, BAOVIET Bank, ABBANK, OceanBank,
          MBBank, PVcomBank, VietCaptial Bank, Nam Á Bank, SHB, Bắc Á Bank
        </p>
        <p>
          Tham khảo thêm thông tin về Ví MoMo tại:
          <a href="momo.vn"> momo.vn</a>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary-2" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal htu-modal fade hocvien-modal"
  id="modalTintuc"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn hocvien-modal-back"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Thông tin</div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn hocvien-modal-close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <article class="article">
          <h3
            class="h2 text-primary-2 ng-binding"
            ng-bind="Model.Article.Title"
          >
            Cùng MoMo gửi “Lời cảm ơn 3004” đến các y bác sĩ và lập kỳ tích vào
            ngày 30/4 lịch sử
          </h3>

          <div class="d-flex align-items-center mb-3 mb-xl-4">
            <div
              class="text-small text-muted ng-binding"
              ng-bind="Model.Article.PublicDate"
            >
              24/04/2020
            </div>
          </div>

          <p class="lead ng-binding" ng-bind="Model.Article.Short">
            Nằm trong chiến dịch “Điều nhỏ bé vĩ đại”, sự kiện “Lời cảm ơn 3004”
            là lời kêu gọi của MoMo đến mọi người, mong muốn cùng san sẻ những
            điều nhỏ bé hàng ngày trong cuộc sống để tri ân các chiến sĩ áo
            trắng. Mục tiêu nhằm kêu gọi quyên góp cho Quỹ phòng, chống dịch
            Covid-19 cho UBTW Mặt Trận Tổ Quốc Việt Nam trên Ví MoMo đạt con số
            đầy ý nghĩa 3.004.000.000 đồng vào ngày 30/4 lịch sử.
          </p>

          <div
            class="full-content ng-binding"
            ng-bind-html="Model.Article.Content"
          >
            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164414-637233434546251163.jpg"
              />
            </p>

            <p>
              Những ngày qua khi chúng ta được nới lỏng giãn cách xã hội, nhiều
              người háo hức quay trở lại nhịp sống sinh hoạt thường ngày như đi
              cà phê, ăn uống, làm đẹp, tập gym,... Nhưng sau lưng chúng ta,
              những chiến sĩ áo trắng vẫn phải ở lại túc trực nơi bệnh viện, khu
              cách ly hay sân bay… để âm thầm bảo vệ người dân khỏi rủi ro tái
              bùng dịch.&nbsp;
            </p>

            <p>
              Hơn bao giờ hết, đây chính là lúc chúng ta cần gửi lời cảm ơn tuy
              nhỏ bé nhưng thiết thực đến các chiến sỹ áo trắng.
            </p>

            <p>
              Với 100.000 đồng tương đương hai ổ bánh mì, ly cà phê, trà sữa hay
              một lần làm đẹp, cắt tóc,... mỗi người đã có thể cùng nhau tạo nên
              kỳ tích dành tặng những người hùng áo trắng và chung tay cùng
              Chính Phủ khôi phục đất nước sau ảnh hưởng nặng nề của dịch
              Covid-19. Bạn có sẵn sàng? Quyết định nằm ở trái tim mỗi
              người!&nbsp;
            </p>

            <p>
              <em
                >“Với quyết tâm đồng lòng của cả nước, chúng ta có quyền hy vọng
                sau ngày 30/4 sẽ không có ca nhiễm Covid-19 nào, các bác sĩ được
                về nhà, người thất nghiệp tìm được việc làm mới, trẻ con trở lại
                trường, nền kinh tế khôi phục sau dịch bệnh. Việt Nam sẽ làm nên
                kỳ tích là quốc gia đầu tiên tuyên bố hết dịch Covid-19,... làm
                rạng danh đất nước hình chữ S một lần nữa vào tháng 4 lịch
                sử”</em
              >, ông Nguyễn Bá Diệp (Phó Chủ tịch, đồng sáng lập Ví điện tử
              MoMo) tin tưởng.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164512-637233435127918494.jpg"
              />
            </p>

            <p>
              Chính thức phát động từ ngày 8/4/2020, <strong>tính đến</strong>
              <strong>15 giờ (ngày 24/4/2020)</strong>, chiến dịch “Điều nhỏ bé
              vĩ đại” của Ví MoMo đã kêu gọi ủng hộ cho UBTW Mặt trận Tổ quốc
              Việt Nam với số tiền quyên góp được hơn<strong>
                1,443 tỷ đồng</strong
              >
              với hơn<strong> 89 nghìn lượt.</strong>
            </p>

            <p>
              Trước đó, ngày 22/4, tại trụ sở UBTW Mặt trận Tổ quốc Việt Nam,
              MoMo đã có buổi gặp gỡ trao đổi và trao 1 tỷ đồng quyên góp (đợt
              1) cho đại diện MTTQ. Đây là số tiền đóng góp của cộng đồng người
              dùng Ví MoMo cho “Điều nhỏ bé vĩ đại”.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164537-637233435370452669.jpg"
              />
            </p>

            <p>
              Bên cạnh số tiền quyên góp cho Quỹ phòng chống Covid-19, người
              dùng cũng có thể quyên góp cho Sinh viên Đại học Y Hà Nội bằng Heo
              vàng của Ví MoMo.
              <strong
                >Tất cả Heo vàng mà người dùng quyên góp, sẽ được Ví MoMo quy
                đổi thành tiền mặt</strong
              >
              (dự kiến 1 tỷ đồng nếu đạt con số 6,5 triệu Heo vàng) để ủng
              hộ.&nbsp;
            </p>

            <p>
              Để tạo ra Heo vàng người dùng chỉ cần thực hiện: (1) Đi bộ mỗi
              ngày 4.000 bước chân để quy đổi; (2) Nuôi Heo đất để tạo ra Heo
              vàng bằng cách “Cho heo ăn” (Chi tiết
              <a
                href="https://momo.vn/huong-dan/huong-dan-nuoi-heo-dat-nhan-heo-vang-va-quyen-gop-tren-vi-momo"
                ><strong>TẠI ĐÂY</strong></a
              >).
            </p>

            <p>
              <strong>Xem thêm tại:</strong>
              <a href="https://momo.vn/dieunhobevidai#baitintuc"
                >https://momo.vn/dieunhobevidai</a
              >
            </p>

            <p>&nbsp;</p>
          </div>
        </article>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary-2" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

{% include "layouts/modal.html" %} {% endblock %} {% block javascript %}

<script>
  function animateCSS(
    element,
    animation,
    delay,
    duration,
    callback,
    prefix = "animate__"
  ) {
    new Promise((resolve, reject) => {
      const animationName = `${prefix}${animation}`;
      const node = document.querySelector(element);

      node.style.animationDuration = duration; //s
      node.style.animationDelay = delay;
      node.style.visibility = "visible";

      node.classList.add(`${prefix}animated`, animationName);

      // When the animation ends, we clean the classes and resolve the Promise
      function handleAnimationEnd() {
        node.classList.remove(`${prefix}animated`, animationName);
        node.style.removeProperty("animation-duration");
        node.style.removeProperty("animation-delay");
        node.removeEventListener("animationend", handleAnimationEnd);
        // node.removeEventListener("animationend", handleAnimationEnd);

        resolve();
        if (callback) callback();
      }

      node.addEventListener("animationend", handleAnimationEnd);
      // node.addEventListener("animationend", callback);
    });
  }

  window.addEventListener("load", function () {
    animateCSS(".kv__img__tranthanh", "fadeInUp", "0.3s", "0.6s");
    animateCSS(".kv__img__bubble", "bounceIn", "1s", "1s");
    animateCSS(".kv__img__txt2", "zoomIn", "1.5s", "0.3s");

    animateCSS(".kv__img__txt1", "zoomIn", "2s", "0.3s", function () {
      setTimeout(function () {
        animateCSS(".kv__img__txt1", "tada", "0.2s", "1s");
      }, 500);
    });

    animateCSS(".kv__img__txt3", "zoomIn", "2.8s", "0.4s");
  });

  $(document).ready(function () {
    var headerHideAuto = function () {
      var mainHeader = $(".navbar-lp-container");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };
    headerHideAuto();

    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    $("#navigation-menu").on("show.bs.collapse", function () {
      document.body.classList.add("navbar-lp-open");
    });

    $("#navigation-menu").on("hide.bs.collapse", function () {
      document.body.classList.remove("navbar-lp-open");
    });

    $(".navbar-lp .navbar-nav").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    var swiperTinTuc = new Swiper(".swiper-tintuc", {
      slidesPerView: 3,
      spaceBetween: 30,
      // simulateTouch: false,
      draggable: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      speed: 500,
      breakpoints: {
        991: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        767: {
          slidesPerView: "auto",
          spaceBetween: 14,
        },
      },
    });

    // var swiperRoadMapTop = new Swiper(".swiper-roadmap-top", {
    //   slidesPerView: 4,
    //   spaceBetween: 0,
    //   draggable: true,
    //   navigation: {
    //     nextEl: ".swiper-button-next",
    //     prevEl: ".swiper-button-prev",
    //   },

    //   speed: 500,
    //   breakpoints: {

    //   },
    // });

    // var swiperRoadMapBottom = new Swiper(".swiper-roadmap-bottom", {
    //   slidesPerView: 1,
    //   spaceBetween: 0,
    //   // simulateTouch: false,
    //   draggable: true,
    //   navigation: {
    //     nextEl: ".swiper-button-next",
    //     prevEl: ".swiper-button-prev",
    //   },
    //   on: {
    //     slideChangeTransitionEnd: function () {

    //       activeRoadmapItem(this.activeIndex);

    //       swiperRoadMapTop.slideTo(this.activeIndex - 1);
    //     },
    //   },

    //   speed: 500,
    //   breakpoints: {

    //   },
    // });

    // var roadmapTopItem = $(".swiper-roadmap-top .swiper-slide");
    // var roadmapBottomItem = $(".swiper-roadmap-bottom .swiper-slide");

    // var roadmapIndex = 0; //Active index

    // function activeRoadmapItem(index) {
    //   roadmapTopItem.each(function (i) {
    //     if (i == index) {
    //       $(this).addClass("is-active");
    //     } else {
    //       $(this).removeClass("is-active");
    //     }
    //   });
    // }

    // function slideToRoadmapItem(index) {
    //   swiperRoadMapBottom.slideTo(index);
    //   swiperRoadMapTop.slideTo(index - 1);
    // }

    // roadmapTopItem.each(function (index, value) {
    //   var num = index;
    //   var $this = $(this);
    //   $this.on("click", function (e) {
    //     activeRoadmapItem(num);
    //     slideToRoadmapItem(num);
    //   });
    // });
  });
</script>
{% endblock %}
