{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap"
  rel="stylesheet"
/>

<link href="css/lp-megaday.css" rel="stylesheet" type="text/css" media="all" />

{% endblock %} {% block header %}

<div class="navbar-container header-position navbar-lp-container">
  <nav class="navbar navbar-expand-lg navbar-dark py-0 px-0 navbar-lp">
    <div class="container header__container">
      <div class="logo-brand d-block d-md-none vp-hide">
        <img
          src="https://static.mservice.io/img/momo-upload-api-211019162007-637702572079456901.png
        "
          class="img-fluid"
          width="100"
        />
      </div>

      <style>
        .logo-brand {
          position: absolute;
          left: 50%;
          top: 16px;
          transform: translateX(-50%);
        }
      </style>

      <div class="d-flex align-items-center">
        <a class="navbar-brand ml-3 ml-md-0 vp-hide" href="index.html">
          <img
            alt="MoMo"
            src="https://static.mservice.io/jk/accmm/rs/assets/img/momo-white.png"
            width="38"
          />
        </a>
        <a class="navbar-brand ml-2 d-none d-md-block" href="index.html">
          <img
            src="https://static.mservice.io/img/momo-upload-api-211019162007-637702572079456901.png"
            class="img-fluid"
            width="110"
            alt=""
          />
        </a>

        <a class="vp-element vp-block ml-3" href="javascript:ExitApp()">
          <svg
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="32.9317"
              height="32.9317"
              rx="16.4659"
              fill="#c3c3c5"
            />
            <path
              d="M22.25 10.75L10.75 22.25"
              stroke="#717173"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.75 10.75L22.25 22.25"
              stroke="#717173"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler vp-hide"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon"
            data-inject-svg
            src="img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon"
            data-inject-svg
            src="img/icons/interface/icon-x.svg"
          />
        </button>

        <button
          class="btn btn-share px-3 vp-element vp-block"
          data-original-title=""
          data-placement="bottom"
          data-popover-content="#unique-id"
          data-toggle="popover"
          role="button"
          title=""
          type="button"
        >
          <svg
            width="31"
            height="30"
            viewBox="0 0 31 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style="background: #717173; border-radius: 3px"
          >
            <path
              d="M31 3.21429V26.7857C31 28.5609 29.513 30 27.6786 30H3.32143C1.48703 30 0 28.5609 0 26.7857V3.21429C0 1.43906 1.48703 0 3.32143 0H27.6786C29.513 0 31 1.43906 31 3.21429ZM21.0357 17.6786C20.0281 17.6786 19.1105 18.051 18.4213 18.661L13.7188 15.9305C13.8794 15.3199 13.8794 14.68 13.7188 14.0694L18.4213 11.3389C19.1105 11.949 20.0281 12.3214 21.0357 12.3214C23.1758 12.3214 24.9107 10.6425 24.9107 8.57143C24.9107 6.50036 23.1758 4.82143 21.0357 4.82143C18.8956 4.82143 17.1607 6.50036 17.1607 8.57143C17.1607 8.89266 17.2026 9.20444 17.2811 9.50203L12.5787 12.2325C11.8895 11.6224 10.9719 11.25 9.96428 11.25C7.82418 11.25 6.08929 12.9289 6.08929 15C6.08929 17.0711 7.82418 18.75 9.96428 18.75C10.9719 18.75 11.8895 18.3776 12.5787 17.7676L17.2812 20.498C17.201 20.8021 17.1606 21.1148 17.1608 21.4286C17.1608 23.4997 18.8957 25.1786 21.0358 25.1786C23.1759 25.1786 24.9108 23.4997 24.9108 21.4286C24.9107 19.3575 23.1758 17.6786 21.0357 17.6786Z"
              fill="#c3c3c5"
            />
          </svg>
        </button>
      </div>

      <div
        class="
          collapse
          navbar-collapse
          order-3 order-lg-2
          justify-content-lg-end
          menu-nongsan
        "
        id="navigation-menu"
      >
        {% set menu = [ { "name": "Giới thiệu", "id" : "gioithieu", "link" : ""
        }, { "name": "Deal hấp dẫn", "id" : "dealhapdan", "link" : "" }, {
        "name": "Mở Ví Trả Sau", "id" : "movitrasau", "link" : "" }, { "name":
        "Khách hàng mới", "id" : "khachhangmoi", "link" : "" }, { "name": "Đối
        tác đồng hành ", "id" : "doitacdonghanh", "link" : "" }] %}

        <ul class="navbar-nav m-0">
          {% for item in menu %}
          <li class="nav-item">
            <a
              class="nav-link link-white nav-item"
              href="#{{item.id}}"
              data-smooth-scroll
              role="button"
              >{{item.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %} {% block content %}

<script>
  var url_string = location.href;
  var url = new URL(location.href);
  if (url && url.searchParams) {
    var pView = url.searchParams.get("view");
    if (pView == "app") {
      document.body.classList.add("view_app");
    }
  }

  function ExitApp() {
    try {
      window.ReactNativeWebView.postMessage("FinishActivity");
    } catch {}
  }
</script>

<div class="kv-section">
  <div class="swiper-container swiper-kv">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="https://static.mservice.io/img/momo-upload-api-211015114403-637698950435330998.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="https://static.mservice.io/img/momo-upload-api-211019102837-637702361179697821.png"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="kv-pagination">
      <div class="container position-relative">
        <div class="swiper-button-next">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<svg class="svg-hidden">
  <defs>
    <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
      <path
        d="M0,0 H1 V1 C1,1,0.773,0.945,0.5,0.945 C0.227,0.945,0,1,0,1 V0"
      ></path>
    </clipPath>
  </defs>
</svg>

<svg class="svg-hidden">
  <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
    <path
      d="M0,0 H1 V1 C1,1,0.773,0.979,0.5,0.979 C0.227,0.979,0,1,0,1 V0"
    ></path>
  </clipPath>
</svg>

<div class="wrapper">
  <div class="sud-hero-bg-2">
    <img
      src="https://static.mservice.io/img/momo-upload-api-211020110810-637703248908484095.png"
      aria-colspan=""
      alt=""
      class="d-block"
      loading="lazy"
    />
  </div>
  <div class="sud-hero-bg-3">
    <img
      src="https://static.mservice.io/img/momo-upload-api-211020110822-637703249026136191.png"
      aria-colspan=""
      alt=""
      class="d-block"
      loading="lazy"
      width="450"
    />
  </div>

  <section id="gioithieu">
    <div class="container">
      <div class="mega-heading">
        <h1 class="text-center text-uppercase reveal" data-reveal-delay="200">
          <span class="mega-t1">SIÊU HỘI HOÀN TIỀN 50%</span>
          <span
            class="reveal show d-block mega-t2 tt1 mt-2"
            data-reveal-delay="400"
            >01.11 - 11.11</span
          >
        </h1>
      </div>

      <div class="text-center reveal" data-reveal-delay="500">
        <div class="countdown-11 mx-auto">
          <div
            class="
              d-flex
              flex-row flex-wrap
              justify-content-around
              add-countdown-time
            "
            data-countdown-date="2021/11/06"
            data-detailed
          >
            <div class="text-center">
              <div class="mb-2 countdown-box"><span data-days></span></div>
              <span class="lal">Ngày</span>
            </div>
            <div class="countdown-box-sec">:</div>
            <div class="text-center">
              <div class="mb-2 countdown-box"><span data-hours></span></div>
              <span class="lal">Giờ</span>
            </div>
            <div class="countdown-box-sec">:</div>
            <div class="text-center">
              <div class="mb-2 countdown-box"><span data-minutes></span></div>
              <span class="lal">Phút</span>
            </div>
            <div class="countdown-box-sec">:</div>
            <div class="text-center">
              <div class="mb-2 countdown-box"><span data-seconds></span></div>
              <span class="lal">Giây</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% set tinhnang=[ { 'title': 'Đặt mọi phương tiện, ', 'bold': 'hưởng trọn ưu
  đãi.' }, { 'title': 'Mở Ví, quản lý cả chuyến đi', 'bold': '' }, { 'title':
  'Bảo mật chuẩn quốc tế cho giao dịch thuận lợi', 'bold': '' }, { 'title': 'Mã
  ghế trong ví, ', 'bold': 'thủ tục như ý' } ] %}

  <section class="pt-0">
    <div class="container">
      <div class="row align-items-center no-gutters">
        <div
          class="
            col-12 col-md-6
            order-1 order-md-0
            pr-lg-5
            pt-4 pt-md-0
            pr-md-4
          "
          data-aos="fade-right"
        >
          <h2
            class="sc-heading section-heading mega-t1 reveal"
            data-reveal-delay="200"
          >
            Đón chờ Siêu hội Hoàn tiền 50%
          </h2>
          <p class="text-gray-200">
            Cùng đếm ngược chờ đón
            <strong class="text-warning">Siêu hội hoàn tiền 50%</strong> khủng
            nhất trên MoMo diễn ra từ 01.11 - 11.11.
            <strong class="text-warning">Mở Ví Trả Sau</strong>, bạn đã có thể
            nhập cuộc săn “bão sale” không cần tiền mặt:
            <strong class="text-warning"
              >Mua trước trả sau lãi suất cực sốc 0% và hoàn tiền đến
              50%.</strong
            >
          </p>
          <p class="text-gray-200">
            Ngoài ra, hàng triệu deal hấp dẫn, tiền mặt & hiện vật cực giá trị
            với tổng giải thưởng lên đến hàng trăm tỷ đồng hứa hẹn làm thỏa mãn
            mọi tín đồ mua sắm.
          </p>

          <p class="text-gray-200">
            Mở Ví MoMo, chờ đón
            <strong class="text-warning">Siêu hoàn tiền ngay!</strong>
          </p>

          <div class="mt-4 text-center text-md-left">
            <a
              class="
                d-none d-md-inline-block
                btn btn-warning
                py-1
                font-weight-bold
                mr-2
                fs-15
                text-uppercase
                py-2
              "
              data-qrcode-id="183"
              data-target="#qrcode-modal-183"
              data-toggle="modal"
              href="javascript:void(0)"
              target="_blank"
              >MỞ VÍ MOMO NGAY</a
            >
            <a
              class="
                btn btn-warning
                py-1
                font-weight-bold
                mr-2
                fs-15
                text-uppercase
                py-2
                d-md-none d-inline-block
              "
              href="https://momoapp.page.link/38RqmLV9VyPke3dBA"
              target="_blank"
              >MỞ VÍ MOMO NGAY</a
            >
          </div>
        </div>
        <div
          class="col-12 col-md-6 order-0 order-md-1"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <div
            class="
              position-relative
              align-items-center
              justify-content-center
              d-none d-md-flex
            "
          >
            <img
              alt="vitrasau"
              class="rounded img-fluid shadow-lg"
              src="https://static.mservice.io/blogscontents/momo-upload-api-210715153934-637619603749198568.jpg"
            />
            <a
              class="position-absolute why-play-icon"
              data-aos="zoom-in"
              data-fancybox=""
              href="https://www.youtube.com/embed/lgYwTFuP-k4?controls=0"
            >
              <img
                alt="Media Play Icon"
                src="https://momo.vn/momo2020/img/hocvien/play.svg"
                width="70"
              />
            </a>
          </div>

          <div
            class="embed-responsive embed-responsive-16by9 d-block d-md-none"
          >
            <iframe
              allowfullscreen=""
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/lgYwTFuP-k4?controls=0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="" id="dealhapdan">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2
              class="text-center sc-heading mega-t1 section-heading reveal"
              data-reveal-delay="200"
            >
              Hàng Triệu Voucher Hoàn Tiền 50%
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4 benefit-container">
      <div class="row justify-content-center align-items-end">
        <div class="col-6 col-lg-5">
          <div class="benefit">
            <div class="benefit-header">
              <div class="title h4">Ưu đãi tiêu chuẩn</div>
            </div>

            <div class="px-0 px-md-3">
              <div
                class="benefit-item"
                data-toggle="modal"
                data-target="#modal-uudai"
              >
                <div class="benefit-logo flex-shrink-0">
                  <img
                    src="https://static.mservice.io/img/momo-upload-api-211019134725-637702480450195168.png"
                    class="img-fluid d-block mx-auto rounded"
                    alt="Việt Nam yêu thương"
                    loading="lazy"
                  />
                </div>
                <div class="benefit-content flex-grow-1">
                  <div class="tt">Tối đa 10.000Đ</div>
                  <div class="ss">Áp dụng cho hầu hết dịch vụ</div>

                  <div class="benefit-cta">
                    <a
                      class="link-pink font-weight-bold fs-14"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                      >CHI TIẾT</a
                    >
                  </div>
                </div>
              </div>

              <hr />

              <div
                class="benefit-item"
                data-toggle="modal"
                data-target="#modal-uudai"
              >
                <div class="benefit-logo flex-shrink-0">
                  <img
                    src="https://static.mservice.io/img/momo-upload-api-211019135050-637702482508668500.png"
                    class="img-fluid d-block mx-auto rounded"
                    alt="Việt Nam yêu thương"
                    loading="lazy"
                  />
                </div>
                <div class="benefit-content flex-grow-1">
                  <div class="tt">Tối đa 15.000Đ</div>
                  <div class="ss">Ăn uống - Cửa hàng tiện lợi - Xăng</div>
                  <div class="benefit-cta">
                    <a
                      class="link-pink font-weight-bold fs-14"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                      >CHI TIẾT</a
                    >
                  </div>
                </div>
              </div>

              <hr />

              <div
                class="benefit-item"
                data-toggle="modal"
                data-target="#modal-uudai"
              >
                <div class="benefit-logo flex-shrink-0">
                  <img
                    src="https://static.mservice.io/img/momo-upload-api-211019135113-637702482738247226.png"
                    class="img-fluid d-block mx-auto rounded"
                    alt="Việt Nam yêu thương"
                    loading="lazy"
                  />
                </div>
                <div class="benefit-content flex-grow-1">
                  <div class="tt">Tối đa 50.000Đ</div>
                  <div class="ss">
                    Siêu thị - Tiki - Ăn uống - Cửa hàng tiện lợi - Du lịch, đi
                    lại - Xăng
                  </div>
                  <div class="benefit-cta">
                    <a
                      class="link-pink font-weight-bold fs-14"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                      >CHI TIẾT</a
                    >
                  </div>
                </div>
              </div>

              <!-- <div class="benefit-footer">
                <a href="" class="btn btn-lg btn-outline-primary-2 btn-block"
                  >Tải App MoMo</a
                >
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-5">
          <div class="benefit benefit-feature">
            <div class="benefit-f-logo">
              <img
                src="img/megaday/logo-vtt.png"
                class="img-fluid d-block mx-auto shadow-md"
                width="60"
                alt=""
              />
            </div>

            <div class="benefit-header">
              <div class="title h4">Đặc quyền Ví Trả Sau</div>
            </div>

            <div class="px-0 px-md-3">
              <div class="benefit-item">
                <div class="benefit-logo flex-shrink-0">
                  <img
                    src="https://static.mservice.io/img/momo-upload-api-211019134725-637702480450195168.png"
                    class="img-fluid d-block mx-auto rounded"
                    alt="Việt Nam yêu thương"
                    loading="lazy"
                  />
                </div>
                <div class="benefit-content flex-grow-1">
                  <div class="tt">Tối đa 50.000Đ</div>
                  <div class="ss">Áp dụng cho hầu hết dịch vụ</div>
                  <div class="benefit-cta">
                    <a href="" class="link-pink font-weight-bold fs-14"
                      >CHI TIẾT</a
                    >
                  </div>
                </div>
              </div>

              <hr />

              <div class="benefit-item">
                <div class="benefit-logo flex-shrink-0">
                  <img
                    src="https://static.mservice.io/img/momo-upload-api-211019135050-637702482508668500.png"
                    class="img-fluid d-block mx-auto rounded"
                    alt="Việt Nam yêu thương"
                    loading="lazy"
                  />
                </div>
                <div class="benefit-content flex-grow-1">
                  <div class="tt">Tối đa 30.000Đ</div>
                  <div class="ss">Ăn uống - Cửa hàng tiện lợi - Xăng</div>
                  <div class="benefit-cta">
                    <a href="" class="link-pink font-weight-bold fs-14"
                      >CHI TIẾT</a
                    >
                  </div>
                </div>
              </div>

              <hr />

              <div class="benefit-item">
                <div class="benefit-logo flex-shrink-0">
                  <img
                    src="https://static.mservice.io/img/momo-upload-api-211019135113-637702482738247226.png"
                    class="img-fluid d-block mx-auto rounded"
                    alt="Việt Nam yêu thương"
                    loading="lazy"
                  />
                </div>
                <div class="benefit-content flex-grow-1">
                  <div class="tt">Tối đa 50.000Đ</div>
                  <div class="ss">
                    Siêu thị - Tiki - Ăn uống - Cửa hàng tiện lợi - Du lịch, đi
                    lại - Xăng
                  </div>

                  <div class="benefit-cta">
                    <a href="" class="link-pink font-weight-bold fs-14"
                      >CHI TIẾT</a
                    >
                  </div>
                </div>
              </div>

              <!-- <div class="benefit-footer">
                <a href="" class="btn btn-lg btn-primary-2 btn-block"
                  >Mở VÍ TRẢ SAU</a
                >
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="" id="movitrasau">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2
              class="text-center mega-t1 section-heading sc-heading reveal"
              data-reveal-delay="200"
            >
              Mở Ví Trả Sau Săn Sale Không Cần Tiền
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="mb-4">
        <ul class="nav nav-tabs tabs-megaday" id="baomat" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link mm-link active"
              id="home-1"
              data-toggle="tab"
              href="#baochungnganhang"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <img
                src="https://static.mservice.io/img/momo-upload-api-211021103614-637704093741378524.png"
                class="img-fluid d-block mx-auto"
                width="34"
                alt=""
              />

              <span class="d-block mt-1">Giới thiệu Ví trả sau</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link mm-link"
              id="home-2"
              data-toggle="tab"
              href="#baomatdatang"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              <img
                src="https://static.mservice.io/img/momo-upload-api-210816152245-637647241654656834.png"
                class="img-fluid d-block mx-auto"
                width="34"
                alt=""
              />
              <span class="d-block mt-1">Hướng dẫn mở ví</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link mm-link"
              id="home-3"
              data-toggle="tab"
              href="#datchuanquocte"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              <svg width="34" height="34" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path
                    d="M20.556 5.693H7.694c-1.3 0-2.355 1.078-2.355 2.408v24.074c0 1.33 1.055 2.407 2.355 2.407H26.54c1.3 0 2.355-1.078 2.355-2.407V14.11l-8.338-8.418z"
                    fill="#D82D8B"
                  />
                  <path
                    d="M20.556 5.667v5.777a2.667 2.667 0 0 0 2.666 2.667H29l-8.444-8.444z"
                    fill="#A50064"
                  />
                  <path
                    d="M9.889 19.444H24.11c.491 0 .889.398.889.89v1.333c0 .49-.398.889-.889.889H9.89a.889.889 0 0 1-.889-.89v-1.333c0-.49.398-.889.889-.889zM9.889 11.444h8.035c.49 0 .889.398.889.89v1.333c0 .49-.398.889-.89.889H9.89a.889.889 0 0 1-.889-.89v-1.333c0-.49.398-.889.889-.889zM9.889 27.444H24.11c.491 0 .889.398.889.89v1.333c0 .49-.398.889-.889.889H9.89a.889.889 0 0 1-.889-.89v-1.333c0-.49.398-.889.889-.889z"
                    fill="#FFF"
                  />
                  <g>
                    <path
                      d="m33.977 14.708 2.469 2.469c.744.744.744 1.95 0 2.694L26.237 30.079a1.905 1.905 0 0 1-1.054.536l-4.21.654a.952.952 0 0 1-1.088-1.087l.654-4.211c.062-.4.25-.769.535-1.055l10.209-10.208a1.905 1.905 0 0 1 2.694 0z"
                      fill="#FFD6E7"
                    />
                    <path
                      d="m33.977 14.708 2.469 2.469c.744.744.744 1.95 0 2.694l-2.33 2.33-5.163-5.163 2.33-2.33a1.905 1.905 0 0 1 2.694 0z"
                      fill="#A50064"
                    />
                  </g>
                </g>
              </svg>

              <span class="d-block mt-1"> Điều kiện mở Ví</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content mt-5" id="baomatContent">
        <div
          class="tab-pane fade show active"
          id="baochungnganhang"
          role="tabpanel"
          aria-labelledby="home-1"
        >
          <div class="row align-items-center no-gutters">
            <div
              class="col-12 col-md-6 order-1 order-md-0 pr-lg-5 pt-4 pt-md-0"
            >
              <h3 class="text-white font-weight-bold">
                Ví Trả Sau - Dùng trước, trả sau trên Ví MoMo
              </h3>

              <div class="row">
                <div class="col-12 d-flex align-items-center mb-1">
                  <p class="fw-400 text-gray-300">
                    <b>Ví Trả Sau </b>là sản phẩm
                    <strong>cho vay tiêu dùng không có tài sản bảo đảm</strong>
                    do TPBank cung cấp với hình thức cấp hạn mức vay cho Khách
                    Hàng theo Hợp Đồng Tín Dụng. Khách Hàng được phép sử dụng
                    hạn mức vay này để thanh toán một số dịch vụ trên Ví MoMo.
                  </p>
                </div>

                <div class="col-12 d-flex align-items-center mb-1">
                  <h6 class="fw-400 text-gray-300">
                    <strong>Ví Trả Sau cho phép Khách Hàng:</strong>
                  </h6>
                </div>

                <div class="col-12 d-flex align-items-center mb-1">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="jsx-2085888330 block flex-shrink-0"
                  >
                    <circle
                      opacity="0.8"
                      cx="12"
                      cy="12"
                      r="12"
                      fill="white"
                      class="jsx-2085888330"
                    ></circle>
                    <path
                      d="M17.3332 8L9.99984 15.3333L6.6665 12"
                      stroke="#A50064"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="jsx-2085888330"
                    ></path>
                  </svg>

                  <h6 class="fw-400 text-gray-300 pl-2 pt-2">
                    <strong
                      >Mua sắm tháng này, trả vào tháng sau (Trả Sau)</strong
                    >
                  </h6>
                </div>

                <div class="col-12 d-flex align-items-center mb-1">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="jsx-2085888330 block flex-shrink-0"
                  >
                    <circle
                      opacity="0.8"
                      cx="12"
                      cy="12"
                      r="12"
                      fill="white"
                      class="jsx-2085888330"
                    ></circle>
                    <path
                      d="M17.3332 8L9.99984 15.3333L6.6665 12"
                      stroke="#A50064"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="jsx-2085888330"
                    ></path>
                  </svg>
                  <h6 class="fw-400 text-gray-300 pl-2 pt-2">
                    <strong
                      >Mua sắm tháng này, trả trong nhiều kỳ (Trả Góp)</strong
                    >
                  </h6>
                </div>
              </div>

              <div class="mt-4 text-center text-md-left">
                <a
                  class="
                    d-none d-md-inline-block
                    btn btn-warning
                    py-1
                    font-weight-bold
                    mr-2
                    fs-15
                    text-uppercase
                    py-2
                  "
                  data-qrcode-id="183"
                  data-target="#qrcode-modal-183"
                  data-toggle="modal"
                  href="javascript:void(0)"
                  target="_blank"
                  >MỞ VÍ NGAY</a
                >
                <a
                  class="
                    btn btn-warning
                    py-1
                    font-weight-bold
                    mr-2
                    fs-15
                    text-uppercase
                    py-2
                    d-md-none d-inline-block
                  "
                  href="https://momoapp.page.link/38RqmLV9VyPke3dBA"
                  target="_blank"
                  >MỞ VÍ NGAY</a
                >
              </div>
            </div>

            <div class="col-12 col-md-6 order-0 order-md-1">
              <div
                class="
                  position-relative
                  align-items-center
                  justify-content-center
                  d-none d-md-flex
                "
              >
                <img
                  alt="vitrasau"
                  class="rounded img-fluid shadow-lg"
                  src="https://static.mservice.io/blogscontents/momo-upload-api-210715153934-637619603749198568.jpg"
                />
                <a
                  class="position-absolute why-play-icon"
                  data-aos="zoom-in"
                  data-fancybox=""
                  href="https://www.youtube.com/embed/lgYwTFuP-k4?controls=0"
                >
                  <img
                    alt="Media Play Icon"
                    src="https://momo.vn/momo2020/img/hocvien/play.svg"
                    width="70"
                  />
                </a>
              </div>

              <div
                class="
                  embed-responsive embed-responsive-16by9
                  d-block d-md-none
                "
              >
                <iframe
                  allowfullscreen=""
                  class="embed-responsive-item"
                  src="https://www.youtube.com/embed/lgYwTFuP-k4?controls=0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="baomatdatang"
          role="tabpanel"
          aria-labelledby="home-2"
        >
          <div class="useDeal__wrap">
            <div class="useDeal__mb">
              <div class="useDeal__mb__item">
                <div class="useDeal__number is-active">1</div>
              </div>
              <div class="useDeal__mb__item">
                <div class="useDeal__number">2</div>
              </div>
              <div class="useDeal__mb__item">
                <div class="useDeal__number">3</div>
              </div>

              <div class="useDeal__mb__item">
                <div class="useDeal__number">4</div>
              </div>
            </div>

            <div class="swiper-container swiper-useDeal">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="useDeal__item">
                    <div class="useDeal__number">1</div>
                    <div class="useDeal__text">
                      Chọn Ví Trả Sau ngay trên màn hình chính hoặc tìm “Ví Trả
                      Sau” trong khung tìm kiếm
                    </div>
                    <div class="useDeal-image">
                      <img
                        src="https://static.mservice.io/img/momo-upload-api-210714182426-637618838667044449.jpg"
                        class="img-fluid d-block mx-auto"
                        alt=""
                      />
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="useDeal__item">
                    <div class="useDeal__number">2</div>
                    <div class="useDeal__text">Đăng ký thông tin</div>
                    <div class="useDeal-image">
                      <img
                        src="https://static.mservice.io/img/momo-upload-api-210813105927-637644491679480891.jpg"
                        class="img-fluid d-block mx-auto"
                        alt=""
                      />
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="useDeal__item">
                    <div class="useDeal__number">3</div>
                    <div class="useDeal__text">
                      Nhập mã OTP & Ký kết hợp đồng
                    </div>
                    <div class="useDeal-image">
                      <img
                        src="https://static.mservice.io/img/momo-upload-api-210813105948-637644491884149621.jpg"
                        class="img-fluid d-block mx-auto"
                        alt=""
                      />
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="useDeal__item">
                    <div class="useDeal__number">4</div>
                    <div class="useDeal__text">
                      Chờ phê duyệt & Nhận kết quả trong 3 phút
                    </div>
                    <div class="useDeal-image">
                      <img
                        src="https://static.mservice.io/img/momo-upload-api-210813110009-637644492093820710.jpg"
                        class="img-fluid d-block mx-auto"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-button-next swiper-button-white">
                <svg
                  viewBox="0 0 18 18"
                  role="img"
                  aria-label="Tiếp theo"
                  focusable="false"
                  style=""
                >
                  <path
                    d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </div>
              <div class="swiper-button-prev swiper-button-white">
                <svg
                  viewBox="0 0 18 18"
                  role="img"
                  aria-label="Trước"
                  focusable="false"
                  style=""
                >
                  <path
                    d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="datchuanquocte"
          role="tabpanel"
          aria-labelledby="home-3"
        >
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 post-body">
              <p>
                Nếu bạn chưa được chọn lọc để mở Ví Trả Sau, hãy sử dụng MoMo
                thường xuyên tăng cường Điểm Tin Cậy MoMo của bạn
              </p>

              <h3>Điểm Tin Cậy MoMo là gì?</h3>
              <p>
                Điểm Tin Cậy MoMo là thước đo sự hiểu biết và độ tin cậy của
                MoMo về bạn.
              </p>
              <p>
                Điểm càng cao bạn nhận càng nhiều quyền lợi, dịch vụ đặc biệt
                trên MoMo mà ít người tiếp cận được. Trong đó có:
              </p>

              <ul>
                <li>Ví Trả Sau</li>
                <li>Vay nhanh - FastMoney</li>
                <li>Túi Thần Tài</li>
              </ul>

              <h3>Điểm Tin Cậy MoMo được tính như thế nào?</h3>

              <p>
                Điểm Tin Cậy MoMo được tính toán bằng trí tuệ nhân tạo dựa trên
                hành vi tiêu dùng, tần suất sử dụng Ví MoMo và khả năng thanh
                toán các hóa đơn tiêu dùng và khoản vay của bạn trên MoMo.
              </p>

              <p>
                Mọi thông tin cá nhân của bạn là hoàn toàn bảo mật và an toàn ở
                Ví MoMo. Thông tin và quá trình đánh giá đều diễn ra ở MoMo,
                MoMo không sử dụng dịch vụ của đơn vị thứ 3 để đánh giá.
              </p>

              <h3>Tôi cần làm gì để tăng Điểm Tin Cậy MoMo?</h3>
              <p>
                Thực hiện các hành động bên dưới sẽ được nhận điểm ngay lập tức:
              </p>
              <ul>
                <li>Xác thực CMND/CCCD/Hộ Chiếu</li>
                <li>Liên kết tài khoản ngân hàng với Ví MoMo</li>
                <li>Xác thực khuôn mặt</li>
                <li>Xem ưu đãi gần bạn bằng trên bản đồ</li>
                <li>Gửi 1 tin nhắn Chat cho bạn bè</li>
                <li>
                  Sử dụng camera để quét 1 mã thanh toán hoặc xác thực khuôn
                  mặt.
                </li>
              </ul>
              <!-- <p>
                Tham khảo các cách tăng điểm ở Điểm Tin Cậy MoMo nhé CTA: Xem
              </p> -->
              <p class="text-center">
                <a href="" class="btn btn-warning">Xem chi tiết</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="" id="movitrasau">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2
              class="text-center mega-t1 section-heading sc-heading reveal"
              data-reveal-delay="200"
            >
              Hướng dẫn săn Deal khủng
            </h2>
          </div>
        </div>
      </div>

      <div
        class="row align-items-center justify-content-center no-gutters mt-3"
      >
        <div class="col-12 col-md-3">
          <div
            class="nav flex-column nav-pills lpd-tab"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link active"
              id="v-pills-home-tab"
              data-toggle="pill"
              href="#v-pills-home"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
            >
              <span class="lpd-icon">
                <img
                  src="https://static.mservice.io/fileuploads/svg/momo-file-211029121138.svg"
                  alt=""
                />
              </span>

              Thang Điểm Tích Cực</a
            >
            <a
              class="nav-link"
              id="v-pills-profile-tab"
              data-toggle="pill"
              href="#v-pills-profile"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
            >
              <span class="lpd-icon">
                <img
                  src="https://static.mservice.io/img/momo-upload-api-211029121245-637711063659344316.png"
                  alt=""
                />
              </span>
              Vòng Quay Deal Luyện</a
            >
            <a
              class="nav-link"
              id="v-pills-messages-tab"
              data-toggle="pill"
              href="#v-pills-messages"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
            >
              <span class="lpd-icon">
                <img
                  src="https://static.mservice.io/fileuploads/svg/momo-file-211029121258.svg"
                  alt=""
                />
              </span>
              Đua Top Tranh Thưởng</a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
            >
              <span class="lpd-icon">
                <img
                  src="https://static.mservice.io/fileuploads/svg/momo-file-211029121404.svg"
                  alt=""
                />
              </span>
              Sử dụng Deal</a
            >
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <div
                class="row align-items-center no-gutters justify-content-center"
              >
                <div class="col-12 col-md-7">
                  <div class="lpd-img">
                    <img
                      src="https://static.mservice.io/img/momo-upload-api-211029113920-637711043600361211.png"
                      class="img-fluid d-block mx-auto"
                    />
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="lpd-content">
                    <h3 class="font-weight-bold mb-3 h4">
                      Thang Điểm Tích Cực
                    </h3>
                    <div class="tinhnang-loadmore">
                      <p class="opacity-90">
                        Khi tham gia
                        <strong class="text-warning"
                          >Vòng Quay "deal" luyện</strong
                        >, người dùng có cơ hội nhận Điểm Tích Cực (ngẫu nhiên
                        từ 1 - 5 điểm). Người dùng khi tích lũy đủ Điểm Tích Cực
                        sẽ nhận được phần thưởng theo cột mốc điểm tương ứng
                        trên
                        <strong class="text-warning">Thang Điểm Tích Cực</strong
                        >.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
            >
              <div
                class="row align-items-center no-gutters justify-content-center"
              >
                <div class="col-12 col-md-7">
                  <div class="lpd-img">
                    <img
                      src="https://static.mservice.io/img/momo-upload-api-211029115805-637711054857742037.png"
                      class="img-fluid d-block mx-auto"
                    />
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="lpd-content">
                    <h3 class="font-weight-bold mb-3 h4">
                      Vòng Quay Deal Luyện
                    </h3>
                    <div class="tinhnang-loadmore">
                      <p class="opacity-90">
                        Người dùng truy cập tính năng Siêu hội hoàn tiền trên Ví
                        MoMo để thực hiện nhiệm vụ và nhận lượt quay, quay trúng
                        ngẫu nhiên các phần thưởng gồm:
                        <strong class="text-warning">
                          Deal hoàn tiền, Điểm Tích Cực, Bao lì xì tiền mặt và
                          các quà tặng đặc biệt khác.</strong
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-messages"
              role="tabpanel"
              aria-labelledby="v-pills-messages-tab"
            >
              <div
                class="row align-items-center no-gutters justify-content-center"
              >
                <div class="col-12 col-md-7">
                  <div class="lpd-img">
                    <img
                      src="https://static.mservice.io/img/momo-upload-api-211029115714-637711054346559107.png"
                      class="img-fluid d-block mx-auto"
                    />
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="lpd-content">
                    <h3 class="font-weight-bold mb-3 h4">
                      Đua Top Tranh Thưởng
                    </h3>
                    <div class="tinhnang-loadmore">
                      <p class="opacity-90">
                        Top
                        <strong class="text-warning">1.000 người chơi</strong>
                        có Điểm Tích Cực cao nhất trên bảng xếp hạng Đua Top
                        Tranh Thưởng sẽ nhận được các giải thưởng tiền mặt tương
                        ứng về Túi Thần Tài.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-settings"
              role="tabpanel"
              aria-labelledby="v-pills-settings-tab"
            >
              <div
                class="row align-items-center no-gutters justify-content-center"
              >
                <div class="col-12 col-md-7">
                  <div class="lpd-img">
                    <img
                      src="https://static.mservice.io/img/momo-upload-api-211029113920-637711043600361211.png"
                      class="img-fluid d-block mx-auto"
                    />
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="lpd-content">
                    <h3 class="font-weight-bold mb-3 h4">Sử dụng deal</h3>
                    <div class="tinhnang-loadmore">
                      <p class="opacity-90">
                        - Khi tham gia chương trình, người dùng có cơ hội nhận
                        hàng triệu deal hoàn tiền đến 50% áp dụng cho nhiều dịch
                        vụ siêu thị, cửa hàng tiện lợi, ăn uống, mua sắm, nạp
                        data, thanh toán điện, nước… <br />
                        - Các deal có giá trị sử dụng trong khoảng thời gian từ
                        <strong class="text-warning"> 01/11 - 11/11</strong>.
                        Đặc biệt vào ngày
                        <strong class="text-warning">Siêu Hội 11/11</strong>, sẽ
                        xuất hiện quà khủng.<br />
                        - Khi sử dụng deal, tiền sẽ được hoàn vào tài khoản Túi
                        Thần Tài trên MoMo.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="" id="movitrasau">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2
              class="text-center mega-t1 section-heading sc-heading reveal"
              data-reveal-delay="200"
            >
              Sự kiện đặc biệt
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="mb-4 text-center">
        <ul
          class="nav nav-tabs tabs-megaday tabs-megaday-sukien"
          id="sukien"
          role="tablist"
        >
          <li class="nav-item">
            <a
              class="nav-link mm-link active"
              id="home-1"
              data-toggle="tab"
              href="#sukient1"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              Sự kiện tuần 1
              <span class="d-block">01/11 - 07/11</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link mm-link"
              id="home-2"
              data-toggle="tab"
              href="#sukient2"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              Sự kiện tuần 2
              <span class="d-block">08/11 - 11/11</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content mt-5" id="sukienContent">
        <div
          class="tab-pane fade show active"
          id="sukient1"
          role="tabpanel"
          aria-labelledby="home-1"
        >
          <div class="horizontal-sukien">
            {% for item in range(0,4) %}
            <div class="horizontal-sukien-item">
              <div class="embed-responsive embed-responsive-16by9 rounded">
                <img
                  src="https://static.mservice.io/img/s500x240/momo-upload-api-210928111715-637684246355495254.jpg"
                  alt=""
                  class="embed-responsive-img object-cover"
                  loading="lazy"
                />
              </div>

              <h5 class="tt">Thứ 5 Quà Gấp 5</h5>
              <p class="time">15H - 17H và 19H - 21H, ngày 22/07</p>
              <p class="text-white sud">
                Tham Gia Thi Đấu Nhóm<br />
                Đua Top Cực Sung, Nhận Quà Giá Trị Với Tổng Thưởng 200 Triệu Từ
                Túi Thần Tài &amp; Ví Trả Sau
              </p>
            </div>

            {% endfor %}
          </div>
        </div>

        <div
          class="tab-pane fade overflow-hidden"
          id="sukient2"
          role="tabpanel"
          aria-labelledby="home-2"
        >
          <div class="horizontal-sukien">
            {% for item in range(0,3) %}
            <div class="horizontal-sukien-item">
              <div class="embed-responsive embed-responsive-16by9 rounded">
                <img
                  src="https://static.mservice.io/img/s500x240/momo-upload-api-210928111715-637684246355495254.jpg"
                  alt=""
                  class="embed-responsive-img object-cover"
                  loading="lazy"
                />
              </div>

              <h5 class="tt">Thứ 5 Quà Gấp 5</h5>
              <p class="time">15H - 17H và 19H - 21H, ngày 22/07</p>
              <p class="text-white sud">
                Tham Gia Thi Đấu Nhóm<br />
                Đua Top Cực Sung, Nhận Quà Giá Trị Với Tổng Thưởng 200 Triệu Từ
                Túi Thần Tài &amp; Ví Trả Sau
              </p>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="khachhangmoi">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2
              class="text-center mega-t1 section-heading sc-heading reveal"
              data-reveal-delay="200"
            >
              Trở Thành Khách Hàng Của MoMo <br />
              Để Tham Gia Chương Trình
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-none d-lg-block">
      <div class="manual-wrapepr manual-dark">
        {% include 'components/huongdan-desktop.html' %}
      </div>

      <div class="mt-4 text-center">
        <div class="newUser-noti">
          <div class="newUser-noti__content">
            <div>
              Trở thành khách hàng mới nhận ngay
              <strong class="text-yellow">GÓI QUÀ 500k</strong>
            </div>
            <div class="ml-3">
              <a
                href=""
                class="
                  btn btn-pulse btn-warning btn-sm
                  rounded-pill
                  font-weight-bold
                "
                >Xem ngay</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-block d-lg-none">
      <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="htw">
            <div
              class="htw__item bg-white"
              data-toggle="modal"
              data-target="#htu-modal"
            >
              <div class="htw__content">
                <strong>Bước 1:</strong> Tải và đăng ký
              </div>
              <div class="htw__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="svg-icon"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
            </div>

            <div
              class="htw__item bg-white"
              data-toggle="collapse"
              href="#dsNganhang"
              role="button"
              aria-expanded="false"
              aria-controls="dsNganhang"
            >
              <div class="htw__content">
                <strong>Bước 2:</strong> Liên kết ngân hàng
              </div>

              <div class="htw__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="svg-icon"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
            </div>

            <div class="collapse" id="dsNganhang">
              <div class="htu-bank">
                <div class="htu-bank-col">
                  <div
                    class="htu-bank-item"
                    data-toggle="modal"
                    data-target="#htu-modal"
                  >
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                    />
                    <div class="htu-bank-name">VCB</div>
                  </div>
                </div>

                <div class="htu-bank-col">
                  <div
                    class="htu-bank-item"
                    data-toggle="modal"
                    data-target="#htu-modal"
                  >
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                    />
                    <div class="htu-bank-name">Agribank</div>
                  </div>
                </div>

                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                    />
                    <div class="htu-bank-name">Vietinbank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                    />
                    <div class="htu-bank-name">BIDV</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                    />
                    <div class="htu-bank-name">ACB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                    />
                    <div class="htu-bank-name">Shinhan</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                    />
                    <div class="htu-bank-name">Sacombank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                    />
                    <div class="htu-bank-name">SCB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                    />
                    <div class="htu-bank-name">VPBank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                    />
                    <div class="htu-bank-name">VIB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                    />
                    <div class="htu-bank-name">Eximbank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                    />
                    <div class="htu-bank-name">TPBank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                    />
                    <div class="htu-bank-name">Bảo Việt</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                    />
                    <div class="htu-bank-name">VRB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                    />
                    <div class="htu-bank-name">OCB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                    />
                    <div class="htu-bank-name">ABBank</div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="htw__item bg-white"
              data-toggle="modal"
              data-target="#htu-modal"
            >
              <div class="htw__content">
                <strong>Bước 3:</strong> Nạp tiền vào ví
              </div>
              <div class="htw__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="svg-icon"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card card__box shadow-none bg-black-4">
            <div class="card__body px-3 py-4">
              <div class="px-3 mb-2 mt-0">
                <img
                  src="img/momo/quatang.png"
                  width="320"
                  class="img-fluid d-block mx-auto"
                  alt=""
                />
              </div>

              <h2 class="text-center text-white font-weight-normal mt-3">
                Trở thành khách hàng mới nhận ngay
                <strong class="text-yellow">Gói quà 500K</strong>
              </h2>

              <div class="text-center mt-3">
                <a
                  href=""
                  class="
                    btn btn-pulse btn-warning
                    rounded-pill
                    font-weight-bold
                  "
                  >Xem ngay</a
                >
                <!-- <a href="" class="btn btn-primary-2 rounded-pill font-weight-bold">TẢI NGAY</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="" id="doitacdonghanh">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2
              class="text-center mega-t1 section-heading sc-heading reveal"
              data-reveal-delay="200"
            >
              Đối tác đồng hành
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 py-3">
          <picture class="text-center">
            <!-- <source media="(min-width:992px)" srcset="img/lacxi/doitac-diamon.png" class="img-fluid" loading="lazy"> -->
            <source
              media="(min-width:768px)"
              srcset="img/lacxi/doitac-diamon.png"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
            <img
              src="img/lacxi/doitac-diamon-mb.png"
              alt="Flowers"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="col-12 py-3">
          <picture class="text-center">
            <!-- <source media="(min-width:992px)" srcset="img/lacxi/doitac-platinum.png" class="img-fluid" loading="lazy"> -->
            <source
              media="(min-width:768px)"
              srcset="img/lacxi/doitac-platinum.png"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
            <img
              src="img/lacxi/doitac-platinum-mb.png"
              alt="Flowers"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="col-12 py-3">
          <picture class="text-center">
            <!-- <source media="(min-width:992px)" srcset="img/lacxi/doitac-gold.png" class="img-fluid" loading="lazy"> -->
            <source
              media="(min-width:768px)"
              srcset="img/lacxi/doitac-gold.png"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
            <img
              src="img/lacxi/doitac-gold-mb.png"
              alt="Flowers"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="col-12 py-3">
          <picture class="text-center">
            <!-- <source media="(min-width:992px)" srcset="img/lacxi/doitac-silver.png" class="img-fluid" loading="lazy"> -->
            <source
              media="(min-width:768px)"
              srcset="img/lacxi/doitac-silver.png"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
            <img
              src="img/lacxi/doitac-silver-mb.png"
              alt="Flowers"
              class="img-fluid d-block mx-auto"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="app-download service vp-hide">
  <div class="container text-center">
    <div class="app-download__content">
      <div class="tt"></div>
      <div class="app-download__btn">
        <a
          data-redirect-uc="p2p"
          class="
            d-none d-md-inline-block
            btn
            font-weight-bold
            btn-primary-2 btn-pulse
            py-2
            px-4
          "
          data-qrcode-id="17"
          data-target="#qrcode-modal-17"
          data-toggle="modal"
          href="javascript:void(0)"
          target="_blank"
          >TẢI APP MOMO</a
        >
        <a
          data-redirect-uc="p2p"
          class="
            btn
            font-weight-bold
            btn-primary-2 btn-pulse
            py-2
            px-4
            d-md-none d-inline-block
            data-redirect-uc
          "
          href="/redirect-cta?uc=p2p&amp;to=https%3A%2F%2Fmomoapp.page.link%2FsdBWFFKpaCaRoFzy9&amp;from=https%3A%2F%2Fmomo.vn%2Fchuyen-tien%23home"
          target="_blank"
          >TẢI APP MOMO</a
        >
      </div>
    </div>
  </div>

  <a
    href=""
    title="dismiss"
    class="js-app-download headerstrip__banner-dismiss"
  >
    <svg
      class="headerstrip__dismiss-icon"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19.8 2.4c.3.3.3.8 0 1.1l-6 6c-.3.3-.3.8 0 1.1l6 6c.3.3.3.8 0 1.1l-2.2 2.2c-.3.3-.8.3-1.1 0l-6-6c-.3-.3-.8-.3-1.1 0l-6 6c-.3.3-.8.3-1.1 0L.1 17.7c-.3-.3-.3-.8 0-1.1l6-6c.3-.3.3-.8 0-1.1l-6-6c-.3-.3-.3-.8 0-1.1L2.3.2c.3-.3.8-.3 1.1 0l6 6c.3.3.8.3 1.1 0l6-6c.3-.3.8-.3 1.1 0l2.2 2.2z"
      ></path>
    </svg>
  </a>
</div> -->

<div
  class="modal htu-modal fade article-modal"
  id="modal-uudai"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-back"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Thông tin</div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <article class="article__content">
          <h3
            class="h2 text-primary-2 ng-binding"
            ng-bind="Model.Article.Title"
          >
            Cùng MoMo gửi “Lời cảm ơn 3004” đến các y bác sĩ và lập kỳ tích vào
            ngày 30/4 lịch sử
          </h3>

          <div class="d-flex align-items-center mb-3 mb-xl-4">
            <div
              class="text-small text-muted ng-binding"
              ng-bind="Model.Article.PublicDate"
            >
              24/04/2020
            </div>
          </div>

          <p class="lead ng-binding" ng-bind="Model.Article.Short">
            Nằm trong chiến dịch “Điều nhỏ bé vĩ đại”, sự kiện “Lời cảm ơn 3004”
            là lời kêu gọi của MoMo đến mọi người, mong muốn cùng san sẻ những
            điều nhỏ bé hàng ngày trong cuộc sống để tri ân các chiến sĩ áo
            trắng. Mục tiêu nhằm kêu gọi quyên góp cho Quỹ phòng, chống dịch
            Covid-19 cho UBTW Mặt Trận Tổ Quốc Việt Nam trên Ví MoMo đạt con số
            đầy ý nghĩa 3.004.000.000 đồng vào ngày 30/4 lịch sử.
          </p>

          <div class="row">
            <div class="col-12 copy-code" data-copy>
              <p class="fs-13 text-gray-600 text-uppercase mb-1">
                NHẤN VÀO ĐỂ COPY CODE
              </p>
              <button type="button" class="code">
                <img
                  src="img/service/icon-copycode.png"
                  class="m-0"
                  alt="..."
                  loading="lazy"
                />
                <span class="pl-2">HELLOMOMO</span>
              </button>
              <input
                type="text"
                class="input-copy pl-2"
                value="HELLOMOMO"
                readonly
              />
            </div>
          </div>
          <br />
          <div
            class="full-content ng-binding"
            ng-bind-html="Model.Article.Content"
          >
            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164414-637233434546251163.jpg"
              />
            </p>

            <p>
              Những ngày qua khi chúng ta được nới lỏng giãn cách xã hội, nhiều
              người háo hức quay trở lại nhịp sống sinh hoạt thường ngày như đi
              cà phê, ăn uống, làm đẹp, tập gym,... Nhưng sau lưng chúng ta,
              những chiến sĩ áo trắng vẫn phải ở lại túc trực nơi bệnh viện, khu
              cách ly hay sân bay… để âm thầm bảo vệ người dân khỏi rủi ro tái
              bùng dịch.&nbsp;
            </p>

            <p>
              Hơn bao giờ hết, đây chính là lúc chúng ta cần gửi lời cảm ơn tuy
              nhỏ bé nhưng thiết thực đến các chiến sỹ áo trắng.
            </p>

            <p>
              Với 100.000 đồng tương đương hai ổ bánh mì, ly cà phê, trà sữa hay
              một lần làm đẹp, cắt tóc,... mỗi người đã có thể cùng nhau tạo nên
              kỳ tích dành tặng những người hùng áo trắng và chung tay cùng
              Chính Phủ khôi phục đất nước sau ảnh hưởng nặng nề của dịch
              Covid-19. Bạn có sẵn sàng? Quyết định nằm ở trái tim mỗi
              người!&nbsp;
            </p>

            <p>
              <em
                >“Với quyết tâm đồng lòng của cả nước, chúng ta có quyền hy vọng
                sau ngày 30/4 sẽ không có ca nhiễm Covid-19 nào, các bác sĩ được
                về nhà, người thất nghiệp tìm được việc làm mới, trẻ con trở lại
                trường, nền kinh tế khôi phục sau dịch bệnh. Việt Nam sẽ làm nên
                kỳ tích là quốc gia đầu tiên tuyên bố hết dịch Covid-19,... làm
                rạng danh đất nước hình chữ S một lần nữa vào tháng 4 lịch
                sử”</em
              >, ông Nguyễn Bá Diệp (Phó Chủ tịch, đồng sáng lập Ví điện tử
              MoMo) tin tưởng.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164512-637233435127918494.jpg"
              />
            </p>

            <p>
              Chính thức phát động từ ngày 8/4/2020, <strong>tính đến</strong>
              <strong>15 giờ (ngày 24/4/2020)</strong>, chiến dịch “Điều nhỏ bé
              vĩ đại” của Ví MoMo đã kêu gọi ủng hộ cho UBTW Mặt trận Tổ quốc
              Việt Nam với số tiền quyên góp được hơn<strong>
                1,443 tỷ đồng</strong
              >
              với hơn<strong> 89 nghìn lượt.</strong>
            </p>

            <p>
              Trước đó, ngày 22/4, tại trụ sở UBTW Mặt trận Tổ quốc Việt Nam,
              MoMo đã có buổi gặp gỡ trao đổi và trao 1 tỷ đồng quyên góp (đợt
              1) cho đại diện MTTQ. Đây là số tiền đóng góp của cộng đồng người
              dùng Ví MoMo cho “Điều nhỏ bé vĩ đại”.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164537-637233435370452669.jpg"
              />
            </p>

            <p>
              Bên cạnh số tiền quyên góp cho Quỹ phòng chống Covid-19, người
              dùng cũng có thể quyên góp cho Sinh viên Đại học Y Hà Nội bằng Heo
              vàng của Ví MoMo.
              <strong
                >Tất cả Heo vàng mà người dùng quyên góp, sẽ được Ví MoMo quy
                đổi thành tiền mặt</strong
              >
              (dự kiến 1 tỷ đồng nếu đạt con số 6,5 triệu Heo vàng) để ủng
              hộ.&nbsp;
            </p>

            <p>
              Để tạo ra Heo vàng người dùng chỉ cần thực hiện: (1) Đi bộ mỗi
              ngày 4.000 bước chân để quy đổi; (2) Nuôi Heo đất để tạo ra Heo
              vàng bằng cách “Cho heo ăn” (Chi tiết
              <a
                href="https://momo.vn/huong-dan/huong-dan-nuoi-heo-dat-nhan-heo-vang-va-quyen-gop-tren-vi-momo"
                ><strong>TẠI ĐÂY</strong></a
              >).
            </p>

            <p>
              <strong>Xem thêm tại:</strong>
              <a href="https://momo.vn/dieunhobevidai#baitintuc"
                >https://momo.vn/dieunhobevidai</a
              >
            </p>

            <p>&nbsp;</p>
          </div>
        </article>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary-2" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

{% include "layouts/modal.html" %} {% endblock %} {% block javascript %}

<!-- <script src="js/rellax.min.js"></script> -->

<!-- <script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/readmore-js@2.2.1/readmore.js"
></script> -->

<script>
  // var rellax = new Rellax(".rellax");

  $("body").attr("data-smooth-scroll-offset", 50);

  $(document).ready(function () {
    var headerHideAuto = function () {
      var mainHeader = $(".navbar-lp-container");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };

    headerHideAuto();

    function navbarFixed() {
      $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll > 100) {
          $(".navbar-lp-container").addClass("is-fixed");
        } else {
          $(".navbar-lp-container").removeClass("is-fixed");
        }
      });
      $(window).scroll();
    }
    navbarFixed();

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    $("#navigation-menu").on("show.bs.collapse", function () {
      document.body.classList.add("navbar-lp-open");
    });

    $("#navigation-menu").on("hide.bs.collapse", function () {
      document.body.classList.remove("navbar-lp-open");
    });

    $(".navbar-lp .navbar-nav").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    var swiperTinTuc = new Swiper(".swiper-tintuc", {
      slidesPerView: 3,
      spaceBetween: 30,
      // simulateTouch: false,
      draggable: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      speed: 500,
      breakpoints: {
        991: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        767: {
          slidesPerView: "auto",
          spaceBetween: 5,
        },
      },
    });

    if ($(".swiper-useDeal").find(".swiper-slide").length > 1) {
      var swiperUser = new Swiper(".swiper-useDeal", {
        slidesPerView: 4,
        spaceBetween: 0,
        simulateTouch: false,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          1000: {
            slidesPerView: 2,
            spaceBetween: 0,
          },

          600: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
        },
        on: {
          init: function () {
            // console.log('swiper initialized');
          },
          slideChangeTransitionEnd: function () {
            $(".useDeal__number").removeClass("is-active");
            $(".useDeal__number").eq(this.activeIndex).addClass("is-active");
          },
        },
      });

      $(".useDeal__mb")
        .find(".useDeal__number")
        .each(function (e) {
          var pos = e;

          $(this).on("click", function (e) {
            $(".useDeal__number").removeClass("is-active");
            $(this).addClass("is-active");
            swiperUser.slideTo(pos);
          });
        });

      $("a.mm-link ").on("shown.bs.tab", function (e) {
        // $(".tinhnang-loadmore").readmore("destroy");
        swiperUser.update();
      });
    }

    // var tinhnangReadmore = new Readmore(".tinhnang-loadmore", {
    //   speed: 75,
    //   moreLink:
    //     '<a href="">Xem thêm <img src="/nhobevidai/img/icons/interface/icon-chevron-down.svg" > </a>',
    //   lessLink:
    //     '<a href="">Thu gọn  <img src="/nhobevidai/img/icons/interface/icon-chevron-up.svg" ></a>',
    // });

    $(".tinhnang-loadmore").readmore({
      speed: 75,
      moreLink: '<a href="#" class="more-link">Xem thêm</a>',
      lessLink: '<a href="#" class="more-link">Thu gọn</a>',
    });

    $(".lpd-tab a.nav-link ").on("shown.bs.tab", function (e) {
      $(".tinhnang-loadmore").readmore("destroy");
      $(".tinhnang-loadmore").readmore({
        speed: 75,
        moreLink: '<a href="#" class="more-link">Xem thêm</a>',
        lessLink: '<a href="#" class="more-link">Thu gọn</a>',
      });
    });
  });
</script>
{% endblock %}
