{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link href="css/lp-napas.css" rel="stylesheet" type="text/css" media="all" />

{% endblock %} {% block header %}

<div class="navbar-container header-position">
  <nav class="navbar navbar-expand-lg navbar-light py-0 px-0 navbar-lp">
    <div class="container header__container">
      <div class="d-flex align-items-center">
        <a class="navbar-brand header__logo" href="index.html">
          <svg
            width="96"
            class="svg-icon fill-current momo__logo"
            height="87"
            viewBox="0 0 96 87"
            fill="#fff"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M75.5326 0C64.2284 0 55.0651 8.74843 55.0651 19.5409C55.0651 30.3333 64.2284 39.0818 75.5326 39.0818C86.8368 39.0818 96 30.3333 96 19.5409C96 8.74843 86.8368 0 75.5326 0ZM75.5326 27.8805C70.7368 27.8805 66.8403 24.1604 66.8403 19.5818C66.8403 15.0031 70.7368 11.283 75.5326 11.283C80.3283 11.283 84.2248 15.0031 84.2248 19.5818C84.2248 24.1604 80.3283 27.8805 75.5326 27.8805ZM49.1561 14.6761V39.1226H37.3809V14.5535C37.3809 12.7138 35.8394 11.2421 33.9126 11.2421C31.9857 11.2421 30.4442 12.7138 30.4442 14.5535V39.1226H18.669V14.5535C18.669 12.7138 17.1276 11.2421 15.2007 11.2421C13.2739 11.2421 11.7324 12.7138 11.7324 14.5535V39.1226H0V14.6761C0 6.58176 6.89385 0 15.372 0C18.8403 0 22.0089 1.10377 24.5781 2.9434C27.1472 1.10377 30.3586 0 33.7841 0C42.2623 0 49.1561 6.58176 49.1561 14.6761ZM75.5326 47.544C64.2284 47.544 55.0651 56.2925 55.0651 67.0849C55.0651 77.8774 64.2284 86.6258 75.5326 86.6258C86.8368 86.6258 96 77.8774 96 67.0849C96 56.2925 86.8368 47.544 75.5326 47.544ZM75.5326 75.4245C70.7368 75.4245 66.8403 71.7044 66.8403 67.1258C66.8403 62.5472 70.7368 58.827 75.5326 58.827C80.3283 58.827 84.2248 62.5472 84.2248 67.1258C84.2248 71.7044 80.3283 75.4245 75.5326 75.4245ZM49.1561 62.2201V86.6667H37.3809V62.0975C37.3809 60.2579 35.8394 58.7862 33.9126 58.7862C31.9857 58.7862 30.4442 60.2579 30.4442 62.0975V86.6667H18.669V62.0975C18.669 60.2579 17.1276 58.7862 15.2007 58.7862C13.2739 58.7862 11.7324 60.2579 11.7324 62.0975V86.6667H0V62.2201C0 54.1258 6.89385 47.544 15.372 47.544C18.8403 47.544 22.0089 48.6478 24.5781 50.4874C27.1472 48.6478 30.3158 47.544 33.7841 47.544C42.2623 47.544 49.1561 54.1258 49.1561 62.2201Z"
              fill=""
            />
          </svg>
        </a>
        <a href="">
          <img
            src="img/napas/napas-logo.jpg"
            class="img-fluid"
            width="92"
            alt=""
          />
        </a>
      </div>

      <div class="d-flex align-items-center order-lg-3">
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon"
            data-inject-svg
            src="img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon"
            data-inject-svg
            src="img/icons/interface/icon-x.svg"
          />
        </button>
      </div>

      <div
        class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-nongsan"
        id="navigation-menu"
      >
        {% set menu = [ { "name": "Trang chủ", "id" : "trangchu", "link" : "" },
        { "name": "Liên kết thẻ ATM", "id" : "lienket", "link" : "" }, { "name":
        "Lợi ích", "id" : "loiich", "link" : "" }, { "name": "Hướng dẫn", "id" :
        "huongdan", "link" : "" }, { "name": "Điều kiện", "id" : "dieukien",
        "link" : "" }, { "name": "Hỏi - đáp", "id" : "hoidap", "link" : "" }] %}

        <ul class="navbar-nav m-0">
          {% for item in menu %}
          <li class="nav-item">
            <a
              class="nav-link nav-item"
              href="#{{item.id}}"
              data-smooth-scroll
              role="button"
              >{{item.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %} {% block content %}

<div class="kv-section bg-light" id="trangchu">
  <div class="kv-section kv-desktop">
    <div class="swiper-container swiper-kv">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-kv">
            <div class="d-none d-md-block">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/napas/Napas-New-1920x740.jpg"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
            <div class="d-block d-md-none">
              <a href="#dangky" data-smooth-scroll>
                <img
                  data-src="img/napas/Napas-New-750x1000.jpg"
                  class="embed-responsive-img lazyload"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="kv-pagination">
        <div class="container position-relative">
          <div class="swiper-button-next">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-button-prev">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="kv-section-curve">
      <svg
        width="1440"
        height="40"
        viewBox="0 0 1440 40"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Rectangle 12</title>
        <path
          d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
          fill="#fff"
          fill-rule="evenodd"
        />
      </svg>
    </div>
  </div>
</div>

<section class="bg-white o-hidden" id="lienket">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-2 mb-3 mb-lg-4 text-center">
        Liên kết thẻ ATM với MoMo: miễn phí nạp tiền vào ví 
      </h2>
    </div>

    <div class="text-center mb-4 mb-lg-5">
      <img
        loading="lazy"
        class="img-fluid mx-auto d-block px-5"
        src="img/napas/img1.png"
      />
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="lead text-dark text-left">
          <p>
            Tin mới nóng hổi dành cho chủ thẻ ATM: Từ 21/7/2020, chủ thẻ ATM của
            39 ngân hàng nội địa (thuộc hệ thống Napas) có thể liên kết thẻ với
            Ví MoMo với siêu ưu đãi hấp dẫn:
          </p>
          <ul>
            <li>
              Miễn phí nạp tiền vào Ví
            </li>
            <li>
              1 tài khoản Ví MoMo có thể liên kết nhiều Thẻ ATM
            </li>
            <li>
              Thanh toán <b class="text-primary-2">KHÔNG DÙNG TIỀN MẶT</b>
              <br />
              cho mọi hoạt động tiêu dùng thiết yếu hàng ngày:
              <ul>
                <li>Nạp tiền điện thoại, data 3G/4G</li>
                <li>Mua vé xem phim, vé máy bay, tàu lửa</li>
                <li>Thanh toán mọi hóa đơn Điện, Nước, Internet</li>
                <li>Chuyển tiền siêu tốc, 24/7</li>
                <li>Mua sắm, ăn uống…</li>
              </ul>
            </li>
          </ul>

          <p>
            Cứ liên kết thẻ ATM với MoMo, vừa miễn phí nạp tiền, vừa thanh toán
            - giao dịch thỏa thích.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- modalCampaign -->
</section>

<section class="bg-light o-hidden" id="loiich">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h2 class="h2 text-primary-3 mb-4 mb-lg-5 text-center">
          Lợi ích khi liên kết thẻ ATM với MoMo
        </h2>
      </div>
    </div>

    <div class="">
      <div class="swiper-container swiper-tab-tinhnang">
        <ul class="swiper-wrapper nav" id="myTab" role="tablist">
          <li class="swiper-slide">
            <a
              class="food-tab-link active"
              id="home-tab-1"
              data-toggle="tab"
              href="#why-1"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="img/napas/ico1.png" alt="Miễn phí  nạp tiền" />
                </div>
                <div class="food-tab-name">
                  Miễn phí nạp tiền
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-2"
              data-toggle="tab"
              href="#why-2"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="img/napas/ico2.png" alt="Miễn phí  nạp tiền" />
                </div>
                <div class="food-tab-name">An toàn tuyệt đối</div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-3"
              data-toggle="tab"
              href="#why-3"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="img/napas/ico3.png" alt="Miễn phí  nạp tiền" />
                </div>
                <div class="food-tab-name">
                  Thanh toán <br />
                  không tiền mặt
                </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-4"
              data-toggle="tab"
              href="#why-4"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="img/napas/ico4.png" alt="Miễn phí  nạp tiền" />
                </div>
                <div class="food-tab-name">Ưu đãi mỗi ngày</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content tinhnang-tab-content shadow-sm" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="why-1"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="mb-0 mb-md-0 py-2 px-0 px-lg-3 py-lg-3 aos-init aos-animate"
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">
                      MIỄN PHÍ NẠP TIỀN VÀO VÍ
                    </h4>

                    <p>
                      Dễ dàng liên kết Thẻ ATM của 39 ngân hàng nội địa thuộc hệ
                      thống Napas với Ví MoMo: MIỄN PHÍ Nạp tiền vào Ví và thoải
                      mái giao dịch, thanh toán trên MoMo mỗi ngày.
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas1.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-2"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="mb-0 mb-md-0 py-2 px-0 px-lg-3 py-lg-3 aos-init aos-animate"
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">
                      AN TOÀN TUYỆT ĐỐI
                    </h4>

                    <p>
                      Công nghệ bảo mật của MoMo đạt chứng nhận bảo mật toàn cầu
                      PCI DSS cấp độ cao nhất. Đồng thời, Ví MoMo được cấp giấy
                      phép và quản lý bởi Ngân hàng Nhà nước.
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas2.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-3"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="mb-0 mb-md-0 py-2 px-0 px-lg-3 py-lg-3 aos-init aos-animate"
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">
                      THANH TOÁN KHÔNG TIỀN MẶT
                    </h4>

                    <p>
                      Chỉ cần liên kết Thẻ ATM với MoMo, bạn có thể thực hiện
                      mọi giao dịch thanh toán mỗi ngày KHÔNG CẦN TIỀN MẶT như
                      nạp tiền điện thoại, data 3G/4G, thanh toán
                      Điện/Nước/Internet; đặt cà phê - trà sữa, đi ăn uống nhà
                      hàng; đặt vé xem phim CGV, Lotte Cinema…
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas3.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-4"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="mb-0 mb-md-0 py-2 px-0 px-lg-3 py-lg-3 aos-init aos-animate"
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">
                      PHỦ PHÊ ƯU ĐÃI MỖI NGÀY
                    </h4>
                    <div class="tinhnang-loadmore">
                      <p>
                        Hàng loạt ưu đãi hấp dẫn khi thanh toán - giao dịch trực
                        tiếp trên Ví MoMo như giảm 30% khi đặt vé xem phim, hoàn
                        đến 10% khi mua data 3G/4G, chiết khấu đến 4% khi nạp
                        tiền điện thoại, miễn phí chuyển tiền đến Ví MoMo… Tận
                        hưởng ngay!
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas4.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-5"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-6"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-7"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="mb-3">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                        class="img-fluid img-toionha"
                        width=""
                        alt=""
                      />
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                    <div>
                      <a href="" class="btn btn-primary btn-sm rounded-pill"
                        >Chia sẻ</a
                      >
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-8"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-9"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-10"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="bg-primary-2 bg-cover"
  style="
    background-image: url(img/momo/bg-taiapp-big.jpg);
    background-repeat: no-repeat;
    background-position: center top;
  " id="huongdan"
>
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-white">
        Hướng dẫn liên kết thẻ ATM với MoMo
      </h2>
    </div>
  </div>

  <div class="container d-none d-lg-block">
    <div class="manual-wrapepr manual-dark">
      <nav class="nav manual-page-tab" role="tablist">
        <a
          class="nav-link nav-item active"
          data-toggle="pill"
          href="#hd-377"
        >
          Liên kết Ví MoMo với Napas
        </a>

        <a
          class="nav-link nav-item"
       
          data-toggle="pill"
          href="#hd-379"
          >Nạp tiền vào ví MoMo từ Napas
        </a>
      </nav>

      <div class="tab-content">
        <div class="tab-pane active" id="hd-377">
          <div class="row manual-device-swiper-container">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
              <div
                class="manual-device d-block"
                id="hd-sub-img-37752"
                childId="37752"
              >
                <div class="manual-device-stock"></div>

                <div class="manual-device-slide">
                  <div
                    class="swiper-container manual-device-swiper"
                    id="hd-sub-swp-37752"
                  >
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                          class="img-fluid lazyload"
                          alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                          class="img-fluid lazyload"
                          alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                          class="img-fluid lazyload"
                          alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c "
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                          class="img-fluid lazyload"
                          alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p "
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                          class="img-fluid lazyload"
                          alt="Nh&#x1EAD;p th&#xF4;ng tin"
                        />
                      </div>
                    </div>

                    <div class="swiper-button-next swiper-button-white">
                      <svg
                        viewBox="0 0 18 18"
                        role="img"
                        aria-label="Tiếp theo"
                        focusable="false"
                        style=""
                      >
                        <path
                          d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                    </div>
                    <div class="swiper-button-prev swiper-button-white">
                      <svg
                        viewBox="0 0 18 18"
                        role="img"
                        aria-label="Trước"
                        focusable="false"
                        style=""
                      >
                        <path
                          d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 order-1 order-lg-2">
              <ol
                class="process list-unstyled manual-process d-block"
                childId="37752"
                id="hd-sub-ctn-37752"
              >
                <li class="process_item active">
                  <div class="process__number">
                    <span>1</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">Tải ứng dụng Ví MoMo</h4>
                    <div class="process__body-content">
                      <p>
                        <span style="font-size: 14px;"
                          >Tải ứng dụng miễn ph&iacute; bằng c&aacute;ch
                          t&igrave;m kiếm&nbsp;từ kh&oacute;a &ldquo;vi
                          momo&rdquo;&nbsp;tr&ecirc;n
                          <a
                            href="https://apps.apple.com/vn/app/id918751511?utm_source=website&amp;utm_medium=download&amp;utm_campaign=guideline"
                            >App Store</a
                          >
                          hoặc
                          <a
                            href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website&amp;utm_medium=download&amp;utm_campaign=guideline"
                            >Google Play Store</a
                          >.</span
                        >
                      </p>
                    </div>
                  </div>
                </li>
                <li class="process_item">
                  <div class="process__number">
                    <span>2</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">Nhập số điện thoại</h4>
                    <div class="process__body-content">
                      <p>
                        <span style="font-size: 14px;"
                          >Mở ứng dụng v&agrave; nhập số điện thoại bạn muốn
                          đăng k&yacute; V&iacute; MoMo.</span
                        >
                      </p>

                      <p>
                        <span style="font-size: 14px;"
                          ><em>Lưu &yacute;:&nbsp;</em></span
                        ><em
                          >Số điện&nbsp;thoại đăng k&iacute; V&iacute; phải
                          tr&ugrave;ng với số điện thoại đăng k&iacute; Internet
                          Banking của ng&acirc;n h&agrave;ng bạn muốn li&ecirc;n
                          kết.</em
                        >
                      </p>
                    </div>
                  </div>
                </li>
                <li class="process_item">
                  <div class="process__number">
                    <span>3</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">Nhập mã xác thực</h4>
                    <div class="process__body-content">
                      <p>
                        <span style="font-size: 14px;"
                          >Một tin nhắn chứa m&atilde; x&aacute;c thực
                          sẽ&nbsp;gửi trực tiếp đến số điện thoại của bạn.</span
                        >
                      </p>

                      <p>
                        <span style="font-size: 14px;"
                          >Vui l&ograve;ng kiểm tra v&agrave; nhập ch&iacute;nh
                          x&aacute;c m&atilde; x&aacute;c thực v&agrave;o
                          &ocirc; &quot;Nhập m&atilde; x&aacute;c thực&quot; rồi
                          nhấn &quot;Tiếp tục&quot;.</span
                        >
                      </p>
                    </div>
                  </div>
                </li>
                <li class="process_item">
                  <div class="process__number">
                    <span>4</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">Tạo mật khẩu đăng nhập</h4>
                    <div class="process__body-content">
                      <p>
                        <span style="font-size: 14px;"
                          >Thiết lập mật khẩu để bảo vệ t&agrave;i khoản
                          V&iacute; MoMo của bạn gồm 6 chữ số v&agrave; mật khẩu
                          ở 2 &ocirc; phải ho&agrave;n to&agrave;n giống
                          nhau.<br />
                          <br />
                          Sau đ&oacute; bấm &quot;X&aacute;c nhận&quot;.</span
                        >
                      </p>
                    </div>
                  </div>
                </li>
                <li class="process_item">
                  <div class="process__number">
                    <span>5</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">Nhập thông tin</h4>
                    <div class="process__body-content">
                      <p>
                        <span style="font-size: 14px;"
                          >Sau khi tạo mật khẩu đăng nhập th&agrave;nh
                          c&ocirc;ng, bạn nhập th&ocirc;ng tin c&aacute;
                          nh&acirc;n theo y&ecirc;u cầu v&agrave; nhấn
                          &quot;X&aacute;c nhận&quot;&nbsp;để ho&agrave;n tất
                          đăng k&yacute;.</span
                        >
                      </p>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="hd-379">
          <div class="row manual-device-swiper-container">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
              <div
                class="manual-device d-block"
                id="hd-sub-img-379102"
                childId="379102"
              >
                <div class="manual-device-stock"></div>

                <div class="manual-device-slide">
                  <div
                    class="swiper-container manual-device-swiper"
                    id="hd-sub-swp-379102"
                  >
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-naptien_01-181116110120.jpg"
                          class="img-fluid lazyload"
                          alt='Ch&#x1ECD;n "N&#x1EA1;p ti&#x1EC1;n v&#xE0;o v&#xED;"'
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-naptien_02-181116110129.jpg"
                          class="img-fluid lazyload"
                          alt="Ch&#x1ECD;n ngu&#x1ED3;n ti&#x1EC1;n v&#xE0; s&#x1ED1; ti&#x1EC1;n c&#x1EA7;n n&#x1EA1;p"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          data-src="https://static.mservice.io/img/momo-upload-api-naptien_03-181116110136.jpg"
                          class="img-fluid lazyload"
                          alt="X&#xE1;c nh&#x1EAD;n giao d&#x1ECB;ch"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 order-1 order-lg-2">
              <ol
                class="process list-unstyled manual-process d-block"
                childId="379102"
                id="hd-sub-ctn-379102"
              >
                <li class="process_item active">
                  <div class="process__number">
                    <span>1</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">Chọn "Nạp tiền vào ví"</h4>
                    <div class="process__body-content">
                      <p>
                        Mở ứng dụng V&iacute; MoMo, chọn mục &quot;Nạp tiền
                        v&agrave;o v&iacute;&quot;.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="process_item">
                  <div class="process__number">
                    <span>2</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">
                      Chọn nguồn tiền và số tiền cần nạp
                    </h4>
                    <div class="process__body-content">
                      <p>
                        - Chọn nguồn tiền l&agrave; t&agrave;i khoản ng&acirc;n
                        h&agrave;ng li&ecirc;n kết với V&iacute;.
                      </p>

                      <p style="text-align: justify;">
                        - Chọn số tiền cần nạp. (<em
                          >Lưu &yacute;:
                          <span style="font-size: 14px;"
                            >Nạp tiền tối thiểu 10.000Đ&nbsp;từ t&agrave;i
                            khoản&nbsp;Ng&acirc;n h&agrave;ng v&agrave;o
                            V&iacute; MoMo - ri&ecirc;ng Agribank 50.000Đ</span
                          >)</em
                        >
                      </p>
                    </div>
                  </div>
                </li>
                <li class="process_item">
                  <div class="process__number">
                    <span>3</span>
                  </div>
                  <div class="process__body">
                    <h4 class="process__body-title">Xác nhận giao dịch</h4>
                    <div class="process__body-content">
                      <p>
                        <span
                          style="
                            color: rgb(88, 88, 88);
                            font-family: Roboto, 'Helvetica Neue', Arial,
                              sans-serif;
                            font-size: 14px;
                          "
                          >Kiểm tra th&ocirc;ng tin v&agrave; x&aacute;c nhận
                          ho&agrave;n tất giao dịch.</span
                        >
                      </p>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-block d-lg-none">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="htw accordion" id="accordionExample">
          <div
            class="htw__item bg-white"
            data-toggle="collapse"
            aria-expanded="true"
            href="#dsNganhang2"
            role="button"
            aria-expanded="false"
            aria-controls="dsNganhang"
          >
            <div class="htw__content">
              <strong>Bước 1</strong> Liên kết Ví MoMo với Napas
            </div>

            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
            id="dsNganhang2"
          >
            <div class="htw__collpase__bg">
              <div
                class="htu-mockup m-0"
                style="cursor: pointer;"
                data-toggle="modal"
                data-target="#htu-modal"
              >
                <div
                  class="htu-mockup-item i1"
                  style="background-image: url('img/chodeal/hd1.png');"
                ></div>
                <div
                  class="htu-mockup-item i2"
                  style="
                    background-image: url('https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg');
                  "
                ></div>
                <div
                  class="htu-mockup-item i3"
                  style="
                    background-image: url('https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg');
                  "
                ></div>
              </div>

              <div class="text-center mt-4">
                <a
                  href=""
                  target="_blank"
                  data-toggle="modal"
                  data-target="#htu-modal"
                  class="btn btn-primary-2"
                  >Xem chi tiết</a
                >
              </div>
            </div>
          </div>

          <div
            class="htw__item bg-white"
            data-toggle="collapse"
            href="#dsNganhang"
            role="button"
            aria-expanded="false"
            aria-controls="dsNganhang"
          >
            <div class="htw__content">
              <strong>Bước 2:</strong> Nạp tiền vào ví MoMo từ Napas
            </div>

            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
            id="dsNganhang"
          >
            <div class="htw__collpase__bg">
              <div
                class="htu-mockup m-0"
                style="cursor: pointer;"
                data-toggle="modal"
                data-target="#htu-modal"
              >
                <div
                  class="htu-mockup-item i1"
                  style="background-image: url('img/chodeal/hd1.png');"
                ></div>
                <div
                  class="htu-mockup-item i2"
                  style="
                    background-image: url('https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg');
                  "
                ></div>
                <div
                  class="htu-mockup-item i3"
                  style="
                    background-image: url('https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg');
                  "
                ></div>
              </div>

              <div class="text-center mt-4">
                <a
                  href=""
                  target="_blank"
                  data-toggle="modal"
                  data-target="#htu-modal"
                  class="btn btn-primary-2"
                  >Xem chi tiết</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-pinklight bg-cover style=" id="dieukien">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-3 mb-4 mb-lg-5 text-center">
        Điều kiện chương trình
      </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div id="xt-faq-parent-122" class="hoidap-accordion">
          <div class="card mb-2 mb-md-3">
            <a
              href="#xt-fqa-599"
              data-toggle="collapse"
              role="button"
              aria-expanded="true"
              class="px-3 px-md-4 p-3"
            >
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0 mr-2">
                  ĐỐI TƯỢNG THAM GIA
                </h6>
                <img
                  src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                  alt="Xem thêm"
                  class="icon icon-sm"
                  data-inject-svg
                />
              </div>
            </a>

            <div
              class="collapse show"
              id="xt-fqa-599"
              data-parent="#xt-faq-parent-122"
            >
              <div class="px-3 px-md-4 pb-3 pb-md-4">
                <p>
                  - Là khách hàng CHƯA hoặc ĐANG liên kết tài khoản ngân hàng với MoMo
                  - Là khách hàng CHƯA hoặc ĐANG liên kết Thẻ ATM với MoMo
                </p>
                <p>
                  Danh sách 39 ngân hàng nội địa thuộc hệ thống Napas gồm:
                  Vietcombank, VIB, MBBank, Vietinbank, HD Bank, NCB, Maritime
                  Bank, Viet A Bank, GPBank, OceanBank, Bac A Bank, DongA Bank,
                  ABBank, BIDV, SHB, BaoVietBank, LienVietPostBank, TPBank,
                  Agribank, SCB, KienlongBank, SeABank, VRB, PublicBank,
                  NamABank, PVcomBank, SaigonBank, Techcombank, Eximbank, ACB,
                  Sacombank, VPBank, OCB, PG Bank, UOB, Indovina Bank, Woori
                  Bank, Shinhan Bank, Viet Capital Bank.
                </p>
              </div>
            </div>
          </div>
          <div class="card mb-2 mb-md-3">
            <a
              href="#xt-fqa-600"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              class="px-3 px-md-4 p-3"
            >
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0 mr-2">
                  2. Tại sao tài khoản của tôi bị trừ 10.000đ sau khi thực hiện
                  bước liên kết Thẻ ATM với MoMo?
                </h6>
                <img
                  src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                  alt="Xem thêm"
                  class="icon icon-sm"
                  data-inject-svg
                />
              </div>
            </a>
            <div
              class="collapse"
              id="xt-fqa-600"
              data-parent="#xt-faq-parent-122"
            >
              <div class="px-3 px-md-4 pb-3 pb-md-4">
                Khi liên kết Thẻ ATM với MoMo tại mục “Quản lý thẻ/tài khoản”,
                hệ thống sẽ tự động Nạp tiền 10.000đ vào Ví. Điều này nhằm để
                xác minh tài khoản Thẻ ATM của bạn vẫn còn hoạt động bình
                thường.
              </div>
            </div>
          </div>
          <div class="card mb-2 mb-md-3">
            <a
              href="#xt-fqa-601"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              class="px-3 px-md-4 p-3"
            >
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0 mr-2">
                  3. Tôi có thể rút tiền về Thẻ ATM đã liên kết với MoMo hay
                  không?
                </h6>
                <img
                  src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-caret-right.svg"
                  alt="Xem thêm"
                  class="icon icon-sm"
                  data-inject-svg
                />
              </div>
            </a>
            <div
              class="collapse"
              id="xt-fqa-601"
              data-parent="#xt-faq-parent-122"
            >
              <div class="px-3 px-md-4 pb-3 pb-md-4">
                <p>
                  Rất tiếc! Hiện Ví MoMo chưa hỗ trợ rút tiền từ Ví về Thẻ ATM.
                  Tuy nhiên, bạn có thể chuyển tiền từ Ví về Thẻ ATM của mình,
                  bằng cách:
                </p>
                <ul>
                  <li>Bước 1: Chọn mục “Chuyển tiền” tại màn hình</li>
                  <li>Bước 2: Chọn ‘Chuyển tiền đến ngân hàng’</li>
                  <li>Bước 3: Chọn logo ngân hàng bạn muốn chuyển tiền</li>
                  <li>Bước 4: Nhập thông tin tài khoản và xác nhận là xong!</li>
                </ul>
                <p>
                  <strong>Lưu ý:</strong> Phí chuyển tiền đến ngân hàng nội địa
                  là 3.300 + 0.65%.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modalCampaign -->
</section>

<section class="bg-white o-hidden" id="hoidap">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-3 mb-2 mb-lg-4 text-center">
        Câu hỏi thường gặp
      </h2>
    </div> 

    <div class="row justify-content-center">
      <div class="col-12 col-lg-5">
        <div class="question-wrapper">
          <div class="question-item">
            <a href="" data-toggle="modal" data-target="#question-modal1"
              >1. Hiện có bao nhiêu ngân hàng nội địa thuộc hệ thống Napas được
              liên kết Thẻ ATM với MoMo?
            </a>
          </div>

          <div class="question-item">
            <a href="" data-toggle="modal" data-target="#question-modal1"
              >2. Tại sao tài khoản của tôi bị trừ 10.000đ sau khi thực hiện
              bước liên kết Thẻ ATM với MoMo?
            </a>
          </div>
          <div class="question-item">
            <a href="" data-toggle="modal" data-target="#question-modal1"
              >3. Tôi có thể rút tiền về Thẻ ATM đã liên kết với MoMo hay không?
            </a>
          </div>

          <div class="question-item">
            <a href="" data-toggle="modal" data-target="#question-modal1"
              >4. Tôi liên kết Thẻ ATM với MoMo nhưng không xác thực Ví có bị
              khóa Ví không?
            </a>
          </div>
       
        </div>
      </div>

      <div class="col-12 col-lg-5">
        <div class="question-wrapper">
        
          <div class="question-item">
            <a href="" data-toggle="modal" data-target="#question-modal1"
              >5. Hạn mức giao dịch mỗi ngày trên Ví MoMo là bao nhiêu?
            </a>
          </div>

          <div class="question-item">
            <a href="" data-toggle="modal" data-target="#question-modal1"
              >6. Sau khi liên kết thẻ ATM với MoMo, tôi có được tham gia các
              chương trình khuyến mại (Giới Thiệu Bạn Bè) để nhận thưởng hay
              không?
            </a>
          </div>

          <div class="question-item">
            <a href="" data-toggle="modal" data-target="#question-modal1"
              >7. Thẻ ATM của tôi không đăng ký dịch vụ Internet Banking của
              ngân hàng thì có được liên kết với MoMo không?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modalCampaign -->
</section>

<div
  class="modal fade"
  id="question-modal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-left border-0">
        <div class="w-100 pt-4"></div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            <img src="img/icons/interface/icon-x.svg" alt="Icon" />
          </span>
        </button>
      </div>
      <div class="modal-body px-md-4 px-lg-5 pb-4 pt-0">
        <div>
          <h5 class="mb-4">
            1. Hiện có bao nhiêu ngân hàng nội địa thuộc hệ thống Napas được
            liên kết Thẻ ATM với MoMo?
          </h5>
          <p>
            Bạn có thể liên kết Thẻ ATM của 39 ngân hàng nội địa với MoMo.
          </p>

          <p>
            <strong>
              Danh sách 39 ngân hàng nội địa thuộc hệ thống Napas gồm:</strong
            >
            Vietcombank, VIB, MBBank, Vietinbank, HD Bank, NCB, Maritime Bank,
            Viet A Bank, GPBank, OceanBank, Bac A Bank, DongA Bank, ABBank,
            BIDV, SHB, BaoVietBank, LienVietPostBank, TPBank, Agribank, SCB,
            KienlongBank, SeABank, VRB, PublicBank, NamABank, PVcomBank,
            SaigonBank, Techcombank, Eximbank, ACB, Sacombank, VPBank, OCB, PG
            Bank, UOB, Indovina Bank, Woori Bank, Shinhan Bank, Viet Capital
            Bank.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "layouts/modal.html" %} {% endblock %} {% block javascript %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script> -->

<script>
  $(document).ready(function () {
    // data-offset="160" data-spy="scroll" data-target=".menu-nongsan"
    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    // $('#myTab li:last-child a').tab('show')

    //Select Cache
    var myTabLink = $("#myTab").find(".food-tab-link");
    var myTabItem = $("#myTab").find(".nav-item");

    function checkTabCurrent() {
      var listTabMenu = myTabLink;
      var current = 0;
      listTabMenu.each(function (i) {
        if ($(this).hasClass("active")) {
          current = i;
          return false;
        }
      });
      return current;
    }
    function makeTabActive(cur) {
      myTabLink.each(function (i) {
        if (i == cur) {
          $(this).tab("show");
          $(this)[0].scrollIntoView();

          if ($(window).width() > 700) {
            document.documentElement.scrollTop -= 150;
          } else {
            document.documentElement.scrollTop -= 10;
          }
        }
      });
    }
    function checkTabLength() {
      var listTabMenu = myTabItem;
      return listTabMenu.length;
    }

    var tabLength = checkTabLength() - 1;
    var tabCur = checkTabCurrent();

    //SWIPER TAB JS

    var swiperTabItem = new Swiper(".swiper-tab-tinhnang", {
      slidesPerView: "auto",
      spaceBetween: 5,
      threshold: 4,
      // centeredSlides: true,
      centerInsufficientSlides: true,
      on: {
        slideChangeTransitionEnd: function () {
          // console.log("dwd");
        },
      },
    });

    var curIndex = checkTabCurrent(); // =0
    var actIndex = 0; // =0

    $("a.food-tab-link ").on("shown.bs.tab", function (e) {
      actIndex = checkTabCurrent();

      if ($(window).width() < 500) {
        if (curIndex < actIndex) {
          swiperTabItem.slideTo(actIndex);
        } else {
          swiperTabItem.slideTo(actIndex - 1);
        }
      } else {
        if (curIndex < actIndex) {
          swiperTabItem.slideTo(actIndex - 2);
        } else {
          swiperTabItem.slideTo(actIndex - 1);
        }
      }

      curIndex = actIndex;
    });

    //END HERE
  });

  // var CtaScroll = $(".campaign-cta").offset().top;
  // function showQuyenGopBtn() {
  //   var scrollCurrent = $(window).scrollTop();
  //   var scrollOut = ($(window).scrollTop() - CtaScroll) - 70;
  //   if (scrollOut > 0) {
  //     $('html').addClass("show-donation-btn");
  //   } else {
  //     $('html').removeClass("show-donation-btn");
  //   }
  // }

  // $(window).on("scroll", function () {
  //   !window.requestAnimationFrame
  //     ? setTimeout(showQuyenGopBtn, 250)
  //     : requestAnimationFrame(showQuyenGopBtn);
  // });
</script>
{% endblock %}
