{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  rel="stylesheet"
/>

{% endblock %} {% block content %} {% set MgzMenu = [ { "name" : "Mới nhất",
"link" : "", "class" : "all" }, { "name" : "Đi quẩy", "link" : "", "class" :
"diquay" }, { "name" : "Thèm ăn", "link" : "", "class" : "theman" }, { "name" :
"Điện ảnh", "link" : "", "class" : "dienanh" }, { "name" : "Du hí", "link" : "",
"class" : "duhi" }, { "name" : "Mua gì", "link" : "", "class" : "muagi" },{
"name" : "Chọn MoMo", "link" : "", "class" : "chonmomo" } ] %} {% set hmmCat = {
"Đi quẩy" : "diquay", "Thèm ăn" : "theman", "Du hí" : "duhi", "Mua gì" :
"muagi", "Chọn MoMo" : "chonmomo", "Điện ảnh" : "dienanh" } %}

<!-- Top Menu -->
<nav class="mgzs__panel">
  <div class="mgzs__panel__content">
    <span class="mgzs__panel__name">      Phim bom tấn 2020: Top 15 phim điện ảnh đáng mong chờ nhất năm</span
    >

    <progress class="progress" value="90" max="100" style="width: 100%;">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  </div>
</nav>

<div class="mgzs__navigation">
  <div class="container mgzs__wrapper__container">
    <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667"
              >
                <path
                  d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="/magazine.html">Blog</a></li>
          <li class="breadcrumb-item active" aria-current="page">Mua gì</li>
        </ol>
    </nav>
  </div>


</div>
  <div class="mgzs__wrapper">
    <div class="container mgzs__wrapper__container">
      <div class="post__feature__image">
        <img
          src="https://static.mservice.io/blogscontents/momo-upload-api-200213144103-637172016639933742.jpg"
          class="img-fluid"
          loading="lazy"
          alt=""
        />
      </div>

      <article class="post__wrap">
        <div class="position-relative">
          <div class="mgz__social">
            <div class="mgz__social__btn">
              <div class="mgz__social-text">
                <i data-feather="share-2" class="mgz__social__icon"></i>
                Chia sẽ
              </div>

              <ul class="list-unstyled mgz__social__item">
                <li>
                  <a href="" class="btn btn-sm btn-social__share">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
                      />
                    </svg>
                    Facebook
                  </a>
                </li>
                <li>
                  <a href="" class="btn btn-sm btn-social__share">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"
                      />
                    </svg>
                    Twitter
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <header organizationurl="https://momo.vn/" class="post__hero">
            <h1 class="post__title font-serif">
              Phim bom tấn 2020: Top 15 phim điện ảnh đáng mong chờ nhất năm
            </h1>
          </header>

          <div class="row no-gutters align-items-center mb-4">
            <div class="col-12 col-md">
              <div class="post__meta mb-0">
                <div class="post__meta__item">
                  <div class="infomgz__cat dienanh">
                    <a class="infomgz__cat__link" href="magazine-category.html"
                      >ĐIỆN ẢNH</a
                    >
                  </div>
                </div>

                <div class="post__meta__item">
                  <span class="middotDivider"></span>
                </div>

                <div class="post__meta__item">
                  2 giờ trước
                </div>

                <div class="post__meta__item">
                  <span class="middotDivider"></span>
                </div>

                <div class="post__meta__item">
                  5 phút đọc
                </div>
              </div>
            </div>
          </div>

          <div class="post__sapo">
            <p>
              Nếu như ở những năm trước đây, thị trường điện ảnh dường như bị thống trị bởi phim siêu anh hùng thì ở năm 2020, khán giả hoàn toàn có thể trông đợi vào nhiều thể loại phim khác với những tựa phim hấp dẫn hơn bao giờ hết.
            </p>

            <hr />
          </div>

         
          <div class="post-full-content" id="lightgallery-post">
						<h2>1. Birds of Prey (Birds of Prey: Cuộc Lột X&aacute;c Huy Ho&agrave;ng Của Harley Quinn)</h2>
						<p>Birds of Prey l&agrave; bộ phim thứ 8 trong Vũ trụ điện ảnh DC được đạo diễn bởi Cathy Yan. Sau sự kiện của Suicide Squad v&agrave;o năm 2016, Harley Quinn đ&atilde; chia tay Joker. Đ&acirc;y cũng ch&iacute;nh l&agrave; l&iacute; do c&ocirc; n&agrave;ng quyết định nhập hội với những người bạn mới, tự tạo n&ecirc;n t&iacute;nh c&aacute;ch v&agrave; con người ri&ecirc;ng cho m&igrave;nh, kh&ocirc;ng c&ograve;n phụ thuộc v&agrave;o người t&igrave;nh như trước nữa. "T&ocirc;i mới l&agrave; người m&agrave; mọi người n&ecirc;n sợ, kh&ocirc;ng phải g&atilde; t&ecirc;n J", đ&acirc;y được coi l&agrave; c&acirc;u thoại điểm nhấn x&aacute;c định r&otilde; con đường đi của Harley Quinn.</p>
						<p style="text-align: center;">
							<img alt="Cuộc lột xác huy hoàng của Harley Quinn và các chị em" src="https://static.mservice.io/blogscontents/momo-upload-api-200213103636-637171869969059446.jpg" style="width: 800px; height: 450px;" /><em>Cuộc lột x&aacute;c huy ho&agrave;ng của Harley Quinn v&agrave; c&aacute;c chị em</em>
						</p>
						<p>Suốt những năm th&aacute;ng sống dưới c&aacute;i b&oacute;ng của Joker, Harley nghiễm nhi&ecirc;n sở hữu một kim b&agrave;i miễn tử, nằm ngo&agrave;i sự truy l&ugrave;ng v&agrave; săn đuổi của cả lực lượng c&ocirc;ng l&yacute; cũng như c&aacute;c thế lực ngầm của Gotham. Chả ai dại m&agrave; đụng v&agrave;o người phụ nữ của kẻ đ&aacute;ng sợ nhất th&agrave;nh phố n&agrave;y. Harley giờ đ&acirc;y mất đi người t&igrave;nh gắn b&oacute; s&acirc;u đậm nhất khiến c&ocirc; rơi v&agrave;o khủng hoảng trong một thời gian đ&aacute;ng kể.</p>
						<div class="text-center">
							<p><a class="btn btn-primary-2 btn-pulse" href="https://momoapp.page.link/XhLm6jn82kSf7aJC6" target="_blank">SĂN V&Eacute; NHẬN KHUYẾN M&Atilde;I NGAY</a>
							</p>
						</div>
						<p>Tuy vậy, điều m&agrave; Harley kh&ocirc;ng ngờ đến ch&iacute;nh l&agrave; việc rời khỏi Joker khiến gần như tất cả những ai đ&atilde; từng bị c&ocirc; g&acirc;y th&ugrave; chuốc o&aacute;n đều muốn nh&acirc;n cơ hội n&agrave;y phục th&ugrave;. Những sự kiện li&ecirc;n tục hướng tới Harley v&agrave; k&eacute;o c&ocirc; v&agrave;o cuộc chiến tranh đoạt vi&ecirc;n kim cương ẩn chứa b&iacute; mật của một trong những gia đ&igrave;nh mafia lớn tại Gotham, hiện đang nằm trong người của c&ocirc; b&eacute; Cassandra Cain. Trong sự hỗn loạn đ&oacute;, Harley v&ocirc; t&igrave;nh l&agrave;m quen với c&aacute;c c&ocirc; g&aacute;i kh&aacute;c nhau của Gotham cũng c&oacute; mối d&acirc;y li&ecirc;n hệ đến Sionis, từ đ&oacute;, tất cả chấp nhận bắt tay nhau để vượt qua kh&oacute; khăn.</p>
						<p><a href="https://momo.vn/blog/review-harley-quinn-khi-ac-nu-hoa-anh-hung-va-khoi-dau-trao-luu-nu-quyen-c99dt82"><span style="font-size:20px;">Xem chi tiết Review phim Harley Quinn: Birds of Prey</span></a>
						</p>
						<p>Phim đang được chiếu tại c&aacute;c rạp chiếu phim tr&ecirc;n to&agrave;n quốc từ ng&agrave;y 07/02/2020.</p>
						<h2>2. The New Mutants (Dị Nh&acirc;n Thế Hệ Mới)</h2>
						<p>Dị Nh&acirc;n Thế Hệ Mới l&agrave; c&acirc;u chuyện về năm dị nh&acirc;n trẻ kh&aacute;m ph&aacute; ra sức mạnh dị ph&agrave;m của họ trong khi bị giam cầm ở một khu phức hợp. Họ phải chiến đấu để được tự do. Phim c&oacute; sự tham gia của Anya Taylor-Joy, Maisie Williams, Alice Braga, Charlie Heaton, Blu Hunt, Henry Zaga. Sau khi Disney th&acirc;u t&oacute;m Fox, số phận của dự &aacute;n phim dị nh&acirc;n tiếp tục bị phủ trong b&oacute;ng tối. Phim được dự kiến khởi chiếu v&agrave;o ng&agrave;y 03/04/2020.</p>
						<p style="text-align: center;">
							<img alt="Hình ảnh của 5 đứa trẻ dị nhân với siêu năng lực hiếm có" src="https://static.mservice.io/blogscontents/momo-upload-api-200213105218-637171879380582881.jpg" style="width: 800px; height: 400px;" /><em>H&igrave;nh ảnh của 5 đứa trẻ dị nh&acirc;n với si&ecirc;u năng lực hiếm c&oacute;</em>
						</p>
						<h2>3. Black Widow (G&oacute;a Phụ Đen)</h2>
						<p>Một trong những l&iacute; do khiến Black Widow được đ&ocirc;ng đảo kh&aacute;n giả mong chờ ch&iacute;nh l&agrave; v&igrave; đ&acirc;y l&agrave; bộ phim đầu ti&ecirc;n mở m&agrave;n cho giai đoạn thứ 4 của Vũ trụ điện ảnh Marvel (MCU). Được lấy bối cảnh ngay sau sự kiện Captain America: Civil War, trong bộ phim lần n&agrave;y nữ điệp vi&ecirc;n phải đối diện với những c&acirc;u hỏi đầy b&iacute; ẩn trong nguồn gốc của m&igrave;nh. Những c&acirc;u hỏi sẽ dẫn Natasha quay trở lại Budapest, nơi c&ocirc; được luyện tập để trở th&agrave;nh si&ecirc;u điệp vi&ecirc;n của Nga. Tuy nhi&ecirc;n đơn th&acirc;n độc m&atilde; chống lại cả một tổ chức l&agrave; điều bất khả thi. Đấy l&agrave; l&uacute;c Natasha phải t&igrave;m đến những đồng minh trong qu&aacute; khứ. C&ocirc; t&igrave;m về với những Black Widow kh&aacute;c, những người đ&atilde; từng l&agrave; gia đ&igrave;nh của c&ocirc;.</p>
						<p style="text-align: center;">
							<img alt="Góa phụ đã trở lại và lợi hại hơn xưa" src="https://static.mservice.io/blogscontents/momo-upload-api-200213105304-637171879841819770.jpg" style="width: 800px; height: 800px;" /><em>G&oacute;a phụ đ&atilde; trở lại v&agrave; lợi hại hơn xưa</em>
						</p>
						<p>C&acirc;u chuyện c&agrave;ng trở n&ecirc;n b&iacute; ẩn hơn khi mối quan hệ giữa Natasha v&agrave; Yelena kh&ocirc;ng chỉ đơn thuần l&agrave; đồng đội, họ l&agrave; những người chị em th&acirc;n thiết trong qu&aacute; khứ. Tuy nhi&ecirc;n nhiệm vụ của họ bị ngăn cản bởi một t&ecirc;n l&iacute;nh đ&aacute;nh thu&ecirc; nguy hiểm với c&aacute;i t&ecirc;n Taskmaster. Black Widow được dự kiến ph&aacute;t h&agrave;nh v&agrave;o ng&agrave;y 30/04/2020.</p>
						<h2>4. Wonder Woman 1984 (Nữ Thần Chiến Binh 1984)</h2>
						<p>Tiếp tục lại l&agrave; một bộ phim về nữ si&ecirc;u anh h&ugrave;ng nữa, nhưng lần n&agrave;y đến từ h&atilde;ng DC với nh&acirc;n vật kinh điển Wonder Woman. Wonder Woman 1984 lấy bối cảnh thập ni&ecirc;n 80, Diana Prince (Gal Gadot) gặp lại t&igrave;nh cũ Steve Trevor (Chris Pine) - người cứ ngỡ đ&atilde; tử nạn sau vụ nổ m&aacute;y bay ở phần 1. B&ecirc;n cạnh đ&oacute;, c&ocirc; phải đối đầu với những &aacute;c nh&acirc;n ho&agrave;n to&agrave;n mới.</p>
						<p style="text-align: center;">
							<img alt="Chiến binh Wonder Woman tái xuất trong bộ trang phục ấn tượng" src="https://static.mservice.io/blogscontents/momo-upload-api-200213141603-637172001639585590.jpg" style="width: 800px; height: 517px;" /><em>Chiến binh Wonder Woman t&aacute;i xuất trong bộ trang phục ấn tượng</em>
						</p>
						<p>Kh&aacute;c với phần đầu ti&ecirc;n, trong <strong>Wonder Woman 1984</strong>, <strong>Diana Prince</strong> sẽ phải đối mặt với một cuộc xung đột với Li&ecirc;n bang X&ocirc; Viết trong thời kỳ chiến tranh lạnh trong những năm 1980. Ngo&agrave;i ra, lần n&agrave;y c&ocirc; sẽ tiếp tục phải chiến đấu với kẻ th&ugrave; mới Cheetah. Wonder Woman 1984 được dự kiến sẽ ra mắt kh&aacute;n giả v&agrave;o ng&agrave;y 05/06/2020.</p>
						<h2>5. Venom 2</h2>
						<p>Trong phần 2 n&agrave;y, <strong>Tom Hardy</strong> vẫn thủ vai ch&iacute;nh v&agrave; Woody Harrelson tham gia. Venom 1 đ&atilde; th&uacute; vị, nay lại c&agrave;ng sắc m&agrave;u hơn khi Nhện nhỏ <strong>Tom Holland</strong> khả năng cao sẽ c&oacute; m&agrave;n "cameo" bay lượn. C&ograve;n nhớ trước đ&oacute;, bộ phim được dự đo&aacute;n sẽ "flop" khi vừa th&ocirc;ng b&aacute;o dự &aacute;n, lại bất ngờ nhảy top v&agrave;o c&aacute;c bộ phim ăn kh&aacute;ch nhất mọi thời đại. Mặc kệ những chỉ tr&iacute;ch xoay quanh t&iacute;nh bạo lực, Venom 2 chuẩn bị ra rạp v&agrave; hứa hẹn trở th&agrave;nh c&uacute; h&iacute;ch cho nền điện ảnh năm nay.</p>
						<p style="text-align: center;">
							<img alt="Lần này Venom đụng độ với “thánh nhọ” Spider Man chăng?" src="https://static.mservice.io/blogscontents/momo-upload-api-200213105553-637171881536800542.jpg" style="width: 800px; height: 450px;" /><em>Lần n&agrave;y Venom đụng độ với “th&aacute;nh nhọ” Spider Man chăng?</em>
						</p>
						<p>Phim dự kiến ph&aacute;t h&agrave;nh v&agrave;o 02/10/2020.</p>
						<h2>6. The Eternals (Chủng Lo&agrave;i Si&ecirc;u Đẳng)</h2>
						<p>Với “Eternals”, <strong>Angelina Jolie</strong> ch&iacute;nh thức gia nhập <strong>Vũ trụ điện ảnh Marvel</strong>. Việc Marvel c&oacute; thể mời được minh tinh Angelina Jolie tham gia v&agrave;o dự &aacute;n n&agrave;y l&agrave; một bất ngờ lớn với nhiều người h&acirc;m mộ. Trong phim, Angelina Jolie đ&oacute;ng vai nữ thần sức mạnh Thena, tr&iacute; tuệ của tộc Eternals. Ban đầu, t&ecirc;n của c&ocirc; l&agrave; Azura, nhưng cha của c&ocirc; - Zuras đ&atilde; đổi t&ecirc;n c&ocirc; để gợi nhớ đến người con g&aacute;i của Zeus l&agrave; Athena nhằm đạt được thỏa thuận hiệp ước giữa hai tộc người. C&ocirc; l&agrave; một Eternals hiền h&ograve;a với những người xung quanh nhưng khi cần thiết sẽ trở th&agrave;nh một chiến binh mạnh nhất của chủng tộc.</p>
						<p style="text-align: center;">
							<img alt="Angelina Jolie chính thức gia nhập đường đua của Vũ trụ điện ảnh Marvel" src="https://static.mservice.io/blogscontents/momo-upload-api-200213110331-637171886115915548.jpg" style="width: 600px; height: 935px;" /><em>Angelina Jolie ch&iacute;nh thức gia nhập đường đua của Vũ trụ điện ảnh Marvel</em>
						</p>
						<p>C&acirc;u chuyện của <strong>“Eternals”</strong> lấy bối cảnh từ c&aacute;ch đ&acirc;y h&agrave;ng triệu năm trước, khi c&aacute;c sinh vật vũ trụ quyền năng được gọi l&agrave; Celestials thử nghiệm di truyền tr&ecirc;n người để tạo ra những c&aacute; thể si&ecirc;u năng lực được chia l&agrave;m 2 nh&oacute;m Cường nh&acirc;n – Eternals v&agrave; những Deviants hung &aacute;c.</p>
						<p>Hai nh&oacute;m tiếp tục chiến đấu với nhau trong suốt chiều d&agrave;i lịch sử. Người Eternals cũng đ&atilde; chiến đấu với người Hy Lạp, La M&atilde; v&agrave; Bắc u trước khi rời Tr&aacute;i Đất để kh&aacute;m ph&aacute; c&aacute;c ng&ocirc;i sao. The Eternals được dự kiến ph&aacute;t h&agrave;nh v&agrave;o 06/11/2020.</p>
						<h2>7. No Time To Die (Chưa Phải L&uacute;c Chết)</h2>
						<p>Tiếp nối sự kiện tại phần phim<strong> Spectre (2015)</strong>, <strong>James Bond</strong> lựa chọn giải nghệ để c&oacute; cho m&igrave;nh một cuộc sống b&igrave;nh thường. Kh&ocirc;ng may khi trật tự v&agrave; h&ograve;a b&igrave;nh thế giới một lần nữa lại bị đe dọa bởi &aacute;c nh&acirc;n Safin (Rami Malek). Anh buộc phải t&aacute;i xuất với nhiều những b&iacute; mật s&acirc;u khuất đang chờ được h&eacute; lộ. Trong tập phim n&agrave;y, lần đầu ti&ecirc;n phi&ecirc;n bản nữ của 007 được giới thiệu với kh&aacute;n giả tr&ecirc;n m&agrave;n ảnh lớn.</p>
						<p style="text-align: center;">
							<img alt="Bộ phim với lần trở lại cuối cùng của siêu tài tử Daniel Craig trong vai diễn để đời Điệp viên 007 - James Bond" src="https://static.mservice.io/blogscontents/momo-upload-api-200213110404-637171886446011401.jpg" style="width: 800px; height: 467px;" /><em>Bộ phim với lần trở lại cuối c&ugrave;ng của si&ecirc;u t&agrave;i tử Daniel Craig trong vai diễn để đời Điệp vi&ecirc;n 007 - James Bond</em>
						</p>
						<p>Sở dĩ bộ phim được đ&oacute;n chờ đến vậy một phần l&agrave; do đ&acirc;y kh&ocirc;ng chỉ l&agrave; lần thứ 5 Daniel Craig thủ vai James Bond m&agrave; c&ograve;n l&agrave; lần cuối c&ugrave;ng anh xuất hiện trong loạt phim n&agrave;y. Phim được dự kiến khởi chiếu v&agrave;o ng&agrave;y 27/11/2020</p>
						<h2>8. Fast and Furious 9 (Qu&aacute; Nhanh Qu&aacute; Nguy Hiểm 9)</h2>
						<p>Sau khi tho&aacute;t chết ở cuối phần 8, nh&acirc;n vật phản diện ch&iacute;nh của phim – hacker Cipher (Charlize Theron) sẽ quay trở lại với nhiều chi&ecirc;u tr&ograve; nguy hiểm, nhằm hạ gục Dominic v&agrave; gia đ&igrave;nh anh.</p>
						<p style="text-align: center;">
							<img alt="Vin Diesel cầm trịch xuyên suốt bộ phim" src="https://static.mservice.io/blogscontents/momo-upload-api-200213111030-637171890303744516.jpg" style="width: 800px; height: 495px;" /><em>Vin Diesel cầm trịch xuy&ecirc;n suốt bộ phim</em>
						</p>
						<p>Phần phim n&agrave;y sẽ vắng b&oacute;ng “The Rock” Dwayne Johnson v&agrave; Jason Statham. Nhưng Fast & Furious 9 đ&atilde; mời được một gương mặt v&agrave;ng thay thế – huyền thoại đ&ocirc; vật <strong>John Cena</strong>. Th&ocirc;ng tin về vai diễn của anh vẫn đang nằm trong v&ograve;ng b&iacute; mật. Đạo diễn Justin Lin, c&ugrave;ng bi&ecirc;n kịch quen thuộc Chris Morgan hứa hẹn sẽ viết n&ecirc;n chương mới đầy h&agrave;o h&ugrave;ng cho đại gia đ&igrave;nh Fast & Furious. Phim được dự kiến khởi chiếu v&agrave;o ng&agrave;y 02/04/2021</p>
						<p style="text-align: center;"><a class="btn btn-primary-2 btn-pulse" href="https://momoapp.page.link/XhLm6jn82kSf7aJC6" target="_blank">SĂN V&Eacute; NHẬN KHUYẾN M&Atilde;I NGAY</a>
						</p>
						<h2>9. G.I.JOE 3: Snake Eyes (Điệp Vi&ecirc;n G.I.JOE 3)</h2>
						<p>Hai phần phim trước <strong>G.I. Joe: The Rise of Cobra (2009)</strong> v&agrave; <strong>G.I. Joe: Retaliation (2013)</strong> g&acirc;y ấn tượng mạnh nhờ những pha h&agrave;nh động đẹp mắt v&agrave; c&ocirc;ng nghệ vũ kh&iacute; hiện đại. Nội dung chi tiết của Snake Eyes vẫn đang được giữ k&iacute;n nhưng qua những teaser gần đ&acirc;y, người h&acirc;m mộ cho rằng phim sẽ đ&agrave;o s&acirc;u v&agrave;o qu&aacute; khứ nh&acirc;n vật Snakes Eyes, một th&agrave;nh vi&ecirc;n cốt c&aacute;n của tổ chức G.I.Joe.</p>
						<p style="text-align: center;">
							<img alt="Siêu phẩm phần 3 tiếp tục tái xuất sau 7 năm vắng bóng trên màn ảnh rộng" src="https://static.mservice.io/blogscontents/momo-upload-api-200213111544-637171893443173849.jpg" style="width: 750px; height: 397px;" /><em>Si&ecirc;u phẩm phần 3 tiếp tục t&aacute;i xuất sau 7 năm vắng b&oacute;ng tr&ecirc;n m&agrave;n ảnh rộng</em>
						</p>
						<p>Nam diễn vi&ecirc;n điển trai <strong>Henry Golding</strong> được mời nhận vai <strong>Snake Eyes</strong>. B&ecirc;n cạnh đ&oacute; c&aacute;c th&agrave;nh vi&ecirc;n chủ chốt kh&aacute;c của tổ chức G.I.Joe sẽ được đảm nhiệm bởi Andre Koji (Storm Shadow), Iko Uwais (Hard Master), &Uacute;rsula Corber&oacute; (Baroness) v&agrave; Samara Weaving (Scarlett). Phim được dự kiến khởi chiếu v&agrave;o ng&agrave;y 16/10/2020.</p>
						<h2>10. Mulan (Hoa Mộc Lan)</h2>
						<p>Mulan được coi l&agrave; dự &aacute;n phim được đầu tư nhất của <strong>Disney</strong> trong năm 2020. Ngay khi ra mắt trailer, những người h&acirc;m mộ đ&atilde; "đứng ngồi kh&ocirc;ng y&ecirc;n" với h&igrave;nh ảnh đầy m&atilde;n nh&atilde;n m&agrave; Mulan mang lại.</p>
						<p style="text-align: center;">
							<img alt="Mulan - Hoa Mộc Lan - một trong những tác phẩm kinh điển của Disney" src="https://static.mservice.io/blogscontents/momo-upload-api-200213111622-637171893826164966.jpg" style="width: 800px; height: 1184px;" /><em>Mulan - Hoa Mộc Lan - một trong những t&aacute;c phẩm kinh điển của Disney</em>
						</p>
						<p>Dựa tr&ecirc;n t&aacute;c phẩm hoạt h&igrave;nh kinh điển c&ugrave;ng t&ecirc;n năm 1998, Mộc Lan sẽ đưa người xem trở về Trung Hoa thời nh&agrave; Đường, theo ch&acirc;n c&ocirc; n&agrave;ng <strong>Mộc Lan</strong> giả dạng nam nh&acirc;n thay cha nhập ngũ. Với tinh thần quả cảm v&agrave; nghị lực phi thường, c&ocirc; đ&atilde; dẫn dắt binh l&iacute;nh đ&aacute;nh bại qu&acirc;n x&acirc;m lược phương Bắc v&agrave; trở th&agrave;nh một trong những chiến binh vĩ đại nhất lịch sử.</p>
						<p><strong>“Thần ti&ecirc;n tỉ tỉ” Lưu Diệc Phi </strong>sẽ đảm nhận vai nữ anh h&ugrave;ng của bộ phim. Mộc Lan l&agrave; con g&aacute;i trưởng của chiến binh k&igrave; cựu Hoa Hồ. Sau khi bị c&aacute;c thế lực phương Bắc tấn c&ocirc;ng, Ho&agrave;ng đế Trung Hoa ban lệnh truyền xuống y&ecirc;u cầu mỗi gia đ&igrave;nh phải c&oacute; một người đ&agrave;n &ocirc;ng đi l&iacute;nh. Do nh&agrave; họ Hoa kh&ocirc;ng c&oacute; con trai, Mộc Lan đ&atilde; l&eacute;n thế chỗ cho người cha gi&agrave; của m&igrave;nh.</p>
						<p>Mulan sẽ ch&iacute;nh thức ra mắt kh&aacute;n giả to&agrave;n cầu v&agrave;o ng&agrave;y 27/03/2020.</p>
						<h2>11. Tenet</h2>
						<p>Tenet: Bộ phim tham vọng nhất của đạo diễn thi&ecirc;n t&agrave;i Christopher Nolan.</p>
						<p>Sau 2 năm vắng b&oacute;ng, đạo diễn xuất ch&uacute;ng Christopher Nolan đ&atilde; cho ra mắt bom tấn <strong>Tenet</strong> với sự tham gia của d&agrave;n sao từng th&agrave;nh c&ocirc;ng ở những phim trước đ&acirc;y như “ma c&agrave; rồng” <strong>Robert Pattinson</strong>, ch&acirc;n d&agrave;i “Vệ Binh Dải Ng&acirc;n H&agrave;” Elizabeth Debicki, “th&aacute;m tử tr&ecirc;n t&agrave;u tốc h&agrave;nh Phương Đ&ocirc;ng” Kenneth Branagh v&agrave; diễn vi&ecirc;n từng được đề cử Quả cầu v&agrave;ng John David Washington, Michael Caine v&agrave; h&agrave;ng loạt diễn vi&ecirc;n thực lực kh&aacute;c.</p>
						<p style="text-align: center;">
							<img alt="Poster phim điện ảnh Tenet" src="https://static.mservice.io/blogscontents/momo-upload-api-200213112753-637171900733613290.jpg" style="width: 800px; height: 1185px;" /><em>Poster phim điện ảnh Tenet</em>
            </p>
            
              <div class="post__adv">
                <div class="mgz__adv">

                  <div class=" mgz__adv__grid mgz__adv__content">
                    <div class="mgz__adv__txt1">
                      ƯU ĐÃI NÓNG
                    </div>
    
                    <div class="mgz__adv__txt2">
                      <a href="" class="link-dark">
                       Kỹ niệm 20 triệu người dùng, ngày 09/09/2020, chương trình “HỌC VIỆN MOMO" chính thức ra mắt. 
                      </a>
                    </div>
    
                    <div class="mgz__adv__btn">
                      <a href="" class="">Xem ngay <i data-feather="arrow-right-circle" class="icon-rr"></i> </a>
                    </div>
                    
                  </div>
                  <div class="mgz__adv__grid mgz__adv__image swiper-slide">
                    <img src="https://image.sggp.org.vn/w560/Uploaded/2020/yfsgf/2020_09_11/nguoi-dung-trai-nghiem-hvmm7_dxws.jpg" class="img-fluid d-block mr-0" loading="lazy" alt="">
                  </div>
                  
                </div>
            </div>

						<p>H&atilde;ng <strong>Warner Bros</strong> đ&atilde; tung trailer đầu ti&ecirc;n của phim nhưng chỉ mới h&eacute; lộ d&agrave;n diễn vi&ecirc;n, c&ograve;n nội dung v&agrave; cốt truyện vẫn l&agrave; một b&iacute; ẩn với tất cả kh&aacute;n giả. Chỉ biết đ&acirc;y l&agrave; bộ phim giả tưởng, h&agrave;nh động, phi&ecirc;u lưu kịch t&iacute;nh lấy bối cảnh “kiếp sau” của thế giới. Phim theo ch&acirc;n nh&acirc;n vật do John David Washington thủ vai, được một tổ chức b&iacute; ẩn chi&ecirc;u mộ nhằm thực thi sứ mệnh ngăn chặn Thế chiến thứ III từ trước khi n&oacute; xảy ra.</p>
						<p>Tenet được ghi h&igrave;nh tại 17 quốc gia, được đầu tư c&ocirc;ng phu v&agrave; trau chuốt về kỹ xảo, h&agrave;nh động lẫn &acirc;m thanh. V&igrave; vậy, bộ phim hứa hẹn sẽ l&agrave;m m&atilde;n nh&atilde;n c&aacute;c t&iacute;n đồ m&ecirc; phim tr&ecirc;n to&agrave;n cầu. Dự kiến phim khởi chiếu tại Việt Nam v&agrave;o ng&agrave;y 17/07/2020.</p>
						<h2>12. Bloodshot</h2>
						<p>H&atilde;ng Sony mới tung ra trailer đầu ti&ecirc;n d&agrave;nh cho t&aacute;c phẩm si&ecirc;u anh h&ugrave;ng Bloodshot. Dự &aacute;n g&acirc;y ch&uacute; &yacute; khi c&oacute; sự tham gia của t&agrave;i tử Vin Diesel trong vai ch&iacute;nh c&ugrave;ng t&ecirc;n. Đoạn trailer d&agrave;i hơn 2 ph&uacute;t đ&atilde; chi&ecirc;u đ&atilde;i người xem nhiều cảnh h&agrave;nh động, đọ s&uacute;ng m&atilde;n nh&atilde;n v&agrave; phần n&agrave;o đ&oacute; cho thấy ho&agrave;i b&atilde;i x&acirc;y dựng một vũ trụ điện ảnh mới.</p>
						<p style="text-align: center;">
							<img alt="Các diễn viên trong Bloodshot" src="https://static.mservice.io/blogscontents/momo-upload-api-200213114731-637171912517915668.jpg" style="width: 800px; height: 1000px;" /><em>C&aacute;c diễn vi&ecirc;n trong Bloodshot</em>
						</p>
						<p><strong>Bloodshot</strong> hay t&ecirc;n thật l&agrave; Ray Garrison, vốn l&agrave; một người l&iacute;nh kh&ocirc;ng may tử trận. Song, anh được hồi sinh nhờ c&ocirc;ng nghệ nanobot của tổ chức Rising Spirit. Sau khi được t&aacute;i sinh, Ray sở hữu sức mạnh si&ecirc;u nhi&ecirc;n v&agrave; khả năng phục hồi nhanh ch&oacute;ng. Vận dụng những kỹ năng mới, anh săn l&ugrave;ng g&atilde; đ&agrave;n &ocirc;ng đ&atilde; giết vợ m&igrave;nh. Thế nhưng, khi sự thật dần h&eacute; mở, Ray nhận ra rằng kh&ocirc;ng phải mọi thứ đều đ&aacute;ng tin, ngay cả ch&iacute;nh bản th&acirc;n anh.</p>
						<p>Phim dự kiến khởi chiếu tại Việt Nam ng&agrave;y 13/03/2020.</p>
						<h2>13. Monster Hunter</h2>
						<p>Phim Monster Hunter với nữ diễn vi&ecirc;n Milla Jovovich hiện đ&atilde; được Sony Pictures c&ocirc;ng bố ph&aacute;t h&agrave;nh v&agrave;o th&aacute;ng 9 năm 2020. Ngo&agrave;i ra, phim c&ograve;n c&oacute; sự tham gia của một số diễn vi&ecirc;n nổi tiếng kh&aacute;c như Tip “T.I” Harris, Meagan Good, Diego Boneta, Josh Helman, Jin Au-Yeung v&agrave; Ron Perlman.</p>
						<p style="text-align: center;">
							<img alt="Hai diễn viên Milla Jovovich và Tony Jaa trong phim" src="https://static.mservice.io/blogscontents/momo-upload-api-200213140329-637171994098969614.jpg" style="width: 800px; height: 400px;" /><em>Hai diễn vi&ecirc;n Milla Jovovich v&agrave; Tony Jaa trong phim</em>
						</p>
						<p><strong>Monster Hunter</strong> dựa tr&ecirc;n tr&ograve; chơi c&ugrave;ng t&ecirc;n của Capcom. Phim m&ocirc; tả một thế giới khổng lồ đằng sau thế giới ở thực tại m&agrave; ch&uacute;ng ta đang sống với những lo&agrave;i qu&aacute;i vật nguy hiểm thống trị tr&ecirc;n từng l&atilde;nh thổ của ch&uacute;ng ta với sức mạnh kinh người. Khi trung &uacute;y Artemis (Milla Jovovich) v&agrave; những người l&iacute;nh trung th&agrave;nh của c&ocirc; được chuyển đến thế giới mới, v&agrave; bị l&ocirc;i v&agrave;o trong c&aacute;c cuộc chiến sinh tồn với những kẻ th&ugrave; to lớn với sức mạnh đ&aacute;ng kinh ngạc kh&ocirc;ng thể ngăn cản.
							<br />Một tựa game chuyển thể hứa hẹn sẽ l&agrave; bộ phim bom tấn sau sự th&agrave;nh c&ocirc;ng Resident Evil. Đ&acirc;y chắc chắn l&agrave; một m&oacute;n qu&agrave; tuyệt vời từ nh&agrave; ph&aacute;t h&agrave;nh gửi tặng người h&acirc;m mộ đ&atilde; d&agrave;nh nhiều kỳ vọng cho tựa game n&agrave;y.</p>
						<p>Khởi chiếu ng&agrave;y 04/09/2020</p>
						<h2>14. The King’s man - Kingsman: Khởi nguồn</h2>
						<p>Kingsman: Khởi nguồn kể về qu&aacute; tr&igrave;nh h&igrave;nh th&agrave;nh đầy gian kh&oacute; của tổ chức điệp vi&ecirc;n danh gi&aacute; nước Anh. Cốt truyện của <strong>Kingsman: Khởi nguồn</strong> đưa người xem quay về thời Thế chiến thứ nhất, nơi bom đạn gi&agrave;y x&eacute;o những c&aacute;nh đồng v&agrave; người chết như ngả rạ. Đ&oacute; l&agrave; l&yacute; do v&igrave; sao ở cả 2 trailer được h&atilde;ng 20th Century Fox tung ra lại c&oacute; cảnh một chiến trường tan hoang v&agrave; vầng mặt trời nặng trĩu.</p>
						<p style="text-align: center;">
							<img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200213140444-637171994846024317.jpg" style="width: 800px; height: 1223px;" />
						</p>
						<p>Tổ chức <strong>Kingsman</strong> được lập ra với mục đ&iacute;ch ngăn chặn &acirc;m mưu bạn t&agrave;n của những t&ecirc;n tr&ugrave;m m&aacute;u lạnh. C&ocirc;ng tước xứ Oxford (Ralph Fiennes) đ&atilde; dạy những kỹ năng tối quan trọng của một điệp vi&ecirc;n cho l&iacute;nh mới l&agrave; Conrad (Harris Dickinson). Đ&oacute; l&agrave; kỹ năng diễn xuất như một qu&yacute; &ocirc;ng nhưng khi chiến đấu phải l&agrave; một người h&ugrave;ng ch&acirc;n ch&iacute;nh.</p>
						<p>Ng&agrave;y ra rạp 18/09/2020</p>
						<h2>15. The Conjuring: The Devil Made Me Do It</h2>
						<p>Vũ trụ kinh dị The Conjuring năm nay được tiếp tục bằng phần 3 của mạch truyện ch&iacute;nh. Patrick Wilson c&ugrave;ng Vera Farmiga trở lại sắm vai đ&ocirc;i vợ chồng trừ t&agrave; nh&agrave; Warren. Bộ đ&ocirc;i sẽ điều tra một vụ &aacute;n giết người m&agrave; thủ phạm nằng nặc khai rằng g&atilde; bị quỷ dữ sai khiến. Tựa đề cho thấy nội dung phim sẽ dựa tr&ecirc;n vụ &aacute;n c&oacute; thật của Arne Cheyenne Johnson v&agrave;o năm 1981. Vụ &aacute;n n&agrave;y đ&atilde; trở n&ecirc;n nổi tiếng với t&ecirc;n gọi “Devil Made Me Do It” (Quỷ &eacute;p t&ocirc;i l&agrave;m vậy).</p>
						<p style="text-align: center;">
							<img alt="" src="https://static.mservice.io/blogscontents/momo-upload-api-200213142354-637172006340168596.jpg" style="width: 800px; height: 1186px;" />
						</p>
						<p>Nh&agrave; sản xuất James Wan, người đ&atilde; th&agrave;nh c&ocirc;ng với những t&aacute;c phẩm như Saw, Insidious c&ugrave;ng đạo diễn The Conjuring 3 &ocirc;ng Michael Chaves cho biết rằng phần 3 n&agrave;y sẽ c&oacute; sự hội ngộ của d&agrave;n diễn vi&ecirc;n l&acirc;u năm. Đ&acirc;y kh&ocirc;ng chỉ l&agrave; phần cuối của bộ ba phim The Conjuring m&agrave; n&oacute; c&oacute; li&ecirc;n hệ s&acirc;u sắc với tất cả những c&acirc;u chuyện kh&aacute;c trong vũ trụ điện ảnh ma qu&aacute;i (The Conjuring, The Conjuring 2, Annabelle, Annabelle: Creation v&agrave; The Nun).</p>
						<p>Phim sẽ được ra rạp ng&agrave;y 10/09/2020.</p>
						<p>Đừng bỏ lỡ những bộ phim si&ecirc;u bom tấn chiếu rạp 2020. Nhớ canh ng&agrave;y để đặt v&eacute; rồi đi xem phim nh&eacute;. Hơn nữa, từ nay, bạn c&oacute; thể đặt v&eacute; xem phim trực tiếp tr&ecirc;n ứng dụng V&iacute; MoMo với ưu đ&atilde;i 4 voucher CGV cả tuần chỉ 79K/v&eacute; v&agrave; combo bắp nước chỉ 55K, hay v&eacute; Lotte Cinema giảm 15% tr&ecirc;n V&iacute; MoMo cực hấp dẫn.</p>
					



            <div class="mgz__adv">

              <div class=" mgz__adv__grid mgz__adv__content">

                <div class="mgz__adv__txt1">
                  ƯU ĐÃI NÓNG
                </div>

                <div class="mgz__adv__txt2">
                Nhập BAEMIN tại Ví MoMo để nhận 100K dành cho khách hàng mới
                </div>

                <div class="mgz__adv__btn">
                  <a href="" class="btn btn-primary-2">Xem thêm</a>
                </div>
                
              </div>
              <div class="mgz__adv__grid mgz__adv__image swiper-slide">
                <img src="	https://static.mservice.io/images/s/momo-upload-api-200909170322-637352678025830977.png" class="img-fluid d-block mr-0" loading=lazy alt="">
              </div>
              
            </div>


						<p><strong>Xem th&ecirc;m:</strong>
						</p>
						<ul>
							<li><a href="https://momo.vn/blog/danh-sach-phim-bom-tan-2020-bi-hoan-chieu-vo-thoi-han-c99dt114#blog" target="_blank">Danh s&aacute;ch phim bom tấn 2020 bị ho&atilde;n chiếu v&ocirc; thời hạn</a>
							</li>
							<li><a href="https://momo.vn/blog/cac-ung-dung-xem-phim-bom-tan-chat-luong-cao-ngay-tai-nha-c103dt113#blog" target="_blank">C&aacute;c ứng dụng xem phim bom tấn chất lượng cao ngay tại nh&agrave;</a>
							</li>
							<li><a href="https://momo.vn/blog/top-series-phim-tuoi-teen-an-khach-nhat-the-gioi-cua-disney-c99dt103#blog" target="_blank">Top series phim tuổi teen ăn kh&aacute;ch nhất thế giới của Disney</a>
							</li>
						</ul>
					</div>

          <div class="entry-bottom">
            <div class="tags-wrap heading">
              <img
                src="https://static.mservice.io/images/s/momo-upload-api-191028170724-637078792445048220.png"
                width="20"
                class="mr-2 opacity-60"
                alt=""
              />

              <span class="tags">
                <a href="/tags/the-departed" rel="tag">The Departed</a>
                <a href="/tags/phim-mafia" rel="tag">Phim Mafia</a>
                <a href="/tags/phim-gangster" rel="tag">Phim Gangster</a>
                <a href="/tags/the-irishman" rel="tag">The Irishman</a>
                <a href="/tags/little-caesar" rel="tag">Little Caesar</a>
                <a href="/tags/goodfellas" rel="tag">Goodfellas</a>
                <a href="/tags/young-and-dangerous" rel="tag"
                  >Young And Dangerous</a
                >
                <a href="/tags/infernal-affairs" rel="tag">Infernal Affairs</a>
                <a href="/tags/city-of-god" rel="tag">City Of God</a>
                <a href="/tags/the-godfather" rel="tag">The Godfather</a>
              </span>
            </div>
          </div>

          <div class="mt-3 mt-md-5 mgz__rating">
            <div>
              <div class="d-inline-block mr-2 mb-0 font-weight-normal">
                Đánh giá:
                <span class="text-primary-2 font-weight-bold">4.4</span> /
                <i data-feather="user"></i>
                <small class="font-italic">44</small>
              </div>
              <input
                type="text"
                class="kv-svg rating-loading"
                value="3"
                max="5"
                data-stars="5"
                data-step="1"
                data-size="xs"
              />
            </div>

            <div class="d-none">
              <div class="d-inline-block mr-2 mb-0 font-weight-normal h6 mt-2">
                Cảm ơn bạn đã đánh giá!
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="container">
      <div class="mt-5">
        <div class="">
          <div class="mgzs__widget__title mb-4 mt-5 mt-lg-0">
            Bài viết liên quan
          </div>

          <div class="mgz__list">
            <div class="mgz__row">
              {% for i in [4,6,7,8,9,10,11,12,13,14,15] %}

              <article class="mgz mgz-hori is-12">
                <div class="mgz__header">
                  <figure class="mgz__figure">
                    <div class="embed-responsive embed-responsive-15by20">
                      <a href="magazine-detail.html">
                        <img
                          data-src="{{blogs[i].Avatar}}"
                          alt=""
                          class="embed-responsive-img lazyload"
                        />
                      </a>
                    </div>
                  </figure>
                </div>

                <div class="mgz__body">
                  <div class="infomgz">
                    <header class="infomgz__header">
                      {% for name, alias in hmmCat %} {% if
                      blogs[i].CategoryName == name %}
                      <div class="infomgz__cat {{ alias }}">
                        <a
                          class="infomgz__cat__link"
                          href="magazine-category.html"
                          >{{blogs[i].CategoryName}}</a
                        >
                      </div>
                      {% endif %} {% endfor %}

                      <h4 class="infomgz__title">
                        <a href="" alt="">{{blogs[i].Title}}</a>
                      </h4>
                    </header>

                    <div class="infomgz__body">
                      <div class="infomgz__meta">
                        <span class="time">{{blogs[i].PublicDate}}</span>

                        <span class="middotDivider"></span>

                        <span class="view">5 phút đọc</span>
                      </div>

                      <div class="infomgz__dek is-2line">
                        {{blogs[i].ShortContent}}
                      </div>
                    </div>
                  </div>
                </div>
              </article>

              {% endfor %}
            </div>
          </div>

          <div class="mt-0 text-center">
            <a href="" class="btn btn-outline-primary-3 rounded-pill"
              >Xem thêm</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>



  {% endblock %} 
  
  {% block stickyFooter %}
    
<div class="mgz__adv__scrollspy" data-aos="fade-left" data-aos-offset="2000" data-aos-mirror="true"
data-aos-once="false"> 
  <div class="mgz__adv">

    <div class=" mgz__adv__grid mgz__adv__content">

      <div class="mgz__adv__close">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>

      </div>
  
      <div class="mgz__adv__txt1">
        ƯU ĐÃI NÓNG
      </div>
  
      <div class="mgz__adv__txt2">
        Nhận 2 thẻ quà 9.000Đ/vé CGV & 200.000Đ nạp điện thoại, cà phê trà sữa.
      </div>
  
      <div class="mgz__adv__btn mb-1 mt-3">
        <a href="" class="btn btn-primary-2 btn-group-sm ">Xem thêm</a>
      </div>
      
    </div>
    <div class="mgz__adv__grid mgz__adv__image swiper-slide">
      <img src="https://static.mservice.io/img/momo-upload-api-201026150520-637393215200258591.png" class="img-fluid d-block mr-0" loading=lazy alt="">
    </div>
    
  </div>
</div>


  {% endblock %}
  
  {% block javascript %}
  <script type="text/javascript" src="js/blog.js"></script>

  <script>
    // $('#qrcode-modal').modal('show');


    
  </script>  {% endblock %}
</div>
