{% import 'macros/helpers.html' as macro %} {% extends
  'layouts/layout.html' %}

{% block head %}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

{% endblock %}



{% block content %}



{% set MgzMenu = [
  {
    "name" : "Mới nhất",
    "link" : "",
    "class" : "all"
  },
  {
    "name" : "Đi quẩy",
    "link" : "",
    "class" : "diquay"
  },
  {
    "name" : "Thèm ăn",
    "link" : "",
    "class" : "theman"
  },
  {
    "name" : "Điện ảnh",
    "link" : "",
    "class" : "dienanh"
  },
  {
    "name" : "Du hí",
    "link" : "",
    "class" : "duhi"
  },
  {
    "name" : "Mua gì",
    "link" : "",
    "class" : "muagi"
  },{
    "name" : "Chọn MoMo",
    "link" : "",
    "class" : "chonmomo"
  }  
] %}

{% set hmmCat = 
  {
    "Đi quẩy" : "diquay",
    "Thèm ăn" : "theman",
    "Du hí" : "duhi",
    "Mua gì" : "muagi",
    "Chọn MoMo" : "chonmomo",
    "Điện ảnh" : "dienanh"
  }
%}



<div class="mgzs__wrapper">
  <div class="container">

    <div class="mgzs__header">
      <div class="row no-gutters ">
        <div class="col-auto">
          <div class="mgzs__header__name">
            Blog
          </div>
          <div class="mgzs__header__sapo">
            From Ví Momo with love
          </div>
        </div>
        <div class="col-auto">
          <img src="img/momo/momo-pp-1.svg" class="img-fluid ml-3 ml-lg-5 d-none d-lg-block" width="100" alt="">
        </div>
      </div>
      <!-- <img src="img/magazine/magazine-header.svg" class="img-fluid d-block" alt=""> -->

    </div>



    <div class="wrap__scroll is-bg-gray mb-4 wrap__scroll__tintuc mgzs__wrap__scroll">
      <div class="mgzs__nav wrap__scroll__target ">
        {% for item in MgzMenu %}
        <div class="mgzs__nav__item {% if loop.index == 1 %} is-active {% endif %}">
          <a href="{% if loop.index == 1 %}magazine.html{% else %}magazine-category.html{% endif %} " class="mgzs__nav__link {{item.class}}">
            {{item.name}}
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="wrap__scroll__next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>

    </div>



    <div class="mgzs__feature ">
      <article class="mgz ">
        <div class="mgz__header">
          <figure class="mgz__figure">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="magazine-detail.html">
                <img data-src="{{blogs[5].Avatar}}" alt="" class="embed-responsive-img lazyload">
              </a>
            </div>
          </figure>
        </div>

        <div class="mgz__body">
          <div class="infomgz">
            <header class="infomgz__header">
              <!-- dienanh, theman, diquay, duhi, muagi, chonmomo -->



              {% for name, alias in hmmCat %}
              {% if blogs[5].CategoryName == name %}
              <div class="infomgz__cat {{ alias }}">
                <a class="infomgz__cat__link" href="magazine-category.html">{{blogs[5].CategoryName}}</a>
              </div>
              {% endif %}
              {% endfor %}



              <h2 class="infomgz__title h2 ">
                <a href="magazine-detail.html" alt="">{{blogs[5].Title}}</a>
              </h2>
            </header>

            <div class="infomgz__body">

              <div class="infomgz__meta">
                <span class="time">{{blogs[5].PublicDate}}</span>

                <span class="middotDivider"></span>

                <span class="view">5 phút đọc</span>
              </div>


              <div class="infomgz__dek ">
                {{blogs[5].ShortContent}}
              </div>


            </div>

          </div>
        </div>

      </article>
    </div>


    <div class="mgz__list">
      <div class="mgz__row">
        {% for i in [1,2,3] %}

        <article class="mgz">

          <div class="mgz__header">
            <figure class="mgz__figure">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="magazine-detail.html">
                  <img data-src="{{blogs[i].Avatar}}" alt="" class="embed-responsive-img lazyload">
                </a>
              </div>
            </figure>
          </div>

          <div class="mgz__body">
            <div class="infomgz">
              <header class="infomgz__header">

                {% for name, alias in hmmCat %}
                {% if blogs[i].CategoryName == name %}
                <div class="infomgz__cat {{ alias }}">
                  <a class="infomgz__cat__link" href="magazine-category.html">{{blogs[i].CategoryName}}</a>
                </div>
                {% endif %}
                {% endfor %}

                <h4 class="infomgz__title h5">
                  <a href="magazine-detail.html" alt="">{{blogs[i].Title}}</a>
                </h4>
              </header>

              <div class="infomgz__body">

                <div class="infomgz__meta">
                  <span class="time">{{blogs[i].PublicDate}}</span>

                  <span class="middotDivider"></span>

                  <span class="view">5 phút đọc</span>
                </div>


                <div class="infomgz__dek is-2line">
                  {{blogs[i].ShortContent}}
                </div>


              </div>

            </div>
          </div>

        </article>

        {% endfor %}


      </div>
    </div>

    <hr class="mb-4 mt-0">
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 sticky-content">
        <div class="theiaStickySidebar">
          <div class="pr-lg-4">
            <div class="mgzs__widget__title mb-4">
              Bài viết mới nhất
            </div>

            <div class="mgz__list">
              <div class="mgz__row">
                {% for i in [4,6,7,8,9,10,11,12,13,14,15] %}

                <article class="mgz mgz-hori is-12">

                  <div class="mgz__header">
                    <figure class="mgz__figure">
                      <div class="embed-responsive embed-responsive-15by20">
                        <a href="magazine-detail.html">
                          <img data-src="{{blogs[i].Avatar}}" alt="" class="embed-responsive-img lazyload">
                        </a>
                      </div>
                    </figure>
                  </div>

                  <div class="mgz__body">
                    <div class="infomgz">
                      <header class="infomgz__header">

                        {% for name, alias in hmmCat %}
                        {% if blogs[i].CategoryName == name %}
                        <div class="infomgz__cat {{ alias }}">
                          <a class="infomgz__cat__link" href="magazine-category.html">{{blogs[i].CategoryName}}</a>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <h4 class="infomgz__title ">
                          <a href="magazine-detail.html" alt="">{{blogs[i].Title}}</a>
                        </h4>
                      </header>

                      <div class="infomgz__body">

                        <div class="infomgz__meta">
                          <span class="time">{{blogs[i].PublicDate}}</span>

                          <span class="middotDivider"></span>

                          <span class="view">5 phút đọc</span>
                        </div>


                        <div class="infomgz__dek is-2line">
                          {{blogs[i].ShortContent}}
                        </div>


                      </div>

                    </div>
                  </div>

                </article>

                {% endfor %}


              </div>
            </div>


            <div class="mt-0 text-center">
              <a href="" class="btn btn-outline-primary-3 rounded-pill">Xem thêm</a>
            </div>

          </div>


        </div>
      </div>
      <div class="col-lg-4 sticky-sidebar">
        <div class="theiaStickySidebar">

          {% include "layouts/magazine__popular.html" %}
          
        </div>

      </div>
    </div>
  </div>



</div>




{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script type="text/javascript" src="js/blog.js"></script>
{% endblock %}