{% import 'macros/helpers.html' as macro %}
{% extends 'layouts/layout.html' %}

{% block head %}
<link rel="stylesheet" href="https://static.mservice.io/jk/momo2020/css/lp-hocvien.css.jk294.css" />
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,600&display=swap" rel="stylesheet" />
{% endblock %}

{% block content %}

<!-- style -->
<style type="text/css">
  .header__container img[alt="Thành phố MoMo"] {
    width: 70px;
  }

  body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom left;
    color: rgba(255, 255, 255, .95);
    background-image: none;
    background-color: #640030;
  }

  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: 100% auto, 100% auto;
    background-position: bottom left, top center;
    background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-210611090602-637589991622642847.png'),
      linear-gradient(180deg, #640030 0%, #3F0133 50.52%, #2D0034 75.52%, #190035 100%);
  }

  @media (min-width: 992px) {
    body {
      background-image: none;
    }

    body:before {
      background-size: 100% 95%, 100% auto;
      background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-210611090628-637589991881704506.png'),
        linear-gradient(180deg, #640030 0%, #3F0133 50.52%, #2D0034 75.52%, #190035 100%);
    }
  }

  .navbar-toggler .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar-lp-container {
    background: #A50064;
  }

  .color-tpmomo {
    color: #FED925;
  }

  .hv__heading {
    color: #FED925;
    text-shadow: none;
    font-weight: normal;
  }

  .hv__card__header {
    display: none;
  }

  .btn-xemthem {
    background-color: rgba(98, 255, 248, 0.2);
    color: #62FFF8;
    border-radius: 100px;
  }

  .btn-xemthem:hover,
  .btn-xemthem:focus {
    color: #fff;
  }

  .hv__card {
    background: transparent;
  }

  .hv__hd .tab-content {
    background: none;
  }

  .process .process_item:not(:last-child):before {
    border-left: 3px solid #6BDAD5;
  }

  .process__number {
    background: #6BDAD5;
  }

  .process__number span {
    color: #00504D;
  }

  .lacxi-huongdan .process_item.active .process__number span {
    color: #00504D;
  }

  .process_item .process__body-title {
    color: #fff;
  }

  .process_item.active .process__body-content {
    color: #fff;
  }

  .lacxi-huongdan .process_item.active .process__body-title,
  .lacxi-huongdan .process_item:hover .process__body-title {
    color: #FED925;
  }

  .lacxi-huongdan .process_item.active .process__number {
    background: #6BDAD5;
    border-color: #6BDAD5;
  }

  .process_item {
    overflow: inherit;
  }

  .process_item.active:after {
    content: '';
    position: absolute;
    left: -8px;
    top: -8px;
    width: 46px;
    height: 46px;
    background: rgba(107, 218, 213, 0.5);
    border-radius: 100%;
  }

  /*
.hv__accordion .hv__accordion__item:first-child {
  border-radius: 10px 10px 0 0;   
}
.hv__accordion .hv__accordion__item:first-child>.feather {
  transform: rotate(90deg);
}
*/
  .hv__accordion__item {
    background-color: #fff;
    color: #4F4F4F;
    transform: unset;
    border-radius: 10px;
  }

  .hv__accordion__item:after {
    display: none;
  }

  .hv__accordion__item>span {
    font-family: Nunito;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
    transform: unset;
  }

  .hv__accordion__item>.feather {
    transform: unset;
  }

  .hv__accordion__item[aria-expanded=true] {
    border-radius: 10px 10px 0 0;
  }

  .hv__accordion__item[aria-expanded=true] .feather {
    transform: rotate(90deg);
  }

  .hv__accordion__item:focus,
  .hv__accordion__item:hover {
    background-color: #fff;
    color: #4F4F4F;
  }

  .hv-nav-tab {
    background: transparent;
  }

  .hv-nav-tab .nav-link {
    color: #62FFF8;
    background: transparent;
    position: relative;
    font-family: Nunito;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }

  .hv-nav-tab .nav-link.active {
    color: #62FFF8;
    background: transparent;
  }

  .hv-nav-tab .nav-link.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0);
    height: 2px;
    background: #62FFF8;
  }

  .hv-nav-tab .nav-item {
    position: relative;
  }

  .hv-nav-tab .nav-item:first-child:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 2px;
    height: 80%;
    background: #BDBDBD;
    border-radius: 100px;
  }

  .hv-question li:not(:last-child) {
    border-bottom: 1px solid #fff;
  }

  .hv-question li img {
    display: none;
  }

  .hv-question li a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding-left: 30px;
    position: relative;
  }

  .hv-question li a:hover,
  .hv-question li a:focus {
    color: #62FFF8;
  }

  .hv-question li a:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: rgba(98, 255, 248, 0.5);

  }

  @media (min-width: 768px) {
    .hv-question li {
      border-bottom: 1px solid #fff;
    }
  }

  .lacxi-huongdan h2 {
    color: #FED925 !important;
    line-height: 1.5;
    font-family: Bungee, sans-serif;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    text-shadow: none;
    font-weight: normal;
    font-size: 2rem;
  }

  @media (max-width: 767.98px) {
    .lacxi-huongdan h2 {
      font-size: 22px
    }
  }

  .manual-page-tab .nav-link {
    border: 2px solid #62FFF8;
    box-sizing: border-box;
    border-radius: 7px;
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  .manual-page-tab .nav-link::before {
    display: none;
  }

  .lacxi-huongdan .manual-page-tab .nav-link.active {
    background: #62FFF8;
    color: #00504D;
  }

  .lacxi-huongdan .manual-page-tab .nav-link {
    background: transparent;
  }

  .lacxi-huongdan .manual-page-tab .nav-link:hover {
    background: rgba(98, 255, 248, 0.6);
  }

  .htw__content {
    color: #4F4F4F;
  }

  .htw__collpase__bg {
    background: #fff;
  }

  .htw .htw__item[aria-expanded=true] {
    border-radius: 10px 10px 0 0;
  }

  .hv__accordion__content {
    background-color: #fff;
  }

  .htw__icon {
    color: #000000;
  }

  .lacxi-huongdan .card.card__box {
    background: transparent !important;
  }

  .lacxi-huongdan .card__body {
    padding-top: 0px !important;
  }

  @media (max-width: 767.98px) {
    .app-download {
      height: unset;
      padding-right: 0;
    }

    .app-download .container {
      width: 100%;
      padding: 8px;
    }

    .app-download .app-download__content {
      display: flex;
      height: unset;
    }

    .app-download .tt {
      display: none;
    }

    .app-download .app-download__btn {
      margin: 0;
      top: 0;
      display: flex;
      width: 100%;
      height: 100%;
    }

    .app-download a.btn {
      width: 100%;
    }

    .app-download__content .app-download__btn .btn {
      font-size: 16px;
    }

    .app-download a.btn:before {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .hocvien-modal .modal-content {
      background: linear-gradient(180deg, #640030 0%, #3F0133 50.52%, #2D0034 75.52%, #190035 100%);
      border-radius: 5px;
    }

    .hocvien-modal .modal-body {
      background: transparent;
      color: #fff;
    }

    .hocvien-modal .modal__header,
    .hocvien-modal .modal-footer {
      border-color: #62FFF8;
    }

    .hocvien-modal .modal__title {
      font-family: Bungee;
      color: #FED925;
    }

    .hocvien-modal .modal__header .hocvien-modal-close {
      color: #FED925;
    }

    .hocvien-modal .modal-footer .btn {
      background: #F5A800;
      border-radius: 10px;
      font-family: Bungee;
      font-weight: normal;
    }

    .hocvien-modal .modal-body h4 {
      color: #62FFF8;
    }

    .hocvien-modal .modal-body p {
      color: #fff;
    }
  }
</style>

<!-- end style -->

<!-- {% include "components/momo-city/kv.html" %} -->
<!-- {% include "components/momo-city/momo-city.html" %} -->

{% include "components/momo-city/sukien.html" %}
<!-- {% include "components/momo-city/giai-thuong.html" %} -->

<!-- {% include "components/momo-city/page-sukien.html" %} -->
{% endblock %}

{% block javascript %}
<!-- Scripts -->
<script type="text/javascript" src="js/readmore.js"></script>
<script>
  $(document).ready(function () {
    $(".baiviet-loadmore").readmore({
      speed: 75,
      moreLink:
        '<a href="#">Xem thêm <img src="https://static.mservice.io/jk/momo2020/img/icons/interface/icon-chevron-down.svg" > </a>',
      lessLink:
        '<a href="#">Thu gọn  <img src="https://static.mservice.io/jk/momo2020/img/icons/interface/icon-chevron-up.svg" ></a>',
    });
  });
</script>
{% endblock %}
