{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block header %} {% endblock %} {% block content %}
<section
  class="soju"
  style="background-image: url(https://i.imgur.com/GyhBJE6.jpg)"
>
  <div
    class="bg-soju-fade"
    style="background-image: url(https://i.imgur.com/QuLv5Yj.png)"
  ></div>
  <div class="soju-img-1">
    <img
      src="https://static.mservice.io/blogscontents/momo-upload-api-210624152338-637601450189085091.png"
      class="img-fluid d-block mx-auto"
      width="500"
      alt=""
    />
  </div>

  <div class="soju-img-2">
    <img
      src="https://static.mservice.io/blogscontents/momo-upload-api-210625100800-637602124800412134.png"
      class="img-fluid d-block mx-auto"
      width=""
      alt=""
    />
  </div>
</section>

<style type="text/css">
  .soju {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    background-repeat: no-repeat;

    background-size: 100% auto;
    background-position: center bottom;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    padding-bottom: 40vh;
    position: relative;
  }

  .bg-soju-fade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center;
    z-index: -1;
    background-color: #771c59;
  }

  @media screen and (max-width: 1300px) {
    .soju,
    .bg-soju-fade {
      background-size: 120% auto;
    }
  }

  @media screen and (max-width: 800px) {
    .soju,
    .bg-soju-fade {
      background-size: 200% auto;
    }
  }

  @media screen and (max-width: 500px) {
    .soju,
    .bg-soju-fade {
      background-size: 200% auto;
    }
  }

  .soju-img-1 {
  }

  .soju-img-2 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
</style>

{% endblock %}
