{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block content %} 

{% include "components/kv-promotion.html" %}

<section class="bg-light bg-cover">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">
        Ưu đãi nóng, tham gia ngay!
      </h2>
    </div>

    <div class="row justify-content-center">
      {% for i in [0,1,2,3,4,5] %}

      <div
        class="col-md-6 col-lg-4 card__space uudai__item {% if(i >2) %} d-none d-md-block {% endif %}"
      >
        <article class="card card__box h-100">
          <div class="card__inner">
            <header class="card__header">
              <figure class="card__figure">e
                <a
                  href="{{News2[i].link}}"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                >
                  <div class="embed-responsive embed-responsive-new">
                    <img
                      src="{{News2[i].image}}"
                      alt=""
                      class="lazyload embed-responsive-img card__image"
                    />
                  </div>
                </a>
              </figure>
            </header>

            <div class="card__body pb-0">
              <h5 class="card__title">
                <a
                  href="{{News2[i].link}}"
                  data-toggle="modal"
                  data-target="#modalTinTuc"
                  class="card__title__link font-weight-bold"
                >
                  {{News2[i].name}}
                </a>
              </h5>

              <p class="card__copy">
                {{News2[i].desc | safe}}
              </p>
            </div>

            <div class="card__footer font-14">
              <div class="row no-gutters">
                <div class="col">
                  <div class="">
                    ⌛️ Đến ngày: <strong class="text-primary-2">22/07</strong>
                  </div>
                </div>
                <div class="col-auto">
                  <a href="">Xem chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      {% endfor %}
    </div>

    <div class="text-center mt-0 mt-lg-3 d-md-none">
      <a
        href=""
        class="btn btn-outline-primary font-weight-bold rounded-pill px-4 uudai__loadmore"
        >Xem thêm</a
      >
    </div>
  </div>
</section>

<section
  class="bg-primary-2 bg-cover"
  style="
    background-image: url(img/momo/bg-taiapp-big.jpg);
    background-repeat: no-repeat;
    background-position: center top;
  "
>
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-white">
        3 bước trở thành khách hàng đăng ký Ví MoMo
      </h2>
    </div>
  </div>

  <div class="container d-none d-lg-block">
    <div class="manual-wrapepr manual-dark">
      {% include 'components/huongdan-desktop.html' %}
    </div>

    <div class="mt-4 text-center">
      <div class="newUser-noti">
        <div class="newUser-noti__content">
          <div>
            Trở thành khách hàng mới nhận ngay
            <strong class="text-yellow">GÓI QUÀ 500k</strong>
          </div>
          <div class="ml-3">
            <a
              href=""
              class="btn btn-pulse btn-warning btn-sm rounded-pill font-weight-bold"
              >Xem ngay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-block d-lg-none">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="htw">
          <div
            class="htw__item bg-white"
            data-toggle="modal"
            data-target="#htu-modal"
          >
            <div class="htw__content">
              <strong>Bước 1:</strong> Tải và đăng ký
            </div>
            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div
            class="htw__item bg-white"
            data-toggle="collapse"
            href="#dsNganhang"
            role="button"
            aria-expanded="false"
            aria-controls="dsNganhang"
          >
            <div class="htw__content">
              <strong>Bước 2:</strong> Liên kết ngân hàng
            </div>

            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>

          <div class="collapse" id="dsNganhang">
            <div class="htu-bank">
              <div class="htu-bank-col">
                <div
                  class="htu-bank-item"
                  data-toggle="modal"
                  data-target="#htu-modal"
                >
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                  />
                  <div class="htu-bank-name">VCB</div>
                </div>
              </div>

              <div class="htu-bank-col">
                <div
                  class="htu-bank-item"
                  data-toggle="modal"
                  data-target="#htu-modal"
                >
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                  />
                  <div class="htu-bank-name">Agribank</div>
                </div>
              </div>

              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                  />
                  <div class="htu-bank-name">Vietinbank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                  />
                  <div class="htu-bank-name">BIDV</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                  />
                  <div class="htu-bank-name">ACB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                  />
                  <div class="htu-bank-name">Shinhan</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                  />
                  <div class="htu-bank-name">Sacombank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                  />
                  <div class="htu-bank-name">SCB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                  />
                  <div class="htu-bank-name">VPBank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                  />
                  <div class="htu-bank-name">VIB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                  />
                  <div class="htu-bank-name">Eximbank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                  />
                  <div class="htu-bank-name">TPBank</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                  />
                  <div class="htu-bank-name">Bảo Việt</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                  />
                  <div class="htu-bank-name">VRB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                  />
                  <div class="htu-bank-name">OCB</div>
                </div>
              </div>
              <div class="htu-bank-col">
                <div class="htu-bank-item">
                  <img
                    ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                    class="d-block mx-auto img-fluid"
                    alt=""
                    src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                  />
                  <div class="htu-bank-name">ABBank</div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="htw__item bg-white"
            data-toggle="modal"
            data-target="#htu-modal"
          >
            <div class="htw__content">
              <strong>Bước 3:</strong> Nạp tiền vào ví
            </div>
            <div class="htw__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card card__box shadow-none bg-black-4">
          <div class="card__body px-3 py-4">
            <div class="px-3 mb-2 mt-0">
              <img
                src="img/momo/quatang.png"
                width="320"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </div>

            <h2 class="text-center text-white font-weight-normal mt-3">
              Trở thành khách hàng mới nhận ngay
              <strong class="text-yellow">Gói quà 500K</strong>
            </h2>

            <div class="text-center mt-3">
              <a
                href=""
                class="btn btn-pulse btn-warning rounded-pill font-weight-bold"
                >Xem ngay</a
              >
              <!-- <a href="" class="btn btn-primary-2 rounded-pill font-weight-bold">TẢI NGAY</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">
        Thanh toán an toàn - Bảo mật tuyệt đối
      </h2>
    </div>

    <div class="wrap__scroll mb-4 wrap__scroll__tintuc">
      <ul
        class="nav nav-tabs tabs-soju wrap__scroll__target"
        id="baomat"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-1"
            data-toggle="tab"
            href="#baochungnganhang"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Bảo chứng ngân hàng</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-2"
            data-toggle="tab"
            href="#baomatdatang"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Bảo mật đa tầng</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-3"
            data-toggle="tab"
            href="#datchuanquocte"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Đạt chuẩn quốc tế</a
          >
        </li>
      </ul>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>

    <div class="tab-content" id="baomatContent">
      <div
        class="tab-pane fade show active"
        id="baochungnganhang"
        role="tabpanel"
        aria-labelledby="home-1"
      >
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 overflow-hidden">
            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Tiền của bạn trong Ví MoMo là TIỀN THẬT và được bảo chứng 100%
                  bởi các NGÂN HÀNG đang hợp tác với Ví MoMo.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Người dùng MoMo có thể Nạp/Rút tiền từ ngân hàng liên kết bất
                  kỳ lúc nào.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="300"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  MoMo đã liên kết trực tiếp với 25 ngân hàng lớn và các tổ chức
                  thẻ quốc tế Visa/Master/JCB.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-5">
            <img
              src="img/momo/baothuc-nganhang.png"
              class="img-fluid d-block mx-auto px-3 px-md-0"
              alt=""
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="baomatdatang"
        role="tabpanel"
        aria-labelledby="home-2"
      >
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 overflow-hidden">
            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Để đăng nhập, cần nhập mật khẩu 6 số và mã OTP được gửi đến
                  điện thoại. Mỗi lần thanh toán đều cần nhập lại mật khẩu.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-5">
            <img
              src="https://static.mservice.io/jk/styles/desktop/images/feature/02.png"
              class="img-fluid d-block mx-auto px-3 px-md-0"
              alt=""
            />
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="datchuanquocte"
        role="tabpanel"
        aria-labelledby="home-3"
      >
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 overflow-hidden">
            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Công nghệ bảo mật của Ví MoMo đáp ứng các tiêu chuẩn quốc tế
                  khắt khe nhất trong ngành tài chính ngân hàng, đạt chứng nhận
                  bảo mật toàn cầu PCI DSS cấp độ cao nhất.
                </div>
              </div>
            </div>

            <div
              class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <img
                    alt="Binoculars icon"
                    class="m-2 icon icon-xs bg-success"
                    data-inject-svg=""
                    src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                  />
                </div>

                <div class="mb-0 ml-3">
                  Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế
                  GlobalSign.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-5">
            <img
              src="https://static.mservice.io/jk/styles/desktop/images/feature/03.png"
              class="img-fluid d-block mx-auto px-3 px-md-0"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">Có gì mới</h2>
    </div>

    <div class="wrap__scroll is-bg-gray mb-4 wrap__scroll__tintuc">
      <ul
        class="nav nav-tabs tabs-soju wrap__scroll__target"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-1"
            data-toggle="tab"
            href="#tintucsukien"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Mới nhất</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-2"
            data-toggle="tab"
            href="#khuyenmai"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Khuyến mãi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-3"
            data-toggle="tab"
            href="#thongcaobaochi"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Thông cáo báo chí</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            id="home-4"
            data-toggle="tab"
            href="#hinhanh"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Hình ảnh - Video</a
          >
        </li>
      </ul>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>

    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tintucsukien"
        role="tabpanel"
        aria-labelledby="home-1"
      >
        <div class="row sm-gutters">
          {% for i in [1, 2, 3, 4] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="khuyenmai"
        role="tabpanel"
        aria-labelledby="home-2"
      >
        <div class="row sm-gutters">
          {% for i in [18, 19, 20, 21] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="thongcaobaochi"
        role="tabpanel"
        aria-labelledby="home-3"
      >
        <div class="row sm-gutters">
          {% for i in [9, 12, 10, 11] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="hinhanh"
        role="tabpanel"
        aria-labelledby="home-4"
      >
        <div class="row sm-gutters">
          {% for i in [5, 6, 7, 8] %}
          <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
            {% include "components/article-0.html" %}
          </div>
          {% endfor %}
        </div>

        <div class="text-center mt-0 mt-lg-4">
          <a
            href=""
            class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
            >Xem thêm</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% include "layouts/modal.html" %} {% endblock %}

<!-- Scripts -->
{% block javascript %}
<script>
  $(".uudai__loadmore").on("click", function (e) {
    e.preventDefault();
    $(".uudai__item").removeClass("d-none");
    $(this).addClass("d-none");
  });
</script>
{% endblock %}
