{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block content %} {% include "components/services/services-menu.html" %} {%
include "components/section-banner-curve.html" %}
<section class="block-form-ota">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white text-center text-title pb-2">
            Vé máy bay từ TP. Hồ Chí Minh đến Hà Nội
          </h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <form class="form-ota p-4 is-invalid">
            <div class="form-group ota-box-noidi" >
              <label for="inputNoiDi">Nơi đi</label>

              <div
                class="position-relative ota-box-container dropdown"
                
              >
                <div
                  class="ota-box-input ota-box-maker d-block d-md-none mr-5"
                  data-toggle="modal"
                  data-target="#airportBegin"
                >
                  <img
                    src="/img/service/icon-noidi.svg"
                    alt="icon Nơi đi"
                    class="img-fluid icon"
                    loading="lazy"
                    width="16"
                    height="16"
                  />
                  <input
                    type="text"
                    class="form-control"
                    id="inputNoiDi"
                    placeholder="Nơi đi"
                    readonly
                  />
                </div>

                <div
                  class="ota-box-input ota-box-maker d-none d-md-block"
                  id="dropdownNoidi"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-reference="parent"
                >
                  <img
                    src="/img/service/icon-noidi.svg"
                    alt="icon Nơi đi"
                    class="img-fluid icon"
                    loading="lazy"
                    width="16"
                    height="16"
                  />
                  <input
                    type="text"
                    class="form-control"
                    id="inputNoiDi"
                    placeholder="Nơi đi"
                    readonly
                  />
                </div>

                <div
                  class="ota-box-popper dropdown-menu"
                  aria-labelledby="dropdownNoidi"
                >
                  <div class="ota-box-input ota-box-search">
                    <img
                      src="/img/service/icon-noidi.svg"
                      alt="icon Nơi đi"
                      class="img-fluid icon"
                      loading="lazy"
                      width="16"
                      height="16"
                    />

                    <input
                      type="text"
                      class="form-control"
                      id=""
                      placeholder="Nơi đi"
                    />
                  </div>

                  <div class="ota-box-list">
                    {% for item in range(0,10) %}
                    <div class="ota-box-item">
                      <div class="tt">Hồ Chí Minh, Việt Nam</div>
                      <div class="tb">SGN - Sân bay Tân Sơn Nhất</div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="block-doichuyenbay">
                <div class="icon-noidi">
                    <img src="img/service/icon-maybay-noidi.svg" alt="Nơi đi" class="img-fluid" loading="lazy" width="19" height="16">
                </div>
                <button type="button" class="btn btn-doichuyenbay " ng-click="ChangeLocation()">
                    <img src="img/service/icon-change.svg" alt="icon tìm kiếm" class="img-fluid" loading="lazy" width="12" height="12">
                </button>
                <div class="icon-noiden">
                    <img src="img/service/icon-location.svg" alt="Nơi đến" class="img-fluid" loading="lazy" width="15" height="18">
                </div>
            </div>
            </div>
            <!-- is-invalid -->
            <div class="form-group ota-box-noiden " data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" id="ota-error-diadiem"  data-content="Điểm đi và điểm đến phải khác nhau">  
              <label for="inputNoiDen">Nơi đến</label>

              <div
                class="ota-box-input  ota-box-maker d-block d-md-none mr-5"
                data-toggle="modal"
                data-target="#airportEnd" 
              >
                <img
                  src="/img/service/icon-noiden.svg"
                  alt="icon Nơi đi"
                  class="img-fluid icon"
                  loading="lazy"
                  width="16"
                  height="16"
                />
                <input
                  type="text"
                  class="form-control"
                  id="inputNoiDi"
                  placeholder="Nơi đi"
                  readonly
                />
              </div>

              <div
                class="position-relative ota-box-container dropdown d-none d-md-block "
                id="dropdown-noiden"
              >
                <div
                  class="ota-box-input ota-box-maker"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img
                    src="/img/service/icon-noiden.svg"
                    alt="icon Nơi đi"
                    class="img-fluid icon"
                    loading="lazy"
                    width="16"
                    height="16"
                  />
                  <input
                    type="text"
                    class="form-control"
                    id="inputNoiDen"
                    placeholder="Nơi đến"
                    readonly
                  />
                </div>

                <div
                  class="ota-box-popper dropdown-menu"
                  aria-labelledby="dropdownMenuButton"
                >
                  <div class="ota-box-input ota-box-search">
                    <img
                      src="/img/service/icon-noiden.svg"
                      alt="icon Nơi đi"
                      class="img-fluid icon"
                      loading="lazy"
                      width="16"
                      height="16"
                    />

                    <input
                      type="text"
                      class="form-control"
                      id=""
                      placeholder="Nơi đến"
                    />
                  </div>

                  <div class="ota-box-list">
                    {% for item in range(0,10) %}
                    <div class="ota-box-item">
                      <div class="tt">Hồ Chí Minh, Việt Nam</div>
                      <div class="tb">SGN - Sân bay Tân Sơn Nhất</div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group ota-box-hanhkhach">
              <label for="inputHanhkhach">Hành khách</label>
              <div
                class="ota-box-input ota-box-maker d-block d-sm-none"
                data-toggle="modal"
                data-target="#airportPassenger"
              >
                  <img
                  src="/img/service/icon-hanhkhach.svg"
                  alt="icon Nơi đi"
                  class="img-fluid icon"
                  loading="lazy"
                  width="16"
                  height="16"
                />
                <input
                  type="text"
                  class="form-control"
                  id="inputNoiDen"
                  placeholder="Hành khách"
                  readonly
                />
              </div>
              <div
                class="position-relative ota-box-container dropdown d-none d-sm-block"
                id="dropdown-noiden"
              >
                <div
                  class="ota-box-input ota-box-maker"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img
                    src="/img/service/icon-hanhkhach.svg"
                    alt="icon Nơi đi"
                    class="img-fluid icon"
                    loading="lazy"
                    width="16"
                    height="16"
                  />
                  <input
                    type="text"
                    class="form-control"
                    id="inputNoiDen"
                    placeholder="Hành khách"
                    readonly
                  />
                </div>

                <div
                  class="ota-box-popper dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuButton"
                >
                  <div class="ota-box-input ota-box-search">
                    <img
                      src="/img/service/icon-hanhkhach.svg"
                      alt="icon Nơi đi"
                      class="img-fluid icon"
                      loading="lazy"
                      width="16"
                      height="16"
                    />

                    <input type="hidden" id="nguoilon" />
                    <input type="hidden" id="treem" />
                    <input type="hidden" id="embe" />
                    <input
                      type="text"
                      class="form-control"
                      id="inputHanhkhach"
                      placeholder="Hành khách"
                      readonly
                    />
                  </div>

                  <div class="modal-hanhkhach px-3 pt-3 pb-0">
                    <div class="row mb-3 align-items-center">
                      <div class="col-1 hk-icon">
                        <img
                          src="/img/service/icon-nguoilon.svg"
                          alt="icon tìm kiếm"
                          class=""
                          loading="lazy"
                          width="10"
                          height="26"
                        />
                      </div>
                      <div class="col-5 pr-0 hk-name">
                        Người lớn <br />
                        <small>(từ 12 tuổi)</small>
                      </div>
                      <div class="col-1 hk-count">1</div>
                      <div class="col-4 col-md-5 text-center">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn">+</button>
                          <button type="button" class="btn">-</button>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                      <div class="col-1 hk-icon">
                        <img
                          src="/img/service/icon-treem.svg"
                          alt="icon tìm kiếm"
                          class=""
                          loading="lazy"
                          width="17"
                          height="23"
                        />
                      </div>
                      <div class="col-5 pr-0 hk-name">
                        Trẻ em<br />
                        <small>(2-12 tuổi)</small>
                      </div>
                      <div class="col-1 hk-count">0</div>
                      <div class="col-4 col-md-5 text-center">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn">+</button>
                          <button type="button" class="btn">-</button>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                      <div class="col-1 hk-icon">
                        <img
                          src="/img/service/icon-embe.svg"
                          alt="icon tìm kiếm"
                          class=""
                          loading="lazy"
                          width="15"
                          height="20"
                        />
                      </div>
                      <div class="col-5 pr-0 hk-name">
                        Em bé<br />
                        <small>(dưới 2 tuổi)</small>
                      </div>
                      <div class="col-1 hk-count">0</div>
                      <div class="col-4 col-md-5 text-center">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn">+</button>
                          <button type="button" class="btn">-</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group ota-box-ngaydi">
              <label for="inputNgaydi">Ngày đi</label>

              <div class="position-relative ota-box-container ">
                <div class="ota-box-input ota-box-maker">
                  <img
                    src="/img/service/icon-ngay.svg"
                    alt="icon Ngày"
                    class="img-fluid icon"
                    loading="lazy"
                    width="16"
                    height="16"
                  />
                  <input
                    type="text"
                    class="form-control"
                    id="inputNgaydi"
                    placeholder="Ngày đi"
                    date-input="begin"
                    data-input
                    readonly
                  />
                </div>
              </div>
            </div>

            <div class="form-group ota-box-ngayden">

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inputKhuHoiMobile"
                />
                <label
                  class="form-check-label label-khuhoi"
                  for="inputKhuHoiMobile"
                >
                  Khứ hồi
                </label>
              </div>

              <div id="block_khuhoi" class="d-none">
                <label class="d-block d-md-none" for="inputNgayve"
                  >Ngày về</label
                >

                <div class="">
                  <div class="position-relative ota-box-container">
                    <div class="ota-box-input ota-box-maker">
                      <img
                        src="/img/service/icon-ngay.svg"
                        alt="icon Ngày"
                        class="img-fluid icon"
                        loading="lazy"
                        width="16"
                        height="16"
                      />
                      <input
                        type="text"
                        class="form-control"
                        id="inputNgayve"
                        placeholder="Khứ hồi"
                        date-input="end"
                        data-input
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group-btn align-self-end ota-box-button mt-3 mt-md-0">
              <button type="submit" class="btn btn-timkiem btn-primary-2">
                <img
                  src="/img/service/icon-timkiem.svg"
                  alt="icon tìm kiếm"
                  class="img-fluid mr-2"
                  loading="lazy"
                  width="16"
                  height="16"
                />
                <span>Tìm chuyến bay</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal modal__fullscreen fade modal-timdiadiem"
  id="airportBegin"
  tabindex="-1"
  aria-labelledby="airportBeginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Chọn điểm đi</div>

        <div class="modal__nav"></div>
      </div>

      <div class="px-3 py-2 shadow position-relative" style="z-index: 1">
        <div class="input-group block-timdiadiem">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img
                src="/img/service/icon-timkiem.svg"
                alt="icon tìm kiếm"
                class="img-fluid mr-2"
                loading="lazy"
                width="16"
                height="16"
              />
            </div>
          </div>
          <input
            type="text"
            class="form-control pl-0"
            placeholder="Tìm địa điểm"
          />
        </div>
      </div>

      <div class="modal-body p-0">
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action active"
            aria-current="true"
          >
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal__fullscreen fade modal-timdiadiem"
  id="airportEnd"
  tabindex="-1"
  aria-labelledby="airportEndLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Chọn điểm đến</div>

        <div class="modal__nav"></div>
      </div>

      <div class="px-3 py-2 shadow position-relative" style="z-index: 1">
        <div class="input-group block-timdiadiem">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img
                src="/img/service/icon-timkiem.svg"
                alt="icon tìm kiếm"
                class="img-fluid mr-2"
                loading="lazy"
                width="16"
                height="16"
              />
            </div>
          </div>
          <input
            type="text"
            class="form-control pl-0"
            placeholder="Tìm địa điểm"
          />
        </div>
      </div>
      <div class="modal-body p-0">
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action active"
            aria-current="true"
          >
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal__fullscreen  fade modal-hanhkhach"
  id="airportPassenger"
  tabindex="-1"
  aria-labelledby="airportPassengerLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      
      
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">  Thêm hành khách</div>

        <div class="modal__nav"></div>
      </div>


      <div class="modal-body ">
        <div class="px-2 py-4">
        <div class="row mb-3 align-items-center">
          <div class="col-1 hk-icon">
            <img
              src="/img/service/icon-nguoilon.svg"
              alt="icon tìm kiếm"
              class=""
              loading="lazy"
              width="10"
              height="26"
            />
          </div>
          <div class="col-5 pr-0 hk-name">
            Người lớn <br />
            <small>(từ 12 tuổi)</small>
          </div>
          <div class="col-1 hk-count">1</div>
          <div class="col-4 col-md-5 text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn">+</button>
              <button type="button" class="btn">-</button>
            </div>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="col-1 hk-icon">
            <img
              src="/img/service/icon-treem.svg"
              alt="icon tìm kiếm"
              class=""
              loading="lazy"
              width="17"
              height="23"
            />
          </div>
          <div class="col-5 pr-0 hk-name">
            Trẻ em<br />
            <small>(2-12 tuổi)</small>
          </div>
          <div class="col-1 hk-count">0</div>
          <div class="col-4 col-md-5 text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn">+</button>
              <button type="button" class="btn">-</button>
            </div>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="col-1 hk-icon">
            <img
              src="/img/service/icon-embe.svg"
              alt="icon tìm kiếm"
              class=""
              loading="lazy"
              width="15"
              height="20"
            />
          </div>
          <div class="col-5 pr-0 hk-name">
            Em bé<br />
            <small>(dưới 2 tuổi)</small>
          </div>
          <div class="col-1 hk-count">0</div>
          <div class="col-4 col-md-5 text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn">+</button>
              <button type="button" class="btn">-</button>
            </div>
          </div>
        </div>
        <div class="row pt-4 mb-3">
          <div class="col-6 text-center">
            <button
              type="button"
              class="btn btn-outline-secondary btn-huy w-100"
              data-dismiss="modal"
            >
              Hủy
            </button>
          </div>
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btn-xacnhan w-100">
              Xác nhận
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<section class="py-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 ">
        <p class="text-gray-700">
          Vé máy bay <strong>TP. Hồ Chí Minh</strong> đi
          <strong>Hà Nội</strong>, cất cánh tại sân bay Tân Sơn Nhất (SGN) của
          TP. Hồ Chí Minh và hạ cánh tại sân bay Nội Bài (HAN) của Hà Nội. Để
          mua vé máy bay giá rẻ nhất, bạn chỉ cần mở
          <strong>Ví MoMo → “Du lịch - Đi lại” → “Vé máy bay”</strong>.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="text-pink-momo">TP. Hồ Chí Minh</h2>
        <div class="text-center py-4">
          <div class="img-city">
            <img
              src="/img/service/hcm.jpg"
              alt=""
              class="img-fluid"
              loading="lazy"
              width="335"
              height="168"
            />
          </div>
        </div>
        <p class="text-justify">
          Diam lectus massa ullamcorper diam nulla eget. Dapibus platea semper
          maecenas senectus quam faucibus erat. Nibh elit donec mi, a cras
          pellentesque. Morbi euismod sit diam, porttitor at. Mattis volutpat
          tortor sed rhoncus amet. In cursus ipsum sed pellentesque egestas
          neque. Phasellus mollis condimentum ultricies et pretium. Varius urna
          lobortis rutrum diam ut vitae eu eget. Ut ante potenti tortor vitae
          aliquam euismod tristique neque eros. Dictum lacus tempus egestas vel
          pulvinar in faucibus. Tristique libero placerat quam duis. In eget
          mauris enim enim eu sollicitudin magna lorem feugiat.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-pink-momo">Hà Nội</h2>
        <div class="text-center py-4">
          <div class="img-city">
            <img
              src="/img/service/hn.jpg"
              alt=""
              class="img-fluid"
              loading="lazy"
              width="335"
              height="168"
            />
          </div>
        </div>
        <p class="text-justify">
          Diam lectus massa ullamcorper diam nulla eget. Dapibus platea semper
          maecenas senectus quam faucibus erat. Nibh elit donec mi, a cras
          pellentesque. Morbi euismod sit diam, porttitor at. Mattis volutpat
          tortor sed rhoncus amet. In cursus ipsum sed pellentesque egestas
          neque. Phasellus mollis condimentum ultricies et pretium. Varius urna
          lobortis rutrum diam ut vitae eu eget. Ut ante potenti tortor vitae
          aliquam euismod tristique neque eros. Dictum lacus tempus egestas vel
          pulvinar in faucibus. Tristique libero placerat quam duis. In eget
          mauris enim enim eu sollicitudin magna lorem feugiat.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-pink-momo text-md-center mb-5">
          Vé máy bay TP. Hồ Chí Minh đi Hà Nội giá rẻ
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <table class="table table-vemaybay">
          <colgroup>
            <col width="20%" />
            <col width="40%" />
            <col width="40%" />
          </colgroup>
          <thead>
            <tr>
              <th scope="col">Hãng bay</th>
              <th scope="col" class="text-right">Ngày bay</th>
              <th scope="col" class="text-right">Giá</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="/img/service/logo-vietnamairline.png"
                  alt=""
                  class="img-fluid"
                  loading="lazy"
                  width="35"
                  height="35"
                />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/img/service/logo-vietjetair.png"
                  alt=""
                  class="img-fluid"
                  loading="lazy"
                  width="35"
                  height="35"
                />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/img/service/logo-bamboo.png"
                  alt=""
                  class="img-fluid"
                  loading="lazy"
                  width="35"
                  height="35"
                />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
            <tr>
              <td>
                <img
                  src="/img/service/logo-vietnamairline.png"
                  alt=""
                  class="img-fluid"
                  loading="lazy"
                  width="35"
                  height="35"
                />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% set caseVeMayBay=[ { img: "logo-vietnamairline.png", name: "Vietnam Airline",
seat: "Phổ thông tiết kiệm", time: "1h 15m", bay: "Bay thẳng", gia: "564.000đ",
di: { time: "17:45", code: "SGN" }, den: { time: "19:00", code: "DAD" }, isNote:
true }, { img: "logo-vietnamairline.png", name: "Vietnam Airline", seat: "Phổ
thông tiết kiệm", time: "1h 15m", bay: "Bay thẳng", gia: "564.000đ", di: { time:
"17:45", code: "SGN" }, den: { time: "19:00", code: "DAD" }, isNote: false } ]
%}
<section class="danhsach-vemaybay">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="block_sortby">
          <button type="button" class="btn">
            <img
              src="/img/service/icon-sapxep.svg"
              alt=""
              class="img-fluid"
              loading="lazy"
              width="15"
              height="14"
            />
            Sắp xếp
          </button>
          <button type="button" class="btn">
            <img
              src="/img/service/icon-boloc.svg"
              alt=""
              class="img-fluid"
              loading="lazy"
              width="13"
              height="14"
            />
            Bộ lọc
          </button>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          {% for i in [0,1,0,1,0,1] %}
          <div class="col-12 item-vemaybay">
            <div class="row align-items-center">
              <div class="col-1">
                <div class="img-logo-airline">
                  <img
                    src="/img/service/{{caseVeMayBay[i].img}}"
                    alt="{{caseVeMayBay[i].name}}"
                    class="img-fluid"
                    loading="lazy"
                    width="30"
                    height="30"
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="d-none d-md-block">
                  <div class="airline-name">{{caseVeMayBay[i].name}}</div>
                  <div class="airline-seat">{{caseVeMayBay[i].seat}}</div>
                </div>
              </div>
              <div class="col-8">
                <div class="row align-items-center block-info-air">
                  <div class="col-2 text-right">
                    <div class="time">{{caseVeMayBay[i].di.time}}</div>
                    <div class="code">{{caseVeMayBay[i].di.code}}</div>
                  </div>
                  <div class="col-8 px-0 text-center">
                    <div class="time-air">{{caseVeMayBay[i].time}}</div>
                    <div class="air-type">{{caseVeMayBay[i].bay}}</div>
                  </div>
                  <div class="col-2 text-left">
                    <div class="time">{{caseVeMayBay[i].di.time}}</div>
                    <div class="code">{{caseVeMayBay[i].di.code}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center d-block d-md-none">
              <div class="col">
                <div class="airline-name d-inline mr-3">
                  {{caseVeMayBay[i].name}}
                </div>
                <div class="airline-seat d-inline">
                  {{caseVeMayBay[i].seat}}
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6">
                <div class="price">{{caseVeMayBay[i].gia}}</div>
                {% if caseVeMayBay[i].isNote %}
                <span class="block-note">
                  Khai thác bởi {{caseVeMayBay[i].name}}
                </span>
                {% endif %}
              </div>
              <div class="col-6 d-inline-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-bookvemaybay d-flex justify-content-center align-items-center"
                >
                  <img
                    src="/img/service/icon-maybay-momo.svg"
                    alt="hành lý"
                    class="img-fluid"
                    loading="lazy"
                    width="19"
                    height="15"
                  />
                  Đặt vé ngay
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block javascript %}
<script type="text/javascript" src="js/flatpickr.min.js" defer></script>
<script type="text/javascript" src="js/flatpickr.vn.min.js" defer></script>

<!-- script dev -->
<script type="text/javascript" src="js/services-ota.js"></script>
<!-- script public -->
<!-- <script type="text/javascript" src="js/services-ota.min.js"></script> -->
{% endblock %}
