{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block content %}
<!-- <canvas class="snow"></canvas> -->
{% set caseMenu=[ { "img": "icon-maybay", "title": "Vé máy bay", color:
'#36bc99' }, { "img": "icon-xe", "title": "Vé xe khách", color: '#2997ff' }, {
"img": "icon-tau", "title": "Vé tàu", color: '#f96268' } ] %}
<div class="sg-nav-container shadow-sm">
  <div class="container position-relative">
    <div class="wrap__scroll wrap__scroll__service is-bg-white">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb align-items-center wrap__scroll__target">
          <li class="breadcrumb-item">
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667"
              >
                <path
                  d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item active">
            <a href="/services.html">Du lịch - Đi lại</a>
          </li>
          {% for i in [0,1,2] %}
          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/services-detail.html">
              <img
                src="img/service/{{caseMenu[i].img}}.svg"
                class="img-fluid img-icon"
                alt=""
              />
              {{caseMenu[i].title}}
            </a>
          </li>
          {% endfor %}
          <li class="d-block" style="height: 1px">
            <span style="width: 30px; display: block"></span>
          </li>
        </ol>
      </nav>

      <div class="wrap__scroll__next">
        <i class="svg-icon" data-feather="arrow-right"></i>
      </div>
    </div>
  </div>
</div>

{% include "components/section-banner.html" %}

<!-- Section Menu -->
<section class="sc-menu">
  <div class="container p-0">
    <div class="row justify-content-center no-gutters">
      <div
        class="col-11 col-md-10 col-lg-8"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="service-items">
          {% for i in [0,1,2] %}
          <div class="service-item bg-white">
            <a href="/services-detail.html" class="link-absolute"></a>
            <div class="si-body">
              <div
                class="rounded-circle"
                style="background-color: {{caseMenu[i].color}};"
              >
                <img
                  src="img/service/{{caseMenu[i].img}}.svg"
                  class="img-fluid img-filter-white img-icon"
                  alt=""
                />
              </div>
              <div class="pt-2">
                <div class="fs-12 fw-500 text-center mb-0">
                  {{caseMenu[i].title}}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /End - Section Menu -->

{% set tinhnang=[ { 'title': 'Đặt mọi phương tiện, ', 'bold': 'hưởng trọn ưu
đãi.' }, { 'title': 'Mở Ví, quản lý cả chuyến đi', 'bold': '' }, { 'title': 'Bảo
mật chuẩn quốc tế cho giao dịch thuận lợi', 'bold': '' }, { 'title': 'Mã ghế
trong ví, ', 'bold': 'thủ tục như ý' } ] %}

<section class="bg-white pt-0">
  <div class="container">
    <div class="row align-items-center no-gutters">
      <div
        class="col-12 col-md-6 order-1 order-md-0 pr-lg-5 pt-4 pt-md-0 pr-md-4"
        data-aos="fade-down"
        data-aos-anchor-placement="center-bottom"
      >
        <h1 class="text-pink-momo">Du lịch - Đi lại trên ví MoMo</h1>
        <p class="lead text-gray-700">
          Dùng Ví MoMo để đặt vé máy bay nhanh chóng, <br />
          thuận tiện, dễ dàng mọi lúc mọi nơi.
        </p>
        <div class="row">
          {% for i in [0,1,2] %}
          <div class="col-12 d-flex align-items-center mb-1">
            <img
              src="img/service/small-circle-icon.png"
              class="img-fluid"
              alt=""
            />
            <h6 class="fw-400 text-gray-900 pl-2 pt-2">
              {{tinhnang[i].title}}<b>{{tinhnang[i].bold}}</b>
            </h6>
          </div>
          {% endfor %}
        </div>
        <div class="mt-4 text-center text-md-left">
          <a
            href=""
            class="
              btn btn-primary-2 btn-sm
              py-1
              font-weight-bold
              mr-2
              bg-pink-momo
              fs-15
              text-uppercase
              py-2
            "
          >
            Đặt ngay
          </a>
        </div>
      </div>
      <div
        class="col-12 col-md-6 order-0 order-md-1"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-anchor-placement="center-bottom"
      >
        <div
          class="
            position-relative
            align-items-center
            justify-content-center
            d-none d-md-flex
          "
        >
          <img
            class="rounded img-fluid shadow-lg"
            src="https://static.mservice.io/placebrand/s/momo-upload-api-201013101452-637381808928801674.png"
            alt="Video hoc vien"
          />

          <a
            data-fancybox
            href="https://www.youtube.com/watch?v=be7anfGWKoo?autoplay=1"
            class="position-absolute why-play-icon"
            data-aos="zoom-in"
          >
            <img
              src="img/hocvien/play.svg"
              alt="Media Play Icon"
              width="70"
              class=""
            />
          </a>
        </div>
        <div class="embed-responsive embed-responsive-16by9 d-block d-md-none">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/be7anfGWKoo"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

{% set uudai = [ { 'title': 'Thẻ quà giảm 5% tối đa 135.000đ khi mua Vé máy bay'
}, { 'title': 'Thẻ quà giảm 40.000đ thanh toán tại Siêu Thị hoặc Cửa hàng tiện
lợi' }, { 'title': 'Thẻ quà Nạp tiền điện thoại, mua mã thẻ' }, { 'title': 'Thẻ
quà giảm 18.000đ Thanh toán tại Tiki/Lazada' } ] %}

<section class="bg-pink-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-pink-momo">Ưu đãi hấp dẫn</h2>
        <p class="lead text-gray-700">
          Nhấp vào từng khuyến mãi để xem chi tiết và lựa chọn khuyến mãi phù
          hợp
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="wrap__scroll mb-4 wrap__scroll__tintuc">
          <ul
            class="nav nav-tabs tabs-soju wrap__scroll__target"
            id="myTab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                id="tab-0"
                data-toggle="tab"
                href="#tatcathequa"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Tất cả thẻ quà</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-ve-may-bay"
                data-toggle="tab"
                href="#tp-ve-may-bay"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Vé máy bay</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-ve-tau"
                data-toggle="tab"
                href="#tp-ve-tau"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Vé tàu</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-ve-xe-khach"
                data-toggle="tab"
                href="#tp-ve-xe-khach"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Vé xe khách</a
              >
            </li>
          </ul>

          <div class="wrap__scroll__next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade active show"
            id="tatcathequa"
            role="tabpanel"
            aria-labelledby="tab-0"
          >
            <div class="row">
              {% for i in [1,2,3,1,2,3] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img">
                    <a href="" data-toggle="modal" data-target="#modal-uudai">
                      <img
                        src="img/service/uudai/{{i}}.png"
                        class="dona-card-img-top"
                        alt="..."
                        loading="lazy"
                      />
                    </a>
                  </div>
                  <div class="dn-card-body px-3 pt-3 pb-1">
                    <h3 class="fs-16 dn-card-title">
                      <a
                        href=""
                        data-toggle="modal"
                        data-target="#modal-uudai"
                        class="card__title__link font-weight-bold"
                      >
                        {{uudai[i].title}}</a
                      >
                    </h3>
                  </div>
                  <div
                    class="
                      dn-card-footer
                      d-flex
                      justify-content-between
                      align-items-center
                      px-3
                      pb-3
                    "
                  >
                    <span class="fs-12 text-gray-600">08/10/2020</span>
                    <a
                      href="#"
                      class="fs-13"
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem chi tiết
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="tp-ve-may-bay"
            role="tabpanel"
            aria-labelledby="tab-ve-may-bay"
          >
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img
                      src="img/service/uudai/{{i}}.png"
                      class="dona-card-img-top"
                      alt="..."
                      loading="lazy"
                    />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div
                    class="
                      dn-card-footer
                      d-flex
                      justify-content-between
                      align-items-center
                      px-3
                      pb-3
                    "
                  >
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a
                      href="#"
                      class="
                        btn btn-outline-primary
                        d-block
                        rounded
                        fs-13
                        btn-pink-hot
                        p-1
                        px-3
                        stretched-link
                      "
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="tp-ve-tau"
            role="tabpanel"
            aria-labelledby="tab-ve-tau"
          >
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img
                      src="img/service/uudai/{{i}}.png"
                      class="dona-card-img-top"
                      alt="..."
                      loading="lazy"
                    />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div
                    class="
                      dn-card-footer
                      d-flex
                      justify-content-between
                      align-items-center
                      px-3
                      pb-3
                    "
                  >
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a
                      href="#"
                      class="
                        btn btn-outline-primary
                        d-block
                        rounded
                        fs-13
                        btn-pink-hot
                        p-1
                        px-3
                        stretched-link
                      "
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="tp-ve-xe-khach"
            role="tabpanel"
            aria-labelledby="tab-ve-xe-khach"
          >
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img
                      src="img/service/uudai/{{i}}.png"
                      class="dona-card-img-top"
                      alt="..."
                      loading="lazy"
                    />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div
                    class="
                      dn-card-footer
                      d-flex
                      justify-content-between
                      align-items-center
                      px-3
                      pb-3
                    "
                  >
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a
                      href="#"
                      class="
                        btn btn-outline-primary
                        d-block
                        rounded
                        fs-13
                        btn-pink-hot
                        p-1
                        px-3
                        stretched-link
                      "
                      data-toggle="modal"
                      data-target="#modal-uudai"
                    >
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/section-tintuc.html" %}

<section class="bg-light ">
  <div class="container ">
    <div class="text-center section__title">
      <h2 class="h2 font-weight-bold text-primary-2">Tab section</h2>
    </div>

    <div class="">
      <div class="swiper-container swiper-tab-tinhnang">
        <ul class="swiper-wrapper nav" id="myTab" role="tablist">
          <li class="swiper-slide">
            <a
              class="food-tab-link active"
              id="home-tab-1"
              data-toggle="tab"
              href="#why-1"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-01.svg" alt="N&#x1EA1;p, chuy&#x1EC3;n, nh&#x1EAD;n ti&#x1EC1;n online">
              </div>
              <div class="food-tab-name">
                  Nạp, chuyển, nhận tiền online
              </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-2"
              data-toggle="tab"
              href="#why-2"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-02.svg" alt="Thanh to&#xE1;n ho&#xE1; &#x111;&#x1A1;n">
              </div>
              <div class="food-tab-name">
                  Thanh toán hoá đơn
              </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-3"
              data-toggle="tab"
              href="#why-3"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-03.svg" alt="Mua s&#x1EAF;m tr&#x1EF1;c tuy&#x1EBF;n">
              </div>
              <div class="food-tab-name">
                  Mua sắm trực tuyến
              </div>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-4"
              data-toggle="tab"
              href="#why-4"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-04.svg" alt="Thanh to&#xE1;n t&#x1EA1;i qu&#x1EA7;y">
              </div>
              <div class="food-tab-name">
                  Thanh toán tại quầy
              </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content tinhnang-tab-content shadow-sm" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="why-1"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="
                      mb-0 mb-md-0
                      py-2
                      px-0 px-lg-3
                      py-lg-3
                      aos-init aos-animate
                    "
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">MIỄN PHÍ NẠP TIỀN VÀO VÍ</h4>

                    <p>
                      Dễ dàng liên kết Thẻ ATM của 39 ngân hàng nội địa thuộc hệ
                      thống Napas với Ví MoMo: MIỄN PHÍ Nạp tiền vào Ví và thoải
                      mái giao dịch, thanh toán trên MoMo mỗi ngày.
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas1.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-2"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="
                      mb-0 mb-md-0
                      py-2
                      px-0 px-lg-3
                      py-lg-3
                      aos-init aos-animate
                    "
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">AN TOÀN TUYỆT ĐỐI</h4>

                    <p>
                      Công nghệ bảo mật của MoMo đạt chứng nhận bảo mật toàn cầu
                      PCI DSS cấp độ cao nhất. Đồng thời, Ví MoMo được cấp giấy
                      phép và quản lý bởi Ngân hàng Nhà nước.
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas2.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-3"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="
                      mb-0 mb-md-0
                      py-2
                      px-0 px-lg-3
                      py-lg-3
                      aos-init aos-animate
                    "
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">THANH TOÁN KHÔNG TIỀN MẶT</h4>

                    <p>
                      Chỉ cần liên kết Thẻ ATM với MoMo, bạn có thể thực hiện
                      mọi giao dịch thanh toán mỗi ngày KHÔNG CẦN TIỀN MẶT như
                      nạp tiền điện thoại, data 3G/4G, thanh toán
                      Điện/Nước/Internet; đặt cà phê - trà sữa, đi ăn uống nhà
                      hàng; đặt vé xem phim CGV, Lotte Cinema…
                    </p>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas3.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-4"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div
                    class="
                      mb-0 mb-md-0
                      py-2
                      px-0 px-lg-3
                      py-lg-3
                      aos-init aos-animate
                    "
                    data-aos="fade-right"
                  >
                    <h4 class="mt-2 mt-md-3">PHỦ PHÊ ƯU ĐÃI MỖI NGÀY</h4>
                    <div class="tinhnang-loadmore">
                      <p>
                        Hàng loạt ưu đãi hấp dẫn khi thanh toán - giao dịch trực
                        tiếp trên Ví MoMo như giảm 30% khi đặt vé xem phim, hoàn
                        đến 10% khi mua data 3G/4G, chiết khấu đến 4% khi nạp
                        tiền điện thoại, miễn phí chuyển tiền đến Ví MoMo… Tận
                        hưởng ngay!
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/napas/napas4.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-5"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-6"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-7"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="mb-3">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                        class="img-fluid img-toionha"
                        width=""
                        alt=""
                      />
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                    <div>
                      <a href="" class="btn btn-primary btn-sm rounded-pill"
                        >Chia sẻ</a
                      >
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-8"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-9"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-10"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="">
                          <img
                            src="https://static.mservice.io/blogscontents/momo-upload-api-200401184743-637213636634951229.png"
                            class="img-fluid img-toionha"
                            width=""
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="img/chiase.svg"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      Chuyển/ nhận tiền phà phà qua MoMo
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        Với hệ thống 24 ngân hàng liên kết cùng hàng nghìn điểm
                        nạp tiền trên toàn quốc, bạn có thể Chuyển/Nhận tiền
                        nhanh chóng và dễ dàng qua Ví MoMo.
                      </p>
                      <p>
                        Không sử dụng tiền mặt sẽ hạn chế khả năng lây nhiễm
                        Covid-19.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="img/tinhnang1.png"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-pink-light bg-cover pb-0">
  <div class="container overflow-hidden">
    <div class="text-center section__title">
      <h2 class="h2 font-weight-bold text-primary-2">
        Đi lại khỏe re, <br class="d-inline-block d-md-none" />
        vé gì cũng có với Ví MoMo
      </h2>
    </div>

    <!-- <div class="mb-4">
      <img
        src="	https://static.mservice.io/images/s/momo-upload-api-201125100840-637418957204101267.jpg"
        class="d-block d-md-none img-fluid mx-auto rounded"
        alt=""
      />
    </div> -->

    <div class="row justify-content-center sm-gutters reason__service">
      <!-- Nay la gi -->

      <div
        class="col-12 col-md-6 col-lg-4 order-1 order-md-1 reason__item__left"
      >
        <div
          class="
            reason__item
            remove_maxwith
            align-items-start
            aos-init aos-animate
          "
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101317.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Mua đủ mọi loại vé</h6>
              <p>
                So sánh được giá vé, thời gian khởi hành của tất cả các hãng
                hàng không, hãng xe/tàu cho phép đặt vé trên Ví MoMo.
              </p>
            </div>
          </div>
        </div>

        <div
          class="
            reason__item
            remove_maxwith
            align-items-start
            aos-init aos-animate
          "
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101240.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Hỗ trợ khách hàng 24/7</h6>
              <p>
                Đội ngũ nhân viên hỗ trợ khách hàng luôn sẵn sàng giúp đỡ bạn
                trong từng bước của quá trình đặt vé.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="
          col-12 col-md-4
          order-3 order-md-2
          col-xl-auto
          align-self-center
          d-none d-lg-block
        "
      >
        <div class="position-relative mt-md-5 mt-lg-0 reason__item__phone">
          <img
            width="300"
            class="img-fluid d-block mx-auto lazyloaded"
            alt=""
            src="https://static.mservice.io/blogscontents/momo-upload-api-201124101702-637418098229113362.png"
          />
          <div class="reason__cta">
            <a
              target="_blank"
              href="https://momo.vn/download#home"
              class="hocvien-btn"
            >
              <img
                src="https://static.mservice.io/jk/momo2020/img/btn-timhieungay.svg"
                width="142"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </a>
            <style>
              .hocvien-btn {
                display: inline-block;
                transition: all 0.2s ease-in;
                opacity: 0.9;
              }

              .hocvien-btn:hover {
                opacity: 1;
                transform: translate3d(0, -3px, 0);
              }

              @media (max-width: 767.98px) {
                .hocvien-btn {
                  width: 130px;
                }
              }
            </style>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4 order-2 order-md-3 reason__item__right"
      >
        <div
          class="
            reason__item
            remove_maxwith
            align-items-start
            aos-init aos-animate
          "
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101415.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Thanh toán siêu bảo mật</h6>
              <p>
                Ví MoMo đáp ứng các tiêu chuẩn thanh toán an toàn cao nhất với
                chứng chỉ bảo mật quốc tế PCI DSS và công nghệ bảo mật toàn
                diện.
              </p>
            </div>
          </div>
        </div>

        <div
          class="
            reason__item
            remove_maxwith
            align-items-start
            aos-init aos-animate
          "
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/fileuploads/svg/momo-file-201124101438.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Ngập tràn ưu đãi</h6>
              <p>
                Đặt vé trên Ví MoMo luôn có nhiều ưu đãi tuyệt vời với giá cạnh
                tranh nhất.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/service-feature.html" %} {% set doitac=[ {
img:'pacific-airlines', name:'Pacific Airlines', ds:'Niềm vui cất cánh' }, {
img:'agoda', name:'Agoda', ds:'Nền tảng cung cấp dịch vụ du lịch trực tuyến' },
{ img:'vexere', name:'Vé Xe Rẻ', ds:'Hệ thống vé xe khách và vé xe Limousine lớn
nhất Việt Nam' } ] %}

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-pink-momo">Đối tác Du lịch - Đi lại</h2>
        <p class="lead text-gray-700">
          Những đối tác hàng không toàn cầu sẽ chấp cánh đưa bạn đến mọi địa
          điểm trên thế giới
        </p>
      </div>
    </div>
    <div class="row pt-0 pt-md-4">
      {% for i in [0,1,2,0,1] %}
      <div class="col-12 col-md-6 col-lg-4 pb-3">
        <div
          class="
            row
            no-gutters
            partner
            bg-white
            border
            rounded
            align-items-center
          "
        >
          <a ng-href="#" class="link-absolute"></a>
          <div class="col-3 p-3">
            <img
              class="img-fluid"
              alt=""
              src="/img/service/doitac/{{doitac[i].img}}.png"
            />
          </div>
          <div class="col-9">
            <h6 class="fs-16 text-pink-hot">{{doitac[i].name}}</h6>
            <p class="fs-12 text-gray-600 mb-0">{{doitac[i].ds}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-pink-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-pink-momo">
          Hướng dẫn Nạp tiền mặt vào Ví tại Điểm Nạp/rút
        </h2>
      </div>
    </div>

    <div class="row mt-3 mt-lg-5">
      <div class="col-12">
        <ul class="list-group">
          <li
            class="
              list-group-item
              d-flex
              justify-content-start
              align-items-center
            "
          >
            <img
              alt=""
              class="img-fluid"
              src="img/service/small-circle-icon.png"
            />
            <b class="pr-3 col-4 col-md-2 col-lg-1">Bước 1:</b>
            <span>Đến Điểm Nạp/rút gần nhất.</span>
          </li>
          <li
            class="
              list-group-item
              d-flex
              justify-content-start
              align-items-center
            "
          >
            <img
              alt=""
              class="img-fluid"
              src="img/service/small-circle-icon.png"
            />
            <b class="pr-3 col-4 col-md-2 col-lg-1">Bước 2:</b>
            <span
              >Cung cấp số Ví (số điện thoại) của bạn và số tiền muốn nạp, đưa
              CMND cho Nhân viên tại Điểm Nạp/rút, yêu cầu được nạp tiền vào
              Ví.</span
            >
          </li>
          <li
            class="
              list-group-item
              d-flex
              justify-content-start
              align-items-center
            "
          >
            <img
              alt=""
              class="img-fluid"
              src="img/service/small-circle-icon.png"
            />
            <b class="pr-3 col-4 col-md-2 col-lg-1">Bước 3:</b>
            <span>Nhận được tiền vào Ví ngay lập tức.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% include "components/section-thanhtoan-baomat.html" %}

<div
  class="modal fade"
  id="modal-uudai2"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4
          class="modal-title text-pink-momo w-75 mx-auto text-center py-4"
          id="exampleModalLongTitle"
        >
          Thẻ quà giảm 5% tối đa 135.000đ khi mua <br />
          Vé máy bay
        </h4>
        <button
          type="button"
          class="close outline-none"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-3 px-lg-4 py-0">
        <div class="row">
          <div class="col-12 copy-code" data-copy>
            <p class="fs-13 text-gray-600 text-uppercase mb-1">
              NHẤN VÀO ĐỂ COPY CODE
            </p>
            <button type="button" class="code">
              <img
                src="img/service/icon-copycode.png"
                class="m-0"
                alt="..."
                loading="lazy"
              />
              <span class="pl-2">HELLOMOMO</span>
            </button>
            <input
              type="text"
              class="input-copy pl-2"
              value="HELLOMOMO"
              readonly
            />
          </div>
        </div>
        <br />
        <div class="note px-4 pt-5 pb-2">
          <p>
            Số lượng thẻ quà nhận được : 1<br />
            Sử dụng để mua Vé máy bay trên ví MoMo
          </p>
          <p>Điều kiện sử dụng:</p>
          <ul>
            <li>Thẻ quà KHÔNG được cộng gộp</li>
            <li>
              Thẻ quà không được hoàn lại và không có giá trị quy đổi thành tiền
              mặt
            </li>
            <li>Mỗi thẻ quà tặng áp dụng cho 1 lần thanh toán</li>
            <li>
              Thẻ quà chỉ áp dụng khi mua vé máy bay trên ứng dụng Ví MoMo
              (không áp dụng khi thanh toán trên website hoặc ứng dụng các hãng
              hàng không).
            </li>
            <li>HSD thẻ quà: 20 ngày</li>
          </ul>
          <p>
            (*)Lưu ý: Thẻ quà sẽ không được hoàn lại đối với các giao dịch yêu
            cầu hoàn tiền.
          </p>
        </div>
      </div>

      <div class="modal-footer border-0 justify-content-center pb-5">
        <button type="button" class="btn btn-bg-pink-momo" data-dismiss="modal">
          Sử dụng ngay
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal htu-modal fade article-modal"
  id="modal-uudai"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-back"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Thông tin</div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <article class="article__content">
          <h3
            class="h2 text-primary-2 ng-binding"
            ng-bind="Model.Article.Title"
          >
            Cùng MoMo gửi “Lời cảm ơn 3004” đến các y bác sĩ và lập kỳ tích vào
            ngày 30/4 lịch sử
          </h3>

          <div class="d-flex align-items-center mb-3 mb-xl-4">
            <div
              class="text-small text-muted ng-binding"
              ng-bind="Model.Article.PublicDate"
            >
              24/04/2020
            </div>
          </div>

          <p class="lead ng-binding" ng-bind="Model.Article.Short">
            Nằm trong chiến dịch “Điều nhỏ bé vĩ đại”, sự kiện “Lời cảm ơn 3004”
            là lời kêu gọi của MoMo đến mọi người, mong muốn cùng san sẻ những
            điều nhỏ bé hàng ngày trong cuộc sống để tri ân các chiến sĩ áo
            trắng. Mục tiêu nhằm kêu gọi quyên góp cho Quỹ phòng, chống dịch
            Covid-19 cho UBTW Mặt Trận Tổ Quốc Việt Nam trên Ví MoMo đạt con số
            đầy ý nghĩa 3.004.000.000 đồng vào ngày 30/4 lịch sử.
          </p>

          <div class="row">
            <div class="col-12 copy-code" data-copy>
              <p class="fs-13 text-gray-600 text-uppercase mb-1">
                NHẤN VÀO ĐỂ COPY CODE
              </p>
              <button type="button" class="code">
                <img
                  src="img/service/icon-copycode.png"
                  class="m-0"
                  alt="..."
                  loading="lazy"
                />
                <span class="pl-2">HELLOMOMO</span>
              </button>
              <input
                type="text"
                class="input-copy pl-2"
                value="HELLOMOMO"
                readonly
              />
            </div>
          </div>
          <br />
          <div
            class="full-content ng-binding"
            ng-bind-html="Model.Article.Content"
          >
            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164414-637233434546251163.jpg"
              />
            </p>

            <p>
              Những ngày qua khi chúng ta được nới lỏng giãn cách xã hội, nhiều
              người háo hức quay trở lại nhịp sống sinh hoạt thường ngày như đi
              cà phê, ăn uống, làm đẹp, tập gym,... Nhưng sau lưng chúng ta,
              những chiến sĩ áo trắng vẫn phải ở lại túc trực nơi bệnh viện, khu
              cách ly hay sân bay… để âm thầm bảo vệ người dân khỏi rủi ro tái
              bùng dịch.&nbsp;
            </p>

            <p>
              Hơn bao giờ hết, đây chính là lúc chúng ta cần gửi lời cảm ơn tuy
              nhỏ bé nhưng thiết thực đến các chiến sỹ áo trắng.
            </p>

            <p>
              Với 100.000 đồng tương đương hai ổ bánh mì, ly cà phê, trà sữa hay
              một lần làm đẹp, cắt tóc,... mỗi người đã có thể cùng nhau tạo nên
              kỳ tích dành tặng những người hùng áo trắng và chung tay cùng
              Chính Phủ khôi phục đất nước sau ảnh hưởng nặng nề của dịch
              Covid-19. Bạn có sẵn sàng? Quyết định nằm ở trái tim mỗi
              người!&nbsp;
            </p>

            <p>
              <em
                >“Với quyết tâm đồng lòng của cả nước, chúng ta có quyền hy vọng
                sau ngày 30/4 sẽ không có ca nhiễm Covid-19 nào, các bác sĩ được
                về nhà, người thất nghiệp tìm được việc làm mới, trẻ con trở lại
                trường, nền kinh tế khôi phục sau dịch bệnh. Việt Nam sẽ làm nên
                kỳ tích là quốc gia đầu tiên tuyên bố hết dịch Covid-19,... làm
                rạng danh đất nước hình chữ S một lần nữa vào tháng 4 lịch
                sử”</em
              >, ông Nguyễn Bá Diệp (Phó Chủ tịch, đồng sáng lập Ví điện tử
              MoMo) tin tưởng.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164512-637233435127918494.jpg"
              />
            </p>

            <p>
              Chính thức phát động từ ngày 8/4/2020, <strong>tính đến</strong>
              <strong>15 giờ (ngày 24/4/2020)</strong>, chiến dịch “Điều nhỏ bé
              vĩ đại” của Ví MoMo đã kêu gọi ủng hộ cho UBTW Mặt trận Tổ quốc
              Việt Nam với số tiền quyên góp được hơn<strong>
                1,443 tỷ đồng</strong
              >
              với hơn<strong> 89 nghìn lượt.</strong>
            </p>

            <p>
              Trước đó, ngày 22/4, tại trụ sở UBTW Mặt trận Tổ quốc Việt Nam,
              MoMo đã có buổi gặp gỡ trao đổi và trao 1 tỷ đồng quyên góp (đợt
              1) cho đại diện MTTQ. Đây là số tiền đóng góp của cộng đồng người
              dùng Ví MoMo cho “Điều nhỏ bé vĩ đại”.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164537-637233435370452669.jpg"
              />
            </p>

            <p>
              Bên cạnh số tiền quyên góp cho Quỹ phòng chống Covid-19, người
              dùng cũng có thể quyên góp cho Sinh viên Đại học Y Hà Nội bằng Heo
              vàng của Ví MoMo.
              <strong
                >Tất cả Heo vàng mà người dùng quyên góp, sẽ được Ví MoMo quy
                đổi thành tiền mặt</strong
              >
              (dự kiến 1 tỷ đồng nếu đạt con số 6,5 triệu Heo vàng) để ủng
              hộ.&nbsp;
            </p>

            <p>
              Để tạo ra Heo vàng người dùng chỉ cần thực hiện: (1) Đi bộ mỗi
              ngày 4.000 bước chân để quy đổi; (2) Nuôi Heo đất để tạo ra Heo
              vàng bằng cách “Cho heo ăn” (Chi tiết
              <a
                href="https://momo.vn/huong-dan/huong-dan-nuoi-heo-dat-nhan-heo-vang-va-quyen-gop-tren-vi-momo"
                ><strong>TẠI ĐÂY</strong></a
              >).
            </p>

            <p>
              <strong>Xem thêm tại:</strong>
              <a href="https://momo.vn/dieunhobevidai#baitintuc"
                >https://momo.vn/dieunhobevidai</a
              >
            </p>

            <p>&nbsp;</p>
          </div>
        </article>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary-2" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal htu-modal fade article-modal"
  id="modal-ser-feature"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-back"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate text-pink-momo">
          Hoàn toàn miễn phí
        </div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/SsfLDiINpyM"
              allowfullscreen
            ></iframe>
          </div>

          <div class="mt-5">
            <div class="row">
              <div class="col-12 d-flex align-items-center mb-1">
                <img
                  src="img/service/small-circle-icon.png"
                  class="img-fluid"
                  alt=""
                />
                <h6 class="fw-400 text-gray-900 pl-2 pt-2">
                  Đặt mọi phương tiện, <b>hưởng trọn ưu đãi.</b>
                </h6>
              </div>

              <div class="col-12 d-flex align-items-center mb-1">
                <img
                  src="img/service/small-circle-icon.png"
                  class="img-fluid"
                  alt=""
                />
                <h6 class="fw-400 text-gray-900 pl-2 pt-2">
                  Mở Ví, quản lý cả chuyến đi<b></b>
                </h6>
              </div>

              <div class="col-12 d-flex align-items-center mb-1">
                <img
                  src="img/service/small-circle-icon.png"
                  class="img-fluid"
                  alt=""
                />
                <h6 class="fw-400 text-gray-900 pl-2 pt-2">
                  Bảo mật chuẩn quốc tế cho giao dịch thuận lợi<b></b>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary-2" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script>
  function detechModalTienIch() {
    const href = window.location.href.split("#")[1];
    if (href) {
      const splitHref = href.split("-");
      if (splitHref[0] !== "tien") return;
      if (splitHref[1] !== "ich") return;

      const tienIch = splitHref.filter((elment, index) => index > 1).join("-");
      const modalTienIch = "#modal-ser-" + tienIch;
      const modalElement = $(modalTienIch);
      if (modalElement.length > 0) {
        modalElement.modal("toggle");
      }
    }
  }
  $(document).ready(function () {
    $(".app-download").addClass("service");
    AOS.init();
    new Swiper(".swiper-menu", {
      slidesPerView: 3,
      spaceBetween: 0,
      simulateTouch: false,
      watchOverflow: true,
    });

    $(".wrap__scroll__service").length &&
      wrapScrollClass($(".wrap__scroll__service"));

    detechModalTienIch();
  });

  $(document).ready(function () {
    //Select Cache
    var myTabLink = $("#myTab").find(".food-tab-link");
    var myTabItem = $("#myTab").find(".nav-item");

    function checkTabCurrent() {
      var listTabMenu = myTabLink;
      var current = 0;
      listTabMenu.each(function (i) {
        if ($(this).hasClass("active")) {
          current = i;
          return false;
        }
      });
      return current;
    }
    function makeTabActive(cur) {
      myTabLink.each(function (i) {
        if (i == cur) {
          $(this).tab("show");
          $(this)[0].scrollIntoView();

          if ($(window).width() > 700) {
            document.documentElement.scrollTop -= 150;
          } else {
            document.documentElement.scrollTop -= 10;
          }
        }
      });
    }
    function checkTabLength() {
      var listTabMenu = myTabItem;
      return listTabMenu.length;
    }

    var tabLength = checkTabLength() - 1;
    var tabCur = checkTabCurrent();

    //SWIPER TAB JS

    var swiperTabItem = new Swiper(".swiper-tab-tinhnang", {
      slidesPerView: "auto",
      spaceBetween: 5,
      threshold: 4,
      // centeredSlides: true,
      centerInsufficientSlides: true,
      on: {
        slideChangeTransitionEnd: function () {
          // console.log("dwd");
        },
      },
    });

    var curIndex = checkTabCurrent(); // =0
    var actIndex = 0; // =0

    $("a.food-tab-link ").on("shown.bs.tab", function (e) {
      actIndex = checkTabCurrent();

      if ($(window).width() < 500) {
        if (curIndex < actIndex) {
          swiperTabItem.slideTo(actIndex);
        } else {
          swiperTabItem.slideTo(actIndex - 1);
        }
      } else {
        if (curIndex < actIndex) {
          swiperTabItem.slideTo(actIndex - 2);
        } else {
          swiperTabItem.slideTo(actIndex - 1);
        }
      }

      curIndex = actIndex;
    });
  });
</script>
{% endblock %}
