{% import 'macros/helpers.html' as macro %}
{% extends 'layouts/layout.html' %}

{% block content %}

<!-- <canvas class="snow"></canvas> -->
{% set caseMenu=[ { "img": "icon-maybay", "title": "Vé máy bay", color:
'#36bc99' }, { "img": "icon-xe", "title": "Vé xe khách", color: '#2997ff' }, {
"img": "icon-tau", "title": "Vé tàu", color: '#f96268' } ] %}
<div class="sg-nav-container shadow-sm">
  <div class="container position-relative">
    <div class="wrap__scroll wrap__scroll__service is-bg-white">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb align-items-center wrap__scroll__target">
          <li class="breadcrumb-item">
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667"
              >
                <path
                  d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item active">
            <a href="/services.html">Du lịch - Đi lại</a>
          </li>
          {% for i in [0,1,2] %}
          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/services-detail.html">
              <img
                src="img/service/{{caseMenu[i].img}}.svg"
                class="img-fluid img-icon"
                alt=""
              />
              {{caseMenu[i].title}}
            </a>
          </li>
          {% endfor %}
          <li class="d-block" style="height: 1px;">
            <span style="width: 30px; display: block"></span>
          </li>
      
        </ol>
      </nav>

      <div class="wrap__scroll__next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>
  </div>
</div>


{% include "components/section-banner-curve.html" %}

{% set tinhnang=[ { 'title': 'Đặt mọi phương tiện, ', 'bold': 'hưởng trọn ưu
đãi.' }, { 'title': 'Mở Ví, quản lý cả chuyến đi', 'bold': '' }, { 'title': 'Bảo
mật chuẩn quốc tế cho giao dịch thuận lợi', 'bold': '' }, { 'title': 'Mã ghế
trong ví, ', 'bold': 'thủ tục như ý' } ] %}

<section class="bg-white">
  <div class="container ">
    <div class="row align-items-center no-gutters ">
      <div class="col-12 col-md-6 order-1 order-md-0 pr-lg-5 pt-4 pt-md-0">
        <h1 class="text-pink-momo">Du lịch - Đi lại trên Ví MoMo</h1>
        <p class="lead text-gray-700">
          Dùng Ví MoMo để đặt vé máy bay nhanh chóng, <br />
          thuận tiện, dễ dàng mọi lúc mọi nơi.
        </p>
        <div class="row">
          {% for i in [0,1,2] %}
          <div class="col-12 d-flex align-items-center mb-1">
            <img src="img/service/small-circle-icon.png" class="img-fluid" alt="" />
            <h6 class="fw-400 text-gray-900 pl-2 pt-2">
              {{tinhnang[i].title}}<b>{{tinhnang[i].bold}}</b>
            </h6>
          </div>
          {% endfor %}
        </div>
        <div class="mt-4">
          <a href="" class="btn btn-primary-2 btn-sm py-1 font-weight-bold mr-2 bg-pink-momo fs-15 text-uppercase py-2">
            Đặt ngay
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 order-0 order-md-1">
        <div class="position-relative align-items-center justify-content-center d-none d-md-flex">
          <img class="rounded img-fluid shadow-lg"
            src="https://static.mservice.io/placebrand/s/momo-upload-api-201013101452-637381808928801674.png"
            alt="Video hoc vien" />

          <a data-fancybox href="https://www.youtube.com/watch?v=be7anfGWKoo?autoplay=1"
            class="position-absolute why-play-icon" data-aos="zoom-in">
            <img src="img/hocvien/play.svg" alt="Media Play Icon" width="70" class="" />
          </a>
        </div>
        <div class="embed-responsive embed-responsive-16by9 d-block d-md-none">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/be7anfGWKoo"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


{% set uudai = [ { 'title': 'Thẻ quà giảm 5% tối đa 135.000đ khi mua Vé máy bay'
}, { 'title': 'Thẻ quà giảm 40.000đ thanh toán tại Siêu Thị hoặc Cửa hàng tiện
lợi' }, { 'title': 'Thẻ quà Nạp tiền điện thoại, mua mã thẻ' }, { 'title': 'Thẻ
quà giảm 18.000đ Thanh toán tại Tiki/Lazada' } ] %}

<section class="bg-pink-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-pink-momo">Ưu đãi hấp dẫn</h2>
        <p class="lead text-gray-700">
          Nhấp vào từng khuyến mãi để xem chi tiết và lựa chọn khuyến mãi phù
          hợp
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="wrap__scroll mb-4 wrap__scroll__tintuc is-bg-pink">
          <ul class="nav nav-tabs tabs-soju wrap__scroll__target" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="tab-0" data-toggle="tab" href="#tatcathequa" role="tab"
                aria-controls="home" aria-selected="false">Tất cả ưu đãi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-ve-may-bay" data-toggle="tab" href="#tp-ve-may-bay" role="tab"
                aria-controls="home" aria-selected="false">Vé máy bay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-ve-tau" data-toggle="tab" href="#tp-ve-tau" role="tab" aria-controls="home"
                aria-selected="false">Vé tàu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-ve-xe-khach" data-toggle="tab" href="#tp-ve-xe-khach" role="tab"
                aria-controls="home" aria-selected="false">Vé xe khách</a>
            </li>
          </ul>

          <div class="wrap__scroll__next">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="tatcathequa" role="tabpanel" aria-labelledby="tab-0">
            <div class="row">
              {% for i in [1,2,3,1,2,3] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img">
                    <a href="" data-toggle="modal" data-target="#modal-uudai">
                      <img src="img/service/uudai/{{i}}.png" class="dona-card-img-top" alt="..." loading="lazy" />
                    </a>
                  </div>
                  <div class="dn-card-body px-3 pt-3 pb-1">
                    <h3 class="fs-16 dn-card-title">
                      <a href="" data-toggle="modal" data-target="#modal-uudai"
                        class="card__title__link font-weight-bold">
                        {{uudai[i].title}}</a>
                    </h3>
                  </div>
                  <div class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3">
                    <span class="fs-12 text-gray-600">08/10/2020</span>
                    <a href="#" class="fs-13" data-toggle="modal" data-target="#modal-uudai">
                      Xem chi tiết
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="tp-ve-may-bay" role="tabpanel" aria-labelledby="tab-ve-may-bay">
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img src="img/service/uudai/{{i}}.png" class="dona-card-img-top" alt="..." loading="lazy" />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3">
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a href="#"
                      class="btn btn-outline-primary d-block rounded fs-13 btn-pink-hot p-1 px-3 stretched-link"
                      data-toggle="modal" data-target="#modal-uudai">
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="tp-ve-tau" role="tabpanel" aria-labelledby="tab-ve-tau">
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img src="img/service/uudai/{{i}}.png" class="dona-card-img-top" alt="..." loading="lazy" />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3">
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a href="#"
                      class="btn btn-outline-primary d-block rounded fs-13 btn-pink-hot p-1 px-3 stretched-link"
                      data-toggle="modal" data-target="#modal-uudai">
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="tp-ve-xe-khach" role="tabpanel" aria-labelledby="tab-ve-xe-khach">
            <div class="row sm-gutters">
              {% for i in [1,2,3,1] %}
              <div class="col-12 col-md-6 col-lg-3 mb-lg-0 pb-4">
                <div class="dn-card">
                  <!-- <a href="" class="link-absolute"></a> -->
                  <div class="dn-card-img h-62">
                    <img src="img/service/uudai/{{i}}.png" class="dona-card-img-top" alt="..." loading="lazy" />
                  </div>
                  <div class="dn-card-body p-3">
                    <h3 class="fs-16 dn-card-title">Ủng hộ nông sản Việt</h3>
                  </div>
                  <div class="dn-card-footer d-flex justify-content-between align-items-center px-3 pb-3">
                    <span class="fs-12 text-gray-600">Còn 4 ngày</span>
                    <a href="#"
                      class="btn btn-outline-primary d-block rounded fs-13 btn-pink-hot p-1 px-3 stretched-link"
                      data-toggle="modal" data-target="#modal-uudai">
                      Xem thêm
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center section__title">
      <h2 class="text-pink-momo">Hướng dẫn mua vé máy bay trên ví MoMo</h2>
    </div>
    {% include "components/huongdan-service.html" %}
  </div>
</section>

<section class="bg-pink-light bg-cover pb-0">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="h2 font-weight-bold text-primary-2">
        Trải nghiệm trọn vẹn các dịch vụ <br />
        Du lịch - Đi lại với Ví MoMo
      </h2>
    </div>

    <div
      class="row align-items-lg-center justify-content-center sm-gutters reason__service"
    >
      <!-- Nay la gi -->

      <div
        class="col-12 col-md-6 col-lg-4 order-1 order-md-1 reason__item__left"
      >
        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/jk/momo2020/img/momo/icon4.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Mua vé tốc hành</h6>
              <p>
                So sánh được giá vé, thời gian khởi hành của tất cả các hãng
                hàng không, hãng xe/tàu cho phép đặt vé trên Ví MoMo.
              </p>
            </div>
          </div>
        </div>

        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/jk/momo2020/img/momo/icon2.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Thanh toán 1 giây</h6>
              <p>
                Tiết kiệm thời gian nhập thông tin thẻ, ngân hàng, khách hàng,
                hoàn thành đặt vé nhanh nhất để không bỏ lỡ vé đã chọn.
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="reason__item aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
          <div class="reason__item__avatar">
            <img src="https://static.mservice.io/jk/momo2020/img/momo/icon3.svg" height="38" alt="">
            <div class="reason__item__bg"
              style="background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg')">
            </div>
          </div>

          <div class="reason__item__content">
            <div> <strong>30.000+ </strong> đối tác thanh toán</div>
          </div>
        </div> -->
      </div>

      <div
        class="col-12 col-md-4 order-3 order-md-2 col-xl-auto align-self-center d-none d-lg-block"
      >
        <div class="position-relative mt-md-5 mt-lg-0 reason__item__phone">
          <img
            width="300"
            class="img-fluid d-block mx-auto lazyloaded"
            alt=""
            src="https://static.mservice.io/images/s/momo-upload-api-201005111248-637374931683322106.png"
          />
          <div class="reason__cta">
            <a
              target="_blank"
              href="https://momo.vn/download#home"
              class="hocvien-btn"
            >
              <img
                src="https://static.mservice.io/jk/momo2020/img/btn-timhieungay.svg"
                width="142"
                class="img-fluid d-block mx-auto"
                alt=""
              />
            </a>
            <style>
              .hocvien-btn {
                display: inline-block;
                transition: all 0.2s ease-in;
                opacity: 0.9;
              }

              .hocvien-btn:hover {
                opacity: 1;
                transform: translate3d(0, -3px, 0);
              }

              @media (max-width: 767.98px) {
                .hocvien-btn {
                  width: 130px;
                }
              }
            </style>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4 order-2 order-md-3 reason__item__right"
      >
        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/jk/momo2020/img/momo/icon5.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">An toàn - Bảo mật</h6>
              <p>
                Ví MoMo đáp ứng các tiêu chuẩn thanh toán an toàn cao nhất với
                chứng chỉ bảo mật quốc tế PCI DSS và công nghệ bảo mật toàn
                diện.
              </p>
            </div>
          </div>
        </div>

        <div
          class="reason__item remove_maxwith align-items-start aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="reason__item__avatar">
            <img
              src="https://static.mservice.io/jk/momo2020/img/momo/icon6.svg"
              height="38"
              alt=""
            />
            <div
              class="reason__item__bg"
              style="
                background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg');
              "
            ></div>
          </div>

          <div class="reason__item__content">
            <div>
              <h6 class="text-pink-hot fw-700">Du lịch thông minh</h6>
              <p>
                Quản lý tất cả hành trình của bạn, thông tin vé ngay trong ứng
                dụng.
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="reason__item aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
          <div class="reason__item__avatar">
            <img src="https://static.mservice.io/jk/momo2020/img/momo/icon1.svg" height="38" alt="">
            <div class="reason__item__bg"
              style="background-image: url('https://static.mservice.io/jk/momo2020/img/momo/circle-bg-2.svg')"></div>
          </div>

          <div class="reason__item__content">
            <div><strong> An toàn bảo mật</strong> chuẩn quốc tế</div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

{% set doitac=[ { img:'pacific-airlines', name:'Pacific Airlines', ds:'Niềm vui
cất cánh' }, { img:'agoda', name:'Agoda', ds:'Nền tảng cung cấp dịch vụ du lịch
trực tuyến' }, { img:'vexere', name:'Vé Xe Rẻ', ds:'Hệ thống vé xe khách và vé
xe Limousine lớn nhất Việt Nam' } ] %}

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-pink-momo">Đối tác Du lịch - Đi lại</h2>
        <p class="lead text-gray-900">
          Những đối tác hàng không toàn cầu sẽ chấp cánh đưa bạn đến mọi địa
          điểm trên thế giới
        </p>
      </div>
    </div>
    <div class="row pt-5">
      {% for i in [0,1,2,0,1] %}
      <div class="col-12 col-md-6 col-lg-4 pb-4">
        <div class="row no-gutters partner bg-white border rounded align-items-center">
          <a ng-href="#" class="link-absolute"></a>
          <div class="col-3 p-3">
            <img class="img-fluid" alt="" src="/img/service/doitac/{{doitac[i].img}}.png" />
          </div>
          <div class="col-9">
            <h6 class="fs-16 text-pink-hot">{{doitac[i].name}}</h6>
            <p class="fs-12 text-gray-600 mb-0">{{doitac[i].ds}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{%
  set questions =[
    'Tôi có thể mua vé máy bay của các hãng nào bằng Ví MoMo?',
    'Tôi có thể mua vé máy bay đi quốc tế không?',
    'Nếu lịch trình bay có thay đổi, Ví MoMo tôi có nhận được thông báo qua Ví MoMo không?',
    'Sau khi thanh toán, vé của tôi sẽ được gửi qua đâu?',
    'Mua vé máy bay trên MoMo đã bao gồm thuế phí chưa?',
    'Làm thế nào để kiểm tra vé máy bay đã mua trên MoMo?'
  ]
%}

<section class="bg-white">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-12 col-lg-4 text-center text-lg-left">

        <h2 class="text-pink-momo mt-lg-3">Hỏi đáp cùng MoMo</h2>

        <p class="lead text-gray-700">
          Những câu hỏi thường gặp khi đặt vé máy bay trên MoMo
        </p>
      </div>
      <div class="col-12 col-lg-8">
        <div class="accordion question-answer" id="questions">
          {% for i in [0,1,2,3,4,5] %}
          <div class="card py-2">
            <div class="card-header" id="heading{{i}}">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left pl-0 {{ "" if loop.first else "collapsed" }}"
                  type="button" data-toggle="collapse" data-target="#collapse{{i}}" aria-expanded="{{ "true" if loop.first else "false" }}"
                  aria-controls="collapse{{i}}">
                  {{questions[i]}}
                </button>
              </h2>
            </div>
            <div id="collapse{{i}}" class="collapse {{ "show" if loop.first else "" }}" aria-labelledby="heading{{i}}"
              data-parent="#questions">
              <div class="card-body">
                <p>
                  Bạn có thể gửi yêu cầu hoàn tiền bằng tài khoản Traveloka đã dùng đặt chỗ. Sau khi đăng nhập vào tài
                  khoản này,
                  bạn hãy truy cập mục Đặt chỗ của tôi, nhấn Chi tiết sau đó nhấn vào nút Hoàn tiền để điền mẫu đơn yêu
                  cầu hoàn tiền.
                  Bạn có thể truy cập thẻ Hoàn tiền để tìm hiểu thêm thông tin.
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/section-tintuc.html" %}

{% include "components/section-thanhtoan-baomat.html" %}
<hr />
<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-pink-momo text-center">Trải nghiệm mua vé máy bay tuyệt vời cùng MoMo</h1>
      </div>
      <div class="col-12">
        <div class="baiviet-loadmore mx-h-220 a-center">
          <article class="pt-4">
            <p>Với tính năng Mua vé máy bay TRỰC TIẾP trên Ví MoMo, bạn có thể đặt được tất cả các chặng bay nội địa của 4 hãng hàng không Việt Nam bao gồm: Vietnam Airlines, Vietjet, Pacific Airlines, và Bamboo Airways; so sánh được giá vé, khung giờ bay của các hãng hàng không nhằm tiết kiệm được thời gian, chi phí “đáng kể”.</p>
            <h4>
              Ví MoMo - Ứng dụng đặt vé máy bay trực tuyến
            </h4>
            <p>
              Mục tiêu của Ví MoMo không chỉ nhằm đáp ứng đặt vé máy bay giá rẻ mà còn là một ứng dụng đặt vé máy bay online thân thiện với người dùng, thao tác đơn giản, đặt chỗ nhanh chóng chỉ trong chưa đầy một phút và đặt được tất cả các loại phương tiện hiện có. Đặt vé máy bay trực tuyến trên Ví MoMo giúp bạn dễ dàng "săn" được giá vé máy bay rẻ nhất, giờ bay phù hợp nhất trong khoảng thời gian ngắn nhất. Tất cả các thông tin về hãng hàng không, chuyến bay, giờ bay, giá vé … gói gọn trong 1 giao diện màn hình, vô cùng tiện lợi, đơn giản và dễ sử dụng.
            </p>
            <p>
              Ví MoMo mong muốn được đồng hành cùng khách hàng đến khắp nơi, với những dịch vụ chất lượng và trải nghiệm tuyệt vời nhất với nhiều tính năng:
            </p>
            <ul>
              <li>Dễ dàng so sánh giá vé của các hãng bay trên cùng 1 ứng dụng, giúp bạn dễ dàng sở hữu tấm vé máy bay cho chuyến đi sắp tới của mình, chẳng hạn như: đặt vé máy bay Tết 2021, đặt vé máy bay nội địa, đặt vé máy bay khứ hồi,...</li>
              <li>Đặt vé máy bay và thanh toán trên cùng 1 giao diện, giúp tiết kiệm thời gian khi đặt vé. Chỉ cần ngồi nhà, mở app MOMO đặt vé máy bay là bạn đã sẵn sàng lên đường mà chẳng cần phải lo toan nhiều.</li>
              <li>Có nhiều ưu đãi hấp dẫn dành cho cả khách hàng mới và khách hàng đã từng đặt vé máy bay trên Ví MoMo để bạn không phải đắn đo cho hành trình của mình.</li>
              <li>Tính năng Passbook - Quản lý đặt vé thông minh với mã đặt chỗ được “cất” ngay trong Ví MoMo sau khi mua vé thành công, trong Quản lý vé, tại mục Thông tin hành khách, sẵn sàng làm thủ tục lên máy bay.</li>
            </ul>
            <p>
              Tại Việt Nam, Ví MoMo là đối tác của những hãng bay hàng đầu như Vietnam Airlines, VietJet Air, Pacific Airlines và Bamboo Airways, góp phần vào việc mang đến những lựa chọn hành trình đa dạng và thuận tiện nhất cho khách hàng, từ vé máy bay giá rẻ đến hạng thương gia.
            </p>
            <p>
              Nếu bạn có bất kỳ thắc mắc nào trong quá trình sử dụng tính năng đặt vé máy bay trên Ví MoMo thì đã có dịch vụ Hỗ trợ khách hàng 24/7 của Ví MoMo luôn sẵn sàng để giải đáp thắc mắc. Mọi thắc mắc về việc thanh toán, bạn có thể liên hệ qua:</p>
            <ul>
              <li>Hotline: 1900 545441 (1.000Đ/phút)</li>
              <li>Trung tâm Trợ Giúp: Đăng nhập MoMo &gt;&gt; Ví của tôi &gt;&gt; Trợ giúp hoặc nhập từ khóa "trợ giúp" vào ô tìm kiếm (Miễn phí)</li>
              <li>Email: hotro@momo.vn (Miễn phí)</li>
            </ul>
           </article>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modal-uudai2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h4 class="modal-title text-pink-momo w-75 mx-auto text-center py-4" id="exampleModalLongTitle">
          Thẻ quà giảm 5% tối đa 135.000đ khi mua <br />
          Vé máy bay
        </h4>
        <button type="button" class="close outline-none" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-md-3 px-lg-4 py-0">
        <div class="row">
          <div class="col-12 copy-code">
            <p class="fs-13 text-gray-600 text-uppercase mb-1">
              NHẤN VÀO ĐỂ COPY CODE
            </p>
            <button type="button" class="code" data-copy='HELLOMOMO'>
              <img src="img/service/icon-copycode.png" class="" alt="..." loading="lazy" />
              <span class="pl-2"> HELLOMOMO </span>
            </button>
          </div>
        </div>
        <div class="note px-4 pt-5 pb-2">
          <p>
            Số lượng thẻ quà nhận được : 1<br />
            Sử dụng để mua Vé máy bay trên ví MoMo
          </p>
          <p>Điều kiện sử dụng:</p>
          <ul>
            <li>Thẻ quà KHÔNG được cộng gộp</li>
            <li>
              Thẻ quà không được hoàn lại và không có giá trị quy đổi thành tiền
              mặt
            </li>
            <li>Mỗi thẻ quà tặng áp dụng cho 1 lần thanh toán</li>
            <li>
              Thẻ quà chỉ áp dụng khi mua vé máy bay trên ứng dụng Ví MoMo
              (không áp dụng khi thanh toán trên website hoặc ứng dụng các hãng
              hàng không).
            </li>
            <li>HSD thẻ quà: 20 ngày</li>
          </ul>
          <p>
            (*)Lưu ý: Thẻ quà sẽ không được hoàn lại đối với các giao dịch yêu
            cầu hoàn tiền.
          </p>
        </div>
      </div>

      <div class="modal-footer border-0 justify-content-center pb-5">
        <button type="button" class="btn btn-bg-pink-momo" data-dismiss="modal">
          Sử dụng ngay
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal htu-modal fade article-modal"
  id="modal-uudai"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-back"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Thông tin</div>

        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn article-modal-close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="modal-body">
        <article class="article__content">
          <h3
            class="h2 text-primary-2 ng-binding"
            ng-bind="Model.Article.Title"
          >
            Cùng MoMo gửi “Lời cảm ơn 3004” đến các y bác sĩ và lập kỳ tích vào
            ngày 30/4 lịch sử
          </h3>

          <div class="d-flex align-items-center mb-3 mb-xl-4">
            <div
              class="text-small text-muted ng-binding"
              ng-bind="Model.Article.PublicDate"
            >
              24/04/2020
            </div>
          </div>

          <p class="lead ng-binding" ng-bind="Model.Article.Short">
            Nằm trong chiến dịch “Điều nhỏ bé vĩ đại”, sự kiện “Lời cảm ơn 3004”
            là lời kêu gọi của MoMo đến mọi người, mong muốn cùng san sẻ những
            điều nhỏ bé hàng ngày trong cuộc sống để tri ân các chiến sĩ áo
            trắng. Mục tiêu nhằm kêu gọi quyên góp cho Quỹ phòng, chống dịch
            Covid-19 cho UBTW Mặt Trận Tổ Quốc Việt Nam trên Ví MoMo đạt con số
            đầy ý nghĩa 3.004.000.000 đồng vào ngày 30/4 lịch sử.
          </p>

          <div class="row">
            <div class="col-12 copy-code" data-copy>
              <p class="fs-13 text-gray-600 text-uppercase mb-1">
                NHẤN VÀO ĐỂ COPY CODE
              </p>
              <button
                type="button"
                class="code"
              >
                <img
                  src="img/service/icon-copycode.png"
                  class="m-0"
                  alt="..."
                  loading="lazy"
                />
                <span class="pl-2">123456701234567890</span>
              </button>
              <input type="text" class="input-copy pl-2" value="123456701234567890" readonly />
            </div>
          </div>
          <br />
          <div
            class="full-content ng-binding"
            ng-bind-html="Model.Article.Content"
          >
            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164414-637233434546251163.jpg"
              />
            </p>

            <p>
              Những ngày qua khi chúng ta được nới lỏng giãn cách xã hội, nhiều
              người háo hức quay trở lại nhịp sống sinh hoạt thường ngày như đi
              cà phê, ăn uống, làm đẹp, tập gym,... Nhưng sau lưng chúng ta,
              những chiến sĩ áo trắng vẫn phải ở lại túc trực nơi bệnh viện, khu
              cách ly hay sân bay… để âm thầm bảo vệ người dân khỏi rủi ro tái
              bùng dịch.&nbsp;
            </p>

            <p>
              Hơn bao giờ hết, đây chính là lúc chúng ta cần gửi lời cảm ơn tuy
              nhỏ bé nhưng thiết thực đến các chiến sỹ áo trắng.
            </p>

            <p>
              Với 100.000 đồng tương đương hai ổ bánh mì, ly cà phê, trà sữa hay
              một lần làm đẹp, cắt tóc,... mỗi người đã có thể cùng nhau tạo nên
              kỳ tích dành tặng những người hùng áo trắng và chung tay cùng
              Chính Phủ khôi phục đất nước sau ảnh hưởng nặng nề của dịch
              Covid-19. Bạn có sẵn sàng? Quyết định nằm ở trái tim mỗi
              người!&nbsp;
            </p>

            <p>
              <em
                >“Với quyết tâm đồng lòng của cả nước, chúng ta có quyền hy vọng
                sau ngày 30/4 sẽ không có ca nhiễm Covid-19 nào, các bác sĩ được
                về nhà, người thất nghiệp tìm được việc làm mới, trẻ con trở lại
                trường, nền kinh tế khôi phục sau dịch bệnh. Việt Nam sẽ làm nên
                kỳ tích là quốc gia đầu tiên tuyên bố hết dịch Covid-19,... làm
                rạng danh đất nước hình chữ S một lần nữa vào tháng 4 lịch
                sử”</em
              >, ông Nguyễn Bá Diệp (Phó Chủ tịch, đồng sáng lập Ví điện tử
              MoMo) tin tưởng.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164512-637233435127918494.jpg"
              />
            </p>

            <p>
              Chính thức phát động từ ngày 8/4/2020, <strong>tính đến</strong>
              <strong>15 giờ (ngày 24/4/2020)</strong>, chiến dịch “Điều nhỏ bé
              vĩ đại” của Ví MoMo đã kêu gọi ủng hộ cho UBTW Mặt trận Tổ quốc
              Việt Nam với số tiền quyên góp được hơn<strong>
                1,443 tỷ đồng</strong
              >
              với hơn<strong> 89 nghìn lượt.</strong>
            </p>

            <p>
              Trước đó, ngày 22/4, tại trụ sở UBTW Mặt trận Tổ quốc Việt Nam,
              MoMo đã có buổi gặp gỡ trao đổi và trao 1 tỷ đồng quyên góp (đợt
              1) cho đại diện MTTQ. Đây là số tiền đóng góp của cộng đồng người
              dùng Ví MoMo cho “Điều nhỏ bé vĩ đại”.
            </p>

            <p>
              <img
                alt=""
                loading="lazy"
                src="https://static.mservice.io/blogscontents/momo-upload-api-200424164537-637233435370452669.jpg"
              />
            </p>

            <p>
              Bên cạnh số tiền quyên góp cho Quỹ phòng chống Covid-19, người
              dùng cũng có thể quyên góp cho Sinh viên Đại học Y Hà Nội bằng Heo
              vàng của Ví MoMo.
              <strong
                >Tất cả Heo vàng mà người dùng quyên góp, sẽ được Ví MoMo quy
                đổi thành tiền mặt</strong
              >
              (dự kiến 1 tỷ đồng nếu đạt con số 6,5 triệu Heo vàng) để ủng
              hộ.&nbsp;
            </p>

            <p>
              Để tạo ra Heo vàng người dùng chỉ cần thực hiện: (1) Đi bộ mỗi
              ngày 4.000 bước chân để quy đổi; (2) Nuôi Heo đất để tạo ra Heo
              vàng bằng cách “Cho heo ăn” (Chi tiết
              <a
                href="https://momo.vn/huong-dan/huong-dan-nuoi-heo-dat-nhan-heo-vang-va-quyen-gop-tren-vi-momo"
                ><strong>TẠI ĐÂY</strong></a
              >).
            </p>

            <p>
              <strong>Xem thêm tại:</strong>
              <a href="https://momo.vn/dieunhobevidai#baitintuc"
                >https://momo.vn/dieunhobevidai</a
              >
            </p>

            <p>&nbsp;</p>
          </div>
        </article>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary-2" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal htu-modal modal__fullscreen fade " id="htu-modal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">

            <div class="modal__header">

                <div class="modal__nav">
                    <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>

                    </a>
                </div>


                <div class="modal__title text-center text-truncate">
                   Tải ứng dụng ví MoMo
                </div>


                <div class="modal__nav">
                    <!-- <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="svg-icon">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </a> -->
                </div>

            </div>


            <div class="modal-body p-0">

                <div class="htu-modal-content ">


                    <div class="swiper-container htu-slider ">
                        <div class="swiper-wrapper ">

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">


                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 1/6 : </strong> Tải ứng dụng Ví
                                                MoMo
                                            </h3>
                                            <div class="htu-slider-body">
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.

                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.


                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 2/6 : </strong> Nhập số điện
                                                thoại
                                            </h3>
                                            <div class="htu-slider-body">
                                                Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí
                                                Internet Banking của ngân hàng bạn muốn liên kết.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 3/6 : </strong> Nhập mã xác thực
                                            </h3>
                                            <div class="htu-slider-body">
                                                Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của
                                                bạn.
                                                &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô
                                                &quot;Nhập
                                                mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                .
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 4/6 : </strong> Tạo mật khẩu đăng
                                                nhập </h3>
                                            <div class="htu-slider-body">
                                                Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và
                                                mật
                                                khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt;
                                                Sau đó bấm &quot;Xác nhận&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 5/6 : </strong> Nhập thông tin
                                            </h3>
                                            <div class="htu-slider-body">
                                                Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân
                                                theo
                                                yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- Add Arrows -->


                        <div class="swiper-button-next swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false"
                                style="height: 10px; width: 10px; fill: currentcolor;">
                                <path
                                    d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="swiper-button-prev swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false"
                                style="height: 10px; width: 10px; fill: currentcolor;">
                                <path
                                    d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">

                <a href="" class="btn btn-primary-2 btn-block btn-lg">Tải ngay</a>

            </div>






        </div>
    </div>
</div>
{% endblock %}

<!-- Scripts -->
{% block javascript %}
<script type="text/javascript" src="js/readmore.js"></script>
<script type="text/javascript" src="js/snow.js"></script>
<script>
  $(document).ready(function () {
    $(".wrap__scroll__service").length &&
      wrapScrollClass($(".wrap__scroll__service"));
    
    $(".baiviet-loadmore").readmore({
      speed: 75,
      moreLink:
        '<a href="#">Xem thêm <img src="img/icons/interface/icon-chevron-down.svg" > </a>',
      lessLink:
        '<a href="#">Thu gọn  <img src="img/icons/interface/icon-chevron-up.svg" ></a>',
    });
  });
</script>
{% endblock %}
