{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block content %} {% include "components/services/services-menu.html" %}

<section class="block-form-ota">
  <style>
    @media (min-width: 501px) {
      .block-form-ota {
        padding-top: 100px;
      }

      .block-form-ota::after {
        background:
          url(https://static.mservice.io/images/s/momo-upload-api-210525140434-637575482742445642.png),

          url(https://static.mservice.io/images/s/momo-upload-api-210525140443-637575482838416309.png);

        background-size: auto 300px, auto 300px;
        background-position: left bottom, right bottom;
        background-repeat: no-repeat, no-repeat;
        background-color: #fb8dbc;
      }
    }

    @media (min-width: 1200px) {
      .block-form-ota {
        padding-top: 180px;
      }

      .block-form-ota::after {
        background-size: auto 340px, auto 340px;
      }
    }


    @media (min-width: 1400px) {
      .block-form-ota {
        padding-top: 180px;
      }

      .block-form-ota::after {
        background-size: auto 360px, auto 360px;
      }
    }


    @media (max-width: 500px) {
      .block-form-ota {
        padding-top: 70px;
      }

      .block-form-ota::after {
        background-image: url(https://static.mservice.io/images/s/momo-upload-api-210524171222-637574731422923176.jpg);
      }
    }
  </style>


  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white text-center text-title pb-2">
            Vé máy bay từ TP. Hồ Chí Minh đến Hà Nội
          </h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <form class="form-ota p-4 is-invalid">
            <div class="form-group ota-box-noidi">
              <label for="inputNoiDi1">Nơi đi</label>

              <div class="position-relative ota-box-container dropdown">
                <div class="ota-box-input ota-box-maker d-block d-md-none mr-5" data-toggle="modal"
                  data-target="#airportBegin">
                  <img src="/img/service/icon-noidi.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                    width="16" height="16" />
                  <input type="text" class="form-control" id="inputNoiDi1" placeholder="Nơi đi" readonly />
                </div>

                <div class="ota-box-input ota-box-maker d-none d-md-block" id="dropdownNoidi" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" data-reference="parent">
                  <img src="/img/service/icon-noidi.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                    width="16" height="16" />
                  <input type="text" class="form-control" id="inputNoiDi2" placeholder="Nơi đi" readonly />
                </div>

                <div class="ota-box-popper dropdown-menu" aria-labelledby="dropdownNoidi">
                  <div class="ota-box-input ota-box-search">
                    <img src="/img/service/icon-noidi.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                      width="16" height="16" />

                    <input type="text" class="form-control" id="" placeholder="Nơi đi" />
                  </div>

                  <div class="ota-box-list">
                    {% for item in range(0,10) %}
                    <div class="ota-box-item">
                      <div class="tt">Hồ Chí Minh, Việt Nam</div>
                      <div class="tb">SGN - Sân bay Tân Sơn Nhất</div>
                    </div>

                    {% endfor %}
                  </div>
                </div>

                
              </div>

              <div class="block-doichuyenbay">
                <div class="icon-noidi">
                  <img src="img/service/icon-maybay-noidi.svg" alt="Nơi đi" class="img-fluid" loading="lazy" width="19"
                    height="16" />
                </div>
                <button type="button" class="btn btn-doichuyenbay" ng-click="ChangeLocation()">
                  <img src="img/service/icon-change.svg" alt="icon tìm kiếm" class="img-fluid" loading="lazy" width="12"
                    height="12" />
                </button>
                <div class="icon-noiden">
                  <img src="img/service/icon-location.svg" alt="Nơi đến" class="img-fluid" loading="lazy" width="15"
                    height="18" />
                </div>
              </div>
            </div>
            <!-- is-invalid -->
            <div class="form-group ota-box-noiden">
              <label for="inputNoiDen1">Nơi đến</label>

              <div class="ota-box-input ota-box-maker d-block d-md-none mr-5" data-toggle="modal"
                data-target="#airportEnd" data-container="body" data-toggle="popover" data-placement="top"
                data-trigger="manual" id="ota-error-diadiem" data-content="Điểm đi và điểm đến phải khác nhau">
                <img src="/img/service/icon-noiden.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                  width="16" height="16" />
                <input type="text" class="form-control" id="inputNoiDi3" placeholder="Nơi đi" readonly />
              </div>

              <div class="
                position-relative
                ota-box-container
                dropdown
                d-none d-md-block
              " id="dropdown-noiden">
                <div class="ota-box-input ota-box-maker" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="/img/service/icon-noiden.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                    width="16" height="16" />
                  <input type="text" class="form-control" id="inputNoiDen1" placeholder="Nơi đến" readonly />
                </div>

                <div class="ota-box-popper dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="ota-box-input ota-box-search">
                    <img src="/img/service/icon-noiden.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                      width="16" height="16" />

                    <input type="text" class="form-control" id="" placeholder="Nơi đến" />
                  </div>

                  <div class="ota-box-list">
                    {% for item in range(0,10) %}
                    <div class="ota-box-item">
                      <div class="tt">Hồ Chí Minh, Việt Nam</div>
                      <div class="tb">SGN - Sân bay Tân Sơn Nhất</div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group ota-box-hanhkhach">
              <label for="inputHanhkhach">Hành khách</label>
              <div class="ota-box-input ota-box-maker d-block d-sm-none" data-toggle="modal"
                data-target="#airportPassenger">
                <img src="/img/service/icon-hanhkhach.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                  width="16" height="16" />
                <input type="text" class="form-control" id="inputNoiDen2" placeholder="Hành khách" readonly />
              </div>
              <div class="
                position-relative
                ota-box-container
                dropdown
                d-none d-sm-block
              " id="dropdown-noiden">
                <div class="ota-box-input ota-box-maker" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="/img/service/icon-hanhkhach.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                    width="16" height="16" />
                  <input type="text" class="form-control" id="inputNoiDen3" placeholder="Hành khách" readonly />
                </div>

                <div class="ota-box-popper dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <div class="ota-box-input ota-box-search">
                    <img src="/img/service/icon-hanhkhach.svg" alt="icon Nơi đi" class="img-fluid icon" loading="lazy"
                      width="16" height="16" />

                    <input type="hidden" id="nguoilon" />
                    <input type="hidden" id="treem" />
                    <input type="hidden" id="embe" />
                    <input type="text" class="form-control" id="inputHanhkhach" placeholder="Hành khách" readonly />
                  </div>

                  <div class="modal-hanhkhach px-3 pt-3 pb-0">
                    <div class="row mb-3 align-items-center">
                      <div class="col-1 hk-icon">
                        <img src="/img/service/icon-nguoilon.svg" alt="icon tìm kiếm" class="" loading="lazy" width="10"
                          height="26" />
                      </div>
                      <div class="col-5 pr-0 hk-name">
                        Người lớn <br />
                        <small>(từ 12 tuổi)</small>
                      </div>
                      <div class="col-1 hk-count">1</div>
                      <div class="col-4 col-md-5 text-center">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn">+</button>
                          <button type="button" class="btn">-</button>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                      <div class="col-1 hk-icon">
                        <img src="/img/service/icon-treem.svg" alt="icon tìm kiếm" class="" loading="lazy" width="17"
                          height="23" />
                      </div>
                      <div class="col-5 pr-0 hk-name">
                        Trẻ em<br />
                        <small>(2-12 tuổi)</small>
                      </div>
                      <div class="col-1 hk-count">0</div>
                      <div class="col-4 col-md-5 text-center">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn">+</button>
                          <button type="button" class="btn">-</button>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                      <div class="col-1 hk-icon">
                        <img src="/img/service/icon-embe.svg" alt="icon tìm kiếm" class="" loading="lazy" width="15"
                          height="20" />
                      </div>
                      <div class="col-5 pr-0 hk-name">
                        Em bé<br />
                        <small>(dưới 2 tuổi)</small>
                      </div>
                      <div class="col-1 hk-count">0</div>
                      <div class="col-4 col-md-5 text-center">
                        <div class="btn-group" role="group">
                          <button type="button" class="btn">+</button>
                          <button type="button" class="btn">-</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group ota-box-ngaydi">
              <label for="inputNgaydi">Ngày đi</label>

              <div class="position-relative ota-box-container">
                <div class="ota-box-input ota-box-maker">
                  <img src="/img/service/icon-ngay.svg" alt="icon Ngày" class="img-fluid icon" loading="lazy" width="16"
                    height="16" />
                  <input type="text" class="form-control" id="inputNgaydi" placeholder="Ngày đi" date-input="begin"
                    data-input readonly />
                </div>
              </div>
            </div>

            <div class="form-group ota-box-ngayden">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inputKhuHoiMobile" />
                <label class="form-check-label label-khuhoi" for="inputKhuHoiMobile">
                  Khứ hồi
                </label>
              </div>

              <div id="block_khuhoi" class="d-none">
                <label class="d-block d-md-none" for="inputNgayve">Ngày về</label>

                <div class="">
                  <div class="position-relative ota-box-container">
                    <div class="ota-box-input ota-box-maker">
                      <img src="/img/service/icon-ngay.svg" alt="icon Ngày" class="img-fluid icon" loading="lazy"
                        width="16" height="16" />
                      <input type="text" class="form-control" id="inputNgayve" placeholder="Khứ hồi" date-input="end"
                        data-input readonly />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group-btn align-self-end ota-box-button mt-3 mt-md-0">
              <button type="submit" class="btn btn-timkiem btn-primary-2">
                <img src="/img/service/icon-timkiem.svg" alt="icon tìm kiếm" class="img-fluid mr-2" loading="lazy"
                  width="16" height="16" />
                <span>Tìm chuyến bay</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal modal__fullscreen fade modal-timdiadiem" id="airportBegin" tabindex="-1"
  aria-labelledby="airportBeginLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Chọn điểm đi</div>

        <div class="modal__nav"></div>
      </div>

      <div class="px-3 py-2 shadow position-relative" style="z-index: 1">
        <div class="input-group block-timdiadiem">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img src="/img/service/icon-timkiem.svg" alt="icon tìm kiếm" class="img-fluid mr-2" loading="lazy"
                width="16" height="16" />
            </div>
          </div>
          <input type="text" class="form-control pl-0" placeholder="Tìm địa điểm" />
        </div>
      </div>

      <div class="modal-body p-0">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal__fullscreen fade modal-timdiadiem" id="airportEnd" tabindex="-1"
  aria-labelledby="airportEndLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">Chọn điểm đến</div>

        <div class="modal__nav"></div>
      </div>

      <div class="px-3 py-2 shadow position-relative" style="z-index: 1">
        <div class="input-group block-timdiadiem">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img src="/img/service/icon-timkiem.svg" alt="icon tìm kiếm" class="img-fluid mr-2" loading="lazy"
                width="16" height="16" />
            </div>
          </div>
          <input type="text" class="form-control pl-0" placeholder="Tìm địa điểm" />
        </div>
      </div>
      <div class="modal-body p-0">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            <div class="airport-name">Đà Nẵng, Việt Nam</div>
            <div class="airport-code">DAD - Sân bay Đà Nẵng</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal__fullscreen fade modal-hanhkhach" id="airportPassenger" tabindex="-1"
  aria-labelledby="airportPassengerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>
        <div class="modal__title text-center text-truncate">
          Thêm hành khách
        </div>
        <div class="modal__nav"></div>
      </div>

      <div class="modal-body">
        <div class="px-2 py-4">
          <div class="row mb-3 align-items-center">
            <div class="col-1 hk-icon">
              <img src="/img/service/icon-nguoilon.svg" alt="icon tìm kiếm" class="" loading="lazy" width="10"
                height="26" />
            </div>
            <div class="col-5 pr-0 hk-name">
              Người lớn <br />
              <small>(từ 12 tuổi)</small>
            </div>
            <div class="col-1 hk-count">1</div>
            <div class="col-4 col-md-5 text-center">
              <div class="btn-group" role="group">
                <button type="button" class="btn">+</button>
                <button type="button" class="btn">-</button>
              </div>
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <div class="col-1 hk-icon">
              <img src="/img/service/icon-treem.svg" alt="icon tìm kiếm" class="" loading="lazy" width="17"
                height="23" />
            </div>
            <div class="col-5 pr-0 hk-name">
              Trẻ em<br />
              <small>(2-12 tuổi)</small>
            </div>
            <div class="col-1 hk-count">0</div>
            <div class="col-4 col-md-5 text-center">
              <div class="btn-group" role="group">
                <button type="button" class="btn">+</button>
                <button type="button" class="btn">-</button>
              </div>
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <div class="col-1 hk-icon">
              <img src="/img/service/icon-embe.svg" alt="icon tìm kiếm" class="" loading="lazy" width="15"
                height="20" />
            </div>
            <div class="col-5 pr-0 hk-name">
              Em bé<br />
              <small>(dưới 2 tuổi)</small>
            </div>
            <div class="col-1 hk-count">0</div>
            <div class="col-4 col-md-5 text-center">
              <div class="btn-group" role="group">
                <button type="button" class="btn">+</button>
                <button type="button" class="btn">-</button>
              </div>
            </div>
          </div>
          <div class="row pt-4 mb-3">
            <div class="col-6 text-center">
              <button type="button" class="btn btn-outline-secondary btn-huy w-100" data-dismiss="modal">
                Hủy
              </button>
            </div>
            <div class="col-6 text-center">
              <button type="button" class="btn btn-primary btn-xacnhan w-100">
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="py-0 d-none">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <p class="text-gray-700">
          Vé máy bay <strong>TP. Hồ Chí Minh</strong> đi
          <strong>Hà Nội</strong>, cất cánh tại sân bay Tân Sơn Nhất (SGN) của
          TP. Hồ Chí Minh và hạ cánh tại sân bay Nội Bài (HAN) của Hà Nội. Để
          mua vé máy bay giá rẻ nhất, bạn chỉ cần mở
          <strong>Ví MoMo → “Du lịch - Đi lại” → “Vé máy bay”</strong>.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="d-none">
  <div class="container">
    <div class="row justify-content-center d-flex d-md-none">
      <div class="col-12 offset-md-4 col-md-8">
        <h2 class="text-pink-momo mb-2 text-center">Hồ Chí Minh</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 text-center pt-2">
        <div class="img-city">
          <img src="https://static.mservice.io/img/momo-upload-api-210329140930-637526237706929926.jpg" alt=""
            class="img-fluid" loading="lazy" width="335" height="168">
        </div>
      </div>
      <div class="col-12 col-md-8 pt-3 pt-md-0">
        <div class="h2 text-pink-momo mb-3 d-none d-md-block">Hồ Chí Minh</div>
        <p style="line-height:1.2">
          <strong><span style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Nunito,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">TP. Hồ Chí Minh (thường được gọi là
                        Sài Gòn) là điểm đến nổi tiếng với nhịp sống sôi động, hiện đại và đẳng cấp; cùng những di tích
                        lịch sử, các con phố khu chợ đã tồn tại cả trăm
                        năm.</span></span></span></span></span></span></strong>
        </p>

        <p style="line-height:1.2">
          <strong><span style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Nunito,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">Sân bay quốc tế Tân Sơn Nhất là sân
                        bay chính thức của Sài Gòn, nằm tại đường Trường Sơn, Phường 2, quận Tân Bình, cách trung tâm
                        thành phố 8km. Việc di chuyển tới sân bay Tân Sơn Nhất khá dễ dàng với nhiều lựa chọn như phương
                        tiện cá nhân, xe buýt, đặt taxi…&nbsp; </span></span></span></span></span></span></strong>
        </p>

      </div>
    </div>
  </div>
</section>
<section class="d-none">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="text-gray-600">Nơi khởi hành</div>
        <h2 class="text-pink-momo">TP. Hồ Chí Minh</h2>
        <div class="text-center py-4">
          <div class="img-city">
            <img src="/img/service/hcm.jpg" alt="" class="img-fluid" loading="lazy" width="335" height="168" />
          </div>
        </div>
        <p class="text-justify">
          Diam lectus massa ullamcorper diam nulla eget. Dapibus platea semper
          maecenas senectus quam faucibus erat. Nibh elit donec mi, a cras
          pellentesque. Morbi euismod sit diam, porttitor at. Mattis volutpat
          tortor sed rhoncus amet. In cursus ipsum sed pellentesque egestas
          neque. Phasellus mollis condimentum ultricies et pretium. Varius urna
          lobortis rutrum diam ut vitae eu eget. Ut ante potenti tortor vitae
          aliquam euismod tristique neque eros. Dictum lacus tempus egestas vel
          pulvinar in faucibus. Tristique libero placerat quam duis. In eget
          mauris enim enim eu sollicitudin magna lorem feugiat.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <div class="text-gray-600">Nơi đến</div>
        <h2 class="text-pink-momo">Hà Nội</h2>
        <div class="text-center py-4">
          <div class="img-city">
            <img src="/img/service/hn.jpg" alt="" class="img-fluid" loading="lazy" width="335" height="168" />
          </div>
        </div>
        <p class="text-justify">
          Diam lectus massa ullamcorper diam nulla eget. Dapibus platea semper
          maecenas senectus quam faucibus erat. Nibh elit donec mi, a cras
          pellentesque. Morbi euismod sit diam, porttitor at. Mattis volutpat
          tortor sed rhoncus amet. In cursus ipsum sed pellentesque egestas
          neque. Phasellus mollis condimentum ultricies et pretium. Varius urna
          lobortis rutrum diam ut vitae eu eget. Ut ante potenti tortor vitae
          aliquam euismod tristique neque eros. Dictum lacus tempus egestas vel
          pulvinar in faucibus. Tristique libero placerat quam duis. In eget
          mauris enim enim eu sollicitudin magna lorem feugiat.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="d-none">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-pink-momo text-md-center mb-5">
          Vé máy bay TP. Hồ Chí Minh đi Hà Nội giá rẻ
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <table class="table table-vemaybay">
          <colgroup>
            <col width="20%" />
            <col width="40%" />
            <col width="40%" />
          </colgroup>
          <thead>
            <tr>
              <th scope="col">Hãng bay</th>
              <th scope="col" class="text-right">Ngày bay</th>
              <th scope="col" class="text-right">Giá</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="/img/service/logo-vietnamairline.png" alt="" class="img-fluid" loading="lazy" width="35"
                  height="35" />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
            <tr>
              <td>
                <img src="/img/service/logo-vietjetair.png" alt="" class="img-fluid" loading="lazy" width="35"
                  height="35" />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
            <tr>
              <td>
                <img src="/img/service/logo-bamboo.png" alt="" class="img-fluid" loading="lazy" width="35"
                  height="35" />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
            <tr>
              <td>
                <img src="/img/service/logo-vietnamairline.png" alt="" class="img-fluid" loading="lazy" width="35"
                  height="35" />
              </td>
              <td>21-07-2021<br />12:45 PM</td>
              <td>1.000.000đ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="d-none">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-pink-momo text-md-center mb-4">Điểm đến phổ biến</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row">
          {% for i in range(0, 12) %}
          <div class="col-12 col-md-4 pb-2">
            <a href="">Vé máy bay đi {{i}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-none">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-pink-momo text-md-center mb-4">Chặng bay hàng đầu</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row">
          {% for i in range(0, 12) %}
          <div class="col-12 col-md-4 pb-2">
            <a href="">Vé máy bay đi {{i}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% set caseVeMayBay=[ { img: "logo-vietnamairline.png", name: "Vietnam Airline",
seat: "Phổ thông tiết kiệm", time: "1h 15m", bay: "Bay thẳng", gia: "564.000đ",
di: { time: "17:45", code: "SGN" }, den: { time: "19:00", code: "DAD" }, isNote:
true }, { img: "logo-vietnamairline.png", name: "Vietnam Airline", seat: "Phổ
thông tiết kiệm", time: "1h 15m", bay: "Bay thẳng", gia: "564.000đ", di: { time:
"17:45", code: "SGN" }, den: { time: "19:00", code: "DAD" }, isNote: false } ]
%} {% set sapXepVe = [ "Giá vé tăng dần", "Giá vé giảm dần", "Giờ khởi hành sớm
nhất", "Giờ khởi hành muộn nhất", "Thời gian bay nhanh nhất", "Số lượng điểm
dừng tăng dần" ] %} {% set hangMayBay = [ {img: "logo-vietnamairline.png", name:
"Vietnam Airline"} ] %}
<section class="danhsach-vemaybay pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-3 d-none d-md-block sticky-sidebar">
            <form class="ota-form-sort theiaStickySidebar" additionalMarginTop="100">
              <div class="d-none">
                <div class="font-weight-bold mb-3">Chuyến bay</div>
                <div class="block-shadow luotdi mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="font-weight-bold text-blue">Lượt đi</div>
                    <div class="font-weight-bold fs-16 text-red">564.000đ</div>
                  </div>
                  <div class="row my-3">
                    <div class="col-auto">
                      <div class="img-logo-airline">
                        <img src="/img/service/logo-vietnamairline.png" alt="Vietnam Airline" class="img-fluid"
                          loading="lazy" width="30" height="30" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="airline-name">Vietnam Airline</div>
                      <div class="airline-seat">Phổ thông tiết kiệm</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row align-items-center block-info-air mx-0 py-2">
                      <div class="col-3 col-md-2 col-lg-4 text-center">
                        <div class="time fs-16">17:45</div>
                        <div class="code">SGN</div>
                      </div>
                      <div class="col-6 col-md-7 col-lg-4 px-lg-0 text-center">
                        <div class="time-air none-icon fs-12 text-gray-600 pb-1">
                          1h 15m
                        </div>
                        <div class="air-type fs-12 text-gray-600 pt-1">
                          Bay thẳng
                        </div>
                      </div>
                      <div class="col-3 col-md-3 col-lg-4 text-center pl-0 pl-lg-2">
                        <div class="time fs-16">
                          17:45<small class="code pl-2 d-none">(+1d)</small>
                        </div>
                        <div class="code">SGN</div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-blue w-100">
                      Hủy thay đổi
                    </button>
                  </div>
                </div>
                <div class="block-shadow luotve mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="font-weight-bold text-blue">Lượt về</div>
                    <div class="font-weight-bold fs-16 text-red">0đ</div>
                  </div>
                  <div class="row my-3">
                    <div class="col-auto">
                      <div class="img-logo-airline">
                        <img src="/img/service/logo-vietnamairline.png" alt="Vietnam Airline" class="img-fluid"
                          loading="lazy" width="30" height="30" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="airline-name">Vietnam Airline</div>
                      <div class="airline-seat">Phổ thông tiết kiệm</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row align-items-center block-info-air mx-0 py-2">
                      <div class="col-3 col-md-2 col-lg-4 text-center">
                        <div class="time fs-16">17:45</div>
                        <div class="code">SGN</div>
                      </div>
                      <div class="col-6 col-md-7 col-lg-4 px-lg-0 text-center">
                        <div class="time-air none-icon fs-12 text-gray-600 pb-1">
                          1h 15m
                        </div>
                        <div class="air-type fs-12 text-gray-600 pt-1">
                          Bay thẳng
                        </div>
                      </div>
                      <div class="col-3 col-md-3 col-lg-4 text-center pl-0 pl-lg-2">
                        <div class="time fs-16">
                          17:45<small class="code pl-2 d-none">(+1d)</small>
                        </div>
                        <div class="code">SGN</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block-shadow thanhtien mb-3">
                  <div class="d-flex justify-content-between align-items-center" data-toggle="modal"
                    data-target="#modalChuyenBay">
                    <div class="font-weight-bold text-blue">Thành tiền</div>
                    <div class="font-weight-bold fs-16 text-red">564.000đ</div>
                  </div>
                </div>
              </div>
              <div class="d-none">
                <div class="font-weight-bold mb-3">Sắp xếp</div>
                <div class="block-shadow">
                  {% for i in range(0,5) %}
                  <div class="form-group row mb-1">
                    <div class="
                        col-2
                        d-flex
                        justify-content-center
                        align-items-center
                      ">
                      <input class="" type="radio" name="exampleRadios" id="exampleRadios{{i}}" value="option1"
                        checked />
                    </div>
                    <label class="
                        col-10 col-form-label
                        font-weight-bold
                        cursor-pointer
                      " for="exampleRadios{{i}}">
                      {{sapXepVe[i]}}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="position-relative">
                <div class="font-weight-bold my-3">Khoảng giá</div>
                <div class="px-lg-2 block-shadow">
                  <div class="
                      d-flex
                      justify-content-around
                      text-gray-300
                      fs-12
                      mb-2
                    ">
                    <label class="text-center">Từ
                      <span id="sliderPriceBegin" class="text-pink-momo d-block d-lg-inline">0đ</span></label>
                    <label>-</label>
                    <label class="text-center">Đến
                      <span id="sliderPriceEnd" class="text-pink-momo d-block d-lg-inline">0đ</span></label>
                  </div>
                  <div id="sliderPrice" class="mx-2" data-min="1000000" data-max="1000000"></div>
                  <input type="hidden" id="sliderPriceMin" />
                  <input type="hidden" id="sliderPriceMax" />
                  <div class="d-flex justify-content-between mt-3 fs-12">
                    <label id="showPriceMin" class="mb-0">0đ</label>
                    <label id="showPriceMax" class="mb-0">0đ</label>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="font-weight-bold my-3">Hãng bay</div>
                  <button type="button" class="btn btn-link fs-12 text-right p-0">
                    Chọn tất cả
                  </button>
                </div>
                <div class="block-shadow">
                  {% for i in range(0,5) %}
                  <div class="form-group row mb-0">
                    <div class="col-12 d-flex align-items-center">
                      <input class="ota-checkbox" type="checkbox" id="inlineCheckbox{{i}}" value="option{{i}}" />
                      <label class="font-weight-bold cursor-pointer" for="inlineCheckbox{{i}}">
                        <img src="/img/service/{{hangMayBay[0].img}}" alt="{{hangMayBay[0].name}}" class="img-fluid"
                          loading="lazy" width="36" height="36" />
                        <span class="fs-13">{{hangMayBay[0].name}}</span>
                      </label>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="font-weight-bold pb-3 mt-4">Giờ cất cánh</div>
                <div class="block-shadow">
                  <div class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-4
                      mt-2
                      fs-12
                    ">
                    <label class="mb-0">00:00</label>
                    <div id="sliderTimeBegin" class="flex-grow-1 mx-3"></div>
                    <label class="mb-0">23:59</label>
                  </div>
                  <input type="hidden" id="sliderTimeBeginMin" />
                  <input type="hidden" id="sliderTimeBeginMax" />
                </div>
                <div class="font-weight-bold pb-3 mt-4">Giờ hạ cánh</div>
                <div class="block-shadow">
                  <div class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-4
                      mt-2
                      fs-12
                    ">
                    <label class="mb-0">00:00</label>
                    <div id="sliderTimeEnd" class="flex-grow-1 mx-3"></div>
                    <label class="mb-0">23:59</label>
                  </div>
                  <input type="hidden" id="sliderTimeEndMin" />
                  <input type="hidden" id="sliderTimeEndMax" />
                </div>
                <div class="col-12 position-sticky d-flex justify-content-between mt-2 pt-3 px-1 bg-ota rounded"
                  style="bottom:0px; z-index:10; padding-bottom: 10px;">
                  <button type="button" class="btn btn-outline-primary-2 fs-14 px-0 mx-1 w-50 bg-ota">Xóa bộ
                    lọc</button>
                  <button type="button" class="btn btn-primary-2 fs-14 px-0 mx-1 w-50">Áp dụng</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-md-8 col-lg-8 col-xl-9 pl-md-3 sticky-content">
            <div class="theiaStickySidebar">
              <div class="loading d-none">
                <div class="progress">
                  <div class="
                      progress-bar progress-bar-striped progress-bar-animated
                    " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
                </div>
              </div>
              <div class="nodata d-none">
                <div class="text-center my-3">
                  <img src="/img/service/error.png" alt="không tìm thấy dữ liệu" class="img-fluid" />
                </div>
                <div class="font-weight-bold mb-3 text-center text-gray-600 fs-16">
                  Không tìm thấy chuyến bay - Quý khách vui lòng thay đổi ngày
                  hoặc hành trình khác
                </div>
              </div>
              <div class="d-none d-md-block">
                <div class="ota-navbar">
                  <div class="connecting-line"></div>
                  <div class="row list-step">
                    <div class="col-4 item-step active selected">
                      <div class="number">1</div>
                      <div class="name">Chọn vé lượt đi</div>
                    </div>
                    <div class="col-4 item-step active">
                      <div class="number">2</div>
                      <div class="name">Chọn vé lượt về</div>
                    </div>
                    <div class="col-4 item-step">
                      <div class="number">3</div>
                      <div class="name">Đặt vé</div>
                    </div>
                  </div>
                </div>
                <div class="row mx-0 mt-4">
                  <div class="col-6 pl-0 pr-2">
                    <div class="vemaybay-info active selected">
                      <div class="row align-items-center mb-3">
                        <div class="col-auto d-flex align-items-center pr-0">
                          <div class="number">1</div>
                          <div class="pl-2">
                            <div class="name">Vé lượt đi</div>
                            <div class="date">05/05/2021</div>
                          </div>
                        </div>
                        <div class="col text-right">
                          <button type="button" class="btn btn-blue w-100 fs-14 px-1">Đổi lượt đi</button>
                        </div>
                      </div>
                      <div class="row align-items-stretch mb-3 mb-md-0">
                        <div class="col-12 col-xl-auto mb-2 mb-xl-0 d-flex pr-xl-1">
                          <div class="img-logo-airline">
                            <img src="/img/service/logo-vietnamairline.png" alt="Vietnam Airline" class="img-fluid"
                              loading="lazy" width="30" height="30">
                          </div>
                          <div class="d-none d-md-block">
                            <div class="airline-name">Vietnam Airline</div>
                            <div class="airline-seat">Phổ thông tiết kiệm</div>
                          </div>
                        </div>
                        <div class="col-12 col-xl pl-xl-1">
                          <div class="d-flex align-items-center block-info-air">
                            <div class="col-auto text-right px-2">
                              <div class="time">17:45</div>
                              <div class="code">SGN</div>
                            </div>
                            <div class="col-auto flex-grow-1 px-lg-0 text-center">
                              <div class="time-air">1h 15m</div>
                              <div class="air-type">Bay thẳng</div>
                            </div>
                            <div class="col text-left pl-0 pl-lg-2">
                              <div class="time">17:45</div>
                              <div class="code">SGN</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 pl-2 pr-0">
                    <div class="vemaybay-info active">
                      <div class="row align-items-center mb-3">
                        <div class="col-auto d-flex align-items-center pr-0">
                          <div class="number">2</div>
                          <div class="pl-2">
                            <div class="name">Vé lượt về</div>
                            <div class="date">05/05/2021</div>
                          </div>
                        </div>
                        <div class="col text-right">
                          <button type="button" class="btn btn-blue fs-14 w-100 px-1">Đổi lượt về</button>
                        </div>
                      </div>
                      <div class="row align-items-stretch mb-3 mb-md-0">
                        <div class="col-12 col-xl-auto mb-2 mb-xl-0 d-flex pr-xl-1">
                          <div class="img-logo-airline">
                            <img src="/img/service/logo-vietnamairline.png" alt="Vietnam Airline" class="img-fluid"
                              loading="lazy" width="30" height="30">
                          </div>
                          <div class="d-none d-md-block">
                            <div class="airline-name">Vietnam Airline</div>
                            <div class="airline-seat">Phổ thông tiết kiệm</div>
                          </div>
                        </div>
                        <div class="col-12 col-xl pl-xl-1">
                          <div class="d-flex align-items-center block-info-air">
                            <div class="col-auto text-right px-2">
                              <div class="time">17:45</div>
                              <div class="code">SGN</div>
                            </div>
                            <div class="col-auto flex-grow-1 px-lg-0 text-center">
                              <div class="time-air">1h 15m</div>
                              <div class="air-type">Bay thẳng</div>
                            </div>
                            <div class="col text-left pl-0 pl-lg-2">
                              <div class="time">17:45<small class="code pl-1">(+1d)</small></div>
                              <div class="code">SGN</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-gray-600">Lưu ý: Bạn sẽ phải chọn lại lượt về nếu thay đổi lịch trình lượt đi</p>
                    <button type="button" class="btn btn-primary-2 px-5">Đặt vé</button>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="font-weight-bold text-pink-hot">
                    Chọn vé máy bay lượt đi (05/05/2021)
                  </div>
                  <div class="ml-auto">
                    <div class="row align-items-center justify-content-between mx-0">
                      <div class="col-4 font-weight-bold text-gray-800">Sắp xếp</div>
                      <div class="col-8 dropdown sapxep-vemaybay px-0">
                        <button class="btn dropdown-toggle bg-white" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-truncate">Thời gian bay nhanh nhất</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button type="button" class="dropdown-item active">Giá vé tăng dần</button>
                          <button type="button" class="dropdown-item">Giá vé giảm dần</button>
                          <button type="button" class="dropdown-item">Giờ khởi hành sớm nhất</button>
                          <button type="button" class="dropdown-item">Giờ khởi hành muộn nhất</button>
                          <button type="button" class="dropdown-item">Thời gian bay nhanh nhất</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                {% for i in [0,1,0,1,0,1] %}
                <div class="item-vemaybay">
                  <div class="row align-items-stretch mb-3 mb-md-0">
                    <div class="col-3 col-md-5 col-lg-5 d-flex">
                      <div class="img-logo-airline">
                        <img src="/img/service/{{caseVeMayBay[i].img}}" alt="{{caseVeMayBay[i].name}}" class="img-fluid"
                          loading="lazy" width="48" height="48" />
                      </div>
                      <div class="d-none d-md-block ml-3">
                        <div class="airline-name">{{caseVeMayBay[i].name}}</div>
                        <div class="airline-seat">{{caseVeMayBay[i].seat}}</div>
                      </div>
                    </div>
                    <div class="col-auto flex-grow-1">
                      <div class="row align-items-center block-info-air">
                        <div class="col-auto text-right">
                          <div class="time">{{caseVeMayBay[i].di.time}}</div>
                          <div class="code">{{caseVeMayBay[i].di.code}}</div>
                        </div>
                        <div class="col-auto flex-grow-1 px-lg-0 text-center">
                          <div class="time-air">{{caseVeMayBay[i].time}}</div>
                          <div class="air-type">{{caseVeMayBay[i].bay}}</div>
                        </div>
                        <div class="col-auto text-left pl-0 pl-lg-2">
                          <div class="time">
                            {{caseVeMayBay[i].di.time}}
                            <small class="code {{'d-none' if i===0 else ''}}">(+1d)</small>
                          </div>
                          <div class="code">{{caseVeMayBay[i].di.code}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center d-block d-md-none">
                    <div class="col">
                      <div class="airline-name d-inline mr-3">
                        {{caseVeMayBay[i].name}}
                      </div>
                      <div class="airline-seat d-inline">
                        {{caseVeMayBay[i].seat}}
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-7 col-md-6 pr-sm-0">
                      <div class="price">{{caseVeMayBay[i].gia}}</div>
                      {% if caseVeMayBay[i].isNote %}
                      <span class="block-note">
                        Khai thác bởi {{caseVeMayBay[i].name}}
                      </span>
                      {% endif %}
                    </div>
                    <div class="col-5 col-md-6 pt-2">
                      <div class="d-flex justify-content-end">
                        <button type="button" class="
                            btn btn-bookvemaybay
                          ">
                          Chọn
                        </button>
                      </div>
                      <div class="d-flex justify-content-end">
                        <button type="button" class="
                            btn btn-sm text-nowrap rounded-0 text-primary
                            btn-link px-0 pt-3 pb-0 d-flex items-end text-hover-momo
                          " data-toggle="modal" data-target="#modalThongtinve">
                          <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" viewBox="0 0 512 512"
                            style="width: 15px; height: 15px;">
                            <path fill="currentColor"
                              d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" />
                          </svg>
                          <span style="text-decoration: underline;">Điều kiện vé</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="row position-sticky" style="bottom: 0px; z-index: 10">
                  <div class="col-12 pb-2">
                    <div class="d-flex d-md-none justify-content-center w-75 block_sortby mx-auto">
                      <button type="button" class="btn w-50" data-toggle="modal" data-target="#modalSapXep">
                        <img src="/img/service/icon-sapxep.svg" alt="" class="img-fluid" loading="lazy" width="15"
                          height="14" />
                        Sắp xếp
                      </button>
                      <button type="button" class="btn w-50" data-toggle="modal" data-target="#modalBoLoc">
                        <img src="/img/service/icon-boloc.svg" alt="" class="img-fluid" loading="lazy" / width="13"
                          height="14" />
                        Bộ lọc
                      </button>
                    </div>
                  </div>
                  <div class="col-12 bg-white d-md-none block-chuyenbay-mobile">
                    <button type="button" class="btn btn-link btn-closed">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div data-toggle="modal" data-target="#modalChuyenBay">
                      <div class="row ota-form-sort mb-2">
                        <div class="col font-weight-bold text-blue text-left">
                          Lượt đi
                        </div>
                        <div class="
                            col-auto
                            font-weight-bold
                            text-pink-momo text-center
                          ">
                          Chủ Nhật, 05/05/2021
                        </div>
                        <div class="col font-weight-bold text-red fs-16 text-right">
                          564.000đ
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-5 pr-0">
                          <div class="airline-name">Vietnam Airline</div>
                          <div class="airline-seat">Phổ thông tiết kiệm</div>
                        </div>
                        <div class="col-7">
                          <div class="
                              row
                              align-items-center
                              block-info-air
                              mx-0
                              mb-0
                              py-2
                            ">
                            <div class="col-3 col-md-2 col-lg-4 text-center">
                              <div class="time fs-16">17:45</div>
                              <div class="code">SGN</div>
                            </div>
                            <div class="col-6 col-md-7 col-lg-4 px-lg-0 text-center">
                              <div class="
                                  time-air
                                  none-icon
                                  fs-12
                                  text-gray-600
                                  pb-1
                                ">
                                1h 15m
                              </div>
                              <div class="air-type fs-12 text-gray-600 pt-1">
                                Bay thẳng
                              </div>
                            </div>
                            <div class="
                                col-3 col-md-3 col-lg-4
                                text-center
                                pl-0 pl-lg-2
                              ">
                              <div class="time fs-16">
                                17:45<small class="code pl-2 d-none">(+1d)</small>
                              </div>
                              <div class="code">SGN</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal modal__fullscreen fade modal-hanhkhach" id="modalSapXep" tabindex="-1"
  aria-labelledby="modalSapXepLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>
        <div class="modal__title text-center text-truncate">
          <div class="block_sortby w-100 d-flex justify-content-center border-0">
            <span class="btn p-0">
              <img src="/img/service/icon-sapxep.svg" alt="" class="img-fluid" loading="lazy" width="15" height="14" />
              Sắp xếp
            </span>
          </div>
        </div>
        <div class="modal__nav"></div>
      </div>

      <div class="modal-body">
        <form class="ota-form-sort">
          <div class="font-weight-bold mb-3">Sắp xếp</div>
          <div class="block-shadow">
            {% for i in range(0,5) %}
            <div class="form-group row mb-1">
              <div class="col-2 d-flex justify-content-center align-items-center">
                <input class="" type="radio" name="exampleRadios" id="exampleRadiosMb{{i}}" value="option1" checked />
              </div>
              <label class="col-10 col-form-label font-weight-bold cursor-pointer" for="exampleRadiosMb{{i}}">
                {{sapXepVe[i]}}
              </label>
            </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal modal__fullscreen fade modal-hanhkhach" id="modalBoLoc" tabindex="-1"
  aria-labelledby="modalBoLocLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal__header">
        <div class="modal__nav">
          <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>
        <div class="modal__title text-center text-truncate">
          <div class="block_sortby w-100 d-flex justify-content-center border-0">
            <span class="btn p-0">
              <img src="/img/service/icon-boloc.svg" alt="" class="img-fluid" loading="lazy" width="13" height="14" />
              Bộ lọc
            </span>
          </div>
        </div>
        <div class="modal__nav"></div>
      </div>

      <div class="modal-body">
        <form class="ota-form-sort">
          <div class="position-relative">
            <div class="font-weight-bold my-3">Khoảng giá</div>
            <div class="block-shadow px-3">
              <div class="d-flex justify-content-around mb-2 text-gray-300 fs-12">
                <label class="text-center text-lg-left">Từ
                  <span id="sliderPriceMobileBegin" class="text-pink-momo d-block d-lg-inline">0đ</span></label>
                <label>-</label>
                <label class="text-center text-lg-left">Đến
                  <span id="sliderPriceMobileEnd" class="text-pink-momo d-block d-lg-inline">0đ</span></label>
              </div>
              <div id="sliderPriceMobile" data-min="1000000" data-max="1000000"></div>
              <div class="d-flex justify-content-between mt-3 fs-12">
                <label id="showPriceMinMobile" class="mb-0">0đ</label>
                <label id="showPriceMaxMobile" class="mb-0">0đ</label>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="font-weight-bold my-3">Hãng bay</div>
              <button type="button" class="btn btn-link fs-12 text-right p-0">
                Chọn tất cả
              </button>
            </div>
            <div class="block-shadow">
              {% for i in range(0,5) %}
              <div class="form-group row mb-0">
                <div class="col-12 d-flex align-items-center">
                  <input class="ota-checkbox" type="checkbox" id="inlineCheckboxMb{{i}}" value="option{{i}}" />
                  <label class="font-weight-bold cursor-pointer" for="inlineCheckboxMb{{i}}">
                    <img src="/img/service/{{hangMayBay[0].img}}" alt="{{hangMayBay[0].name}}" class="img-fluid"
                      loading="lazy" width="36" height="36" />
                    <span class="fs-13">{{hangMayBay[0].name}}</span>
                  </label>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="font-weight-bold pb-3 mt-4">Giờ cất cánh</div>
            <div class="block-shadow">
              <div class="
                  d-flex
                  justify-content-between
                  align-items-center
                  pt-4
                  mt-2
                  fs-12
                ">
                <label class="mb-0">00:00</label>
                <div id="sliderTimeBeginMobile" class="flex-grow-1 mx-3"></div>
                <label class="mb-0">23:59</label>
              </div>
            </div>
            <div class="font-weight-bold pb-3 mt-3">Giờ hạ cánh</div>
            <div class="block-shadow">
              <div class="
                  d-flex
                  justify-content-between
                  align-items-center
                  pt-4
                  mt-2
                  fs-12
                ">
                <label class="mb-0">00:00</label>
                <div id="sliderTimeEndMobile" class="flex-grow-1 mx-3"></div>
                <label class="mb-0">23:59</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-around">
        <button type="button" class="btn btn-outline-primary-2 fs-14 px-4">
          Xóa bộ lọc
        </button>
        <button type="button" class="btn btn-primary-2 fs-14 px-4">
          Áp dụng
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalChuyenBay" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body danhsach-vemaybay ota-form-sort">
        <div class="font-weight-bold mb-3 text-pink-momo">
          Chủ Nhật, 05/05/2021
        </div>
        <div class="block-shadow luotdi mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="font-weight-bold text-blue">Lượt đi</div>
            <div class="font-weight-bold fs-16 text-red">564.000đ</div>
          </div>
          <div class="row my-3">
            <div class="col-auto">
              <div class="img-logo-airline">
                <img src="/img/service/logo-vietnamairline.png" alt="Vietnam Airline" class="img-fluid" loading="lazy"
                  width="30" height="30" />
              </div>
            </div>
            <div class="col">
              <div class="airline-name">Vietnam Airline</div>
              <div class="airline-seat">Phổ thông tiết kiệm</div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row align-items-center block-info-air mx-0 py-2">
              <div class="col-3 col-md-2 col-lg-4 text-center">
                <div class="time fs-16">17:45</div>
                <div class="code">SGN</div>
              </div>
              <div class="col-6 col-md-7 col-lg-4 px-lg-0 text-center">
                <div class="time-air none-icon fs-12 text-gray-600 pb-1">
                  1h 15m
                </div>
                <div class="air-type fs-12 text-gray-600 pt-1">Bay thẳng</div>
              </div>
              <div class="col-3 col-md-3 col-lg-4 text-center pl-0 pl-lg-2">
                <div class="time fs-16">
                  17:45<small class="code pl-2 d-none">(+1d)</small>
                </div>
                <div class="code">SGN</div>
              </div>
            </div>
          </div>
        </div>
        <div class="font-weight-bold mb-3 text-pink-momo">
          Thứ 2, 06/05/2021
        </div>
        <div class="block-shadow luotve mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="font-weight-bold text-blue">Lượt về</div>
            <div class="font-weight-bold fs-16 text-red">0đ</div>
          </div>
          <div class="row my-3">
            <div class="col-auto">
              <div class="img-logo-airline">
                <img src="/img/service/logo-vietnamairline.png" alt="Vietnam Airline" class="img-fluid" loading="lazy"
                  width="30" height="30" />
              </div>
            </div>
            <div class="col">
              <div class="airline-name">Vietnam Airline</div>
              <div class="airline-seat">Phổ thông tiết kiệm</div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row align-items-center block-info-air mx-0 py-2">
              <div class="col-3 col-md-2 col-lg-4 text-center">
                <div class="time fs-16">17:45</div>
                <div class="code">SGN</div>
              </div>
              <div class="col-6 col-md-7 col-lg-4 px-lg-0 text-center">
                <div class="time-air none-icon fs-12 text-gray-600 pb-1">
                  1h 15m
                </div>
                <div class="air-type fs-12 text-gray-600 pt-1">Bay thẳng</div>
              </div>
              <div class="col-3 col-md-3 col-lg-4 text-center pl-0 pl-lg-2">
                <div class="time fs-16">
                  17:45<small class="code pl-2 d-none">(+1d)</small>
                </div>
                <div class="code">SGN</div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-shadow thanhtien mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="font-weight-bold text-blue">Thành tiền</div>
            <div class="font-weight-bold fs-16 text-red">564.000đ</div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-blue w-100 my-2">Đặt vé</button>
          <button type="button" class="btn btn-gray-blue w-100 my-2" data-dismiss="modal">
            Quay lại
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalThongtinve" tabindex="-1" aria-labelledby="modalThongtinveLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Điều kiện vé</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-2">
        <div class="row border-bottom mb-3 justify-content-center fs-16 fw-600">
          <div class="col-auto col-md order-1 pb-2 d-flex align-items-center justify-content-center">
            <img src="/img/service/icon_check.png" alt="Được phép" class="img-fluid mr-2" loading="lazy" width="24" height="24" />
            Được phép
          </div>
          <div class="col-auto order-3 order-md-2 pb-2 d-flex align-items-center justify-content-center">
            <img src="/img/service/icon_close.png" alt="Không được phép" class="img-fluid mr-2" loading="lazy" width="24" height="24" />
            Không được phép
          </div>
          <div class="col-auto col-md order-2 order-md-3 pb-2 d-flex align-items-center justify-content-center">
            <img src="/img/service/icon_money.png" alt="Thu phí" class="img-fluid mr-2" loading="lazy" width="24" height="24" />
            Thu phí
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Loại vé</div>
          <div class="col-auto d-flex align-items-center justify-content-end">Phổ thông tiết kiệm</div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Hạng đặt chỗ</div>
          <div class="col-auto d-flex align-items-center justify-content-end">Q-/N-/R-/T-/E-</div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Hành lý xách tay</div>
          <div class="col-auto">
            <p class="mb-1 d-flex align-items-center justify-content-end">
              Vietnam Airlines: 12kg
              <img src="/img/service/icon_check.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
            </p>
            <p class="mb-1 d-flex align-items-center justify-content-end">
              Pacific Airlines: 7kg
              <img src="/img/service/icon_check.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
            </p>
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Hành lý ký gửi</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            23kg
            <img src="/img/service/icon_check.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Hoàn vé</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            500.000VND
            <img src="/img/service/icon_money.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Thay đổi vé</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            
            <img src="/img/service/icon_check.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Go-show - đổi chuyến tại sân bay</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            500.000VND
            <img src="/img/service/icon_money.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">No-show - khách bỏ chuyến</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            500.000VND
            <img src="/img/service/icon_money.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Quầy thủ tục ưu tiên</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <img src="/img/service/icon_close.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Phòng khách Bông sen</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <img src="/img/service/icon_close.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Chọn trước chỗ ngồi</div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <img src="/img/service/icon_money.png" alt="Được phép" class="img-fluid ml-1" loading="lazy" width="22" height="22" />
          </div>
        </div>
        <div class="row mb-2 fs-14 align-items-start">
          <div class="col text-left text-gray-500">Hệ số cộng dặm Bông Sen Vàng</div>
          <div class="col-auto d-flex align-items-center justify-content-end">60%</div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  body {
    background-color: #F7F8FA;
  }

  .kv-section-curve svg path {
    fill: #F7F8FA;
  }

  .app-download {
    display: none !important;
  }

  @media (max-width: 767.98px) {
    .btn-back-to-top {
      display: none;
    }
  }
</style>

{% endblock %} {% block javascript %}
<script type="text/javascript" src="js/flatpickr.min.js" defer></script>
<script type="text/javascript" src="js/flatpickr.vn.min.js" defer></script>

<script type="text/javascript" src="js/theia-sticky-sidebar.min.js" defer></script>

<link rel="stylesheet" href="js/nouislider.min.css" />
<script type="text/javascript" src="js/nouislider.min.js"></script>

<!-- script dev -->
<script type="text/javascript" src="js/services-ota.js"></script>
<!-- script public -->
<!-- <script type="text/javascript" src="js/services-ota.min.js"></script> -->
{% endblock %}
