{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout-1.html'
%} {% block head %}

<link href="css/lp-brand.css" rel="stylesheet" type="text/css" media="all" />

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap"
  rel="stylesheet"
/>

{% endblock %} {% block header %}

<div class="navbar-container header-position navbar-lp-container">
  <nav class="navbar navbar-expand-lg navbar-dark py-0 px-0 navbar-lp">
    <div class="container header__container">
      <!-- <div class="logo-brand">
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-210804170628-637636935882758932.png
        " class="img-fluid" width="80" />
      </div>
      <style>
        .logo-brand {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      </style> -->

      <div class="d-flex align-items-center">
        <a class="navbar-brand pl-3 pl-md-0 vp-hide" href="index.html">
          <img alt="MoMo" src="img/sud/super-app-logo.png" width="70" />
        </a>

        <a class="vp-element vp-block ml-3" href="javascript:ExitApp()">
          <svg
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="32.9317"
              height="32.9317"
              rx="16.4659"
              fill="#c3c3c5"
            />
            <path
              d="M22.25 10.75L10.75 22.25"
              stroke="#717173"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.75 10.75L22.25 22.25"
              stroke="#717173"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>

   

      <div class="d-flex align-items-center order-lg-3">
        <button
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler vp-hide"
          data-target=".navbar-collapse"
          data-toggle="collapse"
          type="button"
        >
          <img
            alt="Navbar Toggler Open Icon"
            class="navbar-toggler-open icon"
            data-inject-svg
            src="img/icons/interface/icon-menu.svg"
          />
          <img
            alt="Navbar Toggler Close Icon"
            class="navbar-toggler-close icon"
            data-inject-svg
            src="img/icons/interface/icon-x.svg"
          />
        </button>

        <button
          class="btn btn-share px-3 vp-element vp-block"
          data-original-title=""
          data-placement="bottom"
          data-popover-content="#unique-id"
          data-toggle="popover"
          role="button"
          title=""
          type="button"
        >
          <svg
            width="31"
            height="30"
            viewBox="0 0 31 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style="background: #717173; border-radius: 3px"
          >
            <path
              d="M31 3.21429V26.7857C31 28.5609 29.513 30 27.6786 30H3.32143C1.48703 30 0 28.5609 0 26.7857V3.21429C0 1.43906 1.48703 0 3.32143 0H27.6786C29.513 0 31 1.43906 31 3.21429ZM21.0357 17.6786C20.0281 17.6786 19.1105 18.051 18.4213 18.661L13.7188 15.9305C13.8794 15.3199 13.8794 14.68 13.7188 14.0694L18.4213 11.3389C19.1105 11.949 20.0281 12.3214 21.0357 12.3214C23.1758 12.3214 24.9107 10.6425 24.9107 8.57143C24.9107 6.50036 23.1758 4.82143 21.0357 4.82143C18.8956 4.82143 17.1607 6.50036 17.1607 8.57143C17.1607 8.89266 17.2026 9.20444 17.2811 9.50203L12.5787 12.2325C11.8895 11.6224 10.9719 11.25 9.96428 11.25C7.82418 11.25 6.08929 12.9289 6.08929 15C6.08929 17.0711 7.82418 18.75 9.96428 18.75C10.9719 18.75 11.8895 18.3776 12.5787 17.7676L17.2812 20.498C17.201 20.8021 17.1606 21.1148 17.1608 21.4286C17.1608 23.4997 18.8957 25.1786 21.0358 25.1786C23.1759 25.1786 24.9108 23.4997 24.9108 21.4286C24.9107 19.3575 23.1758 17.6786 21.0357 17.6786Z"
              fill="#c3c3c5"
            />
          </svg>
        </button>
      </div>

      <div
        class="
          collapse
          navbar-collapse
          order-3 order-lg-2
          justify-content-lg-end
          menu-nongsan
        "
        id="navigation-menu"
      >
        {% set menu = [ { "name": "Siêu ứng dụng MoMo", "id" : "sieuungdung",
        "link" : "" }, { "name": "Hành trình", "id" : "hanhtrinh", "link" : ""
        }, { "name": "Khám phá", "id" : "khampha", "link" : "" }, { "name":
        "Điểm nổi bật", "id" : "diemnoibat", "link" : "" }, { "name": "Tin tức",
        "id" : "tintuc", "link" : "" }, { "name": "Hướng dẫn", "id" :
        "huongdan", "link" : "" }, { "name": "Hỏi đáp", "id" : "hoidap", "link"
        : "" }] %}

        <ul class="navbar-nav m-0">
          {% for item in menu %}
          <li class="nav-item">
            <a
              class="nav-link link-white nav-item"
              href="#{{item.id}}"
              data-smooth-scroll
              role="button"
              >{{item.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %} {% block content %}

<script>
  var url_string = location.href;
  var url = new URL(location.href);
  if (url && url.searchParams) {
    var pView = url.searchParams.get("view");
    if (pView == "app") {
      document.body.classList.add("view_app");
    }
  }

  function ExitApp() {
    try {
      window.ReactNativeWebView.postMessage("FinishActivity");
    } catch {}
  }
</script>

<div class="sud-hero-container o-hidden" id="sieuungdung">

  <div class="vp-element vp-block  text-center vp-sud-logo">
    <img alt="MoMo" src="img/sud/super-app-logo.png" width="70" />
  </div>


  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-11 col-lg-6">
        <!-- <div>
          <img src="img/sud/logo.png" width="68" />
        </div> -->

        <div class="mt-4 sud-kv">
          <!-- <img
            src="img/sud/can-gi-momo-lien-2.png"
            class="img-fluid d-block"
            width="440"
          /> -->
          <div>
            <div class="px-3 px-md-0">
              <picture title="Cần gì MoMo liền">
                <source
                  media="(max-width: 991px)"
                  srcset="img/sud/can-gi-momo-mobile.png"
                />
                <img
                  src="img/sud/can-gi-momo-lien-2.png"
                  width="583"
                  height="189"
                  alt="Cần gì MoMo liền"
                  class="img-fluid d-block mx-auto ml-lg-0"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="text-center text-sm-left">
          <div class="mt-4 sud-sapo">
            Với hàng trăm tính năng, bạn có thể thực hiện mọi nhu cầu cuộc sống
            với Siêu Ứng Dụng MoMo:
            <strong
              >Chuyển tiền, Gửi tiết kiệm, Vay nhanh, Đặt vé du lịch, Mua vé xem
              phim, Quyên góp, Mua sắm thanh toán…</strong
            >
          </div>
          <div class="mt-3 sud-sapo">
            Nhanh chóng, tiện lợi, an toàn. Cả thế giới trong bàn tay, một chạm
            là có ngay!
          </div>
        </div>

        <div class="mt-4 text-center text-lg-left vp-element vp-hidden">
          <a href="" class="btn btn-sud text-uppercase"> Mở App MoMo liền! </a>
          <!-- <a href="">
            <img src="img/sud/btn-cta.png" width="250" />
          </a> -->
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-6 mt-4 mt-md-5 mt-lg-0">
        <div
          class="
            embed-responsive embed-responsive-16by9
            d-none d-md-block
            sud-video-container
          "
        >
          <div
            class="
              sud-video
              o-hidden
              embed-responsive-item
              align-items-center
              justify-content-center
              d-flex
            "
          >
            <img
              alt="thanh pho Momo"
              class="rounded img-fluid shadow-lg w-100"
              loading="lazy"
              src="https://static.mservice.io/blogscontents/momo-upload-api-210702085934-637608131741031775.jpg"
            />
            <a
              class="position-absolute why-play-icon"
              data-aos="zoom-in"
              data-fancybox=""
              href="https://www.youtube.com/embed/ZhFpjy20aW4?controls=0"
            >
              <img
                alt="Media Play Icon"
                loading="lazy"
                src="https://momo.vn/momo2020/img/hocvien/play.svg"
                width="70"
              />
            </a>
          </div>
        </div>

        <div class="px-2 d-block d-md-none">
          <div class="embed-responsive embed-responsive-16by9 rounded">
            <iframe
              allowfullscreen=""
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/ZhFpjy20aW4?controls=0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sud-hero-bg-1">
    <img
      src=" img/sud/background_0010_city1.png"
      aria-colspan=""
      alt=""
      class=""
    />
  </div>

  <!-- <img src="https://github.githubassets.com/images/modules/site/home/hero-glow.svg" aria-colspan="" alt="Glowing universe"  class="sud-hero-pattern"> -->

  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    preserveAspectRatio="none"
    viewBox="0 0 1680 40"
    class="sud-curve"
  >
    <path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="currentColor"></path>
  </svg>

  <div class="sud-hero-mascot">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-8">
          <img
            src="img/sud/mascot-shadow.png"
            class="d-block img-fluid ml-auto mascot"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sud-page o-hidden">
  <section id="hanhtrinh" class="pb-lg-4">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-xl-9">
          <div class="sud-static-box">
            <div class="text-center">
              <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
              <h1 class="sud-heading text-center text-uppercase">
                <div>
                  <div class="sub-heading-box reveal">Hành Trình Trở Thành</div>
                </div>
                <span class="sub-heading-pink reveal" data-reveal-delay="400"
                  >Siêu Ứng Dụng MoMo</span
                >
              </h1>
            </div>

            <div class="sud-static-container">
              <div class="sud-static">
                <div class="val text-gradient-yellow-coral">
                  <span
                    data-countup
                    data-suffix=" triệu"
                    data-start="00"
                    data-end="25"
                    >00</span
                  ><sup>+</sup>
                </div>
                <div class="name">
                  Người dùng <br />
                  đồng hành
                </div>
              </div>

              <div class="sud-static">
                <div class="val text-gradient-yellow-coral">
                  <span
                    data-countup
                    data-suffix=" ngàn"
                    data-start="00"
                    data-end="30"
                    >00</span
                  ><sup>+</sup>
                </div>
                <div class="name">
                  Đối tác <br />
                  kinh doanh
                </div>
              </div>

              <div class="sud-static">
                <div class="val text-gradient-yellow-coral">
                  <span
                    data-countup
                    data-suffix=" ngàn"
                    data-start="000"
                    data-end="120"
                    >000</span
                  ><sup>+</sup>
                </div>
                <div class="name">
                  Điểm chấp nhận <br />
                  thanh toán
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sud-timeline-container">
      <article class="sud-timeline">
        <header class="sud-timeline-header">
          <div class="tt"><span class="sub">Năm</span>2009 - 2010</div>
        </header>
        <div class="sud-timeline-content">
          Ngân hàng Nhà nước cấp phép & chính thức ra mắt Ví điện tử MoMo
        </div>
      </article>

      <article class="sud-timeline">
        <header class="sud-timeline-header">
          <div class="tt"><span class="sub">Năm</span>2014 - 2015</div>
        </header>
        <div class="sud-timeline-content">
          <ul class="sud-timeline-list list-unstyled m-0">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>

              Ví điện tử Việt Nam đầu tiên ra mắt ứng dụng (application) trên
              điện thoại thông minh.
            </li>

            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>

              Đạt 500.000 khách hàng đầu tiên.
            </li>
          </ul>
        </div>
      </article>

      <article class="sud-timeline">
        <header class="sud-timeline-header">
          <div class="tt"><span class="sub">Năm</span>2016 - 2017</div>
        </header>
        <div class="sud-timeline-content">
          <ul class="sud-timeline-list list-unstyled m-0">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>

              Ví điện tử đầu tiên tại Việt Nam đạt Chứng nhận Bảo mật Quốc tế
              PCI DSS (level 1).
            </li>

            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>

              Đạt giải thưởng “Sản phẩm Di động tốt nhất Việt Nam" của Asia
              Banker
            </li>
          </ul>
        </div>
      </article>

      <article class="sud-timeline">
        <header class="sud-timeline-header">
          <div class="tt"><span class="sub">Năm</span>2018 - 2019</div>
        </header>
        <div class="sud-timeline-content">
          <ul class="sud-timeline-list list-unstyled m-0">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>

              Fintech duy nhất tại Việt Nam nằm trong TOP 50 FINTECH HÀNG ĐẦU
              THẾ GIỚI (KPMG)
            </li>

            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>

              Top 100 công ty Fintech thúc đẩy tài chính toàn diện trong kỷ
              nguyên số (IFC)
            </li>
          </ul>
        </div>
      </article>

      <article class="sud-timeline">
        <header class="sud-timeline-header">
          <div class="tt"><span class="sub">Năm</span>2020 - 2021</div>
        </header>
        <div class="sud-timeline-content">
          <ul class="sud-timeline-list list-unstyled m-0">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>
              Cung cấp dịch vụ đáp ứng mọi nhu cầu dân sinh 24/7
            </li>

            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="svg-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>

              Từ Ví điện tử số 1 Việt Nam trở thành Siêu ứng dụng số 1 Việt Nam
            </li>
          </ul>
        </div>
      </article>

      <div class="sud-static-path">
        <svg
          width="1400"
          height="567"
          viewBox="0 0 1400 567"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M285 154C285 240.539 189 145.461 189 232"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-dasharray="12 12"
          />
          <path
            d="M641 449C675.333 364.77 709.667 331.704 744 349.801"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-dasharray="12 12"
          />
          <path
            d="M400 436C324.56 410.408 393.44 308.041 318 321.155"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-dasharray="12 12"
          />
          <path
            d="M970 415C1101.43 337.979 970 304.97 1094 209"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-dasharray="12 12"
          />
        </svg>
      </div>

      <div class="sud-timeline-coin">
        <img
          src="img/sud/background_0002_c1.png"
          class="img-fluid coin1 rellax"
          loading="lazy"
          data-rellax-speed="-1"
        />
        <img
          src="img/sud/background_0003_c2.png"
          class="img-fluid coin2 rellax"
          loading="lazy"
          data-rellax-speed="1"
        />
        <img
          src="img/sud/background_0004_c3.png"
          class="img-fluid coin3 rellax"
          loading="lazy"
          data-rellax-speed="1"
        />
        <img
          src="img/sud/background_0005_c4.png"
          class="img-fluid coin4 rellax"
          loading="lazy"
          data-rellax-speed="1"
        />
        <!-- 
        <img src="img/sud/background_0005_c4.png" class="img-fluid" />
        <img src="img/sud/background_0007_c6.png" class="img-fluid" /> -->
      </div>
    </div>
  </section>

  <section class="pud-section" id="khampha">
    <div class="sud-hero-bg-2">
      <img
        src=" img/sud/background_0009_city2.png"
        aria-colspan=""
        alt=""
        class="d-block rellax"
        data-rellax-speed="-2"
        data-rellax-percentage="0.1"
        loading="lazy"
      />
    </div>

    <div class="container relative">
      <div class="sud-hero-bg-3">
        <img
          src=" img/sud/background_0001_light-2.png"
          aria-colspan=""
          alt=""
          class="d-block rellax"
          data-rellax-speed="-2"
          data-rellax-percentage="0.1"
          loading="lazy"
        />
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2 class="sud-heading text-center text-uppercase">
              <div>
                <div class="sub-heading-box reveal">Có gì trên</div>
              </div>
              <span class="sub-heading-pink reveal" data-reveal-delay="400"
                >Siêu Ứng Dụng MoMo</span
              >
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="sud-section-ff-container">
      <div class="sud-section-ff">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6">
              <div class="py-2 sud-section-content">
                <h3 class="h5 sud-section-sup">MoMo chuyển tiền</h3>
                <h2 class="sud-section-heading text-gradient-cyan-coral">
                  Cần Chuyển Tiền - MoMo liền!
                </h2>

                <ul class="list-unstyled lead sud-section-list">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>

                    Miễn phí, nhanh chóng, bảo mật.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>

                    Chuyển tiền qua số điện thoại.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>

                    Bao nhiêu cũng chuyển, dù chỉ 100Đ.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>

                    Gửi gắm lời nhắn với thiệp và sticker.
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-5">
              <div
                class="
                  embed-responsive embed-responsive-16by9
                  bg-gray
                  sud-thumbnail
                  reveal
                "
                data-reveal-delay="400"
              >
                <img
                  class="embed-responsive-item"
                  src="img/sud/640x360-CT.jpg"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sud-section-hr"></div>

      <div class="sud-section-ff">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6 order-md-2">
              <div class="py-2 sud-section-content">
                <h3 class="h5 sud-section-sup">
                  MoMo Tài Chính | Túi Thần Tài
                </h3>
                <h2 class="sud-section-heading text-gradient-cyan-coral">
                  Cần Tiền Lời - Tìm Trên MoMo Liền
                </h2>

                <ul class="list-unstyled lead sud-section-list">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Chỉ 10.000Đ có tiền lời mỗi ngày lên đến 6%/năm.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Nạp rút tức thì không tốn phí.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Số dư vừa sinh lời vừa thanh toán được trên MoMo.
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-5 order-md-1">
              <div
                class="
                  embed-responsive embed-responsive-16by9
                  bg-gray
                  sud-thumbnail
                  reveal
                "
                data-reveal-delay="400"
              >
                <img
                  class="embed-responsive-item"
                  src="img/sud/800x550-TC.jpg"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sud-section-hr"></div>
      <div class="sud-section-ff">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6">
              <div class="py-2 sud-section-content">
                <h3 class="h5 sud-section-sup">MoMo Tài Chính | Ví Trả Sau</h3>
                <h2 class="sud-section-heading text-gradient-cyan-coral">
                  Cần Ứng Tiền - Tìm Trên Momo Liền
                </h2>

                <ul class="list-unstyled lead sud-section-list">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>

                    0 Lãi suất
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    0 Phí kích hoạt
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    0 Phí dịch vụ
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    0 Chứng minh thị thập
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-5">
              <div
                class="
                  embed-responsive embed-responsive-16by9
                  bg-gray
                  sud-thumbnail
                  reveal
                "
                data-reveal-delay="400"
              >
                <img
                  class="embed-responsive-item"
                  src="img/sud/momo-taichinh.png"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sud-section-hr"></div>
      <div class="sud-section-ff">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6 order-md-2">
              <div class="py-2 sud-section-content">
                <h3 class="h5 sud-section-sup">MoMo Giải Trí</h3>
                <h2 class="sud-section-heading text-gradient-cyan-coral">
                  Cần Giải Trí - MoMo Liền!
                </h2>

                <ul class="list-unstyled lead sud-section-list">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Mua vé xem phim, vé số, karaoke... trong tầm tay, thanh toán
                    chỉ một giây.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Chẳng phải đợi chờ, tiết kiệm thời giờ.
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-5 order-md-1">
              <div
                class="
                  embed-responsive embed-responsive-16by9
                  bg-gray
                  sud-thumbnail
                  reveal
                "
                data-reveal-delay="400"
              >
                <img
                  class="embed-responsive-item"
                  src="img/sud/640x360-GT.jpg"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sud-section-hr"></div>

      <div class="sud-section-ff">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6">
              <div class="py-2 sud-section-content">
                <h3 class="h5 sud-section-sup">MoMo Du Lịch</h3>
                <h2 class="sud-section-heading text-gradient-cyan-coral">
                  Cần Du Lịch - MoMo Liền!
                </h2>

                <ul class="list-unstyled lead sud-section-list">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Quản lý cả chuyến đi, so sánh mọi loại giá.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Thanh toán vé máy bay, xe khách, tàu hỏa, khách sạn...
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Bảo mật an toàn, ngập tràn khuyến mãi.
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-5">
              <div
                class="
                  embed-responsive embed-responsive-16by9
                  bg-gray
                  sud-thumbnail
                  reveal
                "
                data-reveal-delay="400"
              >
                <img
                  class="embed-responsive-item"
                  src="img/sud/640x360-OTA.jpg"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sud-section-hr"></div>

      <div class="sud-section-ff">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6 order-md-2">
              <div class="py-2 sud-section-content">
                <h3 class="h5 sud-section-sup">MoMo Quyên Góp</h3>
                <h2 class="sud-section-heading text-gradient-cyan-coral">
                  Cần Quyên Góp - MoMo Liền!
                </h2>

                <ul class="list-unstyled lead sud-section-list">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Chung tay giúp đỡ hoàn cảnh khó khăn.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Quyên góp Heo Vàng, trao ngàn quà tặng.
                  </li>

                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="svg-icon"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6"
                      />
                    </svg>
                    Phát tâm công đức, cúng dường cầu an.
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-5 order-md-1">
              <div
                class="
                  embed-responsive embed-responsive-16by9
                  bg-gray
                  sud-thumbnail
                  reveal
                "
                data-reveal-delay="400"
              >
                <img
                  class="embed-responsive-item"
                  src="img/sud/640x360-D.jpg"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pud-section pb-0" id="diemnoibat">
    <div class="sud-hero-bg-2">
      <img
        src=" img/sud/background_0009_city2.jpg"
        aria-colspan=""
        alt=""
        class="d-block rellax"
        data-rellax-speed="-2"
        data-rellax-percentage="0.1"
        loading="lazy"
        width="230"
      />
    </div>

    <div class="container relative">
      <div class="sud-hero-bg-3">
        <img
          src=" img/sud/background_0001_light-2.png"
          aria-colspan=""
          alt=""
          class="d-block rellax"
          data-rellax-speed="-2"
          data-rellax-percentage="0.1"
          loading="lazy"
        />
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2 class="sud-heading text-center text-uppercase">
              <div>
                <div class="sub-heading-box reveal">Lý do bạn nên chọn</div>
              </div>
              <span class="sub-heading-pink reveal" data-reveal-delay="400"
                >Siêu Ứng Dụng MoMo</span
              >
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container pt-3">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 order-md-2 order-2">
          <div class="sud-feature">
            <h3 class="text-gradient-cyan-coral hh">Đa Dạng Tính Năng</h3>
            <div>
              MoMo cung cấp vô vàn tính năng trong các lĩnh vực: Chuyển tiền,
              Tài chính, Du lịch, Giải trí, Quyên góp... đáp ứng mọi nhu cầu
              cuộc sống người dùng. Cần gì cứ MoMo liền!
            </div>
          </div>

          <div class="sud-feature">
            <h3 class="text-gradient-cyan-coral hh">Phổ Biến Khắp Việt Nam</h3>
            <div>
              Với hơn 25 triệu người tin dùng, MoMo đã có hơn 120.000 điểm thanh
              toán và hơn 30.000 đối tác liên kết khắp Việt Nam nhằm phục vụ
              khách hàng mọi lúc, mọi nơi.
            </div>
          </div>

          <div class="sud-feature">
            <h3 class="text-gradient-cyan-coral hh">Nhanh Chóng, Tiện Lợi</h3>
            <div>
              Tiết kiệm thời gian với các tính năng hiện đại của MoMo. Chỉ cần
              lướt tay, bạn đã thực hiện xong giao dịch trong tích tắc, mọi lúc
              mọi nơi: Chuyển tiền chỉ 1s, thanh toán/nạp tiền siêu tốc...
            </div>
          </div>
        </div>
        <div
          class="
            col-12 col-md-12 col-lg-4
            align-self-start
            order-lg-2 order-1
            mb-4 mb-lg-0
          "
        >
          <div class="px-5 px-lg-0">
            <img
              src="img/sud/momo-phone-all-sm.png"
              class="img-fluid d-block mx-auto reveal px-4 px-lg-0"
              width="360"
              loading="lazy"
            />
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 order-md-3 order-3">
          <div class="sud-feature">
            <h3 class="h4 text-gradient-cyan-coral hh">Đơn Giản, Dễ Sử Dụng</h3>
            <div>
              MoMo có giao diện thân thiện và đơn giản hóa mọi thao tác. Vì thế,
              mọi lứa tuổi, mọi ngành nghề đều thể sử dụng MoMo một cách dễ
              dàng, thuận tiện.
            </div>
          </div>

          <div class="sud-feature">
            <h3 class="h4 text-gradient-cyan-coral hh">Tiết Kiệm Hiệu Quả</h3>
            <div>
              Thường xuyên có nhiều chương trình ưu đãi hấp dẫn kết hợp với hàng
              trăm đối tác, người dùng tiết kiệm chi phí hơn khi sử dụng MoMo.
            </div>
          </div>

          <div class="sud-feature">
            <h3 class="h4 text-gradient-cyan-coral hh">
              Bảo Mật An Toàn Chuẩn Quốc Tế
            </h3>
            <div>
              Công nghệ bảo mật MoMo đạt chứng nhận toàn cầu. Đảm bảo tài khoản
              người dùng sẽ được bảo vệ ở mức độ an toàn cao nhất.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pud-section" id="tintuc">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2 class="sud-heading text-center text-uppercase">
              <div>
                <div class="sub-heading-box reveal">
                  BÁO CHÍ & <br class="d-inline d-md-none" />
                  NGƯỜI NỔI TIẾNG NÓI GÌ VỀ
                </div>
              </div>
              <span class="sub-heading-pink reveal" data-reveal-delay="400"
                >Siêu Ứng Dụng MoMo</span
              >
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="swiper-container swiper-tintuc">
        <div class="swiper-wrapper">
          {% for item in range(0,5) %}
          <div class="swiper-slide">
            <article class="card card__box h-100 card-neon">
              <div class="card__inner">
                <header class="card__header">
                  <figure class="card__figure">
                    <a
                      href="{{News2[i].link}}"
                      data-toggle="modal"
                      data-target="#modalTinTuc"
                    >
                      <div class="embed-responsive embed-responsive-new">
                        <img
                          src="https://static.mservice.io/blogscontents/momo-upload-api-210712112620-637616859808103570.jpg"
                          loading="lazy"
                          alt=""
                          class="embed-responsive-img card__image"
                        />
                      </div>
                    </a>
                  </figure>
                </header>

                <div class="card__body pb-0">
                  <h5 class="card__title">
                    <a
                      href=""
                      data-toggle="modal"
                      data-target="#modalTinTuc"
                      class="link-pink font-weight-bold"
                    >
                      Đổ bộ Giờ Vàng Đấu Nhóm, nhận tiền thưởng khủng 200 triệu
                      từ Túi Thần Tài và Ví Trả Sau
                    </a>
                  </h5>

                  <p class="card__copy">{{News2[i].desc | safe}}</p>
                </div>

                <div class="card__footer font-14 text-gray">
                  <div class="row no-gutters">
                    <div class="col">
                      <div class="">12/07/2021</div>
                    </div>

                    <div class="col-auto">
                      <a
                        href="javascript:void(0)"
                        ng-click="ShowArticleLandingPage(1877,'modal-article-1485')"
                        >Xem chi tiết</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Tiếp theo"
            focusable="false"
            style="fill: currentcolor"
          >
            <path
              d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg
            viewBox="0 0 18 18"
            role="img"
            aria-label="Trước"
            focusable="false"
            style="fill: currentcolor"
          >
            <path
              d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <section class="pud-section" id="huongdan">
    <div class="sud-hero-bg-2">
      <img
        src=" img/sud/background_0009_city2.png"
        aria-colspan=""
        alt=""
        class="d-block rellax"
        data-rellax-speed="-2"
        data-rellax-percentage="0.1"
        width="280"
      />
    </div>

    <div class="container relative">
      <div class="sud-hero-bg-3">
        <img
          src=" img/sud/background_0001_light-2.png"
          loading="lazy"
          aria-colspan=""
          alt=""
          class="d-block rellax"
          data-rellax-speed="-2"
          data-rellax-percentage="0.1"
        />
      </div>

      <div class="sud-hero-bg-4">
        <img
          src=" img/sud/background_0002_c1.png"
          loading="lazy"
          aria-colspan=""
          alt=""
          class="d-block rellax"
          data-rellax-speed="-2"
          data-rellax-percentage="0.1"
        />
      </div>

      <div class="sud-hero-bg-5">
        <img
          src=" img/sud/background_0006_c5.png"
          loading="lazy"
          aria-colspan=""
          alt=""
          class="d-block rellax"
          data-rellax-speed="-2"
          data-rellax-percentage="0.1"
        />
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12">
          <div class="text-center">
            <!-- <div class="sub-heading-2"><strong>Hành Trình Trở Thành</strong></div> -->
            <h2 class="sud-heading text-center text-uppercase">
              <div>
                <div class="sub-heading-box reveal">
                  Trở thành khách hàng của
                </div>
              </div>
              <span class="sub-heading-pink reveal" data-reveal-delay="400"
                >Siêu Ứng Dụng MoMo</span
              >
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-none d-lg-block">
      <div class="manual-wrapepr manual-dark">
        {% include 'components/huongdan-desktop.html' %}
      </div>

      <div class="mt-4 text-center">
        <div class="newUser-noti">
          <div class="newUser-noti__content">
            <div>
              Trở thành khách hàng mới nhận ngay
              <strong class="text-yellow">GÓI QUÀ 500k</strong>
            </div>
            <div class="ml-3">
              <a
                href=""
                class="
                  btn btn-pulse btn-warning btn-sm
                  rounded-pill
                  font-weight-bold
                "
                >Xem ngay</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-block d-lg-none">
      <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="htw">
            <div
              class="htw__item bg-white"
              data-toggle="modal"
              data-target="#htu-modal"
            >
              <div class="htw__content">
                <strong>Bước 1:</strong> Tải và đăng ký
              </div>
              <div class="htw__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="svg-icon"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
            </div>

            <div
              class="htw__item bg-white"
              data-toggle="collapse"
              href="#dsNganhang"
              role="button"
              aria-expanded="false"
              aria-controls="dsNganhang"
            >
              <div class="htw__content">
                <strong>Bước 2:</strong> Liên kết ngân hàng
              </div>

              <div class="htw__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="svg-icon"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
            </div>

            <div class="collapse" id="dsNganhang">
              <div class="htu-bank">
                <div class="htu-bank-col">
                  <div
                    class="htu-bank-item"
                    data-toggle="modal"
                    data-target="#htu-modal"
                  >
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                    />
                    <div class="htu-bank-name">VCB</div>
                  </div>
                </div>

                <div class="htu-bank-col">
                  <div
                    class="htu-bank-item"
                    data-toggle="modal"
                    data-target="#htu-modal"
                  >
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                    />
                    <div class="htu-bank-name">Agribank</div>
                  </div>
                </div>

                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                    />
                    <div class="htu-bank-name">Vietinbank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                    />
                    <div class="htu-bank-name">BIDV</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                    />
                    <div class="htu-bank-name">ACB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                    />
                    <div class="htu-bank-name">Shinhan</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                    />
                    <div class="htu-bank-name">Sacombank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                    />
                    <div class="htu-bank-name">SCB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                    />
                    <div class="htu-bank-name">VPBank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                    />
                    <div class="htu-bank-name">VIB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                    />
                    <div class="htu-bank-name">Eximbank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                    />
                    <div class="htu-bank-name">TPBank</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                    />
                    <div class="htu-bank-name">Bảo Việt</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                    />
                    <div class="htu-bank-name">VRB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                    />
                    <div class="htu-bank-name">OCB</div>
                  </div>
                </div>
                <div class="htu-bank-col">
                  <div class="htu-bank-item">
                    <img
                      ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                      class="d-block mx-auto img-fluid"
                      alt=""
                      src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                    />
                    <div class="htu-bank-name">ABBank</div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="htw__item bg-white"
              data-toggle="modal"
              data-target="#htu-modal"
            >
              <div class="htw__content">
                <strong>Bước 3:</strong> Nạp tiền vào ví
              </div>
              <div class="htw__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="svg-icon"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card card__box shadow-none bg-black-4">
            <div class="card__body px-3 py-4">
              <div class="px-3 mb-2 mt-0">
                <img
                  src="img/momo/quatang.png"
                  width="320"
                  class="img-fluid d-block mx-auto"
                  alt=""
                />
              </div>

              <h2 class="text-center text-white font-weight-normal mt-3">
                Trở thành khách hàng mới nhận ngay
                <strong class="text-yellow">Gói quà 500K</strong>
              </h2>

              <div class="text-center mt-3">
                <a
                  href=""
                  class="
                    btn btn-pulse btn-warning
                    rounded-pill
                    font-weight-bold
                  "
                  >Xem ngay</a
                >
                <!-- <a href="" class="btn btn-primary-2 rounded-pill font-weight-bold">TẢI NGAY</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pud-section pt-0" id="lbse-1561">
    <div class="container relative">
      <div class="sud-hero-bg-6">
        <img
          src=" img/sud/background_0001_light-2.png"
          loading="lazy"
          aria-colspan=""
          alt=""
          class="d-block rellax"
          data-rellax-speed="-2"
          data-rellax-percentage="0.1"
        />
      </div>
    </div>

    <div class="sud-hoidap" id="hoidap">
      <div class="container">
        <div class="row align-items-start">
          <div class="col-12 col-lg-4 text-center text-lg-left">
            <h2 class="text-pink-momo mt-lg-3">Hỏi đáp cùng MoMo</h2>

            <p class="lead text-gray-700">
              Những câu hỏi thường gặp khi sử dụng MoMo
            </p>
          </div>

          <div class="col-12 col-lg-8">
            {% include "layouts/accordion-question.html" %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pud-section">
    <div class="container sud-blog">
      <div class="text-center section__title">
        <h2 class="sub-heading-pink reveal">Bài viết Blog MoMo</h2>
      </div>

      <div class="row sm-gutters">
        {% for i in [1, 2, 3, 4] %}
        <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
          {% include "components/article-0.html" %}
        </div>
        {% endfor %}
      </div>

      <div class="text-center mt-0 mt-lg-4">
        <a href="" class="btn btn-sud py-1 font-weight-bold rounded-pill px-4"
          >Xem thêm</a
        >
      </div>
    </div>
  </section>

  <br />
  <br />
</div>

<div class="app-download service vp-hide">
  <div class="container text-center">
    <div class="app-download__content">
      <div class="tt"></div>
      <div class="app-download__btn">
        <a
          data-redirect-uc="p2p"
          class="
            d-none d-md-inline-block
            btn
            font-weight-bold
            btn-primary-2 btn-pulse
            py-2
            px-4
          "
          data-qrcode-id="17"
          data-target="#qrcode-modal-17"
          data-toggle="modal"
          href="javascript:void(0)"
          target="_blank"
          >TẢI APP MOMO</a
        >
        <a
          data-redirect-uc="p2p"
          class="
            btn
            font-weight-bold
            btn-primary-2 btn-pulse
            py-2
            px-4
            d-md-none d-inline-block
            data-redirect-uc
          "
          href="/redirect-cta?uc=p2p&amp;to=https%3A%2F%2Fmomoapp.page.link%2FsdBWFFKpaCaRoFzy9&amp;from=https%3A%2F%2Fmomo.vn%2Fchuyen-tien%23home"
          target="_blank"
          >TẢI APP MOMO</a
        >
      </div>
    </div>
  </div>

  <a
    href=""
    title="dismiss"
    class="js-app-download headerstrip__banner-dismiss"
  >
    <svg
      class="headerstrip__dismiss-icon"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19.8 2.4c.3.3.3.8 0 1.1l-6 6c-.3.3-.3.8 0 1.1l6 6c.3.3.3.8 0 1.1l-2.2 2.2c-.3.3-.8.3-1.1 0l-6-6c-.3-.3-.8-.3-1.1 0l-6 6c-.3.3-.8.3-1.1 0L.1 17.7c-.3-.3-.3-.8 0-1.1l6-6c.3-.3.3-.8 0-1.1l-6-6c-.3-.3-.3-.8 0-1.1L2.3.2c.3-.3.8-.3 1.1 0l6 6c.3.3.8.3 1.1 0l6-6c.3-.3.8-.3 1.1 0l2.2 2.2z"
      ></path>
    </svg>
  </a>
</div>

{% include "layouts/modal.html" %} {% endblock %} {% block javascript %}

<script src="js/rellax.min.js"></script>

<script>
  var rellax = new Rellax(".rellax");

  $("body").attr("data-smooth-scroll-offset", 50);

  $(document).ready(function () {
    var headerHideAuto = function () {
      var mainHeader = $(".navbar-lp-container");
      var scrolling = false,
        previousTop = 0,
        currentTop = 0,
        scrollDelta = 10,
        scrollOffset = 150;

      function autoHideHeader() {
        var currentTop = $("html").scrollTop();
        if (previousTop - currentTop > scrollDelta) {
          mainHeader.removeClass("is-hidden");
        } else if (
          currentTop - previousTop > scrollDelta &&
          currentTop > scrollOffset
        ) {
          mainHeader.addClass("is-hidden");
        }

        previousTop = currentTop;
        scrolling = false;
      }

      $(window).on("scroll", function () {
        if (!scrolling) {
          scrolling = true;
          !window.requestAnimationFrame
            ? setTimeout(autoHideHeader, 250)
            : requestAnimationFrame(autoHideHeader);
        }
      });
    };

    headerHideAuto();

    function navbarFixed() {
      $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll > 100) {
          $(".navbar-lp-container").addClass("is-fixed");
        } else {
          $(".navbar-lp-container").removeClass("is-fixed");
        }
      });
      $(window).scroll();
    }
    navbarFixed();

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    $("body").scrollspy({ target: ".menu-nongsan", offset: 160 });

    $("#navigation-menu").on("show.bs.collapse", function () {
      document.body.classList.add("navbar-lp-open");
    });

    $("#navigation-menu").on("hide.bs.collapse", function () {
      document.body.classList.remove("navbar-lp-open");
    });

    $(".navbar-lp .navbar-nav").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    $(".navbar-lp").on("click", function () {
      $(".navbar-collapse").collapse("hide");
    });

    var swiperTinTuc = new Swiper(".swiper-tintuc", {
      slidesPerView: 3,
      spaceBetween: 30,
      // simulateTouch: false,
      draggable: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      speed: 500,
      breakpoints: {
        991: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        767: {
          slidesPerView: "auto",
          spaceBetween: 5,
        },
      },
    });
  });
</script>
{% endblock %}
