{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block head %}

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<video
  playsinline=""
  style="width: 100%"
  id="videoLoop_1460"
  class="bg--video-loop"
  preload="true"
  autoplay="true"
  muted="true"
  autobuffer="true"
>
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
</video>

<div class="dona__wrapper">
  <div class="dona__hero">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-6">
          <!-- <video width="320" height="240" controls>
          <source
            src=" https://operationsmile.ca/wp-content/uploads/waiting-campaign4.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video> -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- Scripts -->
{% block javascript %} {% endblock %}
