{% import 'macros/helpers.html' as macro %} {% extends 'layouts/layout.html' %}
{% block content %}

<section>
  <div class="container">
    <h1 class="h2 mb-1">Tin tức</h1>
    <p class="lead">Chia sẻ thông tin, kiến thức có giá trị dành cho bạn</p>
  </div>

  <div class="container">
    <nav class="nav">
      <a class="nav-link active" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 svg-icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z"
            clip-rule="evenodd"
          /></svg
        >Tin mới</a
      >

      <a class="nav-link" href="#"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 svg-icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
            clip-rule="evenodd"
          />
          <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z" />
        </svg>
        Tin tức - sự kiện</a
      >
      <a class="nav-link" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 svg-icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"
            clip-rule="evenodd"
          />
          <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z" />
        </svg>
        Khuyến mãi</a
      >
      <a class="nav-link" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 svg-icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
            clip-rule="evenodd"
          />
        </svg>
        Thông cáo báo chí</a
      >
    </nav>
  </div>

  <div class="container">
    <div class="news__feature__grid">
      <div class="news__feature__item item1">

        <article class="article ">
          <div class="article__header">
            <figure class="article__figure">
              <div class="embed-responsive embed-responsive-new">
                <a href="article.html">
                  <img
                    data-src="{{blogs[1].Avatar}}"
                    alt=""
                    class="embed-responsive-img img-cover lazyload"
                  />
                </a>
              </div>
            </figure>
          </div>

          <div class="article__body">
            <div class="info">
              <header class="info__header">
                <h5 class="info__title h6">
                  <a
                    href="article.html"
                    class="font-weight-bold"
                    alt="{{blogs[i].Title}}"
                    >{{blogs[1].Title}}</a
                  >
                </h5>

                <div class="info__meta">
                  <span class="time text-nowrap">
                    {{blogs[2].TotalView}} lượt xem</span
                  >

                  <span class="middotDivider"></span>

                  <span class="time text-nowrap"> {{blogs[1].PublicDate}}</span>
                </div>
              </header>
            </div>
          </div>
        </article>

      
      </div>

      <div class="news__feature__item item2">
        <div class="embed-responsive embed-responsive-new">
          <img
            src="https://static.mservice.io/img/s500x240/momo-upload-api-200825141534-637339617342215415.png"
            alt="Xem phim CGV chỉ 9K/vé và gói quà 200K"
            class="embed-responsive-img card__image"
            loading="lazy"
          />
        </div>
      </div>

      <div class="news__feature__item item3">
        <div class="embed-responsive embed-responsive-new">
          <img
            src="https://static.mservice.io/img/s500x240/momo-upload-api-210331094344-637527806242978082.jpg"
            alt="Đặt Phương Trang giảm tới 200K"
            class="embed-responsive-img card__image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row sm-gutters">
      {% for i in [1, 2, 3, 4] %}
      <div class="col-12 col-md-6 col-lg-3 mb-md-3 mb-lg-0">
        {% include "components/article-0.html" %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="text-center mt-0 mt-lg-4">
    <a
      href=""
      class="btn btn-outline-primary font-weight-bold rounded-pill px-4"
      >Xem thêm</a
    >
  </div>
</section>

<div></div>

{% endblock %}
<!-- Scripts -->
{% block javascript %}

<!-- <script type="text/javascript" src="js/cinema.js"></script> -->

<script></script>
{% endblock %}
