:root {
  --wrap-bg-color: #ffffff;
}

.font-heading {
  font-family: $headings-font-family;
}

.link-orange {
  color: $orange;

  @include hover-focus-active() {
    color: darken($orange, 10%);
    // text-decoration: underline;
  }
}

.link-yellow {
  color: $yellow;

  @include hover-focus-active() {
    color: darken($yellow, 10%);
    // text-decoration: underline;
  }
}

.link-blue {
  color: $blue;

  @include hover-focus-active() {
    color: darken($blue, 10%);
    // text-decoration: underline;
  }
}


.link-pink {
  color: $pinkmomo;

  @include hover-focus-active() {
    color: darken($pinkmomo, 10%);
    // text-decoration: underline;
  }
}


a {
  // color: inherit;
  // font-weight: normal;
  transition: color 200ms ease;
}


.text-gray {
  color: gray("600")
}

.link-gray {
  color: gray("600");

  @include hover-focus-active() {
    color: $primary;
    // text-decoration: underline;
  }
}


.link-dark {
  color: gray("800");

  @include hover-focus-active() {
    color: $primary;
    // text-decoration: underline;
  }
}


.link-white {
  color: rgba(white, 0.8);

  @include hover-focus-active() {
    color: white;
    // text-decoration: underline;
  }
}

.dash-primary-2 {
  border-top: 2px solid $primary-2;
}

.bg-pinklight {
  background-color: #FFF0F9 !important;
}

.bg-whitelight {
  background-color: lighten(gray("100"), 1%) !important;
}

.bg-black-4 {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.bg-cover {
  background-size: cover;
}

.bg-pink-hot {
  background: $pinkhot;

  &.btn {
    border-color: $pinkhot;
  }
}

.text-yellow {
  color: $yellow;
}

.text-pine-tree {
  color: #325340;
}

$sizes: 900, 800, 700, 600, 500, 400, 300, 200, 100;
@each $size in $sizes {
  .bg-gray-#{$size} {
    background-color: gray("#{$size}");
  }

  .text-gray-#{$size} {
    color: gray("#{$size}") !important;
  }
}
$colors: (
  'pink-hot': $pinkhot,
  'pink-momo': $pinkmomo,
  'pink-light': #FCEFF4
);
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
  .text-#{$name} {
    color: $color;
  }
  .btn-#{$name} {
    color: $color;
    border-color: $color;
    &:hover,
    &:focus {
      color: $color;
      border-color: $color;
      background-color: rgba($color: $color, $alpha: 0.3);
    }
  }
  .btn-bg-#{$name} {
    color: #ffffff;
    background-color: $color;
    border-color: $color;
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: rgba($color: $color, $alpha: 2);
    }
  }
}
.text-hover-momo {
  // transition: all 200ms ease-in;
  &:hover {
    color: $pinkmomo !important;
  }  
}
.border-hover-momo {
  // transition: all 200ms ease-in;
  &:hover {
    border-color: $pinkmomo !important;
  }
}
