html,
body {
  font-size: 15px;
  -webkit-tap-highlight-color: rgba($pinkmomo, 0.05);
}

a {
  font-weight: normal;
  transition: all 0.05s ease-in;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.2s;
  will-change: transform;

  &.show{
    opacity: 1;
    transform: translateY(0);
  }
}

.sm-gutters {
  margin-right: -8px;
  margin-left: -8px;

  > .col,
  > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  cursor: pointer;
}

/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  // background: #f7f7f7 url(loader.gif) no-repeat center;
}

.is-transition {
  transition: all 0.1s ease-in;
}

.border-radius {
  border-radius: 10px;
}
.outline-none {
  outline: none;
}

// .scroll-smooth {
//   scroll-behavior: smooth;
// }
$sizes: 100, 75, 50, 25;
@each $size in $sizes {
  .mw-#{$size} {
    max-width: #{$size}% !important;
  }

  .mh-#{$size} {
    max-height: #{$size}% !important;
  }
}

.question-answer {
  .card {
    border-bottom: 1px solid #E0E0E0;
    
    &:hover,
    &:focus {
      .card-header {
        // background-color: gray("200");
        .btn{
          color: lighten(#325340, 15%)
        }
      }
    }
  }
  .card-header {
    transition: all 0.3s linear;
    .btn {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #325340;
      padding-right: 30px;

      position: relative;

      &::after {
        content: "\002b";
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        transform: translate(0, -50%);

        color: #325340;
        
        font-style: normal;
        font-weight: 700;
        font-size: 14pt;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
      }

      &[aria-expanded="true"]:after {
        content: "\2212";
        -webkit-transform: rotate(180deg);
        transform: translate(0, -50%) rotate(180deg);
      }
      &[aria-expanded="false"]:after {
        content: "\002b";
        -webkit-transform: rotate(90deg);
        transform: translate(0, -50%) rotate(90deg);

      }
    }
  }
  .card-body {
    font-size: 15px;
    line-height: 22px;
    color: #212121;
  }
}

.breadcrumb {
  &-item {
    a {
      transition: all 150ms ease;
    }
    &:hover,
    &:focus {
      a {
        transform: translate(0,-2px);
      }
    }
  }
}
.snow {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.cursor-pointer {
  cursor: pointer;
}

.hide-scroll{
  &::-webkit-scrollbar  {
    display: none;
    height: 0;
    width: 0;
  }
}
.background-img {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  & > .img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
    width: 100%;
  }
  & > div {
    position: relative;
  }
}
// fix for old breadcrumb
.breadcrumb-container {
  .breadcrumb {
    align-items: center;
    padding: 16px 0;
    margin: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
  }
  .breadcrumb-item {
    display: flex;
    align-items: center;
    flex: none;
  }
}
