<article class="article article__hori ">
    <div class="article__header ">
        <figure class="article__figure">
            <div class="embed-responsive embed-responsive-new">
                <a href="article.html">
                    <img data-src="{{blogs[i].Avatar}}" alt="" class="embed-responsive-img img-cover lazyload">
                </a>
            </div>
        </figure>
    </div>

    <div class="article__body ">

        <div class="info">
            <header class="info__header">
                <h5 class="info__title h6  ">
                    <a href="article.html" class="font-weight-bold" alt="{{blogs[i].Title}}">{{blogs[i].Title}}</a>
                </h5>

                <div class="info__meta">
                    <!-- <span class="cat">
                        <a class="font-weight-bold link-blue" href="category.html">{{blogs[i].CategoryName}}</a>
                    </span> -->
                    <span class="time text-nowrap">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> -->

                        {{blogs[i].TotalView}} lượt xem</span>

                        <span class="middotDivider"></span>

                    <span class="time text-nowrap">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="svg-icon">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12 6 12 12 16 14"></polyline>
                        </svg> -->

                        {{blogs[i].PublicDate}}</span>
                </div>
            </header>
        </div>
    </div>

</article>