{% 
    set DonationCase = [ 
      { 
        title: "UpStep 2020 - Đi để sẻ chia", 
        date : "30/12/2020", 
        image: "img/donation/program/1.png" 
      }, 
      { 
        title: "Quyết thắng Covid-19", 
        date : "30/12/2020", 
        image: "img/donation/program/2.png" 
      }, 
      { 
        title: "Điều nhỏ bé vĩ đại", 
        date : "30/12/2020", 
        image: "img/donation/program/3.png"
      }, 
      { 
        title: "Ủng hộ nông sản Việt", 
        date : "30/12/2020", 
        image: "img/donation/program/4.png" 
      } 
    ] 
%}
<section class="bg-white sc-program pt-3">
    <div class="container">
        <h2 class="mb-3">Các chương trình đang diễn ra</h2>
        <div class="sc-program-list">
            {% for item in DonationCase %}
            <div class="sc-program-item">
                <div class="dn-card">
                    <a href="" class="link-absolute"></a>
                    <div class="dn-card-img">
                        <img src="{{item.image}}" class="dona-card-img-top" alt="..." loading="lazy" />
                    </div>

                    <div class="dn-card-body">
                        <h3 class="">
                            <a href="" class="fs-16 dn-card-title">{{item.title}}</a>
                        </h3>
                        <p class="dn-card-subtitle mb-0 text-muted">
                            Ngày hết hạn : <b>{{item.date}}</b>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div style="width: 2px;"></div>
        </div>
    </div>
</section>