<div class="container">
    <hr class="m-0" />
</div>

<section class="bg-white o-hidden" id="hoidap">
    <div class="container">
        <div class="">
            <h2 class="h2  mb-3 mb-lg-4 text-center">
                Cam kết của chúng tôi
            </h2>
        </div>

        <div class="row justify-content-center pt-3">
            <div class="col-12 col-lg-4 px-lg-4">
                <h4 class="h5">MoMo cũng đang quyên góp</h4>
                <p class="text-gray">
                    Riêng năm nay, MoMo đã hỗ trợ hơn 2 tỷ VNĐ(><) để giúp đỡ những người cần chỗ ở, chữa bệnh bao gồm
                        các khoản viện trợ cho những tổ chức phi lợi nhuận. </p>
            </div>

            <div class="col-12 col-lg-4 px-lg-4">
                <h4 class="h5">
                    100% được chuyển cho các tổ chức phi lợi nhuận
                </h4>
                <p class="text-gray">
                    Khoản đóng góp của bạn sẽ được gửi tới các tổ chức phi lợi nhuận
                    đáng tin cậy chuyên giúp đỡ mọi người tìm nơi ở. Chúng tôi chịu tất
                    cả các chi phí liên quan, vì vậy mọi thứ bạn quyên góp đều được dùng
                    để giúp đỡ những người đang gặp khó khăn.
                </p>
            </div>

            <div class="col-12 col-lg-4 px-lg-4">
                <h4 class="font__heading h5">
                    Chúng tôi đang xây dựng các giải pháp
                </h4>
                <p class="text-gray">
                    Chúng tôi có một nhóm các chuyên gia trong cả hai lĩnh vực phi lợi
                    nhuận và công nghệ cùng làm việc để mở rộng nền tảng Chương trình.
                    MoMo chịu tất cả các chi phí hoạt động để hiện thực hóa cam kết này.
                </p>
            </div>
        </div>
    </div>
    <!-- modalCampaign -->
</section>