<section class="bg-white sc-thanks o-hidden">
  <div class="container px-4">
    <div class="">
      <h2 class="h2 mb-1 mb-lg-1 text-center">Đối tác của Trái tim MoMo</h2>
      <p class="lead text-center">
        Những đối tác uy tín của Trái tim MoMo sẽ tham gia cùng bạn trên hành
        trình thiện nguyện
      </p>
    </div>

    <div class="row py-3">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111092533-637459539331435993.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt h5">Operation Smile</div>
            <div class="sub">Phẫu thuật nụ cười</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111092914-637459541548371796.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt h5">Mặt trận Tổ quốc Việt Nam</div>
            <div class="sub">Uỷ ban Trung ương Mặt trận Tổ quốc Việt Nam</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111092952-637459541923638102.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt h5">Sức mạnh 2000</div>
            <div class="sub">Tiền lẻ mỗi ngày Xây ngay nghìn trường mới</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111093224-637459543449715916.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt h5">Vinacapital Foundation</div>
            <div class="sub">
              Thay đổi cuộc sống cho phụ nữ và trẻ em Việt Nam
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111093614-637459545741278562.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt h5">Trung tâm Tình nguyện Quốc gia</div>
            <div class="sub">Thúc đẩy đam mê tình nguyện</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="dona__sponser">
          <div class="dona__sponser__avatar">
            <img
              src="https://static.mservice.io/placebrand/s/momo-upload-api-210111093647-637459546077766707.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="dona__sponser__content">
            <div class="tt h5">Báo Tuổi Trẻ</div>
            <div class="sub">
              Cơ quan ngôn luận của Đoàn Thanh niên Cộng sản Thành phố Hồ Chí
              Minh
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
