<div class="cine__rating">
  <div class="cine__rating__body">
    <h5 class="text-center mb-3">Thang điểm đánh giá</h5>

    <div class="cine__review">
      <div class="cine__review__bar">
        <canvas id="myCanvas" class="canvas-rating" width="180" height="100"></canvas>

        <div class="cine__review__sha">
          <svg
            viewBox="0 0 190 95"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M185 95C187.761 95 190.014 92.7589 189.871 90.0011C187.271 39.8578 145.79 0 95 0C44.2097 0 2.72875 39.8578 0.129261 90.0011C-0.0137023 92.7589 2.23858 95 5 95V95C7.76142 95 9.98472 92.7563 10.1446 89.9995C12.733 45.3829 49.7344 10 95 10C140.266 10 177.267 45.3829 179.855 89.9995C180.015 92.7563 182.239 95 185 95V95Z"
              fill="#E0E0E0"
            />
          </svg>
        </div>

        <div class="cine__reivew__total">
          <div class="ik">
            <img
              src="img/cinema/rating/rating-haihuoc-on.svg"
              class="img-fluid d-block mx-auto"
              alt=""
            />
          </div>
          <div class="tt">Cực phẩm</div>
          <div class="util">78% | 3131 đánh giá</div>
        </div>

        <div class="cine__review__bag mt-3">
          <div class="bag__item">
            <div class="bag__item__avatar">
              <img
                src="img/cinema/rating/rating-daodien-on.svg"
                class="img-fluid d-block mx-auto"
                alt=""
              />
              <span>100%</span>
            </div>
            <div class="ff">Xem cùng bạn bè</div>
          </div>

          <div class="bag__item">
            <div class="bag__item__avatar">
              <img
                src="img/cinema/rating/rating-dienvien-on.svg"
                class="img-fluid d-block mx-auto"
                alt=""
              />
              <span>100%</span>
            </div>
            <div class="ff">Diễn xuất tuyệt vời</div>
          </div>

          <div class="bag__item">
            <div class="bag__item__avatar">
              <img
                src="img/cinema/rating/rating-haihuoc-on.svg"
                class="img-fluid d-block mx-auto"
                alt=""
              />
              <span>100%</span>
            </div>
            <div class="ff">Thư giản tốt</div>
          </div>

          <div class="bag__item">
            <div class="bag__item__avatar">
              <img
                src="img/cinema/rating/rating-dohoa-on.svg"
                class="img-fluid d-block mx-auto"
                alt=""
              />
              <span>100%</span>
            </div>
            <div class="ff">Tiết tấu nhanh</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
