
<section class=" o-hidden" id="hoidap">
    <div class="container px-4">
        <div class="">
            <h2 class="h2  mb-2 mb-lg-4 text-center">
                Câu hỏi thường gặp
            </h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 px-lg-4">
                <div class="question-wrapper">
                    <div class="question-item">
                        <a href="" data-toggle="modal" data-target="#question-modal1">
                            Khoản đóng góp có được khấu trừ thuế không?
                        </a>
                    </div>

                    <div class="question-item">
                        <a href="" data-toggle="modal" data-target="#question-modal1">
                            Tôi có thể thay đổi số tiền quyên góp sau khi
                            chọn tham gia không?
                        </a>
                    </div>
                    <div class="question-item">
                        <a href="" data-toggle="modal" data-target="#question-modal1">
                            Tổ chức phi lợi nhuận nào sẽ nhận được khoản
                            quyên góp của tôi?
                        </a>
                    </div>

                    <div class="question-item">
                        <a href="" data-toggle="modal" data-target="#question-modal1">
                            4. Tôi liên kết Thẻ ATM với MoMo nhưng không
                            xác thực Ví có bị
                            khóa Ví không?
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 px-lg-4">
                <div class="question-wrapper">
                    <div class="question-item">
                        <a href="" data-toggle="modal" data-target="#question-modal1">
                            Khoản đóng góp của tôi giúp cung cấp chỗ ở cho
                            những người đang cần giúp đỡ như thế nào?
                        </a>
                    </div>

                    <div class="question-item">
                        <a href="" data-toggle="modal" data-target="#question-modal1">
                            Làm cách nào để nhận thông tin cập nhật về
                            khoản quyên góp của tôi?
                        </a>
                    </div>

                    <div class="question-item">
                        <a href="" data-toggle="modal" data-target="#question-modal1">
                            Tôi có thể quyên góp không?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modalCampaign -->
</section>

<div class="modal fade" id="question-modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-left border-0">
                <div class="w-100 pt-4"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x.svg" alt="Icon" />
                    </span>
                </button>
            </div>
            <div class="modal-body px-md-4 px-lg-5 pb-4 pt-0">
                <div>
                    <h5 class="mb-4">
                        Khoản đóng góp có được khấu trừ thuế không?
                    </h5>
                    <p class="text-gray">
                        Bạn có thể liên kết Thẻ ATM của 39 ngân hàng nội địa với MoMo.
                    </p>

                    <p class="text-gray">
                        <strong>
                            Danh sách 39 ngân hàng nội địa thuộc hệ thống Napas gồm:</strong>
                        Vietcombank, VIB, MBBank, Vietinbank, HD Bank, NCB, Maritime Bank,
                        Viet A Bank, GPBank, OceanBank, Bac A Bank, DongA Bank, ABBank,
                        BIDV, SHB, BaoVietBank, LienVietPostBank, TPBank, Agribank, SCB,
                        KienlongBank, SeABank, VRB, PublicBank, NamABank, PVcomBank,
                        SaigonBank, Techcombank, Eximbank, ACB, Sacombank, VPBank, OCB, PG
                        Bank, UOB, Indovina Bank, Woori Bank, Shinhan Bank, Viet Capital
                        Bank.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>