<div class="modal fade modal-huongdan" id="modal-huongdan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hướng dẫn mua ủng hộ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            <div class="modal-body pb-3 px-3 pt-0">


                <div class="row manual-device-swiper-container">
                    <div class="col-12 col-md-6 order-2 order-md-1">

                        <div class="manual-device d-block ml-lg-auto mr-lg-5" id="hd-sub-img-53138152"
                            childId="53138152">
                            <div class="manual-device-stock ">

                            </div>

                            <div class="manual-device-slide">
                                <div class="swiper-container manual-device-swiper" id="hd-sub-swp-53138152">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                class="img-fluid lazyload"
                                                alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                class="img-fluid lazyload"
                                                alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                class="img-fluid lazyload"
                                                alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c  Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                class="img-fluid lazyload"
                                                alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p  Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                class="img-fluid lazyload" alt="Nh&#x1EAD;p th&#xF4;ng tin Ví MoMo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="col-12 col-md-6 order-1 order-md-2">


                        <ol class="process list-unstyled manual-process " childId="53138152" id="hd-sub-ctn-53138152">

                            <li class="process_item  active">
                                <div class="process__number">
                                    <span>1</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">T&#x1EA3;i &#x1EE9;ng
                                        d&#x1EE5;ng V&#xED; MoMo</h4>
                                    <div class="process__body-content">
                                        <p><span style="font-size:14px;">Tải ứng dụng miễn
                                                ph&iacute; bằng c&aacute;ch t&igrave;m
                                                kiếm&nbsp;từ kh&oacute;a &ldquo;vi
                                                momo&rdquo;&nbsp;tr&ecirc;n <a
                                                    href="https://apps.apple.com/vn/app/id918751511?utm_campaign=momo-1dong&amp;utm_medium=download&amp;utm_source=website-momo">App
                                                    Store</a> hoặc <a
                                                    href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong">Google
                                                    Play Store</a>.</span></p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>2</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nh&#x1EAD;p s&#x1ED1;
                                        &#x111;i&#x1EC7;n tho&#x1EA1;i</h4>
                                    <div class="process__body-content">
                                        <p><span style="font-size:14px;">Mở ứng dụng
                                                v&agrave; nhập số điện thoại bạn muốn đăng
                                                k&yacute; V&iacute; MoMo.</span></p>

                                        <p><span style="font-size:14px;"><em>Lưu
                                                    &yacute;:&nbsp;</em></span><em>Số
                                                điện&nbsp;thoại đăng k&iacute; V&iacute;
                                                phải tr&ugrave;ng với số điện thoại đăng
                                                k&iacute; Internet Banking của ng&acirc;n
                                                h&agrave;ng bạn muốn li&ecirc;n kết.</em>
                                        </p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>3</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nh&#x1EAD;p m&#xE3;
                                        x&#xE1;c th&#x1EF1;c </h4>
                                    <div class="process__body-content">
                                        <p><span style="font-size:14px;">Một tin nhắn chứa
                                                m&atilde; x&aacute;c thực sẽ&nbsp;gửi trực
                                                tiếp đến số điện thoại của bạn.</span></p>

                                        <p><span style="font-size:14px;">Vui l&ograve;ng
                                                kiểm tra v&agrave; nhập ch&iacute;nh
                                                x&aacute;c m&atilde; x&aacute;c thực
                                                v&agrave;o &ocirc; &quot;Nhập m&atilde;
                                                x&aacute;c thực&quot; rồi nhấn &quot;Tiếp
                                                tục&quot;.</span></p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>4</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">T&#x1EA1;o m&#x1EAD;t
                                        kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p </h4>
                                    <div class="process__body-content">
                                        <p><span style="font-size:14px;">Thiết lập mật khẩu
                                                để bảo vệ t&agrave;i khoản V&iacute; MoMo
                                                của bạn gồm 6 chữ số v&agrave; mật khẩu ở 2
                                                &ocirc; phải ho&agrave;n to&agrave;n giống
                                                nhau.<br />
                                                <br />
                                                Sau đ&oacute; bấm &quot;X&aacute;c
                                                nhận&quot;.</span></p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>5</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nh&#x1EAD;p th&#xF4;ng
                                        tin</h4>
                                    <div class="process__body-content">
                                        <p><span style="font-size:14px;">Sau khi tạo mật
                                                khẩu đăng nhập th&agrave;nh c&ocirc;ng, bạn
                                                nhập th&ocirc;ng tin c&aacute; nh&acirc;n
                                                theo y&ecirc;u cầu v&agrave; nhấn
                                                &quot;X&aacute;c nhận&quot;&nbsp;để
                                                ho&agrave;n tất đăng k&yacute;.</span></p>

                                    </div>
                                </div>
                            </li>
                        </ol>



                    </div>
                </div>


            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="modalTinTuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Chi tiết bài viết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="px-0 px-lg-3">
          <article class="articleModal">

            <h3 class="h2 text-primary-2">Cùng Ví MoMo làm nên những “Điều nhỏ bé vĩ đại” tiếp sức cho những Chiến sĩ áo
              trắng chống dịch Covid-19</h3>

            <div class="d-flex align-items-center mb-3 mb-xl-4">
              <div class="text-small text-muted">Thứ 5, 09/04/2020</div>
            </div>

            <p class="lead">
              Chiến dịch “Điều nhỏ bé vĩ đại” của Ví điện tử MoMo phối hợp cùng Uỷ ban Trung Ương Mặt Trận Tổ Quốc,
              Trường Đại học Y Hà Nội ra đời với mong ước góp thêm ngọn lửa, tiếp thêm sức mạnh, ủng hộ và động viên cho
              những Chiến sĩ áo trắng - lực lượng tinh nhuệ tiên phong trong cuộc chiến chống covid-19 vững tâm vượt qua
              đại dịch.
            </p>

            <div class="full-content">

              <p style="text-align: justify;">
                <div class="lightgallery-item"
                  data-src="https://static.mservice.io/blogscontents/momo-upload-api-200409093655-637220218158306991.jpg"
                  data-sub-html="Điều Nhỏ Bé Vĩ Đại">
                  <div class="lightgallery-item-img"><img alt="Điều Nhỏ Bé Vĩ Đại"
                      src="https://static.mservice.io/blogscontents/momo-upload-api-200409093655-637220218158306991.jpg"
                      style="width: 800px; height: 613px;"></div>
                </div>
              </p>

              <p style="text-align: justify;">Dịch viêm đường hô hấp cấp (Covid-19) vẫn tiếp tục lan rộng khi xuất hiện
                tại hơn 200 quốc gia. Theo các chuyên gia, dịch Covid-19 diễn biến phức tạo, sẽ không thể dễ dàng được
                kiểm soát trong một sớm, một chiều.</p>

              <p style="text-align: justify;">Trong cơn “khủng hoảng” tinh thần lẫn vật chất, về sự mong manh của sự
                sống con người trước dịch bệnh. Thật may mắn khi chúng ta vẫn luôn nhìn thấy những hình ảnh cảm động:
                Hàng chục ngàn y bác sĩ, các điều dưỡng viên; Hàng trăm sinh viên tình nguyện từ các trường Y không quản
                an nguy của bản thân, xông pha nơi tuyến đầu chiến đấu chống lại đại dịch Covid-19. Trái tim và sứ mệnh
                của người thầy thuốc không cho phép họ sợ hãi, lùi bước trước khó khăn.</p>

              <p style="text-align: justify;">Những <strong>Chiến sĩ áo trắng</strong> - họ có thể là cha/mẹ, anh/em, là
                cô hàng xóm, là người bạn cùng lớp hay một người xa lạ bạn chưa từng gặp mặt. <strong>Họ đã sống trọn
                  với sứ mệnh của mình, với lời thề Hippocrates - Bảo vệ từng sinh mệnh quý giá như chính bản thân
                  mình</strong>. Họ đã không gục ngã và chúng ta cũng vậy.</p>

              <p style="text-align: justify;">Ngay lúc này, lòng tốt của mỗi người dân Việt Nam, ý thức bảo vệ chính
                mình, bảo vệ gia đình của mỗi người... dù là nhỏ nhất cũng vô cùng ý nghĩa, giúp những <strong>Chiến sĩ
                  áo trắng</strong> thêm vững tâm. Trong cuộc chiến này, chúng ta cần sự lạc quan, sự tin tưởng, sự góp
                sức về <strong>cả vật chất lẫn tinh thần và CHÚNG TA CẦN SỰ ĐỒNG LÒNG.</strong></p>

              <p style="text-align: justify;"><strong>Ví MoMo tin rằng, mỗi người đều có vai trò riêng trong cuộc chiến
                  chống đại dịch Covid-19. Hành trình tạo nên sự vĩ đại lại khởi đầu từ những điều nhỏ bé.</strong> Hãy
                cùng Ví MoMo làm nên <span style="color:#A50064;"><strong>ĐIỀU NHỎ BÉ VĨ ĐẠI</strong></span> thông qua
                những việc làm đơn giản nhất <strong>“Sống khỏe - Sống tốt - Sống thông minh”.</strong></p>

              <ul>
                <li style="text-align: justify;"><strong>Sống khỏe:</strong> Bạn khỏe mạnh là giảm bớt gánh nặng cho đội
                  ngũ nhân viên y tế.</li>
                <li style="text-align: justify;"><strong>Sống tốt: </strong>Hành động chung sức “góp công, góp của” của
                  bạn sẽ động viên, tiếp thêm sức mạnh cho những chiến sĩ tuyến đầu.</li>
                <li style="text-align: justify;"><strong>Sống thông minh: </strong>Nâng cao hiểu biết/kiến thức phòng
                  chống Covid-19, <strong>Khai báo Y tế tự nguyện</strong> là bảo vệ chính mình chính, gia đình và cộng
                  đồng để đẩy lùi dịch bệnh.</li>
              </ul>

              <p style="text-align: justify;">
                <div class="lightgallery-item"
                  data-src="https://static.mservice.io/blogscontents/momo-upload-api-200409094135-637220220958027456.jpg">
                  <div class="lightgallery-item-img"><img alt=""
                      src="https://static.mservice.io/blogscontents/momo-upload-api-200409094135-637220220958027456.jpg"
                      style="width: 800px; height: 534px;"></div>
                </div>
              </p>

              <p style="text-align: justify;"><strong>Nằm trong chiến dịch “Điều nhỏ bé vĩ đại", Ví MoMo tổ chức các
                  hoạt động online để người dùng cùng tham gia tăng cường sức khỏe, lan tỏa tinh thần lạc quan, tích cực
                  và quyên góp cho các lực lượng trực tiếp chống dịch Covid-19. Cụ thể:</strong></p>

              <h3 style="text-align: justify;"><span style="color:#A50064;"><strong>Sống khỏe</strong></span></h3>

              <p style="text-align: justify;">Kêu gọi mọi người tăng cường sức khoẻ bằng cách bật tính năng “Đi bộ cùng
                MoMo” (icon màu xanh), theo đó, người dùng chỉ cần cầm điện thoại có MoMo hệ thống tự động đếm bước chân
                (đi ở trong nhà hệ thống cũng tự động ghi nhận bước chân). Chỉ cần mỗi ngày đủ 4.000 bước chân (tương
                đương khoảng 3km), người dùng sẽ nhận được <strong>1 huy hiệu</strong> và <strong>thức ăn cho Heo
                  đất</strong> trên Ví MoMo.</p>

              <p style="text-align: justify;"><strong>Huy hiệu</strong> này dùng để quy đổi thành <strong>Heo
                  vàng</strong> và quyên góp, thức ăn thì dùng để nuôi Heo vàng (tuỳ cấp độ Heo đất, cho Heo ăn khoảng
                3-4 lần là có thể có 1 Heo vàng).</p>

              <p style="text-align: justify;"><strong>Người dùng ủng hộ Heo vàng</strong> và<strong> MoMo sẽ quy đổi
                  thành tiền mặt để quyên góp cho Sinh viên Trường Đại học Y Hà Nội. </strong></p>

              <h3 style="text-align: justify;"><span style="color:#A50064;"><strong>Sống tốt</strong></span></h3>

              <p style="text-align: justify;">Quyên góp, tiếp thêm động lực cho lực lượng <strong>Chiến sĩ áo
                  trắng</strong> theo cách:</p>

              <ul>
                <li style="text-align: justify;"><strong>Bước 1:</strong> Tại màn hình chính, chọn<strong> “Điều nhỏ bé
                    vĩ đại”</strong></li>
                <li style="text-align: justify;"><strong>Bước 2:</strong> Chọn trường hợp muốn quyên góp là
                  <strong>“Đồng lòng cùng MTTQ Việt Nam"</strong> hoặc <strong>“Đồng hành cùng Trường ĐH Y Hà
                    Nội”</strong> và làm theo các hướng dẫn.</li>
              </ul>

              <p style="text-align: justify;"><strong>Lưu ý:</strong></p>

              <ul>
                <li style="text-align: justify;"><strong>Để quyên góp cho Mặt Trận Tổ Quốc Việt Nam:</strong> Người dùng
                  sử dụng tiền trong Ví MoMo hoặc trong Heo đất MoMo;</li>
                <li style="text-align: justify;"><strong>Để quyên góp cho Sinh Viên Trường Đại Học Y Hà Nội:</strong>
                  Người dùng sử dụng Heo vàng trong “Heo đất MoMo".</li>
              </ul>

              <p style="text-align: justify;">Trong đó, để tạo ra Heo vàng người dùng chỉ cần thực hiện: (1) Đi bộ mỗi
                ngày 4.000 bước chân để quy đổi; (2) Nuôi Heo đất để tạo ra Heo vàng bằng cách ‘Cho heo ăn'. Chi tiết
                xem <a
                  href="https://momo.vn/huong-dan/huong-dan-nuoi-heo-dat-nhan-heo-vang-va-quyen-gop-tren-vi-momo">TẠI
                  ĐÂY</a>.</p>

              <p style="text-align: justify;">Tất cả Heo vàng mà người dùng quyên góp, sẽ được Ví MoMo quy đổi thành
                tiền mặt (dự kiến 1 tỷ đồng nếu đạt con số 6.500.000 Heo vàng. Con số này có thể cao hơn dựa trên số
                lượng Heo vàng người dùng quyên góp trên thực tế) để quyên góp cho Sinh viên Đại học Y Hà Nội.</p>

              <h3 style="text-align: justify;"><span style="color:#A50064;"><strong>Sống thông minh</strong></span></h3>

              <ul>
                <li style="text-align: justify;">Ngay trên “Điều nhỏ bé vĩ đại", chỉ cần dành ra vài phút <strong>“Khai
                    báo y tế tự nguyện”</strong>, người dùng đã có thể bảo vệ sức khỏe cho chính mình, góp phần phòng
                  chống sự lây lan của dịch Covid-19. Các thông tin khai báo sẽ được quản lý chặt chẽ và chỉ phục vụ
                  chống dịch, không sử dụng vào mục đích khác…</li>
                <li style="text-align: justify;"><strong>Hạn chế tiếp xúc các nguồn có nguy cơ lây lan virus (tiền mặt,
                    nơi công cộng)</strong>. Ưu tiên sử dụng phương thức thanh toán điện tử.</li>
              </ul>

              <p style="text-align: justify;">Chia sẻ về chiến dịch “Điều nhỏ bé vĩ đại”, ông Nguyễn Bá Diệp (Phó Chủ
                tịch, đồng sáng lập Ví MoMo) cho biết: <em>“Theo lời kêu gọi của Chính phủ và Thủ tướng Nguyễn Xuân
                  Phúc, đẩy lùi dịch bệnh Covid-19 là cuộc chiến chung của Việt Nam, trách nhiệm của mỗi người dân. Là
                  doanh nghiệp chúng tôi nhận thấy mình cần có trách nhiệm san sẻ, gánh vác những khó khăn cùng với
                  Chính phủ, cơ quan chức năng, các lực lượng đang ngày đêm trực tiếp chiến đấu với dịch bệnh. Ví MoMo
                  với lợi thế về công nghệ, về người dùng, về đối tác sẽ tận dụng tối đa nguồn lực để giúp nâng cao ý
                  thức người dân, lan tỏa tinh thần tương thân tương ái, kết nối sức mạnh dân tộc”.</em></p>

              <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
                <p style="text-align: justify;">Không phải là người vĩ đại mới tạo nên những điều vĩ đại! Chỉ cần là
                  chính mình và làm những điều nhỏ bé một cách tử tế. Vì<strong>&nbsp;“Bàn tay trao hoa hồng bao giờ
                    cũng phảng phất hương thơm”</strong>&nbsp;hãy cùng Ví MoMo làm nên những điều nhỏ bé, lan tỏa điều
                  này để cả xã hội cùng đồng lòng và tạo nên hàng triệu điều nhỏ bé để trở thành vĩ đại.</p>

                <p style="text-align: justify;"><strong>Tham khảo tại:</strong>&nbsp;<a
                    href="https://momo.vn/dieunhobevidai">https://momo.vn/dieunhobevidai</a></p>
              </div>

            </div>
          </article>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>


