<div class="kv-section">
  <div class="swiper-container swiper-kv-promotion">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv-promotion">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="https://static.mservice.io/img/momo-upload-api-200706092958-637296245985069315.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="https://static.mservice.io/img/momo-upload-api-200706092958-637296245989141987.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="kv-pagination">
      <div class="container position-relative">
        <div class="swiper-button-next">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>

</div>
