<div class="kv-section ">
  <div class="swiper-container swiper-kv">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="https://static.mservice.io/banner/s/momo-upload-api-200404151949-637216103895353808.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="https://static.mservice.io/banner/s/momo-upload-api-200404151949-637216103896321753.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      
      <div class="swiper-slide">
        <div class="embed-responsive embed-responsive-kv">
          <div class="d-none d-md-block">
            <a href="">
              <img
                data-src="https://static.mservice.io/banner/s/momo-upload-api-200422173116-637231734766056112.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>

          <div class="d-block d-md-none">
            <a href="">
              <img
                data-src="https://static.mservice.io/banner/s/momo-upload-api-200422173116-637231734767204794.jpg"
                class="embed-responsive-img lazyload"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="kv-pagination">
      <div class="container position-relative">
        <div class="swiper-button-next">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="kv-section-curve">
    <svg
      width="1440"
      height="40"
      viewBox="0 0 1440 40"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Rectangle 12</title>
      <path
        d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
        fill="#fff"
        fill-rule="evenodd"
      />
    </svg>
  </div>
</div>










