<div class="modal fade" id="qrcode-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content row flex-row no-gutters border-0 overflow-hidden bg-transparent">
            <div class="col-lg-5 qrcode__htu__bg d-flex align-items-center order-2 order-lg-1">
                <div class="qrcode__htu">
                    <div class="qrcode__htu__step">
                        <div class="img">
                            <img src="https://static.mservice.io/images/s/momo-upload-api-200917091602-637359309621891617.png"
                                loading="lazy" class="img-fluid d-block" alt="" />
                        </div>
                        <div class="content">
                            <div class="step">Bước 1 :</div>
                            <div class="txt">
                                Mở ứng dụng camera mặc định hoặc ứng dụng hỗ trợ QR code của bạn
                            </div>
                        </div>
                    </div>

                    <div class="qrcode__htu__step">
                        <div class="img">
                            <img src="https://static.mservice.io/images/s/momo-upload-api-200917091443-637359308837905996.png"
                                loading="lazy" class="img-fluid d-block" alt="" />
                        </div>
                        <div class="content">
                            <div class="step">Bước 2 :</div>
                            <div class="txt">Quét mã QR Code theo hình bên phải</div>
                        </div>
                    </div>

                    <div class="qrcode__htu__step">
                        <div class="img">
                            <img src="	https://static.mservice.io/images/s/momo-upload-api-200917090146-637359301062519803.png"
                                loading="lazy" class="img-fluid d-block" alt="" />
                        </div>
                        <div class="content">
                            <div class="step">Bước 3 :</div>
                            <div class="txt">
                                Bấm vào thông báo hiển thị để đến bước tải app
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-flex flex-column qrcode__bg2 order-1 order-lg-2">
                <div class="modal-header text-center border-0 p-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <img src="img/icons/interface/icon-x.svg" class="img-filter-white" alt="Icon" />
                        </span>
                    </button>
                </div>
                <div class="modal-body p-4 p-md-5 text-center flex-fill d-flex flex-column justify-content-center">
                    <div>
                        <h4 class="h5 text-white mb-4">
                            Quét mã để tham gia học viện MoMo
                        </h4>
                        <div class="qrcode__scan__container">
                            <div class="qrcode__scan">
                                <div class="qrcode__gradient">
                                    <img src="img/qrcode/qrcode-gradient.png" class="img-fluid" alt="" />
                                </div>

                                <div class="qrcode__border">
                                    <img src="img/qrcode/border-qrcode.svg" class="img-fluid" alt="" />
                                </div>

                                <div class="qrcode__image">
                                    <img src="https://static.mservice.io/images/momo-upload-api-200909163753-637352662739495605.png"
                                        class="img-fluid d-block mx-auto" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="qrcode__text mt-3 mt-lg-4 text-white">
                            <svg class="img-filter-white" xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
                                <rect fill="none" height="24" width="24" />
                                <path
                                    d="M9.5,6.5v3h-3v-3H9.5 M11,5H5v6h6V5L11,5z M9.5,14.5v3h-3v-3H9.5 M11,13H5v6h6V13L11,13z M17.5,6.5v3h-3v-3H17.5 M19,5h-6v6 h6V5L19,5z M13,13h1.5v1.5H13V13z M14.5,14.5H16V16h-1.5V14.5z M16,13h1.5v1.5H16V13z M13,16h1.5v1.5H13V16z M14.5,17.5H16V19h-1.5 V17.5z M16,16h1.5v1.5H16V16z M17.5,14.5H19V16h-1.5V14.5z M17.5,17.5H19V19h-1.5V17.5z M21,7L21,7c-0.55,0-1-0.45-1-1V4h-2 c-0.55,0-1-0.45-1-1v0c0-0.55,0.45-1,1-1h3c0.55,0,1,0.45,1,1v3C22,6.55,21.55,7,21,7z M22,21v-3c0-0.55-0.45-1-1-1h0 c-0.55,0-1,0.45-1,1v2h-2c-0.55,0-1,0.45-1,1v0c0,0.55,0.45,1,1,1h3C21.55,22,22,21.55,22,21z M3,22h3c0.55,0,1-0.45,1-1v0 c0-0.55-0.45-1-1-1H4v-2c0-0.55-0.45-1-1-1h0c-0.55,0-1,0.45-1,1v3C2,21.55,2.45,22,3,22z M2,3v3c0,0.55,0.45,1,1,1h0 c0.55,0,1-0.45,1-1V4h2c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H3C2.45,2,2,2.45,2,3z" />
                            </svg>
                            Sử dụng App MoMo hoặc <br />
                            ứng dụng Camera hỗ trợ QR code để quét mã.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>