<div class="modal fade modal-huongdan" id="modal-huongdan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hướng dẫn mua ủng hộ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>

            <div class="modal-body pb-3 px-3 pt-0">


                <div class="row manual-device-swiper-container">
                    <div class="col-12 col-md-6 order-2 order-md-1">

                        <div class="manual-device d-block ml-lg-auto mr-lg-5" id="hd-sub-img-53138152" childid="53138152">
                            <div class="manual-device-stock ">

                            </div>

                            <div class="manual-device-slide">
                                <div class="swiper-container manual-device-swiper swiper-container-initialized swiper-container-horizontal swiper-container-ios" id="hd-sub-swp-53138152">
                                    <div class="swiper-wrapper" style="transition-duration: 0ms;">
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg" class="img-fluid lazyload" alt="Tải ứng dụng Ví MoMo Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg" class="img-fluid lazyload" alt="Nhập số điện thoại Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg" class="img-fluid lazyload" alt="Nhập mã xác thực  Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg" class="img-fluid lazyload" alt="Tạo mật khẩu đăng nhập  Ví MoMo">
                                        </div>
                                        <div class="swiper-slide">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg" class="img-fluid lazyload" alt="Nhập thông tin Ví MoMo">
                                        </div>
                                    </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            </div>
                        </div>


                    </div>


                    <div class="col-12 col-md-6 order-1 order-md-2">


                        <ol class="process list-unstyled manual-process " childid="53138152" id="hd-sub-ctn-53138152">

                            <li class="process_item  active">
                                <div class="process__number">
                                    <span>1</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Tải ứng
                                        dụng Ví MoMo</h4>
                                    <div class="process__body-content" style="--max-height:auto;">
                                        <p><span style="font-size:14px;">Tải ứng dụng miễn
                                                phí bằng cách tìm
                                                kiếm&nbsp;từ khóa “vi
                                                momo”&nbsp;trên <a href="https://apps.apple.com/vn/app/id918751511?utm_campaign=momo-1dong&amp;utm_medium=download&amp;utm_source=website-momo">App
                                                    Store</a> hoặc <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong">Google
                                                    Play Store</a>.</span></p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>2</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nhập số
                                        điện thoại</h4>
                                    <div class="process__body-content" style="--max-height:auto;">
                                        <p><span style="font-size:14px;">Mở ứng dụng
                                                và nhập số điện thoại bạn muốn đăng
                                                ký Ví MoMo.</span></p>

                                        <p><span style="font-size:14px;"><em>Lưu
                                                    ý:&nbsp;</em></span><em>Số
                                                điện&nbsp;thoại đăng kí Ví
                                                phải trùng với số điện thoại đăng
                                                kí Internet Banking của ngân
                                                hàng bạn muốn liên kết.</em>
                                        </p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>3</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nhập mã
                                        xác thực </h4>
                                    <div class="process__body-content" style="--max-height:auto;">
                                        <p><span style="font-size:14px;">Một tin nhắn chứa
                                                mã xác thực sẽ&nbsp;gửi trực
                                                tiếp đến số điện thoại của bạn.</span></p>

                                        <p><span style="font-size:14px;">Vui lòng
                                                kiểm tra và nhập chính
                                                xác mã xác thực
                                                vào ô "Nhập mã
                                                xác thực" rồi nhấn "Tiếp
                                                tục".</span></p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>4</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Tạo mật
                                        khẩu đăng nhập </h4>
                                    <div class="process__body-content" style="--max-height:auto;">
                                        <p><span style="font-size:14px;">Thiết lập mật khẩu
                                                để bảo vệ tài khoản Ví MoMo
                                                của bạn gồm 6 chữ số và mật khẩu ở 2
                                                ô phải hoàn toàn giống
                                                nhau.<br>
                                                <br>
                                                Sau đó bấm "Xác
                                                nhận".</span></p>

                                    </div>
                                </div>
                            </li>
                            <li class="process_item  ">
                                <div class="process__number">
                                    <span>5</span>
                                </div>
                                <div class="process__body">

                                    <h4 class="process__body-title">Nhập thông
                                        tin</h4>
                                    <div class="process__body-content" style="--max-height:auto;">
                                        <p><span style="font-size:14px;">Sau khi tạo mật
                                                khẩu đăng nhập thành công, bạn
                                                nhập thông tin cá nhân
                                                theo yêu cầu và nhấn
                                                "Xác nhận"&nbsp;để
                                                hoàn tất đăng ký.</span></p>

                                    </div>
                                </div>
                            </li>
                        </ol>



                    </div>
                </div>


            </div>
        </div>
    </div>
</div>