<section
  class="cinema-block"
  style="
    background-image: url(https://static.mservice.io/img/momo-upload-api-210701105436-637607336767432408.jpg);
  "
>
  <div class="container">
    <div class="text-center section__title mb-2">
      <h2 class="font-weight-bold text-white">Đặt vé xem phim</h2>
      <!-- <p class="lead text-white opacity-80">
        Đặt mua vé xem phim trên MoMo với các hệ thống rạp lớn nhất
      </p> -->
    </div>

    <div class="">
      <ul class="nav nav-tabs tabs-soju mb-3" id="section-phim" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            id="home-1"
            data-toggle="tab"
            href="#phimdangchieu"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Phim đang chiếu</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            id="home-2"
            data-toggle="tab"
            href="#phimsapchieu"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Phim sắp chiếu</a
          >
        </li>
      </ul>
    </div>
    <div class="tab-content" id="baomatContent">
      <div
        class="tab-pane fade show active"
        id="phimdangchieu"
        role="tabpanel"
        aria-labelledby="home-1"
      >
        <div class="movie__list__swiper position-relative">
          <div class="swiper-container swiper swiper-movies swiper-movie-list">
            <div class="swiper-wrapper">
              {% for item in [1,2,3,4,5,6] %}

              <div class="swiper-slide">
                <div class="movie-item">
                  <a
                    class="movie-item-link position-relative d-block"
                    href="/cinema/godzilla-vs-kong-87"
                  >
                    <div class="position-relative movie-item-poster">
                      <div class="embed-responsive embed-responsive-movie">
                        <img
                          alt="Godzilla vs. Kong"
                          src="{{films[item].poster}}"
                          class="embed-responsive-img"
                          loading="lazy"
                        />
                      </div>

                      <div class="movie-item-label">
                        <div class="flex flex-row space-x-2 flex-nowrap">
                          <div
                            class="
                              movie-item-rate
                              cinema-rate-yellow
                              text-white
                              text-center
                            "
                          >
                            C13
                          </div>

                          {% if item == 1 %}
                          <img
                            src="https://static.mservice.io/next-js/_next/static/public/cinema/icon-dattruoc.svg"
                          />
                          {% endif %} {% if item == 2%}
                          <img
                            src="https://static.mservice.io/next-js/_next/static/public/cinema/icon-sneakshow.svg"
                          />
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="movie-item-number">{{loop.index}}</div>
                  </a>

                  <div class="mt-3">
                    <div class="">
                      <a
                        class="
                          text-white
                          fs-16
                          font-weight-bold
                          movie-item-name
                        "
                        href="/cinema/godzilla-vs-kong-87"
                        >{{films[item].name}}</a
                      >
                    </div>

                    <div class="mt-0 text-gray-500 movie-item-type">
                      {{films[item].type}}
                    </div>
                    <div
                      class="d-flex align-items-center mt-2 fs-14 text-gray-200"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="svg-icon text-success fs-16 mr-1"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
                        ></path>
                      </svg>
                      <!-- -->96<!-- -->%
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-nav-bigger">
            <div class="swiper-button-next swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Tiếp theo"
                focusable="false"
                style=""
              >
                <path
                  d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div
              class="
                swiper-button-prev swiper-button-white swiper-button-disabled
              "
            >
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Trước"
                focusable="false"
                style=""
              >
                <path
                  d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="phimsapchieu"
        role="tabpanel"
        aria-labelledby="home-2"
      >
        <div class="movie__list__swiper position-relative">
          <div class="swiper-container swiper swiper-movies swiper-movie-list">
            <div class="swiper-wrapper">
              {% for item in [7,6,5,4,3,2,1] %}

              <div class="swiper-slide">
                <div class="movie-item">
                  <a
                    class="movie-item-link position-relative d-block"
                    href="/cinema/godzilla-vs-kong-87"
                  >
                    <div class="position-relative movie-item-poster">
                      <div class="embed-responsive embed-responsive-movie">
                        <img
                          alt="Godzilla vs. Kong"
                          src="{{films[item].poster}}"
                          class="embed-responsive-img"
                          loading="lazy"
                        />
                      </div>

                      <div class="movie-item-label">
                        <div class="flex flex-row space-x-2 flex-nowrap">
                          <div
                            class="
                              movie-item-rate
                              cinema-rate-yellow
                              text-white
                              text-center
                            "
                          >
                            C13
                          </div>

                          {% if item == 1 %}
                          <img
                            src="https://static.mservice.io/next-js/_next/static/public/cinema/icon-dattruoc.svg"
                          />
                          {% endif %} {% if item == 2%}
                          <img
                            src="https://static.mservice.io/next-js/_next/static/public/cinema/icon-sneakshow.svg"
                          />
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="movie-item-number">{{loop.index}}</div>
                  </a>

                  <div class="mt-3">
                    <div class="">
                      <a
                        class="
                          text-white
                          fs-16
                          font-weight-bold
                          movie-item-name
                        "
                        href="/cinema/godzilla-vs-kong-87"
                        >{{films[item].name}}</a
                      >
                    </div>

                    <div class="mt-0 text-gray-500 movie-item-type">
                      {{films[item].type}}
                    </div>
                    <div
                      class="d-flex align-items-center mt-2 fs-14 text-gray-200"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="svg-icon text-success fs-16 mr-1"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
                        ></path>
                      </svg>
                      <!-- -->96<!-- -->%
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-nav-bigger">
            <div class="swiper-button-next swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Tiếp theo"
                focusable="false"
                style=""
              >
                <path
                  d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div class="swiper-button-prev swiper-button-white">
              <svg
                viewBox="0 0 18 18"
                role="img"
                aria-label="Trước"
                focusable="false"
                style=""
              >
                <path
                  d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4 mt-lg-4">
      <a
        href=""
        class="btn btn-pulse btn-warning font-weight-bold rounded-pill px-4"
        >Đặt vé ngay</a
      >
    </div>
  </div>
</section>
