<!-- Section Banner -->
<section class="kv-section p-0">
  <div class="kv-section kv-desktop">
    <div class="swiper-container swiper-kv">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-kv position-relative">
            <div class="d-none d-md-block">
              <a href="#">
                <img data-src="/img/service/Service-page-DulichDilai-1950x740.png"
                  class="embed-responsive-img lazyload "
                  alt="Gi&#x1A1;&#x301;i thi&#xEA;&#x323;u MOMO nh&#xE2;&#x323;n qua&#x300; 500K">
              </a>
            </div>
            <div class="d-block d-md-none">
              <a href="#">
                <img data-src="/img/service/Service-page-DulichDilai-330x480.png" class="embed-responsive-img lazyload "
                  alt="Gi&#x1A1;&#x301;i thi&#xEA;&#x323;u MOMO nh&#xE2;&#x323;n qua&#x300; 500K">
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="kv-pagination ">
        <div class="container position-relative ">
          <div class="swiper-button-next">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-button-prev">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- //HEADER MOBILE -->
<!-- /End - Section Banner -->
