<!-- Section Banner -->
<section class="kv-section p-0">
  <div class="kv-section kv-desktop position-relative">
    <div class="swiper-container swiper-kv">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-kv position-relative">
            <a class="stretched-link" href="/gioi-thieu-momo#homebanner"></a>
            <div class="d-none d-md-block">
              <img data-src="https://static.mservice.io/banner/momo-upload-api-201104173500-637401081001164423.jpg"
                class="embed-responsive-img lazyload "
                alt="Gi&#x1A1;&#x301;i thi&#xEA;&#x323;u MOMO nh&#xE2;&#x323;n qua&#x300; 500K">
            </div>
            <div class="d-block d-md-none">
              <img data-src="https://static.mservice.io/banner/momo-upload-api-201104173505-637401081051532263.jpg"
                class="embed-responsive-img lazyload "
                alt="Gi&#x1A1;&#x301;i thi&#xEA;&#x323;u MOMO nh&#xE2;&#x323;n qua&#x300; 500K">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="embed-responsive embed-responsive-kv position-relative">
            <a  class="stretched-link" href="/gioi-thieu-momo#homebanner"></a>
            <div class="d-none d-md-block">
              <img data-src="https://static.mservice.io/banner/momo-upload-api-201102190740-637399408603062564.jpg"
                class="embed-responsive-img lazyload " alt="Li&#xEA;n k&#x1EBF;t t&#xE0;i kho&#x1EA3;n">
            </div>
            <div class="d-block d-md-none">
              <img data-src="https://static.mservice.io/banner/momo-upload-api-201102190746-637399408664109844.jpg"
                class="embed-responsive-img lazyload " alt="Li&#xEA;n k&#x1EBF;t t&#xE0;i kho&#x1EA3;n">
            </div>
          </div>
        </div>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Add Arrows -->
      <div class="kv-pagination ">
        <div class="container position-relative ">
          <div class="swiper-button-next">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
          <div class="swiper-button-prev">
            <img src="img/kv/kv-arrow.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="kv-section-curve">
      <svg width="1440" height="40" viewBox="0 0 1440 40" xmlns="http://www.w3.org/2000/svg">
        <title>Rectangle 12</title>
        <path d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z" fill="#ffffff"
          fill-rule="evenodd"></path>
      </svg>
    </div>
  </div>
</section><!-- //HEADER MOBILE -->
<!-- /End - Section Banner -->
