<section class="bg-white">
  <div class="container">
    <div class="text-center mb-3 mb-lg-4">
      <h2 class="font-weight-bold text-primary-2">Kinh nghiệm Du lịch - Đi lại</h2>
      <p class="lead text-gray-700 pb-4">Sẵn sàng lên kế hoạch cho chuyến đi sắp tới của bạn bằng những bí kíp du lịch độc
        đáo từ Ví MoMo.</p>
    </div>

    <div class="row sm-gutters">
      <div class="col-12 col-md-6 col-lg-3 mb-4  mb-lg-0">

        <article class="article article__hori ">
          <div class="article__header ">
            <figure class="article__figure">
              <div class="embed-responsive embed-responsive-new">
                <a href="/blog/trai-nghiem-nhung-resort-sang-trong-lang-man-nhat-tai-da-lat-c101dt162">
                  <img
                    data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200717152538-637305963381783739.jpg"
                    alt="10 resort Đà Lạt đẹp lãng mạn, sang trọng để bạn nghỉ dưỡng và &quot;sống ảo&quot;"
                    class="embed-responsive-img img-cover lazyloaded"
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-200717152538-637305963381783739.jpg">
                </a>
              </div>
            </figure>
          </div>

          <div class="article__body ">

            <div class="info">
              <header class="info__header">
                <h5 class="info__title h6  ">
                  <a href="/blog/trai-nghiem-nhung-resort-sang-trong-lang-man-nhat-tai-da-lat-c101dt162"
                    class="font-weight-bold"
                    alt="10 resort Đà Lạt đẹp lãng mạn, sang trọng để bạn nghỉ dưỡng và &quot;sống ảo&quot;">10 resort
                    Đà Lạt đẹp lãng mạn, sang trọng để bạn nghỉ dưỡng và "sống ảo"</a>
                </h5>
                <div class="info__meta">
                  <span class="time text-nowrap">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> -->
                    853 lượt xem
                  </span>
                  <span class="middotDivider"></span>
                  <span class="time text-nowrap">

                    18/11/2020
                  </span>
                </div>
              </header>
            </div>
          </div>

        </article>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4  mb-lg-0">

        <article class="article article__hori ">
          <div class="article__header ">
            <figure class="article__figure">
              <div class="embed-responsive embed-responsive-new">
                <a href="/blog/review-sai-gon-trong-con-mua-tinh-yeu-vung-dai-cua-tuoi-tre-c99dt175">
                  <img
                    data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201105152841-637401869210191261.jpg"
                    alt="REVIEW Sài Gòn trong cơn mưa - Tình yêu vụng dại của tuổi trẻ!"
                    class="embed-responsive-img img-cover lazyloaded"
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201105152841-637401869210191261.jpg">
                </a>
              </div>
            </figure>
          </div>

          <div class="article__body ">

            <div class="info">
              <header class="info__header">
                <h5 class="info__title h6  ">
                  <a href="/blog/review-sai-gon-trong-con-mua-tinh-yeu-vung-dai-cua-tuoi-tre-c99dt175"
                    class="font-weight-bold" alt="REVIEW Sài Gòn trong cơn mưa - Tình yêu vụng dại của tuổi trẻ!">REVIEW
                    Sài Gòn trong cơn mưa - Tình yêu vụng dại của tuổi trẻ!</a>
                </h5>
                <div class="info__meta">
                  <span class="time text-nowrap">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> -->
                    981 lượt xem
                  </span>
                  <span class="middotDivider"></span>
                  <span class="time text-nowrap">

                    05/11/2020
                  </span>
                </div>
              </header>
            </div>
          </div>

        </article>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4  mb-lg-0">

        <article class="article article__hori ">
          <div class="article__header ">
            <figure class="article__figure">
              <div class="embed-responsive embed-responsive-new">
                <a href="/blog/review-phim-tiec-trang-mau-smartphone-hien-dai-nhung-lai-hai-than-c99dt174">
                  <img
                    data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201022134639-637389711992597492.jpg"
                    alt="REVIEW phim Tiệc Trăng Máu - Smartphone hiện đại nhưng lại hại thân!"
                    class="embed-responsive-img img-cover lazyloaded"
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201022134639-637389711992597492.jpg">
                </a>
              </div>
            </figure>
          </div>

          <div class="article__body ">

            <div class="info">
              <header class="info__header">
                <h5 class="info__title h6  ">
                  <a href="/blog/review-phim-tiec-trang-mau-smartphone-hien-dai-nhung-lai-hai-than-c99dt174"
                    class="font-weight-bold"
                    alt="REVIEW phim Tiệc Trăng Máu - Smartphone hiện đại nhưng lại hại thân!">REVIEW phim Tiệc Trăng
                    Máu - Smartphone hiện đại nhưng lại hại thân!</a>
                </h5>
                <div class="info__meta">
                  <span class="time text-nowrap">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> -->
                    26.2K lượt xem
                  </span>
                  <span class="middotDivider"></span>
                  <span class="time text-nowrap">

                    22/10/2020
                  </span>
                </div>
              </header>
            </div>
          </div>

        </article>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4  mb-lg-0">

        <article class="article article__hori ">
          <div class="article__header ">
            <figure class="article__figure">
              <div class="embed-responsive embed-responsive-new">
                <a href="/blog/review-phim-cuc-no-hoa-cuc-cung-tinh-cha-con-vuot-qua-huyet-thong-c99dt173">
                  <img
                    data-src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201016092021-637384368212460346.jpg"
                    alt="Review phim Cục Nợ Hóa Cục Cưng  - Tình cha con vượt qua huyết thống!"
                    class="embed-responsive-img img-cover lazyloaded"
                    src="https://static.mservice.io/blogscontents/s770x370/momo-upload-api-201016092021-637384368212460346.jpg">
                </a>
              </div>
            </figure>
          </div>

          <div class="article__body ">

            <div class="info">
              <header class="info__header">
                <h5 class="info__title h6  ">
                  <a href="/blog/review-phim-cuc-no-hoa-cuc-cung-tinh-cha-con-vuot-qua-huyet-thong-c99dt173"
                    class="font-weight-bold"
                    alt="Review phim Cục Nợ Hóa Cục Cưng  - Tình cha con vượt qua huyết thống!">Review phim Cục Nợ Hóa
                    Cục Cưng - Tình cha con vượt qua huyết thống!</a>
                </h5>
                <div class="info__meta">
                  <span class="time text-nowrap">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> -->
                    3K lượt xem
                  </span>
                  <span class="middotDivider"></span>
                  <span class="time text-nowrap">

                    16/10/2020
                  </span>
                </div>
              </header>
            </div>
          </div>

        </article>
      </div>
    </div>

    <div class="text-center mt-0 mt-lg-4 ">
      <a href="#" class="btn btn-outline-primary font-weight-bold rounded-pill px-4">Xem thêm</a>
    </div>
  </div>
</section>
