<div class="kv-section-curve">
  <svg
    width="1440"
    height="40"
    viewBox="0 0 1440 40"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Rectangle 12</title>
    <path
      d="M0 30.013C239.659 10.004 479.143 0 718.453 0S1198.28 10.004 1440 30.013V40H0v-9.987z"
      fill="#fff"
      fill-rule="evenodd"
    ></path>
  </svg>
</div>
