<section class="bg-white">
  <div class="container">
    <div class="text-center section__title">
      <h2 class="font-weight-bold text-primary-2">Thanh toán an toàn - Bảo mật tuyệt đối</h2>
    </div>

    <div class="wrap__scroll mb-4 wrap__scroll__tintuc ">
      <ul class="nav nav-tabs tabs-soju wrap__scroll__target " id="baomat" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-1" data-toggle="tab" href="#baochungnganhang" role="tab"
            aria-controls="home" aria-selected="true">Bảo chứng ngân hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="home-2" data-toggle="tab" href="#baomatdatang" role="tab" aria-controls="profile"
            aria-selected="false">Bảo mật đa tầng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="home-3" data-toggle="tab" href="#datchuanquocte" role="tab" aria-controls="contact"
            aria-selected="false">Đạt chuẩn quốc tế</a>
        </li>

      </ul>

      <div class="wrap__scroll__next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </div>

    <div class="tab-content " id="baomatContent">
      <div class="tab-pane fade show active" id="baochungnganhang" role="tabpanel" aria-labelledby="home-1">


        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 order-1 order-md-0 overflow-hidden">
            <div class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left"
              data-aos-delay="100">
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    class="injected-svg m-2 icon icon-xs bg-success"
                    data-src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>

                <div class="mb-0 ml-3">
                  Tiền của bạn trong Ví MoMo là TIỀN THẬT và được bảo chứng 100% bởi các NGÂN HÀNG đang hợp tác với Ví
                  MoMo.
                </div>
              </div>
            </div>

            <div class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left"
              data-aos-delay="200">
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    class="injected-svg m-2 icon icon-xs bg-success"
                    data-src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>

                <div class="mb-0 ml-3">
                  Người dùng MoMo có thể Nạp/Rút tiền từ ngân hàng liên kết bất kỳ lúc nào.
                </div>
              </div>
            </div>

            <div class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left"
              data-aos-delay="300">
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    class="injected-svg m-2 icon icon-xs bg-success"
                    data-src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>

                <div class="mb-0 ml-3">
                  MoMo đã liên kết trực tiếp với 25 ngân hàng lớn và các tổ chức thẻ quốc tế
                  Visa/Master/JCB.
                </div>
              </div>
            </div>

          </div>

          <div class="col-12 col-md-5 pb-4">
            <img src="https://static.mservice.io/images/momo-upload-api-200918104944-637360229843269514.png"
              class="img-fluid d-block mx-auto px-3 px-md-0" alt="">
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="baomatdatang" role="tabpanel" aria-labelledby="home-2">


        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 order-1 order-md-0 overflow-hidden">
            <div class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left"
              data-aos-delay="100">
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    class="injected-svg m-2 icon icon-xs bg-success"
                    data-src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>

                <div class="mb-0 ml-3">
                  Để đăng nhập, cần nhập mật khẩu 6 số và mã OTP được gửi đến điện thoại. Mỗi lần thanh toán đều cần
                  nhập lại mật khẩu.
                </div>
              </div>
            </div>

            <div class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left"
              data-aos-delay="200">
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    class="injected-svg m-2 icon icon-xs bg-success"
                    data-src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>

                <div class="mb-0 ml-3">
                  Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
                </div>
              </div>
            </div>



          </div>

          <div class="col-12 col-md-5 pb-4">
            <img src="https://static.mservice.io/jk/styles/desktop/images/feature/02.png"
              class="img-fluid d-block mx-auto px-3 px-md-0" alt="">
          </div>
        </div>



      </div>
      <div class="tab-pane fade" id="datchuanquocte" role="tabpanel" aria-labelledby="home-3">

        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-12 col-md-5 overflow-hidden">
            <div class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left"
              data-aos-delay="100">
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    class="injected-svg m-2 icon icon-xs bg-success"
                    data-src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>

                <div class="mb-0 ml-3">
                  Công nghệ bảo mật của Ví MoMo đáp ứng các tiêu chuẩn quốc tế khắt khe nhất trong ngành tài chính ngân
                  hàng, đạt chứng nhận bảo mật toàn cầu PCI DSS cấp độ cao nhất.
                </div>
              </div>
            </div>

            <div class="mb-3 mb-lg-4 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left"
              data-aos-delay="200">
              <div class="d-flex align-items-center">
                <div class="rounded-circle bg-success-alt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    class="injected-svg m-2 icon icon-xs bg-success"
                    data-src="https://static.mservice.io/jk/accmm/rs/assets/img/icons/interface/icon-check.svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>

                <div class="mb-0 ml-3">
                  Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế GlobalSign.
                </div>
              </div>
            </div>



          </div>

          <div class="col-12 col-md-5">
            <img src="https://static.mservice.io/jk/styles/desktop/images/feature/03.png"
              class="img-fluid d-block mx-auto px-3 px-md-0" alt="">
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
