<section class="bg-gradient text-white o-hidden position-relative">
  <div class="container">
    <div class="row section-title mb-4 justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <div class="text-center">
          <h2 class="mb-3 h1" data-aos="fade-in" data-aos-offset="100">
            Sống khỏe
          </h2>
          <p
            class="lead"
            data-aos="fade-up"
            data-aos-delay="250"
            data-aos-offset="100"
            data-aos-duration="800"
          >
            Sẵn sàng lên kế hoạch cho chuyến đi sắp tới của bạn bằng những bí
            kíp du lịch độc đáo từ Ví MoMo.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-lg-4">
        <ul class="list-unstyled svf">
          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>
            <div class="cirlewhite">
              <span class="so">1</span>
            </div>
            <span> HOÀN TOÀN MIỄN PHÍ</span>
          </li>

          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>
            <div class="cirlewhite">
              <span class="so">2</span>
            </div>
            <span> BAO NHIÊU CŨNG CHUYỂN </span>
          </li>

          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>
            <div class="cirlewhite">
              <span class="so">3</span>
            </div>
            <span> TƯƠNG TÁC, BÀY TỎ CẢM XÚC </span>
          </li>

          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>
            <div class="cirlewhite">
              <span class="so">4</span>
            </div>
            <span> XÁC NHẬN CHUYỂN TIỀN </span>
          </li>
        </ul>
      </div>
      <div
        class="col-12 col-lg-4 d-none d-lg-block"
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="1000"
        data-aos-offset="50"
      >
        <img
          src="img/service/hinhsongkhoe.png"
          class="img-fluid d-block mx-auto"
          alt=""
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <ul class="list-unstyled svf svf-right">
          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>

            <div class="cirlewhite">
              <span class="so">6</span>
            </div>
            <span> AI CŨNG ĐÃ CÓ MOMO </span>
          </li>

          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>
            <div class="cirlewhite">
              <span class="so">7</span>
            </div>
            <span> CHUYỂN TIỀN NHANH CHÓNG </span>
          </li>

          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>
            <div class="cirlewhite">
              <span class="so">8</span>
            </div>
            <span> THAO TÁC DỄ DÀNG </span>
          </li>

          <li class="svf-item">
            <a
              href=""
              data-toggle="modal"
              data-target="#modal-ser-feature"
              class="link-absolute"
            ></a>
            <div class="cirlewhite">
              <span class="so">9</span>
            </div>
            <span> CHUYỂN TIỀN QUA SỐ ĐIỆN THOẠI </span>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="row justify-content-center mt-4">
      <div class="col-12 col-lg-8">
        <div class="text-left text-lg-center">
          Chỉ cần đi bộ
          <strong class="text-warning">4.000 bước mỗi ngày</strong>, bạn sẽ trở
          nên khoẻ hơn. Khoẻ hơn để bảo vệ chính mình và góp phần bảo vệ cộng
          đồng. Hãy cùng MoMo thực hiện điều đó, đồng thời lan toả và rủ rê
          người thân, bạn bè ‘nhập cuộc ’Sống khoẻ’ với MoMo!
        </div>
      </div>
    </div> -->

    <div class="mt-4 text-center">
      <a
        href="#"
        class="d-none d-md-inline-block btn btn-primary py-2 btn-warning rounded-pill btn-dropshadow btn-pulse"
        data-toggle="modal"
        data-target="#modal-huongdan"
      >
        Hướng dẫn sống khỏe
      </a>
      <a
        href="#"
        class="d-inline-block d-md-none btn btn-primary py-2 btn-warning rounded-pill btn-dropshadow btn-pulse"
        data-toggle="modal"
        data-target="#htu-modal"
      >
        Hướng dẫn sống khỏe
      </a>
    </div>
  </div>

  <div id="particles-js2"></div>
</section>
