<section class="bg-pink-light sc-downapp">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <img src="/img/donation/tai-app.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-6 pt-4 pt-md-0">
                        <div class="fs-12 fw-600 text-pink-momo text-uppercase">TẢI APP</div>
                        <h4 class="py-2">
                            Đội ngũ phát triển Heo Đất
                        </h4>
                        <p class="fs-14 fw-400 text-gray-800">
                            Siêu ứng dụng thanh toán số 1 Việt Nam,
                            Để nuôi heo và quyên góp, đầu tiên bạn cần tải ứng dụng Ví điện tử MoMo.
                        </p>
                        <div class="row">
                            <div class="col-auto">
                                <div class="py-2">
                                    <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                        class="link-white" target="_blank">
                                        <img src="https://static.mservice.io/img/tai-appstore.png" width="130"
                                            class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="py-3">
                                    <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                        class="link-white" target="_blank">
                                        <img src="https://static.mservice.io/img/tai-google-play.png" width="130"
                                            class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 py-2">
                                <img src="/img/donation/qr-code.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>