{% import "components/tienich-content.html" as dulieu %}

{% set tienich = dulieu.tienich  %}

<section class="tienich " id="tienich">

    <div class="text-center mb-3 mb-lg-4">
        <h2 class="font-weight-bold text-primary-2">Dịch vụ tiện ích nổi bật</h2>
    </div>

    <div class=" tienich__tab  is-show">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-auto d-none d-lg-block">
                    <div class="tienich__tab__nav  left">
                        <div class="tienich__tab__btn ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="svg-icon">
                                <polyline points="15 18 9 12 15 6"></polyline>
                            </svg>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="swiper-container swiper-tienich">
                        <div class="swiper-wrapper">

                            {% for item in tienich %}

                            <div class="swiper-slide {% if loop.index > 4  %} click-none {% endif %} ">
                                <div class="tienich__stick">
                                    <img src="{{item.icon}}" class="img-fluid tienich__icon" alt="">
                                    {{ item.name }}
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="tienich__tab__nav right">
                        <div class="tienich__tab__btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="svg-icon">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="tienich__tab__more">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </div> -->


    </div>
    <div class="tienich__patch__wrap ">
        <div class="container">
            <div class="tienich__patch">
                {% for item in tienich %}
                <div class="tienich__patch__item {% if loop.index == 2  %} is-active {% endif %}">
                    <div class="tienich__cat__gradient wrap__scroll ">

                        <ul class="list-inline tienich__cat nav justify-content-lg-center wrap__scroll__target">
                            {% set tabId = loop.index %}

                            {% for i in item.sub %}
                            <li class="list-inline-item">
                                <a class="nav-link tienich__cat__link {% if loop.index == 1  %} active {% endif %}"
                                    data-toggle="tab" href="#tienIch{{tabId}}-{{loop.index}}">
                                    <span class="tienich__cat__icon">
                                        <img src="{{i.icon}}" class="img-fluid" alt="">
                                    </span>
                                    <span class="tienich__cat__name">
                                        {{i.name}}</span>
                                </a>
                            </li>
                            {% endfor %}

                            {% if item.sub | length > 5  %}

                            <li class="list-inline-item tienich__more__wrap">
                                <a class="nav-link tienich__cat__link  arrow-bottom" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <span class="tienich__cat__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="#A50064" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="svg-icon">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </span>

                                    <!-- <span class="tienich__cat__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                    </span> -->
                                </a>


                                <div class="dropdown-menu dropdown-menu-right p-0">
                                    <div class="tienich__more nav">
                                        {% for i in item.sub %}
                                        <a class="tienich__more__item nav-link" data-toggle="tab"
                                            href="#tienIch{{tabId}}-{{loop.index}}">
                                            <span class="tienich__more__icon">
                                                <img src="{{i.icon}}" class="img-fluid" alt="">
                                            </span>
                                            <span class="tienich__more__name">
                                                {{i.name}}</span>
                                        </a>
                                        {% endfor %}
                                    </div>

                                </div>


                            </li>

                            {% endif %}
                        </ul>

                        <div class="wrap__scroll__next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="svg-icon">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </div>
                    </div>
                    <div class="tienich__box">
                        <div class="tab-content">

                            {% set thumbnailImage = item.thumbnail %}

                            {% for i in item.sub %}
                            <div id="tienIch{{tabId}}-{{loop.index}}"
                                class=" tab-pane {% if loop.index == 1 %} active {% else %} fade {% endif %}">
                                <div class="row no-gutter">
                                    <div class="col-md-5">
                                        <h4 class="font-weight-bold text-center text-md-left">{{i.desc}}</h4>

                                        <div
                                            class="embed-responsive embed-responsive-16by9 tienich__feature d-block d-md-none mt-3">
                                            <img src="{{thumbnailImage}}" class="embed-responsive-img" alt="">
                                        </div>

                                        <ul class="list-unstyled tienich__list">
                                            {% for item in i.list %}
                                            <li class="">

                                                <img src="https://static.mservice.io/styles/desktop/images/svg/check.svg"
                                                    alt="">
                                                {{item | safe}}
                                            </li>

                                            {% endfor %}
                                        </ul>

                                        <div
                                            class="row sm-gutters mt-2 mt-lg-4 justify-content-center justify-content-md-start">
                                            {% for item in i.brand %}
                                            <div class="col-3">

                                                <div class="tienich__merchant ">
                                               
                                                    {% if item.link != "" %}
                                                    <a href="{{item.link}}" class="link-absolute" target="_blank"></a>
                                                    {% endif %}
                                                
                                               


                                                    <div class="tienich__merchant__image">
                                                        <img src="{{item.icon}}" class="img-fluid d-block mx-auto"
                                                            width="38" alt="">

                                                        {% if loop.index == 1 %} 
                                                        <div class="tienich__tag ">
                                                            Covid-19 
                                                        </div>
                                                        {% endif %}
                                                             
                                                    </div>
                                                    <div class="mt-2 tienich__merchant__name">
                                                        {{item.name}}
                                                    </div>
                                                </div>

                                            </div>
                                            {% endfor %}

                                        </div>
                                        {% if i.cta != "" %}
                                        <div class="mt-3 mt-lg-4 text-center text-md-left">
                                            <a href="{{i.cta}}" target="_blank"
                                                class="btn btn-primary-2 rounded-pill">Xem chi tiết</a>
                                        </div>
                                        {% endif %}

                                    </div>
                                    <div class="col-md-7">

                                        <div
                                            class="embed-responsive embed-responsive-16by9 tienich__feature d-none d-md-block">
                                            <img src="{{thumbnailImage}}" class="embed-responsive-img" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</section>