<style type="text/css">.body {overflow: hidden;}
  .coming-soon {
    background: url('/momo2020/img/lacxi/cms-bg-laptop.jpg') scroll no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 800;
  }
  .cms-fullpage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cms-content {
    background: #B71E4C;
    border: 2px solid #FED925;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    color: #F2F2F2;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .btn-cta {
    background: linear-gradient(90deg, #F5A800 0%, #FED925 100%);
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding: 0.75rem 7rem;
  }
  @media (max-width: 991.98px) {
    .coming-soon {
      background: url('/momo2020/img/lacxi/cms-bg-mobile.png') scroll no-repeat center;
      background-size: 100% 100%;
    }
    .btn-cta {
      padding: 0.55rem 5rem;
    }
  }
</style>
<div class="coming-soon">
	<div class="container">
		<div class="cms-fullpage">
      <div class="row">
        <div class="col-12">
          <h1 class="text-lacxi text-center">Nội dung đang được cập nhật!</h1>
        </div>
      </div>
			<div class="row">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-7 col-md-6 col-lg-4 text-center py-2">
              <img class="img-fluid" src="/momo2020/img/lacxi/mascot2.png"/>
            </div>
          </div>
        </div>
				<div class="col-12 d-flex justify-content-center align-items-center pt-1">
					<div class="cms-content lead">
						Cùng đón chờ Lắc Xì trở lại vào ngày 28/1/2021. <br/>
            Cứ chơi là trúng tiền, trúng quà với tổng giải thưởng 300 Tỷ Đồng.
					</div>
				</div>
			</div>

			<div class="row pt-3">
				<div class="col-12 text-center">
					<a class="btn btn-cta" href="./">Xem chi tiết</a>
				</div>
			</div>
		</div>
	</div>
</div>
