<style type="text/css">
  body {
    padding: 0;
  }

  .kv-nologo {
    background: url('https://static.mservice.io/blogscontents/momo-upload-api-210625100554-637602123544908069.png') no-repeat scroll top center / cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .img-qua img {
    width: 350px;
  }

  @media (min-width:992px) {
    .kv-nologo {
      background: url('https://static.mservice.io/blogscontents/momo-upload-api-210625102116-637602132765112850.jpg') no-repeat scroll top center / cover;
    }
  }
  @media (min-width: 768px) {
    .kv-nologo:before {
      content: '';
      position: absolute;
      left: -8%;
      bottom: 0;
      top: 0;
      right: 0;
      background: url(https://static.mservice.io/blogscontents/momo-upload-api-210628102530-637604727306383821.jpg) no-repeat scroll center bottom;
      background-position-x: 50%;
      background-size: cover;
    }

    .img-title {
      top: 12vh;
      position: relative;
    }

    .img-qua img {
      width: 400px;
    }

    .img-chodon {
      position: absolute;
      bottom: 12%;
      left: 0;
      width: 100%;
    }
  }
</style>
<section class="kv-nologo">
  <div class="container" style="height: 100vh;">
    <div class="text-center img-title" data-aos="fade-up">
      <img alt="" class="img-fluid" loading="lazy"
        src="https://static.mservice.io/blogscontents/momo-upload-api-210628100513-637604715138424212.png"
        width="400" />
    </div>

    <div class="pt-3 text-center d-none" data-aos="fade-left" data-aos-delay="300">
      <img alt="" class="img-fluid" loading="lazy"
        src="https://static.mservice.io/blogscontents/momo-upload-api-210623151422-637600580623982056.png"
        width="260" />
    </div>

    <div class="pt-3 text-center text-uppercase fs-16 fw-800 color-tpmomo d-none" data-aos="fade-right"
      data-aos-delay="300">
      BẮT ĐẦU TỪ NGÀY 7/7, CHỈ CÒN:
    </div>

    <div class="cashback-countdown-container pt-3 d-none" data-aos="zoom-in" data-aos-delay="600">
      <div class="js-countdown">
        <div class="countdown-container text-center" id="js-countdown">
           
        </div>
      </div>
    </div>

    <div class="text-center img-qua d-block d-md-none" data-aos="fade-up" data-aos-delay="300">
      <img alt="" class="img-fluid" loading="lazy"
        src="https://static.mservice.io/blogscontents/momo-upload-api-210624154623-637601463838946507.png" />
    </div>

    <div class="text-center pt-3 img-chodon" data-aos="zoom-out-up" data-aos-delay="500" data-aos-offset="-500">
      <img alt="" class="img-fluid" loading="lazy"
        src="https://static.mservice.io/blogscontents/momo-upload-api-210625100800-637602124800412134.png"
        width="240" />
    </div>
  </div>
</section>
<style type="text/css">
  .js-countdown {
    margin: 0 auto;
  }

  .js-countdown .countdown-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10%
  }

  .js-countdown .time {
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08);
    text-align: center;
    position: relative;
    width: 64px;
    margin-left: 20px;
    word-spacing: 0;
    letter-spacing: normal;
    text-rendering: auto;
    perspective: 479px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
  }

  .js-countdown .time::before {
    content: ':';
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    top: 48%;
    left: 0;
    transform: translateY(-50%);
    margin-left: -24%
  }

  .js-countdown .time::after {
    content: '';
    padding-bottom: 100%;
    display: block;
  }

  .js-countdown .time:first-child::before {
    content: ''
  }

  .countdown-container .time:first-child {
    margin-left: 0;
  }

  .js-countdown .count {
    background: #de3193;
    color: #fff;
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.89em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    transform: translateZ(0);
    transform-style: flat;
  }

  .js-countdown .count.top {
    border-radius: 5px 5px 0 0;
    height: 50%;
    transform-origin: 50% 100%
  }

  .js-countdown .count.bottom {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .02));
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0 0 5px 5px;
    line-height: .05em;
    height: 50%;
    top: 50%;
    transform-origin: 50% 0;
  }

  .js-countdown .label {
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
    color: #fff;
  }

  .js-countdown .count.curr.top {
    transform: rotateX(0);
    z-index: 3;
  }

  .js-countdown .count.next.bottom {
    transform: rotateX(90deg);
    z-index: 2;
  }

  .js-countdown .flip .count.curr.top {
    transition: all 250ms ease-in-out;
    transform: rotateX(-90deg);
  }

  .js-countdown .flip .count.next.bottom {
    transition: all 250ms ease-in-out 250ms;
    transform: rotateX(0);
  }

  @media (max-width:700px) {
    .cashback-countdown-container {
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 0;
    }

    .js-countdown {
      margin: 0 auto;
      width: 250px;
    }

    .js-countdown .time {
      width: 47px;
      margin-left: 10px;
    }

    .js-countdown .time::before {
      left: 0;
      margin-left: -20%
    }

    .countdown-container .time:first-child {
      margin-left: 0;
    }

    .js-countdown .count {
      font-size: 25px;
      line-height: 2em;
    }

    .js-countdown .label {
      font-size: normal;
      margin-top: 5px;
      font-size: 13px;
    }
  }

  .view_app .js-countdown .time {
    height: auto;
  }

  .view_app .js-countdown .time::after {
    display: none;
  }

  .view_app .js-countdown .count.next.top {
    height: 100%;
    border-radius: 5px;
    overflow: unset;
    position: relative;
  }

  .view_app .js-countdown .count.curr,
  .view_app .js-countdown .count.next.bottom {
    display: none;
  }

  .view_app .js-countdown .label {
    top: 100%
  }

  .view_app .app-download.vp_show .app-download__content {
    width: 100%
  }

  .view_app .app-download.vp_show .app-download__btn {
    width: 100%;
    margin: 0 40px;
  }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
<script type="text/template" id="js-countdown-template">
      <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
      </div>
    </script>
<script>
  $(function () {
    var labels = ['NGÀY', 'GIỜ', 'PHÚT', 'GIÂY'],
      // nextYear = (new Date().getFullYear() + 7) + '/01/01',

      nextYear = "2021/07/07";
    template = _.template($('#js-countdown-template').html()),
      currDate = '00:00:00:00',
      nextDate = '00:00:00:00',
      parser = /([0-9]{2})/gi,
      $example = $('#js-countdown');
    // Parse countdown string to an object
    function strfobj(str) {
      var parsed = str.match(parser),
        obj = {};
      labels.forEach(function (label, i) {
        obj[label] = parsed[i]
      });
      return obj;
    }
    // Return the time components that diffs
    function diff(obj1, obj2) {
      var diff = [];
      labels.forEach(function (key) {
        if (obj1[key] !== obj2[key]) {
          diff.push(key);
        }
      });
      return diff;
    }
    // Build the layout
    var initData = strfobj(currDate);
    labels.forEach(function (label, i) {
      $example.append(template({
        curr: initData[label],
        next: initData[label],
        label: label
      }));
    });
    // Starts the countdown
    $example.countdown(nextYear, function (event) {
      // var newDate = event.strftime(totalHours + '%M:%S'),
      var newDate = event.strftime('%D:%H:%M:%S'),
        data;
      if (newDate !== nextDate) {
        currDate = nextDate;
        nextDate = newDate;
        // Setup the data
        data = {
          'curr': strfobj(currDate),
          'next': strfobj(nextDate)
        };
        // Apply the new values to each node that changed
        diff(data.curr, data.next).forEach(function (label) {
          var selector = '.%s'.replace(/%s/, label),
            $node = $example.find(selector);
          // Update the node
          $node.removeClass('flip');
          $node.find('.curr').text(data.curr[label]);
          $node.find('.next').text(data.next[label]);
          // Wait for a repaint to then flip
          _.delay(function ($node) {
            $node.addClass('flip');
          }, 50, $node);
        });
      }
    });
  });
</script>
