{% set caseMenu=[ 
    { "img": "icon-maybay", "title": "Vé máy bay", color: '#36bc99' }, 
    { "img": "icon-xe", "title": "Vé xe khách", color: '#2997ff' }, 
    { "img": "icon-tau", "title": "Vé tàu", color: '#f96268' } 
  ] 
%}

<div class="sg-nav-container shadow-sm">
  <div class="container position-relative">
    <div class="wrap__scroll wrap__scroll__service is-bg-white">
      <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb align-items-center wrap__scroll__target">
          <li class="breadcrumb-item">
            <a href="/">
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon breadcrumb-home-icon"
                viewBox="0 0 426.667 426.667">
                <path d="M213.333 32L0 224h64v170.667h106.667v-128H256v128h106.667V224h64z"></path>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item active">
            <a href="/services.html">Du lịch - Đi lại</a>
          </li>
          {% for i in [0,1,2] %}
          <li class="breadcrumb-item breadcrumb-cat">
            <a href="/services-detail.html">
              <img src="img/service/{{caseMenu[i].img}}.svg" class="img-fluid img-icon" alt="" />
              {{caseMenu[i].title}}
            </a>
          </li>
          {% endfor %}
          <li class="d-block" style="height: 1px">
            <span style="width: 30px; display: block"></span>
          </li>
        </ol>
      </nav>

      <div class="wrap__scroll__next">
        <i class="svg-icon" data-feather="arrow-right"></i>
      </div>
    </div>
  </div>
</div>
