@import "functions"; // From bootstrap node module
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables"; 


//Import Bootstrap 
@import "bootstrap-override/bootstrap";
//Style Bootstrap components
@import "custom/components";

@import "globals/mixins";
@import "globals/colors";
@import "globals/typo";
@import "globals/global";
@import "globals/30scss";

@import "user";
@import "soju/icons";
// @import "soju/font";

@import "vendor/swiper";
@import "vendor/hamburgers/hamburgers";

@import "soju/articles";
@import "soju/embed";
@import "soju/cluster";
@import "soju/search";
@import "soju/footer";
@import "soju/card";
@import "soju/slider";
@import "soju/htu";
@import "soju/modal";
@import "soju/box";
@import "soju/font";

@import "soju/header";
@import "soju/button";


// CKEDITOR STYLE HERE
.cke_editable{
    background-color: #fff;
    padding: 20px;
}

.cke_editable{
    img{
        max-width: 100% !important;
        height: auto !important;
    }
    table{
        @extend .table;
    }
}