:root {
  // --wrap-bg-color: #303030;
}

// body {
//   & > .wrapper {
//     overflow-x: hidden;
//     overflow-y: auto;
//     & > .view {
//       overflow-x: hidden;
//       overflow-y: auto;
//     }
//   }
// }

.copyright {
  background: transparent;
}

.footer-nav-container {
  overflow: hidden;
  &.old-layout {  
    & > .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media (min-width: 992px) {
    margin-top: 15px;
  }

  --wrap-bg-color: #303030;

  &+.footer__meta {
    margin-top: 0;
  }

  .breadcrumb-container {
    background: transparent;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    font-size: 13px;
  }

  .breadcrumb {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;
    background-color: transparent;
  }

  .breadcrumb-item {
    flex: 0 0 auto;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      a {
        transform: unset;
      }
    }

    &:nth-child(2) {
      &::before {
        display: none;
      }
    }

    &+.breadcrumb-item {
      padding-left: .5rem;
      &:before {
        background: #9e9e9e;
        width: 1px;
        padding: 0;
        margin-right: 10px;
        content: '';
        position: unset;
        left: unset;
        top: unset;
        height: 1rem;
        opacity: 0.5;
        color: #757575;
      }
    }

    a {
      color: rgba(255, 255, 255, 0.8);

      &:hover,
      &:focus {
        color: #ffffff;
      }
    }

    @media (max-width: 767.98px) {
      padding-right: 8px;

      &+.breadcrumb-item {
        &:before {
          margin-right: 10px;
        }
      }

      .breadcrumb {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .img-icon {
    width: 1.5em;
    margin-right: 4px;
    position: relative;
    top: -1px;
  }

  .wrap__scroll__next {
    background-color: transparent;
  }
}

.wrap__scroll__next {
  display: none;
}
.footer{

  @media (max-width: 767.98px) {
    .container>.wrap__scroll {
      margin-left: -15px;
    }
  
    .container>.wrap__scroll .wrap__scroll__target {
      padding-left: 15px;
    }
  
    .wrap__scroll {
      position: relative;
      padding-right: 0;
      position: relative;
      transition: opacity 0.25s;
    }
  
    .wrap__scroll:after {
      content: "";
      z-index: 2;
      display: block;
      position: absolute;
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
      background: white;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--wrap-bg-color) 35%, var(--wrap-bg-color) 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, -o-var(--wrap-bg-color) 35%, -o-var(--wrap-bg-color) 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, -ms-var(--wrap-bg-color) 35%, -ms-var(--wrap-bg-color) 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, -moz-var(--wrap-bg-color) 35%, -moz-var(--wrap-bg-color) 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, -webkit-var(--wrap-bg-color) 35%, -webkit-var(--wrap-bg-color) 100%);
      right: -8px;
      width: 45px;
      pointer-events: none;
    }
  
    .wrap__scroll.is-bg-gray {
      background: #f5f5f5;
    }
  
    .wrap__scroll.is-bg-gray:after {
      background: linear-gradient(90deg, rgba(245, 245, 245, 0) 0%, whitesmoke 50%, whitesmoke 100%);
    }
  
    .wrap__scroll.is-bg-pink {
      background: #FCEFF4;
    }
  
    .wrap__scroll.is-bg-pink:after {
      background: linear-gradient(90deg, rgba(252, 239, 244, 0) 0%, #fceff4 50%, #fceff4 100%);
    }
  
    .wrap__scroll.wrap-active .wrap__scroll__next {
      display: flex;
    }
  
    .wrap__scroll__next {
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      right: -8px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #e0e0e0;
      align-items: center;
      justify-content: center;
      z-index: 3;
    }
  
    .wrap__scroll__next .svg-icon {
      width: 17px;
      opacity: 0.9;
    }
  
    .wrap__scroll__next:after {
      content: "";
      height: 44px;
      position: absolute;
      width: 44px;
      right: 0;
      background: transparent;
    }
  
    .wrap__scroll__target {
      padding-right: 30px !important;
    }
  }
  
}