@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

$yellow-color: #FAFF00;
$lacxi-color: #CA1E52;

.text-lacxi {
  color: $yellow-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.youtube-lacxi {
  border: 2px solid #fed925;
}
.bg-doitac {
  background-color: #FFE1C4;
}
.bg-tracuuketqua {
  background: #FFDFCA;
}
.img-filter-gray {
  filter: grayscale(1) contrast(0.5) brightness(1.4);
}

.block-lacxi {
  background: $lacxi-color;
  border: 1.5px solid $yellow-color;
  color: $yellow-color;
  border-radius: 5px;
}
.fs-22-18 {
  font-size: 18px;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}
.fs-22-14 {
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}
.fs-20-14 {
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}
.fs-28-22 {
  font-size: 22px;
  @include media-breakpoint-up(md) {
    font-size: 28px;
  }
}
.article {
  img {
    max-width: 100%;
  }
}
.fs-sm-16 {
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}



.text-lacxi-highline {
  color: $yellow-color;
  text-shadow: 4px 1px 0px rgba(245,47,131,1);
  font-size: 30px;
  @include media-breakpoint-up(md) {
    font-size: 40px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

.link-yellow {
  color: $yellow-color;

  @include hover-focus-active() {
    color: darken($yellow-color, 5%);
  }
}

.lacxi-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 0;

  .background {
    background-image: url('../img/lacxi/bg-op.jpg');
    background-color: #c11279;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    &::before {
      content: '';
      background: url('../img/lacxi/bg-left.png') scroll no-repeat bottom left;
      background-size: 100% auto;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 24%;
      height: 100%;
      z-index: 1;
      max-width: 300px;
    }
    &::after {
      content: '';
      background: url('../img/lacxi/bg-right.png') scroll no-repeat bottom right;
      background-size: 100% auto;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 24%;
      height: 100%;
      z-index: 1;
      max-width: 300px;
    }
    
    @include media-breakpoint-down(md) {
      &::before,
      &::after {
        filter: blur(4px);
        width: 40%;
      }
    }

    @include media-breakpoint-down(sm) {
      background-image: url('../img/lacxi/bg-mobile-op.jpg');
      background-position: center;
      background-size: cover;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.lacxi-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gif {
    position: relative;
    z-index: 1;
  }
  .happy {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }

  &.is-hidden {
    opacity: 0;
    display: none;
  }
}

.lacxi-content {
  transition: all 250ms ease-in-out;
  opacity: 1;
  
  &.loading {
    opacity: 0;
    height: 100vh;
    overflow: hidden;
  }

  .link-back {
    position: fixed;
    top: 170px;
    right: 30px;
    z-index: 100;
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;

    & img {
      position: relative;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10%;
      left: -12%;
      width: 100%;
      height: 100%;
      background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%);
      background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      border-radius: 50%;
      
      -webkit-animation-name: tada;
      animation-name: tada;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
    }
    @include media-breakpoint-down(md) {
      top: 480px;
    }
  }
  .app-download {
    background: radial-gradient(48.99% 172.23% at 51.01% 50%, #E77966 0%, #F24E67 25.09%, #E9187C 49.48%, #C91071 74.37%, #A80866 100%);

    .headerstrip__banner-dismiss svg {
      fill: #F2F2F2;
    }

    .btn-primary-2 {
      background: linear-gradient(90deg, #F5A800 0%, #FED925 100%);
      border-color: transparent;
      color: $lacxi-color;
      font-weight: 800 !important;
    }
    & > .tt p {
      color: #ffffff;
    }
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes tada {
  from {
      transform: scale3d(1,1,1)
  }

  10%,20% {
      transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
  }

  30%,50%,70%,90% {
      transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
  }

  40%,60%,80% {
      transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
  }

  to {
      transform: scale3d(1,1,1)
  }
}

@keyframes tada {
  from {
      transform: scale3d(1,1,1)
  }

  10%,20% {
      transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
  }

  30%,50%,70%,90% {
      transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
  }

  40%,60%,80% {
      transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
  }

  to {
      transform: scale3d(1,1,1)
  }
}

.menu-lacxi {
  .nav-item {
    font-size: 16px;
    font-weight: bold;
  }
}

.navbar-lacxi.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  @include hover-focus {
    color: $yellow-color;
  }
}

.navbar-toggled-show {
  background-color: rgba($lacxi-color, 0.9);
}

.navbar-lp-open .navbar-lacxi {
  background-color: rgba($lacxi-color, 0.9);
}

.navbar-lacxi-return {
  padding: .5rem 1rem;
  background: rgba($lacxi-color, 0.9);
  color: #fff;
  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s;
}

.navbar-lp-open.view_app .vp_show_inline {
  visibility: hidden;
}

.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar-toggler-close {
    left: unset;
    top: unset;
  }
}

.navbar-lp-container {
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.5s, background-color 100ms;
  box-shadow: none;
  background-color: transparent;
  backdrop-filter: unset;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: env(safe-area-inset-top);

  &.is-hidden {
    transform: translateY(-100%);
  }

  &.show-background {
    background-color: rgba($lacxi-color, 0.9);
  }

  &[data-sticky=top] {
    transition: all .2s ease-in-out;
    will-change: background-color;
  }
}

.btn-share {
  padding: 0;
}
.popover {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 13px;
}
.popover-body {
  padding: 0;
}
.popover-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 1030;
  display: none;
}
.popover-share {
  width: 260px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .item-link {
    color: #000000;
  }
  .item-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    min-height: 60px;
    border-radius: 13px 13px 0 0;
    padding-left: 15px;
  }
  .item-media {
    display: flex;
    width: 10%;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 8px;
    .icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
      overflow: visible;
      display: inline-block;
      font-size: inherit;
      overflow: visible;
      vertical-align: -0.125em;
    }
  }
  .item-inner {
    padding-right: 35px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-left: 15px;
    min-height: 60px;

    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    align-self: stretch;

    &::before {
      content: '';
      background: url('../img/lacxi/i-arrow.png') scroll no-repeat center;
      background-size: 100% auto;
      color: rgb(199, 199, 204);
      position: absolute;
      top: 50%;
      right: 15px;
      width: 8px;
      height: 14px;
      font-size: 20px;
      font-weight: bolder;
      margin-top: -7px;
      line-height: 14px;
      text-align: center;
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: rgb(200, 199, 204);
      display: block;
      z-index: 15;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      transform-origin: 50% 100%;
      transform: scaleY(0.5);
    }
  }
  .item-title {
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
  }
}

.kv {
  width: 100%;
  overflow-x: hidden;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;

    background: url('../img/lacxi/deco_below_compressed.png') scroll no-repeat;
    background-size: 54% auto;
    background-position-y: bottom;
    background-position-x: 45%;
  }

  .bieutuong {
    position: relative;
    margin: 0 auto;
    z-index: 0;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }

    .boom {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    .mascot {
      position: relative;
      z-index: 10;
      width: 45%;
      top: 1vh;
    }
  }

  .laclatrung {
    position: relative;
    z-index: 1;
    top: -30px;

    @include media-breakpoint-down(md) {
      top: 0px;

      &>img {
        width: 95%;
      }
    }
  }
}

.countdown-lead {
  font-size: 20px;
  font-weight: 800;
  margin-top: -20px;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 0;
  }
}

.btn-cta {
  background: linear-gradient(90deg, #F5A800 0%, #FED925 100%);
  box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  padding: 0.75rem 7rem;

  @include media-breakpoint-down(md) {
    padding: 0.55rem 4rem;
  }
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  @include media-breakpoint-down(md) {
    padding: .15em 1.75em;
    width: auto;
  }
  @include media-breakpoint-down(sm) {
    font-size: 13px;
    width: 100%;
  }

  &:hover {
    color: #B71E4C;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 2px rgba(183, 30, 76, 0.25);
  }
}

.nav-lacxi {
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  @include media-breakpoint-down(sm) {
    justify-content: space-around;
  }

  .nav-item {
    max-width: 48%;

    &:first-child {
      margin-left: 0;
    }

    @include media-breakpoint-up(md) {
      margin-left: 10px;
    }
    @include media-breakpoint-up(lg) {
      margin-left: 20px;
    }

    .nav-link {
      max-width: 100%;
      background-image: url('../img/lacxi/Asset.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;

      width: 220px;
      height: 80px;
      padding-top: 28px;

      color: gray("900");
      font-weight: bold;
      font-size: 16px;
      text-align: center;

      &.active {
        background-image: url('../img/lacxi/effect.png');
        color: $lacxi-color;
      }

      @include media-breakpoint-down(md) {
        width: 170px;
        height: 70px;
        padding-top: 26px;
        font-size: 13px;
        margin-top: -10px;
      }
    }
  }
}

.lacxi-tab-container {
  position: relative;
  margin-bottom: -34px;
  margin-top: 20px;
  z-index: 1;
}

.lacxi-tab {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}

.lacxi-tab {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}

.lacxi-tab-item {
  display: inline-block;
  font-size: 0;
  width: 170px;
  margin: 0 5px;

  .embed-responsive-tab {
    background-image: url("../img/lacxi/scroll-active.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
  }

  &.active {
    .embed-responsive-tab {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }

    .lacxi-tab-name {
      color: gray("900");
    }
  }
}

.lacxi-tab-name {
  color: gray("700");
  position: absolute;
  width: 100%;
  padding: 5px 10px 0;
  text-align: center;
  @include text-truncate;
  font-size: 16px;
  font-weight: 700;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.embed-responsive-tab {
  position: relative;

  &::before {
    padding-top: percentage(72/228);
  }
}

.s-lacxi {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  .process_item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    min-height: 60px;
    flex-flow: row nowrap;
    cursor: pointer;

    .process__body-content {
      color: white;

      a {
        @extend .link-yellow;
      }
    }

    // transition: all 0.2s ease-in;
    &.active {
      .process__number {
        background: $yellow;

        span {
          color: gray("900");
        }
      }
    }

    // .process__number {}

    .process__body-title {
      transition: all 0.2s ease-in;

      margin-top: 5px;
      margin-bottom: 5px;
    }

    &:hover,
    &.active {
      .process__body-title {
        color: color("yellow");
      }
    }

    .process__body-title {
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
  }

  .process__number {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    // border: 2px solid color("blue");
    border: 2px solid transparent;
    background: darken(gray("200"), 5%);

    // @extend .shadow-sm;
  }

  .process__number span {
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
    // color: color("blue");
    color: gray("900");
    position: relative;
  }

  .process__body {
    flex: 1 1 0px;
    padding-left: 15px;
  }

  .process {
    .process_item:not(:last-child):before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 13px;
      top: 0;
      border-left: 1px dashed rgba(255, 255, 255, 0.4);
      z-index: -1;
    }
  }
}

.lacxi-faq {
  .card {
    border: 1px solid #fff0bd;
  }

  .card>[data-toggle="collapse"][aria-expanded="true"] .icon [fill]:not([fill="none"]) {
    fill: gray("900");
  }
}

.lacxi-faq-cl {
  background: #fff0bd;
  color: gray("900");
  padding: 10px 15px;
  display: block;
  font-weight: 700;

  @include hover-focus() {
    color: gray("900");
    background: darken(#fff0bd, 5%);
  }
}

.lacxi-faq-cont {
  padding: 20px 15px;
  line-height: 1.5em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eaedf2;
  border-radius: .3125rem;
}

.lacxi-huongdan {
  .manual-page-tab .nav-link {
    background-color: transparent;
    background-image: url("../img/lacxi/scroll-active.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    width: calc(100% / 5);
    min-width: auto;
    height: 100px;
    box-shadow: none;
    padding: 8px 20px;

    @media (min-width: 992px) and (max-width: 1279.98px) {
      font-size: 14px;
      margin: 0 5px;
    }
    @include media-breakpoint-down(sm) {
      min-width: 130px;
    }

    &::before {
      display: none;
    }

    &.active {
      color: $lacxi-color;
      background-color: transparent;
      background-image: url("../img/lacxi/scroll-active.png") !important;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }

    &:hover,
    &:focus {
      color: $lacxi-color;
      background-color: transparent;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }

  .process_item {
    .process__body-content a {
      color: $yellow-color;
    }

    &.active {
      .process__number {
        background: $yellow-color;
        span {
          color: #a50064;
        }
      }

      .process__body-title {
        color: $yellow-color;
      }
    }

    &:hover {
      .process__body-title {
        color: $yellow-color;
      }
    }
  }

  .htw__item {
    background: #fff0bd !important;
    border-radius: 5px 5px 0px 0px;

    &.collapsed {
      border-radius: 5px;
    }
  }

  .htw__collpase__bg {
    background-color: #ffffff;
  }
}


// Animate Efect
@-webkit-keyframes bounceInScale2 {
  0% {
    -webkit-transform: scaleX(0.000) scaleY(0.000);
    -webkit-transform-origin: 50% 50%;
    opacity: 0.000;
  }

  4% {
    -webkit-transform: scaleX(0.860) scaleY(0.860);
    opacity: 0.740;
  }

  8% {
    -webkit-transform: scaleX(1.610) scaleY(1.610);
    opacity: 1.000;
  }

  12% {
    -webkit-transform: scaleX(1.675) scaleY(1.675);
  }

  16% {
    -webkit-transform: scaleX(1.402) scaleY(1.402);
  }

  20% {
    -webkit-transform: scaleX(1.134) scaleY(1.134);
  }

  24% {
    -webkit-transform: scaleX(0.915) scaleY(0.915);
  }

  28% {
    -webkit-transform: scaleX(0.860) scaleY(0.860);
  }

  32% {
    -webkit-transform: scaleX(0.892) scaleY(0.892);
  }

  36% {
    -webkit-transform: scaleX(0.947) scaleY(0.947);
  }

  40% {
    -webkit-transform: scaleX(0.995) scaleY(0.995);
  }

  44% {
    -webkit-transform: scaleX(1.025) scaleY(1.025);
  }

  48% {
    -webkit-transform: scaleX(1.028) scaleY(1.028);
  }

  52% {
    -webkit-transform: scaleX(1.016) scaleY(1.016);
  }

  56% {
    -webkit-transform: scaleX(1.005) scaleY(1.005);
  }

  60% {
    -webkit-transform: scaleX(0.996) scaleY(0.996);
  }

  64% {
    -webkit-transform: scaleX(0.994) scaleY(0.994);
  }

  72% {
    -webkit-transform: scaleX(0.998) scaleY(0.998);
  }

  76% {
    -webkit-transform: scaleX(1.000) scaleY(1.000);
  }

  100% {
    -webkit-transform: scaleX(1.000) scaleY(1.000);
    -webkit-transform-origin: 50% 50%;
    opacity: 1.000;
  }
}

@keyframes bounceInScale2 {
  0% {
    transform-origin: 50% 50%;
    transform: scaleX(0.000) scaleY(0.000);
    opacity: 0.000;
  }

  4% {
    transform: scaleX(0.860) scaleY(0.860);
    opacity: 0.740;
  }

  8% {
    transform: scaleX(1.610) scaleY(1.610);
    opacity: 1.000;
  }

  12% {
    transform: scaleX(1.675) scaleY(1.675);
  }

  16% {
    transform: scaleX(1.402) scaleY(1.402);
  }

  20% {
    transform: scaleX(1.134) scaleY(1.134);
  }

  24% {
    transform: scaleX(0.915) scaleY(0.915);
  }

  28% {
    transform: scaleX(0.860) scaleY(0.860);
  }

  32% {
    transform: scaleX(0.892) scaleY(0.892);
  }

  36% {
    transform: scaleX(0.947) scaleY(0.947);
  }

  40% {
    transform: scaleX(0.995) scaleY(0.995);
  }

  44% {
    transform: scaleX(1.025) scaleY(1.025);
  }

  48% {
    transform: scaleX(1.028) scaleY(1.028);
  }

  52% {
    transform: scaleX(1.016) scaleY(1.016);
  }

  56% {
    transform: scaleX(1.005) scaleY(1.005);
  }

  60% {
    transform: scaleX(0.996) scaleY(0.996);
  }

  64% {
    transform: scaleX(0.994) scaleY(0.994);
  }

  72% {
    transform: scaleX(0.998) scaleY(0.998);
  }

  76% {
    transform: scaleX(1.000) scaleY(1.000);
  }

  100% {
    transform-origin: 50% 50%;
    transform: scaleX(1.000) scaleY(1.000);
    opacity: 1.000;
  }
}

// Generated by easegen
// Recommended Length: 1.8500369999999973
.bounceInScale2 {
  -webkit-animation-duration: 1.85s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: both;
  -webkit-animation-play-state: running;
  -webkit-animation-name: bounceInScale2;

  animation-duration: 1.85s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: bounceInScale2;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: both;
  -webkit-animation-play-state: running;
  -webkit-animation-name: rubberBand;

  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: initial;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: rubberBand;
}

//Countdown

.js-countdown {
  margin: 0 auto;
  // width: 310px;
}

.js-countdown .countdown-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10%;
}

.js-countdown .time {
  border-radius: 5px;

  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2),
    inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);

  text-align: center;
  position: relative;
  width: 64px;
  margin-left: 20px;
  word-spacing: 0;
  letter-spacing: normal;
  text-rendering: auto;

  perspective: 479px;

  backface-visibility: hidden;
  display: inline-block;

  &::before {
    content: ':';
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 48%;
    left: 0;
    transform: translateY(-50%);
    margin-left: -24%;
  }
  &::after {
    content: '';
    padding-bottom: 100%;
    display: block;
  }

  &:first-child {
    &::before {
      content: '';
    }
  }
}

.countdown-container .time:first-child {
  margin-left: 0;
}

.js-countdown .count {
  background: $lacxi-color;
  color: white;
  display: block;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.95em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  transform: translateZ(0);

  transform-style: flat;
}

.js-countdown .count.top {
  border-radius: 5px 5px 0 0;
  height: 50%;

  transform-origin: 50% 100%;
}

.js-countdown .count.bottom {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.02));

  border-top: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 0 0 5px 5px;
  line-height: 0.05em;
  height: 50%;
  top: 50%;

  transform-origin: 50% 0;
}

.js-countdown .label {
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  width: 100%;
  color: #ffffff;
}

/* Animation start */
.js-countdown .count.curr.top {
  transform: rotateX(0deg);
  z-index: 3;
}

.js-countdown .count.next.bottom {
  transform: rotateX(90deg);
  z-index: 2;
}

/* Animation end */
.js-countdown .flip .count.curr.top {
  transition: all 250ms ease-in-out;

  transform: rotateX(-90deg);
}

.js-countdown .flip .count.next.bottom {
  transition: all 250ms ease-in-out 250ms;

  transform: rotateX(0deg);
}

@media (max-width: 700px) {
  .cashback-countdown-container {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
  }

  .js-countdown {
    margin: 0 auto;
    width: 250px;
  }

  .js-countdown .time {
    width: 47px;
    margin-left: 10px;

    &::before {
      left: 0;
      margin-left: -20%;
    }
  }

  .countdown-container .time:first-child {
    margin-left: 0;
  }

  .js-countdown .count {
    font-size: 25px;
    line-height: 2em;
  }

  .js-countdown .label {
    font-size: normal;
    margin-top: 5px;
    font-size: 13px;
  }
}
.view_app {
  .js-countdown .time {
    height: auto;
    &::after {
      display: none;
    }
  }
  .js-countdown .count.next.top {
    height: 100%;
    border-radius: 5px;
    overflow: unset;
    position: relative;
  }
  .js-countdown .count.next.bottom,
  .js-countdown .count.curr {
    display: none;
  }

  .js-countdown .label {
    top: 100%;
  }

  .app-download.vp_show {
    .app-download__content {
      width: 100%;
    }
    .app-download__btn {
      width: 100%;
      margin: 0 40px;
    }
    .btn-primary-2 {
      font-size: 20px;
      height: 37px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px !important;
    }
    .js-app-download,
    .tt {
      display: none;
    }
  }
}

/* lac xi detail */
.lacxi-qua {
  border-radius: 10px;
  position: relative;
  margin: 0 10px;
  padding-bottom: 75px;
  transition: all 0.1s ease-in;
  
  .image {
    margin: 0 2.2% 0 2.8%;
    background-color: $lacxi-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;

    &::before {
      content: '';
      padding-bottom: 66.6667%;
      display: block;
    }

    & > img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 100ms ease-in;
    }
  }

  .title {
    background: url("../img/lacxi/1.png") scroll no-repeat center;
    background-size: 100% auto;
    color: $lacxi-color;
    font-weight: bold;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    width: calc(100% + 20px);
    height: 80px;
    padding: 20px 22px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 100ms ease-in;
  }
  
  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
    .title {
      background: url(../img/lacxi/scroll-active.png) scroll no-repeat center;
      background-size: 100% auto;
      font-size: 14px;
      padding: 20px 13%;
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0;
    .title {
      background: url(../img/lacxi/scroll-active.png) scroll no-repeat center;
      font-size: 12px;
      background-size: 100% auto;
      padding: 13px 15% 12px;
      line-height: 1em;
      bottom: -6%;
    }
  }

  @include hover-focus-active() {
    .image > img {
      transform: translateX(-50%) scale(1.05);
    }
  }
}

.lacxi-thele {
  .card {
    background: transparent;
    border: none;
  }
  .lacxi-faq-cl {
    background: #FFDFCA;
    color: $lacxi-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    svg {
      position: absolute;
      right: 15px;
      & > path {
        fill: $lacxi-color !important;
      }
    }
  }
  .lacxi-faq-cont {
    color: #ffffff;
    line-height: 1.5em;
  }
}

.lacxi-modal {
  .modal-content {
    background: url("../img/lacxi/modal-bg.png") scroll no-repeat center;
    border-radius: 15px;
    background-size: cover;
  }
  .modal-header {
    border-color: #F45197;
  }

  .modal-body {
    color: #ffffff;
    a {
      color: $yellow-color;
    }
  }

  .modal-footer {
    border-color: #F45197;
    justify-content: center;
  }
  .btn-cta {
    padding: 0.5rem 3rem; 
  }
}

.lacxi-cauhoi {
  .cauhoi {
    .ch-question {
      color: #ffffff;
      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
    .baolixi {
      position: relative;
      img {
        position: relative;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%);
        background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: all 150ms ease-in;
      }
    }
    @include hover-focus-active() {
      .ch-question {
        color: $yellow-color;
      }
      .baolixi {
        &::before {
          transform: scale(2);
          opacity: 1;
        }
      }
    }
  }
}
.lacxi-giaithuong {
  
  .img-giaithuong {
    background: $lacxi-color;
    border: 3px solid rgba(255, 247, 151, 0.9);
    transition: all 120ms ease-in;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    
    &::after {
      content: '';
      padding-bottom: 100%;
      display: block;
    }
    & img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      max-width: 180px;
    }
  }
  .item-giaithuong {
    padding-top: 1.5em;
    text-align: center;
    &:not(.hover),
    &.hover:hover {
      .img-giaithuong {
        box-shadow: 0px 0px 30px 10px rgba(255,247,151, 0.75);
        -webkit-box-shadow: 0px 0px 20px 6px rgba(255,247,151, 0.75);
        -moz-box-shadow: 0px 0px 30px 10px rgba(255,247,151, 0.75);
      }
    }
    h5 {
      margin-bottom: 0;
      padding: 1.8em 0 0.25em;
      
      @include media-breakpoint-down(sm) {
        padding: 6px 0 0.3em;
      }
    }
    p {
      color: #ffffff;
      font-weight: bold;
    }
  }
  @include media-breakpoint-up(md) {
    .bigsize .img-giaithuong {
      max-width: 200px;
    }
  }
}
.lacxi-suutap8ngoc {
  .content {
    color: #ffffff;
  }
}
p.response {
  font-size: 20px;
  line-height: 1.4em;
}
.lacxi-nhansohoc {
  .item-nhansohoc {
    background: linear-gradient(90deg, #CF1025 1.82%, #FE3C3B 50.45%, #C20E22 99.09%);
    border: 1.5px solid #FED925;
    border-radius: 10px;
    text-align: center;
    padding: 20px 15px 0;
    margin: 24px 21px 0;
    height: 100%;
    p {
      color: #ffffff;
    }
  }
  .img-title {
    position: absolute;
    width: calc(100% - 100px);
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .img-icon {
    display: block;
    margin: 60px auto 25px;
  }
}

.lacxi-sukien {
  .item-sukien {
    text-align: center;
    margin: 30px 0;
    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    }

    .img-block {
      position: relative;
      // overflow: hidden;
      
      & > img {
        max-width: 100%;
      }
      margin-bottom: 25px;

      // &.sukien-end {
      //   & img {
      //     @extend .img-filter-gray;
      //   }
      //   &::after {
      //     content: '';
      //     background: url(../img/lacxi/sukien-end.png) scroll no-repeat top center;
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     width: 100%;
      //     height: 100%;
      //     background-position-x: 70%;
      //     background-position-y: 98%;
      //     background-size: 100px;
      //   }
      // }
    }
    h4 {
      @extend .text-lacxi;
      padding: 0 20px;
      @include media-breakpoint-down(md) {
        height: 2.5em;
      }
    }
    p {
      color: #ffffff;
      font-weight: bold;
      min-height: 2.5em;
      margin-bottom: 10px;
      @include media-breakpoint-down(md) {
        height: 3em;
      }
    }
    .btn-cta {
      padding: .25em 1.5em;
    }
    &:hover {
      .img-block > img {
        box-shadow: 13px 13px 36px -18px rgba(0, 0, 0, 0.3), 0 0 50px -12px rgba(50, 50, 93, 0.13);
        transform: translate(0, -2px);
      }
      .btn-cta {
        color: #B71E4C;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
        text-shadow: 1px 1px 2px rgba(183, 30, 76, 0.25);
      }
    }
  }
}
.btn-back-to-top {
  box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.75);
}
.lacxi-nhiemvu {
  .item-nhiemvu {
    background: url('../img/lacxi/nhiemvu-bg.png') no-repeat center;
    background-size: 100% auto;
    height: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    overflow: hidden;
    position: relative;

    padding: 15px 20px;
    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 1;
    }
    &:hover::after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover {
      color: #B71E4C;
    }
    @include media-breakpoint-down(md) {
      margin: 0px 0;
    }
    @include media-breakpoint-down(sm) {
      background-size: auto 100%;
      margin: 10px 0;
    }
  }
}

.lacxi-lichdoingoc {
  .nav {
    .nav-item {
      position: relative;
      display: flex;

      &::before {
        content: '';
        height: 100%;
        display: block;
        background-color: #ffffff;
        width: 1px;
      }
      &:first-child {
        &::before {
          opacity: 0;
        }
      }
    }
    .nav-link {
      color: #ffffff;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 6px 2em;
      margin: 0 25px;

      background: transparent;
      transition: all 250ms ease-in-out;

      &.active {
        background: #F5A800;
        border-radius: 100px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 22px;
        margin: 0 10px;
        padding: 6px 20px;
      }
    }
  }
  .block-lacxi {
    padding: 20px;

    h6 {
      margin-bottom: 6px;
    }

    p {
      color: #fff;
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
      padding: 30px 30px 10px;
      p {
        margin-bottom: 30px;
      }
    }
    @include media-breakpoint-up(lg) {
      padding: 40px 40px 10px;
      p {
        margin-bottom: 40px;
      }
    }
  }
}
.lacxi-ngoc {
  label {
    font-size: 16px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
}

article.card {
  transition: all 150ms ease-in;
  img {
    transition: all 150ms ease-in;
  }
  &:hover,
  &:focus {
    box-shadow: 13px 13px 36px -18px rgba(0, 0, 0, 0.3),
      0 0 50px -12px rgba(50, 50, 93, 0.13);
    img {
      transform: scale(1.035);
    }
  }
}
.block-tracuuketqua {
  @extend .bg-tracuuketqua;
  border-radius: 10px;
  padding: 20px;
  .title {
    color: #CA1E52;
  }
  label {
    color: #333333;
    font-weight: 700;
    line-height: 160%;
  }
  .btn-block {
    background: #CA1E52;
    border-radius: 100px;
    width: 200px;
    font-weight: bold;
    color: #F2F2F2;
    line-height: 160%;
    margin: 20px auto;
  }
}
.lacxi-ketqua-modal {
  .modal__header {
    height: auto;
    .modal__nav__btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.baiviet-loadmore {
  max-height: 440px;
  @media (min-width: 375px) {
    max-height: 360px;
  }
  @media (min-width: 425px) {
    max-height: 340px;
  }
  @include media-breakpoint-up(md) {
    max-height: 220px;    
  }
  @include media-breakpoint-up(lg) {
    max-height: 1000px;    
  }
  & + a {
    @extend .text-lacxi;
    justify-content: center;
    img {
      filter: brightness(0) invert(1);
    }
  }
}
.baiviet-loadmore[aria-expanded=false]+[data-readmore-toggle]::after {opacity:0;}
