@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

.header-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

html {
  // min-height: calc(100% + env(safe-area-inset-top));
  // padding: env(safe-area-inset-top) env(safe-area-inset-right)
  //   env(safe-area-inset-bottom) env(safe-area-inset-left);
}

//VIEW APP CSS

.vp-element {
  display: none;
}
.view_app {
  .navbar-lp-container {
    padding-top: 24px;
    padding-top: Max(env(safe-area-inset-top), 24px);
    backdrop-filter: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .sud-hero-container {
    padding-top: 10px;
  }

  .vp-sud-logo{
    padding-top: Max(env(safe-area-inset-top), 24px);
  }

  .app-download {
    // padding-bottom: env(safe-area-inset-bottom, 0);

    // bottom: calc(1rem + env(safe-area-inset-bottom));
  }

  .modal-content {
    padding-top: Max(env(safe-area-inset-top), 24px);
  }
  .vp-block {
    display: block !important;
  }
  .vp-inline-block {
    display: inline-block !important;
  }

  .vp-flex {
    display: flex !important;
  }

  .vp-hide {
    display: none !important;
  }
}

body {
  padding-top: 58px;
  @include media-breakpoint-down(sm) {
    padding-top: 48px;
  }
}

::selection {
  background: $primary-3;
  color: white;
  -webkit-text-fill-color: white;
}

.header__container {
  min-height: 58px;
  height: auto;
  @include media-breakpoint-down(sm) {
    min-height: 48px;
  }

  .nav-link.active {
    color: $pinkhot !important;
  }
}
.header__container {
  @include media-breakpoint-down(md) {
    .nav-link {
      height: 44px;
      line-height: 44px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .navbar-nav {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    .nav-item:not(:last-child) {
      .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
  .header__logo {
    @include media-breakpoint-down(md) {
      // width: 34px;
      // height: 34px;
      // flex: 0 0 34px;
      // .momo__logo {
      //   width: 26px;
      //   height: 26px;
      // }
    }
  }
}

// .navbar-container {
//   background: transparent;
//   box-shadow: none;
// }

@include media-breakpoint-down(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-lp-container {
  // background: rgba(white, 1);
  // color: white;
  // padding-right: 5px;

  transform: translateZ(0);
  // @extend .shadow-sm;
  will-change: transform;
  transition: transform 0.5s, background-color 0.2s;
  box-shadow: none;

  .header__logo {
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }
  }

  background-color: transparent;
  backdrop-filter: none;

  &.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.is-fixed {
    background-color: rgba(88, 0, 56, 0.9);
    // -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }

  .navbar-lp-open & {
    background-color: rgba(88, 0, 56, 0.9);
    // -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
  }

  .navbar-nav .nav-link.active {
    color: #faff00 !important;
  }
  .navbar-toggler-close {
    position: relative;
    top: 0;
    left: 0;
  }
}

#hanhtrinh {
  scroll-margin: 90px;
}

.navbar-toggler {
  height: 58px;
  width: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 30px;
  }
  @include media-breakpoint-down(sm) {
    height: 48px;
    width: 48px;
  }
}
.navbar-toggler-close {
  position: relative;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-open {
  display: none;
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-close {
  display: none;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
}

body,
html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  // background: #0d0a24;
  // background: darken(rgb(155, 0, 93), 10%);
  // background: darken(rgb(155, 0, 93), 0%);

  padding: 0;
  margin: 0;

  background: darken(rgb(153, 0, 92), 5%);
}

.sud-hero-container {
  background-size: cover;
  position: relative;

  // background: rgba(0, 0, 0, 0)
  //   linear-gradient(
  //     rgba(0, 0, 43, 0.8) 0%,
  //     rgb(155, 0, 93) 80%,
  //     rgb(155, 0, 93) 100%
  //   )
  //   repeat scroll 0% 0%;

  background: rgba(0, 0, 0, 0)
    linear-gradient(
      rgba(70, 0, 46, 1) 0%,
      rgb(155, 0, 93) 80%,
      rgb(155, 0, 93) 100%
    )
    repeat scroll 0% 0%;

  // background-image: url(https://usedevbook.com/mesh/hero-mesh-lg.png);

  // height: 722px;
  padding-top: 130px;
  padding-bottom: 150px;

  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.sud-sapo {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 500;
  strong {
    color: white;
  }
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 22px;
  }
}

.sud-hero-bg-1 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  @include media-breakpoint-down(sm) {
    img {
      max-width: 350px;
    }
  }
}
.sud-hero-bg-2 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  @include media-breakpoint-down(sm) {
    img {
      max-width: 350px;
    }
  }
}

.sud-hero-bg-3 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  right: -250px;
  top: 0;
  height: 100%;
  max-width: 1400px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.sud-hero-bg-4 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: -50px;
  top: 0;
  height: 100%;
  max-width: 1400px;
}

.sud-hero-bg-5 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: -10px;
  top: 400px;
  height: 100%;
  max-width: 1400px;
}

.sud-hero-bg-6 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  max-width: 1400px;
  img {
    width: 250px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.btn-sud {
  // box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  //   rgba(40, 167, 69, 0.45) 0px 4px 13px 6px,
  //   rgba(255, 255, 255, 0.25) 0px 4px 7px 3px inset;

  border-radius: 10px;
  display: inline-block;
  padding: 10px 30px;
  width: auto;
  color: white;

  cursor: pointer;
  font-size: 17px;

  transition: all 250ms ease;

  background: linear-gradient(
    314.55deg,
    #08101e 29.23%,
    #08101f 44.11%,
    #091939 44.15%,
    #091a3a 61.07%
  );
  border: 2px solid #8ecaff;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px #6d93bb, inset 0px 0px 4px 0px #8fcaff;
  border-radius: 40px;

  color: white;
  text-shadow: 0px 0px 1px #7ce7ea;

  span {
  }

  &:hover, &:focus {
    color: white;

    background: linear-gradient(
      314.55deg,
      #2a0a18 29.23%,
      #3e0b1f 44.11%,
      #3c0a20 44.11%,
      #1f0812 61.07%
    );
    border: 2px solid #ff8fd1;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px #ff94d5, inset 0px 0px 4px 0px #d43d97;

    // transform: translateY(-1px);
    // border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  @include media-breakpoint-down(sm) {
    padding: 6px 25px;

    font-size: 16px;
  }
}

.sud-video-container {
  overflow: visible;
}

.sud-video-container {
  // background: #9c0173;
  // border: 2px solid #eb65fe;
  box-sizing: border-box;
  // box-shadow: 0px 0px 4px #dd008d, 0px 0px 6px #e70093;
  border-radius: 24px;

  background: #f5aed7;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 10px #d40095, 0px 0px 6px #d30095, 0px 0px 4px #d20094,
    0px 0px 20px #c70089, inset 1px 2px 4px rgba(0, 0, 0, 0.3);

  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;

  @include media-breakpoint-down(md) {
    border-radius: 20px;
    border: 2px solid #ffffff;
  }

  &:hover {
    transform: scale(1.05);
  }
  overflow: hidden;

  .embed-responsive-item {
    width: 100%;
    height: 100%;
  }
}

// .sud-video {
//   transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
//   position: relative;

//   // box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25),
//   //   inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.25);

//   background-size: cover;
//   background-position: center;
//   box-sizing: border-box;
//   overflow: hidden;

//   position: relative;

//   &:hover {
//     transform: scale(1.05);
//   }

//   &.card-neon {
//     border: 2px solid rgba(255, 255, 255, 0.6);
//   }

//   > img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

.sud-page {
  // background: rgba(0, 0, 0, 0) linear-gradient(rgba(31, 31, 71, 0.25) -18.72%, rgb(31, 31, 71) 37.6%) repeat scroll 0% 0%;
}

.sud-curve {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  z-index: 1;
  color: darken(rgb(155, 0, 93), 5%);
}

.sud-kv {
  margin-left: -8px;
  img {
    max-width: 450px;
    width: 100%;
  }
}

// .sud-hero-pattern{
//   position: absolute;
//   width: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
// }

.sud-hero-mascot {
  user-select: none;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .mascot {
    margin-right: -100px;
  }

  @include media-breakpoint-down(md) {
    .mascot {
      margin-right: 0;
      width: 160px;
      margin-right: -20px;
    }
  }

  @include media-breakpoint-down(sm) {
    .mascot {
      margin-right: 0;
      width: 120px;
      margin-right: -20px;
    }
  }
}

.sud-shadow-feature {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(232, 33, 119, 0.5) 0px 4px 18px 6px;
}

.sud-shadow-feature2 {
  box-shadow: rgba(47, 184, 255, 0.3) 0px 10px 40px,
    rgb(47, 184, 255) 0px 0px 0px 1px inset;
}

.sub-heading-2 {
  strong {
    // box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //   rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //   rgba(188, 10, 192, 0.69) 0px 4px 18px 6px,
    //   rgba(255, 255, 255, 0.25) 0px 4px 7px 3px inset;

    // background-color: rgb(188, 10, 192);

    // border: 4px solid #fceaac;

    // box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    //   0 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 var(--box-blur) var(--glow),
    //   0 0 var(--box-blur) var(--glow);
    font-size: 30px;
    padding: 3px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;

    --color: #fceaac;
    filter: saturate(175%);

    --blur: 1.75rem;
    --box-blur: calc(0.5 * var(--blur));
    --glow: var(--color);
    --size: 12rem;

    border: 4px solid currentColor;

    box-shadow: 
  /* --- "glass" tube --- */
  /* inside */ inset 0 0 0 2px
        rgba(0, 0, 0, 0.15),
      /* outside */ 0 0 0 2px rgba(0, 0, 0, 0.15),
      /* --- glow --- */ /* inside */ inset 0 0 var(--box-blur) var(--glow),
      /* outside */ 0 0 var(--box-blur) var(--glow);
    color: var(--color, white);
  }
}

.sud-heading-cyan {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

.sud-heading {
  font-weight: 800;
  // letter-spacing: -1px;
  font-size: 40px;
  line-height: 1.2;

  margin-bottom: 30px;
  .sub-heading-box {
    font-size: 0.6em;
    line-height: 1.3;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.sub-heading-pink {
  color: #ffffff;
  display: inline-block;
  text-shadow: 0px 0px 10px rgba(252, 28, 173, 0.7), 0px 0px 10px #fc1cad;
  margin-top: 15px;
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
}

.sub-heading-box {
  display: inline-block;
  background: #392e69;

  border: 3px solid rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #7bf2f1, 0px 0px 10px rgba(132, 255, 248, 0.9),
    0px 4px 10px rgba(0, 0, 0, 0.25), 0px 0px 10px #84fff8,
    inset 0px 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;

  color: #ffffff;

  padding: 7px 20px 5px;
  font-weight: 700;

  text-shadow: 0px 0px 1px #7ce7ea;

  @include media-breakpoint-down(sm) {
    padding: 7px 15px 5px;
  }

  position: relative;
  &:after {
    content: "";
    z-index: -1;
    user-select: none;
    position: absolute;
    left: 3px;
    top: calc(100% + 2px);
    right: 3px;
    height: 7px;
    background-color: #84fff8;
    filter: blur(4px);
    clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
  }
}

.text-gradient-blue-green,
.text-gradient-turq-purple-dark {
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-gradient-turq-purple-dark {
  background: -webkit-linear-gradient(-70deg, #3bf0e4, #bca1f7);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-gradient-purple-coral {
  background: -webkit-linear-gradient(-70deg, #9867f0, #ed4e50);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-gradient-cyan-coral {
  // background: -webkit-linear-gradient(-70deg, #86fff8, #2ab2e6);
  // background-clip: border-box;
  // -webkit-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -webkit-box-decoration-break: clone;

  color: #88fff7;

  text-shadow: 0px 0px 8px #447ed2;
}

.text-gradient-yellow-coral {
  background: -webkit-linear-gradient(-70deg, #eef067, #edbb4e);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.sud-static-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-around;
  }
}

.sud-static {
  // width: 180px;
  text-align: center;

  padding: 0 10px;
  .val {
    font-size: 36px;
    white-space: nowrap;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    // background-image: linear-gradient(
    //   200.67deg,
    //   rgb(255, 225, 76) 0%,
    //   rgb(255, 128, 0) 50%,
    //   rgb(255, 225, 76) 100%,
    // );
    // background-size: 100%;
    // display: inline-block;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    display: inline;
    background: -webkit-linear-gradient(135deg, #fffb26, #f7b500);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    sup {
      -webkit-text-fill-color: #eef067;
    }
  }
  .name {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
  }

  @media screen and (max-width: 1400px) {
    .val {
      font-size: 32px;
    }
  }
  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(sm) {
    padding: 0 6px;

    .val {
      font-size: 22px;
    }

    .name {
      font-size: 13px;
    }
  }
}

.sud-static-box {
  width: 500px;

  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-left: 0px;
  }
  @include media-breakpoint-down(xl) {
    margin-left: 30px;
  }
}

.sud-timeline-container {
  height: 590px;
  position: relative;
  padding-top: 40px;
  max-width: 1400px;
  // max-width: 1140px;
  margin: -170px auto 0;

  .sud-timeline:nth-child(1) {
    top: 0%;
    left: 10%;
  }

  .sud-timeline:nth-child(2) {
    top: 36%;
    left: 5%;
  }

  .sud-timeline:nth-child(3) {
    top: 50%;
    left: 28%;
  }

  .sud-timeline:nth-child(4) {
    top: 45%;
    left: 52%;
  }

  .sud-timeline:nth-child(5) {
    top: 20%;
    left: 75%;
  }

  // @include media-breakpoint-down(xl) {
  //   .sud-timeline {
  //     width: 230px;
  //   }
  // }

  @include media-breakpoint-down(lg) {
    height: auto;
    position: relative;
    padding-top: 40px;
    // max-width: 1140px;
    margin: 0 auto;

    max-width: 990px;

    padding: 0 15px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .sud-timeline {
      width: calc(33.333% - 30px);
      flex: 0 0 calc(33.333% - 30px);
      margin: 15px;

      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }

    .sud-timeline-header {
      padding: 10px 16px;
    }

    .sud-timeline-content {
      padding: 16px 16px 20px;
    }
  }

  @include media-breakpoint-down(md) {
    .sud-timeline {
      width: calc(50% - 30px);
      flex: 0 0 calc(50% - 30px);
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 0 15px;
    .sud-timeline {
      margin: 10px;
      width: calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
    }
  }
}

.sud-timeline {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  pointer-events: auto;
  border-radius: 6px 6px 4px 4px;
  position: absolute;
  width: 250px;
  z-index: 10;

  background-color: rgba(255, 255, 255, 1);

  // backdrop-filter: blur(16px) saturate(180%);
  // -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.sud-timeline-header {
  padding: 10px 16px;
  // background-color: rgb(57, 10, 45);
  // color: rgb(78, 0, 50);

  background: rgba(0, 0, 0, 0)
    linear-gradient(45deg, rgb(78, 0, 50), rgb(94, 0, 59)) repeat scroll 0% 0%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 4px 4px 0px 0px;
  .tt {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
  }
  .sub {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: bold;
  }
}

.sud-timeline-content {
  padding: 16px 16px 20px;
  color: $gray-900;
  font-weight: 600;
}

.sud-timeline-list {
  li {
    position: relative;

    svg {
      font-size: 20px;
      color: $pinkhot;
      position: absolute;
      left: 0;
      top: 1px;
    }
    padding-left: 25px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.sud-static-path {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0.6;
  svg {
    width: 100%;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.sud-timeline-coin {
  position: absolute;
  width: 100%;
  height: 100%;
  .coin1 {
    position: absolute;
    top: 6%;
    left: 3%;
  }
  .coin2 {
    position: absolute;
    bottom: 40%;
    right: 3%;
  }

  .coin3 {
    position: absolute;
    bottom: 30%;
    right: 15%;
  }

  .coin4 {
    position: absolute;
    bottom: 10%;
    left: 45%;
  }

  @include media-breakpoint-down(sm) {
    img {
      width: 40px;
    }
  }
}

.sud-thumbnail {
  position: relative;

  // background: #9c0173;
  // border: 2px solid #eb65fe;
  // box-sizing: border-box;
  // box-shadow: 0px 0px 4px #dd008d, 0px 0px 6px #e70093;
  // border-radius: 10px;
  // .embed-responsive-item {
  //   left: 5px;
  //   right: 5px;
  //   top: 5px;
  //   bottom: 5px;
  //   width: calc(100% - 14px);
  //   height: calc(100% - 14px);
  // }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: 3px;
  //   right: 3px;
  //   top: 3px;
  //   bottom: 3px;
  //   background: transparent;
  //   z-index: 2;
  //   user-select: none;
  //   pointer-events: none;
  //   border: 1px solid #f8f8fb;
  //   box-sizing: border-box;
  //   box-shadow: 0px 0px 4px #c60186;
  //   border-radius: 7px;
  // }
  border-radius: 15px;
  background: #f5aed7;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 10px #d40095, 0px 0px 6px #d30095, 0px 0px 4px #d20094,
    0px 0px 20px #c70089, inset 1px 2px 4px rgba(0, 0, 0, 0.3);

  @include media-breakpoint-down(sm) {
    border-radius: 10px;
  }
}

.sud-section-ff {
  padding: 50px 0;

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
}

.sud-section-ff-container {
  .sud-section-ff:first-child {
    padding-top: 0;
  }

  .sud-section-ff:last-child {
    padding-bottom: 0;
  }
}

.sud-section-heading {
  font-weight: 800;
  font-size: 30px;
}

.sud-section-sup {
  // opacity: 0.8;
  color: white;
  text-transform: uppercase;

  text-shadow: 0px 0px 2px #ff43b4;
  line-height: 1.1;
  font-size: 20px;
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.sud-section-content {
  padding-left: 15px;
  padding-right: 15px;
}

@include media-breakpoint-down(sm) {
  .sud-section-heading {
    font-weight: 800;
    font-size: 24px;
  }

  .sud-section-sup {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .sud-section-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.sud-section-sapo {
  opacity: 1;
  margin-top: 0;
}

.embed-responsive-sud::before {
  padding-top: percentage(42/64);
}

.sud-section-hr {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  height: 2px;
  border-radius: 5px;
  max-width: 1050px;
}

.card-morphic {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.sud-section-list {
  li {
    position: relative;

    svg {
      font-size: 24px;
      color: #f5b61b;
      position: absolute;
      left: 0;
      top: 2px;
    }
    padding-left: 30px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sud-section-list {
    li {
      svg {
        font-size: 20px;
        color: #f5b61b;
        position: absolute;
        left: 0;
        top: 2px;
      }
      padding-left: 25px;
    }
  }
}

.swiper-tintuc {
  padding: 0 15px;
}

@include media-breakpoint-down(sm) {
  .swiper-tintuc .swiper-slide {
    width: 85%;
    // margin-right: 14px;
    padding: 1px 10px;
  }

  .swiper-tintuc {
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
  .swiper-tintuc .swiper-button-next,
  .swiper-tintuc .swiper-button-prev {
    display: none;
  }
}

.sud-feature {
  background: linear-gradient(180deg, #840750 0%, #840750 25%, #da0095 100%);
  border: 2px solid #68faff;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #84fff8;
  border-radius: 10px;
  padding: 20px 15px 15px;
  position: relative;
  .hh {
    background: darken(rgb(153, 0, 92), 5%);
    position: absolute;
    padding: 0px 8px;
    left: 10px;
    bottom: calc(100% - 18px);
    font-size: 20px;
  }
  margin-bottom: 50px;

  min-height: 150px;

  @include media-breakpoint-down(sm) {
    min-height: auto;
  }
}

.card-neon {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(236, 44, 174, 0.9),
    0px 0px 10px rgba(213, 4, 146, 0.9);
}

.sud-hoidap {
  z-index: 1;
  position: relative;
  overflow: hidden;
  margin-top: -40px;
  padding-top: 100px;
  // .question-answer .card:hover .card-header .btn,
  // .question-answer .card:focus .card-header .btn {
  //   color: #88fff7;
  //   text-shadow: 0px 0px 8px #447ed2;
  // }
  // .question-answer .card-header .btn {
  //   color: rgba(138, 255, 247, 0.9);
  //   &:after {
  //     color: rgba(138, 255, 247, 0.9);
  //   }
  // }

  // .card-body {
  //   color: rgba(255, 255, 255, 0.9);
  // }

  // .question-answer .card {
  //   border-bottom: 1px solid rgba(224, 224, 224, 0.4);
  // }
}

.htw {
  color: $gray-900;
}

@include media-breakpoint-down(sm) {
  .article.article__hori {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

// .view_app .modal-content {
//   padding-top: max(env(safe-area-inset-top), 24px);
// }
// .navbar-lp-container {
//   padding-top: env(safe-area-inset-top);
// }

.sud-blog {
}

.pud-section {
  .question-answer .card:hover .card-header .btn,
  .question-answer .card:focus .card-header .btn {
    color: #88fff7;
    text-shadow: 0px 0px 8px #447ed2;
  }
  .question-answer .card-header .btn {
    color: rgba(138, 255, 247, 0.9);
    &:after {
      color: rgba(138, 255, 247, 0.9);
    }
  }

  .card-body {
    color: rgba(255, 255, 255, 0.9);
  }

  .question-answer .card {
    border-bottom: 1px solid rgba(224, 224, 224, 0.4);
  }
}

body {
  background: darken(rgb(155, 0, 93), 5%);
  overflow-x: hidden;

  .modal-dialog {
    color: rgba(0, 0, 0, 0.9);

    .btn-primary {
      color: #fff;
      background-color: #a50064;
      border-color: #a50064;
      outline: none;

      &:hover,
      &:active {
        color: #fff;
        background-color: #7f004d;
        border-color: #720045;
      }
    }

    // a {
    //   color: $pinkmomo;
    //   &:hover {
    //     color: lighten($pinkmomo, 10%);
    //   }
    // }
  }

  color: rgba(255, 255, 255, 0.95);
  .info__title a {
    color: white;
  }

  .article__hori:hover .info__title > a,
  .article__hori:focus .info__title > a {
    color: #faff00;
    text-shadow: 0px 0px 5px rgba(#f9fc6f, 0.4);
  }
  // .article {
  //   &:hover,
  //   &:focus {
  //     a {
  //       color: #88fff7;
  //       text-shadow: 0px 0px 8px #447ed2;
  //     }
  //   }
  // }
  .info__meta {
    color: rgba(255, 255, 255, 0.8);
  }
}

#lbse-1561 {
  section {
    background-color: transparent !important;
  }
  .text-pink-momo {
    @extend .sub-heading-pink;
    color: white;
  }
  .text-gray-700 {
    color: white !important;
  }

  .question-answer .card:hover .card-header .btn,
  .question-answer .card:focus .card-header .btn {
    color: #88fff7;
    text-shadow: 0px 0px 8px #447ed2;
  }
  .question-answer .card-header .btn {
    color: rgba(138, 255, 247, 0.9);
    &:after {
      color: rgba(138, 255, 247, 0.9);
    }
  }

  .card-body {
    color: rgba(255, 255, 255, 0.9);
  }

  .question-answer .card {
    border-bottom: 1px solid rgba(224, 224, 224, 0.4);

    a {
      color: #faff00;
      &:hover {
        color: lighten(#faff00, 10%);
      }
    }
  }
}

.swiper-tintuc {
  .swiper-slide {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
