@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

@font-face {
  font-family: Euro;
  src: url(../fonts/Eurostile/SFUEurostileBold.woff2);
}

.header-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body {
  padding-top: 58px;
  @include media-breakpoint-down(sm) {
    padding-top: 48px;
  }
}

// #C10070
$maincolor: white;

.navbar-lp-container {
  background: rgba($maincolor, 1);
  color: white;
  transform: translateZ(0);
  // @extend .shadow-sm;
  will-change: transform;
  transition: transform 0.5s, background-color 0.2s;
  &.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.is-fixed {
    background: rgba($maincolor, 0.85);
  }

  // box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.navbar-lp {
}

.navbar-lp-open {
  .navbar-lp-container {
    transform: translateY(0) !important;
  }
}

.header__container {
  min-height: 58px;
  height: auto;
  @include media-breakpoint-down(sm) {
    min-height: 48px;
  }

  .nav-link.active {
    color: $pinkhot !important;
  }
}
.header__container {
  @include media-breakpoint-down(md) {
    .nav-link {
      height: 44px;
      line-height: 44px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .navbar-nav {
      border-top: 1px solid gray("300");
    }
    .nav-item:not(:last-child) {
      .nav-link {
        border-bottom: 1px solid gray("300");
      }
    }
  }
  .header__logo {
    @include media-breakpoint-down(md) {
      width: 34px;
      height: 34px;
      flex: 0 0 34px;
      .momo__logo {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.navbar-toggler {
  height: 58px;
  width: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 30px;
  }
  @include media-breakpoint-down(sm) {
    height: 48px;
    width: 48px;
  }
}
.navbar-toggler-close {
  position: relative;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-open {
  display: none;
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-close {
  display: none;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
}

.box__chodeal {
  background: #fff0f8;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 20px;
  p:last-child {
    margin-bottom: 0;
  }
}

section {
  line-height: 1.6;
}
.chodeal-process {
  .process_item:not(:last-child):before {
    display: none;
  }
  .process_item {
    .process__body-title {
      font-size: 1rem;
      margin-bottom: 10px;
      display: inline-block;
      color: $primary-2 !important;
      text-align: center;
      padding: 10px 15px 8px;
      min-width: 170px;
      background: #f8f8f8;
      box-shadow: 0px 2.80084px 2.80084px rgba(0, 0, 0, 0.25);
      border-radius: 28.0084px;
    }

    &.active {
      .process__body-title {
        color: white !important;

        background: $primary-2;
      }
    }
  }
}

.useDeal__item {
  max-width: 240px;
  margin: 0 auto;
  // display: inline-block;
}

.useDeal__number {
  width: 36.85px;
  height: 36.85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3.5098px 3.5098px rgba(0, 0, 0, 0.25);
  color: $primary-2;
  font-size: 26.3235px;
  font-weight: bold;
}

.useDeal__text {
  margin: 10px 0 15px;
  text-align: center;
  min-height: 72px;
}

.useDeal__mb {
  margin-bottom: 10px;
  display: none;
  @media only screen and (max-width: 600px) {
    display: flex;
  }
}

.useDeal__mb {
  .useDeal__mb__item:last-child {
    &:after {
      display: none;
    }
  }
  .useDeal__number {
    cursor: pointer;
  }
}

.useDeal__mb__item {
  flex: 1 1 0px;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    top: 18px;
    z-index: -1;
    height: 0;
    width: 100%;
    left: 50%;
    border-bottom: 2px dashed gray("400");
  }

  .useDeal__number.is-active {
    background-color: $primary-2;
    color: white;
  }
}

.swiper-useDeal {
  .useDeal__number {
  }
  @media only screen and (max-width: 600px) {
    .useDeal__number {
      display: none;
    }
    .swiper-slide:after {
      display: none;
    }
  }
  .swiper-button-disabled {
    display: none !important;
    opacity: 0 !important;
  }

  .swiper-slide {
    padding: 0 15px;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      top: 18px;
      z-index: -1;
      height: 0;
      width: 100%;
      left: 50%;
      border-bottom: 2px dashed gray("400");
    }
  }
  .swiper-slide:last-child {
    &:after {
      display: none;
    }
  }
}

.logo-wrap {
  display: flex;
  justify-content: center;

  flex-flow: row wrap;
  max-width: 900px;
  margin: 0 auto;
}
.logo-item {
  width: 88px;
  height: 88px;
  flex: 0 0 88px;
  margin: 5px 10px;

  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  @include media-breakpoint-down(sm) {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    margin: 5px 5px;
  }
}
.hmm-btn {
  min-width: 200px;
  font-size: 13px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.hmm-box {
  margin-bottom: 20px;
  width: 100%;
  max-width: 340px;
  text-align: center;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hmm-box-tt {
  font-size: 18px;
}

.swiper-feature {
  @include media-breakpoint-down(md) {
    .swiper-slide {
      text-align: center;
      .fff-img {
        padding: 0 30px;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 40%;
    }
  }
}

///Countdown

.box__11 {
  background: $pinkmomo;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 30px 50px;
  p:last-child {
    margin-bottom: 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
}

.image__mega--cat {
  position: relative;
  &:hover {
    img {
      // transform: translate3d(0, -5px, 0);

      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
      transform: translateY(-0.5rem);
    }
  }
  img {
    transition: all 0.2s ease-in-out;
    border-radius: 12px;
  }
}

.mega__cat {
  position: relative;

  @include media-breakpoint-up(sm) {
    margin: 10px 0;
  }
}

.mega__cat__txt {
}

.text-heading-kv {
  color: #ffffff;
  font-style: italic;
  font-family: Euro, Arial, Helvetica, sans-serif;
  // -webkit-font-smoothing: auto;
  // -moz-osx-font-smoothing: auto;
  // text-shadow: 1px 0 0 #EC00AC, -1px 0 0 #EC00AC, 0 1px 0 #EC00AC, 0 -1px 0 #EC00AC,
  //   1px 1px #EC00AC, -1px -1px 0 #EC00AC, 1px -1px 0 #EC00AC, -1px 1px 0 #EC00AC;
}

.text-follow-kv {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  // border: 2px solid #ec00ac;
  // text-shadow: 1px 0 0 #EC00AC, -1px 0 0 #EC00AC, 0 1px 0 #EC00AC, 0 -1px 0 #EC00AC,
  //   1px 1px #EC00AC, -1px -1px 0 #EC00AC, 1px -1px 0 #EC00AC, -1px 1px 0 #EC00AC;

  font-size: 18px;
}

.countdown-11 {
  max-width: 500px;
  font-family: Euro, Arial, Helvetica, sans-serif;
  .lal {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.text-11e {
  color: #ffea00;
}

.countdown-box {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  // background: linear-gradient(to bottom, #ffea00, #ffea00);
  // background:  rgba(255,255,255,0.1);
  color: #ffea00;
  background: linear-gradient(to bottom, #3715aa, #3a0fcc);
  border-radius: 5px;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 0.5);
  transform: skew(-5deg);
}

@include media-breakpoint-down(sm) {
  .countdown-11 {
    max-width: 300px;
    .lal {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .text-11e {
    color: #ffea00;
  }

  .countdown-box {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

    // background: linear-gradient(to bottom, #ffea00, #ffea00);
    // background:  rgba(255,255,255,0.1);
    color: #ffea00;
    background: linear-gradient(to bottom, #3715aa, #3a0fcc);
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 0.5);
    transform: skew(-5deg);
  }
}

.mega__slide {
  overflow: visible;
  // width: 93% !important;

  margin-left: 0;
  .swiper-slide {
    // width: 93% !important;
  }
}
.bg-pinklight {
  background-color: #f5f5f5 !important;
}

.mega__slide__item {
  height: auto;
  @include media-breakpoint-up(md) {
    display: flex;
    // align-items: center;
    flex-flow: row nowrap;
    padding: 30px;
    background-color: #ffe9f1;
    // background-image: url(../img/megaday/hinh-bg.jpg);
    // background: #ffe9f1;
    border-radius: 20px;

    .bg-pinklight & {
      // background: darken(#ffe9f1, 5%);
    }

    .mega__banner {
      flex: 0 0 60%;
      width: 60%;
      min-width: 0;
      order: 1;
      padding-right: 30px;
    }
    .merchant__list {
      flex: 0 0 40%;
      width: 40%;
      min-width: 0;
      order: 2;
    }
    .mega__banner {
      margin-bottom: 0 !important;
    }
  }
}

.space-container {
  padding: 0 24px 5px;
  max-width: 1000px;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    overflow: hidden;
    padding: 0;
  }
}

.mega__banner {
  margin-bottom: 15px;
  img {
    border-radius: 10px;
  }
}

.merchant__list {
  .merchant__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.merchant__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 5px 10px;
  background-color: white;
 
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  @include media-breakpoint-down(sm){
    border: 1px solid rgba(0,0,0,0.1);
  }
}

.merchant__item__avatar {
  width: 50px;
  height: 50px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 50px;
}
.merchant__item__content {
  flex: 1;
  padding-left: 10px;
  min-width: 0;
}

.merchant__name {
  font-weight: bold;
  font-size: 15px;
}

.merchant__sapo {
  font-size: 13px;
  color: gray("700");
}

.mega__tab__slide {
  overflow: visible;
  // width: 93% !important;
  padding: 0px 0px 20px;

  &.big {
    .swiper-slide {
      width: 120px;
      padding: 10px 10px 10px;
    }
  }
  .swiper-slide {
    min-height: 56px;
    // border-top: 2px solid $pink;
    cursor: pointer;
    height: auto;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    padding: 5px 10px;
    background-color: gray("200");
    border-right: 1px solid gray("200");

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;

    font-style: italic;
    line-height: 1.2;
    text-align: center;
   
    color: gray("600");
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      margin-left: -4px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 7px solid $pinkmomo;
      opacity: 0;
    }
    &.active {
      color: gray("900");
      background-color: $pinkmomo;
      color: rgba(255, 255, 255, 0.9);
      &:after {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(md) {
      width: 130px;
      &.big {
        .swiper-slide {
          width: 140px;
          padding: 10px 10px 15px;
        }
      }
    }
  }
  .swiper-wrapper {
    .swiper-slide {
      border-top: 1px solid gray("300");
      border-bottom: 1px solid gray("300");
      border-right: 1px solid gray("300");

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid gray("300");
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &.active {
        border-top: 1px solid $pinkmomo;
        border-bottom: 1px solid $pinkmomo;
      }
    }
  }
}

.mega__x__container {
  max-width: 500px;
  margin: 0 auto;
}

.mega__x {
  padding-top: 8px;
  padding-bottom: 8px;

  .htw__icon {
    top: 9px;
  }
}

.mega__x__content {
  background-color: rgba($pink, 0.07);
  padding: 15px;
  color: gray("900");
  transition: none !important;
}

.hv__accordion__content {
  border-radius: 0 0 10px 10px;
  background-color: gray("200");
  padding: 15px 15px;
  font-size: 15px;

  ul {
    padding: 0 0 0 15px;
    li {
      margin-bottom: 10px;
    }
  }
}

.hv__accordion {
  margin: 0 auto;
  max-width: 600px;
  .hv__accordion__item {
    &:not(:first-child) {
    }

    margin-top: 18px;
  }
}

.hv__accordion__item {
  z-index: 2;
  position: relative;

  background-color: $pinkmomo;
  border-radius: 5px;
  padding: 12px 25px 8px 18px;
  // transform: skew(-15deg);
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  cursor: pointer;
  > span {
    display: inline-block;
    // transform: skew(15deg);
  }
  > .feather {
    display: inline-block;
    // transform: skew(15deg);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 14px;
  }

  @include hover-focus() {
    background-color: lighten($pinkmomo, 5%);
  }
  &[aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .feather {
      transform: rotate(90deg);
    }
  }
}

.mega__box {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 15px;
  @include media-breakpoint-up(md) {
    padding: 20px 25px;
    max-width: 800px;
    margin: 0 auto;
  }
}

.tinhnang-loadmore {
  // @include media-breakpoint-down(md) {
  //   max-height: 400px;
  //   transition: height 200ms;
  //   overflow: hidden;
  //   p:last-child {
  //     margin-bottom: 0;
  //   }
  // }

  max-height: 400px;
  transition: height 200ms;
  overflow: hidden;
  p:last-child {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(md){
    height: 100% !important;
  
  }
} 

@include media-breakpoint-up(md){
  a[data-readmore-toggle] {
    display: none !important;
  }
}

.tinhnang-loadmore[aria-expanded="true"] {
  + a[data-readmore-toggle] {
    &:after {
      display: none;
    }
  }
}

.mega__box {
  a[data-readmore-toggle] {
    text-align: center;
    color: $pinkmomo;
    display: block;
    margin-top: 10px;
    img {
      opacity: 0.7;
      width: 16px;
      vertical-align: -13%;
    }
  }
}

.nav-tabs-hbb {
  overflow: visible;
  // width: 93% !important;
  padding: 0px 0px 20px;
  border: none;
  justify-content: center;

  .nav-link {
    // border-top: 2px solid $pink;
    border-radius: 0;
    cursor: pointer;
    border: none;
    height: auto;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100px;
    min-height: 62px;
    // padding: 5px 10px;

    width: 160px;
    padding: 10px 10px 10px;

    background-color: gray("200");
    border-right: 1px solid gray("200");

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;

    font-style: italic;
    line-height: 1.2;
    text-align: center;
    color: gray("600");
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      margin-left: -4px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 7px solid $pinkmomo;
      opacity: 0;
    }
    &.active {
      border-top: 1px solid $pinkmomo;
      border-bottom: 1px solid $pinkmomo;
      color: gray("900");
      background-color: $pinkmomo;
      color: rgba(255, 255, 255, 0.9);
      &:after {
        opacity: 1;
      }
    }
  }
  .nav-item {
    &:first-child {
      .nav-link {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid gray("300");
      }
    }
    &:last-child {
      .nav-link {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .nav-link {
    border-top: 1px solid gray("300");
    border-bottom: 1px solid gray("300");
    border-right: 1px solid gray("300");
  }
}

.title-image {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }
}

.htw__item {
  box-shadow: none !important;
  background-color: rgba($pink, 0.07) !important;
  border: 1px solid rgba($pink, 0.25);
  .htw__content {
    color: $pinkmomo !important;    font-weight: bold;

  }
  .svg-icon {
    color: $pinkmomo !important;
  }
}


