@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

.header-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-lp {
  background: rgba(52, 8, 69, 1);
  color: white;
  &.is-fixed {
    background: rgba(52, 8, 69, 0.85);
  }
}

.navbar-lp {
  padding: 0.5rem 1rem;
  background: rgba(#340845, 1);
  color: white;
  // @extend .shadow-sm;
  &.is-fixed {
    background: rgba(#340845, 1);
    color: white;
    // @extend .shadow-sm;
  }
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.5s, background-color 0.2s;
  &.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .navbar-toggler {
    position: relative;

    @include media-breakpoint-down(sm) {
      // background-color: rgba(52, 8, 69, 1);
    }
  }

  &.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    @include hover-focus() {
      color: $yellow !important;
    }
    &.active {
      color: $yellow !important;
    }
  }
  &.navbar-dark .navbar-toggler svg [stroke]:not([stroke="none"]) {
    stroke: #fff !important;
  }
  &.navbar.navbar-toggled-show {
    // background: rgba(#340845, 0.85);
    color: white;
  }
}

body {
  padding-top: 58px;
}

.header__container {
  min-height: 58px;
  height: auto;

  .nav-link.active {
    color: $pinkhot !important;
  }
}
.header__container {
  @include media-breakpoint-down(md) {
    .nav-link {
      height: 44px;
      line-height: 44px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .navbar-nav {
      border-top: 1px solid gray("300");
    }
    .nav-item:not(:last-child) {
      .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.navbar-toggler {
  height: 58px;
  width: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 30px;
  }
}
.navbar-toggler-close {
  position: relative;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-open {
  display: none;
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-close {
  display: none;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
}

.customer-testi {
  // cursor: e-resize;
  // margin-top: 15px;
  // padding-left: 20px;
  padding: 30px 15px 10px;
  margin: -20px 20px 0;
  background-color: #fff7e9;
  border: 2px dotted darken(#fff7e9, 20%);
  border-radius: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fbeacc' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @include media-breakpoint-down(sm) {
    padding: 20px 10px 10px;
    margin: -10px 10px 0;
  }
}

.customer-testi-img {
  position: relative;
  z-index: 2;
}

// .customer-testi .content:before {
//   content: "";
//   position: absolute;
//   top: 13px;
//   left: 20px;
//   margin-left: 13px;
//   box-sizing: border-box;
//   border: 8px solid #3c4858;
//   border-color: transparent #ffffff #ffffff transparent;
//   transform-origin: 0 0;
//   transform: rotate(225deg);
//   box-shadow: 2px 2px 2px -2px rgba(60, 72, 88, 0.15);
// }

// .customer-testi .content:before {
//   content: "";
//   position: absolute;
//   top: 30px;
//   left: 0;
//   margin-left: 13px;
//   box-sizing: border-box;
//   border: 8px solid #3c4858;
//   border-color: transparent #ffffff #ffffff transparent;
//   transform-origin: 0 0;
//   transform: rotate(135deg);
//   box-shadow: 2px 2px 2px -1px rgba(60, 72, 88, 0.15);
// }

.customer-testi {
  .content {
    // background: url('../img/bg-quote.png')
  }
}

.customer-testi-img {
  // max-width: 200px;
}

.swiper-testi {
  padding: 5px 18px;
  padding-bottom: 30px;
  &.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.swiper-coroference {
}

.swiper-coroference {
  padding: 5px 18px;
  padding-bottom: 20px;
  &.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .swiper-slide {
    padding: 5px;
    padding-top: 10px;
  }

  .meetup__time {
    top: -5px;
    right: -5px;
  }
}

// .swiper-button-next,
// .swiper-button-prev {
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 40px;
//   height: 40px;
//   background-color: $pink;
//   background-size: 12px;
//   border-radius: 50%;
// }
// .swiper-button-prev {
//   left: 0;
// }
// .swiper-button-next {
//   right: 0;
// }

.swiper-tintuc {
  padding: 5px 18px;
  padding-bottom: 40px;
  .swiper-slide {
    height: auto;
  }

  &.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $primary-2;
}

.tintuc-embed {
  &:before {
    padding-top: 48.05195%;
  }
}

.widget-running {
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 350px;
  .card-body {
    padding: 15px 20px;
  }
}
.widget-badget {
  background-color: rgba($pink, 0.1);
  color: $pink;

  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.over-text {
  font-size: 15px;
  padding: 30px;
  border-radius: 20px;
  // background: gray("200");
  background: #fef8fb;
}

.tintuc-item {
  background: white;
  height: 100%;
  .title {
    height: 66px;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.huongdan-nav {
  .nav-link {
    border: 2px solid $primary-2;
    padding: 5px 15px;
    color: $primary-2;
    margin: 5px 5px;
  }

  .nav-link.active,
  .show > .nav-link {
    color: #fff;
    background-color: $primary-2;
  }
}



.nav-item {
  .active {
    .food-tab-name {
    }
    .food-tab-icon {
    }
  }
}

.why-play-icon {
  background: rgba(0, 0, 0, 0.5);
  .icon {
    height: 2rem !important;
  }
  @include hover-focus() {
    background: rgba(0, 0, 0, 0.6);
  }
}

@include media-breakpoint-down(sm) {
  .fancybox-slide--video {
    padding: 0;
  }
}

.food-shadow {
  // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 10px;
  border-radius: 10px;
  background: white;
  // @extend .card;
}

@media (max-width: 321px) {
}

.doitac-logo {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doitac-logo img {
  max-width: 130px;
  max-height: 80px;
}

.bg-dibo {
  background-repeat: no-repeat;
  background-position: center;
}

.section-nam {
  padding-top: 130px;
  padding-bottom: 30px;

  // @include media-breakpoint-down(xl) {
  //   padding-top: 100px;
  //   padding-bottom: 20px;
  // }
  @media screen and (max-width: 1500px) {
    padding-bottom: 20px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

.hero-btn-absolute {
  position: absolute;
  z-index: 2;
  bottom: 80px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    bottom: 60px;
  }
}

.tt-item {
  position: relative;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.tt-p {
  font-size: 14px;
  color: gray("700");
}

.tt-image-container {
  position: relative;

  .embed-responsive-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // min-height: 350px;

  // &:after {
  //   content: "";
  //   display: block;
  //   height: 30%;
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   pointer-events: none;
  //   background-image: -webkit-gradient(
  //     linear,
  //     left top,
  //     left bottom,
  //     from(rgba(0, 0, 0, 0)),
  //     to(rgba(0, 0, 0, 0.5))
  //   );
  //   background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 0, 0, 0) 0%,
  //     rgba(0, 0, 0, 0.5) 100%
  //   );
  //   background-repeat: repeat-x;
  //   -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=0);
  //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=0);
  // }

  .dona-live {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: transparent;
    color: white;
  }

  .dona-live {
    padding: 15px;
    border-radius: 0;
    .dona-live-item:last-child {
      margin-bottom: 0;
    }

    .dona-live-item:first-child {
      opacity: 0.7;
      &.list-complete-leave-to {
        // display: none
        transform: translateY(-50px);
        opacity: 0;
      }
      &.list-complete-move {
        // display: none;
      }
    }
    .dona-live-item:nth-child(2) {
      opacity: 1;
      &.list-complete-move {
        opacity: 0.7;
      }
    }

    .dona-live-item:nth-child(3) {
      &.list-complete-move {
        opacity: 0.7;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 10px;
    }
  }

  .dona-live-item {
    border-bottom: none;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    border-radius: 8px;
    max-width: 400px;
    font-size: 12px;
    .name {
      margin-bottom: 0;
      font-size: 10px;
      color: rgba(255, 255, 255, 0.8);
      span {
        color: rgba(255, 255, 255, 0.8);
        // color: ;
      }
    }
    .text {
      font-style: italic;
    }
  }
}

.dona-live {
  padding: 0;
  border-radius: 0;
  .dona-live-item:last-child {
    margin-bottom: 0;
  }

  .dona-live-item:first-child {
    opacity: 0.5;
    &.list-complete-leave-to {
      // display: none
      transform: translateY(-50px);
      opacity: 0;
    }
    &.list-complete-move {
      // display: none;
    }
  }
  .dona-live-item:nth-child(2) {
    opacity: 0.8;
    &.list-complete-move {
      opacity: 0.5;
    }
  }

  .dona-live-item:nth-child(3) {
    &.list-complete-move {
      opacity: 0.8;
    }
  }
}

.swiper-button-white {
  outline: none;
}

.dona-live-item {
  border-bottom: none;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  border-radius: 8px;
  // max-width: 400px;
  font-size: 13px;
  .name {
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 13px;
  }
  .text {
    font-style: normal;
    font-weight: normal;
  }
}

#myTabContent {
  @include media-breakpoint-down(xs) {
    .card-body {
      font-size: 15px;
    }
  }
}

.tab-navigation {
  outline: none;
  display: block;
  @include media-breakpoint-down(xs) {
    img {
      width: 25px;
    }
  }
  opacity: 0.7;
  transition: all 0.2s ease-in;
  @include hover-focus() {
    opacity: 1;
    // @extend .shadow-sm;
  }
}

.tt-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.tt-content {
  padding: 25px 30px;

  @include media-breakpoint-down(sm) {
    padding: 15px 20px;
  }
}

.bg-gradient-purple {
  background: linear-gradient(to bottom, #340845, #8c2dd3);
  // background-image: url("../img/bg-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-more {
  transition: all 0.2s;
  transform: translateY(0);
  opacity: 0.95;
  @include hover-focus() {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.qu-image {
  padding: 0 50px;
}
.qu-container {
  background: #f3e9f9;
  border: 1px dashed #ae2070;
  box-sizing: border-box;
  border-radius: 15px;
  color: gray("800");
  padding: 25px 30px;

  position: relative;
  &:after {
    content: "“";
    font-size: 100px;
    line-height: 0;
    color: $pink;
    position: absolute;
    top: 25px;
    left: 10px;
    font-weight: 400;
  }

  &:before {
    content: "”";
    font-size: 100px;
    line-height: 0;
    color: $pink;
    position: absolute;
    bottom: -25px;
    right: 10px;
    font-weight: 400;
  }

  @include media-breakpoint-down(sm) {
    border-radius: 10px;
    padding: 10px 15px;
    &:before,
    &:after {
      display: none;
    }
  }
  &.no-quote {
    &:before,
    &:after {
      display: none;
    }
  }
}

.hero-title {
  @include media-breakpoint-down(sm) {
    width: 200px;
    margin: 0 auto;
  }
}

.hero-title2 {
  @include media-breakpoint-down(sm) {
    width: 250px;
    margin: 0 auto;
  }
}

.hero-img {
  @include media-breakpoint-down(sm) {
    width: 250px;
    padding-right: 30px;
    margin: 0 auto;
  }
}

.section-10dieu {
  &:after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    left: 0;
    z-index: 100;
    padding-bottom: 2.7vw;
    background-image: url(../img/curve.svg);
    background-position-x: center;
    background-size: 110vw;
    transform: rotate(180deg);
  }
  padding-top: 100px;
  @include media-breakpoint-down(md) {
    padding-top: 40px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }
}

.btn-dropshadow {
  box-shadow: 2px 3px #9e6280;
}

.subheading-container {
  display: flex;
  justify-content: center;
}
.subheading {
  border: 1px dashed #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
}

.avatar-anim {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.8px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 50%;
    animation: 2.2s ease-out 0s infinite normal none running pulse;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.8px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 50%;
    animation: 2.2s ease-out 1s infinite normal none running pulse;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 991px) {
  @keyframes pulse {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
        scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
        scale(1.2);
      -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
      opacity: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
  .img-toionha {
    // width: 150px;
  }
}

@media (max-width: 400px) {
  .tinhnang-tab {
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    // border-bottom: 1px solid rgba(255,255,255,0.15);
  }
  .navbar-brand {
    img {
      width: 30px;
    }
  }
}

.banner-mobile {
  // padding-top: 53px;
  // background: #340845;
}

.hashtag-momo {
  background-image: url("../img/lp/hashtag.svg");
  background-repeat: no-repeat;
  background-position: left center;
  height: 37px;
  line-height: 37px;
  span {
    font-size: 14px;
    background-color: #11a1e2;
    // border-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px 0 5px;
    margin-left: 33px;
  }
}

.tinhnang-loadmore[aria-expanded="true"] {
  + a[data-readmore-toggle] {
    &:after {
      display: none;
    }
  }
}

a[data-readmore-toggle] {
  display: block;
  // background-color: white;
  // padding: 10px 0 0 0;
  display: flex !important;
  align-items: flex-end;
  position: relative;
  height: 60px;
  margin-top: -30px;
  &:after {
    content: "";
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.001)),
      to(white)
    );
    background: linear-gradient(rgba(255, 255, 255, 0.001), #fff);
    pointer-events: none;
  }
  img {
    width: 20px;
    opacity: 0.5;
  }
}

.tinhnang-loadmore {
  @include media-breakpoint-down(md) {
    max-height: 6em;
    transition: height 200ms;
    overflow: hidden;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

//CDONATION

.embed-responsive-apd::before {
  padding-top: 51.72414%;
}

.embed-responsive-apd::before {
  padding-top: 51.72414%;
}

.embed-responsive-img {
  background: #e0e0e0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}

.campaign-box {
  background: #fff;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 68%, 0.32);
  margin-bottom: 0;
  transition: box-shadow 0.15s ease;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  &:hover {
    box-shadow: 0 8px 10px 0 hsla(0, 0%, 68%, 0.32);
  }
  @include media-breakpoint-down(md) {
    height: auto;
  }
}

.campaign-content {
  padding: 20px;

  @include media-breakpoint-down(md) {
    padding: 15px;
  }

  .campaign-desc {
  }
}

.campaign-title {
  color: gray("900");
  margin-bottom: 10px;
  a {
    color: gray("900");
    font-weight: bold;
    @include hover-focus {
      color: $pink;
    }
  }
}

.campaign-desc {
  color: gray("600");
}

.campaign-money {
  font-size: 14px;
  color: gray("600");
  .value {
    color: gray("900");
    font-size: 20px;
  }

  @include media-breakpoint-down(md) {
    font-size: 13px;
    .value {
      font-size: 16px;
    }
  }
}

.campaign-progress {
  margin: 5px 0;
}

.campaign-status {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .campaign-status-item:not(:last-child) {
    padding-right: 15px;
  }
}

.campaign-image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

$per: 66.7;

.campaign-gallery {
  display: flex;
  flex-flow: row nowrap;
  .campaign-gallery-1 {
    width: $per * 1%;
    flex: 0 0 $per * 1%;
    padding: 2px;
  }

  .campaign-gallery-2 {
    width: (100 - $per) * 1%;
    flex: 0 0 (100 - $per) * 1%;
    padding: 2px;
    .embed-responsive-img {
    }
  }

  .campaign-gallery-less {
    margin-bottom: 4px;
  }
  .campaign-gallery-more {
    margin-top: 4px;
  }
  .embed-responsive {
    border-radius: 5px;
    overflow: hidden;
  }
  .embed-responsive-img {
    background-color: white;
  }
}

.campaign-gallery-more-btn {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  text-decoration: underline;
  z-index: 2;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.campaign-status-item {
  flex: 0 0 auto;

  white-space: nowrap;
  @include media-breakpoint-down(md) {
    .btn {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}

.campaign-status-label {
  font-size: 14px;
  color: gray("600");
  white-space: nowrap;
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}

.campaign-status-value {
  font-weight: bold;
  color: gray("900");
  white-space: nowrap;
  @include media-breakpoint-down(md) {
    font-size: 15px;
  }
}

.modal-campaign {
  .modal-content {
    @include media-breakpoint-down(sm) {
      background-color: white !important;
    }
  }
}

.widget-donation {
  background: #fff;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 68%, 0.32);
  border-radius: 5px;
  overflow: hidden;
  padding: 25px 20px;
  max-width: 100%;

  .value {
    font-size: 24px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(sm) {
    .value {
      font-size: 18px;
    }
    margin-bottom: 20px;
    padding: 0 5px;
    background-color: transparent;
    box-shadow: none;
  }
}

.widget-donation-sticky {
  position: sticky;
  top: 10px;
}

.campaign-list {
}

.campaign-desc {
  font-size: 15px;
  min-height: 110px;
  strong {
    color: gray("900");
  }
  img {
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
  }

  // height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.campaign-body {
  font-size: 15px;

  strong {
    color: gray("900");
  }
  img {
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
  }
}

.campaign-people {
}

.campaign-people-list {
  margin-bottom: 10px;
  margin-top: 5px;
  .campaign-people-item:not(:last-child) {
    // margin-bottom: 10px;
    border-bottom: 1px solid gray("200");
  }
}

.campaign-people-item {
  padding: 8px 0 8px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 14px;

  .campaign-people-avatar + .campaign-people-info {
    padding-left: 15px;
  }
}

.campaign-people-avatar {
  width: 35px;
  height: 35px;
  font-size: 15px;
  color: gray("600");
  border-radius: 50%;
  background-color: gray("300");
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex: 0 0 35px;
  &.is-image {
    background: transparent;
    border-radius: 0;
  }

  &.is-pink {
    background-color: $pinkmomo;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
  }
}

.campaign-people-name {
  color: gray("900");
  font-weight: 600;
  margin-bottom: 3px;
  padding-top: 3px;
}

.campaign-people-info {
  padding: 0 15px 0 0;
  flex-grow: 1;
  min-width: 0;
}

.campaign-people-phone {
  color: gray("500");
  font-size: 12px;
}

.campaign-people-money {
  color: gray("900");
  font-weight: 600;
  white-space: nowrap;
}
.icon-heovang {
  position: relative;
  top: -2px;
  padding-left: 4px;
  vertical-align: middle;
}

.campaign-close {
  width: 40px;
  height: 40px;
  background-color: gray("500");
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 8px;
  border: none;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  .icon {
    height: 25px;
  }
  &:hover {
    background-color: gray("700");
  }
}

.modal-header {
  padding-left: 20px;
  padding-right: 80px;
}

.modal-huongdan {
  background-color: rgba(0, 0, 0, 0.3);
}

//GALERRY

.gallery {
  display: flex;
  flex-flow: row nowrap;
  background-color: gray("900");
  margin-top: 61px;
  overflow: hidden;
  // justify-content: center;
  padding: 1px;
  &:hover {
    .gallery-item:not(:hover) {
      opacity: 0.85;
    }
  }
  @include media-breakpoint-down(md) {
    margin-top: 54px;

    .gallery-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.gallery-item {
  transition: opacity 0.25s;
  padding: 1px;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  overflow: hidden;
  cursor: pointer;
  img {
    height: 100%;
    object-fit: cover;
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
      -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
      transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.detail-container {
  padding: 40px 0;
  background-color: gray("100");
  @include media-breakpoint-down(sm) {
    padding: 0px 0 30px;
  }
}

.widget-donation-container {
  @include media-breakpoint-down(sm) {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.btn-gallery-container {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 0;
  right: 0;
}

.btn-share {
  svg {
    fill: #3f5ea8;
  }
}

.btn-gallery {
  padding: 3px 8px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
  border-radius: 3px;
  .icon {
    vertical-align: -3px;
    height: 16px;
    margin-right: 3px;
  }
}

.detail-title {
  margin-bottom: 10px;
}

.campaign-sort {
  font-size: 17px;
  padding: 0px 0 20px;
  font-style: italic;
}

.baiviet-loadmore {
  max-height: 600px;
  transition: height 200ms;
  overflow: hidden;

  + a[data-readmore-toggle] {
    img {
      width: 20px;
      opacity: 0.5;
    }
    &:after {
      background: linear-gradient(rgba(255, 255, 255, 0.001), white);
    }
  }
}

.shadow-sm {
  box-shadow: 0 .25rem .375rem rgba(0,0,0,.09)!important;
}

.baiviet-loadmore[aria-expanded="true"] {
  + a[data-readmore-toggle] {
    &:after {
      display: none;
    }
  }
}

.swiper-message,
.modal-list-message {
  margin-left: -5px;
  margin-right: -5px;
  .swiper-slide {
    width: 290px;
    padding: 1px 5px 10px 5px;
    &:nth-child(4n + 1) {
      .message-item .campaign-people-avatar {
        background-color: rgba($pink, 1);
      }
    }
    &:nth-child(4n + 2) {
      .message-item .campaign-people-avatar {
        background-color: rgba($pinkmomo, 1);
      }
    }
    &:nth-child(4n + 3) {
      .message-item .campaign-people-avatar {
        background-color: rgba($green, 1);
      }
    }

    &:nth-child(4n + 4) {
      .message-item .campaign-people-avatar {
        background-color: rgba($blue, 1);
      }
    }
  }
}

.modal-list-message {
  margin-left: -5px;
  margin-right: -5px;
  .swiper-slide {
    width: 100%;
    padding: 1px 5px 10px 5px;
  }
}

.message-item {
  // background-color: white;
  // background-color: rgba(#8c2dd3, 0.15);
  border: 1px solid gray("300");
  // @extend .shadow-sm;
  background: white;
  padding: 13px;
  // border: 1px solid gray("300");
  // @extend .shadow-sm;
  border-radius: 5px;
  width: 100%;
  .campaign-people-avatar {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

.message-item-name {
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  color: gray("900");
}

.message-item-content {
  padding: 10px 0 5px;
  text-align: left;
  line-height: 16px;
  background-color: white;
  border-radius: 5px;
}

.message-item-txt {
  color: gray("600");
  font-size: 14px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  background-color: white;
}

.show-donation-btn {
  .donation-btn-fix {
    transform: translate3d(0, 0, 0);
  }
}

.donation-btn-fix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 15px;
  background: white;

  border-top: 1px solid gray("300");
  z-index: 99;
  transition: transform 0.3s ease-in;
  transform: translate3d(0, 100%, 0);
  overflow: hidden;
}

.detail-container {
  padding-bottom: 70px;
}

.user-testi {
  margin-top: 40px;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}

.user-testi__item .content:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  margin-left: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 8px solid #3c4858;
  border-color: transparent #ffffff #ffffff transparent;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-box-shadow: 2px 2px 2px -1px rgba(60, 72, 88, 0.15);
  box-shadow: 2px 2px 2px -1px rgba(60, 72, 88, 0.15);
}

.user-testi__item {
  padding: 5px;
  .content {
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15) !important;
  }
}

.user-testi__content {
  font-size: 14px;
  margin-bottom: 5px;
}

.user-testi__name {
  font-size: 13px;
  text-transform: capitalize;
  span {
    font-size: 12px;
  }
}
.user-testi__avatar {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pinkmomo;
  color: white;
  line-height: 0;
  font-size: 18px;
  font-weight: bold;
}

.modal-donation-detail {
  .card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eaedf2;
    border-radius: 0.3125rem;
  }

  @include media-breakpoint-down(md) {
    .modal-dialog,
    .modal-content {
      width: 100%;
      height: 100%;
    }

    .modal-dialog {
      margin: 0 auto;
      padding: 0;
    }

    .modal-content {
      box-shadow: none;
      border-radius: 0;
      border: 0;
      // Remove focus outline from opened modal
      outline: 0;
    }

    // When fading in the modal, animate it to slide down
    &.modal.fade .modal-dialog {
      transform: translate(100%, 0);
    }

    &.modal.show .modal-dialog {
      transform: none;
    }

    .modal-dialog-scrollable {
      max-height: 100%;
    }
    .modal-dialog-scrollable .modal-content {
      max-height: 100%;
    }

    .modal-footer {
      padding: 5px;
    }
  }

  @include media-breakpoint-up(sm) {
    // .modal-dialog-scrollable .modal-content {
    //   max-height: 90%;
    //   top: 5%;
    // }
  }
}

.user-testi__pagination {
  z-index: 10;
  max-width: 250px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  // padding: 5px;
  left: 50%;
  transform: translateX(-50%);
  .swiper-button-next,
  .swiper-button-prev {
    top: auto;
    bottom: 0px;
    width: 30px;
    height: 30px;
    margin: 2px 2px 4px 2px;
  }
}

.swiper-user-testi {
  padding-bottom: 40px;

  .swiper-pagination-bullets {
    bottom: 5px;
  }
  .swiper-slide {
    max-width: 320px;
  }

  .swiper-slide {
    &:nth-child(4n + 1) {
      .user-testi__avatar {
        background-color: rgba($pink, 1);
      }
    }
    &:nth-child(4n + 2) {
      .user-testi__avatar {
        background-color: rgba($pinkmomo, 1);
      }
    }
    &:nth-child(4n + 3) {
      .user-testi__avatar {
        background-color: rgba($green, 1);
      }
    }
    &:nth-child(4n + 4) {
      .user-testi__avatar {
        background-color: rgba($blue, 1);
      }
    }
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $pink;
}

//
//
// article.scss
//
//
.article {
  img {
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
  }
}
.article {
  figure,
  blockquote,
  pre {
    margin: $spacer * 2 0;
  }
  ul,
  ol {
    padding-left: $spacer * 2;
  }
  pre {
    padding: $spacer;
    background: $dark;
    color: $code-color;
    border-radius: $border-radius;
  }
}

@include media-breakpoint-up(md) {
  .article {
    figure,
    blockquote,
    pre {
      margin: $spacer * 4 0;
    }
    h5:not(:first-child) {
      margin-top: $spacer * 3;
    }
    ul,
    ol {
      > li:not(:last-child) {
        margin-bottom: $spacer/2;
      }
    }
    pre {
      padding: $spacer * 2.25;
    }
  }
}

.article-comments {
  list-style: none;
  padding-left: 0;
  > li {
    &:not(:last-child) {
      margin-bottom: $spacer;
    }
    li {
      margin-top: $spacer;
      padding-top: $spacer;
      padding-bottom: $spacer;
      padding-left: $spacer;
      border-left: 2px solid $border-color;
    }
  }
}

@include media-breakpoint-up(md) {
  .article-comments {
    > li {
      &:not(:last-child) {
        margin-bottom: $spacer * 1.5;
      }
    }
  }
}

.post-meta svg {
  vertical-align: -10%;
}
