@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

.embed-responsive-apd::before {
  padding-top: 51.72414%;
}

// .embed-responsive-apd::before {
//   padding-top: 51.72414%;
// }

// 750x400

.wrapper,
body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  // font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  box-sizing: border-box;
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}



.view {
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  // background-color: gray("100");
  background-color: #f6f6f6;
  z-index: 1;
}
.page-content {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-top: var(--des-page-navbar-offset);
  padding-bottom: var(--des-page-toolbar-offset);
}

$topbar-height: 44px;

.topbar {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  border-bottom: 1px solid gray("300");

  &.is-hidden {
    transform: translateY(-100%);
    // transform: translateY(-32px);
  }

  @include media-breakpoint-up(md) {
    width: 100%;
    background-color: transparent;
    border-bottom: none;
    top: 0;
    .nav {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      max-width: 980px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin: 0 auto;
      background-color: white;
    }
  }
}

@include media-breakpoint-up(md) {
  // .tab-pane {
  //   padding-top: 60px !important;
  // }
}

.topbar ~ * {
  --des-page-navbar-offset: #{$topbar-height};
}

.toolbar {
  height: 50px;
  position: absolute;
  width: 100%;
  margin: 0;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 15;
  left: 0;
  right: 0;
  // background: gray("100");
  border-top: 1px solid gray("300");
  bottom: 0;
  background-color: white;
  // margin-right: auto;
  // margin-left: auto;
  // max-width: 720px;

  // @include media-breakpoint-up(md){
  //   display: none;
  // }
  .row {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.toolbar ~ * {
  --des-page-toolbar-offset: 50px;
}

// @include media-breakpoint-up(md){
//   .toolbar ~ * {
//     --des-page-toolbar-offset: 0;
//   }

// }
.toolbar {
  // display: flex;
  // align-items: center;
  padding: 0 10px;
  .row {
    height: 50px;
  }
}
.heodat__thatim {
  padding-right: 20px;
  display: inline-block;
  cursor: pointer;
  .heart2 {
    display: none;
  }
  &.is-active {
    .heart1 {
      display: none;
    }
    .heart2 {
      display: inline-block;
    }
  }
}
.heodat__btn__bottom {
  display: block;
  @media screen and (max-width: 360px) {
    img {
      height: 28px;
    }
  }

  @media screen and (min-width: 400px) {
    img {
      height: 35px;
    }
  }
}

//END HERE

.tab__content {
  padding: 15px 20px;
}

.page-tab {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  // transition-delay: 0.2s;
}

.show {
  .page-tab {
    opacity: 1;
  }
}

.nav-heodat {
  height: 44px;
  .nav-link {
    transition: none;
    text-align: center;
  }
}

.nav-heodat-item {
  height: 44px;
  flex: 1 1 0px;
  padding: 2px 10px;
  user-select: none;
  svg path {
    fill: gray("400");
  }
  svg {
    // height: 18px;
  }
  span {
    display: block;
    font-size: 12px;
    color: gray("400");
    // font-weight: bold;;
  }
  &.active {
    span {
      color: $pink;
    }
    svg path {
      fill: $pink;
    }
  }
}

.page-mobile {
}

.bg-light-heodat {
  // background-color: #f274ab;
  background: url("https://static.mservice.io/images/s/momo-upload-api-201020114841-637387913213508459.jpg")
    repeat-y center center #f274ab;
}

.heodat__item {
  .card__footer {
    margin-top: 15px;
    padding: 0 20px;
  }
  .heart {
    width: 19px;
    position: relative;
    top: -2px;
    // vertical-align: -30%;
    color: $pink;
  }
  .card__footer__border {
    padding: 10px 0px;
    border-top: 1px solid gray("300");
  }
}

.heodat__banner {
  position: relative;
  padding-bottom: 0;
  z-index: 1;
  background-color: #f274ab;
}

.heodat__curve {
  // transform: rotate(180deg);
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
  svg {
    width: 100%;
    height: auto;
  }
}

.heodat-feature {
  position: relative;
}

.heodat-quote {
}

.heodat-quote__item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.heodat-quote__no {
  pointer-events: none;
  user-select: none;
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 2;
}
.headat-quote__symbol {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: -15px;
  left: 10px;
  svg {
    width: 70px;
  }
}

.heodat-quote__avatar {
  text-align: center;
}

.heodat-quote__info {
  color: gray("800");
  text-align: center;
  .name {
    font-size: 23px;
    // line-height: 33px;
    font-weight: bold;
    color: $pink;
  }
  .job {
    font-size: 16px;
  }
  .quote {
    margin-top: 15px;
    font-style: italic;
    text-align: left;
  }
}
.swiper-heodat-quote {
  padding-bottom: 30px;

  .swiper-slide {
    padding: 0 16px;
    // @include 
  }
  .swiper-button-next,
  .swiper-button-prev {
    border: 1px solid $pinkmomo;
    background: $pinkmomo;
    fill: white;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.heodat__fetch  {
  padding: 15px 0;
  @include media-breakpoint-down(sm){
    background-color: gray("200");
  }


}

.heodat__fetch__item {
  background-color: white;
  padding: 15px 0;
  // margin-bottom: 15px;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto 15px;

  @include media-breakpoint-up(md) {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
.heodat__fetch__header {
  padding: 0 15px;
}
.heodat__fetch__content {
  font-style: italic;
  font-size: 14px;
  padding: 0 15px;
  color: gray("700");
}

.heodat__featch__gallery {
  overflow: hidden;
  // width: 100%;
  .embed-responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.three {
    // @extend .clearfix;
    margin-left: -2px;
    margin-right: -2px;
    &:after {
      content: "";
      clear: both;
      display: table;
    }
    .embed-responsive {
      float: left;
      margin-left: 2px;
      margin-right: 2px;
      &:before {
        padding-top: percentage(12/16);
      }
    }
    .embed-responsive:nth-child(1) {
      width: calc(66.666% - 4px);
    }

    .embed-responsive:nth-child(2) {
      width: calc(33.333% - 4px);
    }
    .embed-responsive:nth-child(3) {
      margin-top: 3px;
      width: calc(33.333% - 4px);
    }
  }
}

.heodat__featch__footer {
  padding: 0 15px;

  .cont {
    padding: 10px 0;
    border-bottom: 1px solid gray("300");
  }
}

.heodat__featch__comment {
  padding: 15px 20px 0;
  .comment {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: gray("200");
  }
}

$color-1: #445b7c; // blue dark
$color-2: $pink; // salmon
$color-3: #ffffff; // white

// fonts

$primary-font: "Open Sans", sans-serif;

// bounce-in duration

$bounce-in-duration: 0.7s;

.cd-image-container {
  position: relative;
  width: 100%;
  padding: 0;
  // max-width: $M;
  // breakpoints inside partials > _layout.scss
  margin: 0em auto;

  img {
    display: block;
    max-width: 100%;
  }
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
  }

  .cd-image-label {
    right: auto;
    left: 0;
  }

  .is-visible & {
    width: 50%;
    /* bounce in animation of the modified image */
    animation: cd-bounce-in $bounce-in-duration;
  }
}

@keyframes cd-bounce-in {
  0% {
    width: 0;
  }

  60% {
    width: 55%;
  }

  100% {
    width: 50%;
  }
}

.cd-handle {
  position: absolute;
  height: 36px;
  width: 36px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
  border-radius: 50%;
  background: $color-2 url("../img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  // box-shadow: 0 0 0 6px rgba(#000, .2), 0 0 10px rgba(#000, .6), inset 0 1px 0 rgba(#fff, .3);
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(0);

  &.draggable {
    /* change background color when element is active */
    background-color: $color-1;
  }

  .is-visible & {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 0.3s $bounce-in-duration,
      opacity 0s $bounce-in-duration;
  }
}

.heodat__post {
  padding: 20px 0;
}

.heodat__post__sapo {
  font-style: italic;
  padding: 15px 0;
}

.heodat__post__content {
  img {
    max-width: 100% !important;
    margin: 0 auto !important;
  }
}

.heodat__post__quote {
  position: relative;
  padding: 40px 25px 30px;
  border-radius: 10px;
  color: $pinkmomo;
  background-color: #fbe0e7;
  font-style: italic;
  .headat-quote__symbol {
    top: 20px;
  }
}

.modal-heodat {
  // bottom: 50px;
  // height: calc(100% - 50px);
  @include media-breakpoint-up(sm) {
    .modal-content {
      border-radius: 10px;
    }
    .modal-dialog {
      max-width: 700px;
      // margin: 1.75rem auto;
    }
    .heodat__post {
      padding: 20px 15px 40px;
    }
  }
}
