@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

body {
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;
}

.header-position {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  @include media-breakpoint-down(md) {
    position: fixed;
  }
}

body {
  font-weight: 600;
}
// #C10070
$maincolor: #15005d;
$yellowcolor: #ffcd00;

.navbar-lp-container {
  background: rgba($maincolor, 1);
  color: white;
  transform: translateZ(0);
  // @extend .shadow-sm;
  will-change: transform;
  transition: transform 0.5s, background-color 0.2s;
  &.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.is-fixed {
    background: rgba($maincolor, 0.85);
  }

  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.navbar-lp {
}

.navbar-lp-open {
  .navbar-lp-container {
    transform: translateY(0) !important;
  }
}

.navbar-lp {
  padding: 0.5rem 1rem;
  // background: rgba($maincolor, 1);
  // color: white;
  // // @extend .shadow-sm;
  // &.is-fixed {
  //   background: rgba($maincolor, 1);
  //   color: white;
  //   // @extend .shadow-sm;
  // }
  // transform: translateZ(0);
  // will-change: transform;
  // transition: transform 0.5s, background-color 0.2s;
  // &.is-hidden {
  //   -webkit-transform: translateY(-100%);
  //   -ms-transform: translateY(-100%);
  //   transform: translateY(-100%);
  // }

  .navbar-toggler {
    position: relative;

    @include media-breakpoint-down(sm) {
      // background-color: rgba(52, 8, 69, 1);
    }
  }

  &.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    @include hover-focus() {
      color: $yellow !important;
    }
    &.active {
      color: $yellow !important;
    }
  }
  &.navbar-dark .navbar-toggler svg [stroke]:not([stroke="none"]) {
    stroke: #fff !important;
  }
  &.navbar.navbar-toggled-show {
    // background: rgba(#340845, 0.85);
    color: white;
  }
}

body {
  // padding-top: 58px;

  @include media-breakpoint-down(md) {
    padding-top: 54px;
  }
}

.header__container {
  min-height: 58px;
  height: auto;

  .nav-link.active {
    color: $pinkhot !important;
  }

  @include media-breakpoint-down(md) {
    min-height: 54px;
    .navbar-brand {
      img {
        width: 32px;
      }
    }
  }
}
.header__container {
  @include media-breakpoint-down(md) {
    .nav-link {
      height: 44px;
      line-height: 44px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .navbar-nav {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .nav-item:not(:last-child) {
      .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.navbar-toggler {
  height: 58px;
  width: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 30px;
  }

  @include media-breakpoint-down(md) {
    height: 54px;
    width: 54px;
  }
}
.navbar-toggler-close {
  position: relative;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-open {
  display: none;
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-close {
  display: none;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
}
//END

//CDONATION

.embed-responsive-apd::before {
  padding-top: 51.72414%;
}

.embed-responsive-apd::before {
  padding-top: 51.72414%;
}

.embed-responsive-img {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}

//@at-root
body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #180669;
  color: rgba(255, 255, 255, 0.95);
  background-image: url("./../img/hocvien/bg-hocvien.jpg");
}

.font-hv {
  font-family: "Bungee", sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.section__hocvien {
}

.hv__box {
  border-radius: 10px;
  // overflow: hidden;
  padding: 20px 20px;

  @include media-breakpoint-up(md) {
    padding: 30px 40px;
  }

  @include media-breakpoint-up(lg) {
    padding: 40px 60px;
  }
}

.hv__box__feature {
  background-color: $pinkmomo;
  position: relative;
  &:after {
    content: "";
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    background-color: transparent;
    border: 4px dotted #ffcd00;
    position: absolute;

    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
  }
}

.hx-txt-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 100, 0.5);

  @include media-breakpoint-down(sm) {
    text-shadow: 0px 1px 2px rgba(0, 0, 100, 0.5);
  }
}

.btn__gioithieu__more {
  &[aria-expanded="true"] {
    display: none;
  }
}

.btn__giaithuong__more {
  font-weight: bold;
  .txt1 {
  }
  .txt2 {
    display: none;
  }
  &[aria-expanded="true"] {
    svg {
      transform: rotate(180deg);
    }
    .txt1 {
      display: none;
    }
    .txt2 {
      display: inline;
    }
  }
}

.hv__tes {
  text-align: center;
  .txt1 {
    font-size: 18px;
    line-height: 1.4;
  }
  .txt2 {
    font-size: 23px;
    line-height: 1.4;
  }
  .txt3 {
    font-size: 18px;
    line-height: 1.4;
  }
  @include media-breakpoint-up(md) {
    .txt1 {
      font-size: 20px;
      line-height: 1.4;
    }
    .txt2 {
      font-size: 28px;
      line-height: 1.4;
    }
    .txt3 {
      // margin-top: 10px;
      font-size: 20px;
      line-height: 1.4;
    }

    .txt-star {
      padding: 10px 0 10px;
      img {
        width: 120px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .txt1 {
      font-size: 24px;
      line-height: 1.4;
    }
    .txt2 {
      font-size: 34px;
      line-height: 1.4;
    }
    .txt3 {
      // margin-top: 10px;
      font-size: 24px;
      line-height: 1.4;
    }

    .txt-star {
      padding: 10px 0 10px;
      img {
        width: 160px;
      }
    }
  }
}
.wrapper-hocvien {
  font-weight: 600;
}
.hv__box__content {
  padding: 15px 0;
  line-height: 1.6;
  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
}

.hv__heading {
  color: $pinkmomo;
  line-height: 1.5;
  // border: 2px solid #ffffff;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

.hv__card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.hv__card__nb {
  max-width: 400px;
  margin: 0 auto;
}

.hv-mm {
  max-width: 700px;
  margin: 0 auto;
}

.hv__card__header {
}

.hv__card__body {
  padding: 20px;
  color: gray("800");

  @include media-breakpoint-up(md) {
    h4 {
      font-size: 18px;
    }
  }
}

.hv__award__bg {
  // height: 275px;
  position: relative;
  width: 100%;

  background-size: 100% auto;
  background-repeat: no-repeat;

  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  // overflow: hidden;

  &:before {
    display: block;
    content: "";
    padding-top: percentage(275/345);
  }

  @include media-breakpoint-up(lg) {
    // height: 275px;
    // padding: 0 15px;
  }
}

.hv__award__img {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
}

.hv__accordion__content {
  border-radius: 0 0 10px 10px;
  background-color: gray("100");
  padding: 15px 15px;
  font-size: 15px;
  ul {
    padding: 0 0 0 15px;
    li {
      margin-bottom: 10px;
    }
  }
}

.hv__accordion {
  margin: 0 auto;
  max-width: 600px;
  .hv__accordion__item {
    &:not(:first-child) {
    }

    margin-top: 18px;
  }
}

.hv__accordion__item {
  z-index: 2;
  position: relative;
  background-color: $pinkmomo;
  padding: 12px 25px 8px 18px;
  transform: skew(-15deg);
  color: white;
  font-size: 14px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  > span {
    display: inline-block;
    transform: skew(15deg);
  }
  > .feather {
    display: inline-block;
    transform: skew(15deg);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 14px;
  }
  &:after {
    content: "";
    position: absolute;
    border: 1px solid gray("900");
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  @include hover-focus() {
    background-color: lighten($pinkmomo, 5%);
  }
  &[aria-expanded="true"] {
    .feather {
      transform: skew(15deg) rotate(90deg);
    }
  }
}

.btn-hv {
  padding: 8px 25px;
  box-shadow: 0px 4px 0px 0px rgba(darken($pinkmomo, 6%), 1);
}

.hv__card__new {
  .new__body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.hv__hd {
  .manual-page-tab .nav-link.active {
    background-color: $pinkmomo;
    color: white;
    &:before {
      border-left: 16px solid $pinkmomo;
    }
  }

  .tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
  }
}

.new__btn__more {
  // .feather{
  //   width: 16px;
  //   height: 16px;
  // }
}

.external-btn {
  font-size: 14px;
  color: #333;
  padding: 5px 15px;
  border-radius: 50px;
  background-color: #eeeeee;
  font-weight: bold;
}

.swiper-tintuc {
  padding: 0 15px;

  .swiper-slide {
    margin-right: 30px;
    width: calc(33.333% - 20px);
    //ko hieu tai sao la 20px
  }

  @media (max-width: 767px) {
    padding: 0;
    .swiper-slide {
      width: 90%;
      margin-right: 14px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.hv-nav-tab {
  display: inline-flex;
  background-color: $gray-200;
  flex-flow: row nowrap;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  .nav-link {
    @extend .font-hv;
    font-size: 14px;
    color: gray("500");

    // font-weight: normal;
    &.active {
      color: rgba(255, 255, 255, 0.95);
      background-color: $pinkmomo;
    }
  }
}

.hv-question {
  li {
    &:not(:last-child) {
      border-bottom: 1px dashed gray("300");
      padding-bottom: 9px;
      margin-bottom: 9px;
    }
    a {
      font-weight: 600;
    }
    img {
      margin-right: 5px;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li {
      flex: 0 0 calc(50% - 30px);
      max-width: calc(50% - 30px);
      border-bottom: 1px dashed gray("300");
      padding-bottom: 15px !important;
      margin-bottom: 15px !important;
    }
  }
}

.hv_card__cauhoi {
  @include media-breakpoint-up(md) {
    padding: 30px 50px 10px 50px;
  }
}

.hocvien-modal {
  .modal-body {
    padding: 20px;
  }
  .modal__title {
    font-size: 18px;
  }

  .hocvien-modal-close {
  }

  .hocvien-modal-back {
    opacity: 0;
    pointer-events: none;
  }

  @include media-breakpoint-up(md) {
    .modal-body {
      padding: 30px 40px;
    }

    .modal-dialog {
      max-width: 800px;
    }
    .modal-content {
      border-radius: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    .hocvien-modal-back {
      opacity: 1;
      pointer-events: auto;
    }

    .hocvien-modal-close {
      opacity: 0;
      pointer-events: none;
    }

    .modal-dialog,
    .modal-content {
      width: 100%;
      height: 100%;
    }

    .modal-dialog {
      margin: 0 auto;
      padding: 0;
    }

    .modal-content {
      box-shadow: none;
      border-radius: 0;
      border: 0;
      // Remove focus outline from opened modal
      outline: 0;
    }

    // When fading in the modal, animate it to slide down
    &.modal.fade .modal-dialog {
      transform: translate(100%, 0);
    }

    &.modal.show .modal-dialog {
      transform: none;
    }

    .modal-dialog-scrollable {
      max-height: 100%;
    }
    .modal-dialog-scrollable .modal-content {
      max-height: 100%;
    }

    .modal-footer {
      padding: 5px;
    }

    @include media-breakpoint-up(sm) {
      .modal-dialog-scrollable .modal-content {
        max-height: 90%;
        top: 5%;
      }
    }
  }
}

.modal-dialog {
  color: gray("900");
}

.article {
  img {
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
  }
}
.article {
  figure,
  blockquote,
  pre {
    margin: $spacer * 2 0;
  }
  ul,
  ol {
    padding-left: $spacer * 2;
  }
  pre {
    padding: $spacer;
    background: $dark;
    color: $code-color;
    border-radius: $border-radius;
  }
}

@include media-breakpoint-up(md) {
  .article {
    figure,
    blockquote,
    pre {
      margin: $spacer * 4 0;
    }
    h5:not(:first-child) {
      margin-top: $spacer * 3;
    }
    ul,
    ol {
      > li:not(:last-child) {
        margin-bottom: $spacer/2;
      }
    }
    pre {
      padding: $spacer * 2.25;
    }
  }
}

.as-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 58px);

  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 54px);
  }
}

.hv-qq {
  font-size: 26px;
  line-height: 1.5;
  padding: 20px 0;

  @include media-breakpoint-up(sm) {
    padding: 0;
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    margin-top: 15px;
  }
}

// .hv-as {
//   margin-top: 40px;
//   max-width: 640px;
//   margin: 0 auto;
//   font-size: 20px;
//   font-weight: bold;

//   @include media-breakpoint-down(sm) {
//     font-size: 16px;
//   }
// }

.hv__box__game {
  margin-top: 80px;
  border: none;
  position: relative;
  box-shadow: inset 0px 0px 120px 0px rgba(0, 0, 0, 0.7);
  background-position: center;
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
  }
}

.hv__box__game {
  min-height: 480px;
  @include media-breakpoint-down(sm) {
    padding: 25px 15px;
  }
}

.hv__box__slogan {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: -80px;
  z-index: 10;

  @include media-breakpoint-down(sm) {
    width: 190px;
    top: -50px;
  }
}

.hv__box__tt {
  text-align: center;
  font-size: 22px;
  line-height: 1.7;
  letter-spacing: normal;
  max-width: 600px;
  margin: 0 auto;
  span {
    font-size: 0.7em;
  }

  @include media-breakpoint-down(sm) {
    font-size: 17px;
  }
}

.btn-hv-action {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  padding: 8px 20px 5px;
  box-shadow: 0px 4px 0px 0px darken(#febd00, 10%);
  @include media-breakpoint-down(sm) {
    padding: 5px 10px 3px;
    font-size: 14px;
  }
}

.mouse-wrapper {
  padding-top: 15px;
  margin: 0 auto;
  display: block;
  // width: 28px;
  position: relative;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  @include media-breakpoint-down(md) {
    position: relative;
    // bottom: -5px;
  }
}

.mouse {
  width: 28px;
  height: 42px;
  border: 2px solid gray("900");
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  margin: 0 auto;
}

.mouse .mouse-scroll {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: gray("900");
  position: relative;
  top: 3px;
  left: 10px;
  -webkit-animation: scrolls 1.3s ease-out infinite;
}

@-webkit-keyframes scrolls {
  0% {
    top: 10px;
    opacity: 1;
    height: 4px;
  }

  95% {
    top: 18px;
    opacity: 0;
    height: 10px;
  }

  100% {
    top: 8px;
    opacity: 1;
    height: 4px;
  }
}

// KV ANIMATION
.ani__kv__wrapper {
  background-color: #b70775;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.kv__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.kv__img {
  position: absolute;
  // top:0;
  // left: 0;
  transform-origin: 50% 50%;
}

.kv__bg__cham-cham {
  background-position: right -15% center;
  background-size: 100% auto;
  opacity: 0.7;

  animation: yourAnimation1 8s infinite 0s linear;
}

@keyframes yourAnimation1 {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0);
  }
}

.kv__bg__tia-tia {
  background-position: center;
  background-size: 120% auto;
  user-select: none;
}

.kv__img__bubble {
  top: -20%;
  left: 14%;
  width: 58%;
  user-select: none;
  // animation-duration: 2s !important;
}

.kv__img__chaodon {
  top: 0;
  right: 17%;
  left: auto;
  width: 5%;
  user-select: none;
  z-index: 4;
  // animation-duration: 2s !important;
}

.kv__img__txt1 {
  top: 16.5%;
  left: 32%;
  width: 22%;
  user-select: none;
}

.kv__img__tranthanh {
  bottom: -64%;
  right: 17%;
  width: 27%;
  user-select: none;
}

@include media-breakpoint-down(sm) {
  .kv__img__chaodon {
    top: 0;
    right: 2%;
    left: auto;
    width: 12%;
    user-select: none;
    // animation-duration: 2s !important;
  }
  .kv__bg__tia-tia {
    display: none;
  }

  .kv__img__cham-cham {
    display: none;
  }
  .kv__img__bubble {
    top: -9%;
    left: -36%;
    width: 148%;
    // transform: scaleX(0.9);
  }

  .kv__img__tranthanh {
    bottom: -5%;
    right: -4%;
    width: 43%;
  }
  .kv__img__txt1 {
    top: 20%;
    left: 7%;
    width: 58%;
  }
}

.hv__qrcode {
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  max-width: 420px;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    justify-content: center;
    .hv__qrcode__txt {
      text-align: center;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.hv__qrcode__txt {
  font-size: 20px;
  font-style: italic;
  padding: 5px 20px 5px 15px;
  border-radius: 3px;
  letter-spacing: 1px;
  flex: 1;
  letter-spacing: 0.2px;
  // .popover-body{
  //   font-size: 15px;
  //   text-align: center;
  //   font-weight: bold;
  // }
}

.hv__qrcode__img {
  flex: 0 0 150px;
  max-width: 150px;
}

.animate-visible {
  visibility: hidden;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@media (prefers-reduced-motion: reduce), print {
  .animate__animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
  .animate__animated[class*="Out"] {
    opacity: 0;
  }
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.animate__tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.animate__bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
  animation-duration: calc(var(--animate-duration) * 0.75);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animate__bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.hv__suggest {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  @include media-breakpoint-down(sm) {
    margin: 15px 0;
  }
}

.hv__suggest__item {
  user-select: none;
  position: relative;
  z-index: 1;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: $pinkmomo;

  overflow: hidden;
  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.03);
    z-index: -1;
    width: 100%;
    height: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: rotate(45deg);
  }

  @include media-breakpoint-down(sm) {
    margin: 0 3px;
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}

.hv__card__doitac {
  // padding-top: 20px;
  .hv__card__header {
    padding: 0 50px;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    // top: -40px;
    width: 100%;
    img {
      max-width: 395px;
      width: 100%;
    }
  }
  .hv__card__body {
    padding: 40px 20px;
  }

  @include media-breakpoint-down(sm) {
    .hv__card__body {
      padding: 35px 15px;
    }
  }
}

// .roadmap__top{

// }
// .roadmap__bottom{

// }

// .swiper-roadmap-top{

//   .swiper-slide{
//     padding: 5px;
//     cursor: pointer;

//     &.is-active{
//       background-color: red;
//     }
//   }

// }

// .roadmap-top-item{
//   display: block;
//   padding: 5px 10px;
//   text-align: center;
//   background-color: rgba(255,255,255,0.4);

// }

// .roadmap-bottom-item{
//   display: block;
//   padding: 5px 10px;
//   min-height: 100px;
//   text-align: center;
//   background-color: rgba(255,255,255,0.4);

// }

.hv__question__more {
  li {
    padding: 15px 20px 15px 0;
    position: relative;
    a {
      font-size: 20px;
      font-weight: bold;
    }
    &:not(:last-child) {
      border-bottom: 1px solid gray("200");
    }
  }
  .feather {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    opacity: 0.5;
  }

  @include media-breakpoint-down(sm) {
    li {
      padding: 13px 20px 13px 0;
      a {
        font-size: 16px;
      }
    }
  }
}

.hv-kv-detail {
  // padding: 25px 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hv-back {
  min-width: 100px;
  padding-left: 12px;
  margin-right: 0;
  padding-right: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  svg {
    margin-right: 2px;
    width: 24px;
    height: 24px;
  }
}

.border-yellow {
  border: 1px solid $yellow;
}

.nav-hv {
  display: flex;
  flex-flow: row nowrap;
  // background-color: white;
  // border-radius: 5px;
  overflow: hidden;
  border: none;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-content: center;
  .nav-item:not(:last-child) {
    border-right: 1px solid gray("200");
  }
  .nav-item:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .nav-item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .nav-item {
    overflow: hidden;
    flex: 1 1 0px;
    background-color: white;
    max-width: 240px;
  }
  .nav-link {
    cursor: pointer;
    height: 100%;
    padding: 0;
    border: none;
    &.active {
      background-color: $yellow;
    }
  }
  .nav-hv-item {
    padding: 5px 5px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    .time {
      white-space: nowrap;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
    }
    .date {
      font-size: 18px;
      color: gray("900");
    }
    .quote {
      font-size: 12px;
      color: gray("800");
      line-height: 15px;
    }
  }
}

.nav-hv-countdown {
  border-radius: 20px;
  font-size: 13px;
}

.nav-hv-countdown {
  background-color: $yellow;
  border-radius: 20px;
  padding: 5px 15px;
  color: gray("900");
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid $yellow;
    position: absolute;
    top: -5px;
    left: 15%;
  }
}

.nav-hv-countdown {
}

.tab-content-hv {
  .tab-pane:nth-child(1) {
    .nav-hv-countdown:after {
      left: 15%;
    }
  }

  .tab-pane:nth-child(2) {
    .nav-hv-countdown:after {
      left: 50%;
    }
  }

  .tab-pane:nth-child(3) {
    .nav-hv-countdown:after {
      left: 75%;
    }
  }
}

//@at-root

.xephang__list {
  padding: 15px 15px;
  .xephang__list__item:not(:last-child) {
    border-bottom: 1px dashed gray("300");
  }
}

.hv__tracuu{
  @include media-breakpoint-up(md){
    padding: 20px 25px;
    border-radius: 10px;
    background-color: rgba($pinklight, 0.3);
  }
}

.xephang__list2 {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: column wrap;
    max-height: 450px;
    align-content: space-between;
    // justify-content: space-between;
    // align-items: center;
    .xephang__list__item:last-child {
      border-bottom: 1px dashed gray("300");
    }
    .xephang__list__item {
      flex: 0 0 45%;
      max-width: 45%;
      width: 45%;
      // min-width: 300px;
      .name{
        min-height: 36px;
        max-height: 36px;
        overflow: hidden;
        line-height: 1.2;
        display: flex;
        align-items: center;
      }
      .phone{
        // margin-top: 3px;
      }
    }
    position: relative;
    &:after {
      content: "";
      // height: 100%;
      width: 1px;
      background-color: gray("300");
      left: 50%;
      top: 25px;
      bottom: 15px;
      position: absolute;
    }
  }
}

.xephang__list3{
  @include media-breakpoint-up(md) {
    max-height: 500px;
  }
}
.xephang__list__item {
  min-height: 62px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .name {
    font-size: 15px;
  }
  .phone {
    font-size: 13px;
    color: gray("500");
  }
  .la {
    color: gray("500");
    font-size: 14px;
  }
  .la2 {
    font-size: 14px;
    font-weight: bold;
    color: $pinkmomo;
  }
  .ro1 {
    width: 55px;
    flex: 0 0 50px;
  }

  .ro2 {
    flex: 1;
    padding: 5px 10px;
  }
  .ro3 {
    text-align: right;
    width: 65px;
    flex: 0 0 65px;
    // line-height: 1.2;
  }
  .num {
    @extend .font-hv;
    color: #c10a70;
    text-align: center;
    font-size: 15px;
  }
  .num-bg{
    margin: 0 auto;
    background-size: cover;
    width: 45px;
    height: 37px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
  }
}

.hocvien__info {
}

.hocvien__info__item {
  margin-bottom: 5px;
  .name {
    font-size: 18px;
    color: $pinkmomo;
    font-weight: bold;
  }
  span {
    display: inline-block;
    // min-width: 150px ;
  }
}

.hocvien__result {
  text-align: center;
  .name {
    font-size: 16px;
  }

  .score {
    strong {
      font-size: 20px;
      font-weight: bold;
      color: $pinkmomo;
    }
  }
}
.hocvien__table {
  font-size: 14px;

  td {
    vertical-align: middle;
  }
}

.hocvien__game {
  background-color: lighten($pinklight, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  text-align: center;
  border-radius: 5px;
}

.max-500 {
  max-width: 800px;
  margin: 0 auto;
}


.tb-tt{
  display: flex;
  flex-flow: row nowrap;
}
.tb-al-scroll{
  overflow-y: auto;
  white-space: nowrap;
}

.tb-al{
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
 overflow: hidden;
}

.tb-it{
  flex: 0 0 44px;
  width: 44px;
  padding:7px 3px;
  text-align: center;
  background-color: gray("200");
  border-left: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  &.hh{
    flex: 0 0 60px;
    background-color: $pinkmomo;
    color: white;
    width: 60px;
  }
}
.tb-tt2{
  .tb-it{
    border-bottom: none;
  }
}