@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

.header-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-container {
  // padding: .5rem 1rem;
}

html {
  // min-height: calc(100% + env(safe-area-inset-top));
  // padding: env(safe-area-inset-top) env(safe-area-inset-right)
  //   env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.body {
  // margin-top: -30px;
  // padding-top: 30px;
  .post-body {
    color: rgba(255, 255, 255, 0.85);
    h1,
    h2,
    h3,
    h4 {
      color: white;
      font-weight: bold;
    }
  }
}

body {
  position: relative;
  z-index: 1;

  color: white;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
  background: radial-gradient(
    113.19% 532.76% at 7.45% 0%,
    #800649 0%,
    #7d064a 46.87%,
    #488ade 100%
  ) !important;

  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    opacity: 0.03;
    background-image: linear-gradient(white 1px, transparent 1px),
      linear-gradient(to right, white 1px, transparent 1px);

    background-size: 14px 14px;
  }
}

// .wrapper {
//   margin-top: -30px;
//   padding-top: 30px;
//   .post-body {
//     color: rgba(255, 255, 255, 0.85);
//     h1,
//     h2,
//     h3,
//     h4 {
//       color: white;
//       font-weight: bold;
//     }
//   }
// }

// .tinhnang-loadmore + [data-readmore-toggle],
// .tinhnang-loadmore[data-readmore] {
//   display: block;
//   width: 100%;
// }
// .tinhnang-loadmore[data-readmore] {
//   transition: height 75ms;
//   overflow: hidden;
// }

.tinhnang-loadmore[aria-expanded="true"] + a[data-readmore-toggle]:after {
  // display: none;
  transform: rotate(180deg);
}
a[data-readmore-toggle] {
  margin-top: 6px;
  display: flex !important;
  align-items: center;
  position: relative;
  color: yellow;
  justify-content: center;
  &:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}

// .more-link{
//   background-color: red;
//   display: block !important;
//   &:before{
//     content : "fewf"
//   }
//   &:after {
//     display: inline-block;
//     margin-left: 0.255em;
//     vertical-align: 0.255em;
//     content: "";
//     border-top: 0.3em solid;
//     border-right: 0.3em solid transparent;
//     border-bottom: 0;
//     border-left: 0.3em solid transparent;
//   }
// }

@include media-breakpoint-down(sm) {
  .tinhnang-loadmore {
    max-height: 45px;
    transition: height 0.2s;
    overflow: hidden;
  }
  .tinhnang-loadmore p:last-child {
    margin-bottom: 0;
  }
}

.kv-section {
  z-index: 10;
  filter: drop-shadow(0 10px 10px #0003);
}

.swiper-kv {
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);

  @include media-breakpoint-down(sm) {
    -webkit-clip-path: url(#my-clip-path2);
    clip-path: url(#my-clip-path2);
  }
}

.svg-hidden {
  position: absolute;
  width: 0;
  height: 0;
}

//VIEW APP CSS

.vp-element {
  display: none;
}
.view_app {
  .navbar-lp-container {
    padding-top: 24px;
    padding-top: Max(env(safe-area-inset-top), 24px);
    backdrop-filter: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .sud-hero-container {
    padding-top: 10px;
  }

  .vp-sud-logo {
    padding-top: Max(env(safe-area-inset-top), 24px);
  }

  .app-download {
    // padding-bottom: env(safe-area-inset-bottom, 0);

    // bottom: calc(1rem + env(safe-area-inset-bottom));
  }

  .modal-content {
    padding-top: Max(env(safe-area-inset-top), 24px);
  }
  .vp-block {
    display: block !important;
  }
  .vp-inline-block {
    display: inline-block !important;
  }

  .vp-flex {
    display: flex !important;
  }

  .vp-hide {
    display: none !important;
  }

  padding-top: 0 !important;
}

body {
  padding-top: 58px;
  @include media-breakpoint-down(sm) {
    padding-top: 48px;
  }
}

::selection {
  background: $primary-3;
  color: white;
  -webkit-text-fill-color: white;
}

.header__container {
  min-height: 58px;
  height: auto;
  @include media-breakpoint-down(sm) {
    min-height: 48px;
  }

  .nav-link.active {
    color: $pinkhot !important;
  }
}
.header__container {
  @include media-breakpoint-down(md) {
    .nav-link {
      height: 44px;
      line-height: 44px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .navbar-nav {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    .nav-item:not(:last-child) {
      .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
  .header__logo {
    @include media-breakpoint-down(md) {
      // width: 34px;
      // height: 34px;
      // flex: 0 0 34px;
      // .momo__logo {
      //   width: 26px;
      //   height: 26px;
      // }
    }
  }
}

// .navbar-container {
//   background: transparent;
//   box-shadow: none;
// }

body,
html {
  // height: 100%;
  width: 100%;
  max-width: 100%;
  // background: #0d0a24;
  // background: darken(rgb(155, 0, 93), 10%);
  // background: darken(rgb(155, 0, 93), 0%);

  padding: 0;
  margin: 0;

  // background: darken(rgb(153, 0, 92), 5%);

  // background-color: #e5e5f7;
  // opacity: 0.8;
}

.swiper-kv {
  .embed-responsive {
    background: radial-gradient(
      128.76% 128.76% at 22.65% -17.06%,
      #528fe0 0%,
      #496ad2 27.12%,
      #7a024a 100%
    );
  }
}

.pud-section {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    opacity: 0.03;
    background-image: linear-gradient(white 1px, transparent 1px),
      linear-gradient(to right, white 1px, transparent 1px);

    background-size: 14px 14px;
  }
}
.sud-curve {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  z-index: 1;
  color: darken(rgb(155, 0, 93), 5%);
  // path {
  //   background: radial-gradient(
  //     113.19% 532.76% at 7.45% 0%,
  //     #800649 0%,
  //     #7d064a 46.87%,
  //     #488ade 100%
  //   );
  // }

  // background: radial-gradient(
  //   113.19% 532.76% at 7.45% 0%,
  //   #800649 0%,
  //   #7d064a 46.87%,
  //   #488ade 100%
  // );

  // &:after {
  //   content: "";
  //   z-index: -1;
  //   position: absolute;
  //   inset: 0;
  //   opacity: 0.03;
  //   background-image: linear-gradient(white 1px, transparent 1px),
  //     linear-gradient(to right, white 1px, transparent 1px);

  //   background-size: 14px 14px;
  // }
}
@font-face {
  font-family: Euro;
  // src: url(../fonts/Eurostile/SFUEurostileBold.woff2);
  src: url(../fonts/SFUEurostileBoldOblique.woff);
}

@font-face {
  font-family: Armstrong;
  // src: url(../fonts/Eurostile/SFUEurostileBold.woff2);
  src: url(../fonts/Armstrong-Extrabold.woff);
}

.countdown-11 {
  max-width: 500px;
  font-family: Euro, Arial, Helvetica, sans-serif;
  .lal {
    font-weight: bold;
    text-transform: uppercase;
  }
  .countdown-box-sec {
    font-size: 40px;
    opacity: 0.5;
  }
}

.sud-hero-bg-2 {
  opacity: 0.5;

  user-select: none;
  pointer-events: none;
  position: fixed;
  left: 0;
  bottom: 0;
  @include media-breakpoint-down(sm) {
    img {
      max-width: 150px;
    }
  }
}

.sud-hero-bg-3 {
  user-select: none;
  pointer-events: none;
  position: fixed;
  right: 0;
  bottom: 0;
  @include media-breakpoint-down(sm) {
    img {
      max-width: 150px;
    }
  }
}

.font-euro {
  font-family: Euro, Arial, Helvetica, sans-serif;
}

.section-heading {
  font-family: Euro, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.countdown-box {
  font-family: Euro, Arial, Helvetica, sans-serif;
  width: 70px;
  height: 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
  padding-right: 5px;
  box-shadow: 4px 4px #ca0e8a;

  font-size: 36px;
  font-weight: bold;
  // box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 0.5);

  background: linear-gradient(
    180deg,
    #fde94c 0%,
    #ffda37 4.69%,
    #fff897 16.15%,
    #fffd90 21.88%,
    #ffea65 25.52%,
    #ffd533 37.5%
  );
  // border: 4px solid rgba(187, 15, 63, 0.7);
  border-radius: 2px;

  color: #2b03a4;

  text-shadow: 2px 2px 0px #fff999;

  transform: skew(-5deg);

  span {
    transform: skew(5deg);
    display: block;
  }
}
@include media-breakpoint-down(sm) {
  .countdown-11 {
    max-width: 300px;
    .lal {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .countdown-box {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }

  .countdown-box-sec {
    font-size: 28px;
    opacity: 0.5;
  }
}

body {
  background: darken(rgb(155, 0, 93), 5%);
  // background: $primary-2;
  overflow-x: hidden;
}

.mega-heading {
  margin-bottom: 40px;
  font-family: Euro, Arial, Helvetica, sans-serif;

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }
}

.tt1 {
  font-size: 1.3em;
  font-family: Armstrong, Arial, Helvetica, sans-serif;
}

.mega-t1 {
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(235, 221, 146) 100%
  );

  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 0px #780346);

  filter: drop-shadow(2px 3px 0px #780142);
  padding-right: 3px;
  display: block;
}

.mega-t2 {
  color: #2700a7;
  // text-shadow: 2px 0 0 #fdfb74, -2px 0 0 #fdfb74, 0 2px 0 #fdfb74,
  //   0 -2px 0 #fdfb74, 2px 2px #fdfb74, -2px -2px 0 #fdfb74, 2px -2px 0 #fdfb74,
  //   -2px 2px 0 #fdfb74, 4px 2px 0px #6b0232;

  text-shadow: rgb(253, 247, 101) 2px 0px 0px,
    rgb(253, 247, 101) 1.75517px 0.958851px 0px,
    rgb(253, 247, 101) 1.0806px 1.68294px 0px,
    rgb(253, 247, 101) 0.141474px 1.99499px 0px,
    rgb(253, 247, 101) -0.832294px 1.81859px 0px,
    rgb(253, 247, 101) -1.60229px 1.19694px 0px,
    rgb(253, 247, 101) -1.97999px 0.28224px 0px,
    rgb(253, 247, 101) -1.87291px -0.701566px 0px,
    rgb(253, 247, 101) -1.30729px -1.51361px 0px,
    rgb(253, 247, 101) -0.421592px -1.95506px 0px,
    rgb(253, 247, 101) 0.567324px -1.91785px 0px,
    rgb(253, 247, 101) 1.41734px -1.41108px 0px,
    rgb(253, 247, 101) 1.92034px -0.558831px 0px;

  font-style: italic;
}

.sub-heading-pink {
  color: #ffffff;
  display: inline-block;
  text-shadow: 0px 0px 10px rgba(252, 28, 173, 0.7), 0px 0px 10px #fc1cad;
  margin-top: 15px;
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
}

.benefit {
  background-color: white;
  // background-color: #FDBC5F;
  color: $gray-900;
  transition-property: box-shadow, transform, -webkit-transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 0.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  // max-width: 34.125rem;

  .title {
    margin-bottom: 0;
    font-weight: 800;
  }

  .sub {
  }

  .benefit-item {
    cursor: pointer;
  }

  hr {
    margin: 0;
  }
}

.benefit-feature {
}

.benefit-header {
  text-align: center;
  padding: 20px 0 5px;
  // background-color: $gray-200;
  border-radius: 5px 5px 0 0;
  // margin-bottom: 20px;
  border-top: 6px solid rgba($primary-2, 0.2);
  // border-top: 5px solid #2700a7;
}

.benefit-footer {
  padding: 15px 0;
}

.benefit-item {
  // border-radius: 5px;
  // border: 1px solid gray("300");
  // background-color: #ffffe6;
  padding: 20px 0;
  display: flex;
  // padding: 15px 10px;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}

.benefit-logo {
  width: 120px;
}

.benefit-content {
  padding: 0 0 0 20px;
  .tt {
    font-size: 18px;
    font-weight: bold;
  }
  .ss {
    font-size: 14px;
    color: $gray-600;
  }
}

.benefit-feature {
  .benefit-header {
    padding-top: 40px;
    border-top: 6px solid rgba($primary-2, 1);
    // border-top: 6px solid rgb(255, 229, 53);
    // background: linear-gradient(0deg, #a50064 0%, rgba(165, 0, 100, 0.83) 100%);
    .title {
      // color: white;
    }
    .sub {
      // color: rgba(255, 255, 255, 0.8);
    }
  }
}

.benefit-f-logo {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: -25px;
  img {
    border-radius: 10px;
    border: 1px solid gray("300");
  }
}

.benefit-cta {
  margin-top: 3px;
}

@include media-breakpoint-down(sm) {
  .benefit-container {
    padding-left: 1px !important;
    padding-right: 1px !important;
    .col-6 {
      padding: 2px;
    }
    .row {
      margin: 0 !important;
    }
  }

  .benefit-header {
    .title {
      font-size: 16px;
    }
  }
  .benefit-feature .benefit-header {
    padding-top: 30px;
  }

  .benefit-item {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    .benefit-logo {
      width: 100%;
    }
  }

  .benefit-cta {
    display: none;
  }

  .benefit-content {
    padding: 10px 0 0 0;
    .tt {
      font-size: 15px;
      font-weight: bold;
    }
    .ss {
      font-size: 12px;
      color: $gray-600;
    }
  }
  .benefit-f-logo {
    margin-left: -25px;
    top: -20px;
    img {
      width: 50px;
    }
  }

  .benefit-footer {
    padding: 10px 5px;
  }
}

.tabs-megaday {
  border: none;
  text-align: center;
  white-space: nowrap;

  margin-bottom: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .nav-item {
    display: flex;
    padding: 1px;
  }
  .nav-link {
    width: 100%;
    padding: 8px 15px 6px;
    min-width: 200px;
    border-radius: 0;
    display: block;
    border: none;
    background-color: transparent;
    font-weight: bold;
    position: relative;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);

    color: gray("700");

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      position: absolute;
      left: 50%;
      margin-left: -5px;
      top: 100%;
      opacity: 0;
      transform: translateY(-5px);
      transition: all 0.1s ease-in;
    }

    &.active {
      color: $primary-2;
      background-color: white;
      &:before {
        opacity: 1;
        transform: translateY(0);
      }
    }

    // @include hover-focus() {
    //   color: $pinkmomo;
    // }
  }

  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-right: -15px;
    // white-space: nowrap;
    white-space: normal;
    .nav-item {
      display: flex;
      padding: 1px;
      width: 33.33%;
      flex: 1 1 33.333%;
    }
    .nav-link {
      padding: 5px 10px 5px;
      min-width: auto;
    }
  }
}

.tabs-megaday-sukien {
  display: inline-flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  .nav-item {
    // margin: 0 10px;
  }
  .nav-link {
    color: white;

    background-color: transparent;

    &:before {
      opacity: 0 !important;
    }

    box-sizing: border-box;

    // opacity: 0.8;

    span {
      // color: #2b03a4;
      // text-shadow: 2px 2px 0px #fff999;
      color: white;
      text-shadow: 2px 2px 0px #780346;
      font-size: 18px;
      font-family: Euro, Arial, Helvetica, sans-serif;
    }

    &.active {
      // opacity: 1;

      // box-shadow: 4px 4px #ca0e8a;
      // background: linear-gradient(
      //   180deg,
      //   #fde94c 0%,
      //   #ffda37 4.69%,
      //   #fff897 16.15%,
      //   #fffd90 21.88%,
      //   #ffea65 25.52%,
      //   #ffd533 37.5%
      // );
      background-image: none;

      background-color: #ffd533;
      border-radius: 3px;

      span {
        filter: none;
        color: #2b03a4;
        text-shadow: 2px 2px 0px #fff999;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .nav-link {
      span {
        // color: #2b03a4;
        // text-shadow: 2px 2px 0px #fff999;
        color: white;
        text-shadow: 2px 2px 0px #780346;
        font-size: 15px;
        font-family: Euro, Arial, Helvetica, sans-serif;
      }
    }
  }
}

.horizontal-sukien {
  margin-left: -13px;
  margin-right: -13px;
  display: flex;
  flex-flow: row wrap;
  // grid-template-columns: repeat(4, minmax(0, 1fr));
  // gap: 2rem;
  // height: calc(180px + 1rem);
  // padding: 1rem;
  // width: 480px;
  justify-content: center;

  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
    flex-flow: row nowrap;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
}

.horizontal-sukien .horizontal-sukien-item {
  scroll-snap-align: center;
}

.horizontal-sukien .horizontal-sukien-item {
  max-width: none;
  object-fit: contain;
  border-radius: 1rem;
  flex: 0 0 percentage(1/4);
  width: percentage(1/4);
  padding: 13px;

  @include media-breakpoint-down(lg) {
    flex: 0 0 percentage(1/2);
    width: percentage(1/2);
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
    margin-right: 15px;
    flex: 0 0 250px;
    width: 250px;
  }
}

.horizontal-sukien-item {
  text-align: center;
  .tt {
    margin-top: 15px;

    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #fed925;
    margin-bottom: 8px;
  }
  .time {
    color: #62fff8;
    font-weight: bold;
    font-size: 0.95rem;
    margin-bottom: 5px;
  }
  .sud {
    font-size: 0.95rem;
  }
}

.useDeal__item {
  max-width: 240px;
  margin: 0 auto;
  // display: inline-block;
}

.useDeal__number {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3.5098px 3.5098px rgba(0, 0, 0, 0.25);
  color: $primary-2;
  font-size: 22px;
  font-weight: bold;
}

.useDeal__text {
  margin: 10px 0 15px;
  text-align: center;
  min-height: 60px;
  font-size: 14px;
}

.useDeal__mb {
  margin-bottom: 10px;
  display: none;
  @media only screen and (max-width: 600px) {
    display: flex;
  }
}

.useDeal__mb {
  .useDeal__mb__item:last-child {
    &:after {
      display: none;
    }
  }
  .useDeal__number {
    cursor: pointer;
  }
}

.useDeal__mb__item {
  flex: 1 1 0px;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    top: 14px;
    z-index: -1;
    height: 0;
    width: 100%;
    left: 50%;
    border-bottom: 2px dashed gray("400");
  }

  .useDeal__number.is-active {
    background-color: $primary-2;
    color: white;
  }
}

.swiper-useDeal {
  .useDeal__number {
  }
  @media only screen and (max-width: 600px) {
    .useDeal__number {
      display: none;
    }
    .swiper-slide:after {
      display: none;
    }
  }
  .swiper-button-disabled {
    display: none !important;
    opacity: 0 !important;
  }

  .swiper-slide {
    padding: 0 15px;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      top: 18px;
      z-index: -1;
      height: 0;
      width: 100%;
      left: 50%;
      border-bottom: 2px dashed gray("400");
    }
  }
  .swiper-slide:last-child {
    &:after {
      display: none;
    }
  }
}

.useDeal-image {
  margin-bottom: 5px;
  padding: 20px 10px;
  border-radius: 20px;

  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px gray("700"),
    0 0 10px 0px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    135deg,
    gray("900") 0%,
    gray("800") 50%,
    gray("800") 69%,
    gray("700") 100%
  );
  img {
    border-radius: 5px;
  }
}

.sc-heading {
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.logo-wrap {
  display: flex;
  justify-content: center;

  flex-flow: row wrap;
  max-width: 900px;
  margin: 0 auto;
}
.logo-item {
  width: 88px;
  height: 88px;
  flex: 0 0 88px;
  margin: 5px 10px;
  background-color: white;

  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  @include media-breakpoint-down(sm) {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    margin: 5px 5px;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-lp-container {
  // background: rgba(white, 1);
  // color: white;
  // padding-right: 5px;

  transform: translateZ(0);
  // @extend .shadow-sm;
  will-change: transform;
  transition: transform 0.5s, background-color 0.2s;
  box-shadow: none;

  .header__logo {
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }
  }

  background-color: transparent;
  backdrop-filter: none;

  &.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.is-fixed {
    background-color: rgba($primary-2, 0.9);
    // -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }

  .navbar-lp-open & {
    background-color: rgba($primary-2, 0.9);
    // -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
  }

  .navbar-nav .nav-link:hover {
    color: lighten(#faff00, 15%);
  }

  .navbar-nav .nav-link.active {
    color: #faff00 !important;
  }
  .navbar-toggler-close {
    position: relative;
    top: 0;
    left: 0;
  }
}

.navbar-toggler {
  height: 58px;
  width: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 30px;
  }
  @include media-breakpoint-down(sm) {
    height: 48px;
    width: 48px;
  }
}
.navbar-toggler-close {
  position: relative;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-open {
  display: none;
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-close {
  display: none;
}

@include media-breakpoint-down(sm) {
  .navbar-lp-container {
    background-color: rgba($primary-2, 1);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }

  body {
    padding-top: 58px;
  }
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
}

.lpd-img {
  img {
    width: 240px;
    border-radius: 10px;
    box-shadow: 1px 4px 24px 0px rgba(0, 0, 0, 0.2);
  }
  @include media-breakpoint-down(sm) {
    img {
      width: 200px;
      border-radius: 8px;
      box-shadow: 1px 4px 24px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

.lpd-content {
  @include media-breakpoint-down(sm) {
    margin-top: 15px;
   
    h3{
      text-align: center;
      margin-bottom: 5px !important;
    }
  }
}

.lpd-tab {
  max-width: 250px;
  margin-right: 0;
  margin-left: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.2);

  .nav-link:not(:last-child) {
    margin-bottom: 20px;
  }
  .nav-link {
    margin-right: -2px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    padding: 5px 20px 5px 0;
    border-radius: 0;
    &.active {
      color: white;
      border-right: 2px solid #ffcd00;
      background-color: transparent;

      .lpd-icon {
        img {
          opacity: 1;
        }
      }
    }
  }
  .lpd-icon {
    img {
      opacity: 0.7;
      width: 34px;
      margin-right: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    border-right: none;
    margin-bottom: 20px;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto;
    flex-flow: row nowrap;
    flex-direction: row;
    display: flex;
    flex-direction: row !important;
    .nav-link:not(:last-child) {
      margin-bottom: 0;
    }
    .nav-link {
      width: 160px;
      flex: 0 0 160px;
      padding: 5px 5px;
      margin-right: 0;
      margin-bottom: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      &.active {
        border-right: none;
        border-bottom: 2px solid #ffcd00;
      }
    }
  }
}

//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD
//OLD

.sud-hero-container {
  background-size: cover;
  position: relative;

  // background: rgba(0, 0, 0, 0)
  //   linear-gradient(
  //     rgba(0, 0, 43, 0.8) 0%,
  //     rgb(155, 0, 93) 80%,
  //     rgb(155, 0, 93) 100%
  //   )
  //   repeat scroll 0% 0%;

  background: rgba(0, 0, 0, 0)
    linear-gradient(
      rgba(70, 0, 46, 1) 0%,
      rgb(155, 0, 93) 80%,
      rgb(155, 0, 93) 100%
    )
    repeat scroll 0% 0%;

  // background-image: url(https://usedevbook.com/mesh/hero-mesh-lg.png);

  // height: 722px;
  padding-top: 130px;
  padding-bottom: 150px;

  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.sud-sapo {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 500;
  strong {
    color: white;
  }
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 22px;
  }
}

.sud-hero-bg-1 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  @include media-breakpoint-down(sm) {
    img {
      max-width: 350px;
    }
  }
}

.sud-hero-bg-4 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: -50px;
  top: 0;
  height: 100%;
  max-width: 1400px;
}

.sud-hero-bg-5 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: -10px;
  top: 400px;
  height: 100%;
  max-width: 1400px;
}

.sud-hero-bg-6 {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  max-width: 1400px;
  img {
    width: 250px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.btn-sud {
  // box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  //   rgba(40, 167, 69, 0.45) 0px 4px 13px 6px,
  //   rgba(255, 255, 255, 0.25) 0px 4px 7px 3px inset;

  border-radius: 10px;
  display: inline-block;
  padding: 10px 30px;
  width: auto;
  color: white;

  cursor: pointer;
  font-size: 17px;

  transition: all 250ms ease;

  background: linear-gradient(
    314.55deg,
    #08101e 29.23%,
    #08101f 44.11%,
    #091939 44.15%,
    #091a3a 61.07%
  );
  border: 2px solid #8ecaff;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px #6d93bb, inset 0px 0px 4px 0px #8fcaff;
  border-radius: 40px;

  color: white;
  text-shadow: 0px 0px 1px #7ce7ea;

  span {
  }

  &:hover,
  &:focus {
    color: white;

    background: linear-gradient(
      314.55deg,
      #2a0a18 29.23%,
      #3e0b1f 44.11%,
      #3c0a20 44.11%,
      #1f0812 61.07%
    );
    border: 2px solid #ff8fd1;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px #ff94d5, inset 0px 0px 4px 0px #d43d97;

    // transform: translateY(-1px);
    // border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  @include media-breakpoint-down(sm) {
    padding: 6px 25px;

    font-size: 16px;
  }
}

.sud-video-container {
  overflow: visible;
}

.sud-video-container {
  // background: #9c0173;
  // border: 2px solid #eb65fe;
  box-sizing: border-box;
  // box-shadow: 0px 0px 4px #dd008d, 0px 0px 6px #e70093;
  border-radius: 24px;

  background: #f5aed7;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 10px #d40095, 0px 0px 6px #d30095, 0px 0px 4px #d20094,
    0px 0px 20px #c70089, inset 1px 2px 4px rgba(0, 0, 0, 0.3);

  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;

  @include media-breakpoint-down(md) {
    border-radius: 20px;
    border: 2px solid #ffffff;
  }

  &:hover {
    transform: scale(1.05);
  }
  overflow: hidden;

  .embed-responsive-item {
    width: 100%;
    height: 100%;
  }
}

// .sud-video {
//   transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
//   position: relative;

//   // box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25),
//   //   inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.25);

//   background-size: cover;
//   background-position: center;
//   box-sizing: border-box;
//   overflow: hidden;

//   position: relative;

//   &:hover {
//     transform: scale(1.05);
//   }

//   &.card-neon {
//     border: 2px solid rgba(255, 255, 255, 0.6);
//   }

//   > img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

.sud-page {
  // background: rgba(0, 0, 0, 0) linear-gradient(rgba(31, 31, 71, 0.25) -18.72%, rgb(31, 31, 71) 37.6%) repeat scroll 0% 0%;
}

.sud-kv {
  margin-left: -8px;
  img {
    max-width: 450px;
    width: 100%;
  }
}

// .sud-hero-pattern{
//   position: absolute;
//   width: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
// }

.sud-hero-mascot {
  user-select: none;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .mascot {
    margin-right: -100px;
  }

  @include media-breakpoint-down(md) {
    .mascot {
      margin-right: 0;
      width: 160px;
      margin-right: -20px;
    }
  }

  @include media-breakpoint-down(sm) {
    .mascot {
      margin-right: 0;
      width: 120px;
      margin-right: -20px;
    }
  }
}

.sud-shadow-feature {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(232, 33, 119, 0.5) 0px 4px 18px 6px;
}

.sud-shadow-feature2 {
  box-shadow: rgba(47, 184, 255, 0.3) 0px 10px 40px,
    rgb(47, 184, 255) 0px 0px 0px 1px inset;
}

.sub-heading-2 {
  strong {
    // box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //   rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //   rgba(188, 10, 192, 0.69) 0px 4px 18px 6px,
    //   rgba(255, 255, 255, 0.25) 0px 4px 7px 3px inset;

    // background-color: rgb(188, 10, 192);

    // border: 4px solid #fceaac;

    // box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    //   0 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 var(--box-blur) var(--glow),
    //   0 0 var(--box-blur) var(--glow);
    font-size: 30px;
    padding: 3px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;

    --color: #fceaac;
    filter: saturate(175%);

    --blur: 1.75rem;
    --box-blur: calc(0.5 * var(--blur));
    --glow: var(--color);
    --size: 12rem;

    border: 4px solid currentColor;

    box-shadow: 
  /* --- "glass" tube --- */
  /* inside */ inset 0 0 0 2px
        rgba(0, 0, 0, 0.15),
      /* outside */ 0 0 0 2px rgba(0, 0, 0, 0.15),
      /* --- glow --- */ /* inside */ inset 0 0 var(--box-blur) var(--glow),
      /* outside */ 0 0 var(--box-blur) var(--glow);
    color: var(--color, white);
  }
}

.sud-heading-cyan {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

.sud-heading {
  font-weight: 800;
  // letter-spacing: -1px;
  font-size: 40px;
  line-height: 1.2;

  margin-bottom: 30px;
  .sub-heading-box {
    font-size: 0.6em;
    line-height: 1.3;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.sub-heading-box {
  display: inline-block;
  background: #392e69;

  border: 3px solid rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #7bf2f1, 0px 0px 10px rgba(132, 255, 248, 0.9),
    0px 4px 10px rgba(0, 0, 0, 0.25), 0px 0px 10px #84fff8,
    inset 0px 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;

  color: #ffffff;

  padding: 7px 20px 5px;
  font-weight: 700;

  text-shadow: 0px 0px 1px #7ce7ea;

  @include media-breakpoint-down(sm) {
    padding: 7px 15px 5px;
  }

  position: relative;
  &:after {
    content: "";
    z-index: -1;
    user-select: none;
    position: absolute;
    left: 3px;
    top: calc(100% + 2px);
    right: 3px;
    height: 7px;
    background-color: #84fff8;
    filter: blur(4px);
    clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
  }
}

.text-gradient-blue-green,
.text-gradient-turq-purple-dark {
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-gradient-turq-purple-dark {
  background: -webkit-linear-gradient(-70deg, #3bf0e4, #bca1f7);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-gradient-purple-coral {
  background: -webkit-linear-gradient(-70deg, #9867f0, #ed4e50);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-gradient-cyan-coral {
  // background: -webkit-linear-gradient(-70deg, #86fff8, #2ab2e6);
  // background-clip: border-box;
  // -webkit-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -webkit-box-decoration-break: clone;

  color: #88fff7;

  text-shadow: 0px 0px 8px #447ed2;
}

.text-gradient-yellow-coral {
  background: -webkit-linear-gradient(-70deg, #eef067, #edbb4e);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.sud-static-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-around;
  }
}

.sud-static {
  // width: 180px;
  text-align: center;

  padding: 0 10px;
  .val {
    font-size: 36px;
    white-space: nowrap;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    // background-image: linear-gradient(
    //   200.67deg,
    //   rgb(255, 225, 76) 0%,
    //   rgb(255, 128, 0) 50%,
    //   rgb(255, 225, 76) 100%,
    // );
    // background-size: 100%;
    // display: inline-block;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    display: inline;
    background: -webkit-linear-gradient(135deg, #fffb26, #f7b500);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    sup {
      -webkit-text-fill-color: #eef067;
    }
  }
  .name {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
  }

  @media screen and (max-width: 1400px) {
    .val {
      font-size: 32px;
    }
  }
  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(sm) {
    padding: 0 6px;

    .val {
      font-size: 22px;
    }

    .name {
      font-size: 13px;
    }
  }
}

.sud-static-box {
  width: 500px;

  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-left: 0px;
  }
  @include media-breakpoint-down(xl) {
    margin-left: 30px;
  }
}

.sud-timeline-container {
  height: 590px;
  position: relative;
  padding-top: 40px;
  max-width: 1400px;
  // max-width: 1140px;
  margin: -170px auto 0;

  .sud-timeline:nth-child(1) {
    top: 0%;
    left: 10%;
  }

  .sud-timeline:nth-child(2) {
    top: 36%;
    left: 5%;
  }

  .sud-timeline:nth-child(3) {
    top: 50%;
    left: 28%;
  }

  .sud-timeline:nth-child(4) {
    top: 45%;
    left: 52%;
  }

  .sud-timeline:nth-child(5) {
    top: 20%;
    left: 75%;
  }

  // @include media-breakpoint-down(xl) {
  //   .sud-timeline {
  //     width: 230px;
  //   }
  // }

  @include media-breakpoint-down(lg) {
    height: auto;
    position: relative;
    padding-top: 40px;
    // max-width: 1140px;
    margin: 0 auto;

    max-width: 990px;

    padding: 0 15px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .sud-timeline {
      width: calc(33.333% - 30px);
      flex: 0 0 calc(33.333% - 30px);
      margin: 15px;

      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }

    .sud-timeline-header {
      padding: 10px 16px;
    }

    .sud-timeline-content {
      padding: 16px 16px 20px;
    }
  }

  @include media-breakpoint-down(md) {
    .sud-timeline {
      width: calc(50% - 30px);
      flex: 0 0 calc(50% - 30px);
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 0 15px;
    .sud-timeline {
      margin: 10px;
      width: calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
    }
  }
}

.sud-timeline {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  pointer-events: auto;
  border-radius: 6px 6px 4px 4px;
  position: absolute;
  width: 250px;
  z-index: 10;

  background-color: rgba(255, 255, 255, 1);

  // backdrop-filter: blur(16px) saturate(180%);
  // -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.sud-timeline-header {
  padding: 10px 16px;
  // background-color: rgb(57, 10, 45);
  // color: rgb(78, 0, 50);

  background: rgba(0, 0, 0, 0)
    linear-gradient(45deg, rgb(78, 0, 50), rgb(94, 0, 59)) repeat scroll 0% 0%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 4px 4px 0px 0px;
  .tt {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
  }
  .sub {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: bold;
  }
}

.sud-timeline-content {
  padding: 16px 16px 20px;
  color: $gray-900;
  font-weight: 600;
}

.sud-timeline-list {
  li {
    position: relative;

    svg {
      font-size: 20px;
      color: $pinkhot;
      position: absolute;
      left: 0;
      top: 1px;
    }
    padding-left: 25px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.sud-static-path {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0.6;
  svg {
    width: 100%;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.sud-timeline-coin {
  position: absolute;
  width: 100%;
  height: 100%;
  .coin1 {
    position: absolute;
    top: 6%;
    left: 3%;
  }
  .coin2 {
    position: absolute;
    bottom: 40%;
    right: 3%;
  }

  .coin3 {
    position: absolute;
    bottom: 30%;
    right: 15%;
  }

  .coin4 {
    position: absolute;
    bottom: 10%;
    left: 45%;
  }

  @include media-breakpoint-down(sm) {
    img {
      width: 40px;
    }
  }
}

.sud-thumbnail {
  position: relative;

  // background: #9c0173;
  // border: 2px solid #eb65fe;
  // box-sizing: border-box;
  // box-shadow: 0px 0px 4px #dd008d, 0px 0px 6px #e70093;
  // border-radius: 10px;
  // .embed-responsive-item {
  //   left: 5px;
  //   right: 5px;
  //   top: 5px;
  //   bottom: 5px;
  //   width: calc(100% - 14px);
  //   height: calc(100% - 14px);
  // }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: 3px;
  //   right: 3px;
  //   top: 3px;
  //   bottom: 3px;
  //   background: transparent;
  //   z-index: 2;
  //   user-select: none;
  //   pointer-events: none;
  //   border: 1px solid #f8f8fb;
  //   box-sizing: border-box;
  //   box-shadow: 0px 0px 4px #c60186;
  //   border-radius: 7px;
  // }
  border-radius: 15px;
  background: #f5aed7;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 10px #d40095, 0px 0px 6px #d30095, 0px 0px 4px #d20094,
    0px 0px 20px #c70089, inset 1px 2px 4px rgba(0, 0, 0, 0.3);

  @include media-breakpoint-down(sm) {
    border-radius: 10px;
  }
}

.sud-section-ff {
  padding: 50px 0;

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
}

.sud-section-ff-container {
  .sud-section-ff:first-child {
    padding-top: 0;
  }

  .sud-section-ff:last-child {
    padding-bottom: 0;
  }
}

.sud-section-heading {
  font-weight: 800;
  font-size: 30px;
}

.sud-section-sup {
  // opacity: 0.8;
  color: white;
  text-transform: uppercase;

  text-shadow: 0px 0px 2px #ff43b4;
  line-height: 1.1;
  font-size: 20px;
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.sud-section-content {
  padding-left: 15px;
  padding-right: 15px;
}

@include media-breakpoint-down(sm) {
  .sud-section-heading {
    font-weight: 800;
    font-size: 24px;
  }

  .sud-section-sup {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .sud-section-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.sud-section-sapo {
  opacity: 1;
  margin-top: 0;
}

.embed-responsive-sud::before {
  padding-top: percentage(42/64);
}

.sud-section-hr {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  height: 2px;
  border-radius: 5px;
  max-width: 1050px;
}

.card-morphic {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.sud-section-list {
  li {
    position: relative;

    svg {
      font-size: 24px;
      color: #f5b61b;
      position: absolute;
      left: 0;
      top: 2px;
    }
    padding-left: 30px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sud-section-list {
    li {
      svg {
        font-size: 20px;
        color: #f5b61b;
        position: absolute;
        left: 0;
        top: 2px;
      }
      padding-left: 25px;
    }
  }
}

.swiper-tintuc {
  padding: 0 15px;
}

@include media-breakpoint-down(sm) {
  .swiper-tintuc .swiper-slide {
    width: 85%;
    // margin-right: 14px;
    padding: 1px 10px;
  }

  .swiper-tintuc {
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
  .swiper-tintuc .swiper-button-next,
  .swiper-tintuc .swiper-button-prev {
    display: none;
  }
}

.sud-feature {
  background: linear-gradient(180deg, #840750 0%, #840750 25%, #da0095 100%);
  border: 2px solid #68faff;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #84fff8;
  border-radius: 10px;
  padding: 20px 15px 15px;
  position: relative;
  .hh {
    background: darken(rgb(153, 0, 92), 5%);
    position: absolute;
    padding: 0px 8px;
    left: 10px;
    bottom: calc(100% - 18px);
    font-size: 20px;
  }
  margin-bottom: 50px;

  min-height: 150px;

  @include media-breakpoint-down(sm) {
    min-height: auto;
  }
}

.card-neon {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(236, 44, 174, 0.9),
    0px 0px 10px rgba(213, 4, 146, 0.9);
}

.sud-hoidap {
  z-index: 1;
  position: relative;
  overflow: hidden;
  margin-top: -40px;
  padding-top: 100px;
  // .question-answer .card:hover .card-header .btn,
  // .question-answer .card:focus .card-header .btn {
  //   color: #88fff7;
  //   text-shadow: 0px 0px 8px #447ed2;
  // }
  // .question-answer .card-header .btn {
  //   color: rgba(138, 255, 247, 0.9);
  //   &:after {
  //     color: rgba(138, 255, 247, 0.9);
  //   }
  // }

  // .card-body {
  //   color: rgba(255, 255, 255, 0.9);
  // }

  // .question-answer .card {
  //   border-bottom: 1px solid rgba(224, 224, 224, 0.4);
  // }
}

.htw {
  color: $gray-900;
}

@include media-breakpoint-down(sm) {
  .article.article__hori {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

// .view_app .modal-content {
//   padding-top: max(env(safe-area-inset-top), 24px);
// }
// .navbar-lp-container {
//   padding-top: env(safe-area-inset-top);
// }

.sud-blog {
}

.pud-section {
  .question-answer .card:hover .card-header .btn,
  .question-answer .card:focus .card-header .btn {
    color: #88fff7;
    text-shadow: 0px 0px 8px #447ed2;
  }
  .question-answer .card-header .btn {
    color: rgba(138, 255, 247, 0.9);
    &:after {
      color: rgba(138, 255, 247, 0.9);
    }
  }

  .card-body {
    color: rgba(255, 255, 255, 0.9);
  }

  .question-answer .card {
    border-bottom: 1px solid rgba(224, 224, 224, 0.4);
  }
}

body {
  overflow-x: hidden;

  .modal-dialog {
    color: rgba(0, 0, 0, 0.9);

    .btn-primary {
      color: #fff;
      background-color: #a50064;
      border-color: #a50064;
      outline: none;

      &:hover,
      &:active {
        color: #fff;
        background-color: #7f004d;
        border-color: #720045;
      }
    }

    // a {
    //   color: $pinkmomo;
    //   &:hover {
    //     color: lighten($pinkmomo, 10%);
    //   }
    // }
  }

  color: rgba(255, 255, 255, 0.95);
  .info__title a {
    color: white;
  }

  .article__hori:hover .info__title > a,
  .article__hori:focus .info__title > a {
    color: #faff00;
    text-shadow: 0px 0px 5px rgba(#f9fc6f, 0.4);
  }
  // .article {
  //   &:hover,
  //   &:focus {
  //     a {
  //       color: #88fff7;
  //       text-shadow: 0px 0px 8px #447ed2;
  //     }
  //   }
  // }
  .info__meta {
    color: rgba(255, 255, 255, 0.8);
  }
}

#lbse-1615 {
  section {
    background-color: transparent !important;
  }

  .text-gray-700 {
    color: white !important;
  }

  .question-answer .card:hover .card-header .btn,
  .question-answer .card:focus .card-header .btn {
    color: #faff00;
  }
  .question-answer .card-header .btn {
    color: rgba(#faff00, 0.9);
    &:after {
      color: rgba(#faff00, 0.9);
    }
  }

  .card-body {
    color: rgba(255, 255, 255, 0.9);
  }

  .question-answer .card {
    border-bottom: 1px solid rgba(224, 224, 224, 0.4);

    a {
      color: #faff00;
      &:hover {
        color: lighten(#faff00, 20%);
      }
    }
  }
  h2 {
    @extend .mega-t1;
    font-family: Euro, Arial, Helvetica, sans-serif;
  }
}

.swiper-tintuc {
  .swiper-slide {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
