@import "functions"; // From bootstrap node module
@import "mixins";
@import "custom/functions";
@import "variables"; // From bootstrap node module
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";

.header-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body {
  padding-top: 58px;
  @include media-breakpoint-down(sm) {
    padding-top: 48px;
  }
}

.header__container {
  min-height: 58px;
  height: auto;
  @include media-breakpoint-down(sm) {
    min-height: 48px;
  }

  .nav-link.active {
    color: $pinkhot !important;
  }
}
.header__container {
  @include media-breakpoint-down(md) {
    .nav-link {
      height: 44px;
      line-height: 44px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .navbar-nav {
      border-top: 1px solid gray("300");
    }
    .nav-item:not(:last-child) {
      .nav-link {
        border-bottom: 1px solid gray("300");
      }
    }
  }
  .header__logo {
    @include media-breakpoint-down(md) {
      width: 34px;
      height: 34px;
      flex: 0 0 34px;
      .momo__logo {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.navbar-toggler {
  height: 58px;
  width: 58px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    height: 30px;
  }
  @include media-breakpoint-down(sm) {
    height: 48px;
    width: 48px;
  }
}
.navbar-toggler-close {
  position: relative;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-open {
  display: none;
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-close {
  display: none;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }
}

section {
  line-height: 1.6;
}

.hoidap-accordion {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eaedf2;
    border-radius: 0.3125rem;
    > a {
      color: gray("800");
      @include hover-focus-active() {
        color: $primary;
        // text-decoration: underline;
      }
    }
  }
}

//FOOD TAB

.food-tab-item {
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 9px 10px 9px 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 160px;
}

.food-tab-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  flex: 0 0 30px;

  img {
    width: 100%;
  }
}

.tinhnang-tab-content {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 25px;
  @include media-breakpoint-down(xs) {
    padding: 10px 15px;
  }
}

.food-tab-link {
  display: block;
  // margin-bottom: 5px;
  padding-bottom: 8px;

  position: relative;
  transition: all 0.2s ease-in;

  &:after,
  &:before {
    content: "";
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &.active {
    transform: translateY(5px);

    .food-tab-name{
      color: $pinkmomo;
    }

    &:after,
    &:before {
      opacity: 1;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 12px;
      background: white;
      left: 0;
      right: 0;
      bottom: -1px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    &:after {
      content: "";
      position: absolute;

      width: 100%;
      height: 14px;
      background: white;
      left: 0;
      right: 0;
      bottom: -1px;
    }
  }
}

.swiper-tab-tinhnang {
  margin-left: -2px;
  margin-right: -2px;
  .swiper-slide {
    display: block;
    width: 180px;
    padding: 5px 5px 0 2px;
  }
  .swiper-wrapper {
    flex-wrap: nowrap;
  }
}

.food-tab-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: gray("700");
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.question-wrapper{
  display: grid;
  position: relative;
  grid-template-columns: auto;
  // grid-column-gap: 20px;
}

.question-item{
  display: block;

  // width: calc(50% - 20px);
  font-size: 16px;
  padding: 15px 0;
  border-bottom: 1px solid gray("200");
  a{
    font-weight: bold;
  }

  @include media-breakpoint-down(sm){
    font-size: 14px;
    padding: 10px 0;
  }
}