
.noen {
  .header-position {
    .header__logo {
      position: relative;
      background-color: transparent;
      .momo__logo {
        display: none;
      }
      .momo__logo__noen {
        width: auto;
        height: 48px;
        position: absolute;
        top: -8px;
        opacity: 1;
        left: -12px;
      }
    }
  }
  .footer {
    background-image: url(../img/noen/mobile_footer.png);
    background-position: bottom 0 center;
    background-repeat: no-repeat;
    
    @media (max-width: 767.98px) {
      background-size: 100% auto;
      padding-bottom: 15vw;
    }
    @media (min-width: 768px) {
      background-image: url(../img/noen/table_footer.png);
      background-repeat: repeat-x;
      padding-bottom: 55px;
    }
    @media (min-width: 992px) {
      background-image: url(../img/noen/laptop_footer.png);
      padding-bottom: 20px;
    }
    @media (min-width: 1200px) {
      background-repeat: repeat-x;
    }
  }
}
