.bg-vn {
  background-color: #A60364;
}

.btn-yellow {
  background: #FFD02C;
  border-radius: 100px;
  color: #A60364;
  &:hover {
    color: #fff;
  }
}
.text-yellow-1 {
  color: #FFD53A;
}
.btn-block {
  margin-top: -18px;
}

.view_app .vp_hide, .lb_hide {
  display: none !important;
}

.view_app .vp_show {
  display: block !important;
}

.view_app .vp_show_list_item {
  display: list-item !important;
}

.view_app .vp_show_inline {
  display: inline-block !important;
}

.view_app .vp_show_flex {
  display: flex !important;
}
.view_app .navbar-lp-container {
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  box-shadow: none;
  padding-top: unquote('max(env(safe-area-inset-top), 24px)');
}
