{% macro quyengop( imagePath='/img/donation/campaign/1.png', name='title',
summary='summary', money='15.807.469đ', percent='35,44%', time='20' ) %}
<div class="campaign-dn">
  <a href="https://momo.vn/quyen-gop/nhu-chua-he-co-cuoc-chia-ly" class="link-absolute"></a>
  <div class="campaign-dn-img">
    <img src="{{ imagePath }}" alt="" loading="lazy" />
  </div>
  <div class="campaign-dn-body">
    <h4 class="campaign-dn-title">{{ name }}</h5>
    <p class="campaign-dn-summary">{{ summary }}</p>
  </div>
  <div class="campaign-dn-footer">
    <div class="campaign-dn-info">
      <div class="campaign-dn-money">
        <b>{{money}} </b>
        <span>quyên góp</span>
      </div>
      <div class="campaign-dn-percent">{{percent}}</div>
    </div>
    <div class="campaign-progress">
      <div
        class="campaign-progress-bar"
        style="width: {{ percent | replace(',', '.') }};"
      ></div>
    </div>
    <div class="campaign-dn-time">

      <div>
        <i data-feather="users" class="ico"></i>
        <span>4356 lượt quyên góp</span>
      </div>

      <div>
        <i data-feather="clock" class="ico"></i>
        <span>{{time}} ngày còn lại</span>
      </div>

    </div>
  </div>
</div>
{% endmacro %} {% macro widgetDonation( money='153.807.469đ',
total='300.000.000đ', percent='26,7%', soluot='61.808', time='26' ) %}
<div class="widget-donation">
  <h5 class="mb-4 text-gray-900 d-none d-md-block">Thông tin quyên góp</h5>
  <div class="campaign-money">
    <strong class="value text-gray-900 fs-24">{{money}} </strong>
    quyên góp /
    <div class="sub">{{total}}</div>
  </div>

  <div class="campaign-progress">
    <div
      class="campaign-progress-bar"
      style="width: {{ percent | replace(',', '.') }};"
    ></div>
  </div>

  <div class="row sm-gutters justify-content-between widget-donation-meta mt-3">
    <div class="col-auto">
      <div class="">Lượt quyên góp</div>
      <div class="text-gray-900 font-weight-bold">{{soluot}}</div>
    </div>

    <div class="col-auto">
      <div class="text-center">Đạt được</div>

      <div class="text-gray-900 font-weight-bold text-center">{{percent}}</div>
    </div>

    <div class="col-auto">
      <div class="">Thời hạn còn</div>

      <div class="text-gray-900 font-weight-bold">{{time}} ngày</div>
    </div>
  </div>

  <div class="row align-items-end no-gutters mt-3 mt-md-3">
    <div class="col">
      <div class="campaign-cta">
        <div class="my-2 d-block d-lg-none">
          <button
            role="button"
            class="btn btn-block btn-primary-3 font-weight-bold cta-donation-1"
          >
            Quyên góp
          </button>
        </div>
        <div class="my-2 d-none d-lg-block">
          <button
            role="button"
            class="btn btn-block btn-primary-3 font-weight-bold cta-donation-1"
            data-toggle="modal"
            data-target="#qrcode-modal"
          >
            Quyên góp
          </button>
        </div>

        <div class="my-2 d-none d-lg-block">
          <a
            href=""
            class="btn btn-block btn-outline-dark font-weight-bold cta-donation-2"
            data-toggle="modal"
            data-target="#modal-huongdan"
          >
            Hướng dẫn Quyên góp
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-sponser">
    <div class="text-gray-800 mb-1 font-weight-bold">Đồng hành cùng MoMo</div>

    <div class="row align-items-center no-gutters mt-2">
      <div class="col-auto sponser-logo">
        <img
          src="https://static.mservice.io/blogscontents/momo-upload-api-201125164601-637419195612826278.png"
          loading="lazy"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col">
        <strong>Công ty xã hội Nối Thân Thương</strong><br />
        <i class="text-small">Như Chưa Hề Có Cuộc Chia Ly</i>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
