
{% set questions =[ 'Tôi có thể mua vé máy bay của các hãng nào bằng Ví
MoMo?', 'Tôi có thể mua vé máy bay đi quốc tế không?', 'Nếu lịch trình bay
có thay đổi, Ví MoMo tôi có nhận được thông báo qua Ví MoMo không?', 'Sau
khi thanh toán, vé của tôi sẽ được gửi qua đâu?', 'Mua vé máy bay trên MoMo
đã bao gồm thuế phí chưa?', 'Làm thế nào để kiểm tra vé máy bay đã mua trên
MoMo?' ] %}
<div class="accordion question-answer" id="questions">
    {% for i in [0,1,2,3,4,5] %}
    <div class="card py-2">
      <div class="card-header" id="heading{{i}}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left pl-0 {{ "" if loop.first else "collapsed" }}"
            type="button" data-toggle="collapse" data-target="#collapse{{i}}" aria-expanded="{{ "true" if loop.first else "false" }}"
            aria-controls="collapse{{i}}">
            {{questions[i]}}
          </button>
        </h2>
      </div>
      <div id="collapse{{i}}" class="collapse {{ "show" if loop.first else "" }}" aria-labelledby="heading{{i}}"
        data-parent="#questions">
        <div class="card-body">
          <p>
            Bạn có thể gửi yêu cầu hoàn tiền bằng tài khoản Traveloka đã dùng đặt chỗ. Sau khi đăng nhập vào tài
            khoản này,
            bạn hãy truy cập mục Đặt chỗ của tôi, nhấn Chi tiết sau đó nhấn vào nút Hoàn tiền để điền mẫu đơn yêu
            cầu hoàn tiền.
            Bạn có thể truy cập thẻ Hoàn tiền để tìm hiểu thêm thông tin.
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 