<div class="app-download d-none d-md-block">
    <div class="container text-center">
      <div class="app-download__content">
        <div class="tt">
          Tải Ví MoMo, nhập
          <strong class="text-primary-2">"HELLOMOMO"</strong> nhận quà
          <strong class="text-primary-2">500.000đ</strong>
        </div>
  
        <div class="app-download__btn">
          <a href="" class="btn font-weight-bold btn-primary-2 py-1 px-2 d"
            >TẢI NGAY</a
          >
        </div>
      </div>
    </div>
  
    <a
      href=""
      title="dismiss"
      class="js-app-download headerstrip__banner-dismiss"
    >
      <svg
        class="headerstrip__dismiss-icon"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.8 2.4c.3.3.3.8 0 1.1l-6 6c-.3.3-.3.8 0 1.1l6 6c.3.3.3.8 0 1.1l-2.2 2.2c-.3.3-.8.3-1.1 0l-6-6c-.3-.3-.8-.3-1.1 0l-6 6c-.3.3-.8.3-1.1 0L.1 17.7c-.3-.3-.3-.8 0-1.1l6-6c.3-.3.3-.8 0-1.1l-6-6c-.3-.3-.3-.8 0-1.1L2.3.2c.3-.3.8-.3 1.1 0l6 6c.3.3.8.3 1.1 0l6-6c.3-.3.8-.3 1.1 0l2.2 2.2z"
        ></path>
      </svg>
    </a>
  </div>
