<div
  class="modal fade modal-push"
  id="modalSlideUp"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
  data-backdrop=""
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row no-gutters">
          <div class="col-auto">
            <div class="push-avatar">
              <img src="https://static.mservice.io/images/s/momo-upload-api-200804170947-637321577879027341.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col">
            <div class="font-weight-normal push-text">
              Nhận tin tức khuyến mãi, giảm giá hot nhất từ Momo?
            </div>
          </div>

          <div class="col-12">
            <div class="text-right mt-2">
              <button
                class="btn btn-link btn-link-material mr-2"
                data-dismiss="modal"
              >
                ĐỂ SAU
              </button>
              <button class="btn btn-material">NHẬN THÔNG BÁO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feeback__wrapper">
  <div class="feedback__btn">
    <span>Phản hồi</span>
    <img src="img/feedback/Layer 6.png" width="18" class="img-fluid" alt="" />
  </div>

  <div class="feedback__card">
    <div class="feedback__close">
      <i data-feather="x"></i>
    </div>
    <div class="feedback__title">
      Bạn đánh giá thế nào về giao diện website mới của
      <strong class="text-primary-2">MoMo</strong>
    </div>
    <div class="feedback__rating">
      <div class="feedback__rating__item">
        <img
          src="img/feedback/Layer 3.png"
          width="32"
          class="img-fluid"
          alt=""
        />
        <span>Xấu</span>
      </div>
      <div class="feedback__rating__item">
        <img
          src="img/feedback/Layer 4.png"
          width="32"
          class="img-fluid"
          alt=""
        />
        <span> Hơi xấu</span>
      </div>
      <div class="feedback__rating__item">
        <img
          src="img/feedback/Layer 5.png"
          width="32"
          class="img-fluid"
          alt=""
        />
        <span>Tạm được</span>
      </div>
      <div class="feedback__rating__item">
        <img
          src="img/feedback/Layer 6.png"
          width="32"
          class="img-fluid"
          alt=""
        />
        <span> Đẹp</span>
      </div>
      <div class="feedback__rating__item">
        <img
          src="img/feedback/Layer 7.png"
          width="32"
          class="img-fluid"
          alt=""
        />
        <span>Tuyệt vời</span>
      </div>
    </div>

    <div class="feedback__form">
      <textarea
        class="form-control"
        placeholder="Tell us about your experience ..."
        name=""
        id=""
        cols=""
        rows="4"
      ></textarea>

      <div class="mt-3 text-center">
        <a href="" class="btn btn-sm btn-primary-3">Gửi</a>
      </div>
    </div>

    <div class="feedback__thx">
      Bạn chưa sử dụng MoMo, xem <a href="">Giới thiệu</a>
    </div>
  </div>
</div>

<script></script>
