<div class="navbar__banner d-none">
  <div class="headerstrip-wrapper">
    <button
      title="dismiss"
      type="button"
      class="js-banner__dismiss headerstrip__banner-dismiss"
    >
      <svg
        class="headerstrip__dismiss-icon"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.8 2.4c.3.3.3.8 0 1.1l-6 6c-.3.3-.3.8 0 1.1l6 6c.3.3.3.8 0 1.1l-2.2 2.2c-.3.3-.8.3-1.1 0l-6-6c-.3-.3-.8-.3-1.1 0l-6 6c-.3.3-.8.3-1.1 0L.1 17.7c-.3-.3-.3-.8 0-1.1l6-6c.3-.3.3-.8 0-1.1l-6-6c-.3-.3-.3-.8 0-1.1L2.3.2c.3-.3.8-.3 1.1 0l6 6c.3.3.8.3 1.1 0l6-6c.3-.3.8-.3 1.1 0l2.2 2.2z"
        ></path>
      </svg>
    </button>

    <a
      class="headerstrip js-banner__link"
      href=""
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="headerstrip-content-background"></div>

      <div class="headerstrip-canvas">
        <div class="headerstrip-content d-none d-md-flex">
          <img src="img/momo/navbar-top.png" class="img-fluid" alt="" />
        </div>

        <img
          src="img/momo/banner-top-mb.png"
          class="img-fluid d-block mx-auto"
          alt=""
        />
      </div>
    </a>
  </div>
</div>

<div class="navbar-container header-position">
  <nav class="navbar navbar-expand-lg navbar-light py-0 px-0">
    <div class="container header__container flex-nowrap">
      <a class="navbar-brand header__logo" href="index.html">
        <svg
          width="96"
          class="svg-icon fill-current momo__logo"
          height="87"
          viewBox="0 0 96 87"
          fill="#fff"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M75.5326 0C64.2284 0 55.0651 8.74843 55.0651 19.5409C55.0651 30.3333 64.2284 39.0818 75.5326 39.0818C86.8368 39.0818 96 30.3333 96 19.5409C96 8.74843 86.8368 0 75.5326 0ZM75.5326 27.8805C70.7368 27.8805 66.8403 24.1604 66.8403 19.5818C66.8403 15.0031 70.7368 11.283 75.5326 11.283C80.3283 11.283 84.2248 15.0031 84.2248 19.5818C84.2248 24.1604 80.3283 27.8805 75.5326 27.8805ZM49.1561 14.6761V39.1226H37.3809V14.5535C37.3809 12.7138 35.8394 11.2421 33.9126 11.2421C31.9857 11.2421 30.4442 12.7138 30.4442 14.5535V39.1226H18.669V14.5535C18.669 12.7138 17.1276 11.2421 15.2007 11.2421C13.2739 11.2421 11.7324 12.7138 11.7324 14.5535V39.1226H0V14.6761C0 6.58176 6.89385 0 15.372 0C18.8403 0 22.0089 1.10377 24.5781 2.9434C27.1472 1.10377 30.3586 0 33.7841 0C42.2623 0 49.1561 6.58176 49.1561 14.6761ZM75.5326 47.544C64.2284 47.544 55.0651 56.2925 55.0651 67.0849C55.0651 77.8774 64.2284 86.6258 75.5326 86.6258C86.8368 86.6258 96 77.8774 96 67.0849C96 56.2925 86.8368 47.544 75.5326 47.544ZM75.5326 75.4245C70.7368 75.4245 66.8403 71.7044 66.8403 67.1258C66.8403 62.5472 70.7368 58.827 75.5326 58.827C80.3283 58.827 84.2248 62.5472 84.2248 67.1258C84.2248 71.7044 80.3283 75.4245 75.5326 75.4245ZM49.1561 62.2201V86.6667H37.3809V62.0975C37.3809 60.2579 35.8394 58.7862 33.9126 58.7862C31.9857 58.7862 30.4442 60.2579 30.4442 62.0975V86.6667H18.669V62.0975C18.669 60.2579 17.1276 58.7862 15.2007 58.7862C13.2739 58.7862 11.7324 60.2579 11.7324 62.0975V86.6667H0V62.2201C0 54.1258 6.89385 47.544 15.372 47.544C18.8403 47.544 22.0089 48.6478 24.5781 50.4874C27.1472 48.6478 30.3158 47.544 33.7841 47.544C42.2623 47.544 49.1561 54.1258 49.1561 62.2201Z"
            fill=""
          />
        </svg>
        <!-- <img src="img/logo/momo-logo-noen.svg" class="svg-icon fill-current momo__logo__noen" alt="momo"> -->
      </a>

      <div class="collapse navbar-collapse" id="navigation-menu">
        <ul class="navbar-nav my-3 my-lg-0">
          <li class="nav-item has-dropdown">
            <a href="" class="nav-link text-nowrap">
              Dịch vụ

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>

            <div class="nav-dropdown__container" style="width: 900px">
              <div class="nav-dropdown nav-mega">
                <div class="nav-dropdown__content d-block">
                  <div class="row no-gutters">
                    {% for i in [0, 1,2,3,4,5,6,7,8,9] %}

                    <div class="col-4">
                      <div class="nav-mega__box">
                        <!-- <h5>Chuyển, nhận tiền</h5> -->
                        <div class="nav-mega__item">
                          <a href="" class="link-absolute"></a>
                          <div class="nav-mega__icon">
                            <img src="{{dichvuMenu[i].icon}}" alt="" />
                          </div>
                          <div class="nav-mega__content">
                            <div class="nav-mega__title">
                              {{dichvuMenu[i].name}}
                            </div>

                            <div class="nav_mega__sub">
                              {{dichvuMenu[i].sub}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item has-dropdown">
            <a href="" class="nav-link text-nowrap">
              Về MoMo

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>

            <div class="nav-dropdown__container" style="width: 350px">
              <div class="nav-dropdown nav-mega">
                <div class="nav-dropdown__content d-block">
                  <div class="row sm-gutters">
                    <div class="col-12">
                      <div class="nav-mega__box">
                        <!-- <h5>Chuyển, nhận tiền</h5> -->

                        <ul class="list-unstyled">
                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/ung-dung-momo/gioi-thieu-cac-ung-dung-momo"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[1].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">
                                Giới thiệu ví MoMo
                              </div>

                              <div class="nav_mega__sub">
                                Giới thiệu ứng dụng Ví MoMo
                              </div>
                            </div>
                          </li>

                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/tuyen-dung"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[2].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">Tuyển dụng</div>

                              <div class="nav_mega__sub">
                                Cơ hội nghề nghiệp cùng Ví MoMo
                              </div>
                            </div>
                          </li>
                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/lienhe"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[3].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">Liên hệ</div>

                              <div class="nav_mega__sub">Liên hệ Ví MoMo</div>
                            </div>
                          </li>

                          <li class="nav-mega-item">
                            <div class="nav-maga__more">
                              <div class="title mb-1">CHĂM SÓC KHÁCH HÀNG</div>
                              <ul class="list list-unstyled p-0 m-0">
                                <li>
                                  Hotline:
                                  <a href="tel:1900 5454 41" class="link-gray"
                                    >1900 5454 41</a
                                  >
                                  <i>(1000 đ/phút)</i>
                                </li>
                                <li>
                                  Email:
                                  <a
                                    class="link-gray"
                                    href="mailto:hotro@momo.vn"
                                  >
                                    hotro@momo.vn
                                  </a>
                                </li>
                                <li>
                                  Tổng đài gọi ra :
                                  <div>
                                    <a
                                      class="d-inline-block link-gray"
                                      href="tel:028.7306.5555"
                                    >
                                      028.7306.5555</a
                                    >
                                    -
                                    <a
                                      class="d-inline-block link-gray"
                                      href="tel:028.9999.5555"
                                    >
                                      028.9999.5555</a
                                    >
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item has-dropdown">
            <a href="" class="nav-link text-nowrap">
              Người dùng

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>

            <div class="nav-dropdown__container" style="width: 700px">
              <div class="nav-dropdown nav-mega px-0">
                <div class="nav-dropdown__content p-3 d-block">
                  <div class="row no-gutters">
                    <div class="col-4">
                      <div class="nav-big__item">
                        <a href="" class="link-absolute"></a>
                        <div class="nav-big__img">
                          <img
                            src="https://static.mservice.io/images/s/momo-upload-api-200529144116-637263600768288960.jpg"
                            class="img-fluid rounded"
                            alt=""
                          />
                        </div>
                        <div class="nav-big__title">Đối tác thanh toán</div>
                        <div class="nav-big__sub">
                          Hơn 20,000 Đối tác có thanh toán với Ví MoMo
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="nav-big__item">
                        <a href="" class="link-absolute"></a>
                        <div class="nav-big__img">
                          <img
                            src="https://static.mservice.io/images/s/momo-upload-api-200529144116-637263600768288960.jpg"
                            class="img-fluid rounded"
                            alt=""
                          />
                        </div>
                        <div class="nav-big__title">Điểm thanh toán</div>
                        <div class="nav-big__sub">
                          Tìm điểm có thanh toán bằng Ví MoMo ngay gần bạn
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="nav-big__item">
                        <a href="" class="link-absolute"></a>
                        <div class="nav-big__img">
                          <img
                            src="https://static.mservice.io/images/s/momo-upload-api-200529144116-637263600768288960.jpg"
                            class="img-fluid rounded"
                            alt=""
                          />
                        </div>
                        <div class="nav-big__title">Liên kết ngân hàng</div>
                        <div class="nav-big__sub">
                          Hướng dẫn liên kết hơn 25 ngân hàng với Ví MoMo
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item has-dropdown">
            <a href="" class="nav-link text-nowrap">
              Tin tức

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>

            <div class="nav-dropdown__container" style="width: 350px">
              <div class="nav-dropdown nav-mega">
                <div class="nav-dropdown__content d-block">
                  <div class="row sm-gutters">
                    <div class="col-12">
                      <div class="nav-mega__box">
                        <!-- <h5>Chuyển, nhận tiền</h5> -->

                        <ul class="list-unstyled">
                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/tin-tuc/tin-tuc-su-kien#menubar"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[5].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">Tin tức</div>

                              <div class="nav_mega__sub">
                                Cập nhật tin tức - sự kiện
                              </div>
                            </div>
                          </li>

                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/tin-tuc/khuyen-mai#menubar"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[6].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">Khuyến mãi</div>

                              <div class="nav_mega__sub">
                                Khuyến mãi mỗi ngày cùng Ví MoMo
                              </div>
                            </div>
                          </li>
                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/lienhe#menubar"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[7].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">Blog</div>

                              <div class="nav_mega__sub">
                                Tham khảo thông tin hữu ích
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item has-dropdown">
            <a href="" class="nav-link text-nowrap">
              Trợ giúp

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-icon"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>

            <div class="nav-dropdown__container" style="width: 350px">
              <div class="nav-dropdown nav-mega">
                <div class="nav-dropdown__content d-block">
                  <div class="row sm-gutters">
                    <div class="col-12">
                      <div class="nav-mega__box">
                        <!-- <h5>Chuyển, nhận tiền</h5> -->

                        <ul class="list-unstyled">
                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/xac-thuc-tai-khoan#menubar"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[2].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">KYC là gì?</div>

                              <div class="nav_mega__sub">
                                Xác thực tài khoản Ví MoMo
                              </div>
                            </div>
                          </li>

                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/hoi-dap#menubar"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[4].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">Hỏi đáp</div>

                              <div class="nav_mega__sub">
                                Trung tập trợ giúp người dùng
                              </div>
                            </div>
                          </li>
                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/huong-dan#menubar"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="{{dichvuMenu[3].icon}}" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">Hướng dẫn</div>

                              <div class="nav_mega__sub">
                                Hướng dẫn sử dụng Ví MoMo
                              </div>
                            </div>
                          </li>

                          <li class="nav-mega__item">
                            <a
                              href="https://momo.vn/huong-dan#menubar"
                              class="link-absolute"
                            ></a>
                            <div class="nav-mega__icon">
                              <img src="img/momo/hop-tac-dn.svg" alt="" />
                            </div>
                            <div class="nav-mega__content">
                              <div class="nav-mega__title">
                                Hợp tác doanh nghiệp
                              </div>

                              <div class="nav_mega__sub">
                                Momo đồng hành cùng doanh nghiệp
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="d-flex ml-0 ml-md-3 header__search__wrap">
        <div class="header__search">
          <form
            class="h-search__wrapper"
            method="get"
            autocomplete="off"
            action="https://momo.vn/tim-kiem"
          >
            <div class="h-search__form">
              <input
                type="text"
                class="form-control h-search__input search-quick-input"
                placeholder="Bạn tìm gì ..."
                aria-label=""
                aria-describedby=""
                name="q"
              />

              <div class="h-search__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="svg-icon fill-current"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </div>
            </div>

            <ul class="search-quick"></ul>
          </form>
        </div>
      </div>

      <div class="d-lg-flex ml-3 d-none">
        <button
          type="button"
          class="btn btn-primary-2 font-weight-bold px-3 text-truncate"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="svg-icon"
          >
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="7 10 12 15 17 10"></polyline>
            <line x1="12" y1="15" x2="12" y2="3"></line>
          </svg>

          Đăng ký
        </button>
      </div>

      <div class="d-flex d-lg-none" style="cursor: pointer">
        <button
          class="hamburger hamburger--spin"
          id="mobile-menu__btn"
          type="button"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <div class="mobile-menu__wrap">
          <div class="mobile-menu">
            <div id="menu-accordion" class="bg-white py-2">
              <div class="mobile-menu__item">
                <a
                  href="#accordion-1"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="true"
                  class="mobile-menu__btn"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="mb-0 mr-2">Dịch vụ</h5>
                    <svg
                      class="icon icon-sm"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="svg-icon"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </a>
                <div class="collapse show" id="accordion-1" data-parent="">
                  <ul class="mobile-menu__content list-unstyled">
                    {% for i in [0, 1,2,3,4,5,6,7,8,9] %}
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[i].icon}}" class="icon" alt="" />

                        {{dichvuMenu[i].name}}</a
                      >
                    </li>

                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="mobile-menu__item">
                <a
                  href="#accordion-2"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  class="mobile-menu__btn"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="mb-0 mr-2 text-gray">Về MoMo</h5>
                    <svg
                      class="icon icon-sm"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="svg-icon"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-2" data-parent="">
                  <ul class="mobile-menu__content list-unstyled">
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[3].icon}}" class="icon" alt="" />
                        Giới thiệu ví MoMo
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[4].icon}}" class="icon" alt="" />
                        Tuyển dụng
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[5].icon}}" class="icon" alt="" />
                        Liên hệ
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="mobile-menu__item">
                <a
                  href="#accordion-3"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  class="mobile-menu__btn"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="mb-0 mr-2 text-gray">Người dùng</h5>
                    <svg
                      class="icon icon-sm"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="svg-icon"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-3" data-parent="">
                  <ul class="mobile-menu__content list-unstyled">
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[9].icon}}" class="icon" alt="" />
                        Đối tác thanh toán
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[8].icon}}" class="icon" alt="" />
                        Điểm thanh toán
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[7].icon}}" class="icon" alt="" />
                        Liên kết ngân hàng
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="mobile-menu__item">
                <a
                  href="#accordion-4"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  class="mobile-menu__btn"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="mb-0 mr-2 text-gray">Tin tức</h5>
                    <svg
                      class="icon icon-sm"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="svg-icon"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-4" data-parent="">
                  <ul class="mobile-menu__content list-unstyled">
                    <li>
                      <a href="">
                        <img
                          src="{{dichvuMenu[9].icon}}"
                          class="icon"
                          alt=""
                        />Tin tức
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img
                          src="{{dichvuMenu[8].icon}}"
                          class="icon"
                          alt=""
                        />Khuyến mãi
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img
                          src="{{dichvuMenu[7].icon}}"
                          class="icon"
                          alt=""
                        />Blog
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="mobile-menu__item">
                <a
                  href="#accordion-5"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  class="mobile-menu__btn"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h5 class="mb-0 mr-2 text-gray">Trợ giúp</h5>
                    <svg
                      class="icon icon-sm"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="svg-icon"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </a>
                <div class="collapse" id="accordion-5" data-parent="">
                  <ul class="mobile-menu__content list-unstyled">
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[2].icon}}" class="icon" alt="" />
                        KYC là gì?
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[1].icon}}" class="icon" alt="" />
                        Hỏi đáp
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="{{dichvuMenu[3].icon}}" class="icon" alt="" />
                        Hướng dẫn
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="mobile-menu__download">
              <div class="tt">Tải ứng dụng</div>

              <div>
                <div class="row sm-gutters flex-nowrap">
                  <div class="col-auto">
                    <a
                      href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                      class="link-white"
                      target="_blank"
                    >
                      <img
                        src="https://static.mservice.io/img/tai-appstore.png"
                        width="130"
                        class="img-fluid"
                        alt=""
                      />
                    </a>
                  </div>
                  <div class="col-auto">
                    <a
                      href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                      class="link-white"
                      target="_blank"
                    >
                      <img
                        src="https://static.mservice.io/img/tai-google-play.png"
                        width="130"
                        class="img-fluid"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>

              <div class="tt">Hỗ trợ</div>
              <div class="">
                <ul class="list-unstyled p-0 ll mb-2">
                  <li>
                    Hot line :
                    <a href="tel: 1900 5454 41" class="link-dark">1900 54 54</a>
                  </li>

                  <li>
                    Tổng đài gọi ra :
                    <a href="tel:028.7306.5555" class="link-dark"
                      >028.7306.5555</a
                    >
                  </li>
                  <li>
                    Chăm sóc khách hàng :

                    <a href="mailto: hotro@momo.vn" class="link-dark">
                      hotro@momo.vn
                    </a>
                  </li>
                </ul>

                <div class="footer-btn-app py-1 is-light mt-0 mb-0">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modalAppHelp" class="link-absolute d-none d-lg-block"></a>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modalAppHelp-mobile" class="link-absolute d-block d-lg-none"></a>

                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="mr-1">
                        <svg
                          class="svg-icon"
                          fill="#a50064"
                          viewBox="0 0 345.1 512"
                        >
                          <g>
                            <title>Asset 1</title>
                            <path
                              d="M279.4,23.7H30.8C14.5,23.7,0,38.2,0,56.3v401.8c0,16.3,14.5,30.8,30.8,30.8H76h23.8L76,449.4H34.5V96.2h243.1v152l34.5,22
                                                                        V56.3C312,38.2,297.5,23.7,279.4,23.7z M226.8,77.1H86.1c-8.1,0-13.5-5.4-13.5-13.5c0-8.1,5.4-13.5,13.5-13.5h140.8
                                                                        c5.4,0,10.8,5.4,10.8,13.5C237.7,71.7,232.3,77.1,226.8,77.1z"
                            ></path>
                            <path
                              d="M189.4,200.7c-14.4,0-25.9,11.6-25.9,25.9v155.7l-17.3-34.6c-14.2-26.3-28.1-23.6-38.9-17.3c-12.5,8.3-17.2,17-8.6,38.9
                                                                        c19.6,48.2,49.8,105.6,82.2,142.7h116.7c41-30.4,74-175,17.3-181.6c-5.2,0-13.5,0.8-17.3,4.3c0-17.3-15.1-21.7-21.6-21.6
                                                                        c-7.5,0.1-13,4.3-17.3,13c0-17.3-14.1-21.6-21.6-21.6c-8.3,0-17.9,5.2-21.6,13v-90.8C215.4,212.3,203.8,200.7,189.4,200.7z"
                            ></path>
                          </g>
                        </svg>
                      </div>
                    </div>
                    <div class="col">
                      <div class="fba-1">Hướng dẫn trợ giúp trên</div>

                      <div class="fba-2">Ứng dụng Ví MoMo</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tt">HỢP TÁC DOANH NGHIỆP</div>
              <div class="pb-4">
                <ul class="list-unstyled p-0 ll mb-2">
                  <li>
                    Hot line :
                    <a href="tel: (028) 710 22 222" class="link-dark"
                      >(028) 710 22 222 (ext:5000)</a
                    >
                  </li>

                  <!-- <li>
                    Đăng ký tại :
                    <a
                      href="https://business.momo.vn/"
                      target="_blank"
                      class="link-dark"
                      >business.momo.vn</a
                    >
                  </li> -->
                </ul>
                <div class="footer-btn-app is-light mt-0">
                  <a
                    href="https://business.momo.vn/#menutop"
                    class="link-absolute"
                  ></a>

                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="mr-1">
                        <img
                          src="img/momo/hop-tac-dn.svg"
                          alt=""
                          class="img-fluid"
                          width="42"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="fba-1">Hợp tác doanh nghiệp</div>

                      <div class="fba-2">Đăng ký hợp tác </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="mt-4 ">
                <ul class="list-unstyled p-0 ll">
                  <li>
                    Công ty cổ phần dịch vụ di động trực tuyến (Viết tắt
                    M_SERVICE)
                  </li>

                  <li>
                    <div class="text-gray">
                      Lầu M, Toà nhà Petroland, 12 Tân Trào, P. Tân Phú, Q.7,
                      Tp. Hồ Chí Minh
                    </div>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <script>
    document
      .querySelector(".js-banner__dismiss")
      .addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".navbar__banner").classList.add("is-hidden");
      });

    // document.querySelector(".js-banner__dismiss-mb").addEventListener("click", function (e) {
    //     e.preventDefault();
    //     document.querySelector(".navbar__banner__mobile").classList.add("is-hidden");
    // });
  </script>
</div>
