<header class="app-nav__container">
  <nav class="app-nav">
    <div class="app-nav__act">
      <div class="app-nav-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-left chevron-left"
        >
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </div>
    </div>
    <div class="app-nav__heading">Heo đất MoMo</div>
    <div class="app-nav__controls">
        
    </div>
  </nav>
</header>

<script>
  //   window.addEventListener("scroll", function () {
  //     console.log(window.pageYOffset);
  //   });
  let isScrolling;
  let appNav = document.querySelector(".app-nav__container");

  window.addEventListener("scroll", function () {
    if (window.pageYOffset > 100) {
      appNav.classList.add("is-scroll");
    } else {
      appNav.classList.remove("is-scroll");
    }
  });
</script>
