{% import "macros/macros.html" as macros %}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <!-- Describes the encoding of the page to the browser -->
    <meta charset="utf-8" />

    <!-- Sets the title of the page.  Shown in the tab of your browser -->
    <title>Desmond template</title>

    <!-- Required for Bootstrap's responsive media queries to function -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta tag for basic SEO -->
    <meta name="theme-color" content="#A50064" />

    <meta name="apple-itunes-app" content="app-id=918751511" />

    <meta
      name="description"
      content="Ví Điện Tử MoMo - Siêu Ứng Dụng Thanh Toán với hàng trăm tiện ích được hơn 10 triệu người tin dùng ✅An toàn ✅Bảo mật ✅Tiện lợi ✅Nhanh chóng."
    />
    <meta
      name="keywords"
      content="siêu ứng dung, siêu ứng dung MoMo, Ví MoMo, Ví Điện Tử MoMo, Thanh Toán không tiền mặt."
    />
    <meta
      property="og:title"
      content="Ví Điện Tử MoMo - Siêu Ứng Dụng Thanh Toán số 1 Việt Nam"
    />
    <meta
      property="og:description"
      content="Ví Điện Tử MoMo - Siêu Ứng Dụng Thanh Toán với hàng trăm tiện ích được hơn 10 triệu người tin dùng ✅An toàn ✅Bảo mật ✅Tiện lợi ✅Nhanh chóng."
    />
    <meta property="og:url" content="https://momo.vn/" />
    <meta
      property="og:image:url"
      content="https://static.mservice.io/img/momo-upload-api-200406094342-637217630226347101.jpg"
    />
    <meta
      property="og:image"
      content="https://static.mservice.io/img/momo-upload-api-200406094342-637217630226347101.jpg"
    />
    <meta name="language" content="vietnamese" />
    <meta name="copyright" content="Copyright © 2019 by MOMO.VN" />
    <meta
      name="abstract"
      content="Ví điện tử MoMo - Siêu ứng dụng thanh toán số 1 Việt Nam"
    />
    <meta name="distribution" content="Global" />
    <meta name="author" content="Ví MoMo" />
    <meta http-equiv="refresh" content="1200" />
    <meta name="REVISIT-AFTER" content="1 DAYS" />
    <meta name="RATING" content="GENERAL" />
    <meta http-equiv="x-dns-prefetch-control" content="on" />

    <meta property="og:site_name" content="Vi Momo" />
    <meta property="fb:app_id" content="320653355376196" />
    <meta property="fb:pages" content="138010322921640" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    {% if preloader %}
    <!-- Start Page Loader -->
    <style>
      @keyframes hideLoader {
        0% {
          width: 100%;
          height: 100%;
        }

        100% {
          width: 0;
          height: 0;
        }
      }

      body > div.loader {
        position: fixed;
        background: white;
        width: 100%;
        height: 100%;
        z-index: 1071;
        opacity: 0;
        transition: opacity 0.5s ease;
        overflow: hidden;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      body:not(.loaded) > div.loader {
        opacity: 1;
      }

      body:not(.loaded) {
        overflow: hidden;
      }

      body.loaded > div.loader {
        animation: hideLoader 0.5s linear 0.5s forwards;
      }

      .loading-animation {
        width: 40px;
        height: 40px;
        margin: 100px auto;
        background-color: #2568ef;
        border-radius: 100%;
        animation: pulse 1s infinite ease-in-out;
      }

      @keyframes pulse {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }

        100% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 0;
        }
      }
    </style>
    <script type="text/javascript">
      window.addEventListener("load", function () {
        document.querySelector("body").classList.add("loaded");
      });
    </script>
    <!-- End loading animation -->
    {% endif %}

    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Main Theme CSS styles -->
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />

    {% block head %} {% endblock %}
  </head>

  <body data-smooth-scroll-offset="0">
    <!-- Main Nav Bar -->

    <!-- Start Loader add Class is-active -->
    <div class="loading__container "> 
      <div class="loading__inner">
        <div class="spinner-border " role="status">
          <span class="sr-only">Loading...</span>
        </div>

        <div class="loading__text">
            Đang tải
        </div>
      </div>
    </div>
    <!-- End Loader -->

    {% block header %} {% endblock %}

    <!-- Main Body Content -->
    {% block content %} {% endblock %}

    <!-- "Back to top" button -->

    <a
      href="#top"
      class="btn btn-primary-3 rounded-circle btn-back-to-top"
      data-smooth-scroll
      data-smooth-scroll-offset="120px"
      data-aos="fade-up"
      data-aos-offset="2000"
      data-aos-mirror="true"
      data-aos-once="false"
    >
      <img
        src="img/icons/interface/icon-arrow-up.svg"
        alt="Icon"
        class="icon bg-white"
        data-inject-svg
      />
    </a>

    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>

    <script
      type="text/javascript"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>

    <script type="text/javascript" src="js/lazysizes.min.js"></script>

    <script type="text/javascript" src="js/feather.min.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="js/aos.js"></script>

    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="js/clipboard.min.js"></script>

    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>

    <!-- Flatpickr (calendar/date/time picker UI) -->
    <!-- <script type="text/javascript" src="js/flatpickr.min.js"></script> -->

    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <!-- <script type="text/javascript" src="js/flickity.pkgd.min.js"></script> -->

    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <!-- <script type="text/javascript" src="js/ion.rangeSlider.min.js"></script> -->

    <!-- Isotope (masonry layouts and filtering) -->
    <!-- <script type="text/javascript" src="js/isotope.pkgd.min.js"></script> -->

    <!-- jarallax (parallax effect and video backgrounds) -->
    <!-- <script type="text/javascript" src="js/jarallax.min.js"></script>
    <script type="text/javascript" src="js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="js/jarallax-element.min.js"></script> -->

    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>

    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <!-- <script type="text/javascript" src="js/plyr.polyfilled.min.js"></script> -->

    <!-- Prism (displays formatted code boxes) -->
    <!-- <script type="text/javascript" src="js/prism.js"></script> -->

    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="js/scrollMonitor.js"></script>

    <!-- Smooth scroll (animation to links in-page)-->
    <script
      type="text/javascript"
      src="js/smooth-scroll.polyfills.min.js"
    ></script>

    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script
      type="text/javascript"
      src="js/svg-injector.umd.production.js"
    ></script>

    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <!-- <script type="text/javascript" src="js/twitterFetcher_min.js"></script> -->

    <!-- Typed text (animated typing effect)-->
    <!-- <script type="text/javascript" src="js/typed.min.js"></script> -->

    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="js/theme.js"></script>

    <script type="text/javascript" src="js/swiper.min.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.menu-aim.js"></script> -->

    <!-- <script type="text/javascript" src="js/modernizr.custom.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquerypp.custom.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquery.bookblock.js"></script> -->

    <script type="text/javascript" src="js/ResizeSensor.min.js"></script>
    <script
      type="text/javascript"
      src="js/theia-sticky-sidebar.min.js"
    ></script>

    <script type="text/javascript" src="js/readmore.js"></script>

    <script type="text/javascript" src="js/custom.js"></script>

    <!-- Scripts -->
    {% block javascript %} {% endblock %}
  </body>
</html>
