<div class="mgzs__widget__title mb-4 mt-5 mt-lg-0">Xem nhiều nhất</div>

<div class="mgz__list mgz__popular__list">
  <div class="mgz__row">
    {% for i in [12,13,14,15, 16] %}

    <article class="mgz mgz__popular">
      <div class="mgz__header">
        <figure class="mgz__figure">
          <div class="mgz__popular-number">{{loop.index}}</div>
          <div class="mgz__figure-bg"></div>
          <div class="embed-responsive embed-responsive-15by20">
            <a href="magazine-detail.html">
              <img
                data-src="{{blogs[i].Avatar}}"
                alt=""
                class="embed-responsive-img lazyload"
              />
            </a>
          </div>
        </figure>
      </div>

      <div class="mgz__body">
        <div class="infomgz">
          <header class="infomgz__header">
            {% for name, alias in hmmCat %} {% if blogs[i].CategoryName == name
            %}
            <div class="infomgz__cat {{ alias }}">
              <a class="infomgz__cat__link" href="magazine-category.html"
                >{{blogs[i].CategoryName}}</a
              >
            </div>
            {% endif %} {% endfor %}
            <h4 class="infomgz__title h6">
              <a href="magazine-detail.html" alt="">{{blogs[i].Title}}</a>
            </h4>

            <div class="infomgz__body">
              <div class="infomgz__meta">
                <span class="time">{{blogs[i].TotalView}} lượt xem</span>
              </div>
            </div>
          </header>
        </div>
      </div>
    </article>

    {% endfor %}
  </div>
</div>
