
<div class="modal htu-modal modal__fullscreen fade " id="htu-modal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

        <div class="modal-content">

            <div class="modal__header">

                <div class="modal__nav">
                    <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>

                    </a>
                </div>


                <div class="modal__title text-center text-truncate">
                   Tải ứng dụng ví MoMo
                </div>


                <div class="modal__nav">
                    <!-- <a href="" data-dismiss="modal" aria-label="Đóng" class="modal__nav__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="svg-icon">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </a> -->
                </div>

            </div>


            <div class="modal-body p-0">

                <div class="htu-modal-content ">


                    <div class="swiper-container htu-slider ">
                        <div class="swiper-wrapper ">

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">


                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 1/6 : </strong> Tải ứng dụng Ví
                                                MoMo
                                            </h3>
                                            <div class="htu-slider-body">
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.

                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.


                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 2/6 : </strong> Nhập số điện
                                                thoại
                                            </h3>
                                            <div class="htu-slider-body">
                                                Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí
                                                Internet Banking của ngân hàng bạn muốn liên kết.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 3/6 : </strong> Nhập mã xác thực
                                            </h3>
                                            <div class="htu-slider-body">
                                                Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của
                                                bạn.
                                                &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô
                                                &quot;Nhập
                                                mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                .
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 4/6 : </strong> Tạo mật khẩu đăng
                                                nhập </h3>
                                            <div class="htu-slider-body">
                                                Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và
                                                mật
                                                khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt;
                                                Sau đó bấm &quot;Xác nhận&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 5/6 : </strong> Nhập thông tin
                                            </h3>
                                            <div class="htu-slider-body">
                                                Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân
                                                theo
                                                yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- Add Arrows -->


                        <div class="swiper-button-next swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Tiếp theo" focusable="false"
                                style="height: 10px; width: 10px; fill: currentcolor;">
                                <path
                                    d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="swiper-button-prev swiper-button-white">
                            <svg viewBox="0 0 18 18" role="img" aria-label="Trước" focusable="false"
                                style="height: 10px; width: 10px; fill: currentcolor;">
                                <path
                                    d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </div>

                    </div>


                </div>

            </div>

            <div class="modal-footer">

                <a href="" class="btn btn-primary-2 btn-block btn-lg">Tải ngay</a>

            </div>






        </div>
    </div>
</div>