.btn {
  &.rounded-pill {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn-pulse {
}

.btn-pulse {
  overflow: visible;
  position: relative;
}



.btn-pulse:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  transition: opacity 0.3s, transform 0.3s;

  z-index: -1;

  // box-shadow: 0 0 0 0 rgba($yellow, 0.9);
}


$pulse-colors: () ;

$pulse-colors: map-merge(
  (
    "primary": $primary,
    "primary-2": $primary-2,
    "primary-3": $primary-3,
    // "success":    $success,
      // "info":       $info,
      "warning": $warning,
    // "danger":     $danger,
  ),
  $pulse-colors
);

@each $color, $value in $pulse-colors {
  .btn-#{$color} {
    &.btn-pulse {
      &:before {
        animation: pulsing-#{$color} 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        box-shadow: 0 0 0 0 rgba($value, 0.9);
      }
    }
  }
  @keyframes pulsing-#{$color} {
    to {
      box-shadow: 0 0 0 10px rgba($value, 0);
    }
  }
}
