.card {
}

.card__space {
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.card__box {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition-duration: 0.26s;
  // cursor: pointer;

  .card__body {
    padding: 20px 20px;
  }
  .card__copy {
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
  // @include hover-focus() {
  //   box-shadow: 0 0.625rem 0.875rem -0.3125rem #e0e0e0;
  // }
}

.card__border {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid gray("300");
  transition-duration: 0.26s;
  // cursor: pointer;

  .card__body {
    padding: 20px 20px;
  }
  .card__copy {
  }
  // @include hover-focus() {
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  // }
}



.card__header {
}

.card__figure {
  margin-bottom: 0;
}

.card__image {
}

.card__inner {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}


.card__body {
  flex: 1;
}

.card__footer{
  padding: 10px 20px 20px 20px;
}

.card__title {
}

.card__title__link {
  color: gray("900");
  @include hover-focus-active() {
    color: $primary-3;
    // text-decoration: underline;
  }
}

.card__subtitle {
}

.card__copy {
  margin-bottom: 0;
}

.card__text {
}

.card__footer {
}

.card__actions {
}

.card__meta {
  font-size: 13px;
}

.card__meta__item {
  display: inline-block;
}

.card__copy {
  color: gray("700");
  font-size: 14px;
  strong {
    color: $pinkhot;
  }
}
