.cluster__wrap{

  &.has-border-top{
    border-top: 5px solid gray("300");
    padding-top: 25px;
  }
  &.has-border-top-sm{
    border-top: 2px solid gray("300");
    padding-top: 25px;
  }
}

.cluster__heading{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 15px;
  &.is__dash__left{
    .cluster__title{
      padding-left: 10px;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        background-color: $primary-2;
        width: 3px;

        height: 18px;
      }
    }
  }
}

.cluster__title{
  position: relative;
  margin-bottom: 15px;
  color: $primary;
  font-size: 20px;
  margin-bottom: 0;

  &.is-gray{
    color: gray("700");
  }
}

.cluster__subcat{
  line-height: 0;
  margin-left: 20px;
  display: flex;
  margin-top: 3px;
  flex-flow: row nowrap;
  li:not(:last-child){
    .cluster__subcat__item{
      &:after{
        content :"";
        height: 14px;
        width: 1px;
        background-color: gray("400");
        top: 4px;
        position: absolute;
        right: -1px;
      }
    }
    margin-right: 0;
  }
  li{
    
  }

}

.cluster__subcat__item{
  position: relative;
  @extend .h5;
  padding: 0 12px;
  margin-bottom: 0;
  display: block;
  text-transform: uppercase;
  color: gray("600");
  // @extend .font-heading;
  @include hover-focus(){
    color: $primary-2;
  }
}
.section__wrap {
  padding: 20px 0;
}

.collection{
  padding: 16px 0;
}

.collection-article__list{
  border-top: 2px solid gray("300");
  margin-top: 16px;
}