.embed-responsive-img{
  width: 100%;
  // height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &.object-cover{
    height: 100%;
    object-fit: cover;
  }  
}


.embed-responsive-15by20{
  &:before{
    padding-top: percentage(15/20);
  }
}

.embed-responsive-12by8{
  &:before{
    padding-top: percentage(8/12);
  }
}
.embed-responsive-6by4{
  &:before{
    padding-top: percentage(4/6);
  }
}

.embed-responsive-new{
  &::before {
    padding-top: percentage(37/77);
  }
}
