.footer {
  background: #303030;
  // background: gray("800");
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer__logo {
  @include media-breakpoint-down(sm) {
    float: left;
    margin-right: 12px;
  }
}

.footer-heading {
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  margin-bottom: 10px;
  // font-size: 15px;
  @include rfs(13px);

  text-transform: uppercase;
}

.footer-call {
}

.footer-call-num {
  @include rfs(14px);
  // color: $pinkhot;
  font-weight: bold;
  // @include hover-focus(){
  //   color: lighten($pinkhot, 10%);
  // }
}

.footer-call-icon {
  @include rfs(35px);
  margin-right: 10px;
}

.footer-btn-app {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  cursor: pointer;
  @include rfs(16px);
  position: relative;
  transition: all 0.1s ease-in;
  margin-bottom: 10px;
  line-height: 1.3;

  @include hover-focus() {
    // background: rgba(0, 0, 0, 0.2);
  }

  .svg-icon {
    font-size: 1.6em;
    margin-right: 3px;
  }


  .fba-1 {
    font-size: 11px;
  }

  .fba-2 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    // color: $pinkhot;
  }
  &.is-light{
    // background: rgba(0, 0, 0, 0.04);
    background: white;
    padding: 0px 9px 0 6px;
    color: gray("900");
    border: 1px solid gray("300");
    // color: rgba(0,0,0,0.85);
    margin-bottom: 15px;
    @include hover-focus() {
      background: gray("200");
    }
    .fba-2{
      text-transform: none;
    }
  }
}

.footer-care {
}
.footer-care-txt {
  font-size: 13px;
  line-height: 17px;
}

.footer-care-head {
  font-size: 15px;
  line-height: 19px;
}

.footer-social-list {
  .list-inline-item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__meta {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  padding-top: 20px;
  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

.copyright {
  // padding: 8px 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  // background: #3E3E3E;
}
