$topbar-height: 50px;

.topbar {
  background: theme-color("momo");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  .input {
    height: 34px;
    line-height: 34px;
  }
  .input-group-icon {
    padding-top: 7px;
  }

  &.is-hidden {
    transform: translateY(-100%);
    // transform: translateY(-32px);
  }
}

.topbar-auto-hide {
  background: theme-color("momo");
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.topbar-content {
  height: $topbar-height;
  color: white;
}

.topbar-left {
  width: 55px;
  padding-left: 8px;
}


.topbar-right {
  width: 55px;
  padding-right: 5px;
}

.topbar-hamburge {
  display: block;
  text-align: center;
  color: white !important;
  font-size: 24px;
  width: 44px;
  margin-left: auto;
  line-height: 0;
}

.topbar ~ * {
  --des-page-navbar-offset: #{$topbar-height};
}

.topbar.topbar-have-location ~ * {
  --des-page-navbar-offset: 81px;
}

.htu-list {
  [aria-expanded="true"] {
    .item-after .svg-inline {
      transform: rotate(90deg);
    }
  }
}

.htu-modal{
  .modal-body{
    background: #f7f8fa;
  }
}

.htu-modal-content {
  // width: 100%;
  background: #f7f8fa;
  // min-height: 100%;

  // will-change: scroll-position;
  // overflow: auto;
  // -webkit-overflow-scrolling: touch;
  // box-sizing: border-box;
  // height: 100%;
  // position: relative;
  // z-index: 1;
  // flex: 1;
  // margin-top: -44px;
  // transform: translate3d(0,0,0);
}

// .htu-modal-cta {
//   padding: 10px 15px;
//   .button{
//     height: 40px;
//   }
// }

// .htu-modal {
//   .modal-content {
//     background: #f7f8fa;
//   }
// }

.htu-slider {
  // width: 100%;
  // height: 100%;
  // transform: translate3d(0,0,0);
  .swiper-slide {
    position: relative;
  }

  .swiper-pagination-fraction {
    bottom: 0;
    padding: 8px 15px;
    //background: rgba(gray("200"),0.9);
    font-size: 13px;
    color: gray("600");
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    // width: 38px;
    border-radius: 50%;

    top: 190px;
    @include hover-focus-active() {
      outline: none;
    }
  }
  .swiper-button-next {
    padding-left: 3px;
    right: 10px;
  }

  .swiper-button-prev {
    padding-right: 3px;
    left: 10px;
  }
}

.htu-modal-header {
  transform: translate3d(0, 0, 0);
  height: 50px;
  width: 100%;
  background: white;
  border-bottom: 1px solid gray("300");

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.htu-modal-title {
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.htu-modal-space {
  width: 95px;
}

.htu-modal-close {
  transform: translate3d(0, 0, 0);
  // position: absolute;
  // width: 34px;
  width: 95px;
  height: 48px;
  padding: 0 10px;

  background: white;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  // border-radius: 50%;
  z-index: 10;
  text-align: left;
  // margin-top: 5px;
  // margin-bottom: 5px;
  // margin-left: 10px;
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
  // font-size: 13px;
  color: $blue;
  .svg {
    font-size: 16px;
  }
}

.htu-slider-content {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  width: 100%;
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
  // padding-bottom: 30px;
}

.ht-mockup {
  // background: #E5E5E5;
  padding-left: 10px;
  padding-right: 10px;
}

.htu-slider-mockup {
  width: 190px;
  height: 338px;
  margin: 20px auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.htu-slider-txt {
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 15px;
  padding: 10px;
}

.htu-slider-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.htu-slider-body {
  color: gray("600");
}

.popup-button {
  cursor: pointer;
}

.htu-bank {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// .htu-bank-col {
// }

.htu-bank-item {
  cursor: pointer;
}

.htu-bank {
  display: flex;
  flex-flow: row wrap;
  // margin-left: -3px;
  // margin-right: -3px;
  overflow: hidden;
  justify-content: center;
  padding: 10px 0;

  @media only screen and (max-width: 320px) {
    // margin-left: -10px;
    // margin-right: -10px;

    .htu-bank-item {
      width: 52px;
      height: 55px;
    }
    .htu-bank-col {
      padding: 0 2px;
    }
  }
}

.htu-bank-col {
  flex: 0 0 auto;
  padding: 0 4px;
  text-align: center;
}

.htu-bank-item {
  width: 59px;
  height: 55px;
  position: relative;
  background: white;
  margin: 0 auto 8px;
  border-radius: $border-radius;
  padding: 4px 6px 20px;
  font-size: 10px;
  text-align: center;
  border: 1px solid gray("300");
  div {
    @include text-truncate();
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 0;
  }

  img {
    width: 25px;
    margin-bottom: 4px;
  }
}

//Nếu có topbar thì cho padding top
.topbar ~ .htu-modal-content {
  padding-top: $topbar-height;
}

//DESKTOP

// .intro {
// }

.manual-hero-title {
  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 1.2;
  }
}

.manual-hero {
  padding: 50px 0 80px;
  background: $pinkmomo
    url(https://static.mservice.io/styles/desktop/images/huongdan/video-bg.jpg)
    center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($pinkmomo, 0.67);
  }
  color: white;
  .container {
    position: relative;
    z-index: 1;
  }
}

.manual-device {
  // width: 320px;
  position: relative;
  // margin: 0 auto;
  // @include media-breakpoint-down(sm) {
  //   width: 300px;
  // }
  @media (min-width: 992px) {
    margin-left: auto !important;
  }
  @media (min-width: 992px) {
    margin-right: 3rem !important;
  }
  width: 274px;
  height: 514px;
  margin: 10px auto;

  .swiper-button-next,
  .swiper-button-prev {
    width: 28px;
    background: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    height: 28px;

    border-radius: 50%;
    box-shadow: none;

    // background: transparent;
    svg {
      height: 12px;
      width: 12px;
      fill: rgba(255, 255, 255, 0.8);
    }

    @include hover-focus() {
      outline: none;

      // border: 1px solid gray("500");
      // box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px 1px;
      box-shadow: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .swiper-button-next {
    right: 6px;
  }

  .swiper-button-prev {
    left: 6px;
  }
}

.manual-device-stock {
  position: absolute;
  // z-index: 10;
  width: 274px;
  height: 514px;
  // background: url("https://static.mservice.io/styles/desktop/images/google-pixel.png") no-repeat transparent;
  // background: url("https://static.mservice.io/blogscontents/momo-upload-api-190620141938-636966371786712794.png") no-repeat transparent;
  // background: url("https://static.mservice.io/blogscontents/momo-upload-api-190621112400-636967130404212068.png")
  background: url("../img/momo/mobile.png") no-repeat transparent;
  background-size: cover;
  z-index: 2;
  pointer-events: none;
}

.manual-device-slide {
  // width: 320px;
  // margin: 10px auto;
  // height: 647px;
  // margin-top: 0;
  // margin-top: 20%;
  padding-top: 20px;

  .manual-device-swiper {
    width: 250px;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 0;
    background-color: gray("900");

    .swiper-slide {
      border-radius: 10px;
      overflow: hidden;
      // img {
      // }
    }
  }
}

@include media-breakpoint-down(sm) {
  .manual-device {
    position: relative;

    width: 232px;
    height: 437px;
    margin: 10px auto;
  }

  .manual-device-stock {
    position: absolute;
    // z-index: 10;
    width: 232px;
    height: 437px;
  }

  .manual-device-slide {
    // width: 320px;
    // margin: 10px auto;
    // height: 647px;
    // margin-top: 0;
    // margin-top: 20%;

    .manual-device-swiper {
      width: 210px;
      display: block;
      margin: 0 auto;
      padding-top: 30px;

      // .swiper-slide {
      // }
    }
  }
}

/* 
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgba($pinkmomo, 0.7);
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: rgba($pinkmomo, 0.8);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
 */
// .manual-page {
// }

.manual-page-tab {
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }
  // .nav-item {
  // }
  .nav-link {
    line-height: 1.3;
    white-space: normal;
    // padding-bottom: 1rem;
    @extend .shadow-sm;
    padding: 0 8px 0 12px;
    min-width: 210px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    position: relative;
    transition: all 0.4s ease;

    color: gray("900");
    background: gray("300");

    font-size: 15px;
    margin: 0 15px;
    font-weight: bold;

    @include hover-focus() {
      background: gray("400");
      &:before {
        transition: all 0.4s ease;
        // border-left-color: $pinkmomo;
        content: " ";

        border-left: 16px solid gray("400");
      }
    }

    // &.active {
    //   color: $pinkmomo;
    //   background: lighten($pinkmomo, 45%);
    //   font-weight: 500;
    //   &::before{
    //     border-left: 15px solid lighten($pinkmomo, 45%);
    //   }
    // }

    &:before {
      transition: all 0.4s ease;
      // border-left-color: $pinkmomo;
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 26px solid transparent;
      border-bottom: 26px solid transparent;
      border-left: 16px solid gray("300");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      z-index: 3;
      margin-left: -2px;
    }

    &.active {
      color: white;
      background: $pinkmomo
      ;
      &::before {
        border-left: 16px solid $pinkmomo
      }

      // ~ .nav-link {
      //   background: gray("300");
      //   color: gray("700");
      //   &::before {
      //     border-left: 16px solid gray("300");
      //   }
      // }
    }
  }

  @include media-breakpoint-down(md) {
    .nav-link {
      padding: 0 5px 0 15px;
      height: 48px;
      font-size: 14px;
      line-height: 1.2;
      &:first-child {
        padding: 10px 7px 10px 7px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
    .nav-link {
      padding: 0 5px 0 20px;
      height: 44px;
      font-size: 14px;
      line-height: 1.2;
      min-width: 110px;
      &:first-child {
        padding: 10px 7px 10px 7px;
      }
    }
  }
}

.promotion-how-title {
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.process {
  list-style: none;
  position: relative;

  .process_item {
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
}

.process_item {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  min-height: 75px;
  flex-flow: row nowrap;
  cursor: pointer;

  // transition: all 0.2s ease-in;
  &.active {
    .process__number {
      background: $pinkmomo;
      span {
        color: white;
      }
    }

    .process__body-content {
      // max-height: 100%;
      max-height: var(--max-height);
      opacity: 1;
    }
  }

  .process__number {
    transition: all 0.2s ease-in;
  }
  .process__body-title {
    transition: all 0.2s ease-in;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  &:hover,
  &.active {
    .process__body-title {
      color: $pinkmomo;
    }
  }

  .process__body-title {
    font-size: 15px;
    font-weight: bold;
    color: gray("900");
  }
}

.process__body-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  // transition: all 0.3s ease-in;
  transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
  backface-visibility: hidden;
  font-size: 13px;
  max-width: 400px;
}

// .bank-select-bg {
  // background: $pinkmomo;
  // padding: 10px 20px 0;
  // // color: white;
  // border-radius: 5px;
  // // background: #dce7f5;
  // background: rgba(0, 0, 0, 0.03);
  // // background: white;
  // margin-bottom: 20px;
  // border: 1px solid rgba(0, 0, 0, 0.05);
  // // box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
  // // background-color: #fff;
  // // -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.03), 0 4px 15px 0 rgba(197,209,228,.41);
  // // box-shadow: 0 2px 2px 0 rgba(0,0,0,.03), 0 4px 15px 0 rgba(197,209,228,.41);
  // @include media-breakpoint-down(sm) {
  //   padding: 10px;
  // }
// }

.bank-dropdown {
  width: 250px;
  position: relative;

  .dropdown-toggle {
    width: 250px;
    background-color: white;
    font-size: 16px;
    &:after {
      position: absolute;
      right: 8px;
      // @include dropdown-arrow-image($black, 0deg);
      top: 50%;
      opacity: 0.8;


      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 5px solid;
      border-right: 5px solid transparent;
      border-bottom: 0;
      border-left: 5px solid transparent;
    }

    .content {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 3px 0;
    }
    .bank-dropdown-icon {
      width: 28px;
      height: 28px;
    }
  }

  .dropdown-menu {
    padding: 0;
  }
}

.bank-dropdown-menu {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  padding: 5px;
}

.bank-dropdown-item {
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 6px 10px;
  width: 33.333%;
  flex: 0 0 33.333%;
  font-size: 13px;
}

.bank-dropdown-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  img {
    width: 100%;
    display: block;
  }
}

.process__number {
  flex: 0 0 px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // border: 2px solid $pinkmomo;
  border: 2px solid transparent;
  background: gray("200");
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // @extend .shadow-sm;
}
.process__number span {
  font-size: 14px;
  font-weight: bold;
  // color: $pinkmomo;
  color: $pinkmomo;
  position: relative;
}

.process__body {
  flex: 1 1 0px;
  padding-left: 15px;
}

.process__body {
  // margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7;
  color: gray("700");
}

.process li:not(:last-child) {
  //margin-bottom: 30px;
  padding-bottom: 5px;
}
.process {
  .process_item:not(:last-child):before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 15px;
    top: 0;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
}

.bank-select {
  width: 250px;
  font-size: 16px;

  // .btn {
  // }

  .bank-select-btn {
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 250px;
    text-align: left;
    border: 2px solid gray("400");
    color: gray("700");
    &:active,
    &:hover {
      border: 2px solid $pinkmomo !important;
      color: gray("900") !important;
      background: white !important;
    }
    &.dropdown-toggle {
      color: gray("900") !important;
      background: white !important;
    }
  }

  .dropdown-menu {
    width: 250px;
    padding: 0;
  }

  .dropdown-item {
    padding: 8px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid gray("200");
    }
    img {
      margin-right: 10px;
    }
    &:active {
      background: gray("200");
      color: gray("900");
    }
  }
}

.payment-list {
  display: flex;
  flex-flow: row wrap;
}

.payment-item {
  flex: 0 0 auto;
  width: calc(20% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  @include media-breakpoint-down(lg) {
    width: calc(20% - 10px);
  }

  @include media-breakpoint-down(md) {
    width: calc(33.3333% - 10px);
  }
}

.payment-item > span {
  display: block;
  font-size: 13px;
  color: #9eaecf;
  line-height: 1;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.payment-item label {
  width: 100%;
  border: 2px solid #d3e0f3;
  border-radius: 4px;
  background: white;
  padding: 6px 14px 6px;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.payment-item label span {
  padding-left: 15px;
}

.payment-item label:after {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 24px;
  width: 24px;
  color: #fff;
  transition: all 0.4s;
  transform: scale(0);
  content: "";
  border-radius: 50%;
  background: white;
  border: 2px solid white;
  background-size: cover;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQyNi42NjcgNDI2LjY2NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDI2LjY2NyA0MjYuNjY3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIGNsYXNzPSIiPjxnPjxwYXRoIHN0eWxlPSJmaWxsOiMwMDFFRkYiIGQ9Ik0yMTMuMzMzLDBDOTUuNTE4LDAsMCw5NS41MTQsMCwyMTMuMzMzczk1LjUxOCwyMTMuMzMzLDIxMy4zMzMsMjEzLjMzMyAgYzExNy44MjgsMCwyMTMuMzMzLTk1LjUxNCwyMTMuMzMzLTIxMy4zMzNTMzMxLjE1NywwLDIxMy4zMzMsMHogTTE3NC4xOTksMzIyLjkxOGwtOTMuOTM1LTkzLjkzMWwzMS4zMDktMzEuMzA5bDYyLjYyNiw2Mi42MjIgIGwxNDAuODk0LTE0MC44OThsMzEuMzA5LDMxLjMwOUwxNzQuMTk5LDMyMi45MTh6IiBkYXRhLW9yaWdpbmFsPSIjNkFDMjU5IiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAxNkZGIj48L3BhdGg+PC9nPiA8L3N2Zz4=");
}

.payment-item input[type="radio"] {
  display: none;
}

.payment-item input[type="radio"]:checked ~ label {
  border-color: #2b56f5;
}

.payment-item input[type="radio"]:checked ~ label:after {
  transform: scale(1);
}

.payment-cur {
  font-size: 16px;
  color: #304073;
}

@include media-breakpoint-down(sm) {
  .bank-select-bg {
    padding: 0;
    border: none;
    background: white;
  }
  .payment-list {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .payment-item {
    display: inline-block;
    width: 85px !important;
    margin-bottom: 0;
    margin-top: 10px;
    label {
      flex-wrap: wrap;
      padding: 4px 2px 4px;
    }
    .payment-icon {
      display: block;
      flex: 1 1 100%;
    }
    .payment-cur {
      font-size: 12px;
      flex: 1 1 100%;
      padding-left: 0;
    }
    width: calc(50% - 10px);
  }
}
@include media-breakpoint-down(md) {
  .manual-hero {
    padding: 40px 0 40px;
  }
  .manual-page {
    margin-top: 0;
  }
}

.manual-process {
  margin-top: 30px;
}

@include media-breakpoint-down(sm) {
  .manual-hero {
    padding: 30px 0 30px;
  }
  .manual-page {
    margin-top: 0;
    &.container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  .manual-process {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 15px !important;
    justify-content: center;
  }

  .process .process_item {
    &:before {
      display: none;
    }
    display: block;
    flex: 0 0 auto;
    margin-bottom: 0;
    margin: 0 5px;
    text-align: center;
    position: static;
    min-height: 0;
    .process__body {
      display: none;
      margin-top: 15px;
      padding-left: 0;
    }
    .process__number {
      margin: 0 auto;
      width: 30px;
      height: 30px;
      border: none;
      background: gray("300");

      span {
        color: gray("800");
        font-size: 14px;
      }
    }
    &.active {
      .process__body {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
      }
      .process__number {
        background: $pinkmomo;
        span {
          color: white;
        }
      }
    }
    .process__body-title {
      font-size: 13px;
      color: black !important;
      font-weight: normal;
      // margin-bottom: 5px;
      line-height: 1.1;
    }
    .process__body-content {
      display: none;
      // display: block;
      height: 130px !important;
      overflow-y: auto;
      overflow-x: hidden;
      font-size: 13px;
      text-align: left;
      position: relative;
      -webkit-overflow-scrolling: touch;
    }
  }
  .process li:not(:last-child) {
    margin-bottom: 0 !important;
  }
  .process__body {
    margin-top: 10px !important;
  }
  .process {
    display: flex;
    flex-flow: row nowrap !important;
    // margin-bottom: 200px;
  }
}

@include media-breakpoint-down(sm) {
  .manual-hero {
    padding: 30px 0 30px;
  }
  .manual-page {
    margin-top: 0;
    &.container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  .manual-process {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 15px !important;
    justify-content: center;
  }
  .bank-select-bg {
    margin-top: 0;
    margin-bottom: 0;
  }
  .process .process_item {
    &:before {
      display: none;
    }
    display: block;
    flex: 0 0 auto;
    margin-bottom: 0;
    margin: 0 5px;
    text-align: center;
    position: static;
    min-height: 0;
    .process__body {
      display: none;
      margin-top: 15px;
      padding-left: 0;
    }
    .process__number {
      margin: 0 auto;
      width: 30px;
      height: 30px;
      border: none;
      background: gray("300");

      span {
        color: gray("800");
        font-size: 14px;
      }
    }
    &.active {
      .process__body {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
      }
      .process__number {
        background: $pinkmomo;
        span {
          color: white;
        }
      }
    }
    .process__body-title {
      font-size: 13px;
      color: black !important;
      font-weight: normal;
      // margin-bottom: 5px;
      line-height: 1.1;
    }
    .process__body-content {
      display: none;
      // display: block;
      height: 130px !important;
      overflow-y: auto;
      overflow-x: hidden;
      font-size: 13px;
      text-align: left;
      position: relative;
      -webkit-overflow-scrolling: touch;
    }
  }
  .process li:not(:last-child) {
    margin-bottom: 0 !important;
  }
  .process__body {
    margin-top: 10px !important;
  }
  .process {
    display: flex !important;
    flex-flow: row nowrap;
    // margin-bottom: 200px;
  }
}

.manual-dark {
  .process_item {
    .process__body-content {
      color: rgba(255, 255, 255, 0.9);
      a {
        color: $yellow;
      }
    }

    // transition: all 0.2s ease-in;
    &.active {
      .process__number {
        background: $pinkmomo;
        border-color: white;
        span {
          color: white;
        }
      }
    }

    &:hover,
    &.active {
      .process__body-title {
        // color: $pinkmomo;
        color: white;
      }
    }

    .process__body-title {
      font-size: 15px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .process {
    .process_item:not(:last-child):before {
      border-left: 1px dashed rgba(255, 255, 255, 0.3);
    }
  }

  .manual-page-tab {
    .nav-link {
      background: gray("400");
      &:before {
        border-left: 16px solid gray("400");
      }
      @include hover-focus() {
        background: gray("200");
        &:before {
          border-left: 16px solid gray("200");
        }
      }
      &.active {
        color: $pinkmomo;
        background: white;
        &:before {
          border-left: 16px solid white;
        }
      }
    }
  }
}

.htu-mockup {
  height: 320px;
  width: 100%;
  position: relative;
  margin: 10px 0 30px;
}
.htu-mockup-item {
  display: block;
  background: #e0e0e0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
}
.htu-mockup-item.i1 {
  width: 180px;
  height: 320px;
  position: relative;
  margin: 0 auto;
  z-index: 3;
}
.htu-mockup-item.i2 {
  width: 120px;
  height: 213px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  margin-left: -80px;
}
.htu-mockup-item.i3 {
  width: 120px;
  height: 213px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  margin-left: 80px;
}



// .manual-device-stock {
//   display: none;
// }
// .manual-device-slide .manual-device-swiper{
//   padding-top: 0;
//   background-color: transparent;
//   border-radius: 5px;
//   box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.4);
// }

// .manual-device-slide .manual-device-swiper .swiper-slide {
//   border-radius: 5px;
//   overflow: hidden;
 
// }
