.loading__container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: 13000;
  visibility: hidden;
  opacity: 0;
  transition-duration: .4s;

  &.is-active{
    visibility: visible;
    opacity: 1;

    .loading__inner{
      transform: translate3d(-50%,-50%,0) scale(1);
    }
  }
}

.loading__inner{
  position: absolute;
  background-color: rgba(255,255,255,0.95);
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 135000;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0) scale(1.185);
  transition-property: transform,opacity;
  transition-duration: .4s;
  color: gray("800");
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  user-select: none;
  pointer-events: none;
  .spinner-border{
    color: gray("500");
    width: 22px;
    height: 22px;
    border-width: 2px;
  }
}
.loading__text{
  font-weight: bold;
  padding-left: 15px;
  font-size: 15px;
}