
.post-body {
  
    img:not(.img-free):not(.left):not(.right) {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      width: auto !important;
      height: auto !important;
    }
  
    img.img-free,
    img.left,
    img.right {
      max-width: 100%;
      margin: 0;
      width: auto;
      height: auto !important;
    }
  
    img.left {
      float: left;
    }
  
    img.right {
      float: right;
    }
  
    // h4,
    // h5 {
    //   font-size: 14px;
    // }
    table {
      width: 100% !important;
    }
  }
  
  .post-body .post-desc {
    line-height: 1.8;
  
    // color: gray("800");
    // color: rgba(0, 0, 0, 0.54);
    color: gray("600");
  
    // font: 500 17px/1.666 "Nunito", sans-serif;
    font-size: 18px;
    
    line-height: 1.7;
    font-weight: 500;
    // font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
  
    @include media-breakpoint-down(sm) {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }




.post-body {
  color: rgba(0, 0, 0, 0.85);
  // line-height: 1.5;
  // font-size: 17px;


  // a {
  //   text-decoration: none;
  //   transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  //   color: var(--pinkmomo);
  //   &:active {
  //     color: var(--pinkmomo);
  //     -webkit-tap-highlight-color: rgba(251, 131, 50, 0.08);
  //   }
  // }

  h1 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 2.625rem;
    line-height: 2.875rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h2 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h3 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }

  h4 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  ol {
    padding-left: 1.2em;
    list-style-position: outside;
    list-style-type: decimal;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  ul {
    padding-left: 1.2em;
    list-style-position: outside;
    list-style-type: disc;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  p {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  li {
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
    ol {
      margin-top: 0.5em;
    }
    ul {
      margin-top: 0.5em;
    }
  }
  blockquote {
    font-weight: 600;
    overflow-wrap: break-word;
    color: var(--gray-600);
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    padding-left: 1em;
    border-left: solid 0.12em var(--pinkmomo);
    > p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  details[open] {
    summary {
      margin-bottom: 1em;
    }
  }
  hr {
    display: block;
    margin: 1.5em 0;
    border: 0;
    text-align: center;
    height: auto;
    color: var(--pinkmomo);
    font-weight: 300;
    &::after {
      content: "\2042";
    }
  }
  figcaption {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    a {
      font-weight: inherit;
      color: inherit;
      text-decoration: underline;
    }
  }
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
  a {
    &:not(.button):not(.btn) {
      text-decoration: none;
      transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      color: var(--pinkmomo);
      font-weight: 600;
      &:active {
        color: var(--pinkmomo);
        -webkit-tap-highlight-color: rgba(251, 131, 50, 0.08);
      }
    }
  }
  h5 {
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h6 {
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }

  img {
    &:not([class]) {
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
    }
  }
  figure {
    iframe {
      border-radius: 0.25rem;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      display: block;
      overflow: hidden;
    }
    &:not([class]) {
      img {
        border-radius: 0.25rem;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        display: block;
        overflow: hidden;
        width: 100%;
        margin-top: 1em;
      }
    }
    + {
      ol {
        margin-top: 2em;
      }
      p {
        margin-top: 2em;
      }
      ul {
        margin-top: 2em;
      }
    }
  }
  video {
    border-radius: 0.25rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 1em;
  }
  figure.embed {
    width: 100%;
    margin-top: 1em;
  }
}

@media screen and (min-width: 768px) {
  .soju__prose {
    h1 {
      font-size: 4.25rem;
      line-height: 4.5rem;
      margin-bottom: 2rem;
    }
    h2 {
      overflow-wrap: break-word;
      font-size: 1.75rem;
      line-height: 2rem;
      margin-top: 3rem;
    }
    h3 {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
    h4 {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
    blockquote {
      font-size: 1em;
      line-height: 1.6;
      > footer {
        font-size: 0.75em;
      }
    }
  }
}


.soju__prose.small {
  h1 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 2.625rem;
    line-height: 2.875rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h2 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h3 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }

  h4 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
}
