.swiper-button-next,
.swiper-button-prev {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  &:focus{
    outline: none;
  }

  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  position: absolute;
  color: rgb(34, 34, 34);
  touch-action: manipulation;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px ;
  // box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgb(0 0 0 / 18%) 0px 2px 4px ;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  // filter: drop-shadow(0 0 4px rgba(0,0,0,0.16));
  background: white;
  transition: -ms-transform 0.25s ease,-webkit-transform 0.25s ease,transform 0.25s ease;
  svg {
    height: 14px;
    width: 14px;
    fill: currentcolor;
  }

  @include hover-focus() {
    background-color:white;
    color: black;
    transform: scale(1.04);
    // box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px;
    // transform: scale(1.04) ;
    // outline: none;
    // border: 1px solid gray("500");
    // box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px 1px;
    // box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px,
    //   rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
  }
}

.swiper-button-next {
  right: 2px;
}

.swiper-button-prev {
  left: 2px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: auto;
}

.swiper-new-col4 {
  padding-left: 20px;
  padding-right: 20px;
}

.swiper-nav-bigger {
  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    // border: 2px solid gray("800");

    svg {
      height: 18px;
      width: 18px;
      fill: currentcolor;
    }

    // @include hover-focus() {
    //   // outline: none;
    //   // border: 1px solid gray("500");
    //   // box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px 1px;
    //   box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px,
    //     rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
    // }
  }

  .swiper-button-next {
    right: -22px;
  }

  .swiper-button-prev {
    left: -22px;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    display: none;
  }
}
