<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-5 px-md-2 text-center">
        <h2 class="font-hv hv__heading reveal mb-3 mb-md-4 show">Lịch tranh giải</h2>
      </div>

      <div class="col-12 col-lg-10">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-12 text-center">
            <img alt="Hướng dẫn" class="img-fluid d-none d-lg-block" loading="lazy"
              src="https://static.mservice.io/blogscontents/momo-upload-api-210702092131-637608144912503671.png" />

            <img alt="Hướng dẫn" class="img-fluid d-block d-lg-none mx-auto" loading="lazy"
              src="https://static.mservice.io/blogscontents/momo-upload-api-210702092256-637608145761534383.png" />
          </div>

          <div class="col-12 col-lg-12 pt-5 text-white">
            <style type="text/css">
              .baiviet-loadmore {
                max-height: 370px;
              }
            </style>
            <div aria-expanded="false" class="baiviet-loadmore" data-readmore="" id="rmjs-1"
              style="max-height: none; height: 370px;">
              <p>
                Tất cả người chơi có thể tham gia xây dựng Thành phố MoMo từ 10h00 ngày 7/7/2021 đến 20h00 ngày
                17/8/2021. Để nhận được những giải thưởng giá trị từ Thành Phố MoMo, người chơi cần lưu ý hoàn thành các
                mốc quan trọng:
              </p>

              <ul>
                <li><strong>Chứng nhận thành phố mới - cùng tranh 10 tỷ</strong>: Hoàn thành xây đủ 3 tòa nhà bất kỳ để
                  đổi giấy Chứng nhận Thành phố mới tranh thưởng 10 tỷ</li>
                <li><strong>Vòng bán kết - nhận phiếu dự thi, săn ngàn giải thưởng:</strong> Hoàn thành xây đủ 15 công
                  trình (bao gồm tòa nhà hoặc cảnh quan bất kỳ) để đổi Phiếu dự thi tham gia bán kết </li>
                <li><strong>Vòng chung kết - Đấu trường triệu phú, tranh thưởng 100 triệu:</strong> 1000 người chơi đứng
                  đầu bảng xếp hạng bán kết sẽ tham gia Đấu trường triệu phú, tranh giải thưởng 100 triệu </li>
              </ul>

              <p>
                Lưu ý mốc thời gian để hoàn thành các vòng thi và nhận thưởng: 
              </p>

              <p>
                * <strong>Chứng nhận thành phố mới - cùng tranh 10 tỷ:</strong>
              </p>

              <ul>
                <li>Hoàn thành xây dựng đủ 3 tòa nhà bất kỳ trước 23h59’ ngày 6/8/2021 </li>
                <li>Đổi giấy Chứng nhận Thành Phố Mới từ 7/7/2021 đến trước 23h59’ 8/8/2021</li>
                <li>Sau khi có giấy Chứng nhận Thành Phố Mới, người chơi được quyền tham gia Vòng quay may mắn từ 17h00
                  ngày 13/8/2021 đến 12h00 ngày 30/08/2021 trên Ứng dụng MoMo </li>
              </ul>

              <p>
                * <strong>Vòng bán kết - nhận phiếu dự thi, săn ngàn giải thưởng:</strong>
              </p>

              <ul>
                <li>Hoàn thành xây dựng đủ 15 công trình (Bao gồm tòa nhà và cảnh quan bất kỳ) trước 23h59’ ngày
                  6/8/2021 để đổi được Phiếu dự thi tham gia Vòng bán kết</li>
                <li>Tiến hành đổi Phiếu dự thi từ 10h00 ngày 7/7/2021 đến trước 23h59’ ngày 8/8/2021;</li>
                <li>Trước 20h00’ ngày 11/08/2021, MoMo sẽ công bố trên ứng dụng Ví MoMo và website
                  (momo.vn/thanh-pho-momo) danh sách người chơi có Phiếu dự thi hợp lệ để tham gia Vòng Bán kết;</li>
                <li>Sau khi có Phiếu dự thi, người chơi được quyền tham gia vòng Bán kết diễn ra từ 10h-12h & 19h-21h
                  ngày 12/8/2021 trên Ứng dụng MoMo    </li>
              </ul>

              <p>
                * <strong>Vòng chung kết - Đấu trường triệu phú, tranh thưởng 100 triệu: </strong>
              </p>

              <ul>
                <li>Kết quả xếp hạng vòng Bán kết sẽ được MoMo công bố trên website và thông báo tới người chơi tham gia
                  thi Chung kết trên ứng dụng MoMo vào 17h00 ngày 14/08/2021.</li>
                <li>1000 người chơi đạt thứ hạng cao nhất ở vòng thi bán kết sẽ tham gia chung kết Đấu trường triệu phú
                  từ  19h00 - 19h50’ ngày 17/8/2021 trên Ứng dụng MoMo. </li>
              </ul>
            </div>
            <a aria-controls="rmjs-1" data-readmore-toggle="rmjs-1" href="#">Xem thêm
              <img loading="lazy" src="https://momo.vn/momo2020/img/icons/interface/icon-chevron-down.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

