<section>
  <div class="container">
    <div class="text-center">
      <img alt="Thành phố MoMo" class="img-fluid d-none d-md-inline" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210618165227-637596319477186073.png" width="200"/>
      
      <img alt="Thành phố MoMo" class="img-fluid d-inline d-md-none" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210618165227-637596319477186073.png" width="153"/>
    </div>
  
    <div class="row pt-2 pt-lg-5 mt-lg-3 align-items-center">
      <div class="col-12 col-lg-6 text-center">
        <div>
          <img alt="Xây thành phố mới, chơi là có quà" class="img-fluid d-none d-md-inline" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210618164434-637596314745129821.png"/>
          
          <img alt="Xây thành phố mới, chơi là có quà" class="img-fluid d-inline d-md-none" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210618164306-637596313860821107.png" width="300"/>
        </div>
  
        <div class="pt-2 pt-md-4">
          <img alt="" class="img-fluid" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210623151422-637600580623982056.png" width="260"/>
        </div>
  
        <div class="pt-2 pt-md-4 text-center text-uppercase fs-16 fw-800 color-tpmomo">
          BẮT ĐẦU TỪ NGÀY 7/7, CHỈ CÒN:
        </div>
  
        <div class="cashback-countdown-container pt-2 pt-md-4">
          <div class="js-countdown">
            <div class="countdown-container text-center" id="js-countdown">
               
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-lg-6 pt-2 pt-md-0">
        <div class="position-relative align-items-center justify-content-center d-none d-md-flex">
          <img alt="thanh pho Momo" class="rounded img-fluid shadow-lg" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210618184548-637596387480910325.png"/>
          <a class="position-absolute why-play-icon" data-aos="zoom-in" data-fancybox="" href="https://www.youtube.com/embed/nGbpiYDca4M?controls=0"> 
          <img alt="Media Play Icon" loading="lazy" src="/momo2020/img/hocvien/play.svg" width="70"/>
          </a>
        </div>
  
        <div class="embed-responsive embed-responsive-16by9 d-block d-md-none">
          <iframe allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/nGbpiYDca4M?controls=0"></iframe>
        </div>
      </div>
    </div>
  </div>
  </section>
  <style type="text/css">.js-countdown {
        margin: 0 auto;
    }
    .js-countdown .countdown-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 10%}
    .js-countdown .time {
        border-radius: 5px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08);
        text-align: center;
        position: relative;
        width: 64px;
        margin-left: 20px;
        word-spacing: 0;
        letter-spacing: normal;
        text-rendering: auto;
        perspective: 479px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: inline-block;
    }
    .js-countdown .time::before {
        content: ':';
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        top: 48%;
        left: 0;
        transform: translateY(-50%);
        margin-left: -24%}
    .js-countdown .time::after {
        content: '';
        padding-bottom: 100%;
        display: block;
    }
    .js-countdown .time:first-child::before {
        content: ''}
    .countdown-container .time:first-child {
        margin-left: 0;
    }
    .js-countdown .count {
        background: #de3193;
        color: #fff;
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.89em;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        transform: translateZ(0);
        transform-style: flat;
    }
    .js-countdown .count.top {
        border-radius: 5px 5px 0 0;
        height: 50%;
        transform-origin: 50% 100%}
    .js-countdown .count.bottom {
        background-image: linear-gradient(transparent, rgba(0, 0, 0, .02));
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-radius: 0 0 5px 5px;
        line-height: .05em;
        height: 50%;
        top: 50%;
        transform-origin: 50% 0;
    }
    .js-countdown .label {
        margin-top: 5px;
        display: block;
        position: absolute;
        top: 100%;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        width: 100%;
        color: #fff;
    }
    .js-countdown .count.curr.top {
        transform: rotateX(0);
        z-index: 3;
    }
    .js-countdown .count.next.bottom {
        transform: rotateX(90deg);
        z-index: 2;
    }
    .js-countdown .flip .count.curr.top {
        transition: all 250ms ease-in-out;
        transform: rotateX(-90deg);
    }
    .js-countdown .flip .count.next.bottom {
        transition: all 250ms ease-in-out 250ms;
        transform: rotateX(0);
    }
    @media (max-width:700px) {
        .cashback-countdown-container {
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 0;
    }
    .js-countdown {
        margin: 0 auto;
        width: 250px;
    }
    .js-countdown .time {
        width: 47px;
        margin-left: 10px;
    }
    .js-countdown .time::before {
        left: 0;
        margin-left: -20%}
    .countdown-container .time:first-child {
        margin-left: 0;
    }
    .js-countdown .count {
        font-size: 25px;
        line-height: 2em;
    }
    .js-countdown .label {
        font-size: normal;
        margin-top: 5px;
        font-size: 13px;
    }
    }.view_app .js-countdown .time {
        height: auto;
    }
    .view_app .js-countdown .time::after {
        display: none;
    }
    .view_app .js-countdown .count.next.top {
        height: 100%;
        border-radius: 5px;
        overflow: unset;
        position: relative;
    }
    .view_app .js-countdown .count.curr, .view_app .js-countdown .count.next.bottom {
        display: none;
    }
    .view_app .js-countdown .label {
        top: 100%}
    .view_app .app-download.vp_show .app-download__content {
        width: 100%}
    .view_app .app-download.vp_show .app-download__btn {
        width: 100%;
        margin: 0 40px;
    }
  </style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script><script type="text/javascript" src="js/jquery.countdown.min.js"></script><script type="text/template" id="js-countdown-template">
      <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
      </div>
    </script><script>
      $(function () {
        var labels = ['NGÀY', 'GIỜ', 'PHÚT', 'GIÂY'],
          // nextYear = (new Date().getFullYear() + 7) + '/01/01',
    
          nextYear = "2021/07/07";
          template = _.template($('#js-countdown-template').html()),
          currDate = '00:00:00:00',
          nextDate = '00:00:00:00',
          parser = /([0-9]{2})/gi,
          $example = $('#js-countdown');
        // Parse countdown string to an object
        function strfobj(str) {
          var parsed = str.match(parser),
            obj = {};
          labels.forEach(function (label, i) {
            obj[label] = parsed[i]
          });
          return obj;
        }
        // Return the time components that diffs
        function diff(obj1, obj2) {
          var diff = [];
          labels.forEach(function (key) {
            if (obj1[key] !== obj2[key]) {
              diff.push(key);
            }
          });
          return diff;
        }
        // Build the layout
        var initData = strfobj(currDate);
        labels.forEach(function (label, i) {
          $example.append(template({
            curr: initData[label],
            next: initData[label],
            label: label
          }));
        });
        // Starts the countdown
        $example.countdown(nextYear, function (event) {
          // var newDate = event.strftime(totalHours + '%M:%S'),
          var newDate = event.strftime('%D:%H:%M:%S'),
            data;
          if (newDate !== nextDate) {
            currDate = nextDate;
            nextDate = newDate;
            // Setup the data
            data = {
              'curr': strfobj(currDate),
              'next': strfobj(nextDate)
            };
            // Apply the new values to each node that changed
            diff(data.curr, data.next).forEach(function (label) {
              var selector = '.%s'.replace(/%s/, label),
                $node = $example.find(selector);
              // Update the node
              $node.removeClass('flip');
              $node.find('.curr').text(data.curr[label]);
              $node.find('.next').text(data.next[label]);
              // Wait for a repaint to then flip
              _.delay(function ($node) {
                $node.addClass('flip');
              }, 50, $node);
            });
          }
        });
      });
    </script>
