<section data-aos="fade-up">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-2 text-center">
        <h1 class="font-hv hv__heading reveal mb-3 mb-md-4 font-weight-normal">CHÀO MỪNG BẠN TỚI THÀNH PHỐ MOMO!</h1>
      </div>

      <div class="col-12 col-lg-10 text-center">
        <p class="text-white">
          <b>Xây thành phố, khám phá thế giới ứng dụng của MoMo, cùng tranh 10 tỷ đồng!</b>
        </p>

        <p class="text-white">
          Cùng bạn bè tham gia tranh tài kiến thức thật gay cấn, giành chiến thắng để thu thập sổ đỏ và xây dựng thành
          phố cho riêng mình!
        </p>

        <p class="text-white">
          Một hành trình đầy thú vị với vô vàn giải thưởng tiền mặt và quà tặng cực khủng đang chờ đón bạn. Cơ hội dành
          cho tất cả - Tham gia ngay!
        </p>

        <div class="text-center">
          <button class="btn btn-xemthem d-none">Xem thêm</button>
        </div>
      </div>
    </div>
  </div>
</section>
