<style type="text/css">
  .view_app .view-app-top {
    padding-top: 80px
  }
</style>
<section class="sukien view-app-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1 class="font-hv hv__heading reveal mb-3 mb-md-4 font-weight-normal">GIỜ VÀNG KHỞI ĐỘNG</h1>
      </div>

      <div class="col-12 col-lg-6 text-center">
        <img alt="" class="img-fluid" loading="lazy"
          src="https://static.mservice.io/blogscontents/momo-upload-api-210707105447-637612520879889480.png"
          width="400" />
      </div>

      <div class="col-12 col-lg-6 text-center pt-lg-4">
        <h3 class="time pb-4">15h-18h, ngày 7/7-8/7</h3>

        <h5 style="color: #FED925;">Tranh tài giải đố, chơi là trúng tiền đến 10 triệu và hàng triệu thẻ quà siêu xịn
        </h5>
         

        <p class="text-justify text-md-center">
          Thành Phố MoMo chính thức mở cửa, săn ngay trăm nghìn bao tiền thưởng đến 10 triệu đồng nóng bỏng. Nhanh tay
          tham gia “Đối kháng ngẫu nhiên” trong khung giờ vàng từ <strong>15h - 18h ngày 7/7 và 8/7</strong> để trúng
          mưa quà từ MoMo. Tham gia ngay!
        </p>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  .sukien .time {
    font-weight: bold;
    color: #62FFF8;
    line-height: 25px;
    margin-top: 0.75em;
  }
</style>
<section class="sukien">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-5 px-md-2 text-center">
        <h2 class="font-hv hv__heading reveal mb-3 mb-md-4 show">Giải thưởng</h2>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <div class="row justify-content-center">
          <div class="col-10 col-md-11 text-center">
            <img alt="Giải thưởng 100 triệu" class="img-fluid"
              src="https://static.mservice.io/blogscontents/momo-upload-api-210707162802-637612720821881715.png"
              width="250" />
            <h5 class="time">Bao tiền thưởng ngẫu nhiên</h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <div class="row justify-content-center">
          <div class="col-10 col-md-11 text-center">
            <img alt="Giải thưởng 10 tỷ" class="img-fluid"
              src="https://static.mservice.io/blogscontents/momo-upload-api-210707162827-637612721071529044.png"
              width="250" />
            <h5 class="time">Bao tiền thưởng 10 triệu đồng</h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <div class="row justify-content-center">
          <div class="col-10 col-md-11 text-center">
            <img alt="Giải thưởng 100 triệu" class="img-fluid"
              src="https://static.mservice.io/blogscontents/momo-upload-api-210707162844-637612721249057802.png"
              width="250" />
            <h5 class="time">Thẻ quà hấp dẫn</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
