<section class="sukien">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-2 text-center">
        <h2 class="font-hv hv__heading reveal mb-3 mb-md-4">Sự kiện đặc biệt</h2>
      </div>

      <div class="col-12 col-lg-11 text-center">
        <h5 class="px-4 py-3 d-inline-block sukien-time">Thành phố MoMo đã bước vào Tuần thứ 2</h5>
      </div>

      <div class="col-12 mt-3 px-0 px-md-2">
        <!-- mt-5 -->
        <div class="swiper-container swiper-sukien-nav">
          <div class="swiper-wrapper nav nav-pills" role="tablist">
            <div class="swiper-slide text-center nav-link" data-toggle="pill" href="#sk-1">
              <a class="text-white ">15h - 18h<br />
                <small>ngày 7/7-8/7</small> </a>
            </div>

            <div class="swiper-slide nav-link text-center active" data-toggle="pill" href="#sk-2">
              <a class="text-white ">Sự kiện Tuần 2<br />
                <small>12/7-17/7</small> </a>
            </div>
            <!--
                <div class="swiper-slide nav-link text-center" data-toggle="pill" href="#sk-3">
                  <a class="text-white"> </a>
      
                  <p class="font-weight-bold">
                    <a class="text-white">Sự kiện Tuần 3 </a>
                  </p>
                  <a class="text-white"> <small>21/05 - 27/05</small> </a>
                </div>
      
                <div class="swiper-slide  nav-link text-center" data-toggle="pill" href="#sk-4">
                  <a class="text-white"> </a>
      
                  <p class="font-weight-bold">
                    <a class="text-white">Sự kiện Tuần 4 </a>
                  </p>
                  <a class="text-white"> <small>21/05 - 27/05</small> </a>
                </div>
      
                <div class="swiper-slide nav-link text-center" data-toggle="pill" href="#sk-5">
                  <a class="text-white"> </a>
      
                  <p class="font-weight-bold">
                    <a class="text-white">Sự kiện Tuần 5 </a>
                  </p>
                  <a class="text-white"> <small>21/05 - 27/05</small> </a>
                </div>
      
                <div class="swiper-slide nav-link text-center" data-toggle="pill" href="#sk-6">
                  <a class="text-white"> </a>
      
                  <p class="font-weight-bold">
                    <a class="text-white">Sự kiện Tuần 6 </a>
                  </p>
                  <a class="text-white"> <small>21/05 - 27/05</small> </a>
                </div>
      -->
          </div>

          <div class="swiper-button-next">
             
          </div>

          <div class="swiper-button-prev">
             
          </div>

          <div class="swiper-pagination">
             
          </div>
        </div>
        <!-- end Swiper -->
        <!-- Tab content -->

        <div class="tab-content" id="sukien-detail">
          <div class="tab-pane fade" id="sk-1" role="tabpanel">
            <!-- Swiper su kien detail -->
            <div class="swiper-container swiper-sukien-detail">
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                      <a data-target="#sukien-giovang" data-toggle="modal" href="#">
                        <img alt="" class="img-fluid" loading="lazy"
                          src="https://static.mservice.io/blogscontents/momo-upload-api-210706110717-637611664374710709.jpg" />
                      </a>
                    </div>
                  </div>

                  <h5>Giờ Vàng Khởi Động</h5>

                  <p class="time">
                    15H-18H, 7/7-8/7
                  </p>

                  <p class="text-white">
                    Tranh Tài Giải Đố<br />
                    Chơi Là Trúng Tiền Đến 10 Triệu Và Hàng Triệu Thẻ Quà Siêu Xịn
                  </p>

                  <p>
                    Đã kết thúc
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase d-none" href="#">Xem CHi tiết</a>
                </div>
              </div>
            </div>
            <!-- End Swiper su kien detail -->
          </div>

          <div class="tab-pane fade show active" id="sk-2" role="tabpanel">
            <!-- Swiper su kien detail -->
            <div class="swiper-container swiper-sukien-detail">
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                      <a data-target="#sukien-giovang-1" data-toggle="modal" href="#">
                        <img alt="" class="img-fluid" loading="lazy"
                          src="https://static.mservice.io/blogscontents/momo-upload-api-210710114641-637615144019685306.jpg" />
                      </a>
                    </div>
                  </div>

                  <h5>Giờ Vàng Rước "Táo" Khủng</h5>

                  <p class="time">
                    15H-18H, 12/7
                  </p>

                  <p class="text-white">
                    Tranh Tài Giải Đố<br />
                    Cơ Hội Trúng iPhone 12, Macbook Air M1, Apple Watch SE Và Hàng Trăm Bao Tiền Thưởng Giá Trị
                  </p>

                  <p class="d-none">
                    Đã kết thúc
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="/thanh-pho-momo/su-kien-gio-vang">Xem CHi tiết</a>
                </div>
                <!--
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                      <a data-target="#sukien-giovang-1" data-toggle="modal" href="#">
                      <img alt="" class="img-fluid" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210710114641-637615144019685306.jpg"/>
                      </a>
                    </div>
                  </div>
  
                  <h5>Giờ Vàng Đấu Nhóm</h5>
  
                  <p class="time">
                    15H-18H, 12/7 - 15/7
                  </p>
  
                  <p class="text-white">
                    Tham Gia Thi Đấu Nhóm<br/>
                    Đua Top Cực Sung, Nhận Quà Giá Trị Với Tổng Thưởng 200 Triệu Từ Túi Thần Tài & Ví Trả Sau
                  </p>
  
                  <p class="d-none">
                    Đã kết thúc
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>
  
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                      <a data-target="#sukien-giovang-1" data-toggle="modal" href="#">
                      <img alt="" class="img-fluid" loading="lazy" src="https://static.mservice.io/blogscontents/momo-upload-api-210710114641-637615144019685306.jpg"/>
                      </a>
                    </div>
                  </div>
  
                  <h5>Giờ Vàng Rước Mỗi Ngày</h5>
  
                  <p class="time">
                    15H-18H, 13/7-14/7
                  </p>
  
                  <p class="text-white">
                    Giờ Vàng Mỗi Ngày<br/>
                    Tiếp Lửa Xây Nhà, Thưởng Đậm Tiền Mặt 10 Triệu, Máy PlayStation 5, Săn Hàng Ngàn Bao Tiền Thưởng khác
                  </p>
  
                  <p class="d-none">
                    Đã kết thúc
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>
  -->
              </div>
            </div>
            <!-- End Swiper su kien detail -->
          </div>

          <div class="tab-pane fade" id="sk-3" role="tabpanel">
            <!-- Swiper su kien detail -->
            <div class="swiper-container swiper-sukien-detail">
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>
              </div>
            </div>
            <!-- End Swiper su kien detail -->
          </div>

          <div class="tab-pane fade" id="sk-4" role="tabpanel">
            <!-- Swiper su kien detail -->
            <div class="swiper-container swiper-sukien-detail">
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>
              </div>
            </div>
            <!-- End Swiper su kien detail -->
          </div>

          <div class="tab-pane fade" id="sk-5" role="tabpanel">
            <!-- Swiper su kien detail -->
            <div class="swiper-container swiper-sukien-detail">
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>
              </div>
            </div>
            <!-- End Swiper su kien detail -->
          </div>

          <div class="tab-pane fade" id="sk-6" role="tabpanel">
            <!-- Swiper su kien detail -->
            <div class="swiper-container swiper-sukien-detail">
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>

                <div class="swiper-slide text-center">
                  <div class="img-sukien mx-auto">
                    <div class="img">
                       
                    </div>
                  </div>

                  <h5>Event Title (Dưới 10 từ)</h5>

                  <p class="text-white">
                    Event Description<br />
                    (Tối đa 20 Từ)
                  </p>
                  <a class="btn-sukien-chitiet text-uppercase" href="#">Xem CHi tiết</a>
                </div>
              </div>
            </div>
            <!-- End Swiper su kien detail -->
          </div>
        </div>
        <!-- end Tab content -->
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  .sukien-time {
    background: #F5A800;
    color: #824011;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    position: relative;
  }

  .sukien-time:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 24px solid #F5A800;
    position: absolute;
    top: 0;
    left: -24px;
  }

  .sukien-time:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 24px solid #F5A800;
    position: absolute;
    top: 0;
    right: -24px;
  }

  .swiper-sukien-nav {
    background: #31006F;
    border-radius: 3px;
    border: 1px solid #FED925;
  }

  .swiper-sukien-nav .swiper-wrapper {
    flex-wrap: nowrap;
  }

  .swiper-sukien-nav .swiper-slide {
    width: 100%;
    padding: 10px 20px 25px;
    font-weight: bold;
    position: relative;
    color: #fff;
  }

  .swiper-sukien-nav .swiper-slide:not(.active) {
    cursor: pointer;
  }

  .swiper-sukien-nav .swiper-slide p {
    margin-bottom: 0;
    font-size: 16px;
  }

  .swiper-sukien-nav .swiper-slide small {
    font-size: 14px;
  }

  .swiper-sukien-nav .swiper-button-next {
    width: 15%;
    color: #fff;
    height: 100%;
    top: 0;
    margin-top: 0;
    background-size: 35% auto;
    box-shadow: none;
    filter: brightness(0) invert(1);
    border: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-sukien-nav .swiper-button-prev {
    width: 15%;
    color: #fff;
    height: 100%;
    top: 0;
    margin-top: 0;
    background-size: 35% auto;
    box-shadow: none;
    filter: brightness(0) invert(1);
    border: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-sukien-nav .nav-pills .nav-link.active,
  .swiper-sukien-nav .nav-pills .show>.nav-link {
    background-color: transparent;
  }

  @media (min-width: 768px) {
    .swiper-sukien-nav .swiper-slide {
      width: calc(100% / 2);
      padding: 10px 20px;
    }

    .swiper-sukien-nav .swiper-slide:after {
      content: '';
      position: absolute;
      height: 50%;
      width: 2px;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      background: #F5A800;
      border-radius: 100px;
    }

    .swiper-sukien-nav .swiper-slide:last-child:after {
      display: none;
    }

    .swiper-sukien-nav .swiper-pagination {
      display: none;
    }

    .swiper-sukien-nav .swiper-button-prev,
    .swiper-sukien-nav .swiper-button-next {
      display: none;
    }

    .swiper-sukien-nav .nav-pills .nav-link.active,
    .swiper-sukien-nav .nav-pills .show>.nav-link {
      background: rgba(98, 255, 248, 0.25);
    }
  }

  @media (min-width: 992px) {
    .swiper-sukien-nav .swiper-slide {
      width: calc(100% / 2);
    }
  }

  .swiper-sukien-detail .swiper-slide {
    width: 80%;
    padding: 25px 20px 25px 20px;
  }

  @media (min-width: 768px) {
    .swiper-sukien-detail .swiper-slide {
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    .swiper-sukien-detail .swiper-slide {
      width: 33%;
    }
  }

  .img-sukien {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    max-width: 400px;
    padding: 2px;
    background: linear-gradient(153.09deg, #38FFF6 0.99%, #FE3DD4 83.16%);
    margin: 20px 10px;
  }

  .img-sukien::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .img-sukien .img {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    z-index: 10;
    background: #ccc;
    overflow: hidden;
  }

  .img-sukien .img>img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    max-width: 100%;
    width: 100%;
  }

  .swiper-sukien-detail .swiper-slide h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FED925;
    margin-bottom: 1em;
  }

  .swiper-sukien-detail .swiper-slide .time {
    color: #62FFF8;
  }

  .swiper-sukien-detail .swiper-slide p {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
  }

  .btn-sukien-chitiet {
    font-family: Bungee;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #10CFC9;
    box-shadow: 0px 3px 0px #00716C;
    border-radius: 10px;
    width: 160px;
    display: inline-block;
    color: #fff;
    padding: 6px 14px;
  }
</style>
<script>
  var swiperSukienNav, swiperSuKienDetail;
  var swiperDetailSelect = "";
  function initeSukienDetail(select) {
    if (swiperDetailSelect === select) {
      return;
    } else {
      swiperDetailSelect = select;
    }

    if (swiperSuKienDetail) {
      swiperSuKienDetail.destroy();
    }
    var slideCount = $(select ? select : "#sukien-detail .tab-pane.active .swiper-sukien-detail").find('.swiper-slide').length;

    swiperSuKienDetail = new Swiper(select ? select : "#sukien-detail .tab-pane.active .swiper-sukien-detail", {
      slidesPerView: "auto",
      spaceBetween: 0,
      centeredSlides: slideCount === 1 ? true : false,
    });
  }
  $(() => {
    swiperSukienNav = new Swiper(".swiper-sukien-nav", {
      // Default parameters
      slidesPerView: 'auto',
      spaceBetween: 0,
      initialSlide: 1,
      pagination: {
        el: ".swiper-pagination",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      }
    });
    initeSukienDetail();
    $(".swiper-sukien-nav .swiper-slide").click(function () {
      var slide = $(this);
      setTimeout(() => {
        initeSukienDetail(`${slide.attr('href')} .swiper-sukien-detail`);
      }, 240);
    });
    swiperSukienNav.on('slideChangeTransitionEnd', function (swiper) {
      var sliderItemActive = $(".swiper-sukien-nav").find('.swiper-slide-active');
      sliderItemActive.click();
      setTimeout(() => {
        initeSukienDetail(`${sliderItemActive.attr('href')} .swiper-sukien-detail`);
      }, 200);
    });

    window.addEventListener("resize", function () {
      swiperSukienNav.update();
      swiperSuKienDetail.update();
    })
  });
</script>
