<section class="bg-white o-hidden" id="quyengop">
  <div class="container">
    <div class="">
      <h2 class="h2 text-primary-3 mb-3 mb-lg-4 text-center">
        Chung tay cùng Đà Nẵng
      </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="campaign-box mb-3 mb-lg-0">
          <div class="campaign-image">
            <div class="embed-responsive embed-responsive-apd">
              <div class="embed-responsive-img">
                <img
                  class="img-fluid lazyload"
                  alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                  data-src="https://static.mservice.io/images/s/momo-upload-api-200817100941-637332557811160250.png"
                />
              </div>
            </div>
          </div>

          <div class="campaign-content">
            <h4 class="campaign-title">
              <a href="#" data-toggle="modal" data-target="#donationDetail">
                Chung tay cùng Đà Nẵng phòng, chống dịch COVID-19
              </a>
            </h4>

            <div class="row no-gutters">
              <div class="col">
                <p class="campaign-desc">
                  Toàn bộ số tiền đóng góp sẽ được chuyển đến UBTW Mặt Trận Tổ
                  Quốc Việt Nam TP. Đà Nẵng để trang bị thiết bị y tế cho đội
                  ngũ y bác sĩ, chiến sĩ và cung cấp lương thực, nhu yếu phẩm
                  cho đồng bào trong khu cách ly. Mục tiêu quyên góp 500 triệu
                  đồng.
                </p>
              </div>

              <div class="col-auto pl-2 mt-1 d-none d-lg-block">
                <img
                  src="https://static.mservice.io/img/momo-upload-api-200403134853-637215185338434267.png"
                  class="img-fluid d-block mx-auto"
                  width="90"
                  alt=""
                />
                <div class="mt-1" style="font-size: 11px;">
                  Quét mã để Quyên góp
                </div>
              </div>
            </div>

            <div class="row no-gutters align-items-end">
              <div class="col">
                <div class="campaign-money">
                  <strong class="value">153.807.469đ </strong>
                  được quyên góp
                </div>
              </div>
              <div class="col-auto pl-2">
                <div class="campaign-money">
                  300.000.000đ
                </div>
              </div>
            </div>

            <div class="campaign-progress">
              <div class="progress" style="height: 8px;">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 25%;"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>

            <div class="campaign-status">
              <div class="campaign-status-item">
                <div class="campaign-status-label">
                  Người đã chung tay
                </div>

                <div class="campaign-status-value">
                  61.808
                </div>
              </div>
              <div class="campaign-status-item">
                <div class="campaign-status-label">
                  Thời hạn còn
                </div>

                <div class="campaign-status-value">
                  26 ngày
                </div>
              </div>
              <div class="campaign-status-item flex-grow-1 text-right">
                <a
                  href="#"
                  class="btn btn-primary-3 font-weight-bold d-none d-md-block"
                  data-toggle="modal"
                  data-target="#modalHuongdan"
                  >Hướng dẫn
                </a>

                <a
                  href="#"
                  class="btn btn-primary-3 font-weight-bold d-block d-md-none"
                  data-toggle="modal"
                  data-target="#htu-modal"
                  >Hướng dẫn
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="campaign-box mb-3 mb-lg-0">
          <div class="campaign-image">
            <div class="embed-responsive embed-responsive-apd">
              <div class="embed-responsive-img">
                <img
                  class="img-fluid lazyload"
                  alt="Giúp cô học trò nhỏ lấy lại ánh sáng cho đôi mắt"
                  data-src="https://static.mservice.io/images/s/momo-upload-api-200817100951-637332557911406205.png"
                />
              </div>
            </div>
          </div>

          <div class="campaign-content">
            <h4 class="campaign-title">
              Giúp bộ đội biên phòng An Giang ngăn dịch bệnh xâm nhập qua biên
              giới
            </h4>

            <div class="row no-gutters">
              <div class="col">
                <p class="campaign-desc">
                  Toàn bộ số tiền đóng góp sẽ được chuyển đến Tỉnh đoàn tỉnh An
                  Giang để trang bị thiết bị, nhu yếu phẩm cho lực lượng biên
                  phòng canh gác biên giới Việt Nam - Campuchia. Mục tiêu quyên
                  góp 50 triệu đồng.
                </p>
              </div>

              <div class="col-auto pl-2 mt-1 d-none d-lg-block">
                <img
                  src="https://static.mservice.io/img/momo-upload-api-200403134853-637215185338434267.png"
                  class="img-fluid d-block mx-auto"
                  width="90"
                  alt=""
                />
                <div class="mt-1" style="font-size: 11px;">
                  Quét mã để Quyên góp
                </div>
              </div>
            </div>
            <div class="row no-gutters align-items-end">
              <div class="col">
                <div class="campaign-money">
                  <strong class="value">153.807.469đ </strong>
                  được quyên góp
                </div>
              </div>
              <div class="col-auto pl-2">
                <div class="campaign-money">
                  300.000.000đ
                </div>
              </div>
            </div>

            <div class="campaign-progress">
              <div class="progress" style="height: 8px;">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 25%;"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>

            <div class="campaign-status">
              <div class="campaign-status-item">
                <div class="campaign-status-label">
                  Người đã chung tay
                </div>

                <div class="campaign-status-value">
                  61.808
                </div>
              </div>
              <div class="campaign-status-item">
                <div class="campaign-status-label">
                  Thời hạn còn
                </div>

                <div class="campaign-status-value">
                  26 ngày
                </div>
              </div>
              <div class="campaign-status-item flex-grow-1 text-right">
                <a
                  href="#"
                  class="btn btn-primary-3 font-weight-bold d-none d-md-block"
                  data-toggle="modal"
                  data-target="#modalHuongdan"
                  >Hướng dẫn
                </a>

                <a
                  href="#"
                  class="btn btn-primary-3 font-weight-bold d-block d-md-none"
                  data-toggle="modal"
                  data-target="#htu-modal"
                  >Hướng dẫn
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- #donationDetail -->
<div
  class="modal fade modal-donation-detail"
  id="donationDetail"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
    style="max-width: 1100px;"
  >
    <div class="modal-content">
      <!-- MOBILE -->
      <div class="modal__header d-flex d-md-none">
        <div class="modal__nav">
          <a
            href=""
            data-dismiss="modal"
            aria-label="Đóng"
            class="modal__nav__btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-icon"
            >
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </div>

        <div class="modal__title text-center text-truncate">
          Tải ứng dụng ví MoMo
        </div>

        <div class="modal__nav"></div>
      </div>

      <!-- DESKTOP -->
      <div class="modal-header d-none d-md-block">
        <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="gallery position-relative" style="margin: 0 0 20px 0;">
          <div class="gallery-item">
            <a
              href="https://static.mservice.io/blogscontents/momo-upload-api-200402010901-637213865415280160.jpg"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
              class=""
            >
              <div class="embed-responsive embed-responsive-16by9">
                <img
                  src="https://static.mservice.io/blogscontents/momo-upload-api-200402010901-637213865415280160.jpg"
                  class="embed-responsive-img"
                  alt=""
                />
              </div>
            </a>
          </div>
          <div class="gallery-item d-none d-lg-block">
            <a
              href="https://static.mservice.io/blogscontents/momo-upload-api-200402010928-637213865684402202.jpg"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
              class=""
            >
              <div class="embed-responsive embed-responsive-16by9">
                <img
                  src="https://static.mservice.io/blogscontents/momo-upload-api-200402010928-637213865684402202.jpg"
                  class="embed-responsive-img"
                  alt=""
                />
              </div>
            </a>
          </div>

          <div class="gallery-item d-none d-lg-block">
            <a
              href="https://static.mservice.io/blogscontents/momo-upload-api-200402011002-637213866026855900.jpg"
              data-fancybox="gallery1"
              data-options='{"loop":true}'
              data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
              class=""
            >
              <div class="embed-responsive embed-responsive-16by9">
                <img
                  src="https://static.mservice.io/blogscontents/momo-upload-api-200402011002-637213866026855900.jpg"
                  class="embed-responsive-img"
                  alt=""
                />
              </div>
            </a>
          </div>
          <div class="btn-gallery-container">
            <div class="container">
              <a
                href="https://static.mservice.io/img/momo-upload-api-200401174311-637213597912717846.jpg"
                data-fancybox="gallery1"
                data-options='{"loop":true}'
                data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
                class="btn btn-light btn-gallery btn-sm"
              >
                <img
                  alt=""
                  class="icon"
                  data-inject-svg
                  src="img/lp/images.svg"
                />
                Xem 5 hình
              </a>

              <a href="" class="btn btn-light btn-gallery btn-sm btn-share">
                <img
                  alt=""
                  class="icon"
                  data-inject-svg
                  src="img/lp/facebook-square.svg"
                />
                Chia sẽ
              </a>
            </div>
          </div>

          <!-- //Hinh load rieng them -->
          <a
            href="https://static.mservice.io/img/momo-upload-api-200401174311-637213597912717846.jpg"
            data-fancybox="gallery1"
            data-options='{"loop":true}'
            data-caption="Các sinh viên Trường Đại Học Y Hà Nội sẵn sàng cho cuộc chiến đầy cam go phía trước"
            class="hidden"
          >
          </a>

          <a
            href="https://static.mservice.io/blogscontents/momo-upload-api-200401165322-637213568025475879.jpg"
            data-fancybox="gallery1"
            data-options='{"loop":true}'
            data-caption="Giây phút tranh thủ chợp mắt của các bạn Sinh viên Trường Đại học Y Hà Nội"
            class="hidden"
          >
          </a>

          <a
            href="https://static.mservice.io/blogscontents/momo-upload-api-200402005133-637213854931769477.jpg"
            data-fancybox="gallery1"
            data-options='{"loop":true}'
            data-caption="Thế hệ Bác Sĩ tương lai của tổ quốc tiến lên với tinh thần “Khi tổ quốc cần!”"
            class="hidden"
          >
          </a>
        </div>

        <div class="row">
          <div class="col-lg-7 order-2 order-lg-1">
            <div class="pr-0 pr-lg-2">
              <div class="d-none d-lg-block">
                <h1 class="h2 detail-title">
                  Đồng lòng cùng Ủy Ban TW Mặt Trận Tổ Quốc Việt Nam
                </h1>

                <div class="campaign-sort">
                  Toàn bộ số tiền đóng góp sẽ được chuyển đến Ủy Ban Trung Ương
                  Mặt Trận Tổ Quốc Việt Nam và sử dụng vào việc ủng hộ các lực
                  lượng trực tiếp tham gia chống dịch.
                </div>
              </div>

              <h4 class="border-top pt-2 pt-lg-3 d-none d-lg-block">
                Thông tin
              </h4>
              <h4 class="pt-0 d-block d-lg-none">Thông tin</h4>
              <div class="baiviet-loadmore">
                <div class="campaign-body">
                  <div class="dona-post">
                    <p>
                      <strong
                        >BẠN QUYÊN GÓP BẰNG HEO VÀNG - MOMO SẼ QUY ĐỔI THÀNH
                        TIỀN MẶT ĐỀ ỦNG HỘ CÁC SV TRƯỜNG ĐH Y HÀ NỘI.</strong
                      >
                    </p>

                    <p>
                      Hàng trăm SV ngành Y đã tình nguyện xông pha nơi tuyến đầu
                      cuộc chiến chống Covid-19. Mỗi Heo Vàng Quyên góp sẽ tiếp
                      thêm sức mạnh và là lời động viên cho thế hệ bác sĩ tương
                      lai.
                    </p>

                    <p>
                      <img
                        alt=""
                        src="https://static.mservice.io/blogscontents/momo-upload-api-200404181250-637216207700133180.jpg"
                      />
                    </p>

                    <p class="">
                      Trong những ngày dịch bệnh diễn biến phức tạo, Thủ tướng
                      nói và nhấn mạnh, phải bảo toàn đội ngũ y tế để có sức
                      chiến đấu lâu dài trong mùa dịch.&nbsp;
                    </p>

                    <p>
                      Cũng trong chính thời khắc lịch sử này, cả nước đang chứng
                      kiến việc hàng trăm sinh viên Trường Đại học Y Hà Nội hăng
                      hái đăng ký tham gia ngay từ khi có phát động. &nbsp;
                    </p>

                    <p>
                      <img
                        alt=""
                        src="https://static.mservice.io/blogscontents/momo-upload-api-200402005133-637213854931769477.jpg"
                      />
                    </p>

                    <p style="text-align: center;">
                      <em
                        >Thế hệ Bác Sĩ tương lai của tổ quốc tiến lên với tinh
                        thần “Khi tổ quốc cần!”</em
                      >
                    </p>

                    <p>
                      Thế hệ y bác sĩ tương lai này đã tiến lên với tinh thần
                      “Khi Tổ quốc cần”. Hơn bao giờ hết đây là lúc thực hiện
                      lời thề Hippocrates cao cả và thể hiện trách nhiệm của
                      mình với cộng đồng, với xã hội. Khi xã hội cần, đất nước
                      cần, các thầy cô cần, ngành y tế cần… các bạn sinh viên
                      năm cuối - những sinh viên ưu tú của trường đã sẵn sàng
                      cho cuộc chiến đầy cam go ở phía trước.&nbsp;
                    </p>

                    <p>
                      <img
                        alt=""
                        src="https://static.mservice.io/blogscontents/momo-upload-api-200401165322-637213568025475879.jpg"
                      />
                    </p>

                    <p style="text-align: center;">
                      <em
                        >Giây phút tranh thủ chợp mắt của các bạn Sinh viên
                        Trường Đại học Y Hà Nội</em
                      >
                    </p>

                    <p>
                      <img
                        alt=""
                        src="https://static.mservice.io/blogscontents/momo-upload-api-200401165343-637213568239816463.jpg"
                      />
                    </p>

                    <p style="text-align: center;">
                      <em
                        >Ngay chính thời khắc này, các bạn Sinh viên đã thực
                        hiện lời thề Hippocrates cao cả và thể hiện trách nhiệm
                        của mình với cộng đồng, với xã hội</em
                      >
                    </p>

                    <div
                      style="
                        background: #eee;
                        border: 1px solid #ccc;
                        padding: 5px 10px;
                      "
                    >
                      <p><strong>VỀ “ĐIỀU NHỎ BÉ VĨ ĐẠI"&nbsp;</strong></p>

                      <p>
                        Những tháng qua, hàng chục ngàn Y Bác sĩ, điều dưỡng,
                        sinh viên tình nguyện các Trường ĐH Y trên cả nước đang
                        ngày đêm trực chiến nơi tuyến đầu chiến đấu chống lại
                        đại dịch Covid-19. Mồ hôi, nước mắt đã rơi, vô vàn hy
                        sinh thầm lặng không thể đo đếm của những
                        <strong>Chiến sĩ áo trắng!</strong>
                      </p>

                      <p>
                        “Điều nhỏ bé vĩ đại” của Ví điện tử MoMo phối hợp cùng
                        UB TW Mặt trận tổ quốc, Trường Đại học Y Hà Nội ra đời
                        với mong ước góp thêm ngọn lửa, tiếp thêm sức mạnh, ủng
                        hộ và động viên cho lực lượng tinh nhuệ tiên phong trong
                        cuộc chiến chống Covid-19 vững tâm vượt qua đại dịch.
                        Toàn bộ số tiền đóng góp sẽ được sử dụng vào việc ủng hộ
                        các lực lượng trực tiếp tham gia chống dịch.&nbsp;
                      </p>

                      <p>
                        Cùng MoMo chọn
                        <strong>Sống khoẻ - Sống tốt – Sống thông minh</strong>,
                        để mỗi hành động nhỏ bé của bạn trở thành nguồn động
                        lực, sự đóng góp lớn lao về cả vật chất lẫn tinh thần
                        cho các Chiến sĩ áo trắng ở đầu chiến tuyến!
                      </p>

                      <p>
                        Xem thêm tại:
                        <a
                          class="external"
                          href="momo://?refId=browser|https://momo.vn/dieunhobevidai"
                          >https://momo.vn/dieunhobevidai&nbsp;</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="row no-gutters border-top pt-3 pt-lg-3 mt-4 mb-3 align-items-center"
              >
                <div class="col">
                  <h4 class="m-0">Lời nhắn</h4>
                </div>
                <div class="col-auto">
                  <a
                    href=""
                    class="btn btn-outline-primary-2 btn-sm font-weight-bold"
                    data-toggle="modal"
                    data-target="#modal-donation-message"
                    >Xem tất cả</a
                  >
                </div>
              </div>

              <div class="message-container">
                <div class="swiper-container swiper-message2">
                  <div class="swiper-wrapper">
                    {% for item in range(0,5) %}
                    <div class="swiper-slide">
                      <div class="message-item">
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="campaign-people-avatar is-pink">
                              TV
                            </div>
                          </div>
                          <div class="col">
                            <div class="message-item-name">
                              Trương Thị Việt
                            </div>
                          </div>
                        </div>

                        <div class="message-item-content">
                          <div class="message-item-txt">
                            Tiêu diệt Covid-19 zo zo zo
                          </div>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                  <!-- Add Pagination -->
                </div>
              </div>

              <div
                class="row no-gutters border-top pt-3 pt-lg-3 mt-4 mb-3 align-items-center"
              >
                <div class="col">
                  <h4 class="m-0">Danh sách nhà hảo tâm</h4>
                </div>
                <div class="col-auto">
                  <a
                    href=""
                    class="btn btn-outline-primary-2 btn-sm font-weight-bold"
                    data-toggle="modal"
                    data-target="#modal-donation-list"
                    >Xem tất cả</a
                  >
                </div>
              </div>

              <div class="card">
                <div class="card-body py-0 px-3">
                  <div class="campaign-people-list">
                    {% for item in range(0,8) %}
                    <div class="campaign-people-item">
                      <div class="campaign-people-avatar">
                        ND
                      </div>

                      <div class="campaign-people-info">
                        <div class="campaign-people-name">
                          Nguyễn Văn D
                        </div>
                        <div class="campaign-people-phone">
                          *******434
                        </div>
                      </div>

                      <div class="campaign-people-money">
                        5000đ
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 widget-donation-container">
            <div class="d-block d-lg-none">
              <h1 class="h2 detail-title text-primary-2">
                Đồng lòng cùng Ủy Ban TW Mặt Trận Tổ Quốc Việt Nam
              </h1>

              <div class="campaign-sort">
                Toàn bộ số tiền đóng góp sẽ được chuyển đến Ủy Ban Trung Ương
                Mặt Trận Tổ Quốc Việt Nam và sử dụng vào việc ủng hộ các lực
                lượng trực tiếp tham gia chống dịch.
              </div>
            </div>

            <div class="widget-donation-sticky">
              <div class="widget-donation">
                <div class="row no-gutters align-items-end">
                  <div class="col">
                    <div class="campaign-money">
                      <strong class="value">153.807.469đ </strong>
                      được quyên góp
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="campaign-money pl-2">
                      300.000.000đ
                    </div>
                  </div>
                </div>

                <div class="campaign-progress">
                  <div class="progress" style="height: 8px;">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 25%;"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="campaign-status">
                  <div class="campaign-status-item flex-grow-1">
                    <div class="campaign-status-label">
                      Lượt quyên góp
                    </div>

                    <div class="campaign-status-value">
                      61.808
                    </div>
                  </div>

                  <div class="campaign-status-item flex-grow-1">
                    <div class="campaign-status-label">
                      Đạt được
                    </div>

                    <div class="campaign-status-value">
                      26,7%
                    </div>
                  </div>

                  <div class="campaign-status-item flex-grow-1">
                    <div class="campaign-status-label">
                      Thời hạn còn
                    </div>

                    <div class="campaign-status-value">
                      26 ngày
                    </div>
                  </div>
                </div>

                <div class="row align-items-end no-gutters mt-4">
                  <div class="col-auto d-none">
                    <div class="d-none d-lg-block">
                      <img
                        src="	https://static.mservice.io/images/s/momo-upload-api-200331152848-637212653280019313.jpeg"
                        class="img-fluid d-block"
                        width="100"
                        alt=""
                      />
                      <div class="mt-2 text-small">
                        Quét mã để Quyên góp
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="campaign-cta">
                      <div class="">
                        <!-- <div class="d-block d-lg-none">
                          <a
                            href=""
                            class="btn btn-block btn-primary-3 font-weight-bold"
                          >
                            QUYÊN GÓP</a
                          >
                        </div> -->

                        <div class="d-none d-lg-block">
                          <a
                            href=""
                            class="btn btn-block btn-primary-3 font-weight-bold"
                            data-toggle="modal"
                            data-target="#modal-huongdan"
                            >HƯỚNG DẪN QUYÊN GÓP</a
                          >
                        </div>
                      </div>

                      <div class="mt-2 d-none d-lg-block">
                        <button
                          role="button"
                          class="btn btn-block btn-outline-dark font-weight-bold"
                          data-container="body"
                          data-toggle="popover"
                          data-placement="bottom"
                          data-html="true"
                          tabindex="0"
                          data-content='<img src="https://static.mservice.io/img/momo-upload-api-200403134853-637215185338434267.png" width="200" alt="">'
                        >
                          <img src="img/lp/qr-code.svg" width="20" alt="" />
                          QUÉT MÃ QR CODE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="">
                <h4 class="mt-4 pt-lg-3">Những nhà hảo tâm hàng đầu</h4>
                <div class="card">
                  <div class="card-body py-0 px-3">
                    <div class="campaign-people">
                      <div class="campaign-people-list">
                        <div class="campaign-people-item">
                          <div class="campaign-people-avatar is-image">
                            <img src="img/lp/v1.svg" width="28" alt="" />
                          </div>

                          <div class="campaign-people-info">
                            <div class="campaign-people-name">
                              Nguyễn Văn D
                            </div>
                            <div class="campaign-people-phone">
                              *******434
                            </div>
                          </div>

                          <div class="campaign-people-money">
                            2444
                            <img
                              src="img/lp/heo-icon.svg"
                              class="icon-heovang"
                              width="24"
                              alt=""
                            />
                          </div>
                        </div>

                        <div class="campaign-people-item">
                          <div class="campaign-people-avatar is-image">
                            <img src="img/lp/v2.svg" width="28" alt="" />
                          </div>

                          <div class="campaign-people-info">
                            <div class="campaign-people-name">
                              Nguyễn Văn D
                            </div>
                            <div class="campaign-people-phone">
                              *******434
                            </div>
                          </div>

                          <div class="campaign-people-money">
                            2004
                            <img
                              src="img/lp/heo-icon.svg"
                              class="icon-heovang"
                              width="24"
                              alt=""
                            />
                          </div>
                        </div>

                        <div class="campaign-people-item">
                          <div class="campaign-people-avatar is-image">
                            <img src="img/lp/v3.svg" width="28" alt="" />
                          </div>

                          <div class="campaign-people-info">
                            <div class="campaign-people-name">
                              Nguyễn Văn D
                            </div>
                            <div class="campaign-people-phone">
                              *******434
                            </div>
                          </div>

                          <div class="campaign-people-money">
                            1244
                            <img
                              src="img/lp/heo-icon.svg"
                              class="icon-heovang"
                              width="24"
                              alt=""
                            />
                          </div>
                        </div>
                        {% for item in range(0,3) %}
                        <div class="campaign-people-item">
                          <div class="campaign-people-avatar">
                            4
                          </div>

                          <div class="campaign-people-info">
                            <div class="campaign-people-name">
                              Nguyễn Văn D
                            </div>
                            <div class="campaign-people-phone">
                              *******434
                            </div>
                          </div>

                          <div class="campaign-people-money">
                            5000đ
                          </div>
                        </div>

                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex d-md-none">
        <a href="" class="btn btn-block btn-primary-3 font-weight-bold">QUYÊN GÓP</a>
      </div>
    </div>
  </div>
</div>
