<section class="bg-light o-hidden" id="danang">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="h2 text-primary-3 mb-1 mb-lg-2 text-center">
          Bạn thanh toán bằng MoMo

          <br />

          Chúng tôi quyên góp cho Đà Nẵng!
        </h2>

        <p class="text-center mb-3 mb-lg-4">
          Mỗi người dùng thanh toán hóa đơn, dịch vụ công, Data 3G/ 4G... MoMo
          xin góp 100 đồng để quyên góp cho chiến dịch
          <b> "Chung tay cùng Đà Nẵng"</b>. Số tiền quyên góp ước tính trên 100
          triệu đồng (15/08 - 15/09).
        </p>
      </div>
    </div>

    <div class="">
      <div class="swiper-container swiper-tab-tinhnang">
        <ul class="swiper-wrapper nav" id="myTab" role="tablist">
          <li class="swiper-slide">
            <a
              class="food-tab-link active"
              id="home-tab-1"
              data-toggle="tab"
              href="#why-1"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img
                    src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-02.svg"
                    alt="Thanh toán hoá đơn"
                  />
                </div>
                <div class="food-tab-name">
                  Thanh toán <br />
                  hóa đơn
                </div>
              </div>
            </a>
          </li>

          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-2"
              data-toggle="tab"
              href="#why-2"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img
                    src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-04.svg"
                    alt="Dịch vụ công"
                  />
                </div>
                <div class="food-tab-name">Dịch vụ công</div>
              </div>
            </a>
          </li>

          <li class="swiper-slide">
            <a
              class="food-tab-link"
              id="home-tab-3"
              data-toggle="tab"
              href="#why-3"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              <div class="food-tab-item">
                <div class="food-tab-icon">
                  <img
                    src="https://static.mservice.io/jk/nhobevidai/img/why/icon/icon-a-09.svg"
                    alt=" Nạp tiền ĐT, mua mã data"
                  />
                </div>
                <div class="food-tab-name">
                  Nạp tiền ĐT, mua mã data
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content tinhnang-tab-content shadow-sm" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="why-1"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="hashtag-momo">
                          <span>MoMo_Vì_Đà_Nẵng</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="https://static.mservice.io/jk/nhobevidai/img/chiase.svg"
                              width="80"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      THANH TOÁN HÓA ĐƠN NHẸ TƠN KHI LƯỚT MOMO
                    </h5>

                    <div class="tinhnang-loadmore">
                      <p>
                        MoMo giúp bạn thanh toán nhanh chóng mọi hóa đơn hằng tháng như: điện, nước, truyền hình, internet, chung cư, di động trả sau… 
                      </p>
                      <p>
                        Với hệ thống đối tác trải dài khắp 64 tỉnh/thành trên lãnh thổ Việt Nam, bạn có thể xử lý kì cước ở bất kì nơi đâu, chỉ qua vài cái lướt tay cùng MoMo.

                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="	https://static.mservice.io/images/s/momo-upload-api-200817110354-637332590345906029.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-2"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="hashtag-momo">
                          <span>MoMo_Vì_Đà_Nẵng</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="https://static.mservice.io/jk/nhobevidai/img/chiase.svg"
                              width="80"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      KÊNH THANH TOÁN CHÍNH THỨC CỦA CỔNG DỊCH VỤ CÔNG QUỐC GIA
                    </h5>
                    <div class="tinhnang-loadmore">
                      <p>
                        MoMo tiên phong đồng hành cùng Chính phủ trở thanh kênh thanh toán điện tử của Cổng Dịch vụ công Quốc gia (dichvucong.gov.vn). 
                      </p>
                      <p>
                        Giờ đây, chỉ cần chạm MoMo hàng triệu người dùng đã có thể hoàn tất thủ tục nộp phí, lệ phí hành chính nhanh chóng, tinh gọn và hiện đại nhất.

                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="https://static.mservice.io/images/s/momo-upload-api-200817110336-637332590167253482.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="why-3"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="card border-0 bg-transparent">
            <div class="card-body p-0">
              <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                  <div class="mb-3 mb-md-0" data-aos="fade-right">
                    <div class="row flex-nowrap align-items-center mb-3">
                      <div class="col">
                        <div class="hashtag-momo">
                          <span>MoMo_Vì_Đà_Nẵng</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div>
                          <a href="">
                            <img
                              src="https://static.mservice.io/jk/nhobevidai/img/chiase.svg"
                              width="80"
                              class="img-fluid"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <h5 class="mt-2 mt-md-0">
                      CHẠM MOMO LÀ CÓ DATA, THẢ GA KẾT NỐI
                    </h5>

                    <div class="tinhnang-loadmore">
                      <p>
                        Không ngại thiếu wifi, chỉ cần lướt tay MoMo bạn đã có
                        ngay data 3G/4G cực mạnh.
                      </p>
                      <p>
                        Kết nối internet mọi lúc, mọi nơi trong nháy mắt với
                        nhiều gói dung lượng đa dạng từ ba nhà mạng Viettel,
                        MobiFone và Vinaphone.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-6 col-lg-6 mb-4 mb-md-0"
                  data-aos="fade-left"
                >
                  <img
                    src="https://static.mservice.io/images/s/momo-upload-api-200817110403-637332590439045260.jpg"
                    alt="Screenshot"
                    class="img-fluid rounded border"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
